
<div class="modal-box-container">
    <div class="module-contact-form main-form" data-is-cq="{{hbs.contactForm.isCQ}}" data-confirmtitle="{{ i18n hbs.contactForm.cancelDialogTitle }}">
        <div class="row">
            <div class="col-md-12">
                <h1 class="primary-head desktop-only">{{ hbs.contactForm.title}}</h1>
                <h1 class="primary-head mobile-only">{{ hbs.contactForm.shortTitle}}</h1>
                <h1 class="confirmPopUpHeading"></h1>
                <p class="description desktop-only">{{ hbs.contactForm.description }}</p>
                <p class="description mobile-only">{{ hbs.contactForm.shortDescription }}</p>

                <p class="pcf-required">{{ i18n hbs.contactForm.requiredLabel }}</p>
            </div>
            <!--confirmation pop up start-->
            <div class="col-md-12 contact-info form-step steps contactconf-nav" id="contactFormConfirmBox">
                <p>{{ i18n hbs.contactForm.cancelDialogDesc1 }}</p>
                <p>{{ i18n hbs.contactForm.cancelDialogDesc2 }}</p>
                <div class="confirm-block">
                    <div class="pull-left" id="rfpMobileConfirm">
                        <span class="icon-chevron-left contactCancel"></span><a href="javascript:void(0);" class="contactCancel">{{ i18n hbs.contactForm.cancelDialogBack }}</a>
                    </div>
                    <div class="pull-right">
                        <span class="icon-close" id="removeContactForm" data-dismiss="modal"></span><a href="javascript:void(0);" class="removeContactForm" data-dismiss="modal">{{ i18n hbs.contactForm.cancelDialogContinue }}</a>
                    </div>
                </div>
            </div>
            <!--confirmation pop up end-->
    </div>

    <form action="{{ hbs.contactForm.send.url }}" role="form" method="POST" class="pcf-form" id="contactForm">
       <div class="row form-group err-msg-area clearfix" aria-hidden="true">
        <div class="col-md-2 align-left">
            <span class="icon-warning"></span>
        </div>
        <div class="col-md-10">
            <h3 class="tertiary-head">{{ i18n hbs.contactForm.sorry }}</h3>
            <p>{{ i18n hbs.contactForm.checkFollowingFields }}</p>
            <ul class="err-msg"></ul>
        </div>
    </div>
    <div class="form-group row contact-form-inquiry">
        <div class="col-md-12 custom-select custom-class-name">
            <label for="inquiry" class="sr-only" data-original-label="{{ i18n hbs.contactForm.inquiry.errorMsgLabel }}">{{ i18n hbs.contactForm.inquiry.label }}</label>
            <select required data-errormessage-value-missing="{{ i18n hbs.contactForm.inquiry.errorMsg }}"  class="form-control full-width" id="inquiry" name="inquiry" >
                <option value="" selected>{{ i18n hbs.contactForm.inquiry.label }}</option>
                {{#each hbs.contactForm.inquiry.content}}
                <option value="{{ this.value }}">{{ this.name }}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group row contact-form-location">
        <div class="col-md-12 custom-select">
            <label for="locations" class="sr-only" data-original-label="{{ i18n hbs.contactForm.locations.errorMsgLabel }}">{{ i18n hbs.contactForm.locations.label }}</label>
            <select required data-errormessage-value-missing="{{ i18n hbs.contactForm.locations.errorMsg }}" class="form-control full-width" id="locations" name="locations" aria-describedby="locationsHelpBlock">
                <option value="">{{ i18n hbs.contactForm.locations.label }}</option>
                {{#each hbs.contactForm.locations.content}}
                <option value="{{ this.value }}">{{ this.name }}</option>
                {{/each}}
            </select>
        </div>
        <p class="help-block col-md-12" id="locationsHelpBlock">{{ i18n hbs.contactForm.locations.helpMessage }}</p>
    </div>
    <div class="form-group row contact-form-message colalign">
        <div class="col-md-12">
            <span class="icon-person"></span>
            <label for="name" class="sr-only" data-original-label="{{ i18n hbs.contactForm.name.errorMsgLabel }}">{{ i18n hbs.contactForm.name.label }}</label>
            <input required type="text" data-errormessage-value-missing="{{ i18n hbs.contactForm.name.errorMsg }}"   class="form-control" name="name" id="name"  placeholder="{{ i18n hbs.contactForm.name.label }}" maxlength="100" />
        </div>
    </div>
    <div class="form-group row colalign">
        <div class="col-md-12">
            <span class="icon-email"></span>
            <label for="email" class="sr-only" data-original-label="{{ i18n hbs.contactForm.email.errorMsgLabel }}">{{ i18n hbs.contactForm.email.label }}</label>

            <input required data-errormessage-custom-error="{{ i18n hbs.contactForm.email.errorMsg  }}" data-errormessage-value-missing="{{ i18n hbs.contactForm.email.errorMsg  }}" type="email" class="form-control" name="email" id="email" placeholder="{{ i18n hbs.contactForm.email.label }}"  maxlength="100" aria-describedby="emailHelpBlock" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+"  />
            <p class="help-block" id="emailHelpBlock">{{ i18n hbs.contactForm.email.helpMessage }}</p>
        </div>
    </div>
    <div class="form-group row contact-form-message">
        <div class="col-md-12">
            <span class="icon-phone"></span>
            <label for="phone" class="sr-only" data-original-label="{{ i18n hbs.contactForm.phone.errorMsgLabel }}">{{ i18n hbs.contactForm.phone.label }}</label>
            <input  type="tel" class="form-control" name="phone" id="phone" maxlength="50" placeholder="{{ i18n hbs.contactForm.phone.label }}" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <span class="icon-building"></span>
            <label for="company" class="sr-only" data-original-label="{{ i18n hbs.contactForm.organization.errorMsgLabel }}">{{ i18n hbs.contactForm.organization.label }}</label>
            <input type="text" class="form-control" maxlength="100" name="company" id="company" placeholder="{{ i18n hbs.contactForm.organization.label }}" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <span class="icon-briefcase"></span>
            <label for="role" class="sr-only" data-original-label="{{ i18n hbs.contactForm.role.errorMsgLabel }}">{{ i18n hbs.contactForm.role.label }}</label>
            <input type="text" class="form-control" maxlength="100" name="role" id="role" placeholder="{{ i18n hbs.contactForm.role.label }}" />
        </div>
    </div>
    <div class="form-group row colalign">
        <div class="col-md-12">
            <label for="message" class="sr-only" data-original-label="{{ i18n hbs.contactForm.message.errorMsgLabel }}">{{ i18n hbs.contactForm.message.label }}</label>
            <div class="textarea-content">
                <span class="icon-message"></span>
                <textarea data-max-allowed-char="5000" required data-errormessage-value-missing="{{ i18n hbs.contactForm.message.errorMsg }}" class="form-control" name="message" id="message" placeholder="{{ i18n hbs.contactForm.message.label }}" aria-describedby="messageHelpBlock"></textarea>
            </div>
            <p class="msgCharLeft">{{i18n hbs.contactForm.remainingCharLabel}} <span class="count">5000</span></p>
            <p class="help-block" id="messageHelpBlock">{{ i18n hbs.contactForm.message.helpMessage }}</p>
        </div>
    </div>
    <div class="form-group row colalign">
        <div class="checkbox terms">
            <a href="javascript:void(0);" class="contact-tab-entry no-highlight"></a>
            <input required data-errormessage-value-missing="{{ i18n hbs.contactForm.privacyPolicy.errorMsg }}"  type="checkbox" name="terms" id="terms" value="yes" />
            <label class="contact-checkbox" for="terms" data-original-label="{{ i18n hbs.contactForm.privacyPolicy.helpMessage }}" data-original-value-missing="{{ i18n hbs.contactForm.privacyPolicy.errorMsgLabel }}" >
                {{#if hbs.contactForm.privacyStatement}}
                {{{hbs.contactForm.privacyStatement}}}
                <div class="outer-shape">
                    <div class="right-arrow"></div>
                    <div class="left-box">{{ i18n hbs.contactForm.required }}</div>
                </div>
                {{else}}
                <p>{{ i18n hbs.contactForm.privacyPolicy.helpMessage}}&nbsp;<a class="privacy" id="privacyPolicyGC" href="{{ hbs.contactForm.privacyPolicy.url }}" target="_blank">
                    {{ i18n hbs.contactForm.privacyPolicy.label }}
                    </a>
                </p>
                <div class="outer-shape">
                    <div class="right-arrow"></div>
                    <div class="left-box">{{ i18n hbs.contactForm.required }}</div>
                </div>
            {{/if}}
        </label>
    </div>
</div>

<div class="row">
     <div id="recaptchaOverlay-gc">
    </div>
    <div class="btn-cta d-block mr-0 ml-auto mt-18px" >
    <button type="submit" class="btn-cta"  id="submit">

    <span class="icon-chevron-right submit-chevron"></span><span class="btn-copy">{{ i18n hbs.contactForm.send.label }}</span>
    </button>
    </div>
</div>

<input type="hidden" name="_charset_" value="UTF-8"/>
</form>
</div>

<div class="module-contact-form hide form-receipt" id="formReceipt">
</div>
</div>
