@import "../../basicpagetitle/css/basicpagetitle";
@import "../../share/css/share";
@import "../../featuredtopics/css/featuredtopics";
@import "../../featuredarticles/css/featuredarticles";
@import "../../trendinglist/css/trendinglist";
@import "../../enhanceddownload/css/enhanceddownload";
@import "../../emptyplaceholder/css/emptyplaceholder";
@import "../../subheading/css/subheading";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../resultlistingb/css/resultlistingb";
@import "../../listing/css/listing";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../image/css/image";
@import "../../fullbleedbanner/css/fullbleedbanner";

.module-tmpl-insights {
	.module-mykpmgpromo .mykpmgpromo-desc {
		padding-left: 0 !important;
    }

    .parsys-row {
        border-bottom: 0 none;
    }
}
.ui-widget-content {
    background: @white;
    border: 1px solid @gray-80;
    color: @gray-20;
}
