@import "../../global/css/_variables.less";
.template {
    .module-imagegallery.component {
        padding-bottom: 0;
    }
}
.module-imagegallery {
    .col-md-6 {
        min-width: inherit;
    }
    background: transparent;
    .tertiary-head {
        .component-title(@kpmg-blue);
        margin: 0 10px 10px;
    }
    .col-md-3 {
        min-width: 25%;
        position: relative;
        border-bottom:9px solid @gray-94;
    }

    .item {
        width: 100%;
        /* position: relative; */
        padding: 10px;
        background-color: @white;
        /* margin-bottom: 18px; */
    }
    .col-md-3 .item {
        //min-height: 386px;
    }
    .col-md-6 .item {
        //min-height: 642px;
    }
    .item-info {
        .item-header {
            .promo-title(@kpmg-blue);
            margin: 8px 0px;
            .hyphen;
            &:hover {
                text-decoration: underline;
            }
        }
        .item-description {
            .promo-details(@gray-20);
            .hyphen;
        }
    }
    .component-link {
        .promo-title(@gray-40);
        .hyphen;
    }

    .primary-cta-space {
        .promo-title(@gray-40);
        margin: 12px 0 0 0;
    }

    .download-container {
        /* margin: 12px 0px 0px 0px; */
        position: absolute;
        bottom: 10px;

        .icon-download {
            color: @light-green;
            .font-size(1.6);
            position: relative;
            margin-right: 6px;
        }
        .download-label {
            .promo-title(@gray-40);
        }
        .download-size {
            .file-size(@gray-40);
        }
        .file-type {
            .promo-title(@gray-40);
            text-transform: uppercase;
        }

    }
    .download-container{
        a:hover {
            text-decoration: underline;
            color: @gray-40;
        }
        span:hover{
            text-decoration: none;
        }
    }
    .load-more-link {
        position: relative;
        width: 100%;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
    .component-link.btn-more {
        &:hover {
            text-decoration: underline;
        }
    }
    .alignCenter{
        text-align:center;
    }
    .see-all-blk {
        padding: 10px 0;
        .icon-chevron-right {
            color: @light-green;
        }
        .pull-right {
            padding-right: 10px;
        }
    }
    .load-more-link .icon-add {
        margin: 0px;
        color: @light-green;
        .font-size(1.6);
        position: relative;
        top: 1px;
    }
    .gallery .row {
        border: none;
    }
    .gallery .row:last-child {
        margin-bottom: 0;
    }
}
.modal-container-image-quick-view {
    .modal-dialog {
        width: 800px;
    }
}
.module-imageoverlay {
    .gallery-header {
        .component-title(@kpmg-blue);
        margin: 0 0 10px 0;
    }
    .shown-data,
    .shown-data-mobile {
        height: 217px;
        display: none;
    }
    .shown-data-mobile {
        display: block;
    }
    .shown-data .item-header,
    .shown-data-mobile .item-header {
        .promo-title(@kpmg-blue);
        margin: 8px 0px;
       .hyphen;
    }
    .carousel-copy-text {
        .promo-details(@kpmg-blue);
        margin: 7px 0px;
    }
    .shown-data .item-description,
    .shown-data-mobile .item-description {
        .promo-description(@gray-20);
        margin: 7px 0px 12px 0px;
    }
    .shown-data .icon-download,
    .shown-data-mobile .icon-download {
        color: @light-green;
        .font-size(1.6);
        position: relative;
        margin-right: 6px;
    }
    .shown-data a.item-download,
    .shown-data-mobile a.item-download {
        .promo-title(@gray-40);
        margin-left:1px;
    }

    .shown-data a.item-download:hover {
        text-decoration: underline;
    }
    .share-container a.share-component .component-link:hover {
        text-decoration: underline;
    }
    .shown-data .share-container,
    .shown-data-mobile .share-container {
        margin: 12px 0px 0px 0px;
    }
    p.copyright {
        .disclaimer-copyright;
        padding: 0px;
    }
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    background: transparent;
    /* Frame */

    .frame {
        height: 250px;
        line-height: 250px;
        overflow: hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .frame ul li {
        margin-left: 10px;
        float: left;
        width: 100%;
        height: auto;
        padding: 0;
        color: #ddd;
        text-align: center;
        cursor: default;
    }
    /* Scrollbar */

    .scrollbar {
        height: 2px;
        background: @gray-80;
        line-height: 0;
        display: none;
    }
    .scrollbar .handle {
        width: 100px;
        height: 100%;
        background: @gray-87;
        cursor: pointer;
    }
    .scrollbar .handle .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
    }
    /* Pages */

    .pages {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }
    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    }
    .pages li:hover {
        background: #aaa;
    }
    .pages li.active {
        background: @gray-40;
    }
    /* Controls */

    .controls {
        margin: 25px 0;
        text-align: center;
    }
    /* One Item Per Frame example*/

    .oneperframe {
        height: 300px;
        line-height: 300px;
    }
    .oneperframe ul li {
        width: 1140px;
    }
    .oneperframe ul li.active {
        background: @gray-20;
    }
    /* Crazy example */

    .crazy ul li:nth-child(2n) {
        width: 100px;
        margin: 0 4px 0 20px;
    }
    .crazy ul li:nth-child(3n) {
        width: 300px;
        margin: 0 10px 0 5px;
    }
    .crazy ul li:nth-child(4n) {
        width: 400px;
        margin: 0 30px 0 2px;
    }
    .frame {
        line-height: 150%;
        height: auto;
    }
    .frame ul {
        .font-size(1.4);
        background: @gray-96;
        margin:0 5px;
    }
    .frame ul li img {
        width: 90px;
        height: 90px;
        margin: 10px 0 10px 0;
    }
    .frame ul li:last-child {
        margin-left: 5px;
        margin-right: -10px;
    }
    .scrollbar,
    .mousearea,
    .handle {
        height: 5px !important;
        border-radius: 5px;
    }
    .scrollbar {
        background: @gray-87;
    }
    .mousearea
	{
        background: fade(@pale-blue, 100%) !important;
        &:hover {
            background: fade(@medium-blue, 60%) !important;
        }
    }
    .scrollbar .handle .mousearea {
        top: 0;
    }
    .controls {
        margin: 0;
    }
    .carousel-container {
        position: relative;
        width: 100%;
        padding: 0;
        //margin-bottom: 30px;
        background-color: @gray-96;
    }
    span.icon-carousel-left,
    span.icon-carousel-right {
        .font-size(4.0);
        margin-top: 0;
        opacity: 0.4;
        background: @white;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        top: calc(50% - 4.0rem / 2);
        position: absolute;
        color: @light-purple;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        }
    }
    span.icon-carousel-left {
        left: 0px;
    }
    span.icon-carousel-right {
        right: 0px;
    }
    .item {
        color: @gray-20;
        display: inline-block;
        text-align: left;
        text-decoration: none;
        height: auto;
    }
    .hidden-data {
        display: none;
    }
    .item-image {
        width: 100%;
        display: none;
    }
    .prevPage.disabled,
    .nextPage.disabled {
        display: none;
    }
    .share-container .icon-share-component {
        .font-size(1.4);
        color: @light-green;
        margin-right: 6px;
        position: relative;
        top: 2px;
    }
    .share-container a.share-component {
        cursor: pointer;
        margin: 1px;
    }
    .share-container a.share-component .component-link {
        .promo-title(@gray-40);
    }
}
@media (min-width: @desktop-min-fixed) {
    .template {
        .module-imagegallery.component {
            padding-bottom: 40px;
        }
    }
    .module-imagegallery {

        .item {
            a {
                display: inline-block;
            }
            //margin-bottom:0px;
        }
        .load-more-link {
            //margin-top:9px;
             &:hover{
                 .icon-add{
                     color: @light-green;
                 }
             }
        }
        .load-more-link:focus {
            .cta-focus(@gray-40);
            .btn-more {
                text-decoration: underline;
            }
        }
        .btn-modal {
            cursor: pointer;
        }
    }
    .module-imageoverlay {
        position: relative;
        padding: 0px !important;
        .col-md-7 {
            width: 57.5% !important;
        }
        .low-pad {
            padding: 0px !important;
        }
        .left-pad {
            padding: 0px 10px 0px 0px !important;
        }
        .shown-data {
            display: block;
            margin-bottom: 60px;
            .file-type {
                .promo-title(@gray-40);
                text-transform: uppercase;
            }
            .download-size{
                .file-size(@gray-40);
            }
        }
        .shown-data-mobile {
            display: none;
        }
        /* Scrollbar */

        .scrollbar {
            display: block;
        }
        .frame ul li {
/*            margin-right: 10px;*/
        }
        .controls {
            margin: 0;
        }
        .carousel-container {
            //padding: 10px 0px 10px 10px;
            //margin-bottom: 70px;
        }
        span.icon-carousel-left,
        span.icon-carousel-right {
            top: 35px;
        }
        .hidden-data {
            display: none;
        }
        .item-image {
            display: block;
        }
        #overlay-gallery {
            a {
                display: inline-block;
            }
            li:hover {
                img {
                    box-shadow: 0 0 3px @kpmg-blue;
                    outline: 1px solid @kpmg-blue-transparent;
                }
            }
            a.focusOutline {
                box-shadow: none;
                outline: none;
                img {
                    box-shadow: 0 0 3px @kpmg-blue;
                    outline: 1px solid @kpmg-blue-transparent;
                }
            }
        }
    }
}