<div class="module-tmpl-ddt-landing bs4">
    <!-- FULL BLEED BANNER COMPONENT -->
    {{
      include "ddtfullbleedbanner"
      resourceType="/apps/kpmgpublic/components/global/ddtfullbleedbanner"
    }}
    <!-- LATEST THINKING -->
    {{
        include "latestThinking"
        resourceType="/apps/kpmgpublic/components/global/latestthinking"
    }}

    <!-- Overview Panel -->
    {{
        include "overviewpanel"
        resourceType="/apps/kpmgpublic/components/global/overviewpanel"
    }}

    <!-- Trio Feature -->
    {{
        include "triocomponent"
        resourceType="/apps/kpmgpublic/components/global/triocomponent"
    }}

    <!-- Global Leadership-->
    {{
        include "globalleadership"
        resourceType="/apps/kpmgpublic/components/global/globalleadership"
    }}

</div>

<script>
    (function () {
        var placeholderImages = document.getElementsByClassName('img-placeholder');
        //
        for (i in placeholderImages) {
            var image,
                scale;
            image = placeholderImages[i];
            scale = (image && image.getAttribute)
                ? image.getAttribute('data-scale')
                : undefined;
            image.height = (image.width / (
                scale
                    ? scale.split(':')[1]
                    : 3
            ));
        }
    })();
</script>