<div class="navflyout-wrapper">
    <section class="module-navflyouta flyout" personalize="{{hbs.flyoutnavigation.personalized}}" {{#if hbs.flyoutnavigation.personalized}}hidden{{/if}} no-of-results-required="{{hbs.flyoutnavigation.numberOfContents}}">

        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyouta-background navflyouta-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
                            <li class="navflyouta-group-item"><a class="navflyouta-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="extra-padding">{{hbs.flyoutnavigation.pathIdentifier}}</div>
                        {{#if hbs.flyoutnavigation.allLabelLink}}
                        <div class="all-label pull-right-align">
                            <span class="icon-chevron-right pull-left"></span>
                            <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="all-label btn-cta">
                                <span class="navflyouta-uppercase">{{hbs.flyoutnavigation.pathIdentifier}}</span>
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyouta-background navflyouta-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellTwoLinksDetail}}
                            <li class="navflyouta-group-item"><a  class="navflyouta-list navflyout-clamp" href="{{this.cellTwoUrl}}">{{this.cellTwoLabel}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="extra-padding">{{hbs.flyoutnavigation.cellTwoPathIdentifier}}</div>
                        {{#if hbs.flyoutnavigation.cellTwoLabelLink}}
                        <div class="all-label pull-right-align">
                            <span class="icon-chevron-right pull-left"></span>
                            <a href="{{hbs.flyoutnavigation.cellTwoLabelLink}}" class="all-label btn-cta">
                                <span class="navflyouta-uppercase">{{hbs.flyoutnavigation.cellTwoPathIdentifier}}</span>
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top">
                    <a class="cell-hover" href="{{hbs.flyoutnavigation.cellThreeFeaturedItemUrl}}" title="{{hbs.flyoutnavigation.cellThreeFeaturedItemAltText}}">
                        <div class="navflyouta-feature-link navflyouta-background">
                        {{#with hbs.flyoutnavigation}}
                            {{#if this.imageConfigExists}}
                            <div data-picture data-alt='{{hbs.cellThreeFeaturedItemAltText}}'>
                                {{#this.imageConfig}}
                                <div data-src="{{hbs.globalValues.assetDomainName}}{{../cellThreeFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div>
                                {{#if @last}}
                                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                                {{/if}}
                                {{/this.imageConfig}}

                            </div>
                            {{else}}
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" alt="{{hbs.cellThreeFeaturedItemAltText}}" class="lazy img-responsive" data-desktop="{{hbs.globalValues.assetDomainName}}{{this.cellThreeFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.237.158.jpg" />
                            {{/if}}
                        <div>
                            <h3 class="navflyouta-heading line-clamp line-clamp-2">{{this.cellThreeFeaturedItemHeading}}</h3>
                            <p class="navflyouta-description line-clamp line-clamp-5">{{this.cellThreeFeaturedItemDescription}}</p>
                        </div>
                        {{/with}}
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row navflyouta-hr">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <ul class="mob-secondary-menu">
            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
            <li class="navflyouta-group-item"><a class="navflyouta-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
            {{/each}}
            {{#each hbs.flyoutnavigation.cellTwoLinksDetail}}
            <li class="navflyouta-group-item"><a class="navflyouta-list  navflyout-clamp" href="{{this.cellTwoUrl}}">{{this.cellTwoLabel}}</a></li>
            {{/each}}
            {{#if hbs.flyoutnavigation.allLabelLink}}
            <li class="navflyouta-group-item">
                <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="navflyouta-list  navflyout-clamp highlight-all">
                    {{hbs.flyoutnavigation.pathIdentifier}}
                </a>
            </li>
            {{/if}}
            {{#if hbs.flyoutnavigation.cellTwoLabelLink}}
            <li class="navflyouta-group-item">
                <a href="{{hbs.flyoutnavigation.cellTwoLabelLink}}" class="navflyouta-list  navflyout-clamp highlight-all">
                    {{hbs.flyoutnavigation.cellTwoPathIdentifier}}
                </a>
            </li>
            {{/if}}
        </ul>
    </section>
</div>
{{ embed "navflyouta" script="/etc/partials/kpmgpublic/navflyouta/navflyouta" id="template-navflyouta" }}
