<!-- Begin Component: Loginform -->
<section class="module-loginform component">
    <div class="row-same-height row-full-height">
        <div class="col-md-12 col-md-height col-full-height col-top col-nested">
            
            <!-- LOADING SPINNER -->
            <div style="height:400px;width:100%;border: 9px solid #f0f0f0;background-color:#f0f0f0;" class="loading-container">
                <img style="margin:40px auto 40px auto;" src="/etc/designs/kpmgpublic/images/loading.gif"></img>
            </div>
            
            <!-- USER-LOGIN-INFO-CONTAINER -->
            <div id="new-user-login-info-container"></div>
            
            <!-- AUTHORED T & C -->
            {{include "authored-tc" resourceType="/etc/partials/kpmgpublic/registrationuserinfo/partials/authored_tc.hbss" }}
        </div>
    </div>
</section>
<!-- End Component: Loginform -->