<!-- Begin Component: Tombstonegallery -->
<section class="module-tombstonegallery component" data-gallery-title="{{hbs.tombstonegallery.componentTitle}}">
   <div class="row">
        <div class="col-md-12">
            {{#if hbs.tombstonegallery.componentTitle}}
                <h3 class="tertiary-head line-clamp line-clamp-1">{{hbs.tombstonegallery.componentTitle}}</h3>
            {{/if}}
        </div>
		<div class="col-md-12">
            {{#if hbs.tombstonegallery.description}}
                <span class="description line-clamp line-clamp-3">{{hbs.tombstonegallery.description}}</span>
            {{/if}}
        </div>
    </div>
    <div class="gallery image-align"  data-baseUrl="{{hbs.tombstonegallery.baseUrl}}" data-total-records="{{hbs.tombstonegallery.totalRecords}}" data-recordsPerPage="4">
        <div class="row"></div>
    </div>
    <div class="row load-more">
        <div class="col-md-12 alignCenter">
            <span class="load-more-link" tabindex="0">
                <span class="icon-add"></span>
                <span class="component-link btn-more" data-type="gallery" href="#">{{i18n hbs.tombstonegallery.loadmore}}</span>
            </span>
        </div>
    </div>
</section>
<!-- End Component: Tombstonegallery -->
