@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../trendinglist/css/trendinglist";
@import "../../connectandrfp/css/connectandrfp";
@import "../../contentslider/css/contentslider";
@import "../../share/css/share";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../audiovideo/css/audiovideo";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../addtolibrary/css/addtolibrary";
@import "../../mykpmgpromo/css/mykpmgpromo";

.module-tmpl-industries {
    .module-promotionala,
    .module-promotionalb,
    .module-promotionalc,
    .module-promotionald,
    .module-promotionale, {
        img {
            height: auto;
        }
    }
    .module-promotionale {
      padding-bottom: 10px !important;
    }
    .module-promotionale {
      padding-bottom: 10px !important;
    }

    .module-trendinglist .col-md-12.trendinglist-listingGroup {
      min-height: 100%;
    }

    .module-contentslider {
        padding: 0;

        .carousel-container {
            padding: 0 10px;
        }
    }

    .parsys-row {
      border-bottom: 0 none;
    }

}
/*.module-footer .footer-footerText {
    text-align: left;
    padding: 20px 5%;
}*/

@media (min-width:@desktop-min-fixed) {

  .module-tmpl-industries {

    .module-contentslider.component.no-padding {
      padding: 0 !important;
    }
    .module-contentslider .carousel-container {
      padding: 2px 10px 0px 10px !important;
    }

    .promotionale-container {
        margin: 0;
    }
  }

  /*.module-footer .footer-footerText {
    text-align: center;
    padding: 20px 22%;
  }*/
}
