<!-- Begin Component: TmplLogin -->
 <section class="module-tmpl-login">
    <div class="">
        <div class="row">
            <div class="row-same-height row-full-height">
                {{ include "loginPageTitle" resourceType="/apps/kpmgpublic/components/personalization/registrationpagetitle"}}
            </div>
        </div>
        <div class="inner-container row">
            <div class="row-same-height row-full-height p-desktop-9-px">
                {{ include "loginForm" resourceType="/apps/kpmgpublic/components/personalization/loginForm" path="loginForm"}}
            </div>
        </div>
        <div class="login-done-row">
            {{ include "loginDone" resourceType="/apps/kpmgpublic/components/personalization/gigyalogin"}}
        </div>
    </div>
</section>
<!-- End Component: TmplLogin -->
