<section class="module-tmpl-mykpmgdashboard">
    <div class="row visible-sm-block visible-md-block visible-lg-block">
        <div class="col-md-12 bread-crumb-full" data-desktop-cell="1" data-mobile-cell="1">
            <div class="inner-container">
                {{include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb" }}
            </div>
        </div>
    </div>
    <div class="row tmpl-row">
        <div class="col-md-12 full-page-title" data-desktop-cell="2" data-mobile-cell="2">
            <div class="inner-container">
                {{include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="row">
            <div class="col-md-12" data-desktop-cell="3" data-mobile-cell="3">
                {{include "dashboardbanner" resourceType="/apps/kpmgpublic/components/personalization/dashboardbanner"}}
            </div>
        </div>
        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-6 col-md-height col-full-height col-top" data-desktop-cell="5" data-mobile-cell="6">
                    {{include "cell5" resourceType="/apps/kpmgpublic/components/personalization/widedashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="6" data-mobile-cell="7">
                    {{include "cell6" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>

                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="7" data-mobile-cell="5">
                    {{include "interestssummary" resourceType="/apps/kpmgpublic/components/personalization/interestssummary"}}
                </div>
            </div>
			<div class="row-same-height row-full-height">
                
                <div class="col-md-12 col-md-height col-full-height col-top no-border">
                    <div class="row-same-height row-full-height">
						<div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="8" data-mobile-cell="8">
							{{include "cell8" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
						</div>
                        <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="9" data-mobile-cell="9">
                            {{include "cell9" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                        </div>
                        <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="10" data-mobile-cell="10">
                            {{include "cell10" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                        </div>
                        <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="11" data-mobile-cell="11">
                            {{include "cell11" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                        </div>
                    </div>
                    <div class="row-same-height row-full-height">
						<div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="12" data-mobile-cell="12">
							{{include "cell12" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
						</div>
                        <div class="col-md-6 col-md-height col-full-height col-top" data-desktop-cell="13" data-mobile-cell="13">
                            {{include "cell13" resourceType="/apps/kpmgpublic/components/personalization/widedashboardarticle"}}
                        </div>
                        <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="14" data-mobile-cell="14">
                            {{include "cell14" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-same-height row-full-height">
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="15" data-mobile-cell="15">
                    {{include "cell15" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="16" data-mobile-cell="16">
                    {{include "cell16" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="17" data-mobile-cell="17">
                    {{include "cell17" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="18" data-mobile-cell="18">
                    {{include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                </div>
            </div>
            <div class="row-same-height row-full-height">
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="19" data-mobile-cell="19">
                    {{include "cell19" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="20" data-mobile-cell="20">
                    {{include "cell20" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" data-desktop-cell="21" data-mobile-cell="21">
                    {{include "cell21" resourceType="/apps/kpmgpublic/components/personalization/dashboardarticle"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height col-top" style="visibility:hidden;">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade feedback-success" role="dialog" tabindex="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span>
                </span>
                <h4 class="feedback-heading" data-hey='{{i18n "kpmg.personalization.dashboard.feedback.hey"}}'>
                    {{i18n "kpmg.personalization.dashboard.feedback.hey"}}<!--Hey John!-->
                </h4>
            </div>
            <div class="modal-body">
                <p class="success-msg alert-success">
                    <span class="icon-checkmark"></span>
                    <span class="success-text msg1 hide">{{i18n "kpmg.personalization.dashboard.feedback.successmsg"}}</span>
                    <span class="success-text msg2 hide">{{i18n "kpmg.personalization.dashboard.feedback.successmsg2"}}</span>
                    <span class="success-text msg3 hide">{{i18n "kpmg.personalization.dashboard.feedback.successmsg3"}}</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default col-md-6 pull-left btn" data-dismiss="modal">
                    <span class="icon-close"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.close"}}
                </button>
            </div>
        </div>
    </div>
</div>
