@import "../../../../../../../global/css/_variables";

.mobile-nav-language-locale-tab-content-component{
    .site-selector-header-text-color{
        color:  @gray-40 !important;
    }
    ul{
        li{
            a{
                border:1px solid @gray-60 !important;
                border-bottom: 0px !important;
                &.active{
                    color: @kpmg-blue !important;
                    font-weight: 700;
                }
            }
        }
    }
}