@import url('../../global/css/_variables.less');
.module-connectandrfp {
    position: relative;

    .primary-head {
        .component-title(@light-purple);
        .hyphen;
        text-transform: none;
        margin: 0 0 10px 0;
    }


    .list-group-item {
        margin: 8px 0;

        .email-data-link {
            .promo-title(@kpmg-blue);
            .hyphen;
            text-transform: none;
        }

        a {
            .promo-title(@kpmg-blue);
            .hyphen;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .connectandrfp-rfp {
        .rfp-space {
            height: 87px;
        }

        .rfp-container {
            position: absolute;
            bottom: 10px;
            right: 10px;
            left: 10px;

            .tertiary-head {
                .promo-title(@kpmg-blue);
                .hyphen;
            }

            span.icon-email:before {
                font-size: 16px;
            }

            &:before {
                .dotted-lightblue;
                margin: 20px 0 10px;
            }
        }
    }

    .component-data-link {
        .hyphen;
        text-transform: none;
        font-size: inherit;
    }

    .connectandrfp-connect-custom-padding {
        display: table-cell;
        vertical-align: middle;
    }

    span.icon-location, span.icon-email, span.icon-users {
        color: @light-purple;
        margin: 0 5px 0 0;
        font-size: 16px;
    }

    .icon-email, span.icon-email:before {
        font-size: 16px;
    }

    span.icon-chevron-right {
       // color: @light-green;
        .font-size(1.6);
        margin-right: 5px;
    }

    a.connectandrfp-component-link {
        color: @gray-40;
        .font-size(1.4);
        text-transform: uppercase;
        text-decoration: none;
    }

    .rfp-cta-space {
        .cta-right(@gray-40);
    }
    .rfp-modal {
        .cta-right(@gray-40);
        bottom: 0;
        right: 0;
    }
}
