@import url('../../global/css/_variables.less');

.module-basicpagetitle {
    position: relative !important;
    float: left;
    width: 100%;

    .basic-title {
        .component-title(@kpmg-blue);
        .hyphen;
        font-weight: normal;
        margin: 0;
        float: left;
        width: 93%;
    }

    .basic-desc {
        .promo-description(@gray-20);
        margin: 7px 0;
        clear: both;
        float: left;
        width: 100%;
    }

    .library-desktop {
        position: absolute;
        top: 30px;
        right: 0;
        left: initial;
        left: inherit;
        .libraryLimit-value {
            display: none;
        }
        .module-addtolibrary {
            margin: 0;
        }

        .icon-star {
            color: @kpmg-blue;
            margin: 0 !important;
            padding: 10px;
        }

        .btn-copy {
            display: none;
        }
    }

    .share-desktop {
        position: absolute;
        top: 0;
        right: 0;

        .module-share {
            margin: 0;
        }

        .icon-share {
            color: @light-green;
            margin: 0 !important;
            padding: 10px;
        }

        .component-link {
            display: none;
        }
    }
    @media (min-width: @desktop-min-fixed) {
        padding: 10px 0;

        .basic-title {
            .page-title(@kpmg-blue);
            .hyphen;
            margin: 0 0 14px 0;
            width: 93%;
            float: left;
        }

        .basic-desc {
            .page-description(@gray-20);
            margin: 0;
            .hyphen;
            clear: both;
        }

        .library-desktop {
            display: inline-block;
            position: absolute;
            top: 30px;
            right: 0px;
            left: initial;
            left: inherit;

            .module-addtolibrary {
                margin: 0;
            }

            .icon-star {
                color: @kpmg-blue;
                margin: 0 5px 0 0 !important;
                padding: 0;
            }

            .btn-copy {
                display: inline-block !important;
            }
        }

        .share-desktop {
            display: inline-block;
            position: absolute;
            top: 9px;
            right: 0px;

            .share-component {
                padding: 0;
            }

            .icon-share {
                color: @light-green;
                margin: 0 5px 0 0 !important;
                padding: 0;
            }

            .component-link {
                display: block;
            }
        }
/* moved share to component level - BrandRefresh- Aparna 19/10/2015
        .icon-share-component {
            margin: 0 5px 0 0;
        }
*/
    }
}
