@import url('../../global/css/_variables.less');
.module-publicationserieslist {
    padding: 10px;
    .Publicationserieslist-listingGroup {
        background: @white;
        min-height: 90px;
        padding: 0px;
        .tertiary-head {
            .page-description(@kpmg-blue);
            margin: 8px 0px;
        }
        ul.Publicationserieslist-listingGroupLinks {
            li.Publicationserieslist-listingGroupLink {
                 margin:1px;
                .missing_links {
                    padding: 10px 0px;
                    .promo-details(@gray-40);
                    display: block;
                 }
                a {
                    .promo-details(@medium-blue);
                    padding: 10px 0px;
                    display: table;
                    width: 100%;
                    .hyphen;
                    .public-link-text{
                        padding-right: 5px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                &:last-child {
                    /*border-bottom: none;*/
                }
                &:first-child:before {
                    display: none;
                }
                &:before {
                    .dotted-lightblue;
                }
                span.icon-chevron-right {
                    color: @light-green;
                    .font-size(1.6);
                    width:14px;
                    
                }
            }
        }
    }
}