{{#each results}}
<div class="partner-item col-md-12 col-xs-12" tabindex="0">
    <div class="col-md-12 col-xs-12 no-padding">
        <div class="col-md-10 col-xs-10 contactNameContainer no-padding">
            <a target="_blank" href="{{this.translatedCTAURL}}">
                <span class="contact-name">{{this.contactFirstName}} {{this.contactLastName}}</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-2 messageIcon no-padding">
            <span id="{{this.contactFirstName}}-{{this.contactLastName}}" class="component-data-link people-connect btn-modal icon-email" data-toggle="modal" data-target="#kpmgModal" 
            data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-backdrop="static" data-keyboard="false"
            data-remote="{{../localePath}}{{this.translatedCTAURL}}" title="{{this.contactPageName}}" tabindex="0" role="button">
            </span>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 no-padding">
        <span class="jobtitle">{{this.jobTitle}}</span>
    </div>
</div>
{{/each}}
