<div class="module-triocomponent component triocomponent">
    <div class="inner-container">
        <div class="trio">
            {{#each hbs.triocomponent.trioFeature}}
                <article class="trio-card col-lg-4 col-md-12 col-sm-12 col-md-height col-full-height col-top" id="trio-feature-{{@index}}">
                    {{#if this.img}}
                        <img src="{{hbs.globalValues.assetDomainName}}{{this.img}}" alt="{{this.altText}}" title="{{this.altText}}"/>
                    {{/if}}
                    <h3>{{this.title}}</h3>
                    <p>{{this.description}}</p>
                    <a href="{{this.ctaUrl}}" data-stoptrack="true" data-title="{{this.title}}" class="cta btn">{{this.ctaLabel}}</a>
                </article>
            {{/each}}
        </div>
    </div>
</div>