@import "../../../../../../../global/css/_variables";


.mobile-nav-tab-menu-component {
    .collapse-cancel-trigger-component{
        background: @white;
        font-weight: 700;
        border: 1px solid @gray-60 !important;
        margin-bottom: 0 !important;
        font-size: 1.6rem;
    }
}