<div class="modalBodyLeft">
   <div class="imgContainer">
      <a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}" tabindex="-1"><img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-src="" data-desktop="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" alt="{{this.KPMG_Title}}" class="lazy"/></a>
   </div>
</div>
<div class="modalBodyRight">
   {{#if this.KPMG_Tab_Type}}
   <div class="peopleContactDetails">
      {{#if this.KPMG_Contact_FN}}
         {{#if this.KPMG_Contact_LN}}
         <p class="peopleDetails"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}</a></p>
         {{/if}}
      {{/if}}
      {{#if this.KPMG_Contact_Job_Ttl}}
         <p class="peopleDetails">{{this.KPMG_Contact_Job_Ttl}}</p>
      {{/if}}
      {{#if this.KPMG_Cont_Mem_Firm}}
         <p class="peopleDetails">{{this.KPMG_Cont_Mem_Firm}}</p>
      {{/if}}
      {{#if this.KPMG_Description}}
         <p class="description">{{this.KPMG_Description}}</p>
      {{/if}}
      {{#if this.contactFormLinkCopy}}
         <div class="pull-right">
            <span class="contact-btn" tabindex="0">
               <span class="icon-chevron-right "></span><span data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-remote="{{this.contactLink}}{{this.KPMG_URL}}" data-backdrop="static" data-keyboard="false" class="contact people-connect btn-modal component-data-link modal-inside-modal" id="peoplecontactlink">{{this.contactFormLinkCopy}}</span>
            </span>
         </div>
      {{/if}}
   </div>
   {{/if}}
</div>