@import "../../global/css/_variables.less";


.module-mykpmgflyout {
    display: none;
    top: 4.6rem;
    right: -9.95rem;
    max-width: 535px;
    position: absolute !important;
    overflow: hidden;
    border-left: 1px solid @gray-60;
    border-bottom: 5px solid @gray-60;
    border-right: 1px solid @gray-60;
    padding: 10px;
    background: @gray-96;
    z-index: 9999 !important;
    margin-bottom: 0 !important;
    cursor: default;
    span {
        font-size: 16px !important;
        font-size: 1.6rem !important;
    }

    .flyout-cell-hover {
        display: block;
        height: 100%;
        &:hover {
            box-shadow: inset 0px 0px 0px 1px @gray-80;
        }
    }

    ul {
        width: 100% !important;
        height: auto !important;
        text-align: left !important;
        overflow: hidden;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
    }
    .float-head {
        float: left;
    }
    .navflyoutb-feature-link a {
        padding: 0 !important;
        bottom: 0;
        right: 0;

        h3 {
            margin: 8px 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    ul li {
        margin: 0 6px !important;
        padding: 12px 4px !important;
        display: block !important;
        text-align: left !important;
    }
    ul li a {
        position: relative;
        width: 99% !important;
        padding-right: 20px;
        text-transform: none;
        padding: 0 !important;
        margin: 0 !important;
        .set-font-size(1.8);
        line-height: 120% !important;
    }
    ul li a:hover {
        text-decoration: underline !important;
    }
    ul li a:focus {
        box-shadow: 0 0 3px @kpmg-blue;
        outline: 1px solid @kpmg-blue-transparent;
    }
    .nonlogged-in-list li, .logged-in-list li {
        width: auto;
        border-bottom: 1px solid @gray-60;
        padding: 10px;
    }
    .first-block {
        background: transparent;
        padding-right: 15px !important;
    }
    .line-clamp:after {
        display: none !important;
    }
    .last-block .navflyoutb-background {
        padding: 10px;
        > div {
            text-align: left;
        }
        > a {
            padding: 0px !important;
        }
        h3 {
            font-weight: normal;
        }
    }
    .nonlogged-in-list li:last-child, .logged-in-list li:last-child {
        border-bottom: none;
    }
    .col-md-height {
        border: none;
        height: 300px;
    }
    .bg-white {
        padding: 10px;
        padding: 1rem;
        padding-bottom: 15px !important;
        background-color: rgba(255, 255, 255, 1);
    }
    .pull-right-align {
        position:absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 5px;
        .cta-right(@gray-40);
    }
    .icon-chevron-right {
        color: @light-green;
        margin: 10px 5px 0 0;
    }
    a.btn-cta {
        display: block;
        padding-bottom: 6px;
        text-align: left;
        color: @gray-40 !important;
        padding: 0 !important;
        position: relative;
    }
    a.btn-cta:focus {
        box-shadow: 0 0 3px @gray-40;
        outline: 1px solid @grey-text-transparent;
    }
    a.component-link {
        color: @gray-40 !important;
        .font-size(1.4);
        /*margin-left: 4px;*/
    }
    img.img-responsive {
        height: auto;
    }
    
    a.flyout-cell-hover:focus img {
        box-shadow: 0 0 3px #666666;
        outline: 1px solid rgba(102,102,102,0.5);
    }
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}
@media (min-width: @desktop-min-fixed) {
    .module-mykpmgflyout {
        top: 485px;
        top: 5.8rem;
/*        left: 295px !important;
        left: 29.5rem !important;*/
        right: 0px;

    }
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
@media (min-width: @desktop-min-fluid) {
    .module-mykpmgflyout {
        top: 34.5px;
        span.icon-chevron-right {
            margin-left: 0px !important;
        }

    }
}
@media only screen and (min-width:360px) and (max-width: 640px)  {
    .module-mykpmgflyout {
        min-width: 360px;
        top: 3.5rem;
        right: -16.2rem;
        .col-md-height {
            height: auto;
        }
        ul li a {
            color: #00338D;
        }
    }
}
@media only screen and (min-width:641px) and (max-width: 980px)  {
    .global-nav .nav-utility {
        width: 98.6% !important;
    }
}
@media only screen and (min-width:641px) {
    .module-mykpmgflyout .close-mykpmg .mykpmg-mob-close {
        display : none;
    }
}
