@import "../../global/css/_variables.less";
@mobile: ~"only screen and (max-width: 640px)";
// overrride minwidth
.container .col-md-6 {
    min-width: inherit;
}
.modal-rfpdialog .modal-content {
    background-color: @gray-96 !important;
    padding: 0 !important;
}

.module-rfpprocess {

    .btn-disabled {
        background: @gray-60 !important;
        cursor: not-allowed;
    }
    
    .icon-warning {
      margin: 0px;
    }
    ul.err-msg {
      display: inline-block;
    }
    .contact-info.step1 .tertiary-head{
      color: @gray-20;
      margin: 7px 0;
      font-weight: bold;
    }
    select::-ms-expand {
        display: none;
    }
    input,textarea {
        margin-bottom: 1px;
    }
    #captcha {
        margin-bottom: 0px !important;
    }
    input:focus,select:focus {
        box-shadow: none !important;
        outline: solid @kpmg-blue 1px !important;
    }
    input.field-invalid:focus {
        outline: none !important;
    }
    input.focusOutline, textarea.focusOutline,select.focusOutline {
        text-decoration: none !important;
    }
    .no-highlight.focusOutline {
        border: none !important;
        outline: none !important;
    }
    .rfp-privacy-entry.no-highlight,
    .rfp-step-entry.no-highlight {
        font-size: 0;
    }
    .no-highlight {
        display: inline-block !important;
    }
    #captcha {
        margin-top: 5px;
    }
    #rfpcq_captchatimer {
        margin-bottom: 5px;
    }
    .rfp-required-entry.focusOutline,
    .rfp-privacy-entry.focusOutline,
    .rfp-required-exit.focusOutline,
    .rfp-privacy-exit.focusOutline {
        border: none;
        outline: none;
    }
    /*.rfp-required-entry,
    .rfp-privacy-entry,
    .rfp-required-exit,
    .rfp-privacy-exit {
        display: inline !important;
    }*/
/*    .arrow-bg.field-invalid-required {
        border-right: 9px solid @red !important;
    }
    .arrow-label.field-invalid-required {
        background-color: @red !important;
    }
    .arrow-bg.field-valid-required {
        border-right: 9px solid @dark-green !important;
    }
    .arrow-label.field-valid-required {
        background-color: @dark-green !important;
    }*/

    .outer-shape {
        display: inline-table;
        position: relative;
        top: 3px;
        display: none;
    }
    .right-arrow {
        float: left;
        width: 0;
        height: 0px;
        border-top: 10px solid transparent;
        border-right: 10px solid #483698 !important;
        border-bottom: 10px solid transparent;
        vertical-align: middle;
    }
    .left-box {
        float: left;
        width: auto;
        background: #483698  !important;
        vertical-align: middle;
        .file-size(@white);
        padding: 1px 3px;
        line-height: 1.3;
    }

    .outer-shape.field-valid-required {
        border: none !important;
        .right-arrow {
            border-right: 10px solid @dark-green !important;
        }
        .left-box {
            background: @dark-green !important;
        }
    }
    .outer-shape.field-invalid-required {
        border: none !important;
        .right-arrow {
            border-right: 10px solid @red !important;
        }
        .left-box {
            background: @red !important;
        }
    }
    label[for="overview-privacy"].field-valid,
    label[for="Required Checkbox"].field-valid {
        border: none !important;
        &:before {
            border: 1px solid @dark-green;
        }
    }
    .rfp-step-entry.focusOutline{
        border: none;
        outline: none !important;
    }
    label[for="overview-privacy"].field-invalid,
    label[for="Required Checkbox"].field-invalid {
        border: none !important;
        &:before {
            border: 1px solid @red;
        }
    }
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        margin-left: 0px;
    }
    label[for=AlreadyClient],
    label[for=overview-privacy],
    label[for="Required Checkbox"] {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 35px;
        margin:0px;
    }
    label[for=AlreadyClient] {
        margin:0 0 14px 0 !important;
    }
    label[for=overview-privacy] {
        margin-bottom: 1px;
    }
    label[for=AlreadyClient].field-valid,
    label[for=overview-privacy].field-valid,
    label[for="Required Checkbox"].field-valid {
        border: none !important;
        &:before {
            border: 1px solid @dark-green;
        }
    }
    label[for=AlreadyClient].field-invalid,
    label[for=overview-privacy].field-invalid,
    label[for="Required Checkbox"].field-invalid {
        border: none !important;
        &:before {
            border: 1px solid @red;
        }
    }

    .focus-effect-in {
        &:before {
            box-shadow: 0 0 3px @medium-blue;
            outline: 1px solid @medium-blue-transparent;
        }
    }

    label[for=AlreadyClient].focus-effect-in,
    label[for=overview-privacy].focus-effect-in,
    label[for="Required Checkbox"].focus-effect-in{
        &:before {
            box-shadow: 0 0 3px @kpmg-blue !important;
            outline: 1px solid @kpmg-blue-transparent;
        }
    }

    label[for="Required Checkbox"]:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: white;
        border: 1px solid @gray-20;
    }
    label[for="overview-privacy"]:before {
        content: "";
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: white;
        border: none;
        top: 2px;
    }
    input[type=checkbox]#AlreadyClient,
    input[type=checkbox]#overview-privacy,
    input[type=checkbox][name="Required Checkbox"] {
        display: none;
        border: 1px solid @gray-20;
        &:hover {
            border: 1px solid @gray-40;
            cursor: pointer;
        }
    }
    input[type=checkbox]#AlreadyClient {
        margin: 10px 10px 0 0;
    }
    input[type=checkbox]#AlreadyClient:checked + label[for=AlreadyClient]:before,
    input[type=checkbox]#overview-privacy:checked + label[for=overview-privacy]:before,
    input[type=checkbox][name="Required Checkbox"]:checked + label[for="Required Checkbox"]:before {
        content: "\e90a";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 12px;
        color: @violet;
        text-align: center;
        line-height: 15px;
        padding-top: 7px;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    input[type=checkbox]#overview-privacy:checked + label[for=overview-privacy]:before {
        font-size: 18px;
        border: none;
    }
    .pcf-captcha {
        .label-invalid {
            padding:15px 0 10px 0;
        }
    }
    .desktop-back-cta,
    .btn-copy {
        float: right;
    }
    padding: 10px;
    .bodytext-data,
    .form-group,
    .modal-dialog {
        padding: 0px;
        margin: 0px;
    }
    .rfp-captchaDescription {
        .promo-details(@gray-20);
        .hyphen;
    }
    .rfp-captchaDescription img{
        width: 100%;
    }
    .rfp-captchaHelpLabel {
        .file-size(@gray-40);
        margin: 6px 0;
        font-style: italic;
    }
    .file-nobrdr .file-size,.file-size{
        .file-size(@gray-20) !important;
        margin:0px !important;
    }
    .field-valid {
        border-right: 1px solid @dark-green !important;
        border-top: 1px solid @dark-green !important;
        border-bottom: 1px solid @dark-green !important;
    }
    .module-bodytext {
        padding: 0px;
    }
    .noPadding {
        padding: 0px
    }
    .contact-info .form-group label {
        margin-top: 17px;
        margin-bottom: 10px;
    }

    .review-holder {
        .promo-details(@gray-20);
        .hyphen;
        margin-top: 7px;
    }
    .cancelRFP {
        width: auto;
    }
    .rfp-back-left {
        position: absolute;
        bottom: 35px;
    }
    .rfp-nav {
        img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            float: left !important;
            @media @mobile{
                position: absolute;
                top: 25px;
                left: 25px;
                width: auto !important;
            }
        }
    }
    .btn-cta {
        position: static;
        padding: 0px;
    }
    .icon-industry,
    .icon-world {
        position: absolute !important;
        bottom: 0px;
        top: 0px !important;
    }
    .step3 {
        [class^="col-md-"], [class*="col-md-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .review-holder {
            .rfp-review {
                font-size: 2.4rem;
            }
        }
        h2 {
            font-size: 2.6rem !important;
        }
    }
    .steps {
        ul {
           &:hover{
               text-decoration:  none;
               cursor: default;
           }
            li.completed {
                span.text {
                    .rfpSteps {
                        .promo-title(@kpmg-blue);
                        .hyphen;
                    }
                }
            }
            li.active {
                span.text {
                    .rfpSteps {
                        .promo-title(@gray-20);
                        margin: 8px 0;
                        .hyphen;
                    }
                    .rfpSteps:hover {
                        cursor: default;
                    }
                }
            }
            li {
                span.text {
                    .rfpSteps {
                        .promo-title(@gray-60);
                        margin: 8px 0;
                        .hyphen;
                        display: block;
                        width: 86px;
                        height: 86px;
                        @media @mobile{
                            width: 53px;
                            height: 53px;
                        }
                    }
                    .rfpSteps:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .field-success {
        border: 1px solid @dark-green !important;
    }
    #rfpConfirmBox {
        border-left: 0px !important;
        padding: 10px !important;
    }
    .steps.mobile-nav {
        border-bottom: 1px solid @gray-60 !important;
    }
    .mobile-nav-container::last-child {
        .steps.mobile-nav {
            border-bottom: none;
        }
    }
    .steps.mobile-nav.completed {
        background-color: @white;
        .promo-title(@kpmg-blue);
        .hyphen;
        &:hover {
            text-decoration: underline;
        }
    }
    .steps.mobile-nav.active {
        background-color: @white;
        .promo-title(@gray-20);
        .hyphen;
        &:hover {
            text-decoration: none;
        }
    }
    .steps.mobile-nav {
        background-color: @gray-94;
        .promo-title(@gray-60);
        .hyphen;
        &:hover {
            text-decoration: none;
        }
    }
    .rfp-placeholder {
        .promo-details(@gray-60);
        .hyphen;
    }
    ::-webkit-input-placeholder {
        .rfp-placeholder()
    }
    /* Chrome and Safari */

    ::-moz-placeholder {
        .rfp-placeholder()
    }
    /* firefox 19+ */

    :-ms-input-placeholder {
        .rfp-placeholder()
    }
    /* ie */

    input:-moz-placeholder {
        .rfp-placeholder()
    }
    .primary-head,
    .step3 h2,
    .step4 h2 {
        .promo-title(@kpmg-blue);
        margin-bottom: 7px;
        .hyphen;
    }
    background-color: @gray-96;
    .fileSelect {
        position: relative !important;
        input[type='file'] {
            right: 0 !important;
            cursor: pointer !important;
        }
        .file-browse-underline {
            text-decoration: underline !important;
        }
    }
    #rfp-process-modal {
        .cta-right(@gray-40);
    }
    [class^="col-md-"],
    [class*="col-md-"] {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
    .bodytext-data p,
    p {
        .promo-description(@gray-20);
        margin: 7px 0px 0px !important;
        .hyphen;
        .set-font-size(2.0);
    }
    .bodytext-data p{
        .set-font-size(2.0);
    }

    .bodytext-footnote p{
        .fine-print(@gray-20) !important;
    }
    .primary-head {
        .promo-title(@kpmg-blue);
        margin: 7px 0px;
        .hyphen;
        .set-font-size(2.4) !important;
    }
    .rev-desc-spacing {
        margin-bottom: 0 !important;
    }
    .btn-copy,
    .rfp-confirm {
        color: @gray-40;
        .set-font-size(1.8);
        line-height: 120%;
    }
    .cancelRFP:hover{
        cursor: pointer;
        a.rfp-confirm {
            text-decoration: underline;
        }
    }
    [data-mobile-steps="step3"] {
        margin-bottom: 10px;
    }
    .icon-print-rfp {
        color: @kpmg-blue !important;
    }
    .request-details .output-file {
        color:@gray-60;
    }
    .rfp-header .rfp-head {
        .component-title(@kpmg-blue);
        .hyphen;
        font-size: 56px;
        font-size: 5.6rem !important;
        margin: 20px 10px;
    }
    .rfp-header p {
        .set-font-size(1.6);
        color: @gray-20;
    }
    .step0 {
        display: block;
        padding: 0 !important;
    }
    .step3 .cntctHeader {
        margin-top: 20px;
        margin-bottom: 0;
        .set-font-size(2.6);
    }
    .label-invalid {
        .file-size(@red) !important;
    }
    .half-width {
        .label-invalid {
            position: static;
            margin: 5px 2px 0 !important;
        }
        .field-invalid {
            margin: 0px;
        }
    }
    .filepad {
        height: 7px;
        margin: 0px;
        padding: 0px;
    }
    .steps.mobile-nav {
        display: block;
        position: relative;
        padding: 24px 12px 18px 18px;
        width: 100%;
        overflow: auto;
    }
    .mobile-nav-container.mobile-only.mobile-close {
        padding: 0px;
        margin-top: 10px;
    }
    .steps .number-group {
        display: block;
        position: relative;
        text-align: center;
        padding: 3px 0;
    }
    .steps .number-group:before {
        font-family: 'icomoon';
        content: '\e939';
        font-size:86px;
        line-height: 1;
        position: absolute;
        top:0;
        left:0;
        color: @white;
        z-index: 1;
        @media @mobile{
            font-size: 53px;
        }
    }
    .steps.completed li:before {
        color: @gray-60;
    }
    .steps.completed,
    .err-close {
        cursor: pointer;
    }
    .steps.completed .number-group:after {
        font-family: 'icomoon';
        content: '\e972';
        position: absolute;
        font-size:86px;
        bottom: 0px;
        left: -8px;
        color: @violet;
    }
    .steps.active .number-group:before {
        color: @violet;
    }
    .steps .number {
        color: @persian-green;
        .font-size(1.8);
        line-height: 1;
        position: relative;
        z-index: 2;
    }
    .steps.completed .number {
        visibility: hidden;
    }
    .steps .text {
        display: block;
    }
    .rfpBold,.print-request {
        font-weight: bold;
    }
    .stepsDisable {
        li{
            background:@persian-green;
        }
        li, a, .text {
            cursor: default !important;
        }
        .number {
            color: @white;
        }
        .number-group:before {
            color: @gray-60;
            z-index: 1;
        }
    }
    a.steps.active.mobile-nav:after {
        font-family: 'icomoon';
        content: '\e90c';
        position: absolute;
        top: 24px;
        right: 10px;
        color: @light-blue;
        .font-size(1.6);
    }
    .step2 {
        .remove-browse .icon-close,
        .cancel-browse .icon-close,
        .file-browse .icon-search,
         {
            margin-right: 5px;
            @media @mobile {
                display: block;
                height: 45px;
                margin-right: 0px;
            }
        }
        .form-group.row {
            margin-bottom: 19px !important;
        }
        .file-browse .icon-browse {
            display: table-cell;
        }
        .disable-browse .icon-browse {
            display: table-cell;
            color: @gray-87 !important;
        }
        .file-browse .text-rfpBrowse,
        .remove-browse .text-Cancel-Browse,
        .cancel-browse .text-Cancel-Browse{
            display:inline-block;
            vertical-align: middle;
            padding:10px 0;
            color: @white;
            @media @mobile {
                display: none;
            }
        }
        .file-browse .icon-search:before,
        .remove-browse .icon-close:before,
        .cancel-browse .icon-close:before {
            color: #fff;
            position: absolute;
            margin: 10px 0 0 -30px;
            @media @mobile {
                margin:11px auto 0 -10px;
            }
        }
        .disable-browse .text-rfpBrowse {
            display: table-cell;
            vertical-align: middle;
            padding-left: 4px;
            .promo-title(@gray-40);
            .hyphen;
        }
    }
    .rfp-nav .icon-chevron-right {
        color: @light-green;
        .font-size(1.6);
    }
    .rfp-nav .pull-left a {
        .cta-left(@gray-40);
    }
    .rfp-nav a:hover {
        text-decoration: underline;
    }
    .contact-info.step4 .rfp-nav .icon-chevron-right {
        color: @light-green;
        .font-size(1.6);
    }
    .icon-message {
        color: @violet;
        position: absolute;
        top: 5px;
        .font-size(1.6);
        margin: 3px 5px;
    }
    #message {
        border: 1px solid @gray-94;
        padding-left: 21px;
        color: @gray-20;
        text-shadow: none;
        height: 150px;
        border-radius: 0;
        resize: none;
        box-shadow: none;
        overflow: hidden;
        line-height: 15px !important;
        -webkit-appearance: none;
    }
    .col-md-10.desktop-col {
          padding: 0px !important;
    }
    #rfpFormStep0 .pull-right {
        margin-top: 12px;
        width: 530px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: @medium-blue;
        .btn-copy {
            float: none;
            color: @white;
            display: block;
            padding: 15px 0;
        }
        &:hover {
            .btn-copy {
                text-decoration: none;
            }
        }
        @media @mobile {
            width: 100%;
            float: none !important;
        }
    }
    .print-request,
    .review-attachments {
        .promo-details(@gray-20);
        margin-bottom: 7px !important;
        list-style-type: decimal;
        list-style-position: inside;
    }
    .remove-browse .text-Cancel-Browse:hover,
    .cancel-browse .text-Cancel-Browse:hover,
    .file-browse .text-rfpBrowse:hover {
        text-decoration: underline !important;
    }
    .step4 h2 {
        .promo-title(@kpmg-blue);
        margin-bottom: 7px;
        .hyphen;
    }
    .contact-info {
        padding: 10px;
        .set-font-size(1.6);
        .form-group {
          &.err-msg-area:first-child {
            display: none;
            margin-top: 10px !important;
            .icon-warning {
              top:0px;
            }
            ul.err-msg {
              margin-top: 30px;
            }
          }
        }
    }
    .contact-info p.required {
        .hyphen;
        .promo-details(@gray-20);
        padding-left: 5px !important;
    }
    .contact-info .form-group {
        display: block;
        overflow: hidden;
    }
    .contact-info.step1 .form-group{
        width: 48%;
        margin:0 2% 29px 0;
        float: left;
        @media @mobile {
            float:none;
            width: 100%;
        }
    }
    .contact-info .form-group:first-child {
        margin-top: 0;
    }
    .form-group.half-width {
        width: 100%;
        padding-left: 2px;
        margin-bottom: 30px;
    }
    .contact-info .form-group input {
        width: 100%;
        border-left: none !important;
        border: 1px solid @gray-96 !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding-top: 3px;
        padding-bottom: 3px;
        .promo-details(@gray-20);
        &hover {
            border: 1px solid @red;
        }
    }
    .contact-info .form-group.explorer input {
        margin-left: 1px;
    }
    .contact-info .form-group input.field-invalid[required],
    .contact-info .form-group select.field-invalid[required] {
        border: 1px solid @red !important;
    }
    .contact-info .form-group select {
        width: 100% !important;
        border: 1px solid @gray-60;
        padding-left: 25px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 45px !important;
    }
    .contact-info .form-group select.custom-dropdown {
        -moz-appearance: none;
    }
    /* saf3+, chrome1+ */

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .contact-info .form-group select {
            padding-left: 0px;
            text-indent: 11px;
            height: 25px;
            /*padding-right: 28px !important;*/
            padding: 0px 8px 0 15px;
            color: #333;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 120%;
            border: 1px solid #999;
            padding-right: 55px !important;
            width: 216px;
        }
    }
    .contact-info .form-group input[type='checkbox'] {
        width: auto;
        height: auto;
        display: inline;
        margin-right: 6px;
        float: left;
        margin-left: 1px;
    }
    .contact-info .form-group span {
        color: @violet;
        position: relative;
        top: 23px;
        /*padding: 3px 5px;*/
        margin: 5px 5px 5px 10px;
        .set-font-size(1.8);
    }
    .contact-info .form-group .rfp-cta-yes,
    .contact-info .form-group .rfp-cta-no {
        color:@gray-60;
        position: static;
        padding:12.5px 5px;
        margin: 0 15px 1px 1px;
        .set-font-size(1.8);
        width: 170px;
        @media @mobile{
            width: 44%;
            margin-right: 4%;
        }
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: @white;
        display: inline-block;
        cursor: pointer;
        outline: 0;
        &.isactive-client{
            color:@white;
            background: @green1;
            outline: none;
        }
    }
    .contact-info .form-group input[required],
    .contact-info .form-group select[required] {
        border: 1px solid @gray-94 !important;
        height: 40px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        white-space: nowrap;
        .promo-details(@gray-20);
        background: @white;
        z-index: 1;
        position: relative;
        box-shadow: none;
        -webkit-appearance: none;
    }
    .contact-info .form-group select[required]{
        z-index: 2;
        position: relative;
        background: transparent;
    }
    .contact-info .form-group label {
        float: left;
        .promo-details(@gray-20);
        display: inline-flex;
        width: auto !important;
        margin: 2px 0 5px 0;
        &:first-child{
            margin: 0 10px 5px 0;
        }        
    }
    .contact-info .form-group .pcf-captcha label{
        &:first-child{
            margin:0;
            padding:15px 0 10px 0;
        }
    }
    .contact-info .form-group label[for=AlreadyClient]{
        float: none;
        padding: 0;
        max-width: 100%;
        display: block;

    }
    .rfpLableHighlight {
        label{
            color: @red !important;
        }
    }
    .contact-info .form-group label a:hover {
        text-decoration: underline;
    }
    .rfp-nav {
        margin-top: 12px;
        padding: 0px !important;
        margin-bottom: 10px;
    }
    .step3,
    .complete {
        h2 {
            .promo-title(@kpmg-blue);
            margin-top: 7px;
            .hyphen;
        }
    }
    .request-details-section {
         margin-top: 20px;
    }
    .request-details {
        padding: 10px;
        .output-file {
            padding: 10px 10px 10px 21px !important;
            font-family: @arial !important;
            height: 40px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: @gray-60;
            font-size: 16px;
            font-size: 1.6rem;
            background: @white;
            margin-right:20px;
            @media @mobile {
                padding: 5px 5px 5px 25px !important;
                height: 45px;
                line-height: 3.5rem;
            }
        }
        .icon-checkmark{
            padding: 10px 0 0 5px;
        }
        .upload-group {
            position: relative;
            padding: 1px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: @medium-blue;
            input[type='file'] {
                position: absolute;
                opacity: 1;
                .promo-title(@gray-40);
                cursor: pointer !important;
            }
            input[type='file'] {
                opacity: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
            @media @mobile {
                padding: 0px;
            }
        }
    }
    .form-group {
        display: block;
        overflow: hidden;
    }
    // .half-width {
    //     width: 90%;
    // }
    .half-width input[type='checkbox'] {
        width: auto;
        height: auto;
        margin-right: 6px;
        float: left;
        margin-left: 1px;
    }
    .rfp-request,
    .review-title,
    .print-title {
        .promo-details(@gray-20);
        font-weight: bold;
        float: left;
    }
    .review-title {
        .set-font-size(2.4);
    }
    #printFooter p {
        color: @gray-20;
        .font-size(1.2);
        text-align: left;
        line-height: 120%;
        font-family: @arial;
    }
    .review-message,
    .rfp-review,
    .rfp-review .review-attachments {
        .promo-details(@gray-20);
    }
    .output-file {
        padding-left: 21px !important;
    }
    .btn-group .icon-close {
        color: @light-purple !important;
    }
    .icon-checkmark {
        position: absolute;
        left: 0px;
        top: 2px;
        color: @light-green !important;
        .font-size(1.6);
        @media @mobile {
            top: 6px;
        }
    }
    .rfp-review span {
        top: 0px !important;
    }
    .icon-spinner {
        position: absolute;
        left: 0px;
        top: 2px;
        color: @gray-60 !important;
        .font-size(1.6);
    }
    .removeRFP,
    .printFocus {
        margin: 1px;
    }
    .removeRFP {
        &:hover {
            .icon-chevron-right {
                text-decoration: none;
            }
        }
    }
    .form-group {
        [class^="icon-"], [class*="icon-"] {
            color: @violet;
        }
    }
    .rfpform_captchatimer_bar {
        margin-top: 0px;
        background-color: @purple;
        width: 2%;
        height: 5px;
    }
    .rfp_captcha_img {
        position: absolute;
    }
    input.captcha {
        padding-left: 10px;
    }
    .pcf-captcha .form-control {
        padding-left: 10px !important;
    }
    .col-md-7.pcf-captcha {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
    .err-reviewformmsg-area,
    .err-msg-area,
    .err-formmsg-area,
    .err-IE9-area {
        width: 100%;
        display: none;
        padding: 10px;
        border: 1px solid @red;
        border-radius: 0;
        margin: 7px 0px;
        p {
            .promo-details(@gray-20);
            float: left;
        }
    }
    .icon-warning {
        color: @red !important;
        .font-size(5.0);
        margin: 0px;
        float: left;
    }
    .err-reviewformmsg-area {
        margin-bottom: 10px;
    }
    .err-reviewformmsg-area .icon-warning {
        padding-left: 10px;
    }
    .icon-refresh {
        bottom: 24px !important;
        left: 122px !important;
        /*color: @light-green !important;*/

        position: static !important;
        float: left !important;
    }
    .pcf-refresh-label {
        font-weight: normal;
        text-align: left;
    }
    .pcf-refresh {
        position: relative !important;
        .promo-title(@gray-40);
        color: @medium-blue;
        margin: 12px 0px 1px 2px;
        cursor: pointer;
        .icon-refresh {
            color: @medium-blue !important;
            padding: 0 !important;
            margin: 0 5px 0 0 !important;
        }
        &:hover {
            text-decoration: underline;
            .icon-refresh {
                color: @medium-blue !important;
            }
        }
    }
    #captcha-refresh {
        padding: 0px 10px !important;
    }
    .rfp-back {
        display: none;
    }
    .rfpcq_captchatimer {
        margin-top: 0px;
        width: 100%;
    }
    .focusOutline .printtext {
        text-decoration: underline;
    }
    .focusOutline#removeRFP {
        text-decoration: none;
    }
    #printrfp,
    .icon-print-rfp {
        .font-size(2.5);
        line-height: 0.5;
        vertical-align: middle;
        margin-right: 10px;
        text-decoration: none;
        &:hover {
            .icon-print-rfp {
                color: @medium-blue !important;
                text-decoration: none;
            }
            .printtext {
                text-decoration: underline;
            }
        }
    }
    .submit-head {
        padding-left: 9px;
    }
    // .attached-documents,
    // .submit-message {
    //     //margin-bottom: 20px;
    // }
    .review-actions a {
        float: left;
    }
    .download-pdf {
        display: block;
        width: 140px ! important;
        padding-left: 20px;
    }
    .icon-chevron-left {
        color: @light-green !important;
        .font-size(1.6);
    }
    .left-align {
        float: left;
    }
    .form-group label {
        float: left;
        .promo-details(@gray-20);
        font-weight: normal;
        &.file-upload-label-hidden {
            font-size: 0;
            line-height: 0;
            padding: 0;
            margin: 0;
        }
    }
    .overfiew-privacy {
        color: @kpmg-blue;
        margin: 7px 0px;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
    .focusOutline.overfiew-privacy {
        box-shadow: 0 0 3px @medium-blue !important;
        outline: solid @medium-blue 1px !important;
    }

    .icon-browse {
        color: @light-green !important;
        .font-size(1.6);
    }
    .browse-disable {
        color: @gray-87 !important;
        cursor: none !important;
        text-decoration: none !important;
    }
    .icon-close {
        color: @kpmg-blue !important;
        .font-size(1.6);
    }
    .remove-browse,
    .cancel-browse,
    .file-browse,
    .disable-browse,
    .printtext {
        .promo-title(@gray-40);
        .hyphen;
    }
    .printtext {
        position: relative !important;
        margin-left: 5px;
    }
    #captcha-block {
        display: block;
        margin-bottom: 20px;
    }
    .rfp-back {
        display: none;
    }
    .focusOutline.rfp-back,
    .focusOutline.btn-step3 {
        text-decoration: none;
    }
    .focusOutline {
        .btn-copy, .desktop-back-cta {
            text-decoration: underline;
        }
    }
    .pull-right.mobile-only {
        float: left !important;
    }
    .rfp-nav .pull-right a {
        .cta-right(@gray-40);
    }
    .step3 .pull-right.mobile-only {
        margin-top: 12px;
    }
    .btn-step3.pull-right {
        margin-top: 12px;
    }
    .review-message.rfp-review {
        .set-font-size(2.4);
    }
    .review-attachments.rfp-review,
    .review-message.rfp-review {
        margin-left: 0 !important;
        padding-right: 0;
        li {
            .set-font-size(2.4);
        }
    }
    .col-md-12.rfp-request {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .msg-space-step2 {
        width: 100%;
        position: relative;
    }
    .file-nobrdr {
        border: none !important;
        height: auto !important;
    }
    .file-nobrdr {
        .promo-details(@gray-20) !important;
        @media @mobile {
            line-height: 3.5rem !important;
        }
    }
    #hide,
    .rfpPrint {
        display: none !important;
    }
    #print-head {
        .component-title(@kpmg-blue);
        .hyphen;
        margin: 0 0 10px 0;
    }
    .print-review,
    .print-request {
        float: none;
    }
    .printHeader,
    #printBody .primary-head {
        .promo-title(@kpmg-blue);
        margin: 7px 0px;
        .hyphen;
    }
    #printLogo {
        margin-bottom: 20px;
    }
    .reviewInfo {
        .font-size(1.6) !important;
        line-height: 1.3 !important;
        padding-bottom: 15px;
    }
    .review-border.divider {
        content: "";
        display: block;
        z-index: 1;
        height: 3px;
        border-bottom: 4px dotted #deeaf8;
        // background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x 100% 0;
    }
    @media print {
        * {
            -webkit-print-color-adjust: exact;
        }
        background-color: @white !important;
        font-family: @arial !important;
        .rfpPrint {
            display: block !important;
        }
        .module-bodytext h2 .primary-head {
            margin: 0px 0px 20px 0px !important;
        }
        .review-message,
        .rfp-review,
        .rfp-review .review-attachments {
            margin-bottom: 0px !important;
            float: none !important;
            .hyphen;
        }
        #start {
            display: none;
        }
        html,
        body {
            height: 99%;
            padding: 0px !important;
            margin: 0px !important;
            background-color: @white !important;
        }
        .modal,
        .module-rfpprocess,
        .modal-rfpdialog {
            width: 100% !important;
            margin: 0px !important;
            background-color: @white !important;
            padding: 0px !important;
        }
        .component,
        .form-step,
        .modal-content,
        .modal-box-container,
        .module-rfpprocess,
        .row,
        .contact-info {
            width: 100%!important;
            padding: 0px!important;
            border: none!important;
            margin: 0px!important;
            overflow: auto;
            position: static!important;
            background-color: @white !important;
        }
        @page {
            margin: 0.5cm;
        }
        .review-border.divider {
            content: "";
            display: block;
            z-index: 1;
            height: 3px;
            border-bottom: 4px dotted #deeaf8;
            // background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x 100% 0;
        }
    }
    .review-border {
        margin: 20px 0px 10px;

        &:empty {
            margin: 0;
        }
    }
    #rfp-review-author {
        margin-top: 25px;
    }
    .review-border p {
        font-family: @arial !important;
        .font-size(1.4) !important;
        line-height: 1.3 !important;
    }
    .expectation-text-block {
        .module-bodytext {
            background: none;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .custom-select {
        border: none;
        padding-left: 0px !important;
        width: 100%;
        border-radius: 0;
        margin: 0 0 5px 0;
        color: #333;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 120%;
        padding-right: 0px !important;
        background: none;
        position: relative;
        .selectbox-bg{
            background: @white;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 40px;
        }
        span.icon-chevron-down.select-icon{
            border-radius: 0 5px 5px 0;
            background: @medium-blue;
            color: @white;;
            height: 40px;
            width: 40px;
            padding: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            position: absolute;
            font-size: 19px;
            font-weight: 100;
            margin: -23px 0 0;
        }
        span.icon-chevron-down.select-icon:before{
            margin: 12px 0 0 10.5px;
            position: absolute;
        }
    }
    .rev-desc {
        margin-bottom: 10px;
        .promo-description(@gray-20);
    }
    #rfpConfirmBox,
    #rfpTerritory {
        display: none;
    }
    #rfpConfirmBox {
        margin-top: 0px;
        .icon-chevron-left {
            color: @light-green !important;
        }
        .icon-close {
            color: @light-purple;
        }
    }
    .confirm-block {
        margin: 0 0 40px 0;
        padding-bottom: 7px;
    }
    .request-details,
    .contact-info,
    #rfpConfirmBox {
        display: block;
    }
    .err-msg {
        color: @red !important;
    }
    .errorMsg {
        .promo-details(@gray-20);
        .hyphen;
        margin: 7px 0px;
        font-weight: bold;
    }
    #rfpConfirmBox {
        position: static;
        display: none;
    }
    .clr {
        clear: both;
    }
    #rfpMobileConfirm {
        display: block!important;
        float: none !important;
    }
    .fallback-checkbox {
        outline-color: @red;
        outline-style: solid;
        outline-width: thin;
    }
    .fileerror {
        font-family: @arial !important;
        font-weight: normal;
    }
    .errorDot:before {
        content: "\2022";
        font-family: @arial !important;
        padding-right: 4px;
    }
    .confirm-block a,
    .mobile-close a {
        color: @gray-40;
    }
    .mobile-close span,
    .confirm-block span {
        margin-right: 5px;
    }
    .IE9-msg-area {
        padding: 10px!important;
        display: none;
        p {
            margin: 7px 0px !important;
            float: none;
        }
    }
    .review-message {
        white-space: pre-line;
    }
    .file-browse {
        margin: 0px 1px;
        display: block;
        float: none !important;
        font-size: 18px !important;
        cursor: pointer;
    }

    .remove-browse,
    .cancel-browse {
        margin: 1px;
        @media @mobile{
            display: block;
            margin: 0px;
        }
    }
    .rfpSteps {
        /*.promo-title(@gray-20);*/

        margin: 8px 0;
    }
}
@media (min-width: @desktop-min-fixed) {
    .module-rfpprocess {
    .inner-container {
        #rfpFormStep1 {
            #rfpTerritory {
                float: right;
            }
        }
    }
}
    .modal-rfpdialog {
        .desktop-only {
            display: block !important;
        }
        width: 843px !important;
        .step0 h2,
        .step1 h2,
        .step2 h2 {
            .promo-title(@kpmg-blue);
            margin: 7px 0px;
            .hyphen;
        }
        .primary-head,
        .step3 h2,
        .step4 h2 {
            .promo-title(@kpmg-blue);
            margin-bottom: 7px;
            .hyphen;
        }

    }
    .modal-dialog .btn-close {
        margin-right: 0;
    }
}
.module-rfpprocess {
        .rfpcq_captchatimer {
            margin-top: 0px;
        }
        background-color: @gray-96;
        padding:0;
        margin: 0px;
        [class^="col-md-"], [class*="col-md-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .step0.col-md-12,
        .step1.col-md-12,
        .step2.col-md-12,
        .step3.col-md-12,
        .step4.col-md-12 {
            padding: 0 !important;
        }
        .mobile-nav-container {
            clear: none;
            display: none;
        }
        .steps .active:after {
            font-family: 'icomoon';
            content: '\e90e';
            bottom: -24px;
            left: 35%;
            top: auto;
            font-size: 1.6rem;
            color: #fff;
            margin: 0;
            width: 16px;
            height: 16px;
            .text,.text a:hover,&:hover{
                cursor: none;
                pointer: none;
                text-decoration: none;

            }
        }
        .module-bodytext {
            padding: 0px 0 20px !important;
            .primary-head {
                .promo-title(@kpmg-blue);
                margin: 7px 0px;
                .hyphen;
                .set-font-size(2.4) !important;
            }
        }
        section.module-bodytext{
            padding: 0 0 30px !important;
            &:empty {
                padding: 0 !important;
            }
        }
        .step0 {
            margin-top: 0;
        }
        .step0 .module-bodytext.component.bg-white.clearfix p {
            margin-bottom: 25px;
        }
        .steps {
            display: block;
            padding: 25px 0;
            @media @mobile{
                padding:15px 0;
            }
        }
        .steps,.disable{
            ul li {
                position: relative;
                .promo-title(@kpmg-blue);
                .hyphen;
                color: @persian-green;
                width: auto;
                display: inline-block;
                margin-left: 140px;
                .text a,.text,&:hover{
                    text-decoration: none;
                    cursor: default;
                }
                &:first-child{
                    margin-left: 0;
                }
                @media @mobile {
                    margin-left: 18px;
                }
            }
        }
        .steps ul li:last-child {
            border-bottom: 0;
        }
        .steps ul li.completed {
            cursor: pointer;
            color: @kpmg-blue;
            overflow: visible;
            position: relative;
            vertical-align: bottom;
            .text,.text a:hover{
                cursor: pointer;
            }
        }
        .steps .active .number-group:before {
            color: @white;
        }
        .steps,.disable {
            .completed .number-group:after {
                font-family: 'icomoon';
                content: '\e98a';
                font-size: 48px;
                top: 20px;
                left: 10px;
                position: absolute;
                color: @green1;
                z-index: 1;
                line-height: 1;
                @media @mobile{
                    font-size: 30px;
                    top: 14px;
                    left: 6px;
                }
            }
        }
        .steps .completed .number-group:before{
            color: @white;
        }
        .disable .completed .number-group:before{
            color: @white;
        }
        .disable .completed .number-group:after{
            color: @medium-blue;
        }
        .steps ul li span.number {
            color: #cfd0d1;
            font-size:65px;
            line-height: 1;
            position: relative;
            z-index: 2;
            margin: 0 0 10px 0;
            font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
            top: 6px;
            @media @mobile{
                font-size: 46px;
                top: 0px
            }
        }
        .steps ul li.completed a{
            background: @green1;
        }
        .steps ul li.completed span.number {
            font-size: 0;
            :before{
                content: '\e90b';
                font-size: 79px;
                color: @white;
                top: -26px;
                left: -40px;
                position: absolute;
                font-family: 'icomoon';
            }
        }
        .steps ul li.active span.number {
            color: @kpmg-blue;
        }
        .steps ul li.active:after {
            width: 0;
            height: 0;
            content: "";
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            bottom: -27px;
            @media @mobile{
                 left:25%;
                bottom: -18px;
            }
        }
        #captcha-block .pcf-captcha {
            padding-left: 0 !important;
        }
        .rfp-nav .pull-left {
            display: block;
        }
        .start {
            padding-top: 2px;
            padding-bottom: 10px;
        }
        .start .section-head {
            .set-font-size(1.8);
            line-height: 1;
            color: @light-blue;
            margin-bottom: 10px;
        }
        .rfp-back {
            margin: 1px;
            &:hover .desktop-back-cta {
                text-decoration: underline;
            }
        }
        #rfpFormStep0 label {
            .promo-details(@gray-20);

            &.label-invalid {
                display: block;
                width: 100%;
            }
            p {
                padding-left: 15px;
                padding-bottom: 5px;
                @media @mobile {
                    margin: 0px;
                    padding-bottom: 0px;
                }
            }
        }
        .step2 {
            .form-group.row {
                margin-bottom: 26px !important;
            }
            .col-md-10.desktop-col {
                padding-left: 1px !important;
                padding-right: 9px !important;
            }
            .help-block {
                color: @kpmg-blue;
                margin: 7px 0px 26px 21px !important;
                .set-font-size(1.6);
            }
        }
        .contact-info .form-group:first-child {
            margin-top: 0 !important;
        }
        #AlreadyClient {
            margin-top: 19px;
        }
        .review-holder,
        .form-group.review-holder {
            .promo-details(@gray-20);
            .hyphen;
            margin-top: 7px;
        }
        #rfpFormStep1 .btn-refresh.pcf-refresh-label {
            margin-top: 3px !important;
        }
        .icon-refresh.btn-refresh {
            padding-left: 9px;
        }
        .complete {
            .review-actions {
                color: @gray-40;
            }
            [class^="icon-"],
            [class*="icon-"] {
                color: @light-green;
            }
        }
        .rfp-request {
            .promo-details(@black);
            .set-font-size(2.4);
            margin-bottom: 45px;
            padding-left: 1px !important;
        }
        .rfp-request.rfp-msgHeader {
            margin-bottom: 37px;
            float: none;
        }
        .contact-info,
        .request-details {
            float: right;
        }
        .btn-step3.pull-right {
            margin: 1px;
        }
        .step4 .rfp-nav .pull-right {
            margin-top: 12px !important;
        }
        .expectation-text-block {
            .module-bodytext {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        .review-attachments.rfp-review,
        .review-message.rfp-review {
            margin-left: 0 !important;
        }
    }
.rfp-page-title {
    background: #c8c8c8; /* Old browsers */
    background: -moz-linear-gradient(top, #c8c8c8 2%, #d3d3d3 9%, #ffffff 17%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c8c8c8 2%,#d3d3d3 9%,#ffffff 17%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c8c8c8 2%,#d3d3d3 9%,#ffffff 17%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.rfp-page-stepcounter {
    background: @persian-green;
    .steps {
        text-align: center;
        padding: 28px 0 26px 0;
        @media @mobile {
            padding: 18px 0 18px 0;
        }
    }
    .inner-container {
        padding:0 10px;
    }
    &.stepsDisable{
        background: @medium-blue;
        li{
            background: @medium-blue;
        }
    }
    ul.current-step {
        max-width: 779px;
        width: 100%;
        position: relative;
        text-align: left;
        margin:0 0 0 6%;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: auto;
            border-top: 4px solid @white;
            background: @white;
            width: 98%;
            transform: translateY(-50%);
            right: auto;
        }
        @media @mobile{
            margin:0;
            max-width: 283px;
        }
        li{
            display: inline-block;
        }
    }
    .cancelRFP {
        position: absolute;
        right: -115px;
        top: 25%;
        background: #fff;
        border-radius: 50%;
        .rfp-confirm {
            display: block;
            font-size: 0;
            &:before {
                .set-font-size(1.6);
                padding: 28px 22px;
                display: block;
                @media @mobile{
                    padding: 14px 5px;
                }
            }
            @media @mobile{
                padding: 4px 5px;
            }
        }
        @media @mobile{
            right: -60px;
            top: 20%;
        }
    }
}

.rfp-page-steps {
    background: @gray-94;
    section {
        background: transparent;
    }
    .inner-container {
        padding:30px 10px;

        .rfp-success-block {
            @media @mobile {
                padding-bottom: 11px;
            }
        }
    }
    .cancel-screen {
        padding: 0px 10px
    }
    .rfp-step-title {
        background: @white;
        padding: 15px 0;
        .inner-container {
            padding:0 10px;
        }
        h3 {
            color: #00338D;
            font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
            line-height: 1;
            font-weight: normal;
            word-wrap: break-word;
            word-break: normal;
            .set-font-size(5.6);
        }
        p {
            color: @gray-40;
            font-weight: 300;
            .set-font-size(2.4);
        }
    }
    .contact-info.step1,
    .request-details.step2,
    .contact-info.step3{
        .btn-step1,
        .btn-step2,
        .btn-step3{
            margin-top: 12px;
            width: 530px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: @medium-blue;
            height: 51px;
            .btn-copy {
                float: none;
                color: @white;
                display: block;
                padding: 10px 0;
            }
            &:hover {
                .btn-copy {
                    text-decoration: none;
                }
            }
            @media @mobile {
                width: 100%;
                float: none !important;
            }
        }
        .btn-step1{
            margin: 0 2% 0 0;
            width: 48%;
            @media @mobile{
                width: 100%;
            }
        }
    }
    .request-details.step2{
        .pull-right{
            @media @mobile{
                width: 100%;
            }
        }
    }
    .contact-info.step4{
        .pull-left.printFocus{
            float: none !important;
        }
        .rfp-nav{
            margin:0;
            @media @mobile{
                margin-top: 29px;
            }
        }
        #printrfp,
        a.removeRFP{
            display: block;
            width: 98%;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: @medium-blue;
            padding: 10px 0;
            color: @white;
            .printtext{
                color: @white;
            }
            .icon-print-rfp{
                color: @white !important;
            }
        }
        #printrfp {
            background: @persian-green;
        }
    }
    .step4.complete {
        .rev-desc {
            font-size: 2.4rem;
        }
        .rfpID {
            font-size: 2.4rem;
        }
    } 
    .cancel-rfp-step a.rfpCancel,
    .cancel-rfp-step a.removeRFP {
        display: block;
        width: 98%;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: @medium-blue;
        padding: 10px 0;
        color: @white;
    }

    .cancel-rfp-step {
        min-height: 400px;
        .pull-right{
            float: none !important;
        }
        .pull-left{
            float: none !important;
        }
        h2{
            font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
            line-height: 1;
            font-weight: normal;
            word-wrap: break-word !important;
            word-break: normal !important;
            .set-font-size(5.4);
            margin: 20px 10px 39px 0;
        }
        p {
            .set-font-size(2.4);
        }    
    }
    .cancel-rfp-step a.removeRFP {
        background: @persian-green !important;
    }
    .contact-info.cancel-rfp-step{
        .pull-left.printFocus{
            float: none !important;
        }
        .rfp-nav{
            margin:0;
        }
        #printrfp,
        a.removeRFP{
            display: block;
            width: 98%;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: @medium-blue;
            padding: 10px 0;
            color: @white;
            .printtext{
                color: @white;
            }
            .icon-print-rfp{
                color: @white !important;
            }
        }
        #printrfp {
            background: @persian-green;
        }
    }
    .col-md-12.form-step,
    .cancel-rfp-step {
        display: none;
    }
    .col-md-12.form-step.step0 {
        display: block;
    }
}

@media print {
    .mobile-navbar-component {
        display: none !important;
    }
}