@import "../../global/css/_variables.less";

.module-touch-popularposts {
   background: @gray-94;

   .popular-posts-heading {
      padding: 13px 15px 20px 0;
      margin: 0;
      .font-size(2.4);
      color: @black;
      font-weight: bold;
   }

   .popular-posts-list {
      .list-item {
        color: @gray-20;
        .font-size(2.4);
        line-height: 1.2;
        padding: 21px 12px 23px 0;
        border-bottom: 1px dashed @gray-75;
        &:last-child {
          border-bottom: 0;
        }
        a {
           color: @gray-20;
        }
      }
   }
}


@media (max-width: 640px) {
  .module-touch-popularposts {
    .popular-posts-heading {
      padding: 0 15px 10px 0;
    }
    .popular-posts-list {
        .list-item {
          margin: 0;
          padding: 23px 0;
        }
    }
  }
}