@import "../../../../../../../global/css/_variables.less";
//
//
.ikon-trigger-with-navflyout-dropdown-component {
    > span.icon {
        font-size: 20px;
        &.icon-logged-out:before{
            content: "\e940";
            font-weight: bold;
        }
        &.icon-person1{
            position: relative;
            .notVerified {
                font-size: 0.7rem;
                position: absolute;
                top: 8px;
                right: 7px;
                display: none;
                color: @green1;
                text-rendering: auto;
            }
        }
    }
    &.show {
        .dropdown-trigger {
            // DESIGN
            background-color: @gray-96;
        }
    }
    .cursor-pointer {
        // DESIGN
        cursor: pointer;
    }
    .nav-flyout-fullbleed-component {
        // POSITION
        &.dropdown-menu {
            // POSITION
            border-top: none;
        }
    }
}
