{{#each customer-results.resultset.results.result}}
<div class="result desktopContainer">
   <div class="imgContainer">
      <a title="{{this.KPMG_Title}}" href="{{this.KPMG_URL}}" tabindex="-1">
      <img data-desktop="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-src="" alt="{{this.KPMG_Title}}" class="img-responsive lazy" />
      </a>
      {{#if this.KPMG_Contact_FN}}
      <h3 class="alt-secondary-head tertiary-trapezoid-bg image-title"><span>{{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}</span></h3>
      {{/if}}
   </div>
   <div class="textContainer">
      {{#quickViewCond this.KPMG_Tab_Type "People"}}
         <h3 class="secondary-head">{{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}</h3>
      {{/quickViewCond}}
      {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
         <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
      {{/quickViewCond}}
      {{#quickViewCond this.KPMG_Tab_Type "Events"}}
         <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
      {{/quickViewCond}}
      {{#if this.KPMG_Cont_Type_Path}}
         <span class="icon-{{contentTypeIcon this.KPMG_Cont_Type_Path}} icon"></span>
      {{/if}}
      <p class="description">{{this.KPMG_Description}}</p>
         {{#quickViewCond this.KPMG_Tab_Type "People"}}
            <p class="contact-tabs-date">{{this.KPMG_Article_Date_Time}}</p>
         {{/quickViewCond}}
         {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
            <p class="contact-tabs-date">{{this.KPMG_Article_Date_Time}}</p>
         {{/quickViewCond}}
         {{#quickViewCond this.KPMG_Tab_Type "Events"}}
            <p class="contact-tabs-date">{{this.KPMG_Event_Time}}</p>
         {{/quickViewCond}}
      <div class="quickView">
         <span class="icon-chevron-right"></span>
         <a href="#modal-container-quick-view{{@index}}" role="button" class="component-link" data-toggle="modal">{{../i18Labels.quickViewInTile}}</a>  
      </div>
   </div>
</div>
{{/each}}
<div class="loadMore">
   <span class="icon-add"></span>
   <a class="component-link btn-more" href="#"  title="{{i18Labels.moreButtonCopy}}">{{i18Labels.moreButtonCopy}}</a>
   </div>