<div class="facets-results-container">


   <div class="col-md-3 facets-container">
      <div class="facetsContent">
         <div class="facetsTitle">
            <span class="cancelFilter pull-left">{{i18Labels.cancelButtonCopy}}</span>
            <h3 class="secondary-head">{{i18Labels.refineSearchCopy}}</h3>
            <span class="applyFilter pull-right">{{i18Labels.applyButtonCopy}}</span>
         </div>
         <div class="clearAll">
            <span class="icon-chevron-right"></span>
            <a href="#" class="component-link clear-all-filters" title="{{i18Labels.clearAllCopy}}" data-link="{{customer-results.breadcrumbs.breadcrumb.breadcrumb-item.1.link}}">{{i18Labels.clearAllCopy}}</a>

         </div>
         <div class="facetsGroup">
            <ul class="resp-tabs-list">
               {{#each customer-results.facets-rail.facet}}
               <li class="facetFilters {{this.facet-title}}">
                  <h4 class="component-head"><span class="facetTitle">{{this.facet-title}}</span> <span class="icon-chevron-up"></span></h4>
                  <div class="facetsContainer">
                     <ul class="facetsOptions">
                        {{#each this.facet-values.facet-item}}
                        {{#moreItemsCheck @index}}
                        <li class="LT5Facets">
                           {{#if this.facet-selected}}
                           <label class="facetsCheckbox">
                           <input type="checkbox" class="facetBox"  value="{{this.facet-name}}" data-link="{{this.undolink}}" {{checkboxValidation this.facet-selected}}>
                           <span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                           {{else}}
                           <label class="facetsCheckbox checked">
                           <input type="checkbox" class="facetBox" value="{{this.facet-name}}"  data-link="{{this.link}}" {{checkboxValidation this.facet-selected}}>
                           <span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                        {{/if}}


                        </label>
                           {{#if this.facet-selected}}
                           <span class="icon-checkmark mblCheckmark"></span>
                           {{/if}}
                           {{#if this.facet-children}}
                           <span class="icon-chevron-up pull-right nestedFacetsToogleBtn"></span>
                           <ul class="nestedFacets">
                              {{#each this.facet-children.facet-child}}
                              {{#moreItemsCheck @index}}
                              <li class="LT5Facets"><label>
                                 <input type="checkbox" class="facetsCheckbox facetBox"  data-link="{{this.link}}" {{checkboxValidation this.facet-selected}} value="{{this.facet-name}}"><span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                              </li>
                              {{else}}
                              <li class="GT5Facets"><label>
                                 <input type="checkbox" class="facetsCheckbox facetBox"  data-link="{{this.link}}" {{checkboxValidation this.facet-selected}}><span class="facetName" value="{{this.facet-name}}">{{this.facet-name}}({{this.facet-count}})</span></label>
                              </li>
                              {{/moreItemsCheck}}
                              {{/each}}
                              {{#moreFacetsCheck this.facet-children.facet-child}}
                              <div class="moreFacets">
                                 <span class="icon-chevron-down"></span>
                                 <p class="component-link moreNestedFacetsLink" data-more="more-topics" title="{{../../../../../i18Labels.facetMoreButtonCopy}}">{{../../../../../i18Labels.facetMoreButtonCopy}}</a>
                              </div>
                              {{/moreFacetsCheck}}
                           </ul>
                           {{/if}}
                        </li>
                        {{else}}
                        <li class="GT5Facets">
                           <label>
                           <input type="checkbox" class="facetsCheckbox facetBox" data-link="{{this.link}}" {{checkboxValidation this.facet-selected}} value="{{this.facet-name}}"><span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                           {{#if this.facet-selected}}
                           <span class="icon-checkmark mblCheckmark"></span>
                           {{/if}}
                           {{#if this.facet-children}}
                           <span class="icon-chevron-up pull-right nestedFacetsToogleBtn"></span>
                            <ul class="nestedFacets">
                              {{#each this.facet-children.facet-child}}
                              {{#moreItemsCheck @index}}
                              <li class="LT5Facets"><label>
                                 <input type="checkbox" class="facetsCheckbox facetBox"  data-link="{{this.link}}" {{checkboxValidation this.facet-selected}} value="{{this.facet-name}}"><span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                              </li>
                              {{else}}
                              <li class="GT5Facets"><label>
                                 <input type="checkbox" class="facetsCheckbox facetBox"  data-link="{{this.link}}" {{checkboxValidation this.facet-selected}} value="{{this.facet-name}}"><span class="facetName">{{this.facet-name}}({{this.facet-count}})</span></label>
                              </li>
                              {{/moreItemsCheck}}
                              {{/each}}
                              {{#moreFacetsCheck this.facet-children.facet-child}}
                              <div class="moreFacets">
                                 <span class="icon-chevron-down"></span>
                                 <p class="component-link moreNestedFacetsLink" data-more="more-topics" title="{{../../../../../i18Labels.facetMoreButtonCopy}}">{{../../../../../i18Labels.facetMoreButtonCopy}}</a>
                              </div>
                              {{/moreFacetsCheck}}
                           </ul>
                           {{/if}}
                        </li>
                        {{/moreItemsCheck}}
                        {{/each}}
                     </ul>
                     <div class="dottedLine"></div>
                  </div>
                  {{#moreFacetsCheck this.facet-values.facet-item}}
                  <div class="moreFacets">
                     <span class="icon-chevron-down"></span>
                     <a class="component-link moreFacetsLink" data-more="more-topics"  title="{{../../i18Labels.facetMoreButtonCopy}}" href="javascript:void(0);">{{../../i18Labels.facetMoreButtonCopy}}</a>
                  </div>
                  {{/moreFacetsCheck}}
               </li>
               {{/each}}
            </ul>
         </div>
      </div>
   </div>

   <div class="col-md-8 resultsListingcontainer">
      <div class="resultslistingContent ">
         <div class="tabsList">
            <div class="resultTabs">
               <ul class="results-tabs-list">
                  {{#each customer-results.tabs.facet-values.facet-item}}
                  <li class="tabbedComponentTab {{#if this.facet-selected}} active {{/if}} {{#if this.link}} hasResults {{/if}}" data-link="{{this.link}}">
                     <p><span class="pull-left">{{this.facet-value}}</span><span class="pull-right tabCount">&nbsp;({{this.facet-count}})</span></p>
                  </li>
                  {{/each}}
               </ul>
            </div>
            <div class="searchresults-view">
               <div class="pull-right">
                  <span class="component-head">{{i18Labels.viewIconCopy}}</span>
                  <a href="javascript:void(0);" title="List View" aria-label="List view" class="icon-list-view active containerListView"></a>
                  <a href="javascript:void(0);" title="Grid View" aria-label="Grid view" class="icon-tile-view containerTileView"></a>
               </div>
            </div>
         </div>
         <div class="resultsContainer">
            <div class="sortResults">
               <div class="resultFound">
                   <h3><span id="totalResults">{{customer-results.searchheader.total}} </span>
                     {{i18Labels.resultsLineOne}}
                     {{#if customer-results.searchheader.searchQuery}}
                        "<span id="searchText">{{customer-results.searchheader.searchQuery}}</span>"
                     {{/if}}
                  </h3>
                  {{#showNoDataFound customer-results.resultset.featured_products.result customer-results.resultset.results.result}}
                  <div class="noDataFound">
                     <p>
                        {{#if customer-results.searchheader.searchQuery}}
                           {{i18Labels.noResultsCopyLineTwoPartOne}} "{{customer-results.searchheader.searchQuery}}" {{i18Labels.noResultsCopyLineTwoPartTwo}}
                        {{/if}}
                     <p>
                     <p>&nbsp;</p>
                     <h3>{{i18Labels.noResultsCopyLineThree}}</h3>
                     <p>{{i18Labels.noResultsCopyLineFour}}</p>
                     <p>{{i18Labels.noResultsCopyLineFive}}</p>
                     <p>{{i18Labels.noResultsCopyLineSix}}</p>
                  </div>
                  {{/showNoDataFound}}
               </div>
               <div class="sortByContainer">
                  <div class="sortBy">
                     <span class="sortByText">{{i18Labels.sortByCopy}}</span>
                     <div class="custom-select custom-class-name">
                        <select class="sortOptions">
                        {{#each customer-results.sort.sort-option}}

                        <option value="{{this.display-name}}" title="{{this.display-name}}" {{selectboxValidation this.selected}} data-link="{{this.link}}">
                           {{#compare this.display-name "eqi" "Most Viewed"}}
                              {{../../this.CQModel.i18nModel.sortingViewed}}
                           {{/compare}}
                           {{#compare this.display-name "eqi" "Most Popular"}}
                              {{../../this.CQModel.i18nModel.sortingPopular}}
                           {{/compare}}
                           {{#compare this.display-name "eqi" "By Date"}}
                              {{../../this.CQModel.i18nModel.sortingDate}}
                           {{/compare}}
                           {{#compare this.display-name "eqi" "Most Relevant"}}
                              {{../../this.CQModel.i18nModel.sortingRelevance}}
                           {{/compare}}
                        </option>


                        {{/each}}
                        </select>
                     </div>
                     <div class="refineButton">
                        <span class="icon-chevron-right"></span>
                        <span class="component-link facets-refine-btn" href="#" title="{{i18Labels.refineSearchCopy}}">{{i18Labels.refineSearchCopy}}</span>
                     </div>
                  </div>
               </div>
            </div>
            {{#resultSetEmptyCheck customer-results.resultset.featured_products.result customer-results.resultset.results.result}}
            <div class="resultsListContainer">
               {{#each customer-results.resultset.featured_products.result}}
               <div class="result desktopContainer">
                  <div class="badge">
                     <span class="icon-star-badge"></span>
                  </div>
                  <div class="imgContainer">
                     <a title="{{this.KPMG_Title}}" href="{{this.KPMG_URL}}" tabindex="-1">
                     <img data-desktop="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-src="" alt="{{this.KPMG_Title}}" class="img-responsive lazy" />
                     </a>
                     {{#if this.KPMG_Contact_FN}}
                     <h3 class="alt-secondary-head tertiary-trapezoid-bg image-title">
                        <span>
                           {{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}
                           {{#if this.KPMG_Contact_City}}
                               &#9679; {{this.KPMG_Contact_City}}, {{this.KPMG_Contact_Country}}
                           {{else}}
                               &#9679; {{this.KPMG_Contact_Country}}
                           {{/if}}
                        </span>
                     </h3>
                     {{/if}}
                  </div>
                  <div class="textContainer">
                     {{#quickViewCond this.KPMG_Tab_Type "People"}}
                        <h3 class="secondary-head">{{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}</h3>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
                        <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Events"}}
                        <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
                     {{/quickViewCond}}
                     {{#if this.KPMG_Cont_Type_Path}}
                        <span class="icon-{{contentTypeIcon this.KPMG_Cont_Type_Path}} icon"></span>
                     {{/if}}
                     <p class="description">{{this.KPMG_Description}}</p>
                     {{#quickViewCond this.KPMG_Tab_Type "People"}}
                        <p class="contact-tabs-date">{{this.KPMG_Article_Date_Time}}</p>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
                        <p class="contact-tabs-date contact-tabs-date-insights">{{this.KPMG_Article_Date_Time}}</p>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Events"}}
                        <p class="contact-tabs-date">{{this.KPMG_Event_Start_time}}</p>
                     {{/quickViewCond}}
                     <div class="quickView">
                        <span class="icon-chevron-right"></span>
                        <a href="#modal-container-quick-view{{@index}}" role="button" class="component-link" data-toggle="modal">{{../i18Labels.quickViewInTile}}</a>
                     </div>
                  </div>
               </div>
               {{/each}}
               {{#each customer-results.resultset.results.result}}
               <div class="result desktopContainer">
                  <div class="imgContainer">
                     <a title="{{this.KPMG_Title}}" href="{{this.KPMG_URL}}" tabindex="-1">
                     <img data-desktop="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{../assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-src="" alt="{{this.KPMG_Title}}" class="img-responsive lazy" />
                     </a>
                     {{#if this.KPMG_Contact_FN}}
                     <h3 class="alt-secondary-head tertiary-trapezoid-bg image-title">hi
                        <span>
                           {{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}
                           {{#if this.KPMG_Contact_City}}
                               &#9679; {{this.KPMG_Contact_City}}, {{this.KPMG_Contact_Country}}
                           {{else}}
                               &#9679; {{this.KPMG_Contact_Country}}
                           {{/if}}
                        </span>
                     </h3>
                     {{/if}}
                  </div>
                  <div class="textContainer">
                     {{#quickViewCond this.KPMG_Tab_Type "People"}}
                        <h3 class="secondary-head">{{this.KPMG_Contact_FN}}  {{this.KPMG_Contact_LN}}</h3>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
                        <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Events"}}
                        <h3 class="secondary-head"><a href="{{this.KPMG_URL}}" title="{{this.KPMG_Title}}">{{this.KPMG_Title}}</a></h3>
                     {{/quickViewCond}}
                     {{#if this.KPMG_Cont_Type_Path}}
                        <span class="icon-{{contentTypeIcon this.KPMG_Cont_Type_Path}} icon"></span>
                     {{/if}}
                     <p class="description">{{this.KPMG_Description}}</p>
                     {{#quickViewCond this.KPMG_Tab_Type "People"}}
                        <p class="contact-tabs-date">{{this.KPMG_Article_Date_Time}}</p>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Insights"}}
                        <p class="contact-tabs-date">{{this.KPMG_Article_Date_Time}}</p>
                     {{/quickViewCond}}
                     {{#quickViewCond this.KPMG_Tab_Type "Events"}}
                        <p class="contact-tabs-date">{{this.KPMG_Event_Start_time}}</p>
                     {{/quickViewCond}}
                     <div class="quickView">
                        <span class="icon-chevron-right"></span>
                        <a href="#modal-container-quick-view{{@index}}" role="button" class="component-link" data-toggle="modal">{{../i18Labels.quickViewInTile}}</a>
                     </div>
                  </div>
               </div>
               {{/each}}
               <div class="loadMore">
                  <span class="icon-add"></span>
                  <a class="component-link btn-more" href="#"  title="{{i18Labels.moreButtonCopy}}">{{i18Labels.moreButtonCopy}}</a>
               </div>

            </div>
            {{/resultSetEmptyCheck}}
         </div>
      </div>
   </div>
</div>
