<div class="sortByContainer">
    <div class="sortBy">
        <span class="sortByText">{{this.CQModel.i18nModel.sortByCopy}}</span>
        <div class="custom-select custom-class-name">
            <select class="sortOptions" aria-label="{{this.CQModel.i18nModel.sortByCopy}}">
                {{#each SelectBoxOptions}}
                <option value="{{this.display-name}}" {{selectboxValidation this.selected}} title="{{this.display-name}}" data-link="{{this.link}}">
                       {{#compare this.display-name "eqi" "Most Viewed"}}
                              {{../../this.CQModel.i18nModel.sortingViewed}}
                       {{/compare}}
                       {{#compare this.display-name "eqi" "Most Popular"}}
                          {{../../this.CQModel.i18nModel.sortingPopular}}
                       {{/compare}}
                       {{#compare this.display-name "eqi" "By Date"}}
                          {{../../this.CQModel.i18nModel.sortingDate}}
                       {{/compare}}
                       {{#compare this.display-name "eqi" "Most Relevant"}}
                          {{../../this.CQModel.i18nModel.sortingRelevance}}
                       {{/compare}}
                </option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
