{{#compare this.facet-title "eq" "KPMG_Filter_Year"}}
  <li class="facetFilters date {{this.category-hide}}">
{{/compare}}
{{#compare this.facet-title "neq" "KPMG_Filter_Year"}}
  <li class="facetFilters {{this.facet-title}} {{this.category-hide}} {{#moreFacetsCheck this.facet-values.facet-item}}more-facets-group{{/moreFacetsCheck}}">
{{/compare}}

   <h4 class="component-head"><span class="facetTitle">
     {{#compare this.facet-title "eq" "KPMG_Filter_Year"}}
         {{this.facet-values.KPMG_Filter_Year}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Cont_Type_Path"}}
         {{this.facet-values.KPMG_Cont_Type_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Geo_Rel_Path"}}
        {{this.facet-values.KPMG_Geo_Rel_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Market_Path"}}
        {{this.facet-values.KPMG_Market_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Service_Pth_Loc"}}
        {{this.facet-values.KPMG_Service_Pth_Loc}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Service_Path"}}
        {{this.facet-values.KPMG_Service_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Topic_Path"}}
        {{this.facet-values.KPMG_Topic_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Ind_Path_Loc"}}
        {{this.facet-values.KPMG_Ind_Path_Loc}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Ind_Path"}}
        {{this.facet-values.KPMG_Ind_Path}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_EVENT_MEM_FIRM"}}
        {{this.facet-values.KPMG_EVENT_MEM_FIRM}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Event_Mem_Firm"}}
        {{this.facet-values.KPMG_Event_Mem_Firm}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Cont_Mem_Firm"}}
        {{this.facet-values.KPMG_Cont_Mem_Firm}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_Blog_Topics"}}
        {{this.facet-values.KPMG_Blog_Topics}}
     {{/compare}}
     {{#compare this.facet-title "eq" "KPMG_FILTER_YEAR"}}
        {{this.facet-values.KPMG_FILTER_YEAR}}
     {{/compare}}
   </span> <span class="icon-chevron-up"></span></h4>
   <div class="facetsContainer">
      <ul class="facetsOptions">
         {{#each this.facet-values.facet-item}}


         {{#if this.facet-children}}
         <li class="{{#moreItemsCheck @index}} LT5Facets {{else}} GT5Facets {{/moreItemsCheck}} has-nested {{{this.facet-hide}}}">
         {{else}}
         <li class="{{#moreItemsCheck @index}} LT5Facets {{else}} GT5Facets {{/moreItemsCheck}}  {{{this.facet-hide}}}">
         {{/if}}
          {{#if this.facet-selected}}
            <span class="icon-checkmark mblCheckmark"></span>
            {{else}}
            <span class="icon-checkmark mblCheckmark visibilty-hidden"></span>
          {{/if}}
            {{#if this.facet-selected}}
                  <label class="facetsCheckbox checked">
                  <input type="checkbox" class="facetBox"  {{this.disabled}} value="{{{this.facet-name}}}" data-link="{{this.undolink}}" data-title="{{{../../this.facet-title}}}" data-key="{{{../../this.facet-key}}}{{#if ../../this.facet-has-children}}{{../../../this.parent-suffix}}{{/if}}"  data-name="{{{this.facet-name}}}" checked>

                  {{#compare this.facet-name "eqi" "All"}}
                    <span class="facetName">{{{../../../this.facet-values.ALL_TEXT}}}</span>
                  {{/compare}}
                  {{#compare this.facet-name "neq" "All"}}
                    <span class="facetName">{{{this.facet-name}}}</span>
                    {{#if this.facet-children}}
                      <span class="icon-chevron-down pull-right nestedFacetsToogleBtn" tabindex="0" aria-expanded="false"></span>
                    {{/if}}

                  {{/compare}}
                  </label>
            {{else}}
                  <label class="facetsCheckbox">
                  <input type="checkbox" class="facetBox" {{this.disabled}} value="{{{this.facet-name}}}"  data-link="{{this.link}}" data-title="{{{../../this.facet-title}}}" data-key="{{{../../this.facet-key}}}{{#if ../../this.facet-has-children}}{{../../../this.parent-suffix}}{{/if}}" data-name="{{{this.facet-name}}}">
                  {{#compare this.facet-name "eqi" "All"}}
                     <span class="facetName">{{{../../../this.facet-values.ALL_TEXT}}}</span>
                  {{/compare}}
                  {{#compare this.facet-name "neq" "All"}}
                    <span class="facetName">{{{this.facet-name}}}</span>

                  {{#if this.facet-children}}
                    <span class="icon-chevron-down pull-right nestedFacetsToogleBtn" tabindex="0" aria-expanded="false"></span>
                  {{/if}}

                  {{/compare}}
                  </label>
            {{/if}}

            {{#if this.facet-children}}

            <ul class="nestedFacets">
               {{#each this.facet-children.facet-child}}
               <li class="LT5Facets">
               {{#if this.facet-selected}}

                  {{#if this.facet-selected}}
                    <span class="icon-checkmark mblCheckmark"></span>
                  {{else}}
                     <span class="icon-checkmark mblCheckmark visibilty-hidden"></span>
                  {{/if}}
                  <label class="facetsCheckbox checked">
                  <input type="checkbox" class="facetBox"  value="{{{this.facet-name}}}" data-link="{{this.undolink}}" data-parent="{{{../../this.facet-name}}}" data-title="{{{../../../../this.facet-title}}}" data-key="{{{../../../../this.facet-key}}}{{../../../../this.child-suffix}}" data-name="{{{this.facet-name}}}" checked>
                  {{#compare this.facet-name "eqi" ../../this.facet-values.ALL_TEXT}}
                     <span class="facetName">{{{this.facet-name}}}</span></label>
                  {{/compare}}
                  {{#compare this.facet-name "neq" ../../this.facet-values.ALL_TEXT}}
                    <span class="facetName">{{{this.facet-name}}}</span></label>
                  {{/compare}}
               {{else}}
                  <span class="icon-checkmark mblCheckmark visibilty-hidden"></span>
                  <label class="facetsCheckbox">
                  <input type="checkbox" class="facetBox" value="{{{this.facet-name}}}"  data-link="{{this.link}}" data-parent="{{{../../this.facet-name}}}" data-title="{{{../../../../this.facet-title}}}" data-key="{{{../../../../this.facet-key}}}{{../../../../this.child-suffix}}" data-name="{{{this.facet-name}}}">
                  <span class="facetName">{{{this.facet-name}}}</span></label>
               {{/if}}
               </li>
               {{/each}}
            </ul>
            {{/if}}
         </li>
         {{/each}}
      </ul>
      <div class="dottedLine"></div>
   </div>
   {{#moreFacetsCheck this.facet-values.facet-item}}
   <div class="moreFacets">
      <span class="icon-chevron-down hidden"></span>
      <a class="component-link moreFacetsLink" data-more="more-topics" title="{{this.facet-values.more}}" href="javascript:void(0);" aria-expanded="false">{{this.facet-values.more}}</a>
   </div>
   {{/moreFacetsCheck}}
</li>
