<!-- Begin Component: Personalized MyKpmgPromo-->
<section class="module-mykpmgpromob component " hidePromoInTemplate="{{hbs.myKpmgPromo.hidePromoInTemplateVal}}" data-name-switch="{{hbs.myKpmgPromo.firstnameLastnameSwitch}}">
    <a title='{{i18n "kpmg.personalization.homepage.mykpmgpromo.learnmore" }}' tabindex="0"
    href="{{hbs.myKpmgPromo.learnmoreLink}}" alt='{{i18n "kpmg.personalization.homepage.mykpmgpromo.learnmore" }}'
    data-name="learnmore" class="component-link learnmore-link mykpmgpromo-container unknown-user clearfix" style="display:none;">
        <div>
            <h3 class="image-title">
                <span>
                    {{#if hbs.myKpmgPromo.isComponentAuthored}}
                        {{#if hbs.personalizationValues.level3Template}}
                            {{hbs.myKpmgPromo.promoTitle}}
                        {{/if}}
                    {{else}}
                        {{i18n "kpmg.personalization.homepage.mykpmgpromo.mykpmgprofile"}}
                    {{/if}}
                </span>
            </h3>
            <p class="mykpmgpromo-desc line-clamp line-clamp-4">
            {{#if hbs.myKpmgPromo.isComponentAuthored}}
                    {{#if hbs.personalizationValues.level3Template}}
                        {{hbs.myKpmgPromo.promoDescription}}
                    {{/if}}
            {{else}}
                {{i18n "kpmg.personalization.homepage.mykpmgpromo.unknownusermsg"}}
            {{/if}}
            </p>
            <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt="" class="icontag" />
        </div>
    </a>


    <div class="mykpmgpromo-container new-user clearfix" style="display:none;">
            <h3 class="image-title">
                <p>{{i18n "kpmg.personalization.homepage.mykpmgpromo.welcome"}}<span class="first-name"></span></p>
            </h3>
        <p class="mykpmgpromo-desc line-clamp line-clamp-4">{{i18n "kpmg.personalization.homepage.mykpmgpromo.newusermsg1"}} <a title="{{hbs.myKpmgPromo.interestsLink}}" href="{{hbs.myKpmgPromo.interestsLink}}">{{i18n "kpmg.personalization.homepage.mykpmgpromo.newusermsg2"}}</a>{{i18n "kpmg.personalization.homepage.mykpmgpromo.newusermsg3"}}<a class="learnmore-link" title="{{hbs.myKpmgPromo.learnmoreLink}}" href="{{hbs.myKpmgPromo.learnmoreLink}}" data-name="learnmore">{{i18n "kpmg.personalization.homepage.mykpmgpromo.newusermsg4"}}</a>.</p>
            <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt="" class="icontag" />
            <div class="primary-cta-space"></div>
        <div class="cta-wrapper">
            <span class="icon-chevron-right ">
                <a title="{{hbs.myKpmgPromo.dashboardLink}}" data-trackname="MYKPMGProfile" href="{{hbs.myKpmgPromo.dashboardLink}}" class="component-link my-kpmg-profile trackable">{{i18n "kpmg.personalization.homepage.mykpmgpromo.mykpmgprofilecta"}}</a>
            </span>
        </div>
    </div>

    <div class="mykpmgpromo-container non-new-user clearfix" style="display:none;">
            <h3 class="image-title">
                <p>{{i18n "kpmg.personalization.homepage.mykpmgpromo.welcome"}}<br/><span class="first-name"></span><span class="last-name"></span></p>
            </h3>
            <p class="mykpmgpromo-desc line-clamp line-clamp-4">{{i18n "kpmg.personalization.homepage.mykpmgpromo.nonnewusermsg"}}<br/><span class="logged-in-time"></span></p>
            <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt="" class="icontag" />
            <div class="primary-cta-space"></div>
        <div class="cta-wrapper">
            <span class="icon-chevron-right ">
                <a title="{{hbs.myKpmgPromo.dashboardLink}}" data-trackname="MYKPMGProfile" href="{{hbs.myKpmgPromo.dashboardLink}}" class="component-link my-kpmg-profile trackable">{{i18n "kpmg.personalization.homepage.mykpmgpromo.mykpmgprofilecta"}}</a>
            </span>
        </div>
   </div>
</section>
<!-- End Component: Personalized MyKpmgPromo -->
