<!-- Begin Component: Profile -->
<section class="module-profile component">
    <!-- loader -->
    <div style="width: 96%;position: absolute;z-index: 999;top: 1%; height:68%; " class="loading-container">
        <img style="margin:200px auto;" src="/etc/designs/kpmgpublic/images/loading.gif"/>
    </div>
    <!-- Profile read mode -->
    <form class="edit-myprofile-mode form-horizontal" role="form">
        <div class="profile-header">
            <p class="col-md-12 col-xs-12 title">{{i18n "kpmg.personalization.myaccount.profile.myinformation"}}</p>
            <p class="col-md-12 col-xs-12 registeredDate">{{i18n "kpmg.personalization.myaccount.profile.registered"}}&nbsp;<span></span></p>
        </div>
        <div class="account-information">
            <div class="header-wrapper">
                <p class="header account-info-header">{{i18n "kpmg.personalization.profile.accountinfo"}}<span class="info-colon">:</span></p>
                <p class="help-block header1 account-info-header email-resend-info">{{i18n "kpmg.personalization.myaccount.profile.email_not_verified"}}</p>
                <p class="social-login">{{i18n "kpmg.personalization.profile.loggedinusing"}}</p>
            </div>
            <div class="form-group social-login-form">
                <div class="col-md-3 form-label hidden-xs">
                    <span class="picon"></span>
                    <label class="control-label pname"></label>
                </div>
                <div class="col-md-9 vertical-align hidden-xs">
                    <label class="control-label-txt pcountry"></label>
                </div>
                <div class="col-xs-12 vertical-align visible-xs mobile-social-login">
                    <span class="picon"></span>
                    <label class="control-label pname"></label>
                    <label class="control-label-txt pcountry"></label>
                </div>
            </div>
            <div class="form-group first-element">
                <label for="email" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-profile-email-new new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.email"}}:
                </label>
                <div class="col-md-9 col-xs-6 social-email-value vertical-align">
                    <label class="control-label-txt pemail"></label>
                </div>
            </div>
            <div class="form-group pwd-block">
                <label for="password" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-password new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.password"}}:
                </label>
                <div class="col-md-9 col-xs-6 passwordblock vertical-align">
                    <label  class="control-label-txt ppassword">**********</label>
                </div>
            </div>
            <div class="resend-info">
                <button id="verfyEmail" type="button" class="btn btn-info" title="resend confirmation email">
                    {{i18n "kpmg.personalization.myaccount.verifyemail.resendconfirmation"}}
                </button>
            </div>
        </div>
        <div class="basic-information">
            <div class="header-wrapper">
                <p class="header">{{i18n "kpmg.personalization.profile.basicinfo"}}</p>
            </div>
            <div class="form-group salutation-block">
                <label for="Salutation" class="col-md-3 col-xs-6 form-label" aria-label="Salutation">
                    <span class="icon-salutation new-icon-size"></span>
                    {{i18n "kpmg.personalization.registration.profilePage.salutation"}}:
                </label>
                <div class="col-md-9 col-xs-6 salutation-value vertical-align">
                    <label class=" control-label-txt selected-salutation"></label>
                </div>
            </div>
            {{#if hbs.profile.firstnameLastnameSwitch}}
            <div class="form-group first-element">
                <label for="Lastname" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.lastname"}}:
                </label>
                <div class="col-md-9 col-xs-6 last-name-value vertical-align">
                     <label class="control-label-txt plastname"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="Firstname" class="form-label col-md-3 col-xs-6">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.firstname"}}:
                </label>
                <div class="col-md-9 col-xs-6 first-name-value vertical-align">
                    <label class="control-label-txt pfirstname"></label>
                </div>
            </div>
            {{else}}
            <div class="form-group first-element">
                <label for="Firstname" class="form-label col-md-3 col-xs-6">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.firstname"}}:
                </label>
                <div class="col-md-9 col-xs-6 first-name-value vertical-align">
                    <label class="control-label-txt pfirstname"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="Lastname" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.lastname"}}:
                </label>
                <div class="col-md-9 col-xs-6 last-name-value vertical-align">
                     <label class="control-label-txt plastname"></label>
                </div>
            </div>
            {{/if}}


        </div>
        <div class="professional-information">
            <div class="header-wrapper">
                <p class="header">{{i18n "kpmg.personalization.profile.professionalinformation"}}</p>
            </div>
            <div class="form-group first-element">
                <label for="Company" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-company new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.company"}}:
                </label>
                <div class="col-md-9 col-xs-6 company-value vertical-align">
                    <label class=" control-label-txt pcompany"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="Title" class="col-md-3 col-xs-6 form-label">
                    <span class="icon-role new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.title"}}:
                </label>
                <div class="col-md-9 col-xs-6 title-value vertical-align">
                     <label class="control-label-txt ptitle"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-md-3 col-xs-6 form-label" aria-label="country">
                    <span class="icon-country new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.country"}}:
                </label>
                <div class="col-md-9 col-xs-6 country-value vertical-align">
                    <label class="control-label-txt pcountry"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-6 form-label">
                    <span class="icon-client new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.kpmgclient"}}:
                </label>
                <div class="col-md-9 col-xs-6 client-value vertical-align">
                    <label class="control-label-txt pkpmgclient"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-6 form-label">
                    <span class="icon-employee-version-4 new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.kpmgemployee"}}:
                </label>
                <div class="col-md-9 col-xs-6 employee-value vertical-align">
                    <label class="control-label-txt pkpmgemployee"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-6 form-label">
                    <span class="icon-feedback new-icon-size"></span>
                    {{i18n "kpmg.personalization.dashboard.profile.providefeedback"}}:
                </label>
                <div class="col-md-9 col-xs-6 feedback-value vertical-align">
                    <label class="control-label-txt providefeedback"></label>
                </div>
            </div>
        </div>
        <div class="board-participation">
            <div class="header-wrapper">
                <p class="header hidden-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationsection"}}:</p>
                <p class="header visible-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationsection"}}</p>
                <p class="help-block header1 hidden-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationdescription"}}</p>
            </div>
            <div class="form-group site-email first-element">
                <div class="col-md-3 col-xs-6">
                    <label class="form-label" for="org">
                        <span class="icon-joomla new-icon-size"></span>
                        {{i18n "kpmg.personalization.myaccount.profile.organization"}}:
                    </label>
                </div>
                <div class="col-md-9 col-xs-6" id="board-group">
                </div>
            </div>
        </div>
        <div class="profile-footer">
            <button type="button" class="btn btn-info pull-right updateAccount" title="{{i18n 'kpmg.personalization.myaccount.profile.updatemyaccount'}}">
                {{i18n "kpmg.personalization.myaccount.profile.updatemyaccount"}}
            </button>
        </div>
    </form>

    <!-- Profile edit mode -->
    <form class="edit-myprofile form-horizontal" role="form">
        <div class="profile-header">
            <p class="col-md-12 title">{{i18n "kpmg.personalization.myaccount.profile.myinformation"}}</p>
            <p class="col-md-12 registeredDate">{{i18n "kpmg.personalization.myaccount.profile.registered"}}&nbsp;<span></span></p>
            <p class="required">{{i18n "kpmg.personalization.gigya.registration.required"}}</p>
        </div>
        <div class="account-information">
            <div class="header-wrapper">
                <p class="header">{{i18n "kpmg.personalization.profile.accountinfo"}}</p>
            </div>
            <div class="form-group first-element">
                <label for="email" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-profile-email-new new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.email"}}
                </label>
                <div class="col-md-9 col-xs-12 email-value vertical-align">
                    <label id="email" class="control-label-txt pemailinput"></label>
                </div>
                <div class="col-md-9 col-xs-12 email-read-value">
                    <label type="email" id="email-read-label" class="form-label pemailinput" required=""/></label>
                </div>
            </div>
            <div class="form-group passwordblock">
                <label for="password" class="col-md-3 col-xs-12 old-password form-label">
                    <span class="icon-password new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.password"}}
                </label>
                <div class="col-md-6 col-xs-12 old-password-input-block">
                    <input type="password" id="password" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.password'}}" class="form-control ppasswordinput" autocomplete="off">
                </div>
            </div>
            <div class="form-group passwordblock">
                <label class="col-md-3 col-xs-12 edit-profile-mode newpassword form-label">
                    <span class="icon-password new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.newpassword"}}
                </label>
                <div class="col-md-6 col-xs-12 new-password-input-block">
                    <input type="password" id="newpassword" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.password'}}" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="form-group passwordblock">
                <label class="edit-profile-mode col-md-3 col-xs-12 confirm-password form-label">
                    <span class="icon-password new-icon-size"></span>
                    {{i18n "kpmg.personalization.gigya.registration.confirm_password"}}
                </label>
                <div class="col-md-6 col-xs-12 confirm-password-input-block">
                    <input type="password" id="confirmpassword" placeholder="{{i18n 'kpmg.personalization.gigya.registration.confirm_password'}}" class="form-control" autocomplete="off">
                </div>
            </div>
            <!-- password help block -->
            <div class="password-info password-help-block">
                <ul>
                    <li class="help-header">{{i18n "kpmg.personalization.gigya.password_strength_description1"}}</li>
                    <li class="help-element">- {{i18n "kpmg.personalization.myaccount.profile.char"}}</li>
                    <li class="help-element">- {{i18n "kpmg.personalization.myaccount.profile.number"}}</li>
                    <li class="help-element">- {{i18n "kpmg.personalization.myaccount.profile.uppercase"}}</li>
                    <li class="help-element">- {{i18n "kpmg.personalization.myaccount.profile.lowercase"}}</li>
                </ul>
            </div>
        </div>
        <div class="basic-information">
            <div class="header-wrapper">
                <p class="header">{{i18n "kpmg.personalization.profile.basicinfo"}}</p>
            </div>
            {{#if hbs.profile.salutation}}
            <div class="form-group salutation-list-block">
                <label for="salutation-list" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-salutation new-icon-size"></span>
                    {{i18n "kpmg.personalization.registration.profilePage.salutation"}}
                </label>
                <div class="col-md-9 col-xs-12 salutation-input-value">
                    <div class="custom-select custom-class-name">
                        <select class="form-control salutation-input" id="salutations" name="salutations">
                            {{#each hbs.profile.salutation}}
                                <option title="{{this}}" value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if hbs.profile.firstnameLastnameSwitch}}
            <div class="form-group  first-element">
                <label for="Lastname" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.lastname"}}
                </label>
                <div class="col-md-9 col-xs-12 last-name-value">
                    <input type="Lastname" id="Lastname" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.lastname'}}" class="form-control plninput" required="" >
                </div>
            </div>
            <div class="form-group fn-wrap">
                <label for="Firstname" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.firstname"}}
                </label>
                <div class="col-md-9 col-xs-12 first-name-value">
                    <input type="Firstname" id="Firstname" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.firstname'}}" class="form-control pfninput" required="">
                </div>
            </div>
            {{else}}
            <div class="form-group fn-wrap first-element">
                <label for="Firstname" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.firstname"}}
                </label>
                <div class="col-md-9 col-xs-12 first-name-value">
                    <input type="Firstname" id="Firstname" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.firstname'}}" class="form-control pfninput" required="">
                </div>
            </div>
            <div class="form-group">
                <label for="Lastname" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-name new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.lastname"}}
                </label>
                <div class="col-md-9 col-xs-12 last-name-value">
                    <input type="Lastname" id="Lastname" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.lastname'}}" class="form-control plninput" required="" >
                </div>
            </div>
            {{/if}}
        </div>
        <div class="professional-information">
            <div class="header-wrapper">
                <p class="header">{{i18n "kpmg.personalization.profile.professionalinformation"}}</p>
            </div>
            <div class="form-group first-element">
                <label for="Company" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-company new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.company"}}
                </label>
                <div class="col-md-9 col-xs-12 company-value">
                    <input type="Company" id="Company" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.company'}}" class="form-control pcompanyinput">
                </div>
            </div>
            <div class="form-group">
                <label for="Title" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-role new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.title"}}
                </label>
                <div class="col-md-9 col-xs-12 title-value">
                    <input type="Title" id="Title" placeholder="{{i18n 'kpmg.personalization.myaccount.profile.title'}}" class="form-control ptitleinput">
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-md-3 col-xs-12 form-label">
                    <span class="icon-country new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.country"}}
                </label>
                <div class="col-md-9 col-xs-12 country-value">
                    <div class="custom-select custom-class-name">
                        <select class="form-control pcountryinput" id="Locations" name="Locations" data-errormessage-value-missing="Please specify the location of your company headquarters.">
                            <option title="{{i18n 'kpmg.personalization.myaccount.profile.selectcountrylocation'}}" value="">{{i18n "kpmg.personalization.myaccount.profile.selectcountrylocation"}} </option>
                            {{#each hbs.profile.locations}}
                                <option class="country-option" title="{{this.locationName}}" value="{{this.locationName}}" data-countrycode="{{this.siteCode}}" data-isocode="{{this.locationCode}}">{{ this.locationName }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group kpmgclient" tabindex="0">
                <label class="col-md-3 col-xs-8 form-label">
                    <span class="icon-client new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.kpmgclient"}}
                </label>
                <div class="col-md-9 col-xs-4 clientCheckbox">
                    <input type="checkbox" class="pkpmgclientinput" name="KPMGClient" value="Yes" id="kpmgclient" aria-describedby="kpmg-client" />
                    <label class="pkpmgclientinput" for="kpmgclient">
                    </label>
                </div>
            </div>
            <div class="form-group kpmgemployee" tabindex="0">
                <label class="col-md-3 col-xs-8 pkpmgemployeeinput form-label">
                    <span class="icon-employee-version-4 new-icon-size"></span>
                    {{i18n "kpmg.personalization.myaccount.profile.kpmgemployee"}}
                </label>
                <div class="col-md-9 col-xs-4 employeeCheckbox">
                    <input type="checkbox" class="pkpmgemployeeinput" name="KPMGEmployee" value="Yes" id="kpmgemployee" aria-describedby="kpmg-emp" />
                    <label class="pkpmgemployeeinput"  for="kpmgemployee"></label>
                </div>
            </div>
            <div class="form-group kpmgfeedback" tabindex="0">
                <label class="col-md-3 col-xs-8 feedback-input form-label">
                    <span class="icon-feedback new-icon-size"></span>
                    {{i18n "kpmg.personalization.dashboard.profile.providefeedback"}}
                </label>
                <div class="col-md-9 col-xs-4 feedbackCheckbox">
                    <input type="checkbox" class="feedback-input" name="KPMGFeedback" id="kpmgfeedback" value="Yes" aria-describedby="provide-feedback">
                    <label class="feedback-input" for="kpmgfeedback">
                    </label>
                </div>
            </div>
        </div>
        <div class="board-participation">
            <div class="header-wrapper">
                <p class="header hidden-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationsection"}}:</p>
                <p class="header visible-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationsection"}}</p>
                <p class="help-block header1 hidden-xs">{{i18n "kpmg.personalization.myaccount.profile.boardparticipationdescription"}}</p>
            </div>
            <div class="form-group first-element">
                <div class="col-md-3 col-xs-12">
                    <div class="edit-org">
                       <label for="org" class="org-list form-label">
                           <span class="icon-joomla new-icon-size"></span>
                           {{i18n "kpmg.personalization.myaccount.profile.organization"}}:
                       </label>
                   </div>
               </div>
               <div class="col-md-9 col-xs-12">
                   <div id="board-group">
                       <!-- content appended dynamically -->
                   </div>
               </div>
                <div class="board-wrap">
                    <div class="col-md-3 col-xs-12"></div>
                    <div class="col-md-9 col-xs-12">
                        <a href="javascript:void(0)" class="linkcta add-board">
                            <span class="icon-add new-icon-size"></span>
                            <span class="board-text">{{i18n "kpmg.personalization.myaccount.profile.addboard"}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-footer">
            <button type="button" class="btn btn-info linkcta cancel-save hidden-xs" title="{{i18n 'kpmg.personalization.myaccount.profile.cancel'}}">
                {{i18n "kpmg.personalization.myaccount.profile.cancel"}}
            </button>
            <button type="button" class="btn btn-info linkcta save-changes pull-right hidden-xs" title="{{i18n 'kpmg.personalization.myinterests.interests.savechanges'}}">
                {{ i18n "kpmg.personalization.myinterests.interests.savechanges"}}
            </button>
            <button type="button" class="btn btn-info linkcta save-changes col-xs-12 visible-xs" title="{{i18n 'kpmg.personalization.myinterests.interests.savechanges'}}">
                {{ i18n "kpmg.personalization.myinterests.interests.savechanges"}}
            </button>
            <button type="button" class="btn btn-info linkcta cancel-save col-xs-12 visible-xs" title="{{i18n 'kpmg.personalization.myaccount.profile.cancel'}}">
                {{i18n "kpmg.personalization.myaccount.profile.cancel"}}
            </button>
        </div>
    </form>
</section>

<div class="modal fade changes-saved verfyEmailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.verifyemail.close"}}</span>
                </span>
                <h4 class="verfyEmailModal-title">{{i18n "kpmg.personalization.myaccount.profile.changessaved"}}</h4>
            </div>
            <div class="modal-body">
                <p class="success-msg alert-success">
                    <span class="icon-checkmark"></span>{{i18n "kpmg.personalization.myaccount.profile.yourchangessavedsuccessfully"}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default col-md-6 pull-left btn" data-dismiss="modal">
                    <span class="icon-close"></span>{{i18n "kpmg.personalization.myaccount.profile.close"}}
                </button>
            </div>
        </div>
    </div>
</div> 
<!-- End Component: Profile -->
