{{#each results}}
<div class="partner-item col-md-12 col-xs-12" role="button" tabindex="0">
        <div class="officeDetails">
            <a href="{{this.pagePath}}" target="_blank" class="linkTag"></a>
            <div class="col-md-12 col-xs-12 no-padding">
                <span class="icon-location"></span><span class="locationName">{{this.title}}</span>
            </div>
            <div class="col-md-12 col-xs-12 address">
                <div>
                    <span>{{this.address1}}</span>
                </div>
                <div>
                    <span>{{this.address2}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            <p class="phone"><span class="icon-dialer dialerIcon"></span><a href="tel:{{this.phone}}">{{this.phone}}</a></p>
        </div>
</div>
{{/each}}
