div.title-and-cancel-button {
  background-color: @white;
  margin: -10px -10px 0;
  padding: 10px;

  div.title {
    h1 {
      padding: 25px 0;
      color: @kpmg-blue;
      font-family: @kpmgLight;
      font-size: 3em;
    }
  }

  div.cancelButton button {
    background-color: @white !important;

    span {
      background-color: @white !important;
    }
  }
}
