<!-- Begin Template: TmplTouchBlogHome -->
<section class="module-tmpl-touch-blog-home bs4">
    <!-- touch trifecta component -->
    <div class="trifecta-banner-row">
        <div class="col-md-12 col-12 trifecta-banner-col">
            {{ include "touchTrifectaBanner" resourceType="/apps/kpmgpublic/components/blogs/touchtrifectabanner"}}
        </div>
    </div>

    <!-- touch featured author component/touch recent posts component -->
    <div class="featured-author-row recent-posts-row videobanner-row">
        <div class="col-md-12 featured-author">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell3"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder"  path="cell3"}}
            {{/render}}
        </div>
    </div>
</section>
<!-- End Template: TmplTouchBlogHome -->
