<!-- Begin Component: Registrationpagetitle -->
<div class="module-registrationpagetitle component reg-component" >
	<section class="reg-section" >
		<!--<img src="{{hbs.globalValues.assetDomainName}}{{hbs.registrationPageTitle.imageFileReference}}/jcr:content/renditions/cq5dam.web.640.490.jpg" alt="{{hbs.registrationPageTitle.imageAltText}}" class="mobile-only">-->
		<img src="" alt="{{hbs.registrationPageTitle.imageAltText}}" class="desktop-only" id="regBanner"
			data-img="{{hbs.globalValues.assetDomainName}}{{hbs.registrationPageTitle.imageFileReference}}/jcr:content/renditions/cq5dam.web.1020.378.jpg"
			data-img2="{{hbs.globalValues.assetDomainName}}{{hbs.registrationPageTitle.imageFileReference2}}/jcr:content/renditions/cq5dam.web.1020.378.jpg"
			data-img3="{{hbs.globalValues.assetDomainName}}{{hbs.registrationPageTitle.imageFileReference3}}/jcr:content/renditions/cq5dam.web.1020.378.jpg"
			data-alt="{{hbs.registrationPageTitle.imageAltText}}"
			data-alt2="{{hbs.registrationPageTitle.imageAltText2}}"
			data-alt3="{{hbs.registrationPageTitle.imageAltText3}}"
			data-font="{{hbs.registrationPageTitle.font}}"
			data-font2="{{hbs.registrationPageTitle.font2}}"
			data-font3="{{hbs.registrationPageTitle.font3}}">
		<!-- <img src="{{hbs.globalValues.assetDomainName}}{{hbs.registrationPageTitle.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" alt="{{hbs.registrationPageTitle.imageAltText}}"> -->
		<div class="parent-container inner-container" >
			<div id="stepCounterContainerId" class="stepCounterContainer hideBlock" >
				<div id="stepCounter" class="stepCounter" >
					<div class="allStepCounters">
						<span id="counterFirst" class="counterIcons icon-step-icons-tick firstChild" ><span class="path1 icon"></span><span class="path2 icon"></span></span>

						<span id="counterSecond_a" class="counterIcons hideBlock icon-step-icons-tick" ><span class="path1 icon"></span><span class="path2 icon"></span></span>
						
						<span id="counterSecond_b" class="counterIcons hideBlock icon-step-icons-02" ><span class="path1 icon"></span><span class="path2 icon"></span></span>
						
						<span id="counterThird" class="counterIcons hideBlock icon-step-icons-03 lastChild" ><span class="path1 icon"></span><span class="path2 icon"></span></span>
					</div>
				</div>
			</div>
			<div class="reg-container" >
				<h1 id="regTitleD"
					data-reg-title="{{hbs.registrationPageTitle.title}}"
					data-reg-title2="{{hbs.registrationPageTitle.title2}}"
					data-reg-title3="{{hbs.registrationPageTitle.title3}}"
					class="reg-title desktop-only"></h1>
				<h1 id="regTitleM"
					data-reg-title="{{hbs.registrationPageTitle.shortTitle}}"
					data-reg-title2="{{hbs.registrationPageTitle.shortTitle2}}"
					data-reg-title3="{{hbs.registrationPageTitle.shortTitle3}}"
					class="reg-title mobile-only"></h1>
				<p id="regDescD"
					data-reg-desc="{{hbs.registrationPageTitle.description}}"
					data-reg-desc2="{{hbs.registrationPageTitle.description2}}"
					data-reg-desc3="{{hbs.registrationPageTitle.description3}}"
					class="reg-desc desktop-only" style="width:100% !important;"></p>
				<p id="regDescM"
					data-reg-desc="{{hbs.registrationPageTitle.shortDescription}}"
					data-reg-desc2="{{hbs.registrationPageTitle.shortDescription2}}"
					data-reg-desc3="{{hbs.registrationPageTitle.shortDescription3}}"
					class="reg-desc mobile-only"></p>
			</div>
			
		</div>
	</section>
</div>
<!-- End Component: Registrationpagetitle -->
