<section class="module-tmpl-press-releases">
    <div class="row">
        <div class="col-md-12 no-padding" >
            {{ include "fullbleedbanner" resourceType="/apps/kpmgpublic/components/global/fullbleedbanner"}}
        </div>
    </div>
  <div class="row hidden-xs ">
      <div class="col-md-12 ">
         <div class="inner-container">
            {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb" }}
         </div>
      </div>
   </div>

   <div class="inner-container" >
    <div class="row">
         <div class="col-full-width col-top" >
              {{ include "resultlisting" resourceType="/apps/kpmgpublic/components/content/resultlistingnotabs"}}
          </div>
    </div>
    </div>
</section>
