@import "../../global/css/_variables.less";
@import "utilities.less";

.modal-dialog.container {
    overflow: hidden;
}

#formReceipt {
        padding: 0px !important;
    }
div.module-contact-form {


    @import "grecaptcha.less";
    select::-ms-expand {
        display: none;
    }
    .contact-form-location {
        .custom-select {
            margin-bottom: 0 !important;
        }
    }
    button.btn-cta {
        padding: 0;
        right: 0;
        margin-top: 20px;
    }
    button.btn-cta:focus {
        outline: 0;
    }
    button.btn-cta.focusOutline{
        .btn-copy {
            text-decoration: underline;
        }
    }
    .contact-refresh.focusOutline {
        label { text-decoration: underline; }
    }
    .select-no-top-margin {
        margin: 0px 0 5px 0 !important;
    }
    .textarea-content {
        position: relative;
    }
    .custom-select { border: 0; }

    .contact-form-location .custom-select {
        margin: 19px 0 0 0;
    }
    .contact-tab-entry.focusOutline, .contact-tab-exit.focusOutline {
        border: none;
        outline: none;
    }
    .btn-refresh.contact-refresh {
        margin: 1px;
        &:hover {
            & .icon-refresh.btn-refresh {
                color: @medium-blue !important;
            }
        }
        &:focus {
            & .icon-refresh.btn-refresh {
                color: @medium-blue !important;
            }
        }
    }
    .btn-refresh.pcf-refresh.focusOutline {
        & .icon-refresh.btn-refresh {
            color: @medium-blue !important;
        }
        & .icon-refresh.btn-refresh {
            color: @medium-blue !important;
        }
    }
    .tertiary-head {
        .set-font-size(1.6);
        line-height: 120%;
    }
    .outer-shape.field-valid {
        border: none !important;
        .right-arrow {
            border-right: 10px solid @dark-green !important;
        }
        .left-box {
            background: @dark-green !important;
        }
    }
    .outer-shape.field-invalid {
        border: none !important;
        .right-arrow {
            border-right: 10px solid @red !important;
        }
        .left-box {
            background: @red !important;
        }
    }
    .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        margin-left: 0px;
    }
    label[for=terms] {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        .set-font-size(1.6);
        p {
            display: inline;
            vertical-align: top;
            a {
                vertical-align: top;
            }
        }
    }
    label[for=terms].field-valid {
        border: none !important;
        &:before {
            border :1px solid @dark-green;
        }
    }
    label[for=terms].field-invalid {
        border: none !important;
        &:before {
            border :1px solid @red;
        }
    }
    .hover-effect-in {
        &:before {
            border :1px solid @gray-40 !important;
        }
    }
    .focus-effect-in {
        &:before {
            box-shadow: 0 0 3px @kpmg-blue;
            outline: solid @kpmg-blue 1px;
            border: none !important;
        }
    }
    label[for=terms]:before {
        content: "";
        display: inline-block;

        width: 16px;
        height: 16px;

        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 2px;
        background-color: white;
        border :1px solid @gray-20;
    }
    input[type=checkbox]#terms {
        display: none;
        border :1px solid @gray-20;
        &:hover {
            border :1px solid @gray-40;
        }
    }
    input[type=checkbox]#terms:checked + label[for=terms]:before {
        content: "\e90a";
/*        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);*/
        font-size: 12px;
        color: @violet;
        text-align: center;
        line-height: 15px;
        padding-top: 1px;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    [required]:focus {
        box-shadow: 0 0 3px @kpmg-blue !important;
/*        outline: solid @kpmg-blue 1px !important;*/
        border-left: 4px solid @kpmg-blue !important;
        border-top: 1px solid @kpmg-blue !important;
        border-bottom: 1px solid @kpmg-blue !important;
        border-right: 1px solid @kpmg-blue !important;
    }
    .focusOutline {
        select[required]:focus {
            border-top: none !important;
            border-bottom: none !important;
            border-right: none !important;
        }
    }
    .privacy.focusOutline {
        box-shadow: 0 0 3px @medium-blue !important;
        outline: solid @medium-blue 1px !important;
        text-decoration: underline;
    }
    .control-captcha {
        input {
            .promo-details(@gray-60);
            margin-top: 5px !important;
            margin-bottom: 0 !important;
        }
        #cq_captchatimer {
            margin-bottom: 5px;
        }
    }
    .checkbox.terms {
        .label-invalid {
           /* top: -15px;*/
        }
    }
    .control-captcha {
        .label-invalid {
            position: relative !important;
            top: 6px !important;
            margin: 2px 0;
        }
    }
    .cf-placeholder {
        .promo-details(@gray-60) !important;
    }
    ::-webkit-input-placeholder { .cf-placeholder() } /* Chrome and Safari */
    ::-moz-placeholder { .cf-placeholder() } /* firefox 19+ */
    :-ms-input-placeholder { .cf-placeholder() } /* ie */
    input:-moz-placeholder { .cf-placeholder() }
    input.form-control:focus,
    textarea.form-control:focus,
    input.form-control.focusOutline,
    textarea.form-control.focusOutline {
        box-shadow: 0 0 3px @kpmg-blue;
        outline-color:  rgba(255, 255, 255, 0.01);
        border: 1px solid @kpmg-blue;
    }
    .custom-select.focusOutline {
        box-shadow: 0 0 3px @kpmg-blue;
        outline: solid @kpmg-blue 1px;

        select {
            outline: 0;
        }
    }
    .label-invalid {
        padding-left: 0px;
        left: 0px;
        position: relative;
        top: 0;
        width: 100%;
    }
    .field-valid {
        border-right: 1px solid @dark-green !important;
        border-top: 1px solid @dark-green !important;
        border-bottom: 1px solid @dark-green !important;
        border-left: 4px solid @dark-green !important;
    }
    .captchaDescription {
        .promo-details(@gray-20);
    }
    .captchaHelpLabel {
        .file-size(@gray-40);
        margin: 6px 0;
    }
    .outer-shape {
        display: inline-table;
        position: relative;
        top: 0;
    }
    .right-arrow {
        float: left;
        width: 0;
        height: 0px;
        border-top: 10px solid transparent;
        border-right: 10px solid #483698 !important;
        border-bottom: 10px solid transparent;
        vertical-align: middle;
    }
    .align-left{
        float:left;
    }
    .left-box {
        float: left;
        width: auto;
        background: #483698  !important;
        vertical-align: middle;
        .file-size(@white);
        padding: 1px 3px;
        line-height: 1.3;
    }

    .contact-checkbox {
        padding-left: 0;
        input {
            position: static;
        }
    }
    /*padding: 10px;*/
    .icon-chevron-right {
        //color: @light-green;
    }
    .btn-copy {
        .cta-right(@gray-40);
    }
    .description {
        .promo-description(@gray-20);
        margin: 8px 0;
    }
    .col-md-12 {
        padding-left: 0px;
        padding-right: 1px;
    }
    .cf-print-link {
        position: relative !important;
    }
    .print-no-left-right-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .dotted-border-top {
        .dotted-lightblue;
        margin: 20px 0 10px !important;
    }
   .processing-submit-icon {
       width: 16px;
       height: 16px;
       margin-right: 5px;
    }
    .btn-close {
        float: right;
        right: 20px !important;
        color:@purple !important;
    }
    .pcf-required {
        border-left: 4px solid @violet;
        margin: 7px 0;
        padding-left: 5px;
        height: 16px;
        .promo-details(@gray-20);
        /*padding-top:7px;    */
    }
    .col-md-6 {
        min-width:50% !important;
    }

   .col-xs-8, .c0l-md-8 {
       min-width: 66.66666667%;
    }
    /*.contact-form-message{
       margin-top: -17px;
    }*/

    div.contact-refresh {
        margin: 5px 0 0 0;
        padding: 0;
    }

    .contact-refresh{
        .promo-title(@gray-40);
        .hyphen;
        display: inline-block;
        padding: 1px !important;
        cursor:pointer;
        /*&:hover {
            .btn-refresh {
                color: @medium-blue;
            }
        }*/
    }
    .contact-refresh label {
        cursor:pointer;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    .col-xs-4, .col-md-4 {
        min-width: 33.33333333%;
    }

    .icon-refresh {
        bottom: 24px !important;
        left:122px !important;
        /*color:@light-green !important;*/
        position: static !important;
        color: @kpmg-blue !important;
    }

    .receiptWrapper {
    .imargin {
        margin-top: -8px;
    }

    a {
        /*text-transform: uppercase;*/
        color:@gray-40;
        float:right;
        cursor:pointer;
        margin-bottom:2px;
        right: 0px;
        left: 1px;
    }
    a:hover {
        text-decoration: underline;
        &.cf-print-link {
            text-decoration: none;
            display: inline-block;
        }
        &.component-link {
                text-decoration: none;
                display: inline-block;
        }
    }
    .print-text,
    .close-text {
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
    }
    .modal-content {
        border-radius:0 !important;
    }
    /*.contact-form-inquiry{
        margin-bottom:30px !important;
        padding-left:9px;
    }*/
    /*.contact-form-location{
        padding-left:9px;
    }*/
    .primary-head{
        .component-title(@kpmg-blue);
        margin: 0 0 10px 0;
        .hyphen;
    }
    .confirmPopUpHeading{
        .component-title(@kpmg-blue);
        margin: 0 0 10px 0;
        .hyphen;
    }
    .confirm-block{
        margin: 12px 0 0 0;
        span{
            margin-right: 5px;
        }
    }
    #contactFormConfirmBox {
        display: none;
        margin-top: 0px;
        padding:10px;
        .icon-chevron-left {
            color: @light-green !important;
        }
        .icon-close {
            color: @light-purple;
        }
        .contactconf-nav a:hover {
            text-decoration: underline;
        }


    }
    .contactconf-nav .pull-left a {
        .cta-left(@gray-40);
    }
    .contactconf-nav .pull-right a {
        .cta-right(@gray-40);
    }
    .contactconf-nav p {
        .promo-description(@gray-20);
        margin: 7px 0px 0px !important;
        .hyphen;
    }
    .form-control{
        border-radius:0;
        color:@gray-20;
        height: 25px;
    }
    textarea.form-control{
        height:150px;
    }

    .help-block{
        color: @gray-40;
        .set-font-size(1.4);
        padding-left: 0 !important;
        margin: 6px 0 !important;
    }

    .btn-refresh{
        /*text-transform:uppercase;*/
        font-weight: normal;
        cursor:pointer;
    }

    #cq_captchaimg{
        /*padding-top: 20px;*/
        margin: 6px 0;
    }
    .control-captcha .form-control{
        padding-left:10px;
        width: 100%;
    }
    #cq_captchatimer {
        width: 100%;
    }
    .reduce-gap {
        position: absolute !important;
    }
    .field-invalid {
        border-right:1px solid @red !important;
        border-top:1px solid @red !important;
        border-bottom:1px solid @red !important;
        border-left: 4px solid @red !important;
    }
    .field-valid {
        border-right:1px solid @dark-green !important;
        border-top:1px solid @dark-green !important;
        border-bottom:1px solid @dark-green !important;
    }
    .label-invalid{
        .file-size(@red);
        font-weight: normal;
        margin: 2px 0;
        padding-bottom: 1px;
        /*color:@red;*/
    }

    .pcf-form {

        .msgCharLeft {
            margin:7px 0;
            .promo-details(@gray-20);
            .count {
                position:static;
            }
        }
        //width: 500px;

        /*input {
           .line-height(1.75);
        }*/
        textarea,
        input {
            border: 1px solid @gray-60;
            .promo-details(@gray-20);
            width: 100%;
            margin: 19px 0 5px 0px;
            padding-left: 30px;
            padding-top: 3px;
            padding-bottom: 2px;

        }
        textarea:hover, input:hover {
            border: 1px solid @gray-40;
        }
       input[type=checkbox]  {
        padding-left:0;
        }
        input.captcha{
            padding-left: 10px;
        }
        textarea[data-validation-engine*='validate'],
        input[data-validation-engine*='validate'] {
            border-left: 4px solid @violet;
        }

        .form-group {
            margin-bottom:0px;
            position: relative;
            [class^="icon-"], [class*="icon-"] {
                color: @violet;
                .font-size(1.6);
                margin: 3px 5px;
            }
            .icon-refresh {
                margin: 0 5px 0 0 !important;
            }
            span.icon-phone {
                margin: 3px 4px 2px;
            }
        }

        .form_captcha{
            input{
                width: 60%;
                padding-left: 10px;
            }
        }

        .form-group {
             /*margin-bottom:9px;*/
            .col-md-12 {
                position: relative;
            }

            span {
                left: 5px;
                position: absolute;
                bottom: 6px;
            }

            .icon-email {
                bottom: 27px;
            }

            .icon-message {
                top: 5px;
                z-index: 100000;
            }

            .icon-warning {
                bottom: 0;
                position: relative;
            }
            .terms {
                .formError {
                    margin-top:-48px !important;
                }
            }
        }

        .btn-cta {
            position: relative !important;
            margin: 12px 0 0 0;
            float: right;
        }

        .form_captchatimer_bar {
            /*margin-left: -9px;*/
            /*margin-top: 10px;*/
            background-color: @dark-green;
            width: 2%;
            height: 5px;
        }

        #terms {
            margin-top: 1px;
            margin-bottom: 0px;
            width: 10%;
            position: relative;
            width: auto !important;
            bottom: -2px;
            margin: 10px 10px 0 0 !important;
            width: 16px !important;
            height: 16px;
            border:1px solid @gray-20;

            &:hover {
                border:1px solid @gray-40;
            }
        }

        .privacy{
            color:@medium-blue;
            margin: 5px 0 0 0;

        }

        .privacy:hover{
            text-decoration: underline;
        }
    }
    .receiptWrapper{
        h1.primary-head{
            .component-title(@kpmg-blue);
            margin: 0 0 10px 0;
            padding-bottom: 0px;
            width: 92%;
        }
        p.imargin {
            .promo-description(@gray-20);
            margin: 8px 0;
        }

        .clearfix{
            clear:both;
            p{
                white-space: pre-line;
            }
        }
        .receipient{
          /*  margin:7px 0; */
            padding-left: 0px;
            padding-right: 0px;
            p {
             /* clear:both;
                float: left; */
                margin: 7px 0;
                width: 100%;
                color: @gray-20;
                label{
                    font-weight:bold;
                    float:left;
                    white-space: pre-line;
                }
                span{
                   padding-left:5px;
                   white-space: pre-line;
                }
            }
            .mBottom {
                margin-bottom:20px;
            }
            .msgtop {
                margin-top:20px;
                margin-bottom: 0;
            }
        }
        .btn-close{
            position: relative;
        }
        .p10{
            padding:10px;
        }
        .icon-print{
            .font-size(1.6);
            color: @kpmg-blue;
        }
        .icon-chevron-right{
            .font-size(1.6);
            /* color: @light-green;
               margin-right: 15px; */
        }
        .icon-print:hover {
            color: @medium-blue;
        }
        .icon-chevron-right{
            margin-right: 0px !important;
        }
    }
    .icon-phone {
        font-size: 16px;
    }
    .icon-close {
        color: @light-purple;
        .font-size(1.6);
    }
    .custom-select {
        padding-left: 0px !important;
        width: 100%;
        border-radius:0;
        margin: 19px 0 5px 0;
        // background-size: 27px;
        /*background: #fafafa url("../../images/global/dropdown.png") no-repeat 100% 50%;*/
        .promo-details(@gray-20);
        select {
            height: 25px;
            padding-right: 28px;
            padding: 0px 8px;
            .promo-details(@gray-20);
            border: 1px solid @gray-60;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 55px !important;
        }
        select.custom-dropdown {
            -moz-appearance: none;
            padding: 2px 8px 4px 0;
        }
        select:hover {
            border: 1px solid @gray-40;
        }
    }
    .terms {
        /*padding-left: 9px !important;*/
        .promo-details(@gray-20);
        margin: 19px 0 24px 0;
        width: 100%;
        float: left;
    }

 .closebottom{
           float: right;
            margin: 12px 0 0 0;
            .page-description(@gray-40);
            a {
                .page-description(@gray-40);
            }
            .icon-chevron-right
            {
                font-size:1.6rem;
            }
        }
    .rec_print{
            float: left;
            margin-top: 10px;
        }

}

@media only screen and (max-width:@desktop-min-fixed) {
    div.module-contact-form {
            button.btn-cta{
            margin-top: 50px !important;
            }
    }
}

@media only screen and (max-width: 413px) {
    div.module-contact-form {
            .privacy{
            color: @medium-blue;
            margin: 5px 0 0 0 !important;
            /* display: block;*/
        }
		.pcf-form {
            .form-group {
                .icon-email {
                    top: 21px;
                }
            }
        }
        .contact-form-inquiry{
            padding-left: 0px !important;
        }
        .contact-form-location{
            padding-left: 0px !important;
        }
    }
}

@media (max-width: 640px) {
    .module-contact-form {

        .pcf-form #recaptchaOverlay {
            margin-right: -10px;
        }
        .pcf-form {
            input:lang(ja),
            input:lang(ko){
                &::-webkit-input-placeholder{
                    padding-top:3px;
                }
                &:-moz-placeholder{
                  padding-top:3px;
                }

                &::-moz-placeholder{
                  padding-top:3px;
                }

                &:-ms-input-placeholder{
                  padding-top:3px;
                }
                
            }
        }
    }
}

@media (min-width:@desktop-min-fluid) {

    .custom-select {
        padding-left: 0px !important;
        width: 88%;
    }
/*.module-contact-form {
    .colalign{
        .label-invalid{
            padding-left: 9px;
        }

    }

    }*/
}

.custom-select.ie-custom-select select {
    width: 120% !important;
}
.lt-ie10 .pcf-form input {
    .line-height(1);
}
.lt-ie10 .module-contact-form .contact-form-inquiry label {
    margin-left: 0px !important;
}
.lt-ie10 .module-contact-form .contact-form-location label {
    margin-left: 0px !important;
}
/*.lt-ie10 .module-contact-form .label-invalid {
    margin-left: 0px;
}*/
