@import "../../global/css/_variables.less";
@import "../../touch-fullbleed/css/touch-fullbleed.less";
@import "../../touch-download/css/touch-download.less";
@import "../../touch-postbody/css/touch-postbody.less";
@import "../../touch-post-highlight/css/touch-post-highlight.less";
@import "../../touch-bloglikes/css/touch-bloglikes.less";
@import "../../touch-blogshare/css/touch-blogshare.less";
@import "../../touch-bloglikesandshare/css/touch-bloglikesandshare.less";
@import "../../blogs-comment/css/blogs-comment.less";
@import "../../touch-video-post/css/touch-video-post.less";
@import "../../touch-language-toggle/css/touch-language-toggle.less";
@import "../../touch-post-stats/css/touch-post-stats.less";
@import "../../touch-relatedposts/css/touch-relatedposts.less";
@import "../../touch-author-spotlight/css/touch-author-spotlight.less";
@import "../../touch-image/css/touch-image.less";
@import "../../touch-inlinelist/css/touch-inlinelist.less";
@import "../../touch-columncontrol/css/touch-columncontrol.less";
@import "../../touch-breadcrumb/css/touch-breadcrumb.less";
@import "../../touch-mykpmgpromo/css/touch-mykpmgpromo.less";
@import "../../touch-author-summary/css/touch-author-summary.less";

.module-tmpl-touch-blog-post {
    background-color: @white;

    .column-3 {
        padding: 34px 45px;
    }

    .column-1 {
        padding: 34px 38px 34px 1px;
    }

    .col-md-height {
        border: none;
    }

    
}

@media (max-width: 640px) {
    .module-tmpl-touch-blog-post {
        .column-3,
        .column-1 {
            padding: 0;
        }
        .fullbleedrow{
            width: 100%;
        }
        .module-touch-fullbleed {
            .caption-wrapper {
                display: none;
            }
        }
        .blogs-breadcrumb {
            display: none;
        }

    }

}

@media (min-width: @desktop-min-fixed){
    .module-tmpl-touch-blog-post {
        .module-touch-relatedposts {
            .content-wrapper.safari {
                padding: 5px 30px;
            }
        }

    }
}
