<!-- Begin Component: Librarylist -->
<div class="module-librarylist component" article="true">
    <div class="librarylist-header col-md-12 hidden-xs">
        <div class="col-md-6 hidden-xs">
            <div class="custom-select">
                <select aria-controls="sortable-articles" aria-describedby="Article sort options" aria-label="sorting options" aria-live="assertive" class="form-control pcountryinput" id="sort-articles">
                    <option aria-label="{{i18n 'kpmg.personalization.public.list.sharelist.articlesavedate'}}" title="{{i18n 'kpmg.personalization.public.list.sharelist.articlesavedate'}}" value="0">
                        {{i18n "kpmg.personalization.public.list.sharelist.articlesavedate"}}
                    </option>
                    <option aria-label="{{i18n 'kpmg.personalization.public.list.sharelist.articlepublishdatea'}}" title="{{i18n 'kpmg.personalization.public.list.sharelist.articlepublishdatea'}}" value="1">
                        {{i18n "kpmg.personalization.public.list.sharelist.articlepublishdatea"}}
                    </option>
                    <option aria-label="{{i18n 'kpmg.personalization.public.list.sharelist.articlepublishdated'}}" title="{{i18n 'kpmg.personalization.public.list.sharelist.articlepublishdated'}}" value="2">
                        {{i18n "kpmg.personalization.public.list.sharelist.articlepublishdated"}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4 hidden-xs">
            <span class="listtitle line-clamp line-clamp-1">
                {{i18n "kpmg.personalization.library.librarylist.allsaveditems"}}
            </span>
        </div>
        <div class="col-md-2 hidden-xs">
            <span class="pull-right listcount">
                0 {{i18n "kpmg.personalization.library.librarylist.items"}}
            </span>
        </div>
    </div>
    <div class="librarylist-recommend col-md-12">
        <a class="pull-right closerecommended" href="#">
            <span class="icon-close">
            </span>
        </a>
        <h2 class="basic-title">
            {{i18n "kpmg.personalization.library.librarylist.recommendedforyou"}}
        </h2>
        <p class="basic-desc">
            {{i18n "kpmg.personalization.library.librarylist.listtipsdescription"}}
        </p>
    </div>
    <div id="sortable-articles">
        <input id="activeList" type="hidden"/>
        <input id="activeSort" type="hidden"/>
        <input id="defaultlisttitle" type="hidden" value="{{i18n 'kpmg.personalization.library.librarylist.allsaveditems'}}"/>
        <input id="itemsLabel" type="hidden" value="{{i18n 'kpmg.personalization.library.listmanagement.items'}}" />
        <div class="resultsListContainer">
            <div class="row row-same-height row-full-height resultSet col-nested article-container">

            </div>
            <div class="loadMore">
                <a class="component-link btn-more" href="javascript:" title="Load more">
                    <span class="icon-add">
                    </span>
                    <span class="text-link">
                        {{i18n "kpmg.search.moreButton"}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="librarylistmodal" role="dialog" tabindex="-1">
    <div class="modal-dialog container">
        <div class="modal-header">
            <a class="btn-close" data-dismiss="modal" href="#">
                <span class="icon-close">
                    <span class="sr-only">
                        {{i18n "kpmg.personalization.library.listmanagement.close"}}
                    </span>
                </span>
            </a>
        </div>
        <div class="modal-content">
        </div>
    </div>
</div>


