@import "../../global/css/_variables.less";
@mobile: ~ "only screen and (max-width: 640px)";

#librarylistmanagementmodal {
    select::-ms-expand {
        display: none;
    }
    .singlearticle,
    .multiplearticles {
        color: @red !important;
        padding: 16px 5px;
        div,
        ul li {
            margin-bottom: 0px;
        }
    }
    input.focusOutline,
    select.focusOutline {
        text-decoration: none !important;
    }
    select#listManagementLibrarylistdropdown::-ms-expand {
        display: none;
    }
    .focusOutline {
        box-shadow: 0 0 3px @medium-blue  !important;
        border: solid @medium-blue 1px !important;
    }
    .btn-cta {
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        width: 100%;
        border: 1px solid transparent;
        height: 50px;
        line-height: 3em;
        padding: 0;
        .icon-chevron-right {
            margin-right: 2px;
        }
    }
    .btn-cta#deletelistbtn {
        margin-bottom: 4px;
    }
    .btn-default {
        background-color: @white;
    }
    .btn-cancel {
        .icon-close {
            color: @light-purple;
            margin-right: 0;
        }
    }
    .btn-cta.close {
        .icon-close {
            color: @light-purple;
        }
    }
    .modal-header {
        padding: 0;
        border: none;
        min-height: auto;
        .btn-close {
            margin: 16px 10px;
            position: absolute;
        }
        .close-align {
            margin: 6px;
            margin-right: 0px;
        }
    }
    .modal-content {
        padding: 0;
        background-color: @gray-94;
        .alert-success {
            display: none;
        }
        .overlay-footer {
            .btn-cta.close {
                display: none;
            }
            .btn-cta.close.editsucessdismis {
                display: block;
            }
        }
        .alert-failure {
            display: none;
        }
    }
    .modal-content.savesuccess {
        .alert-success {
            background-color: @white;
            border: 1px solid @white;
            display: block;
            padding: 15px;
        }
        .alert-success.editsuccesssingle {
            padding: 0;
        }
        .desktop-only {
            display: inline;
        }
    }
    .modal-content.success {
        .overlay-content-inner {
            display: none;
        }
        .alert-success {
            display: block;
        }
        .overlay-footer {
            .btn-cta.cancel {
                display: none;
            }
            .btn-cta.close {
                display: initial;
            }
            .last-column .btn-cta {
                display: none;
            }
        }
        .alert-failure {
            display: none;
        }
    }

    .modal-content.failure {
        .overlay-content-inner {
            display: none;
        }
        .alert-success {
            display: none;
        }
        .overlay-footer {
            .btn-cta.cancel {
                display: none;
            }
            .btn-cta.close {
                display: initial;
            }
            .last-column .btn-cta {
                display: none;
            }
        }
        .alert-failure {
            display: block;
            color: @red;
            border: 1px solid @red;
            background-color: @white;
        }
    }

    .divider {
        margin: 0;
        border-top-color: @gray-60;
    }
    .overlay-footer {
        padding: 18px 9px;
    }
    .overlay-header .heading {
        .component-title(@kpmg-blue);
        margin: 0 0 14px 0;
    }
    .overlay-header .description {
        .promo-description(@gray-20);
    }
    .overlay-header .description + .alert {
        margin-top: 18px;
    }
    .overlay-header {
        background-color: @white;
        padding: 18px 20px;
    }
    .overlay-content {
        padding: 0 20px;
        background-color: @white;
        display: inline-block;
        width: 100%;
        p,
        .alert {
            margin-bottom: 18px;
        }
    }
    .alert {
        padding: 9px;
        width: 100%;
        .promo-description(@gray-20);
        .badge {
            float: right;
        }
    }
    .alert-error {
        color: @red;
    }
    .alert-success {
        color: @dark-green;
        border: 1px solid @dark-green;
        background-color: @white;
        .icon-checkmark {
            margin-right: 6px;
        }
    }
    .sm-container {
        width: auto;
        top: 95px;
    }
    @media(max-width: @desktop-min-fixed) {
        .alert-success {
            border: 0px none;
            padding: 0 0 18px 0;
            margin-bottom: 0 !important;
        }
        .modal-content.savesuccess {
            .mobile-only {
                display: inline;
            }
            .editsuccesssingle {
                padding: 0 0 15px 0px;
            }
        }
        .modal-content.editsuccessmodal {
            min-height: 700px;
        }
        .sm-align {
            padding-top: 15px;
            padding-right: 16px;
        }
    }
    .alert-info {
        color: @kpmg-blue;
        border: 1px solid @medium-blue;
    }
    .alert-info#clipboardinput {
        font-weight: 700;
    }
    .alert-info.alert-filled {
        background-color: @medium-blue;
        color: @white;
        height: 50px;
        line-height: 2em;
    }
    .new-list-controls,
    .edit-list-controls {
        background-color: @white;
        .btn-newlist {
            text-align: right;
            position: static;
        }
        .form-createlist,
        .form-editlist {
            padding: 9px 0;
            .btn-cta {
                height: initial;
                line-height: 1;
                display: block;
            }
        }
        .form-editlist {
            border: none;
        }
        &.is-editing {
            .btn-newlist {
                display: none;
            }
            .form-createlist,
            .form-editlist {
                display: block
            }
        }
        .error {
            display: none;
            margin-bottom: 9px;
            color: @red;
            .listnameexists,
            .empty {
                display: none;
            }
        }
        .has-error {
            .error {
                display: block;
            }
            input {
                border: 1px solid @red;
            }
        }
        input {
            width: 100%;
            font-size: 1.6rem;
            height: 25px;
            padding: 0 7px;
            border: 1px solid @gray-94;
        }
        input::-webkit-input-placeholder {
            font-size: 1.4rem;
        }
        .librarylist-controls {
            .btn-cta {
                text-align: right;
                padding: 0;
            }
            div:first-child .btn-cta {
                text-align: left;
            }
        }
    }
    @media @mobile {
        .modal-dialog.container {
            top: 0px;
        }
        .alert-info#clipboardinput {
            font-size: 1.6rem;
        }
    }
}

.module-librarylistmanagement {
    .icon-info:before {
        content: "\e943";
    }
    @media only screen and (max-width: 640px) {
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn-cta {
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        width: 100%;
        border: 1px solid transparent;
        height: 50px;
        line-height: 3em;
        position: static;
        padding: 0;
    }
    .focusOutline {
        box-shadow: 0 0 3px @medium-blue  !important;
        border: solid @medium-blue 1px !important;
    }
    .btn-default {
        background-color: @white;
    }
    .btn-cancel {
        .icon-close {
            color: @light-purple;
            margin-right: 10px;
        }
    }
    .full-bleed {
        background-color: @white;
    }
    .Librarylistmanagement {
        position: relative;
    }
    .librarylist-header {
        .heading {
            .component-title(@kpmg-blue);
            margin: 0 0 9px 0;
            padding: 9px 0;
        }
        .btn-newlist {
            display: block;
            text-align: right;
            position: absolute;
            top: 8px;
            right: 0;
            width: 130px;
            padding: 9px 0;
            line-height: 1;
        }
    }
    .librarylist-content {
        max-height: 600px;
        overflow-y: auto;
    }
    .librarylist {
        li.librarylistitem {
            border-bottom: 1px solid @gray-60;
            .promo-description(@gray-20);
            .edit-list-controls {
                display: none;
            }
        }
        li.librarylistitem.all {
            border-top: 1px solid @gray-60;
        }
        li.librarylistitem .librarylistname {
            display: block;
            padding: 18px 9px;
            position: relative;
            color: @gray-20;
            .title {
                .add-line-clamp(1, 1.6rem, 1.2, 1.6rem, 1.3);
            }
            &:focus {
                background-color: @light-blue;
                .title:after {
                    background: -webkit-linear-gradient(to left, rgba(0, 145, 218, 1), rgba(0, 145, 218, 0) 30%);
                    /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(to left, rgba(0, 145, 218, 1), rgba(0, 145, 218, 0) 30%);
                    /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(to left, rgba(0, 145, 218, 1), rgba(0, 145, 218, 0) 30%);
                    /* For Firefox 3.6 to 15 */
                    background: linear-gradient(to left, rgba(0, 145, 218, 1), rgba(0, 145, 218, 0) 30%);
                    /* Standard syntax*/
                }
            }
        }
        li.librarylistitem.active {
            background-color: @medium-blue;
            display: block;
            .librarylistname {
                color: @white;
                &:focus {
                    background-color: @medium-blue;
                }
            }
            .librarylistname .title:after {
                background: -webkit-linear-gradient(to left, rgba(0, 94, 184, 1), rgba(0, 94, 184, 0) 30%);
                /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(to left, rgba(0, 94, 184, 1), rgba(0, 94, 184, 0) 30%);
                /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(to left, rgba(0, 94, 184, 1), rgba(0, 94, 184, 0) 30%);
                /* For Firefox 3.6 to 15 */
                background: linear-gradient(to left, rgba(0, 94, 184, 1), rgba(0, 94, 184, 0) 30%);
                /* Standard syntax*/
            }
            [class^="icon-"],
            [class*=" icon-"] {
                color: @white;
            }
            .edit-list-controls {
                .form-editlist {
                    a {
                        color: @gray-20;
                        &:focus {
                            background-color: @white;
                        }
                    }
                    [class^="icon-"],
                    [class*=" icon-"] {
                        color: @light-green;
                    }
                    .icon-close {
                        color: @light-purple;
                    }
                }
            }
            .librarylistitem-actions {
                display: table;
            }
        }
        li.librarylistitem.is-editing {
            .list-inner {
                display: none;
            }
            .edit-list-controls {
                display: block;
            }
        }
        li.librarylistitem .badge {
            float: right;
        }
        li.librarylistitem .info {
            color: @red;
        }
        li.librarylistitem.active:first-of-type .actionitem .share {
            display: none;
        }
    }
    .librarylistitem.empty.active .actionitem .share,
    .librarylistitem.all.active .actionitem .delete,
    .librarylistitem.all.active .actionitem .edit,
    li[data-title="quicksavedlist"].active .actionitem .edit,
    li[data-title="quicksavedlist"].active .actionitem .delete {
        display: none;
    }
    .librarylistitem-actions {
        display: none;
        transition: all .5s linear;
        transition-property: display;
        position: relative;
        width: 100%;
        .actionitem {
            display: table-cell;
            width: calc(100% / 3);
            text-align: center;
            padding: 18px 9px;
            &:first-child {
                text-align: left;
            }
            &.last-child {
                text-align: right;
            }
            &:focus, a:focus {
                box-shadow: 0 0 3px @white;
                outline: 1px solid @white-transparent;
            }
        }
    }
    .search-input {
        position: relative;
        .form-group {
            margin-bottom: 0px;
        }
        input {
            width: 100%;
            height: 25px;
            padding-left: 7px;
            padding-right: 30px;
            .promo-details(@gray-40);
        }
        button {
            width: 25px;
            height: 25px;
            padding: 5px 5px 3px 5px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: @light-green;
            color: @white;
            border-left: 0;
            border-top: 1px solid @gray-60;
            border-bottom: 1px solid @gray-60;
            border-right: 1px solid @gray-60;
        }
    }
    .custom-select {
        padding-left: 0px !important;
        width: 100%;
        border-radius: 0;
        margin: 0px 0px 18px;
        .promo-details(@gray-20);
        select {
            height: 25px;
            padding-right: 28px;
            padding: 0px 8px;
            .promo-details(@gray-20);
            white-space: nowrap;
            overflow: hidden;
            padding-right: 55px !important;
        }
    }
    .custom-select {
        select {
            font-size: 1.6rem;
        }
    }
    .new-list-controls,
    .edit-list-controls {
        background-color: @white;
        .btn-newlist {
            text-align: left;
            position: static;
        }
        .form-createlist,
        .form-editlist {
            display: none;
            border: 1px solid @gray-60;
            .btn-cta {
                height: initial;
                line-height: 1;
                display: block;
            }
        }
        .form-createlist {
            padding: 9px;
        }
        .form-editlist {
            border: none;
            padding: 9px 0;
        }
        &.is-editing {
            .btn-newlist {
                display: none;
            }
            .form-createlist,
            .form-editlist {
                display: block
            }
        }
        .error {
            display: none;
            margin-bottom: 9px;
            color: @red;
            .listnameexists,
            .empty {
                display: none;
            }
        }
        .has-error {
            .error {
                display: block;
            }
            input {
                border: 1px solid @red;
            }
        }
        input {
            width: 100%;
            height: 25px;
            padding: 0 7px;
            border: 1px solid @gray-94;
        }
        .librarylist-controls {
            .btn-cta {
                text-align: right;
                padding: 0;
            }
            div:first-child .btn-cta {
                text-align: left;
            }
        }
    }
    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        .promo-details(@gray-80);
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        .promo-details(@gray-80);
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        .promo-details(@gray-80);
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        .promo-details(@gray-80);
    }
    @media(min-width: @desktop-min-fixed) {
        .librarylist-header {
            .btn-newlist {
                display: none;
            }
        }
        .new-list-controls .form-createlist {
            margin-top: -1px;
        }
        .search-list {
            display: none;
        }
    }
    @media(max-width: @desktop-min-fixed) {
        #librarylistmanagementmodal {
            .alert-success {
                .mobile-only {
                    display: inline;
                }
            }
        }
        .librarylist {
            li.librarylistitem {
                display: none;
                border: none;
                margin-bottom: 9px;
                .title {
                    font-weight: 700;
                }
            }
            li.all.active {
                position: relative;
                display: block;
                a.librarylistname {
                    position: static;
                    padding: 14px 9px 10px;
                    .badge {
                        float: none;
                        position: absolute;
                        bottom: 14px;
                    }
                }
            }
        }
        .new-list-controls {
            display: none;
        }
        .librarylist-content {
            overflow-y: auto;
        }
    }
}
