<div class="container mt-5 p-0 articles">
    <code id="latest-thinking-no-articles-found-error" class="mx-auto text-center d-none">
        {{i18n 'kpmg.ddt.latestthinking.noarticlesfound'}}
    </code>
    <div class="row">
        <!-- DYNAMIC ARTICLES PLACEHOlDER -->
    </div>
</div>

<script id="latest-thinking-article-hbs-template" type="text/x-handlebars">
    <div class="col-lg-4 article">
        <div title="
        \{{title}}" class="card h-100 rounded-0 border-0 col-12">

            <!-- ARTICLE LINK -->
            <a href="
              \{{href}}" class="nested-element-tracking position-absolute" data-link-location="latest-thinking-component" aria-label="{{title}}">
                <h1 class="d-none">
                    \{{title}}
                </h1>
            </a>

            <!-- ARTICLE IMAGE -->
            <div class="article-image">
                <img src="{{hbs.globalValues.assetDomainName}}\{{imgSrc}}/jcr:content/renditions/cq5dam.web.640.490.jpg" alt="{{ title }}" class="card-img-top rounded-0 img-fluid"/>
            </div>

            <!-- ARTICLE TITLE AND DESCRIPTION -->
            <div class="card-body border-0 rounded-0 d-flex flex-column justify-content-between p-0">
                <h4 class="card-title mt-2 text-kpmg-blue line-clamp line-clamp-2">
                    \{{ title }}
                </h4>
                <p class="card-text text-dark my-2 line-clamp line-clamp-6">
                    \{{ description }}
                </p>
                <div class="latest-thinking-add-to-library align-self-end w-100">
                    <div class="module-addtolibrary component self-contained clearfix" aria-label="{{i18n 'kpmg.personalization.library.sharedlist.addtolibrary'}}" style="display:none;">
                        <a
                            href="#"
                            class="addtolibrary-cta position-relative m-0 p-2"
                            data-backdrop="static"
                            data-keyboard="false"
                            data-modal-url=""
                            data-remote=""
                            id="addToLibrary"
                            aria-haspopup="true"
                            aria-label="{{i18n 'kpmg.personalization.library.sharedlist.addtolibrary'}}">
                            <span class="icon-star trackable m-0"></span>
                            <span class="btn-copy">
                                {{i18n hbs.addToLibrary.saveLabel}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>