{{#each hbs.latestthinking.featureCarouselList }}
    {{#if @first}}
        <div class="slide position-relative h-100" title="{{this.title}}">

            <!-- ARTICLE LINK -->
            <a href="{{this.articleLink}}" class="nested-element-tracking position-absolute"  aria-label="{{this.title}}" data-link-location="latest-thinking-component">
                <h1 class="d-none">
                    {{this.title}}
                </h1>
            </a>

            <!-- CAROUSEL SLIDE ROW-->
            <div class="row mx-0">

                <!-- COL-1 -->
                <div class="ddt-slide-content col-xs-12 order-2 col-lg-5 order-lg-1 order-sm-2 d-lg-flex flex-lg-column">

                    <!-- TITLE -->
                    <h1 class="line-clamp line-clamp-3">{{this.title}}</h1>

                    <!-- DESCRIPTION -->
                    <p class="line-clamp line-clamp-7 pr-lg-2">
                        {{this.description}}
                    </p>

                    <!-- ADD TO LIBRARY COMPONENT -->
                    <div
                        class="module-addtolibrary component self-contained clearfix mt-lg-auto"
                        aria-label="add to Library"
                        data-description="{{this.description}}"
                        data-shortdescription=""
                        data-href="{{this.articleLink}}"
                        data-image="{{this.image}}"
                        data-title="{{this.title}}"
                        data-shorttitle="{{this.shortDescription}}"
                        article="true"
                        data-article-type="">
                        <a href="#" class="addtolibrary-cta position-relative m-0 p-2" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="AddToLibrary3bd6" title="Add to library" aria-haspopup="true">
                            <span class="icon-star m-0"></span>
                            <span class="btn-copy">
                                {{i18n hbs.addToLibrary.saveLabel}}
                            </span>
                        </a>
                    </div>
                </div>

                <!-- COL 2 (CAROUSEL IMAGE)-->
                <div class="ddt-slide-img col-xs-12 order-1 col-lg-7 order-lg-2 order-sm-1 position-relative">
                    <!-- PRE-LOADING IMAGE -->
                    <img src="{{hbs.globalValues.assetDomainName}}{{this.image}}/jcr:content/renditions/cq5dam.thumbnail.48.48.png" alt="{{this.title}}" width="512" height="341" class="w-100 img-placeholder" data-scale="1:1.5">
                    <!-- FINAL IMAGE -->
                    <img src="{{hbs.globalValues.assetDomainName}}{{this.image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" alt="{{this.title}}" class="position-absolute w-100" style="left:0; top:0;"/>
                </div>
            </div>

        </div>
    {{/if}}
{{/each}}