<!-- Begin Component: LatestThinking -->
<div class="module-latest-thinking component component-trackable" id="latest-thinking">

    {{
      include "latest-thinking-title-and-description"   resourceType="/etc/partials/kpmgpublic/latest-thinking/title-and-description.hbss"
    }}

    {{
      include "latest-thinking-carousel"
      resourceType="/etc/partials/kpmgpublic/latest-thinking/carousel.hbss"
    }}

    {{
      include "latest-thiking-article-filters"
      resourceType="/etc/partials/kpmgpublic/latest-thinking/article-filters.hbss"
    }}

    {{
      include "latest-thinking-articles"
      resourceType="/etc/partials/kpmgpublic/latest-thinking/articles.hbss"
    }}

    {{
      include "latest-thinking-articles-placeholder"
      resourceType="/etc/partials/kpmgpublic/latest-thinking/articles-placeholder.hbss"
    }}

</div>
<!-- End Component: LatestThinking -->