@import "../../basicpagetitle/css/basicpagetitle";
@import "../../breadcrumb/css/breadcrumb";
@import "../../shortcarousel/css/shortcarousel";
@import "../../connectandrfp/css/connectandrfp";
@import "../../bodytext/css/bodytext";
@import "../../share/css/share";
@import "../../downloadbutton/css/downloadbutton";
@import "../../copyrightlist/css/copyrightlist";
@import "../../peoplefilmstrip/css/peoplefilmstrip";
@import "../../peoplefilmstripa/css/peoplefilmstripa";
@import "../../featuredarticles/css/featuredarticles";
@import "../../featuredtopics/css/featuredtopics";
@import "../../subheading/css/subheading";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../enhanceddownload/css/enhanceddownload";
@import "../../addtolibrary/css/addtolibrary";
.module-tmpl-magazine {
    .magazine-breadcrumb {
        margin-top: -9px;
    }

    .module-downloadbutton {
        background: #fff;
        margin-top: 0 !important;
    }

    .parsys-row {
        border-bottom: 0 none;
    }

    .module-mykpmgpromo {
        position: relative;

        .mykpmgpromo-custom-margin {
            bottom: 7px;
            right: 18px;
        }
    }

    @media (min-width: @desktop-min-fixed) {
        .module-connectandrfp {
            position: relative !important;
        }
    }
}
