<div class="navflyout-wrapper">
    <section class="module-navflyoutb flyout" personalize="{{hbs.flyoutnavigation.personalized}}" {{#if hbs.flyoutnavigation.personalized}}hidden{{/if}} no-of-results-required="{{hbs.flyoutnavigation.numberOfContents}}">
        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyoutb-background navflyoutb-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
                            <li class="navflyoutb-group-item"><a class="navflyoutb-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
                            {{/each}}
                        </ul>

                        {{#if hbs.flyoutnavigation.allLabelLink}}
                        <div class="all-label pull-right-align">
                            <span class="icon-chevron-right pull-left"></span>
                            <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="all-label btn-cta">
                                <span class="navflyoutb-uppercase">{{hbs.flyoutnavigation.pathIdentifier}}</span>
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top col-border-right">
                    <a class="cell-hover" href="{{hbs.flyoutnavigation.cellTwoFeaturedItemUrl}}" title="{{hbs.flyoutnavigation.cellTwoFeaturedItemAltText}}">
                        <div class="navflyoutb-feature-link navflyoutb-background">
                        {{#with hbs.flyoutnavigation}}
                            {{#if hbs.flyoutnavigation.imageConfigExists}}
                            <div data-picture data-alt='{{hbs.cellTwoFeaturedItemAltText}}'>
                                {{#hbs.flyoutnavigation.imageConfig}}
                                <div data-src="{{hbs.globalValues.assetDomainName}}{{../cellTwoFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div>
                                {{#if @last}}
                                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                                {{/if}}
                                {{/hbs.flyoutnavigation.imageConfig}}
                            </div>
                            {{else}}
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" alt="{{hbs.cellTwoFeaturedItemAltText}}" class="lazy img-responsive" data-desktop="{{hbs.globalValues.assetDomainName}}{{this.cellTwoFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.237.158.jpg" />
                            {{/if}}
                        <div>
                            <h3 class="navflyoutb-heading line-clamp line-clamp-2">{{this.cellTwoFeaturedItemHeading}}</h3>
                            <p class="navflyoutb-description line-clamp line-clamp-5">{{this.cellTwoFeaturedItemDescription}}</p>
                        </div>
                        {{/with}}
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top">
                    <a class="cell-hover" href="{{hbs.flyoutnavigation.cellThreeFeaturedItemUrl}}" title="{{hbs.flyoutnavigation.cellThreeFeaturedItemAltText}}">
                        <div class="navflyoutb-feature-link navflyoutb-background">
                            {{#with hbs.flyoutnavigation}}
                            {{#if this.imageConfigExists}}
                            <div data-picture data-alt='{{hbs.cellThreeFeaturedItemAltText}}'>
                                {{#this.imageConfig}}
                                <div data-src="{{hbs.globalValues.assetDomainName}}{{../cellThreeFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div>
                                {{#if @last}}
                                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                                {{/if}}
                                {{/this.imageConfig}}
                            </div>
                            {{else}}
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" alt="{{hbs.flyoutnavigation.cellThreeFeaturedItemAltText}}" class="lazy img-responsive" data-desktop="{{hbs.globalValues.assetDomainName}}{{this.cellThreeFeaturedItemImage}}/jcr:content/renditions/cq5dam.web.237.158.jpg" />
                            {{/if}}
                            <div>
                                <h3 class="navflyoutb-heading line-clamp line-clamp-2">{{this.cellThreeFeaturedItemHeading}}</h3>
                                <p class="navflyoutb-description line-clamp line-clamp-5">{{this.cellThreeFeaturedItemDescription}}</p>
                            </div>
                            {{/with}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row navflyoutb-hr">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <ul class="mob-secondary-menu">
            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
            <li class="navflyoutb-group-item"><a class="navflyoutb-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
            {{/each}}
            {{#if hbs.flyoutnavigation.allLabelLink}}
            <li class="navflyoutb-group-item">
                <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="navflyoutb-list  navflyout-clamp highlight-all">
                    {{hbs.flyoutnavigation.pathIdentifier}}
                </a>
            </li>
            {{/if}}
        </ul>
    </section>
</div>

{{ embed "navflyoutb" script="/etc/partials/kpmgpublic/navflyoutb/navflyoutb" id="template-navflyoutb" }}
