<div class="searchResultsCQModel" id="CQModel" data-CQModal='
    {
    "i18nModel": {
    "moreButtonCopy": "{{i18n hbs.searchResults.moreButtonCopy}}",
    "clearAllCopy": "{{i18n hbs.searchResults.clearAllCopy}}",
    "facetMoreButtonCopy": "{{i18n hbs.searchResults.facetMoreButtonCopy}}",
    "backButtonCopy": "{{i18n hbs.searchResults.backButtonCopy}}",
    "searchBarDefaultCopy": "{{i18n hbs.searchResults.searchBarDefaultCopy}}",
    "quickViewContactLinkCopy": "{{i18n hbs.searchResults.quickViewContactLinkCopy}}",
    "quickViewDownloadCopy": "{{i18n hbs.searchResults.quickViewDownloadCopy}}",
    "radioButtonOne": "{{i18n hbs.searchResults.radioButtonOne}}",
    "radioButtonTwo": "{{i18n hbs.searchResults.radioButtonTwo}}",
    "broadenSearchCopy": "{{i18n hbs.searchResults.broadenSearchCopy}}",
    "noResultsCopyLineTwo": "{{i18n hbs.searchResults.noResultsCopyLineTwo}}",
    "noResultsCopyLineThree": "{{i18n hbs.searchResults.noResultsCopyLineThree}}",
    "noResultsCopyLineFour": "{{i18n hbs.searchResults.noResultsCopyLineFour}}",
    "noResultsCopyLineFive": "{{i18n hbs.searchResults.noResultsCopyLineFive}}",
    "noResultsCopyLineSix": "{{i18n hbs.searchResults.noResultsCopyLineSix}}",
    "searchNPromoteUrl": "{{hbs.searchResults.searchNPromoteUrl}}",
    "tab0": "{{i18n hbs.searchResults.tab0}}",
    "tab1": "{{i18n hbs.searchResults.tab1}}",
    "tab2": "{{i18n hbs.searchResults.tab2}}",
    "tab3": "{{i18n hbs.searchResults.tab3}}",
    "tab4": "{{i18n hbs.searchResults.tab4}}",
    "tab5": "{{i18n hbs.searchResults.tab5}}",
    "quickViewInTile": "{{i18n hbs.searchResults.quickViewInTile}}",
    "resultsLineOne": "{{i18n hbs.searchResults.noResultsCopyLineOne}}",
    "viewIconCopy":"{{i18n hbs.searchResults.viewIconCopy}}",
    "noResultsCopyLineTwoPartOne": "{{i18n hbs.searchResults.noResultsCopyLineTwoPartOne}}",
    "noResultsCopyLineTwoPartTwo": "{{i18n hbs.searchResults.noResultsCopyLineTwoPartTwo}}",
    "noResultsLineThree": "{{i18n hbs.searchResults.noResultsLineThree}}",
    "contactFormLinkCopy": "{{i18n hbs.searchResults.contactFormLinkCopy}}",
    "lessButtonCopy": "{{i18n hbs.searchResults.lessButtonCopy}}",
    "shareLabel": "{{i18n hbs.searchResults.shareLabel}}",
    "refineSearchCopy": "{{i18n hbs.searchResults.refineSearchCopy}}",
    "sortByCopy": "{{i18n hbs.searchResults.sortByCopy}}",
    "viewIconCopy": "{{i18n hbs.searchResults.viewIconCopy}}",
    "cancelButtonCopy": "{{i18n hbs.searchResults.cancelButtonCopy}}",
    "applyButtonCopy": "{{i18n hbs.searchResults.applyButtonCopy}}",
    "date": "{{i18n hbs.searchResults.date}}",
    "KPMG_Filter_Year" :"{{i18n hbs.searchResults.KPMG_Filter_Year}}",
    "KPMG_Event_Location": "{{i18n hbs.searchResults.KPMG_Event_Location}}",
    "KPMG_Topic_Path": "{{i18n hbs.searchResults.KPMG_Topic_Path}}",
    "KPMG_Cont_Type_Path": "{{i18n hbs.searchResults.KPMG_Cont_Type_Path}}",
    "KPMG_Geo_Rel_Path": "{{i18n hbs.searchResults.KPMG_Geo_Rel_Path}}",
    "KPMG_Market_Path": "{{i18n hbs.searchResults.KPMG_Market_Path}}",
    "KPMG_Ind_Path_Loc": "{{i18n hbs.searchResults.KPMG_Ind_Path_Loc}}",
    "KPMG_Ind_Path": "{{i18n hbs.searchResults.KPMG_Ind_Path}}",
    "KPMG_Service_Pth_Loc": "{{i18n hbs.searchResults.KPMG_Service_Pth_Loc}}",
    "KPMG_Service_Path": "{{i18n hbs.searchResults.KPMG_Service_Path}}",
    "KPMG_Cont_Mem_Firm": "{{i18n hbs.searchResults.KPMG_Cont_Mem_Firm}}",
    "KPMG_Blog_Topics": "{{i18n hbs.searchResults.KPMG_Topic_Path}}",
    "didYouMean":"{{i18n hbs.searchResults.didYouMeanCopy}}",
    "resultsForCopy":"{{i18n hbs.searchResults.resultsForCopy}}",
    "resultsForCopyOne":"{{i18n hbs.searchResults.resultsForCopyOne}}",
    "yourRecentSearchCopy":"{{i18n hbs.searchResults.yourRecentSearchCopy}}",
    "ALL_TEXT":"{{i18n hbs.searchResults.allInFacets}}",
    "sortingViewed":"{{i18n hbs.searchResults.sortingViewed}}",
    "sortingPopular":"{{i18n hbs.searchResults.sortingPopular}}",
    "sortingDate":"{{i18n hbs.searchResults.sortingDate}}",
    "sortingRelevance":"{{i18n hbs.searchResults.sortingRelevance}}"
    },
    "smartLogicUrl": "{{hbs.searchResults.smartLogicUrl}}",
    "globalSearchUrl": "{{hbs.searchResults.globalSearchUrl}}",
    "globalSearchParam": "{{hbs.searchResults.globalSearchParam}}",
    "localSearchParam": "{{hbs.searchResults.localSearchParam}}",
    "peopleContactFormLink": "{{hbs.searchResults.peopleContactFormLink}}",
    "searchLanguage": "{{hbs.searchResults.SESLanguage}}",
    "activeSearch": "{{hbs.searchResults.activeSearch}}",
    "sesPrefixResultsLimit" :{{hbs.searchResults.sesPrefixResultsLimit}},
    "commonModelId" : "{{hbs.searchResults.commonModelId}}",
    "showTime":{{hbs.searchResults.showTime}},
    "localCountryModelId":"{{hbs.searchResults.localCountryModelId}}"
    }'>
</div>
<section class="module-searchresults component col-transparent">
    <div class="search-overlay">&nbsp;</div>
    <div class="web-spinner" {{#if hbs.isAuthor}} style="display:none;" {{/if}}>
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 547'%2F%3E"  width="1082" height="547" style="height: 400px;" class="desktop-only img-responsive" />
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 640 580'%2F%3E"  width="640" height="580" class="mobile-only img-responsive" />
    </div>

    <div class="row results-header-wrap" >
        <div class="col-md-12 results-header-inner-wrap">
            <div class="searchinputsContent hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-container">
                            <div class="col-md-12 results-header">
                                <div class="col-md-3 results-count"></div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="col-md-12 search-input">
                                            <div class="form-group">
                                                <label for="search" class="sr-only"></label>
                                                <input name="search" id="search" type="text" placeholder="{{i18n hbs.searchResults.searchBarDefaultCopy}}" />
                                                <button type="button" id="submitSearch" title="{{i18n hbs.searchResults.searchBarDefaultCopy}}" value="{{i18n hbs.searchResults.searchBarDefaultCopy}}"><span class="icon-search"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <form class="form-group search-radio-form-group">
                                            <fieldset>
                                                <legend>filter results by:</legend>
                                                <div class="search-input-first-option">
                                                    <input name="search-type" type="radio" id="this-site" value="this-site" checked="checked" />
                                                    <label for="this-site">{{i18n hbs.searchResults.radioButtonOne}}</label>
                                                </div>
                                                <div class="search-input-second-option">
                                                    <input name="search-type" type="radio" id="all-sites"  value="all-sites" />
                                                    <label for="all-sites">{{i18n hbs.searchResults.radioButtonTwo}}</label>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-3 sortResults"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row facets-results-container  row-full-height tmpl-row col-nested" >
        <div class="col-md-3 col-md-height col-full-height col-top col-sm-height facets-inner-wrap">
            <div class="tabsContainer">
                <div class="tabsList">
                    <div class="resultTabs">
                        <ul class="results-tabs-list">
                        </ul>
                    </div>
                </div>
            </div>
            <button class="advanced-search-cta hidden" aria-expanded="false" data-filterbytext="{{i18n 'kpmg.accessibility.filterBy'}}">
                <span>{{i18n 'kpmg.search.searchresults.advancedsearch'}}</span>
                <span class="icon-chevron-down pull-right accordion"></span>
            </button>
            <div class="facets-container hidden">
                <!-- IMG SPINNER -->
                <div class="facets-spinner"></div>

                <div class="facets-overlay"></div>

                <div class="facetsContent">
                    <div class="facetsTitle">
                        <span class="cancelFilter pull-left icon-close"></span>
                        <h3 class="secondary-head">{{i18n hbs.searchResults.title}}</h3>
                        <a href="javascript:void(0)" class="applyFilter pull-right">
                            <span class="icon-chevron-right"></span>
                            {{i18n hbs.searchResults.applyButtonCopy}}
                        </a>
                    </div>
                    <div class="clearAll">
                        <a href="#" class="component-link clear-all-filters" title="CLEAR ALL" data-link="{{customer-results.breadcrumbs.breadcrumb.breadcrumb-item.1.link}}">
                            <span class="icon-clear-all"></span>
                            <span class="btn-copy">{{i18n hbs.searchResults.clearAllCopy}}</span>
                        </a>
                    </div>
                    <div class="facetsGroup">
                        <ul class="resp-tabs-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-height  col-full-height col-top resultsListingcontainer col-sm-height col-nested">
            <div class="resultslistingContent ">
                <div class="resultsContainer">
                    <div class="resultsSet ">
                        <div class="resultsListContainer">
                            <div class="row row-same-height row-full-height resultSet col-nested">
                            </div>
                            <div class="loadMore">
                                <a class="component-link btn-more" href="#"  title="{{i18n hbs.searchResults.moreButtonCopy}}">
                                    <span class="icon-add"></span>
                                    <span class="text-link">{{i18n hbs.searchResults.moreButtonCopy}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript">
    (function() {
        var searchResultsModel = {
                queries: getUrlParams(decodeURIComponent(location.href)),
                CQModel: JSON.parse(document.getElementById('CQModel').getAttribute("data-cqmodal"))
            },
            requestUrls = {
                globalSearchParam: searchResultsModel.CQModel.globalSearchParam,
                localSearchParam: searchResultsModel.CQModel.localSearchParam,
                smartLogicURL: searchResultsModel.CQModel.smartLogicUrl
            },
            paramData = generateQuery(),
            req = (searchResultsModel.queries.all_sites === "true") ? requestUrls.globalSearchParam : requestUrls.localSearchParam,
            reqWithOutFacets = req.concat('&facets=false');
            reqWithOutFacets = paramData + reqWithOutFacets;

        if (document.referrer.match(/\/events\.html$/)) {
            reqWithOutFacets += '&q1=Events&x1=KPMG_Tab_Type';
        } else if (document.referrer.match(/\/insights\.html$/)) {
            reqWithOutFacets += '&q1=Insights&x1=KPMG_Tab_Type';
        } else if (document.referrer.match(/\/press-releases\.html$/)) {
            reqWithOutFacets += '&q1=Press+releases&x1=KPMG_Tab_Type';
        } else if (document.referrer.match(/\/contacts\//)) {
            reqWithOutFacets += '&q1=People&x1=KPMG_Tab_Type';
        } else if( document.referrer.indexOf(window.kpmgPersonalize.blogPath) > 0 ) {
            reqWithOutFacets += '&q1=Blogs&x1=KPMG_Tab_Type';
        }

        fetchResults(reqWithOutFacets);

        function fetchResults(data) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if(this.status == 200) {
                        //success
                        window.KPMG = window.KPMG || {};
                        window.KPMG.searchResults = JSON.parse(this.responseText);
                        window.KPMG.searchParams = {
                            url: '?' + paramData,
                            param: data
                        };

                        //To handle when S&P call is taking time

                        // Need to improve on this as document.createEvent("CustomEvent") is depricated.
                        /* var event = new CustomEvent("searchResultsPrioritize");
                        document.dispatchEvent(event);*/
                        var evt = document.createEvent("CustomEvent");
                        evt.initCustomEvent('searchResultsPrioritize', false, false, {});
                        document.dispatchEvent(evt);
                    } else {
                        //fail
                    }
                }
            };
            xhttp.open("GET", "/search?"+data, true);
            xhttp.send();
        }

        function generateQuery() {
            var queryUrl = window.location.search ? window.location.search.replace('?', '') : "";
            //queryUrl += (searchResultsModel.queries.q) ? "&q=" + encodeURIComponent(searchResultsModel.queries.q) : "";
            if(!searchResultsModel.queries.q){
                queryUrl = decodeURIComponent(queryUrl);
            }
            if (queryUrl.indexOf('facets=true') > -1 || queryUrl.indexOf('facets=false') > -1) {
                queryUrl = queryUrl.replace(/&?facets=(true|false)/gi, '');
            }
            return queryUrl;
        }

        function getUrlParams(queryString) {
            var keyArrays = [];
            try {
                var queryComponents = queryString.indexOf("?") > -1 ? queryString.split("?"): "",
                    q = queryComponents[1] ? queryComponents[1].split("&") : "",
                    keyArrays = [];
                for(var i = 0; i<q.length ; i++) {
                    var  s = q[i].split("=");
                    keyArrays[s[0]] = decodeURI(s[1]);
                }

            } catch (err) {
            }
            return keyArrays;
        }
    })();
</script>
