@import "../../global/css/_variables.less";

.module-tagcloud {
  
  
      .tertiary-head {
            .promo-title(@kpmg-blue);
            margin: 8px 0px;
      }
/* Unwanted styles to be removed - Aparna 16/10/2015      
      .tagcloud-container span {
                   
      }
*/      
      .tagContainer {
        margin: 7px 0px;
        .tags {
          .promo-description(@gray-20); 
          margin:0 20px 0 0;
        }
      }  
}