<!-- Begin Component: TouchLanguageToggle -->
<div class="module-touch-language-toggle component">
    <h2 class="toggle-title">
        <span class="icon-LangToggle"></span> {{hbs.languageToggle.blogLanguageToggleTitle}}
    </h2>
    <div class="toggle-container">
        <p class="description">{{hbs.languageToggle.blogLanguageToggleDescription}}</p>
        <ul class="toggle-list">
            {{#each hbs.languageToggle.languageLinkList}}
                <li class="list-item">
                    <a href="{{this.blogPostUrl}}" class="list-item-text" title="{{this.languageLabel}}">{{this.languageLabel}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<!-- End Component: TouchLanguageToggle -->
