@import "../../global/css/_variables.less";

.module-connectwithme {
    position: relative;

    .primary-head {
        .component-title(@light-purple);
        .hyphen;
        text-transform: none;
        margin: 0 0 10px 0;
    }


    .list-group-item {
        margin: 8px 0;
        input {
          padding: 0;
        } 
        .list-desc {
            .promo-title(@kpmg-blue);
            .hyphen;
            text-transform: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .tel-anchor {
            input {
                border: 0;
                width:100%;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .location-details {
            display: block;
        }

        &:first-child .list-desc {
            text-decoration: none;
            word-break: break-all!important;
        }
        span.icon-mobile{
            line-height: 20px;
        }
    }

    .connectwithme-connect-custom-padding {
        display: table-cell;
        vertical-align: middle;
    }

    .channel-links-icon {
      //text-transform: capitalize !important;
    }

    span.icon-location,
    span.icon-email,
    span.icon-mobile,
    span.icon-facebook,
    span.icon-twitter,
    span.icon-linkedin,
    span.icon-google-plus,
    span.icon-xing,
    span.icon-slideshare,
    span.icon-youtube,
    span.icon-pinterest,
    span.icon-vk,
    span.icon-weibo,
    span.icon-wechat,
    span.icon-mixi,
    span.icon-viadeo,
    span.icon-youku,
    span.icon-line,
    span.icon-tudou
    {
        color:@light-purple;
        display: inline-block;
        margin: 0 5px 0 0;
        .font-size(1.6);

        &:before {
            color:@light-purple;
        }

    }
    span.icon-instagram{
     &:before {
            color:#676767;
        }
    }

    span.icon-chevron-right {
        margin: 0 5px 0 0;
        .font-size(1.6);
    }

    .connectwithme-rfp {

        .rfp-space {
            min-height: 87px;
        }

        .rfp-container {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 10px;

            .tertiary-head {
                .promo-title(@kpmg-blue);
                .hyphen;
            }

            span.icon-email:before {
                font-size: 16px;
            }

            &:before {
                .dotted-lightblue;
                margin: 20px 0 10px;
            }
        }
    }

    .rfp-cta-space {
        .cta-right(@gray-40);
    }
    .submit_focus {
        .cta-right(@gray-40);
        bottom: 0;
        right: 0;
    }

    .component-data-link {
        text-transform: none;
        font-size: inherit;
        .hyphen;
    }

}

@media (min-width: @desktop-min-fluid) {
    .module-connectwithme {
        // everything in here will be for breakpoint at 980px and up
        input[type="tel"] {
           cursor:default
        }
        
    }
}
@media only screen and (max-width: 640px) {
    .tel-anchor {
        input {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
