<!-- Begin Template: TmplTouchBlogAuthorlanding -->
<section class="module-touch-blog-authorlanding bs4">
    <!-- touch fullbleed banner component -->
    <div class="row">
        <div class="col-md-12 fullbleedrow">
            {{ include "touchfullbleed" resourceType="/apps/kpmgpublic/components/blogs/touchfullbleedbanner"}}
        </div>
    </div>

    <!-- authors list header component -->
    <div class="author-list-header-row">
        {{ include "blogauthorlist" resourceType="/apps/kpmgpublic/components/blogs/blogauthorlist"}}
    </div>

</section>
<!-- End Template: TmplTouchBlogAuthorlanding -->
