<div class="contact-tabs-item col-md-12 promotional-cell-hover">
    <a class="contact-cta-wrapper" href="{{this.url}}" title="{{this.jcrTitle}}">
        <div class="col-md-4">
            <img src="{{this.imageFileReference}}data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E"
            alt="{{this.imageAltText}}" data-mobile="{{this.assetDomainName}}{{this.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg"
            data-desktop="{{this.assetDomainName}}{{this.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg"
            class="img-responsive lazy"/>
        </div>
        <div class="col-md-8">
            <h3 class="secondary-head">{{this.jcrTitle}}</h3>
            <p class="publication-date">{{this.publishDate}}</p>
            <p class="short-description">{{this.jcrShortDescription}}</p>
        </div>
    </a>
</div>
