@import "../../../../../../../global/css/_variables.less";
//
.site-selector-list-component {
    span.icon {
      font-size: 18px;
    }
    a.selected-site{
      font-weight: bold;
      pointer-events: none;
      cursor: default;
      text-decoration:none;
    }
    &.h-100{
      min-height: 310px !important;
    }
    .first-child-margin-top:first-of-type{
      margin-top: 1rem !important;
    }
  }

div#navigation-v2, div#navigation-v2-preloader {
  .site-selector-list-component {
    .site-selector-font{
      font-size:1.6rem !important;
    }
  }
}