@import "../../../global/css/_variables.less";

div.article-filters {

  select, input[type=button] {
    background-color: @white;
    color: @medium-blue;
    &.active {
      background-color: @medium-blue;
      color: @white;
    }
  }
}
