@import "../../global/css/_variables.less";

.overviewPanel {
    background: @kpmg-blue; 
    color: @white; 
    display:block; 
    height:auto;
    padding: 20px 20px 50px;

    .container {
        margin-top: 10px;
    }


    h1, h2, h3 { 
        .font-size(4.8); 
        margin-bottom: 15px;
        font-family: @kpmgLight;
        font-weight: normal;
    }

    .headline { 
        font-family: @kpmgLight;
        .add-line-clamp-mobile( 2, 7.4, 8, 2, 6.4, 6, #e5eaf3);
    }

    .mainDescription {
        p { 
            .font-size(1.6);
            .line-height(2.4); 
            color: @white;
            font-family: @arial; 
            margin-bottom: 20px;
            a{
                color: @white;
                &:hover, &:visited{
                    color: @white;
                }
            }

            @media only screen and (max-width: @mobile-max-fixed) {
                .font-size(2);
                .line-height(2.9); 
            }
        }
    }

    .overview {
        display: flex;
    }

    .panel {
        padding: 15px;
        border: 4px solid @kpmg-blue; 
        background: @kpmg-blue;
        color: @white;
        font-family: @kpmgLight;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        overflow: visible;

        &:first-child {
            margin-left:0;
            border-left: none;
        }

        &:last-child {
            margin-right:0;
            border-right: none;
        }
        

        img {
            margin: 15px 0;
            align-self: flex-start;
            flex-grow: 0;
        }

        H2, H3 { 
            font-family: @kpmgLight;
            .add-line-clamp-mobile( 2, 4.8, 4, 2, 4.8, 4, #e5eaf3);
            margin-bottom: 15px;
            flex-grow: 0;
        }

        p {
            font-family: @arial;
            color: @white;

            .add-line-clamp-mobile( 6, 1.6, 2.5, 6, 1.8, 2.7, #e5eaf3);
        }

        a { 
            background: @kpmg-blue; 
            color: @white; 
            font-family: @arial;
            margin-top: auto;
            flex-shrink: 0;

            &.cta.btn { 
                color: @white; 
                .font-size(1.6); 
                background: @light-blue; 
                font-weight: 500; 
                border-radius: 0;
                padding: 7px 18px;
                align-self: flex-start;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover, &:focus, &:active { 
                    color: @white; 
                    background: @medium-blue;
                    outline: @white-transparent 2px;
                }
            }
        }

        &:nth-child(1){
            background: @light-purple;
        }
        &:nth-child(2){
            background: @violet;
        }
        &:nth-child(3){
            background: @purple;
        }
        &:nth-child(4){
            background: @medium-blue;
        }
    }
}

@media only screen and (max-width: @mobile-max-fixed) {
    .overviewPanel {
        padding: 20px 20px 50px;

        .container {
            margin-top: 10px;
        }

        .overview {
            display: block;
        }

        p { 
            margin-bottom: 20px;
        }
    
        h1, h2, h3 { 
            margin-bottom: 15px;
            margin-top: 20px;
        }
    
        .headline { 
            max-height: initial;
        }
    
        .panel {
            padding: 30px;
            border: 4px solid @kpmg-blue;
            margin-top:40px;
            H2, H3 { 
                .font-size(4.8);
                .line-height(4);
                margin-bottom: 15px;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; 

            }
    
            p {
                .font-size(1.8);
                .line-height(2.7);

                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
    
            a {     
                &.cta.btn { 
                    .font-size(1.8);
                    font-weight: 500; 
                    .line-height(2.7);
                    padding: 7px 18px;
                }
            }
        }
    }
}