@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../share/css/share";
@import "../../connectandrfp/css/connectandrfp";
@import "../../image/css/image";
@import "../../global/css/_variables.less";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../addtolibrary/css/addtolibrary";


.module-tmpl-html {

    .parsys-container {
        border: 0 none;

        .parsys-row {
            border-top: 0 none;
        }
    }
}

@media (min-width:@desktop-min-fixed) {
    
    .module-tmpl-html {

        .parsys-container {
            border: 9px solid @gray-94;

            .parsys-row {
                border-top: 18px solid @gray-94;
                &:first-child {
                  border-top: 0 none;
                }
            }
        } 

    }

}

@media (min-width:@desktop-min-fluid) {
    
    .module-tmpl-html {

        .parsys-container {
            border: 9px solid @gray-94;

            .parsys-row {
                border-top: 18px solid @gray-94;
                &:first-child {
                  border-top: 0 none;
                }
            }
        }

    }
}