<div class="tab-menu no-padding col-md-12 desktop-only" role="tablist">
    {{#each tags}}
        <a class="tab-title" id="tab{{@index}}" href="#" onclick="return false" data-id="{{zthes-id}}" data-english-name="{{english-name}}" role="tab" tabindex="0">{{name}}</a>
    {{/each}}
</div>
<div class="clear"></div>
{{#each tags}}
    <div class="accordion-title mobile-only" data-id="{{zthes-id}}" data-english-name="{{english-name}}" tabindex="0">
        <span class="text-data">{{name}}</span>
        <span class="expand-status"></span>
    </div>
    <div class="subtitles-content-container" data-id="{{zthes-id}}" role="tabpanel" aria-labelledby="tab{{@index}}">
        <div class="search-container">
            <input class="search-input" type="text" placeholder="Search">
            <span class="search-icon"></span>
            <div class="clear"></div>
        </div>
        {{#each tags}}
            <div class="subtitle-content-container" data-id="{{zthes-id}}">
                <div class="accordion-subtitle {{#if tags.length}}has-tags{{/if}}" data-original-text="{{name}}" data-lower-text="{{toLowerCase name}}" tabindex="0" role="checkbox">
                    <span class="action-icon" tabindex="0"></span>
                    <span class="text-data">{{name}}</span>
                    {{#if tags.length}}
                        <span class="expand-status"></span>
                        <span class="total-count"> / {{tags.length}}</span>
                        <span class="selection-count">0</span>
                    {{/if}}
                </div>
                <ul class="tags-holder no-padding col-md-12">
                    {{#each tags}}
                        <li class="tag-holder" data-id="{{zthes-id}}" data-original-text="{{name}}" data-lower-text="{{toLowerCase name}}" tabindex="0" role="checkbox">
                            <span class="action-icon"></span>
                            <span class="text-data">{{name}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
        <div class="clear"></div>
    </div>
{{/each}}