<section class="module-interests component">
    <div class="interests-container">
        <div style="height:200px;width:100%;border:9px solid #f0f0f0;padding-top:10px;background-color:#f0f0f0;">
            <img style="margin:80px auto 40px auto;" src="/etc/designs/kpmgpublic/images/loading.gif"></img>
        </div>
    </div>
    <div class="col-md-12 no-padding no-display">
        <div class="col-md-4 action-button save-changes-link">
            <a href="#" class="component-link interests-link disable-action" onclick="return false">
                <span>{{i18n "kpmg.personalization.myinterests.interests.savechanges"}}</span>
            </a>
        </div>
        <div class="col-md-4 action-button revert-link">
            <a href="#" class="component-link interests-link disable-action" onclick="return false">
                <span>{{i18n "kpmg.personalization.myinterests.interests.revert"}}</span>
            </a>
        </div>
    </div>
    <div class="modal fade changes-saved verfyEmailModal"  role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-close btn-close close" data-dismiss="modal">
                        <span class="sr-only">{{i18n "kpmg.personalization.myaccount.verifyemail.close"}}</span>
                    </span>
                    <h4 class="verfyEmailModal-title">{{i18n "kpmg.personalization.myaccount.profile.changessaved"}}</h4>
                </div>
                <div class="modal-body">
                    <p class="success-msg alert-success">
                        <span class="icon-checkmark"></span>{{i18n "kpmg.personalization.myaccount.profile.yourchangessavedsuccessfully"}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-default col-md-6 pull-left btn" data-dismiss="modal">
                        <span class="icon-close"></span>{{i18n "kpmg.personalization.myaccount.profile.close"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade save-failed inner-container" data-role="dialog">
        <div class="modal-dialog">
            <div class="modal-content no-padding">
                <div class="modal-body">
                    <span class="icon-close btn-close close" data-dismiss="modal"></span>
                    <p class="error-msg alert-success">
                        <span class="icon-close"></span>
                        <span class="error-content">{{i18n "kpmg.personalization.myinterests.interests.errormsg"}}.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade save-changes-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span>
                </span>
                <h4 class="heading">{{i18n  "kpmg.personalization.myinterests.interests.unsavedchanges"}}</h4>
            </div>
            <div class="modal-body">
                <p class="changes-msg">
                    {{i18n "kpmg.personalization.myinterests.interests.navigatefrompage_withoutsaving"}}
                </p>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-xs-12 pull-right">
                    <button type="button" class="btn btn-default return-to-page" data-dismiss="modal">
                        <span class="icon-chevron-right"></span>
                        {{i18n "kpmg.personalization.myinterests.interests.returntopage"}}
                    </button>
                </div>
                <div class="col-md-6 col-xs-12 pull-left">
                    <button type="button" class="no-btn btn continue">
                        <span class="icon-close"></span>
                        {{i18n "kpmg.rfpForm.continue"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay">
    <img src="/etc/designs/kpmgpublic/images/loading.gif"/>
</div>

