<!-- LEGACY NAV LIST ITEM -->
{{
	include "legacy-nav-list-item"
	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/legacy/partials/legacy-nav-list-item.hbss"
}}

<!-- LEGACY LOGOUT LINK -->
{{
	include "legacy-logout-link"
	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/legacy/partials/legacy-logout-link.hbss"
}}


<!-- LEGACY LEARN MORE TRIGGER -->
{{
	include "legacy-learn-more-trigger"
	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/legacy/partials/legacy-learn-more-trigger.hbss"
}}