/* IMPORT ALL THE COMPONENT LESS FILES */
@import "../../breadcrumb/css/breadcrumb";
@import "../../articleintroduction/css/articleintroduction";
@import "../../share/css/share";
@import "../../anchorlinks/css/anchorlinks";
@import "../../downloadbutton/css/downloadbutton";
@import "../../authors/css/authors";
@import "../../image/css/image";
@import "../../audiovideo/css/audiovideo";
@import "../../connectandrfp/css/connectandrfp";
@import "../../relatedcontent/css/relatedcontent";
@import "../../bodytext/css/bodytext";
@import "../../publicationserieslist/css/publicationserieslist";
@import "../../inlinelist/css/inlinelist";
@import "../../ammaps/css/ammaps";
@import "../../amcharts/css/amcharts";
@import "../../event/css/event";
@import "../../copyrightlist/css/copyrightlist";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../disclaimer/css/disclaimer";
@import "../../trendinglist/css/trendinglist";
@import "../../enhanceddownload/css/enhanceddownload";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../printbutton/css/printbutton";
body {
    background-color: @white; // this is the only page with a white background
}

.module-tmpl-article-detail {

    // IE specifc class
    .full-IE-height {
        height: 100% !important;
    }
    .module-downloadbutton {
        padding: 0;
    }
    .parsys-row {
        border-bottom: 0 none;
    }
    .tmpl-row {
        border-top: 9px solid @white;
        border-bottom: 9px solid @white;
    }
    .col-md-height {
        border: 9px solid @white;
    }
    .module-downloadbutton {
        margin-top: 0;
    }
    .module-authors {
        img {
            width: 100%;
        }
    }
    .module-promotionala,
    .module-promotionalb,
    .module-promotionalc,
    .module-promotionald,
    .module-promotionale,
    .module-mykpmgpromo {
        .btn-cta {
            position:absolute;
            right: 0;
            bottom: 0;
            &.promotionala-btn-cta-primary {
                margin-bottom: 15px;

            }
        }
    }
    .promotionala-container,
    .promotionalb-container,
    .promotionalc-container,
    .promotionald-container,
    .promotionale-container,
    .mykpmgpromo-container {
        position: relative;
    }
    .module-promotionale .add20paddingbottom .btn-cta.promotionale-btn-cta-primary {
        margin-bottom: 20px;
    }
    .module-promotionalb,
    .module-promotionale,
    .module-promotionala,
    .module-promotionalc,
    .module-promotionald {

        .promotionale-btn-cta-primary,
        .promotionala-btn-cta-primary,
        .promotionalc-btn-cta-primary {
            margin-bottom: 20px;
            float: right;
            clear: both;
        }
         .promotionalb-btn-cta-primary{
            margin-bottom: 0 !important;
         }
        .library-desktop {
            bottom: 0px;
            left: 0px;
        }
    }
    .module-relatedcontent.vertical {
        .related-bg(@gray-94);
        .relatedcomponent-image {
            width: 100%;
        }
    }
    .module-promotionale.component {
        position: relative;
    }
    .module-relatedcontent.vertical {
        .relatedcomponent-innerContainer {
            padding: 0 10px 10px;
            .relatedcomponent-innerContainer {
                margin-bottom: 0;
                padding-top: 10px;
                padding-right: 0px !important;
                padding-left: 0px !important;
                padding-bottom: 10px !important;
            }
        }
    }
    .ad-header {
        text-transform: uppercase;
        color: @kpmg-blue;
        font-size: 18px;
        margin: 5px;
    }
    .ad-related {
        background-color: @gray-94;

    }

    .module-bodytext {
        .bodytext-data {
            p, a, table tr td {
                line-height: 1.4;
            }
            p {
                margin: 0 0 15px 0;
            }
        }
    }

    @media (min-width:@desktop-min-fixed) {
        .module-connectandrfp {
            position: relative !important;
        }
        .module-relatedcontent.vertical {
            background: @gray-94;
            border-bottom: 0;
        }
        .module-relatedcontent.vertical {
            .relatedcomponent-innerContainer {
                padding-top: 0;
                .relatedcomponent-innerContainer {
                    margin-bottom: 0;
                    padding-top: 10px;
                    padding-right: 10px !important;
                    padding-left: 10px !important;
                }
            }
        }
        .module-articleintroduction {
            padding: 0;
            .col-md-9 {
                border-right: 9px solid @white;
            }
            .col-md-3 {
                border-left: 9px solid @white;
            }
        }
        .module-inlinelist {
            padding: 0;
            .inlinelist-listingGroup {
                min-height: 150px;
                padding: 10px;
                .mCustomScrollBox {
                    height: auto;
                }
            }
        }
        .module-downloadbutton {
            padding: 10px;
            min-height: 0px !important;
            padding-top: 0px !important;
        }
        .module-anchorlinks {
            padding: 0 10px;
        }
        .parsys-row {
            padding-bottom: 18px;
        }
        .parsys-row:last-child {
            padding-bottom: 0;
        }
    }

    @media only screen and (min-device-width: 275px) and (max-device-width: 667px) {
        .module-downloadbutton{
            padding-left: 10px;
        }
    }
}

@import "tmpl-article-detail_print.less";
