<template id="mobile-nav-tab-collapse-triggers-component-template">
    <ul 
        class="mobile-nav-tab-collapse-triggers-component vue-component 
			row 
			p-0 m-0
		" 
        v-dev="{ isDev: $root.isDev, variant: 'kpmg-blue' }"
    >
        <li 
           class="
			tab-list-item
			col
			d-block
			btn  
			py-2 
			rounded-0 
			collapsed 			
			border-0
		"
            :class="{'mx-0': index === 'userProfile' || index == 'languageLocale', 'mr-2 ml-2': index === 'search'}"
            v-for="(navLink, index) in vm.mobileTabs"
            v-bind:key="index + '-mobile-nav-tablist'"
            v-dev="{ isDev: $root.isDev, variant: 'warning' }"
            v-if="index === 'languageLocale'"
            data-toggle="collapse" 
            :data-target=" '#' + navLink.id "
            role="button"
            tabindex="0"
			v-if="navLink.isVisible"
        >
            <i class="icon py-1" :class="navLink.icon">
            <!--Toggle Heading-->
            <span class="icon-text"> \{{ vm.siteSelectorList.flyout.cell1.heading }} </span>

            <!--Local sites-->
            <span 
            	class="icon-text default sites" 
				v-if="vm.siteSelectorList.flyout.cell1.sites && site.selected"
				v-for="(site, index) in vm.siteSelectorList.flyout.cell1.sites"
				v-bind:key=" index + 'site-selector-sites' "
			> \{{ site.countryLocale }}
           </span>
           
           <!--Global sites-->
           <span 
           		class="icon-text default global"
           		v-if="vm.siteSelectorList.flyout.cell1.global && vm.siteSelectorList.flyout.cell1.global.selected">
                \{{ vm.siteSelectorList.flyout.cell1.global.countryLocale }}
           </span>
        </i>

            
        </li>
    </ul>
</template>