<template id="sub-list-item-component-template">
    <li 
        class="
            sub-list-item-component vue-component 
            list-unstyled 
            px-0 
        "
        v-if="vm"
    >
        <!-- V-IF -->
        <legacy-learn-more-trigger
            v-if=" (vm.key === 'kpmg.personalization.homepage.mykpmgflyout.aboutMyKpmg')  ||
            (vm.key === 'kpmg.personalization.homepage.mykpmgflyout.learnMore')"
            :vm="vm"
            class="
                sub-list-item-component-text-color text-dark bg-kpmg-light-sky-blue
                rounded-0 
                py-4-1 p-4 
                d-block
           "
            @click="openLearnMoreModal();"
        ></legacy-learn-more-trigger>
        <!-- V-ELSE-IF -->
        <a	v-else-if="(vm.key === 'kpmg.personalization.homepage.mykpmgflyout.logout')"	
            class="
                sub-list-item-component-text-color text-dark bg-kpmg-light-sky-blue 
                rounded-0 
                py-4-1 p-4 
                d-block
            "
            href="#"
            @click.stop.prevent="logoutUser();"
        >
            \{{vm.label}}
        </a>
        <!-- V-ELSE-->
        <a v-else-if = "vm.url && vm.internalFlag == 'false'" 
            v-process-url="vm.url"
            class="
                sub-list-item-component-text-color text-dark bg-kpmg-light-sky-blue 
                rounded-0 
                py-4-1 p-4 
                d-block
            "
            target="_blank"
            x-cq-linkchecker="skip"
        >
            \{{ vm.label }} <span class="sr-only"> \{{ vm.newTabAllow }} </span>
        </a>
        <a v-else-if = "vm.url" 
            v-process-url="vm.url"
            class="
                sub-list-item-component-text-color text-dark bg-kpmg-light-sky-blue 
                rounded-0 
                py-4-1 p-4 
                d-block
            "
        >
            \{{ vm.label }}
        </a>
    </li>
</template>