@import "../../../../../../../global/css/_variables.less";

@media only screen 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-nav {
        padding-bottom: 6px;   
        display: block !important;
        margin-bottom: -16px ! important;
   }
}