@import "../../../../../../../global/css/_variables.less";

li.navbar-nav-list-item-component {
    &.active {
        background-color:@gray-96;
        > a {
          font-weight:bold;
        }
        .nav-flyout-fullbleed-component {
            display: block !important;
        }
    }
}
