@import "../../global/css/_variables.less";
.module-contentslider {
    padding-bottom: 0px !important;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    /*background: transparent;*/
    /* Frame */
    .each-slide.focusOutline {
        h4 {
            text-decoration: underline;
        }
    }
    .frame {
        height: auto;
        line-height: 250px;
        overflow: hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        /*height: 100%;*/

        .font-size(5.0);
    }
    .frame ul li {
        float: left;
        width: 143px;
        height: auto;
        padding: 0;
        color: #ddd;
        text-align: center;
        cursor: pointer;
        margin: 10px 28px 6px 10px;
        &:last-child {
            margin: 10px 10px 0px;
        }

    }
    /* Scrollbar */

    .scrollbar {
        margin: 5px 0 0 0;
        height: 2px;
        background: @gray-80;
        line-height: 0;
    }
    .scrollbar .handle {
        width: 100px;
        height: 100%;
        background: @gray-87;
        cursor: pointer;
    }
    .scrollbar .handle .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
    }
    /* Pages */

    .pages {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }
    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    }
    .pages li:hover {
        background: #aaa;
    }
    .pages li.active {
        background: @gray-40;
    }
    /* Controls */

    .controls {
        margin: 25px 0;
        text-align: center;
    }
    /* One Item Per Frame example*/

    .oneperframe {
        height: 300px;
        line-height: 300px;
    }
    .oneperframe ul li {
        width: 1140px;
    }
    .oneperframe ul li.active {
        background: @gray-20;
    }
    /* Crazy example */

    .crazy ul li:nth-child(2n) {
        width: 100px;
        margin: 0 4px 0 20px;
    }
    .crazy ul li:nth-child(3n) {
        width: 300px;
        margin: 0 10px 0 5px;
    }
    .crazy ul li:nth-child(4n) {
        width: 400px;
        margin: 0 30px 0 2px;
    }
    /* Effects */

    .effects {
        height: 200px;
        line-height: 200px;
        -webkit-perspective: 800px;
        -ms-perspective: 800px;
        perspective: 800px;
        -webkit-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        overflow-y: show;
    }
    .effects ul {
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .effects ul li {
        position: relative;
        margin: 0 -20px;
        -webkit-transform: rotateY(60deg) scale(0.9);
        -ms-transform: rotateY(60deg) scale(0.9);
        transform: rotateY(60deg) scale(0.9);
        -webkit-transition: -webkit-transform 300ms ease-out;
        transition: transform 300ms ease-out;
    }
    .effects ul li.active {
        z-index: 10;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .effects ul li.active ~ li {
        -webkit-transform: rotateY(-60deg) scale(0.9);
        -ms-transform: rotateY(-60deg) scale(0.9);
        transform: rotateY(-60deg) scale(0.9);
    }
    .frame {
        line-height: 150%;
        height: auto;
    }
    .frame ul {
        .font-size(1.4);
        background: @gray-96;
        margin: 18px 0;
    }
    .frame ul li,
    .frame ul li.active {
        color: @black;
    }
    .frame ul li {
        width: 145px;
        a {
            font-weight: normal;
        }
    }
    .frame ul li img {
        width: 145px;
        height: 145px;
    }
    .frame ul li .item-title {
         margin:3px 0px 3px;
         text-align: center;
        .promo-title(@kpmg-blue);
        /*As per KPMGS-14156 requirements*/
        .font-size(1.6);
        .hyphen;
    }
    .frame ul li:hover {
        a {
            font-weight: bold;
        }
    }
    .scrollbar,
    .mousearea,
    .handle {
        height: 5px !important;
        border-radius: 40px;
    }
    .scrollbar {
        background: @gray-87;
    }
    .mousearea
	{
        background: fade(@pale-blue, 100%);
        &:hover {
            background: fade(@medium-blue, 60%);
        }
    }
    .scrollbar .handle .mousearea {
        top: 0;
    }
    .controls {
        margin: 0;
    }
    .controls .prevPage.disabled,
    .controls .nextPage.disabled {
        display: none;
    }
    .carousel-container {
        position: relative;
        width: 100%;
        padding: 20px 10px;
        background-color: @white;
    }
    .prevPage,
    .nextPage {
        .font-size(4.0);
        margin-top: -20px;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        top: 50%;
        position: absolute;
        color: @light-purple;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .prevPage {
        left: 0px;
        z-index: 1;
        height: 40px;
        background: @white;
    }
    .nextPage {
        right: 0px;
        z-index: 1;
        height: 40px;
        background: @white;
    }
    .item {
        color: @gray-20;
        display: inline-block;
        text-align: left;
        text-decoration: none;
        height: auto;
    }
}
@media (min-width: @desktop-min-fixed) {
    .module-contentslider {
        .frame {
            height: auto;
            ul {
                li {
                    width: 145px;
                    img {
                        width: 145px;
                        height: 145px;
                    }
                    .item-title {
                        width: 145px;
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .module-contentslider {
        .carousel-container.has-slides{
            height: 210px;
            overflow: hidden;
        }
        .carousel-container.has-slides.sly-loaded {
            height: auto;
        }
    }
}
