@import url('../../global/css/_variables.less');

.module-eventpagetitle {
    position: relative !important;
    padding: 10px;

    .event-title {
        .component-title(@kpmg-blue);
        .hyphen;
        font-weight: normal;
        margin:0;
        text-transform: none;
        float: left;
        width: 94%;
    }

    .event-desc {
        .promo-description(@gray-20);
        margin: 7px 0;
        float: left;
        width: 100%;
    }

    .event-date {
        .promo-details(@gray-20);
        margin: 7px 0;
        float: left;
        width: 100%;
    }

    .share-mobile {
        position: absolute;
        top: 0;
        right: 0;

        .icon-share {
            padding: 10px;
            color: @light-green;
            margin: 0 !important;
        }
    }
    .btn-cta {
        position: static;
        display: block;
        clear: both;
        float: right;
        margin: 12px 0 0 0;
        display: table;

        span {
            float: left;
        }
    }

    .icon-chevron-right {
        .font-size(1.6) !important;
        color: @light-green !important;
    }

    @media (min-width: @desktop-min-fixed) {
        margin: 0 9px;

        .event-title {
            .page-title(@kpmg-blue);
            .hyphen;
            float: left;
            width: 93%;
            margin: 0 0 14px 0;
        }

        .event-desc {
            .page-description(@gray-20);
            .hyphen;
            margin: 0;
            float: left;
            width: 100%;
        }

        .event-date {
            .promo-details(@gray-20);
            .hyphen;
            margin: 7px 0;
            width: 100%;
            float: left;
        }

        .share-desktop {
            display: inline-block;
            position: absolute;
            top: 9px;
            right: 9px;
        }
    }
}
