<!-- PREINITIALIZE SLIDE-->
<div class="preinitialize-slide-wrapper container p-0">
    <div class="preinitialize-carousel">
        {{ include 'latest-thinking-carousel-preinitialize-slide' resourceType="/etc/partials/kpmgpublic/latest-thinking/carousel_preinitialize_slide.hbss"}}
    </div>
</div>

<!-- MOBILE + DESKTOP CAROUSEL -->
<!-- CAROUSEL -->
<div class="carousel-wrapper container p-0">
    <div class="loop-center-carousel" style="display:none;">
        {{ include 'latest-thinking-carousel-slide' resourceType="/etc/partials/kpmgpublic/latest-thinking/carousel_slide.hbss"}}
    </div>
</div>