<!-- Begin Component: Caasdocumentnav -->
<section class="module-caasdocumentnav component">
    <nav>
        <div class="col-md-12 subnavigation-accordianblock">
            <!-- rootpage title and other details -->
            {{#each hbs.caasdocumentnav.rootPageDetails}}
            <li class="subnavigation-list-group-item caas-page-title" id="sublevel-links">
                <a class="subnavigation-accordian_trigger current-{{this.currentPageFlag}}" href="{{this.path}}">
                    {{this.title}}
                </a>
            </li>
            {{/each}}

            <!-- navigation list elements -->
            <ul class="subnavigation-list-group first-menu">
                {{#each hbs.caasdocumentnav.links}}
                <li class="subnavigation-list-group-item parent-not-selected">
                    <a href ="{{this.path}}" class="subnavigation-link current-{{this.currentPageFlag}}">{{this.title}}</a>
                    <div class="subnavigation-accordiancontainer second-menu">
                        <ul class="subnavigation-list-group subnavigation-level">
                            {{#each this.subLevel}}
                            <li class="subnavigation-list-group-item any-child">
                                <a class="subnavigation-accordian_trigger current-{{this.currentPageFlag}}" href="{{this.path}}">
                                    {{this.title}}
                                </a>
                                {{#if this.subLevel}}
                                <span class="subnavigation-accordiantrigger-sublevels pull-right icon-chevron-down" tabindex="0"></span>
                                {{/if}}
                                <div class="subnavigation-accordiancontainer-sublevels third-menu">
                                    <ul class="subnavigation-list-group subnavigation-level">
                                        {{#each this.subLevel}}
                                        <li class="subnavigation-list-group-item any-grand-child" id="sublevel-links">
                                            <a class="subnavigation-accordian_trigger current-{{this.currentPageFlag}}" href="{{this.path}}">
                                                {{this.title}}
                                            </a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>

        </div>
    </nav>
</section>
<!-- End Component: Caasdocumentnav -->
