@import '../../global/css/_variables.less';
@import '../../global/css/vendor/_responsiveTabs.less';
.module-alumnilinks {
    background-color: transparent !important;
    width: 100%;
    float: left;
    padding: 0 !important;
    margin-bottom: 10px !important;

    .no-highlight {
        display: table !important;
        width: 100%;
    }

    .module-alumnilinks-title {
        .component-title(@kpmg-blue);
        .hyphen;
        margin: 0;
    }

    .module-alumnilinks-description {
        .promo-description(@gray-20);
        .hyphen;
        margin: 7px 0;
    }

    .backgroundWhite{
        background: @white;
        padding: 10px;
        margin-bottom: 18px;
        width: 100%;
    }

    .icon-chevron-right {
        color: @light-blue;
        .font-size(1.6);
        display: none;
    }
    .left-container {
        display: table-cell;
    }
    .right-container {
        display: table-cell;
        vertical-align: middle;
        width: 16px;
    }
    .module-alumnilinks-tabs {
        .tabsList {
              border-left-width: 0px !important;
              border-right-width: 18px !important;
              border-top-width: 0px !important;
              border-bottom-width: 0px !important;
              float: none;
              background: @gray-94;
            .resp-tabs-list {
                width: 100% !important;
                background: @white;
                li.tabbedComponentTab {
                    border-bottom: 1px solid @gray-60 !important;
                    border-left: none;
                    border-bottom: none;
                    border-top: none;
                    float: left;
                    width: 100%;
                    background: @gray-87;
                    padding: 1px !important;
                    &:last-child {
                        border-bottom: none !important;
                    }

                    .regionName {
                        width: 100%;
                        float: left;
                        .promo-title(@gray-20);
                        margin: 8px 0;
                        span {
                            float: right;
                            .font-size(1.4);
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .regionImage {
                        float: left;
                    }
                    a {
                        padding: 10px !important;
                    }
                    a:hover {
                        .regionName {
                            text-decoration: underline;
                        }
                       /* box-shadow: 0 0 3px @kpmg-blue;
                        outline: solid @kpmg-blue-transparent 1px;*/
                    }
                }
                li.resp-tab-active {
                    margin-right: 0 !important;
                    margin-bottom: 0 !important;
                    background: @white;
                    .regionName {
                        width: 100%;
                        float: left;
                        .promo-title(@kpmg-blue);
                        .hyphen;
                    }

                    .icon-chevron-right {
                        display: block;
                        margin: 0 0 0 5px;
                    }

                    a:hover {

                        .regionName {
                            text-decoration: none;
                        }

                        /*box-shadow: 0 0 3px @gray-20;
                        outline: solid @grey-text-transparent 1px;*/
                    }
                }
            }
        }
        .resp-tabs-container {
            border: none;
            background: none;
            border-radius: 0;
            float: none;
            h2.resp-accordion {
                width: 100%;
                border: none;
                float: left;
                background: @gray-87;
                border-bottom: 1px solid @gray-60;
                padding: 0;

                a {
                    padding: 10px;
                }

                .regionName {
                    .promo-title(@gray-20);
                    .hyphen;
                    margin: 8px 0;
                }
                .regionImage {
                    float: left;
                }

                .right-container {
                    .resp-arrow {
                        display: block;
                        border: none;
                        float: none;
                        margin: 0 0 0 5px;
                        color: @kpmg-blue;
                        border-left: 0;
                        border-right: 0;
                        border-top: 0;
                        width: auto;
                        height: auto;
                        .font-size(1.6);
                    }

                    .icon-chevron-up {
                        color: @light-blue;
                    }
                }

                &:first-child {
                    border-top: none !important;
                }

                &:last-child {
                    border-bottom: none;
                }

                .resp-arrow {
                    display: none;
                }

                &.resp-tab-active {
                    border-bottom: 1px solid @gray-60 !important;
                    padding: 0 !important;
                    background: @white !important;

                    .regionName {
                        .promo-title(@kpmg-blue);
                        .hyphen;
                    }

                }
            }

            .subRegion-list {
                float: left;
                width: 100%;

                .subRegionname {
                    .promo-title(@kpmg-blue);
                    margin: 8px 0;
                    width: 100%;
                    float: left;
                }

                ul li {
                    margin: 0;
                    a {
                        .promo-details(@medium-blue);
                        display: block;
                        padding: 5px 0;
                        margin: 5px 0;
                    }
                }

                &:first-child {
                    border-top: none;
                }
                .countryName{
                    width:100%;
                    float:left;
                }

                &:before {
                    .dotted-lightblue;
                    margin: 20px 0 10px;
                }

                &:first-child:before {
                    display: none;
                }
            }
            .resp-tab-content {
                border: none;
                background: @white;
                width: 100%;
                float: left;
                padding: 10px !important;
                &.focusOutline {
                    box-shadow: 0 0 3px @medium-blue !important;
                    border: solid @medium-blue 1px !important;
                }
            }

        }
    }

    @media (min-width: @desktop-min-fixed){
        .right-container {
            width: 21px;
        }

        .module-alumnilinks-title {
            .component-title(@kpmg-blue);
            .hyphen;
            margin: 0;
        }

        .module-alumnilinks-description {
            .promo-description(@gray-20);
            .hyphen;
            margin: 7px 0;
        }

        padding: 0 !important;
        .module-alumnilinks-tabs {

            .resp-tabs-container {
                background: @white;

                .resp-tab-content {
                    border: none;
                    background: @white;
                    width: 100%;
                    float: left;
                    padding: 10px 20px !important;
                }


                .subRegion-list {
                    ul li {
                        a {
                            .promo-details(@medium-blue);
                            display: block;
                            padding: 5px 0;
                            margin: 5px 20px 5px 0;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    .countryName {
                        width:33%;
                    }
                }
            }

            .resp-tabs-list{
                display: block;
            }

            h2.resp-accordion{
                display: none;
            }
        }

        .resp-arrow {
            display: none;
        }
    }
}

@media (max-width: 640px){
    .module-alumnilinks {
        img {
            width: 60px;
            height: 30px;
        }
    }
}
