@import "../../global/css/_variables.less";

.module-contentrefreshctas {

    &.content-refresh-slider {
        background-color: @white;
        font-family: @arial;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        transition: 0.3s linear;
        padding: 0 10px;
    }

    &.slide-down {
        display: none;
        transform: translateY(100%);
    }

    .cta-row {
        width: 100%;
        display: block;
        position: relative;
        text-align: left;
        text-decoration: none;
        color: @morning-glory;
        line-height: 12px;
        cursor: auto;
        background-color: @persian-green;
        padding: 19px 10px 19px 40px;
        border: none;
        border-bottom: 1px solid @gray-94;

        &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            line-height: 1.4;
        }

        &.active {
            color: @white;
            cursor: pointer;
        }

        &:hover {
            text-decoration: none;
        }

        [class^="icon-"] {
            position: absolute;
            left: 10px;
        }

        .icon-refresh {
            font-size: 17px;
        }

        .icon-views {
            font-size: 12px;
        }

        .icon-sliders {
            font-size: 15px;
        }
    }

    .ellipsis-cta {
        text-align: center;
        height: 33px;
        cursor: pointer;
        color: @white;
        background-color: @persian-green;

        .icon-dots {
            position: relative;
            top: 4px;
            font-size: 20px;
        }
    }
}

.content-refresh-cta {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    cursor: pointer;
    color: @persian-green;
    font-size: 20px;
}
