{{#if hbs.relatedContent.relatedContentSolrUrl}}
<section class="module-relatedcontent component {{hbs.relatedContent.occurence}} clearfix" article="true">
   <div class="relatedcontent-container" data-articledetail="{{hbs.relatedContent.articleDetailTemplate}}">
      <h3 class="tertiary-head">{{i18n hbs.relatedContent.title}}</h3>
      <div class="relatedcomponent-innerContainer bg-white bg-width" data-path="{{hbs.relatedContent.relatedContentSolrUrl}}" data-items="{{hbs.relatedContent.noOfItems}}" data-readmore="{{i18n hbs.relatedContent.relatedContentLabel}}" data-timeboxparam="{{hbs.relatedContent.timeboxParam}}"
      ></div>
   </div>
</section>
{{/if}}

