<section class="module-tmpl-media">

  <div class="row tmpl-row">
    <div class="col-md-12 full-page-title">
        <div class="inner-container">
            {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
        </div>
    </div>
  </div>

   <div class="inner-container">
      <div class="row">

          <div class="row-same-height row-full-height">
              <div class="col-md-12 col-md-height col-full-height col-top col-nested">
                <div class="row-same-height row-full-height">
                    <div class="col-md-6 col-md-height col-sm-height col-full-height col-top">
                          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell3"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                        {{ include "listing" resourceType="/apps/kpmgpublic/components/listing/listing" path="cell4" }}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                        {{ include "contactlist" resourceType="/apps/kpmgpublic/components/listing/contactlist" path="cell5" }}
                    </div>
                </div>
              </div>
          </div>

          <div class="row-same-height row-full-height">
              <div class="col-md-9 col-md-height col-sm-height col-full-height col-top col-nested">
                <div class="row-same-height row-full-height">
                    <div class="col-md-3 col-md-height col-sm-height col-full-height col-top">
                        {{ include "listing" resourceType="/apps/kpmgpublic/components/listing/listing" path="cell6"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell7"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                        {{ include "trendinglist" resourceType="/apps/kpmgpublic/components/listing/trendingList" path="cell8"}}
                    </div>
                </div>
                <div class="row-same-height row-full-height">
                    <div class="col-md-6 col-md-height col-sm-height col-full-height col-top">
                         {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                        {{ include "listing" resourceType="/apps/kpmgpublic/components/listing/listing" path="cell11"}}
                    </div>
                </div>
              </div>
              <div class="col-md-3 col-md-height col-sm-height col-top">
                  {{ include "socialwidget" resourceType="/apps/kpmgpublic/components/social/socialwidget"}}
              </div>
          </div>

          <div class="row-same-height row-full-height">
              <div class="col-md-6 col-md-height col-sm-height col-full-height col-top">
                 {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}
              </div>
              <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top">
                  {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell13"  }}
              </div>
              <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top col-transparent">

              </div>
          </div>

      </div>
    </div>

</section>
