<!-- Begin Component: BlogsComment -->
{{#unless hbs.comments.hideComments}}
<div class="module-blogs-comment component {{#unless hbs.isAuthor}}hidden{{/unless}}">
    <div class="user-comment-section">{{hbs.comments.commentsLabel}}</div>
    <div id="userComments" class="blog-comments" data-streamID="{{hbs.comments.commentId}}" data-categoryID="{{hbs.comments.categoryId}}"
        data-comment="{{hbs.comments.postComment}}" data-writeAComment="{{hbs.comments.writeAComment}}" data-reply="{{hbs.comments.comment}}" data-moderation="{{hbs.comments.waitingForModeration}}" data-daysAgo="{{hbs.comments.daysAgo}}"
        data-hoursAgo="{{hbs.comments.hoursAgo}}" data-minutesAgo="{{hbs.comments.minutesAgo}}" data-oneDayAgo="{{hbs.comments.oneDayAgo}}"
        data-oneHourAgo="{{hbs.comments.oneHourAgo}}" data-oneMinuteAgo="{{hbs.comments.oneMinuteAgo}}" data-requiredField="{{hbs.comments.requiredField}}"
        data-errorMessage="{{hbs.comments.errorMessage}}" >

    </div>

    <div class="modal fade user-login" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-close btn-close close" data-dismiss="modal">
                    </span>
                    <h4 class="login-title" id="loginTitle ">{{hbs.comments.commentsTitle}}</h4>
                </div>
                <div class="modal-body">
                    <p id="loginContent">{{hbs.comments.loginMsg}}</p>
                </div>
                <div class="modal-footer">

                    <div class="col-md-6 close-align">
                        <button type="button" class="no-btn btn" id="cancelButton" data-dismiss="modal">
                            <span class="icon-close"></span>{{hbs.comments.cancel}}
                        </button>
                    </div>
                    <div class="col-md-6 rsnd-align">
                        <button type="button" class="btn btn-default" data-toggle="modal" id="continueButton" data-dismiss="modal">
                            <span class="icon-chevron-right"></span>
                            <span class="continue-cta">{{hbs.comments.continueLabel}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{{/unless}}
<!-- End Component: BlogsComment -->
