@import "../../breadcrumb/css/breadcrumb";
@import "../../share/css/share";
@import "../../resultlistingb/css/resultlistingb";
@import "../../fullbleedbanner/css/fullbleedbanner";


@media (min-width:@desktop-min-fixed) {
    .module-tmpl-press-releases{
        .module-resultlistingb{
        .textContainer{
            width:77% ;
        }
        .mobileContainer{
                .textContainer{
                    width:100% !important;
                }
            }
        }
        .module-breadcrumb{
            background: none;
        }
        .no-padding{
            padding: 0;
        }
    }

}
.ui-widget-content {
    background: @white;
    border: 1px solid @gray-80;
    color: @gray-20;
}
