<!-- Begin Component: SubscriptionPreferences -->
<section class="module-subscription-preferences component" data-registration-flow="{{hbs.subscriptionPreferences.registration}}">
    
    <div class="subscription-preferences-search-container">
        <div class="subscription-preferences-searchbar">
            <input id="subscriptionsSearchbar" type="text" placeholder="{{i18n 'kpmg.personalization.subscriptions.placeholdertextforfiltersubscriptions'}}" autocomplete="on">
        </div>

        <div class="selected-interests-header-text">{{i18n "kpmg.personalization.subscriptions.selectedinterestslist"}}</div>
        <div class="subscription-preferences-tags"></div>
    </div>

    <div class="subscriptions-overlay">&nbsp;</div>
    {{#unless hbs.subscriptionPreferences.registration}}
    <div class="communication-preferences">
        <div class="communication-preference-header">
            <h3 class="tertiary-head">{{i18n 'kpmg.personalization.communicationpreference.communicationpreferences'}}</h3>
        </div>
        <div class="optin-wraper">
            {{#if hbs.subscriptionPreferences.includeSubscriptionOptinOnSite}}
                <div class="subscription-optin" tabindex="0" aria-label="{{hbs.subscriptionPreferences.subscriptionPrefOptin}}">
                    <label class="preference-optin-container" tabindex="-1">{{{hbs.subscriptionPreferences.subscriptionPrefOptin}}}
                        <input type="checkbox" class="subscription-optin-checkbox" tabindex="-1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            {{/if}}
            {{#if hbs.subscriptionPreferences.includeCommunicationOptinOnSite}}
                <div class="communication-optin" tabindex="0" aria-label="{{hbs.subscriptionPreferences.communicationPrefOptin}}">
                    <label class="preference-optin-container" tabindex="-1">{{{hbs.subscriptionPreferences.communicationPrefOptin}}}
                        <input type="checkbox" class="communication-optin-checkbox" tabindex="-1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            {{/if}}
        </div>
    </div>
    {{/unless}}

    <div class="{{#if hbs.subscriptionPreferences.registration}}subscription-preferences{{else}}communication-preferences{{/if}}">
        <div class="subscription-list-wraper">
            <!--<div class="subscription-interest-in-title">Subscriptions you may be interested in:</div>-->
            {{#unless hbs.subscriptionPreferences.registration}}
                <h3 class="tertiary-head">{{i18n 'kpmg.personalization.communicationpreference.subscriptions'}}</h3>
            {{/unless}}
            <div class="subscription-preferences-subscribedList">
                <div class="interests-based-subscription-text onboarding">{{i18n "kpmg.personalization.subscriptions.onboardingbasedsubscriptiontitle"}}</div>
                <div class="interests-based-subscription-text">{{i18n "kpmg.personalization.subscriptions.interestsbasedsubscriptiontitle"}}</div>
                <div id="selectedSubscriptionList"></div>
            </div>
            <div class="subscription-list-search-wraper" data-groupListFlag={{hbs.subscriptionPreferences.groupingEnabled}}>
                <div class="subscription-interest-in-title">{{i18n "kpmg.personalization.subscriptions.subscriptionsinterestedintitle"}}</div>
                {{#if hbs.subscriptionPreferences.groupingEnabled}}
                <div class="subscriptionGroupList">             
                    <ul class="col-md-12 row subscription-list"> 
                    {{#each hbs.subscriptionPreferences.groupList}}                       
                        <li class="groupHeader" data-group-id="{{this.groupid}}">{{this.groupname}}</li>
                        {{#each listSub}}
                                <li class="list-item {{#if privateFlag}}private{{/if}}"
                                    data-subscription-id="{{this.gigyaMapping}}"
                                    data-external-id="{{this.externalid}}"
                                    data-frequency="{{this.frequency}}"
                                    data-title="{{this.title}}"
                                    tabindex="0">
                                    {{#if hbs.subscriptionPreferences.registration}}
                                        <div class="table-wraper">
                                            <div class="col-1">
                                                <div class="title">{{this.title}}</div>
                                                <p class="description">{{this.description}}</p>
                                            </div>
                                            <div class="col-2">
                                                <div class="icon-wraper"><span class="selection-icon icon-add"></span></div>
                                                <div class="frequency">{{this.frequencytext}}</div>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="communication-subscriptions-row" tabindex="-1">
                                            <div class="row">
                                                <label for="subscription switch" class="subscription-switch col-md-1 col-xs-1">
                                                    <input type="checkbox" aria-label="enable or disable {{this.title}}">
                                                    <span class="slider round"></span>
                                                </label>
                                                <div class="title col-md-8 col-xs-10">{{this.title}}</div>
                                                <div class="frequency pull-right hidden-xs col-md-2">{{this.frequencytext}}</div>
                                            </div>
                                            <div class="row">
                                                <p class="description col-md-10">{{this.description}}</p>
                                                <p class="frequency visible-xs">{{this.frequencytext}}</p>
                                            </div>
                                        </div>
                                    {{/if}}
                                </li>
                        {{/each}}
                    {{/each}}                    
                    </ul>
                </div>
                {{else}}                    
                    <ul class="col-md-12 row subscription-list">
                        {{#each hbs.subscriptionPreferences.subscriptionsList}}
                                <li class="list-item {{#if privateFlag}}private{{/if}}"
                                    data-subscription-id="{{gigyaMapping}}"
                                    data-external-id="{{externalid}}"
                                    data-frequency="{{frequency}}"
                                    data-title="{{title}}"
                                    tabindex="0">
                                    {{#if hbs.subscriptionPreferences.registration}}
                                        <div class="table-wraper">
                                            <div class="col-1">
                                                <div class="title">{{title}}</div>
                                                <p class="description">{{description}}</p>
                                            </div>
                                            <div class="col-2">
                                                <div class="icon-wraper"><span class="selection-icon icon-add"></span></div>
                                                <div class="frequency">{{frequencytext}}</div>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="communication-subscriptions-row" tabindex="-1">
                                            <div class="row">
                                                <label for="subscription switch" class="subscription-switch col-md-1 col-xs-1">
                                                    <input type="checkbox" aria-label="enable or disable {{title}}">
                                                    <span class="slider round"></span>
                                                </label>
                                                <div class="title col-md-8 col-xs-10">{{title}}</div>
                                                <div class="frequency pull-right hidden-xs col-md-2">{{frequencytext}}</div>
                                            </div>
                                            <div class="row">
                                                <p class="description col-md-10">{{description}}</p>
                                                <p class="frequency visible-xs">{{frequencytext}}</p>
                                            </div>
                                        </div>
                                    {{/if}}
                                </li>
                        {{/each}}
                    </ul>
                {{/if}}
                <div class="clearBoth"></div>
            </div>
        </div>
        
        <div class="btn-wraper">
            {{#if hbs.subscriptionPreferences.registration}}
                <button class="next-btn btn hide" id="nextButton">
                    <span class="icon-chevron-right"></span>
                    {{i18n 'kpmg.personalization.registration.subscription.nextstep'}}
                </button>
                <button class="finish-btn btn hide" id="finishButton">
                    <span class="icon-chevron-right"></span>
                    {{i18n 'kpmg.personalization.registration.subscription.finish'}}
                </button>
            {{else}}
                <button class="cancel-btn col-md-5 hidden-xs disable-action">
                    <span class="icon-close"></span>
                    <span class="text">{{i18n 'kpmg.personalization.communicationpreference.cancel'}}</span>
                </button>
                <button class="save-changes-btn col-md-12 visible-xs disable-action">
                    <span class="icon-chevron-right"></span>
                    <span class="text">{{i18n 'kpmg.personalization.communicationpreference.saveChanges'}}</span>
                </button>
                <div class="separator visible-xs"></div>
                <button class="save-changes-btn col-md-5 pull-right hidden-xs disable-action">
                    <span class="icon-chevron-right"></span>
                    <span class="text">{{i18n 'kpmg.personalization.communicationpreference.saveChanges'}}</span>
                </button>
                <button class="cancel-btn col-md-12 visible-xs disable-action">
                    <span class="icon-close"></span>
                    <span class="text">{{i18n 'kpmg.personalization.communicationpreference.cancel'}}</span>
                </button>
            {{/if}}
        </div>
    </div>
</section>
<!-- End Component: SubscriptionPreferences -->
<!-- unsaved changes modal -->
<div class="modal fade save-changes-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span>
                </span>
                <h4 class="heading">{{i18n  "kpmg.personalization.myinterests.interests.unsavedchanges"}}</h4>
            </div>
            <div class="modal-body">
                <p class="changes-msg">
                    {{i18n "kpmg.personalization.myinterests.interests.navigatefrompage_withoutsaving"}}
                </p>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-xs-12 pull-right">
                    <button type="button" class="btn btn-default return-to-page" data-dismiss="modal">
                        <span class="icon-chevron-right"></span>
                        {{i18n "kpmg.personalization.myinterests.interests.returntopage"}}
                    </button>
                </div>
                <div class="col-md-6 col-xs-12 pull-left">
                    <button type="button" class="no-btn btn continue">
                        <span class="icon-close"></span>
                        {{i18n "kpmg.rfpForm.continue"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- successfull save changes modal -->
<div class="modal fade changes-saved verfyEmailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.verifyemail.close"}}</span>
                </span>
                <h4 class="verfyEmailModal-title">{{i18n "kpmg.personalization.myaccount.profile.changessaved"}}</h4>
            </div>
            <div class="modal-body">
                <p class="success-msg alert-success">
                    <span class="icon-checkmark"></span>{{i18n "kpmg.personalization.myaccount.profile.yourchangessavedsuccessfully"}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default col-md-6 pull-left btn" data-dismiss="modal">
                    <span class="icon-close"></span>{{i18n "kpmg.personalization.myaccount.profile.close"}}
                </button>
            </div>
        </div>
    </div>
</div>