@import "../../global/css/_variables.less";

@mobile: ~"only screen and (max-width: 640px)";

.modal-dialog {
	.btn-close {
		margin: 18px 12px;
		position: absolute;
	}
	@media @mobile {
		margin: 57px 0 0;
	}
}

.articlelimit {
    display: none;
}

.addtolibraryoverlay, .move-article-overlay {
	background-color: @gray-94;
	.modal-box-container & {
		padding: 0;
	}
	.row {
		margin-bottom: 9px;
		&.row-last {
			margin-bottom: 0px;
		}
	}
	.overlay-columns .row {
		margin-bottom: 0px;
	}
	.overlay-columns:first-child {
		margin-bottom: 18px;
	}
	&.movearticle .row {
		margin-bottom: 0;
		&.alert-container {
			margin-bottom: 9px;
		}
	}
    &.movearticle {
        .overlay-header {
            padding: 18px;
        }
        .icon-close {
            margin-right: 6px !important;
        }
        .overlay-footer {
            padding: 18px 9px;
        }
    }
	.col-md-height {
		background-color: initial;
	}
    select::-ms-expand {
        display: none;
    }
    input.focusOutline ,select.focusOutline {
        text-decoration: none !important;
    }
	.focusOutline {
        box-shadow: 0 0 3px @medium-blue !important;
        border: solid @medium-blue 1px !important;
    }
	.btn-cta {
		display: inline-block;
		margin-bottom: 0;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		width: 100%;
		padding: 6px 12px;
		border: 1px solid transparent;
		height: 50px;
		line-height: 2em;
		.icon-chevron-right {
			margin: 0;
		}
		.icon-add {
			margin-right: 2px;
		}
	}
	.btn-default {
	    background-color: @white;
	}
	.btn-cancel {
		.icon-close {
			color: @light-purple;
			margin-right: 2px;
		}
	}
	.btn-white {
		background-color: @white;
	}
	.alert {
		padding: 9px;
		.promo-description(@gray-20);
	}
	.alert-error {
		color: @red;
	}
	.alert-success {
		color: @dark-green;
		border: 1px solid @dark-green;
	}
	.alert-info {
		color: @kpmg-blue;
		border: 1px solid @kpmg-blue;
	}
	.tmpl-row {
	    border-bottom: 9px solid @gray-94;
	}
	.divider {
		margin: 18px 0;
		border-top-color: @gray-60;
	}
	.overlay-header {
		padding: 9px;
		@media @mobile {
			padding: 18px 20px;
		}
		.description {
			margin-bottom: 18px;
		}
		.article-title {
			.promo-title(@kpmg-blue);
		}
	}
	.overlay-footer {
		padding: 9px 0px;
	}
	.overlay-header .heading {
		.component-title(@kpmg-blue);
		margin: 0 0 5px 0;
		&:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            .font-size(2.6);
            line-height: 1.3;
        }
	}
	.overlay-header .description, .article-description {
		.promo-description(@gray-20);
	}
	.overlay-header .description + .alert {
		margin-top: 18px;
	}
	.overlay-content {
		padding: 18px 9px;
	}
	.overlay-header, .column-header, .overlay-quicksave , .save-to-list-section, .article-container, .alert-container {
		background-color: #fff;
	}
	.overlay-quicksave, .column-header, .save-to-library, .choose-list {
		text-align: center;
	}
	.save-to-library, .choose-list {
		.component-title(@kpmg-blue);
		line-height: 1.5em;
	}
	.list-container {
		padding: 9px;
	}
	.article-container {
		padding: 9px;
	}
	.article-description {
		margin: 0 0 9px 0;
	}
	.article-container, .list-container, .search-container {
		text-align: left;
		article {
			min-height: 300px;
		}
		img.article-image {
			width: 100%;
			margin-bottom: 9px;
			min-height: 100px;
		}
		.article-title {
			.promo-title(@kpmg-blue);
			margin-bottom: 9px;
		}
	}
	.search-container, .form-createlist {
		padding: 9px;
	}
	.search-container {
		padding-bottom: 3px;
		.search-input {
			position: relative;
			.form-group {
				margin-bottom: 0px;
			}
			input {
				width: 100%;
			    height: 25px;
			    padding-left: 7px;
			    padding-right: 30px;
			    .promo-details(@gray-40);
			}
			button {
				width: 25px;
			    height: 25px;
			    padding: 5px 5px 3px 5px;
			    position: absolute;
			    top: 0;
			    right: 0;
			    background-color: @light-green;
	        	color: @white;
			    border-left: 0;
			    border-top: 1px solid @gray-60;
			    border-bottom: 1px solid @gray-60;
			    border-right: 1px solid @gray-60;
			}
		}
	    .custom-select {
	        padding-left: 0px !important;
	        width: 100%;
	        border-radius:0;
	        margin: 0;
	        .promo-details(@gray-20);
	        select {
	            height: 25px;
	            padding-right: 28px;
	            padding: 0px 8px;
	            .promo-details(@gray-20);
	            white-space: nowrap;
	            overflow: hidden;
	            padding-right: 55px !important;
	        }
	    }
	    .custom-select {
	    	select {
	    		font-size: 1.6rem;
	    	}
	    }
	}
	.list-container {
		overflow-y: scroll;
		height: 300px;
		.list-item {
			.promo-description(@gray-20);
			border-bottom: 1px solid @gray-94;
			a {
				color: @gray-20;
				padding: 18px 9px;
				width: 100%;
				display: inline-block;
				.title {
					.add-line-clamp(1,1.6rem,1.2,1.6rem,1.3);
				}
				&:focus {
					background-color: lighten(#a6c7e6, 10%);
				}
				&:active .line-clamp:after {
					background: none;
				}
			}
			&.active {
				a {
					background-color: #a6c7e6;
					color: @gray-20;
				}
				.line-clamp:after {
					background: none;
				}
			}
		}
	}
	&.movearticle .list-container {
		height: 180px;
	}
	.new-list-controls {
		.btn-newlist {
			text-align: left;
		}
		.form-createlist {
			display: none;
			.btn-cta {
				height: initial;
				padding: 8px 0;
				line-height: 1;
				text-align: center;
			}
			.row {
				margin-bottom: 0;
			}
		}
		&.is-editing {
			.btn-newlist {
				display: none;
			}
			.form-createlist {
				display: block
			}
		}
		.error {
			display: none;
			margin-bottom: 9px;
			color: @red;
		}
		.has-error {
			.error {
				display: block;
			}
			input {
				border:1px solid @red;
			}
		}
		input {
			width: 100%;
		    height: 25px;
		    padding-left: 7px;
		    padding-right: 30px;
		    font-size: 1.6rem;
		    border: 1px solid @gray-94;
		}
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        .promo-details(@gray-80);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       .promo-details(@gray-80);
       opacity: 1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       .promo-details(@gray-80);
       opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       .promo-details(@gray-80);
    }
	@media(min-width: @desktop-min-fixed) {
		.row, .overlay-columns .row {
			margin-bottom: 18px;
		}
		.movearticle .row {
			margin-bottom: 0;
			&.alert-container {
				margin-bottom: 18px;
			}
		}
		.overlay-header {
			padding: 18px;

			.article-title {
				display: none;
			}
		}
		.article-container {
			padding: 9px;
			-webkit-box-shadow: 0 0 2px .5px rgba(0,0,0,.25);
			box-shadow: 		0 0 2px .5px rgba(0,0,0,.25);
			-moz-box-shadow:    0 0 2px .5px rgba(0,0,0,.25);
		}
	}
	@media (max-width: @desktop-min-fixed) {
    	#chooselist.choose-list {
			padding: 0 10px;
			text-align: left;
		}
    }
	@media @mobile {
		.overlay-footer {
			padding: 18px 0;
		}
		.btn#savetolist {
			margin-bottom: 18px;
		}
	}
}

.movearticle-content {
    background-color: @white;
    padding: 0 18px 18px;
}
