meta(name='msapplication-TileColor' content='#00338D')
meta(name='msapplication-TileImage' content='/etc/designs/default/kpmg/favicons/mstile-144x144.png')
meta(name='msapplication-config' content='/etc/designs/default/kpmg/favicons/browserconfig.xml')
