script(type='text/javascript').
  var privacyJSON = {
      "options": [{
          "buttonText": {
              "en": "I agree"
          },
          "checkbox": false,
          "value": "unchecked",
          "distinctPrivacyPolicy": "1",
          "label": {
              "en": "I agree"
          }
      }],
      "countries": [{
          "country": "xx",
          "languages": ["en"],
          "active": true,
          "cookieVersion": 1,
          "option": 1,
          "links": [{
              "text": "KPMG&apos;s online privacy statement",
              "anchor": "/xx/en/home/misc/privacy.html"
          }],
          "text": {
              "en": "This website uses cookies to provide necessary site functionality and improve your online experience. By using this website, you agree to the use of cookies as outlined in KPMG&apos;s online privacy statement."
          }
      }],
      "cookiesToDelete": ""
  };
