script(type='text/javascript').
  var shareProperties = {
    "shareSiteName": "KPMG",
    "shareLanguage": "en",
    "twitterDefaultText": "",
    "shareEnabledProviders": "twitter,linkedin,facebook,googleplus"
  };
  var demandbaseAsyncURL = "https://api.demandbase.com/api/v2/ip.json?key=e97c8e9a495332be41b78485c36f82ea&callback=window.kpmgPersonalize.db.CDCWrapper";
