<section class="module-promotionale component component-trackable" personalize="{{hbs.promotionalE.personalized}}" {{#if hbs.promotionalE.personalized}}hidden{{/if}} no-of-results-required="{{hbs.promotionalE.numberOfContents}}" article ="{{hbs.promotionalE.externalLink}}" tabindex="0">
   <div class="clearfix {{#if hbs.promotionalE.secondaryLabel}}add20paddingbottom{{/if}}">
      <div class="promotionale-container">
         <div class="promo-content">
            <div class="promotionale-imgcont">
               {{#if hbs.promotionalE.rfpForm}}
               <a tabindex="-1" href="javascript:void(0)"
                     data-remote="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.altText}}"
                     data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                     data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                  {{#if hbs.promotionalE.imageFileReference}}
                     {{#if hbs.promotionalE.imageConfigExists}}
                         <picture>
                             {{#hbs.promotionalE.imageConfig}}
                                 {{#if this.isDesktop}}
                                     <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                         media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                                 {{else}}
                                     <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                         media="screen  and (min-width: 0px) and (max-width: 640px)" >
                                 {{/if}}

                                 {{#if @last}}
                                     <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                                 {{/if}}
                             {{/hbs.promotionalE.imageConfig}}
                         </picture>
                     {{else}}
                         <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                <!--[if IE 9]></video><![endif]-->
                                <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalE.altText}}" alt="{{hbs.promotionalE.altText}}">
                         </picture>
                     {{/if}}
                  {{/if}}
               </a>
               {{else}}
                  {{#if hbs.promotionalE.contactForm}}
                  <a tabindex="-1" href="javascript:void(0)" title="{{hbs.promotionalE.altText}}"
                        {{#if hbs.promotionalE.contactForm}}
                        data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                        id="contact-form-modal"
                        {{/if}}
                        href="{{hbs.promotionalE.primaryUrl}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" >
                     {{#if hbs.promotionalE.imageFileReference}}
                        {{#if hbs.promotionalE.imageConfigExists}}
                            <picture>
                                {{#hbs.promotionalE.imageConfig}}
                                    {{#if this.isDesktop}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                                    {{else}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 0px) and (max-width: 640px)" >
                                    {{/if}}

                                    {{#if @last}}
                                        <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                                    {{/if}}
                                {{/hbs.promotionalE.imageConfig}}
                            </picture>
                        {{else}}
                             <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalE.altText}}" alt="{{hbs.promotionalE.altText}}">
                             </picture>
                        {{/if}}
                     {{/if}}
                  </a>
                  {{else}}
                  <a href="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.altText}}">
                     {{#if hbs.promotionalE.imageFileReference}}
                        {{#if hbs.promotionalE.imageConfigExists}}
                            <picture>
                                {{#hbs.promotionalE.imageConfig}}
                                    {{#if this.isDesktop}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                                    {{else}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 0px) and (max-width: 640px)" >
                                    {{/if}}

                                    {{#if @last}}
                                        <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                                    {{/if}}
                                {{/hbs.promotionalE.imageConfig}}
                            </picture>
                        {{else}}
                          {{#if hbs.promotionalE.enableThreeColumn}}
                            <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.1082.378.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="img-responsive three-col" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.1082.378.jpg" title="{{hbs.promotionalE.altText}}" alt="{{hbs.promotionalE.altText}}">
                             </picture>
                          {{else}}
                             <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalE.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalE.altText}}" alt="{{hbs.promotionalE.altText}}">
                             </picture>
                          {{/if}}
                        {{/if}}
                     {{/if}}
                </a>
                  {{/if}}
               {{/if}}
               <a title="{{hbs.promotionalE.altText}}"
                  {{#if hbs.promotionalE.rfpForm}}
                  data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal" href="{{hbs.promotionalE.primaryUrl}}" data-toggle="modal" data-backdrop="static" data-target="#kpmgModal" data-keyboard="false" tabindex="-1"
                    {{else}}
                    {{#if hbs.promotionalE.contactForm}}
                     data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal" href="{{hbs.promotionalE.primaryUrl}}" data-toggle="modal" data-backdrop="static" data-target="#kpmgModal" data-keyboard="false" tabindex="-1"
                      {{else}}
                        href="{{hbs.promotionalE.primaryUrl}}"
                      {{/if}}
                  {{/if}}>
                  <div class="promotionale-rectangle visible-lg-promoE" tabindex="0"></div>
               </a>
            </div>

            {{#if hbs.promotionalE.rfpForm}}
              <a tabindex="-1" href="javascript:void(0)"
                 data-remote="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.altText}}"
                 data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                 data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                 <h2 class="title visible-lg-promoE">{{hbs.promotionalE.title}}</h2>
              </a>
            {{else}}
              {{#if hbs.promotionalE.contactForm}}
                 <a tabindex="-1" href="javascript:void(0)" data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal" href="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.title}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" id="contact-form-modal">
                    <h2 class="title visible-lg-promoE">{{hbs.promotionalE.title}}</h2>
                 </a>
              {{else}}
                  <a href="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.altText}}">
                    <h2 class="title visible-lg-promoE">{{hbs.promotionalE.title}}</h2>
                  </a>
              {{/if}}
            {{/if}}
            {{#if hbs.promotionalE.rfpForm}}
              <a tabindex="-1" href="javascript:void(0)"
                 data-remote="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.title}}"
                 data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                 data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                 <h2 class="title visible-sm-promoE">{{hbs.promotionalE.title}}</h2>
              </a>
              {{else}}
                 {{#if hbs.promotionalE.contactForm}}
                 <a tabindex="-1" href="javascript:void(0)"
                    data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal"
                    href="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.title}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" id="contact-form-modal">
                    <h2 class="title visible-sm-promoE">{{hbs.promotionalE.title}}</h2>
                 </a>
                 {{else}}
                <a href="{{hbs.promotionalE.primaryUrl}}" title="{{hbs.promotionalE.altText}}">
                  <h2 class="title visible-sm-promoE">{{hbs.promotionalE.title}}</h2>
                </a>
                {{/if}}
            {{/if}}

            {{#if hbs.promotionalE.longDescription}}
              <a title="{{hbs.promotionalE.altText}}"
                  {{#if hbs.promotionalE.rfpForm}}
                  data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal" href="{{hbs.promotionalE.primaryUrl}}" data-toggle="modal" data-backdrop="static" data-target="#kpmgModal" data-keyboard="false" tabindex="-1"
                    {{else}}
                    {{#if hbs.promotionalE.contactForm}}
                      data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal" href="{{hbs.promotionalE.primaryUrl}}" data-toggle="modal" data-backdrop="static" data-target="#kpmgModal" data-keyboard="false" tabindex="-1"
                      {{else}}
                     href="{{hbs.promotionalE.primaryUrl}}"
                    {{/if}}
                   {{/if}}>
                  <p class="promotional-content">{{hbs.promotionalE.longDescription}}</p>
              </a>
          {{/if}}
         </div>
      </div>
        {{#if hbs.promotionalE.externalLink}}
            <div class="library-desktop {{#if hbs.promotionalE.isBlog}} hidden{{/if}}">
                <div class="module-addtolibrary component self-contained clearfix" aria-label="add to Library" data-description="{{{hbs.promotionalE.longDescription}}}" data-shortDescription="{{{hbs.promotionalE.shareDescription}}}" data-href="{{hbs.promotionalE.primaryUrl}}" data-image="{{hbs.promotionalE.imageFileReference}}" data-title="{{{hbs.promotionalE.shortTitle}}}" data-shortTitle="{{hbs.promotionalE.shortTitle}}" tabindex="0" article ="{{hbs.promotionalE.externalLink}}" style="display:none;" data-article-type="{{ hbs.promotionalE.articleType }}">
                    <a href="#" class="addtolibrary-cta" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="addToLibrary" title="Add to library" tabindex="0" aria-haspopup="true">
                    <span class="icon-star"></span>
                    </a>
                </div>
            </div>
            <div class="primary-cta-space">&nbsp;</div>
        {{/if}}
   </div>
</section>
