/*change the font color and size of selected text  in components using RTE*/
@import "_variables.less";

span.fontsize14px{
    font-size: 14px;
}
span.fontsize18px{
    font-size: 18px;
}
span.kpmgblue{
    color: @kpmg-blue;
}
span.mediumblue{
    color: @medium-blue;
}
span.violet{
    color: @violet;
}
span.defaultfontcolor{
	color: @gray-20;
	font-family: @arial;
	line-height: 1.3;
} 
span.defaultfontsize{
	font-size: 1.4rem;
}  
span.black{
	color:@black;
}
