@import "../../global/css/_variables.less";
@import "../../global/css/_helpers.less";

.module-officelocator {
    overflow: hidden;
    padding: 0;
   .title {
        margin: 0 0 0 10px;
        .promo-title(@kpmg-blue);
        padding: 14px 0 14px 0;
    }
    .officeLocatordefaultDescription {
        padding: 0 0 0 10px;
        min-height: 54px;
        color: @gray-40;
    }
    .compDescription{
        margin: 7px 20% 5px 20%;
        .promo-details(@gray-20);
        .hyphen;
        word-break: break-word!important;
        hyphens:auto;
        clear: both;
        border-bottom: 3px solid #f0f0f0;
        line-height: 0 !important;
        span{
            background: @white;
            padding:10px;
        }
    }
    /*dropdown section*/
    select::-ms-expand {
        display: none;
    }
   
    .findOfficeContainer{
        padding:0;       
    }
    .no-padding{
        padding:0;
    }
    .searchBtn{
        position: static;
        float: right;
        width: 100%;
        margin-bottom: 10px;
        &:hover{
            text-decoration: none !important;
            .searchLabel{
                text-decoration: none !important;
            }
        }        
    }

    .queryContainer{
        border-right: 1px solid @gray-94; 
        padding:0;
        .custom-select {
            border: none;
            padding-left: 0px !important;
            width: 100%;
            border-radius: 0;
            margin-bottom: 10px;
            color: #333;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            font-size: 1.4rem;
            .set-font-size(1.6);
            line-height: 120%;        
            padding-right: 0px !important;
            background: none;
        }
        select {
            width: 100% !important;
            border: 1px solid @gray-87;
            padding-left: 9px;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 45px !important;
            height: 28px;
            -moz-appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
            position: relative;
            z-index: 1;
            background: none;
            border-radius: 5px;
        }
        a.btn-cta:focus {            
            outline:none;
        }
        .searchBtnContainer {
            overflow: hidden;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 1px;
        }
        .pull-right-align {
          position:absolute;
          bottom: 0;
          right: 10px;
          .cta-right(@gray-40);
        }
        .searchLabel{
            width: 100%;
            text-align: center;
            float: left;
            padding: 4px 0;
            border-radius: 5px;
        }
        .ctaDisabled{
            cursor: default;
            .searchLabel{
                color:@gray-60;
                text-decoration: none;
                background: @gray-94;
            }
        }
        .ctaEnabled{
            cursor: pointer;
            .searchLabel{
                color: @white;
                background: @medium-blue;
            }
        }
        .btn-primary-blue {
            .promo-title(@white);
            background-color: @persian-green;
            border: none;
            width: 75%;
            min-height:32px;
            height: auto;
            padding: 2px 0;
            border-radius: 5px;
        }
        
        .aligncenter{
            text-align: center;
        }
        .currentLocationBtn{
            width: 100%;
            margin:47px 0 41px 0;
        }
        
        .btnContainer{
            padding : 0 10px 0 10px;
        }
        .dropdownContainer{
            overflow: hidden;
            padding: 36px 10px 3px 10px;
            .setall-non-latin-property-value(padding-top,'38px');
            .select-ikon{
                border-radius: 0 5px 5px 0px;
                background: @medium-blue;
                color: @white;
                height: 26px;
                width: 26px;
                padding: 4px 0 0 6px;
                top: 1px;
                right: 1px;
                z-index: 0;
                position: absolute;
                font-size: 14px;
                font-weight: 100;
            }
            label{
                position: absolute;
                z-index: 0;
                opacity: 0;
            }
        }
    }
    .partnerResultContainer{        
        padding:0;
        overflow-y: auto;
        height:362px;
        width: 48.5%;
        position: relative;
        margin-top:14px;
        .resultsContainer{
            width:96%;
            overflow: hidden;
        }
        .locationName{
            .promo-title(@kpmg-blue);
            .hyphen;
            word-break: break-word!important;
            hyphens:auto;
            line-height: 1.3;
        }
        .address{
            .promo-details(@gray-20);
            .hyphen;
            word-break: break-word!important;
            hyphens:auto;
            padding-left: 30px;
        }
        .icon-email{
            color: @medium-blue;
            margin: 0;
            .font-size(1.6);
        }
        .contactNameContainer{
            padding:0;
        }
        .partner-item {
            margin-left:7px;
            padding: 15px 0 20px 0;
            border-bottom: 1px solid @gray-94;
            width: 96%;
            &:focus{
                box-shadow: 0 0 3px @gray-40;
                outline: 1px solid @grey-text-transparent;
            }
        }
        .defaultImageContainer{
            overflow: hidden;
        }
        .no-results{
            display: none;
        }
        .partner-item:first-child{
            padding-top:0;
        }
        .partner-item:last-child{
            border:none;
            padding-bottom: 0;
        }
        
        .col-md-6{
            min-width: auto;
        }
        .load-more{
            display: none;
        }
        .icon-location{
            color: @medium-blue;
            margin: 0;
            .font-size(1.6);
            padding-right: 5px;
            padding-left:6px;
            position: relative;
            top:1px;
        }
        .defaultImageContainer {
            img{
                margin-left: 50%;
                transform:translateX(-50%);
                margin-top:0;
            }
        }
        .imageContainer{
            position: absolute;
            left: 50%;
            top:50%;
            transform:translate(-50%,-50%);
        }
        .phone a{
            color: inherit;
            text-decoration: none;
            pointer-events: none;
        }
        .officeDetails{
            overflow: hidden;
            cursor: pointer;
        }
        .dialerIcon {
            color: @medium-blue;
            padding-right: 6px;
            padding-left: 5px;
            font-size: 16px;
            position: relative;
            top: 2px;
            left: 2px;
        }
    }
    .languageModal{
        display: none;
    }
    
    @media only screen and (max-width: 640px) {
        .searchBtn{
            margin-bottom: 3px;
            .searchLabel{
                width: 100%;
            }
        }
        .compDescription{
            margin:0;
        }
        .officeLocatordefaultDescription {
            display: none;
        }
        .titleContainer{
            border-bottom: 0;
            .title{
                padding-top: 10px !important;
            }
        }
        .partnerResultContainer{
            border:none;
            width:100%;
            height: auto;
            overflow: hidden;
            position: relative;
            margin-top:0;
            .resultsContainer{
                height:auto;
                overflow: hidden;
                background: @alice-blue;
                margin-top: 4px;
                width: 100%;
                
            }
            .partner-item{
                display: none;
                margin:0;
                padding:10px 10px 7px 7px;
                border-bottom: none;
                width:100%;
            }
            .partner-item:last-child{
                border:none;
                padding-bottom: 7px;
            }
            .partner-item:first-child{
                border-top: 5px solid #f0f0f0;
            }
            .partner-item:nth-child(-n+2) {
                display: block !important;
            }
            .icon-location{
                padding-right: 7px;
            }
            .load-more{ 
                text-align: center;
                background: @alice-blue;
                padding: 10px 0 17px 0;
                display: none;
            }
            .load-more-link {
                position: relative;
                width: 75%;
                &:hover {
                    cursor: pointer;
                }
            }
            .icon-add{
                margin-right:20px;
            }
            .messageIcon {
                text-align: right;
            }
            .component-link.btn-more {
                &:hover {
                    text-decoration: underline;
                }
            }
            .defaultResultContainer{
                background: @white;
                padding: 0 10px;
                display: none;
            }
            .btn-primary-blue {
                .promo-title(@white);
                background-color: @persian-green;
                border: none;
                height:32px;
                text-align: center;
                border-radius: 5px;
            }
            .defaultImageContainer {
                position: static;
            }
            .imageContainer{
                position: static;
                transform: none;
            }
            .phone a{
                color: @kpmg-blue;
                text-decoration: none;
                pointer-events: auto !important;;
            }
            .no-results{
                padding: 0 10px;
            }
        }
        .findOfficeContainer {
            display: block;
            padding: 0 0 0 0;
        }
        .queryContainer{
            .currentLocationBtn{
                width:90%;
                margin:0 0 20px 0;
            }
            .dropdownContainer{
                padding: 13px 10px 3px 10px;
            }
        }
        
        .btnContainer {
            padding: 0 10px 0 10px;
        }
    }
}
.langListContainer{
    text-align: center;
}
.langListItem{
    padding: 17px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: @gray-40;
}
.langListSection{
    border-bottom: 2px solid #f0f0f0;
}
.langListSection:last-child{
    border:0;
}
.languageModal-title{
    .component-title(@kpmg-blue);
}
.modal-body-padding{
    padding:15px 0 0 0;
}
.modal-header-padding{
    padding:20px 0 10px 0;
    margin:0 30px;
}
.selectLangText{
    padding: 20px 15px 22px 30px;
    border-bottom: 2px solid #f0f0f0;
}
.langModalContentContainer{
    padding: 0;
}
.btn-close.langCloseBtn {
    top: 22px;
    right: 20px;
    cursor: pointer;
}
.modalDescription{
    padding:0 30px;
}





