<section class="module-tmpl-topic">
  <div class="row visible-sm-block visible-md-block visible-lg-block">
    <div class="col-md-12 bread-crumb-full">
      <div class="inner-container">
        {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="tmpl-row col-md-12 full-page-title" data-desktop-cell="1" data-mobile-cell="1">
      <div class="inner-container">
        {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
      </div>
    </div>
  </div>

  <div class="inner-container">
    <div class="row">
      <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
        {{include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}}
      </div>
    </div>
    <div class="row">
      <div class="row-same-height row-full-height">
        <div class="col-md-9 col-full-height col-md-height col-sm-height col-top" data-desktop-cell="3" data-mobile-cell="3">
          {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
        </div>
        <div class="col-md-3 col-full-height col-md-height col-sm-height col-top component-container-patch">
          <div class="row" data-desktop-cell="4" data-mobile-cell="14">
            {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
          </div>
          <div class="row desktop-only border-all"></div>
          <div class="row " data-desktop-cell="5" data-mobile-cell="4">
            {{include "mykpmgpromo" resourceType="/apps/kpmgpublic/components/global/mykpmgpromocomponent"}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row-same-height row-full-height">
        <div class="col-md-9" data-desktop-cell="18" data-mobile-cell="18">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell3"}}
        </div>
      </div>

      <div class="col-md-12 empty-content-check" data-desktop-cell="6" data-mobile-cell="5">
        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8"}} {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder"
        path="cell8"}} {{/render}}
      </div>

      <div class="row-same-height row-full-height topicpromocells">
        <div class="col-md-6 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="7" data-mobile-cell="6">
          {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9"}} {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder"
          path="cell9"}} {{/render}}
        </div>
        <div class="col-md-6 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="8" data-mobile-cell="7">
          {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}} {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder"
          path="cell10"}} {{/render}}
        </div>
      </div>

      <div class="col-md-12 empty-content-check" data-desktop-cell="9" data-mobile-cell="8">
        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}} {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder"
        path="cell11"}} {{/render}}
      </div>
    </div>


      <div class="row-same-height row-full-height topicpromocells1 ">
        <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="10" data-mobile-cell="9" >

          {{include "promotionalb" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
        </div>

        <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="11" data-mobile-cell="10" >
          {{include "promotionalb" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
        </div>

        <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="12" data-mobile-cell="11">
          {{include "promotionalc" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
        </div>

        <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="13" data-mobile-cell="12" >
           {{include "promotionald" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
        </div>
      </div>

    <div class="" data-desktop-cell="14" data-mobile-cell="13">
   {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder,/apps/kpmgpublic/components/hidden/placeholder,/apps/kpmgpublic/components/hidden/placeholder,/apps/kpmgpublic/components/hidden/placeholder"
      path="cell16,cell17,cell18,cell19"}}

      <div class="row-same-height row-full-height topicpromocells2">
        <div class="col-md-3 col-full-height col-md-height col-sm-height col-top col-transparent">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell16"}}
        </div>
        <div class="col-md-3 col-full-height col-md-height col-sm-height col-top col-transparent">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell17"}}
        </div>
        <div class="col-md-3 col-full-height col-md-height col-sm-height col-top col-transparent">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell18"}}
        </div>
        <div class="col-md-3 col-full-height col-md-height col-sm-height col-top col-transparent">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell19"}}
        </div>
      </div>


    {{/render}}
    </div>
    <div class="row" data-desktop-cell="15" data-mobile-cell="15">
      {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell15"}}
      <div class="row-same-height row-full-height">
        <div class="col-md-12 col-full-height col-md-height col-sm-height col-top">
          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell15"}}
        </div>
      </div>
      {{/render}}
    </div>
  </div>

</section>
