<template id="mobile-primary-nav-list-component-template">
    <li 
        class="mobile-primary-nav-list-component vue-component bg-gray-99 list-unstyled" 
        v-if="(vm.flyout.cell1.type === 'nav-list')"
    >
            <!-- COLLAPSE TRIGGER -->
            <mobile-nav-collapse-trigger
                :vm="vm"
            >
            </mobile-nav-collapse-trigger>

            <!-- COLLAPSE MENU   -->
            <mobile-nav-sub-list-group 
                :vm="vm"
            ></mobile-nav-sub-list-group>
    </li>
</template>