<!-- Begin Component: PrintButton -->
<section class="module-printbutton component">
    <div class="bg-white clearfix">
        <div class="pull-left">
            <div class="row print-text">
                <a class="component-link print-button" href="#" title="{{i18n "kpmg.enhancements.articledetails.printButtonLabel"}}">
                    <span class="icon-print-friendly"></span>
                    <span class="print-label">{{i18n "kpmg.enhancements.articledetails.printButtonLabel"}}</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Component: PrintButton -->
