@import "../../../../../../../global/css/_variables.less";

.ikon-trigger-with-animated-search-bar-component {
    &:focus {
        outline: 1px @gray-87 solid;
    }
    span.icon.icon-search {
        font-size: 20px;
    }
    .cursor-pointer {
        // DESIGN
        cursor: pointer;
    }
}