<!-- Begin Component: Fullbleedbanner -->
<div class="module-fullbleedbanner component {{#unless hbs.fullbleedbanner.imageFileReference}}hide{{/unless}}">
    <div class="fullbleedbannerContainer">

        {{#if hbs.fullbleedbanner.imageConfigExists}}

        <picture>
            {{#hbs.fullbleedbanner.imageConfig}} {{#if hbs.fullbleedbanner.isDesktop}}
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg"
                media="screen  and (min-width: 641px) and (max-width: 9440px)"> {{else}}
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.640.490.jpg"
                media="screen  and (min-width: 0px) and (max-width: 640px)"> {{/if}} {{#if @last}}
            <img src="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg"
                alt="{{imageAltText}}" title="{{imageAltText}}" /> {{/if}} {{/hbs.fullbleedbanner.imageConfig}}
        </picture>
        {{else}}
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.640.490.jpg"
                media="screen  and (min-width: 0px) and (max-width: 640px)">
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg"
                media="screen  and (min-width: 641px) and (max-width: 9440px)">
            <!--[if IE 9]></video><![endif]-->
            <img src="{{hbs.globalValues.assetDomainName}}{{hbs.fullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg"
                title="{{hbs.fullbleedbanner.imageAltText}}" alt="{{hbs.fullbleedbanner.imageAltText}}">
        </picture>
        {{/if}}

        <div class="caption-wrapper left" title="{{hbs.fullbleedbanner.imageAltText}}">
            <div class="caption-inner-wrapper">
                <div class="caption">
                    <div class="wrapper">
                        <h1 class="banner-header mobile-only">{{hbs.fullbleedbanner.shortTitle}}</h1>
                        <h1 class="banner-header desktop-only {{#if hbs.fullbleedbanner.location}}location-header{{/if}}">{{hbs.fullbleedbanner.title}}</h1>

                        {{#if hbs.fullbleedbanner.location}}
                            <div class="location-content">
                                <div class="location-address">
                                    <a href="tel:{{hbs.fullbleedbanner.telephone}}">
                                        <p>{{hbs.fullbleedbanner.address1}}</p>
                                        <p>{{hbs.fullbleedbanner.address2}}</p>
                                        <p>{{hbs.fullbleedbanner.city}}</p>
                                    </a>
                                </div>
                                <div class="location-contact">
                                    {{#if hbs.fullbleedbanner.telephone}}
                                        <p class="contact-number">
                                            <span class="mobile-only icon-contact"></span>
                                            <span>{{i18n hbs.fullbleedbanner.phoneNumberLabel}}&#58;&nbsp;</span>
                                            <a href="tel:{{hbs.fullbleedbanner.telephone}}" x-cq-linkchecker="skip" aria-label="Call us at {{hbs.fullbleedbanner.telephone}}">{{hbs.fullbleedbanner.telephone}}</a>
                                        </p>
                                    {{/if}}
                                    {{#if hbs.fullbleedbanner.fax}}
                                        <p class="desktop-only">
                                            <span>{{i18n hbs.fullbleedbanner.faxNumberLabel}}&#58;&nbsp;</span>
                                            <a href="javascript:void(0)" aria-label="Fax us at {{hbs.fullbleedbanner.fax}}">{{hbs.fullbleedbanner.fax}}</a>
                                        </p>
                                    {{/if}}
                                </div>
                            </div>
                        {{else}}
                            <div class="banner-content">
                                <div class="banner-description">
                                    <p class="mobile-only">{{hbs.fullbleedbanner.shortDescription}}</p>
                                    <p class="desktop-only">{{hbs.fullbleedbanner.description}}</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if hbs.fullbleedbanner.shareButton}}
            <div class="share-desktop">
                {{include "share" resourceType="/apps/kpmgpublic/components/social/share"}}
            </div>
            {{/if}}

        </div>
    </div>

</div>
<!-- End Component: Fullbleedbanner -->
