<section class="module-tmpl-events-landing">
    <div class="row">
        <div class="col-md-12 no-padding">
            {{ include "fullbleedbanner" resourceType="/apps/kpmgpublic/components/global/fullbleedbanner"}}
        </div>
    </div>
    <div class="inner-container">
        <div class="row tmpl-row">
            <div class="row-same-height row-full-height">
                {{ include "resultlisting" resourceType="/apps/kpmgpublic/components/content/resultlistingnotabs"}}
            </div>
        </div>
    </div>
</section>