
{{#if hbs.authors.authorsList}}
<section class="module-authors component clearfix">
    <div class="col-md-12 col-xs-12">
        <div class="bg-white">
            {{#if hbs.authors.title}}
            <h2 class="primary-head">
                {{hbs.authors.title}}
            </h2> 
            {{/if}}
            {{#if hbs.authors.profileView}}
            {{#each hbs.authors.authorsList}}
                <a href="{{this.urlReference}}" tabindex="-1">
                    {{#if hbs.authors.imageConfigExists}}
                    <div data-picture data-alt='{{this.altText}}'>
                        {{#hbs.authors.imageConfig}}
                        <div data-src="{{hbs.globalValues.assetDomainName}}{{../this.contactProfile}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div> 
                        {{#if @last}}
                                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                        {{/if}}
                        {{/hbs.authors.imageConfig}}
                        
                    </div>
                    {{else}}
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-desktop="{{hbs.globalValues.assetDomainName}}{{this.contactProfile}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{hbs.globalValues.assetDomainName}}{{this.contactProfile}}/jcr:content/renditions/cq5dam.web.512.341.jpg" alt="{{this.altText}}" class="lazy img-responsive"/>
                    {{/if}}
                </a>
            <div class="secondary-head">
                <a href="{{this.urlReference}}" title="{{this.salutation}} {{this.firstName}} {{this.middleInitial}} {{this.lastName}} {{this.suffix}}">
                    {{this.salutation}} {{this.firstName}} {{this.middleInitial}} {{this.lastName}} {{this.suffix}}
                </a>
            </div>
            <div class="authors-info">
                <p>{{this.jobTitle}}</p>
                <p>
                    {{#if this.speaker}}
                    {{this.companyName}}
                    {{else}}
                    {{this.memberFirm}} 
                    {{/if}}
                </p>
            </div>
            {{/each}}
            <div class="icon pull-right">
                <span class="authors-contact-form" tabindex="0">
                    <span class="icon-email"></span><span id="{{hbs.authors.contactPageName}}" class="btn-modal people-connect author-data-link" data-toggle="modal" data-target="#kpmgModal" data-backdrop="static" data-keyboard="false"
                          data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html"
                          data-remote="{{hbs.authors.contactReference}}{{#each hbs.authors.authorsList}}{{this.urlReference}}{{/each}}"
                          title="{{i18n hbs.authors.contact}}" role="button">{{i18n hbs.authors.contact}}</span>
                </span>         
            </div> 
            {{else}} 
            <ul class="authors-list">
                {{#each hbs.authors.authorsList}}
                <li>
                    <p class="author-name">
                        <a href="{{this.urlReference}}" title="{{this.salutation}} {{this.firstName}} {{this.middleInitial}} {{this.lastName}} {{this.suffix}}">
                            {{this.salutation}} {{this.firstName}} {{this.middleInitial}} {{this.lastName}} {{this.suffix}}
                        </a> 
                    </p>
                    <p class="author-desc">
                        {{#if this.speaker}}
                        {{this.companyName}}
                        {{else}}
                        {{this.memberFirm}} 
                        {{/if}}
                    </p>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
</section>
{{/if}}
