<!-- RADIO-LABEL -->
{{
	include "radio-label"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/radio-label.hbss"
}}

<!-- LINK LABEL WITH CHEVRON -->
{{
	include "link-label-with-chevron"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/link-label-with-chevron.hbss"
}}

{{
	include "sub-list-item"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/sub-list-item.hbss"
}}

<!-- MOBILE-MENU-TOGGLE-AND-MENU-->
{{
	include "mobile-menu-toggle-and-menu"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-menu-toggle-and-menu.hbss"
}}
<!-- MOBILE-NAV-SLIDE-MENU -->
{{
	include "mobile-nav-slide-menu"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-slide-menu.hbss"
}}

<!-- MOBILE-SLIDE-MENU-TOGGLE-TRIGGER -->
{{
	include "mobile-slide-menu-toggle-trigger"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-slide-menu-toggle-trigger.hbss"
}}

<!-- MOBILE-NAV-SLIDE-MENU -->
{{
	include "mobile-nav-slide-menu"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-slide-menu.hbss"
}}

<!-- MOBILE-NAV-MENU-TABS -->
{{
	include "mobile-nav-menu-tabs"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-menu-tabs.hbss"
}}

<!-- MOBILE-NAV-TAB-MENU -->
{{
	include "mobile-nav-tab-menu"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-tab-menu.hbss"
}}

<!-- MOBILE-NAV-TAB-COLLAPSE-TRIGGERS -->
{{
	include "mobile-nav-tab-collapse-triggers"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-tab-collapse-triggers.hbss"
}}

<!-- MOBILE-NAV-TAB -->
{{
	include "mobile-nav-tab"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-tab.hbss"
}}

<!-- MOBILE-NAV-USER-PROFILE-TAB-CONTENT -->
{{
	include "mobile-nav-user-profile-tab-content"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-user-profile-tab-content.hbss"
}}

<!-- MOBILE-NAV-USER-PROFILE-TAB-CONTENT -->
{{
	include "mobile-nav-user-profile-tab-content"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-user-profile-tab-content.hbss"
}}

<!-- MOBILE-NAV-SEARCH-TAB-CONTENT -->
{{
	include "mobile-nav-search-tab-content"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-search-tab-content.hbss"
}}

<!-- MOBILE-NAV-LANGUAGE-LOCALE-TAB-CONTENT -->
{{
	include "mobile-nav-language-locale-tab-content"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-language-locale-tab-content.hbss"
}}

<!-- COLLAPSE-CANCEL-TRIGGER -->
{{
	include "collapse-cancel-trigger"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/collapse-cancel-trigger.hbss"
}}

<!-- MOBILE-NAV-SUB-LIST-GROUP -->
{{
	include "mobile-nav-sub-list-group"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-sub-list-group.hbss"
}}

<!-- MOBILE PRIMARY NAV LIST -->
{{
	include "MobileNavCollapseTrigger"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-nav-collapse-trigger.hbss"
}}

<!-- MOBILE PRIMARY NAV LIST -->
{{
	include "MobilePrimaryNavList"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/partials/mobile-primary-nav-list.hbss"
}}
