<!-- Begin Component: EmailBody -->
<table>
    <tr>
        <td>
            <img style="margin-top:30px;" src="{{hbs.globalValues.assetDomainName}}{{hbs.email-body.imageLogo}}" alt="{{hbs.email-body.imageAltText}}"></img>
        </td>
    </tr>
    <tr style="margin-top:50px;">
        <td><p style="font-size:26px; font-family:Arial; font-weight:bold; line-height:1.2; color:#003387;">{{hbs.email-body.emailSubject}}</p></td>
    </tr>
    <tr>
        <td class="emailContent">
                <p>{{{ hbs.email-body.emailContent}}}</p>
        </td>
    </tr>
    <tr style="bottom:0; position:fixed; border-top:1px solid #909090;padding-top:20px; font-size:7px; font-family:Arial; line-height:1.2;">
        <td style="display:inline-block; border-right:1px solid black; padding-right:5px;">
            <a style="text-decoration:none; color:inherit" href="{{hbs.email-body.privacyLink}}">{{i18n hbs.email-body.privacyLabel}}</a>
        </td>
        <td style="display:inline-block; border-right:1px solid black; padding:0 5px 0 5px;">
            <a style="text-decoration:none; color:inherit" href="{{hbs.email-body.legalLink}}">{{i18n hbs.email-body.legalLabel}}</a>
        </td>
        <td style="display:inline-block; border-right:1px solid black; padding:0 5px 0 5px;">
            <a style="text-decoration:none; color:inherit" href="{{hbs.email-body.helpLink}}">{{i18n hbs.email-body.helpLabel}}</a>
        </td>
        <td style="display:inline-block; border-right:1px solid black; padding:0 5px 0 5px;">
            <a style="text-decoration:none; color:inherit" href="{{hbs.email-body.contactLink}}">{{i18n hbs.email-body.contactLabel}}</a>
        </td>
        <td style="display:inline-block;">
            <p>{{i18n hbs.email-body.copyRight}}</p>

        </td>
    </tr>
</table>
<!-- End Component: EmailBody -->
    