@import "../../../../../global/css/_variables.less";

// LEVEL 1
@import "../sub-components/navbar-nav/css/navbar-nav";
@import "../sub-components/navbar-ikon-menu/css/navbar-ikon-menu";

// LEVEL 2
@import "../sub-components/navbar-nav-list-item/css/navbar-nav-list-item";
@import "../sub-components/ikon-trigger-with-navflyout-dropdown/css/ikon-trigger-with-navflyout-dropdown";
@import "../sub-components/ikon-trigger-with-animated-search-bar/css/ikon-trigger-with-animated-search-bar";

// LEVEL 3
@import "../sub-components/nav-flyout-fullbleed/css/nav-flyout-fullbleed";
@import "../sub-components/animated-search-bar/css/animated-search-bar";

// LEVEL 4
@import "../sub-components/nav-flyout-cell/css/nav-flyout-cell";

// LEVEL 5
@import "../sub-components/promotional/css/promotional";
@import "../sub-components/card-link/css/card-link";
@import "../sub-components/site-selector-list/css/site-selector-list";
@import "../sub-components/nav-list/css/nav-list";
@import "../sub-components/interest-summary/css/interest-summary";
@import "../sub-components/site-selector-card/css/site-selector-card";

//
.desktop-navbar-component {
	padding: 0 43px !important;
    .navbar-nav {
        margin-bottom: -25px;
    }
    .navbar-ikon-menu-component {
        margin-bottom: -14px;
        .nav-flyout-fullbleed-component {
            margin-top: -4px;
        }
    }
}

.blogs {
    .desktop-navbar-component {
        padding: 0 55px .5rem !important;
    }

}
