@import "../../breadcrumb/css/breadcrumb";
@import "../../googlemap/css/googlemap";
@import "../../share/css/share";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../image/css/image";
@import "../../connectandrfp/css/connectandrfp";
@import "../../bodytext/css/bodytext";
@import "../../contactcarousel/css/contactcarousel";
@import "../../address/css/address";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../inlinelist/css/inlinelist";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../addtolibrary/css/addtolibrary";
@import "../../fullbleedbanner/css/fullbleedbanner";
@import "../../manualsubnav/css/manualsubnav";


.module-tmpl-location-details {

    .visible-lg-block{
        margin-top: -9px;
    }

    .parsys-row {
        border-bottom: 0 none;
        border-top: 0 none;

        &:last-child {
           border-bottom: 0 none;
        }
        &:first-child {
           border-top: 0 none;
        }
    }

    .parsys-image {
       .parsys-row {
            &:first-child {
               border-top: 0 none;
            }
       }
    }

    .parent-parsys {
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;

        .parsys-row {
            &:last-child {
               border-bottom: 0 none;
            }
        }
    }

    .bread-crumb-full {
        padding: 0 9px;
        background-color: @gray-94;
    }

    .module-breadcrumb {
        background-color: @gray-94;
    }

    .module-bodytext {
        padding: 10px;
    }

    .module-connectandrfp {
        position: relative;
    }

    @-moz-document url-prefix() {
        .module-contactcarousel {
            .owl-carousel .owl-stage-outer {
                overflow: visible;
            }
        }
    }
}

@media (max-width: 640px) {
    .module-tmpl-location-details {
        .module-bodytext {
            margin-bottom: 18px;
        }
    }
}

@media (min-width:@desktop-min-fixed) {

    .module-tmpl-location-details {

        .parsys-row {
            margin-bottom: 18px;
        }

        .parent-parsys {
            .parsys-row {
                &:last-child {
                   border-bottom: 9px solid @gray-94;
                }
            }
        }

    }

}

@media (min-width:@desktop-min-fluid) {

    .module-tmpl-location-details {

        .parsys-row {
            margin-bottom: 18px;
        }

        .parent-parsys {
            .parsys-row {
                &:last-child {
                   border-bottom: 9px solid @gray-94;
                }
            }
        }

    }
}

// IE specific hover effect solution for CTA redesign
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.module-tmpl-location-details{
        .promotional-cell-hover { 
            height: auto !important;
        }
	}
}