@import "../../breadcrumb/css/breadcrumb";
@import "../../bodytext/css/bodytext";
@import "../../emptyplaceholder/css/emptyplaceholder";
@import "../../audiovideo/css/audiovideo";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../socialwidget/css/socialwidget";
@import "../../connectandrfp/css/connectandrfp";
@import "../../bodytext/css/bodytext";
@import "../../share/css/share";
@import "../../campaignpagetitle/css/campaignpagetitle";
@import "../../contactpromo/css/contactpromo";
@import "../../shortcarousel/css/shortcarousel";
@import "../../listing/css/listing";
@import "../../mykpmgpromo/css/mykpmgpromo";

.module-tmpl-campaigntopic {
	.bread-crumb-full {
	   background-color: @gray-94;
	   .module-breadcrumb.component {
	     background-color: @gray-94;
	     padding-top: 0px;
	   }
	 }
    .parent-parsys {
       .parsys-row {
            border-top: 0 none;
            padding-bottom: 0; 
            &:first-child {
                border-top: 0 none; 
            }
        } 
    }

    .module-socialwidget .module-socialchannels{
        margin-bottom: 0 !important;
    }

    .module-promotionala.component {
      margin-top: 18px;
    }
}

@media (min-width:@desktop-min-fixed) {
    
    .module-tmpl-campaigntopic {

        .parent-parsys {
            border: 0;
            .parsys-row {
                padding-bottom: 18px;
            }

            .parsys-row:last-child {
                padding-bottom: 0;
            } 
        }

        .module-promotionala.component {
          margin-top: 0;
        }

        .module-campaignpagetitle {
            .img-responsive {
                height: 378px;
            }
        }

    }

}