
@sides: t,r,b,l;
@side-names: top, right, bottom, left;
.generateMargins(@i:length(@sides)) when (@i > 0) {
  	.generateMargins((@i - 1));
  	@type: auto;
  	@side: extract(@sides, @i);
  	@side-name: extract(@side-names, @i); 
  .m@{side}-@{type} {
    	margin-@{side-name}:@type;
  }
}