@import "../../global/css/_variables.less";

.module-authors {
    .col-md-12 {
        padding: 0;
    }

    .primary-head {
        .component-title(@kpmg-blue);
        .hyphen;
        margin: 0 0 10px 0; 
        text-transform: none;
    }

    .secondary-head {
        margin: 8px 0;
        font-size: inherit;
        a {
            .promo-title(@kpmg-blue);
            .hyphen;
            margin-left: 1px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .icon {
        margin: 1px;
        .icon-email {
          color: @light-green;
          margin: 0 5px 0 0;
          .font-size(1.6);
        }
    }

    .authors-info {
        width: 100%;
        float: left;
        p {
            margin: 7px 0;
            .promo-details(@gray-20);
            .hyphen;
            width: 100%;
            float: left;
        }
    }

    .authors-list {
        width: 100%;
        float: left;

        li:first-child {
            .author-name {
                margin: 8px 0;
            }
        }

        p {
            width: 100%;
            float: left;
        }
    }

    .author-name {
        margin: 20px 0 8px;
        font-size: inherit;

        a {
            .promo-title(@medium-blue);
            .hyphen;
            margin-left: 1px;
        }

        a:hover {
            text-decoration: underline;
        }

    }

    .author-desc {
        .promo-details(@gray-20);
        .hyphen;
        margin: 0 0 7px 0;
    }

    .author-data-link {
        .page-description(@gray-40);
        .hyphen;
        text-transform: none;
    }
    

}

@media (min-width:@desktop-min-fixed) {
    .module-authors {
        img {
            height: 158px;
        }
    }
}