<!-- Begin Component: TouchAuthorSummary -->
<div class="module-touch-author-summary component">
    <div class="author-summary-wrapper">
    	<h2 class="author-title">{{hbs.authorSummary.shortTitle}}</h2>
        <p class="author-summary-details" id="authorDetailsUrl" data-authorUrl={{hbs.authorSummary.authorUrl}}><span class="author-name">{{hbs.authorSummary.authorName}}</span></span> | <span class="author-role">{{hbs.authorSummary.authorRole}}</span>, <span data-publishedDate="{{hbs.authorSummary.publishDate}}" class="publish-date"></span></p>
    </div>
</div>
<!-- End Component: TouchAuthorSummary -->
