<section class="module-promotionald component" personalize="{{hbs.promotionalD.personalized}}" {{#if hbs.promotionalD.personalized}}hidden{{/if}} no-of-results-required="{{hbs.promotionalD.numberOfContents}}" article ="{{hbs.promotionalD.externalLink}}" tabindex="0">
    <div class="promotionald-container clearfix">
        <a href="{{hbs.promotionalD.primaryUrl}}" title="{{hbs.promotionalD.shortTitle}}">
            <h3 class="alt-secondary-head {{#if hbs.promotionalD.isNews}} {{else}} tool {{/if}} image-title">
                 <span>
                {{#if hbs.promotionalD.personalized}}
                    {{#if hbs.promotionalD.numberOfContents}}
                        {{i18n hbs.promotionalD.newsTitle}}
                    {{else}}
                        {{hbs.promotionalD.title}}
                    {{/if}}
                {{else}}
                    {{i18n hbs.promotionalD.newsTitle}}
                {{/if}}
                </span>
            </h3>
        </a>
        {{#if hbs.promotionalD.shortTitle}}
        {{#if hbs.promotionalD.rfpForm}}
        <a tabindex="-1" href="javascript:void(0)"
        data-remote="{{hbs.promotionalD.primaryUrl}}" title="{{hbs.promotionalD.shortTitle}}"
        data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
        data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
            <h3 class="alt-tertiary-head">{{hbs.promotionalD.shortTitle}}</h3>
        </a>
    {{else}}
    {{#if hbs.promotionalD.contactForm}}
    <a tabindex="-1" href="javascript:void(0)"
    data-remote="{{hbs.promotionalD.primaryUrl}}"
    title="{{hbs.promotionalD.shortTitle}}"
    {{#if hbs.promotionalD.contactForm}}
    data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
    id="contact-form-modal"
    {{/if}}
    data-toggle="modal"
    data-backdrop="static" data-keyboard="false"
    data-target="#kpmgModal" id="contact-form-modal">
    <h3 class="alt-tertiary-head line-clamp line-clamp-3">{{hbs.promotionalD.shortTitle}}</h3>
    </a>
    {{else}}
    <a href="{{hbs.promotionalD.primaryUrl}}" title="{{hbs.promotionalD.shortTitle}}">
        <h3 class="alt-tertiary-head line-clamp line-clamp-3">{{hbs.promotionalD.shortTitle}}</h3>
    </a>
    {{/if}}
    {{/if}}
    {{/if}}
    {{#if hbs.promotionalD.shortDescription}}

        {{#if hbs.promotionalD.rfpForm}}
            <a title="{{hbs.promotionalD.shortTitle}}"
                tabindex="-1" href="javascript:void(0)"
                data-remote="{{hbs.promotionalD.primaryUrl}}"
                data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                <p class="promotionald-description line-clamp line-clamp-7">{{hbs.promotionalD.shortDescription}}</p>
            </a>
        {{else}}
            {{#if hbs.promotionalD.contactForm}}
                <a title="{{hbs.promotionalD.shortTitle}}"
                    tabindex="-1" href="javascript:void(0)"
                    data-remote="{{hbs.promotionalD.primaryUrl}}"
                    data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                    data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal">
                    <p class="promotionald-description line-clamp line-clamp-7">{{hbs.promotionalD.shortDescription}}</p>
                </a>
            {{else}}
                <a href="{{hbs.promotionalD.primaryUrl}}" title="{{hbs.promotionalD.shortTitle}}">
                    <p class="promotionald-description line-clamp line-clamp-7">{{hbs.promotionalD.shortDescription}}</p>
                </a>
            {{/if}}
        {{/if}}

    {{/if}}
    {{#if hbs.promotionalD.externalLink}}
    <div class="library-desktop {{#if hbs.promotionalD.isBlog}} hidden{{/if}}">
        <div class="module-addtolibrary component self-contained clearfix" aria-label="add to Library" data-description="{{{hbs.promotionalD.longDescription}}}" data-shortDescription="{{{hbs.promotionalD.shareDescription}}}" data-href="{{hbs.promotionalD.primaryUrl}}" data-image="{{hbs.promotionalD.imageFileReference}}" data-title="{{{hbs.promotionalD.shortTitle}}}" data-shortTitle="{{hbs.promotionalD.shortTitle}}" article ="{{hbs.promotionalD.externalLink}}" style="display:none;">
            <a href="#" class="addtolibrary-cta" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="addToLibrary" tabindex="0" title="Add to library" aria-haspopup="true">
                <span class="icon-star"></span>
            </a>
        </div>
    </div>
    <div class="primary-cta-space">&nbsp;</div>
{{/if}}
</div>
</section>
