<!-- Begin Component: PrivacyPreferences -->
<div class="module-privacy-preferences component" data-expiry="{{hbs.privacyPreferences.dataExpiryWindow}}" data-version2="{{hbs.privacyPreferences.versionTwo}}">
    {{#if hbs.privacyPreferences.versionOne}}
        <div class="privacy-container-row version1">
            <div class="col-md-12 privacy-header">
                <p class="descriptions"> {{i18n "kpmg.personalization.privacypreference.yourprivacymatterdesc"}} </p>
            </div>
            <div class="col-md-12 download-data">
                <a id="download-data-link" href="javascript:void(0);" class="active" tabindex="0" aria-label='{{i18n "kpmg.personalization.privacypreference.downloaddataset"}}'>
                    <span class="icon-profile-download"></span>
                    <span class="download-label"> {{i18n "kpmg.personalization.privacypreference.downloaddataset"}} </span>
                </a>
            </div>
            <div class="col-md-12 delete-account">
                <a id="delete-account-link" href="javascript:void(0);" class="active" tabindex="0" aria-label='{{i18n "kpmg.personalization.privacypreference.deleteaccount"}}'>
                    <span class="icon-profile-delete"></span>
                    <span class="delete-label"> {{i18n "kpmg.personalization.privacypreference.deleteaccount"}} </span>
                </a>
            </div>
            <div class="col-md-12 delete-account-notes">
                <div class="delete-account-note-header"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.headerlabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.profileinfolabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.bloglikeslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.blogcommentslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.contentpreferencelabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.subscriptionslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.librarylabel"}} </div>
            </div>
        </div>
    {{/if}}
    {{#if hbs.privacyPreferences.versionTwo}}
        <div class="privacy-container-row version2">
            <div class="col-md-12 privacy-header">
                <p class="descriptions"> {{i18n "kpmg.personalization.privacypreference.yourprivacymatterdesc"}} </p>
            </div>
            <div class="col-md-12 download-data">
                <a id="download-data-link" href="javascript:void(0);" class="active" tabindex="0" aria-label='{{i18n "kpmg.personalization.privacypreference.requestdataset"}}'>
                    <span class="icon-profile-download"></span>
                    <span class="download-label"> 
                        <span class="download-label-content1">{{i18n "kpmg.personalization.privacypreference.requestdataset"}} </span>
                        <span class="download-label-content2 hidden">{{i18n "kpmg.personalization.privacypreference.downloadfullAccountdata"}} </span>
                    </span>
                </a>
            </div>
            <div class="col-md-12 download-message hidden">
                {{i18n "kpmg.personalization.privacypreference.requestReceivedMessage"}}
            </div>
            <div class="col-md-12 download-data-ready hidden">
                <button id="download-data-ready-link" href="javascript:void(0);" tabindex="0">
                    <span class="icon-profile-download"></span>
                    <span class="download-label"> {{i18n "kpmg.personalization.privacypreference.downloaddatalabel"}} </span>
                </button>
            </div>
            <div class="col-md-12 delete-account">
                <a id="delete-account-link" href="javascript:void(0);" class="active" tabindex="0" aria-label='{{i18n "kpmg.personalization.privacypreference.deleteaccount"}}'>
                    <span class="icon-profile-delete"></span>
                    <span class="delete-label"> {{i18n "kpmg.personalization.privacypreference.deleteaccount"}} </span>
                </a>
            </div>
            <div class="col-md-12 delete-account-notes">
                <div class="delete-account-note-header"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.headerlabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.profileinfolabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.bloglikeslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.blogcommentslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.contentpreferencelabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.subscriptionslabel"}} </div>
                <div class="delete-account-list"> {{i18n "kpmg.personalization.privacypreference.deleteaccount.librarylabel"}} </div>
            </div>
            <a id="downloadLink" tabindex="-1" style="display:none"></a>
        </div>
    {{/if}}
</div>
<!-- overlay to show full data -->
<div class="modal fade deleteModal" id="viewDataModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-close btn-close close" data-dismiss="modal">
                    <span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span>
                </span>
            </div>
            <div class="modal-body">
                <pre id="json_data"></pre>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade deleteModal" id="deleteModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="icon-close close btn-close" data-dismiss="modal"><span class="sr-only"  >{{i18n "kpmg.personalization.myaccount.profile.close"}}</span></span>
        <h4 class="deleteModal-title">{{i18n "kpmg.personalization.myaccount.profile.deletemyaccount"}}</h4>
      </div>
      <div class="modal-body">
        <p class="delete-msg">{{i18n "kpmg.personalization.myaccount.profile.deletemyaccountdescription"}}</p>
      </div>
      <div class="modal-footer col-md-12">
        <div class="col-md-6">
          <button type="button" class="no-btn btn" data-dismiss="modal"> <span class="icon-chevron-left"></span>{{i18n "kpmg.personalization.myaccount.profile.nogoback"}}</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn deleteSuccess" data-toggle="modal"   data-dismiss="modal"><span class="icon-chevron-right"></span>{{i18n "kpmg.personalization.myaccount.profile.yesdelete"}} </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- successful delete modal -->
<div class="modal fade deleteModal" id="deleteSuccessModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span class="icon-close btn-close close" data-dismiss="modal">
            <span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span>
        </span>
        <h4 class="deleteModal-title">{{i18n "kpmg.personalization.myaccount.profile.deletemyaccount"}}</h4>
      </div>
      <div class="modal-body">
        <p class="success-msg alert-success"><span class="icon-checkmark"></span>{{i18n "kpmg.personalization.myaccount.profile.deletemyaccountsucessful"}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default col-md-6 pull-left btn delete-close" data-dismiss="modal">
            <span class="icon-close"></span>{{i18n "kpmg.personalization.myaccount.profile.close"}}
        </button>
    </div>
  </div>
</div>
</div>
<!-- End Component: PrivacyPreferences -->
