@import url('../../global/css/_variables.less');
.module-facets {
    padding: 0;
    float: left;
    width: 100%;
    .facetsTitle {
        background: @light-blue;
        width: 100%;
        float: left;
        padding: 15px;
        .secondary-head {
            text-align: center;
            width: 65%;
            float: left;
            color: @white;
        }
        .cancelFilter, .applyFilter {
            display: block;
            text-transform: uppercase;
            margin-top: -3px;
            padding: 8px 0px;
        }
    }
    .clearAll {
        text-align: center;
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        span.icon-chevron-right {
            // color: @light-green;
            margin: 0 5px 0 0;
            .font-size(1.4);
        }
    }
    .facetsGroup {
        float: left;
        width: 100%;
        .resp-tabs-list {
            float: left;
            width: 100%;
            .facetFilters {
                float: left;
                width: 100%;
                margin-top: 10px;
                .component-head {
                    width: 100%;
                    float: left;
                    .font-size(1.4);
                    margin-bottom: 0px;
                    background: @light-blue;
                    color: @white;
                    padding: 15px;
                    .facetTitle {
                        float: left;
                    }
                    .icon-chevron-up {
                        display: block;
                        float: right;
                        .font-size(1.0);
                    }
                }
                .mblAccordion .icon-chevron-down {
                    display: block;
                    float: right;
                    .font-size(1.0);
                }
                .moreFacets {
                    margin-bottom: 0;
                    padding: 15px;
                    float: left;
                    width: 100%;
                    .icon-chevron-down {
                        .font-size(1.0);
                        color: @kpmg-blue;
                        margin-right: 4px;
                        margin-top: 3px;
                        float: left;
                    }
                    .moreFacetsLink,.moreNestedFacetsLink {
                        cursor: pointer;
                        color: @gray-40;
                        text-transform: uppercase;
                        text-decoration: none;
                        .font-size(1.4);
                    }
                }
            }
            .facetsContainer {
                position: relative;
                float: left;
                width: 100%;
                .facetsOptions {
                    .GT5Facets {
                        display: none;
                    }
                }
                .facetsOptions li {
                    float: left;
                    width: 100%;
                    margin-bottom: 0;
                    padding: 15px;
                    border-bottom: 1px dashed @light-blue;
                    &:last-child {
                        border-bottom: none;
                    }
                    input {
                        float: left;
                        margin: 0 10px 0 0px;
                        display: none;
                    }
                    .facetName {
                        float: left;
                        color: @gray-20;
                        cursor: pointer;
                    }
                    .nestedFacets {
                        margin: 10px 0px 0 10px;
                        float: left;
                        width: 100%;
                        display: none;
                    }
                    .mblCheckmark {
                        float: right;
                        .font-size(1.4);
                        color: @light-blue;
                        display: block;
                    }
                }
                .icon-chevron-down, .icon-chevron-up {
                    .font-size(1.0);
                    color: @light-green;
                    cursor: pointer;
                }
            }
        }
    }
}
@media (min-width:@desktop-min-fixed) {
    .module-facets {
        padding: 15px;
        .facetsTitle {
            padding: 0;
            background: none;
            .cancelFilter, .applyFilter {
                display: none;
            }
            .secondary-head {
                color: @medium-blue;
                .font-size(1.8);
                width: 100%;
                background: none;
                text-align: left;
            }
        }
        .clearAll {
            text-align: left;
        }
        .facetsGroup {
            .resp-tabs-list {
                .facetFilters {
                    border-bottom: 1px dashed @light-blue;
                    &:last-child {
                        border-bottom: none;
                    }
                    .component-head {
                        background: none;
                        padding: 0;
                        color: @kpmg-blue;
                        margin-bottom: 10px;
                        .icon-chevron-up {
                            display: none;
                        }
                    }
                    .facetsContainer {
                        .facetsOptions li {
                            margin-bottom: 15px;
                            padding: 0;
                            border-bottom: none;
                            input {
                                display: block;
                            }
                            .mblCheckmark {
                                display: none;
                            }
                        }
                    }
                    .moreFacets {
                        padding: 0;
                        margin-bottom: 15px;
                    }
                }
                .dottedLine {
                    border-bottom: 1px dashed @light-blue;
                    display: none;
                    width: 100%;
                    top: 5px;
                    position: absolute;
                }
                .date .dottedLine {
                    display: block;
                }
                .date .facetsOptions li {
                    width: 25% !important;
                    span {
                        margin-top: 5px;
                        clear: both;
                    }
                }
                .date .moreFacets {
                    display: none;
                }
            }
        }
    }
}