@import "../../global/css/_variables.less";

.module-deleteaccountlink {
	background: #f0f0f0;
    margin-left: 10px;
    .btn {
        border-radius: 0;
        padding: 16px ;
        .set-font-size(1.8);
        border: none;
        color: #666666;
    }  
    .btn-cta {
	    position: static!important;
    }
}
.deleteModal .modal-header {
    margin: 12px 28px 0;
    padding: 0;
    .modal-dialog .btn-close {
        color: #6d2077;
        position: static;
        display: inline;
        float: right;
        margin: 10px 0;
        padding: 17px;
    }
}
.deleteModal {
    .icon-chevron-left {
        margin-right: 7px;
    }
    .btn {
        .set-font-size(1.8);
    }
}
.modal-body {
    // padding: 15px 28px;
}
.inner-container .modal-dialogue{
    width: auto;
}
.modal-dialog .btn-close {
    color: #6d2077;
    position: static;
    display: inline;
    float: right;
    padding: 16px;
    width: 16px;
    cursor: pointer;
    height: 16px;
    padding-right: 10px;
}
@-moz-document url-prefix() {
    .modal-dialog .btn-close {
        padding: 11px 5px;
    }
}
.deleteModal .deleteModal-title {
    color: #00338D;
    font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
    .set-font-size(3.8);
    line-height: 36px;
    font-weight: normal;
    word-wrap: break-word !important;
    word-break: normal !important;
    margin: 0 10px 12px 0;
    &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
        .font-size(2.6);
        line-height: 1.3;
    }
}
.deleteModal {
    .btn {
        border-radius: 0;
        padding: 16px ;
        .set-font-size(1.8);
        border: none;
        color: #666666;
        &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            line-height: 1.3;
        }
    }  
    .btn-cta {
	    position: static!important;
    }
}
.modal-content {
    padding: 0;
    overflow: auto;
}
.modal-footer {
    border-top: 0 none;
    background: #f0f0f0;
    text-align: center;
    padding: 18px;
}
.no-btn, .deleteSuccess {
	background: none transparent;
    border: 0 none;
    padding: 10px 0
}
.success-msg.alert-success {
	background: none;
    color: @light-green;
    padding-right: 42px;
}
.alert-success span.icon-checkmark {
    padding: 0 10px 0 0;
    height: 33px;
    float: left
}
span.icon-close {
    margin-right: 7px;
}
.icon-chevron-left {
	color: #43b02a;
}
.deleteSuccess.btn {
    span {
        margin-right: 7px;
    }
}
.btn.delete-close {
    background: #fff;
}
.modal-dialog {
    width: 568px;
}
.module-deleteaccountlink.delete-class {
	position: absolute;
	bottom: 8px;
}
.deleteAccount {
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .module-deleteaccountlink {
        background:none;
        text-align: center;
        width: 95%;
        margin: 0px auto;
        margin-bottom: 10px;
        margin-top: 0px;
    }
	.module-deleteaccountlink.delete-class {
		position: relative;
		bottom: 0px;
	}
    .modal-dialog {
        width: 100%;
        margin: 0px;
        margin-top: 59px;
    }
    span.icon-close {
    margin-left:-7px; 
}
    .modal-content {
        // margin-top: 59px;
        min-height: 700px;
        background: #f0f0f0;
        .modal-header {
            margin: 0px;
            padding: 15px 7px;
            padding-bottom: 0px;
            border-bottom: none;
            background: #ffffff;
            .deleteModal-title {
                padding-bottom: 12px;
                border-bottom: 1px solid #e5e5e5;
                margin: 0 10px 0;
            }
        }
        .modal-body {
            padding: 10px;
            background-color: #ffffff;
            .delete-msg, p {
                padding-left: 10px;
            }
        }
        .modal-footer {
            padding: 18px 7px;
            .delete-close {
                width: 100%;
            }
        }
    }
}