	/* custom tabs */
	
	.tabs-container{
		min-width: 300px;
		margin: 0 auto;
		width: 100%;
		height: auto;
		position :relative;
		 
	}

	.tablink{
		display: inline-block;
		padding: 20px 0;
		cursor: pointer;
		background: #dedede;
		text-decoration: none;
		position: absolute;
		top : 0;
		text-align: center;
		font-size : 2rem;
		font-weight : bold ;
		color: @kpmg-blue;
	}

	.two-tabs .tablink{
		width : 50% !important;
	}

	.two-tabs .tablink.second{
		left : 50%;
	}

	.three-tabs .tablink{
		width : 33.33%;
	}

	.three-tabs .tablink.second{
		left : 33.33%;
	}

	.three-tabs .tablink.third{
		left:66.66%;
	}

	.four-tabs .tablink{
		width : 25%;
	}

	.four-tabs .tablink.second{
		left : 25%;
	}

	.four-tabs .tablink.third{
		left:50%;
	}

	.four-tabs .tablink.forth{
		left:75%;
	}

	.five-tabs .tablink{
		width : 20%;
	}

	.five-tabs .tablink.second{
		left : 20%;
	}

	.five-tabs .tablink.third{
		left:40%;
	}

	.five-tabs .tablink.forth{
		left:60%;
	}

	.five-tabs .tablink.fifth{
		left:80%;
	}


	.tablink.current{
		background: #fff;
	}


	.tablink.current:after{
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 20px;
      margin-left: -20px;  
      display: none;    
    }

	.custom-tab-content{
   		margin: 5px 0 0;
	}

	.tablink span.icon-chevron-right {
		position: absolute;
		.font-size(1.4);
		line-height: 1;
		top: 19px;
		right: 20px;
		border: none;
		color: @light-green;
	}

	.tablink span.icon-chevron-right:before {
		content: "\e627";
		font-family: 'icomoon';
	}

	.tablink.current span.icon-chevron-right:before {
		content: "\e62e";
	}

@media screen and (max-width: 640px){

		.tablink{
			color: @kpmg-blue;
			display: block;
			padding: 15px 1%;
			cursor: pointer;
			background: @gray-87;
			text-decoration: none;
			position: relative;
			text-align: left ;
			border-bottom : solid 1px ;
			border-color : @gray-80 ;
			box-sizing: border-box;
		}

		.two-tabs .tablink , .three-tabs .tablink ,.four-tabs .tablink ,.five-tabs .tablink {
		    width: 100%;
		}

		.two-tabs .tablink.second, 
		.three-tabs .tablink.second, .three-tabs .tablink.third,
		.four-tabs .tablink.second, .four-tabs .tablink.third, .four-tabs .tablink.forth,
		.five-tabs .tablink.second, .five-tabs .tablink.third, .five-tabs .tablink.forth, .five-tabs .tablink.fifth {
			left : 0;
		}

		.tablink.current{
			border-bottom : solid 1px #fff;
		}

		.tablink.current:after {
			top: 40%;
			border-top-color: @gray-80;
			border-width: 10px;
			left: 95%;
		}	

}

@media (min-width: @desktop-min-fixed) {
    .tabs-container{
		min-width: 300px;
		margin: 0 auto;
		width: 100%;
		height: auto;
		position :relative;
		padding-top : 73px;
	}	
	
	.tablink.current:after {
		display: block;
		border-bottom: 0;
	}

	.tablink span.icon-chevron-right, .tablink.current span.icon-chevron-right {
		display: none;
	}
	
}



