@import "../../global/css/_helpers.less";

//gray
@gray-10: #dfdfdf;
@gray-20: #333333;
@gray-40: #666666;
@gray-60: #999999;
@gray-70: #cacaca;
@gray-75: #b7b7b7;
@gray-80: #cccccc;
@gray-87: #dedede;
@gray-94: #f0f0f0;
@gray-96: #f6f6f6;
@gray-97: #c4c4c4;
@gray-101: #656565;
@gray-102: #a9a9a9;
@gray-103: #aaaaaa;
@gray-104: #767676;
@white: #ffffff;
@teal: #008383;
@black: #000000;
@print-icon-green:#009a44;

//Primary
@kpmg-blue: #00338D;
@violet: #483698;
@purple: #470a68;
@dark-green: #009a44;
@green: #00bab3;
@green1: #00a3a1;
@green2: #008483;
@yellow: #eaaa00;
@orange: #f68d2e;
@red: #bc204b;
@pink: #c6007e;

//secondary
@light-red: #f9b88b;
@light-red-border: #efc094;
@medium-blue: #005eb8;
@light-blue: #0091da;
@light-purple: #6d2077;
@light-green: #43b02a;
@pale-blue: #98C6EA;
@dark-blue: #676767;
@dark-blue2: #00338c;
@persian-green: #00a3a1;
@morning-glory: #a3d4d3;
@dodger-blue: #3a9bfc;
@kelly-green: #43af2a;
@pattens-blue: #98c6ea;
@alice-blue: #e5eff7;
@cerulean: #0077B5;
@mariner: #3B5998;
@placeholder-grey: #757575;


//outline/focus
@grey-text-transparent: fade(@gray-40, 50%);
@medium-blue-transparent: fade(@medium-blue, 50%);
@kpmg-blue-transparent: fade(@kpmg-blue, 50%);
@white-transparent: fade(@white, 50%);
@light-purple-transparent: fade(@light-purple, 50%);

// Breakpoints
@desktop-min-fixed: 641px;
@mobile-max-fixed: 640px;
@desktop-min-fluid: 980px;

//Base Fonts
@arial: Arial,Helvetica,sans-serif;
@kpmgLight: 'KPMG Light',Arial,Helvetica,sans-serif;

//Non Latin languages
@NotoSansJP: "Noto Sans JP", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
@NotoSansJP_systemOnly: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Arial, Helvetica Neue, Helvetica, sans-serif;
@JP_systemOnly: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Arial, Helvetica Neue, Helvetica, sans-serif;

@NotoSansKR: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", Arial, Helvetica Neue, Helvetica, sans-serif;
@NotoSansKR_systemOnly: "맑은 고딕", "Malgun Gothic", Arial, Helvetica Neue, Helvetica, sans-serif;
@KR_systemOnly: "맑은 고딕", "Malgun Gothic", Arial, Helvetica Neue, Helvetica, sans-serif;

@NotoSansSC: "Noto Sans SC", "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;
@NotoSansSC_systemOnly: "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;
@SC_systemOnly: "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;

@NotoSansTC: "Noto Sans TC", "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;
@NotoSansTC_systemOnly: "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;
@TC_systemOnly: "微软雅黑体", "Microsoft YaHei New", "微软雅黑", "Microsoft Yahei", "冬青黑体", "Hiragino Sans GB", "黑体", "SimHei", "华文细黑", "STXihei", Arial, Helvetica Neue, Helvetica, sans-serif;

@NotoSansVI: "Noto Sans VI", "Noto Sans VI", Arial, Helvetica Neue, Helvetica, sans-serif;
@NotoSansVI_systemOnly: Arial, Helvetica Neue, Helvetica, sans-serif;
@VI_systemOnly: Arial, Helvetica Neue, Helvetica, sans-serif;

@kpmgLightEL: "KPMG Greek Light", Arial Narrow, Arial, Helvetica Neue, Helvetica, sans-serif;
