/*
    Created on : Nov 12, 2014, 5:41:07 PM
    Author     : sku146
*/

.module-tmpl-caas-documentation {
    .caas-nav {
        position: relative;
    }
    .module-caasdocumentsearchresults {
        top: 120px;
    }
}
.global-navigation, .global-nav {
    position:static !important;
}
.template {
   overflow-x: hidden;
    > .container {
        padding-top: 0 ;
    }
}
.global-nav .nav-primary ul li {
    height: auto !important;
}
.module-tmpl-contact-detail .module-connectwithme.full-height {
    height:0;
}

.container-md-height, .row-md-height {display:block !important;}
.module-navflyouta {
	z-index:100 !important;
}
.module-navflyoutb {
	z-index:100 !important;
}
.module-navflyoutc {
	z-index:100 !important;
}
.module-quickselectoroverlay {
	z-index:9999 !important;
}
.quickselectoroverlay {
    top: 15px !important;
    position: absolute !important;
}
.global-nav .nav-utility {
    top: 0px !important;
}
/*.module-promotionala,
.module-promotionalb,
.module-promotionalc,
.module-promotionald,
.module-promotionale {
    position: relative !important;
}*/
/*KD-3653*/
.module-connectandrfp {
    float: none !important;
}
/*KD-3778*/
.global-nav h1:after {
   /*background: none !important;*/
   width: 168px !important;
}
/*KD-3778*/
.global-nav .nav-primary:after{
    width: 168px !important;
}
/*KD-4289*/
.socialwidget-feeds-container {
    height:360px !important;
}
/*KD-4916*/
.countryLangQuick.quickselectoroverlay {
    left: 100px !important;
    position: absolute !important;
    top: -24px !important;
}
/*KD-4231*/
.module-campaignpagetitle .campaign-ctas {
    bottom: 30px !important;
}
/*KD-5708*/
.module-tmpl-industries {
    .module-contentslider {
        height: 240px !important;
    }
}
/*KD-5706*/
.module-tmpl-magazine .module-peoplefilmstrip {
    height: 225px !important;
}
.module-herocarousel.fullbleed .carousel {
    padding-top: 0;
}

/*KD-6541*/
.module-tmpl-industry {
    .col-md-6 {
        min-width: 50% !important;
    }
    .kpmg-promo-block {
        &.content-full-height{
            height:auto;
        }
    }
}

/*KD-6540*/
.module-tmpl-services-landing-r {
    .col-md-9 {
      width : 75% !important;
    }

    .col-md-3 {
        min-width: 0;
    }
}

/*promotional-CTA alignment fix
.module-promotionalb .btn-cta,
.module-promotionalc .btn-cta,
.module-promotionald .btn-cta,
.module-promotionale .btn-cta {
        position:relative !important;
}*/

.module-promotionala .btn-cta.promotionala-btn-cta-primary,
.module-promotionalb .btn-cta.promotionalb-btn-cta-primary,
.module-promotionalc .btn-cta.promotionalc-btn-cta-primary,
.module-promotionald .btn-cta.promotionald-btn-cta-primary,
.module-promotionale .btn-cta.promotionale-btn-cta-primary {
        padding-bottom:0px !important;
}

.module-tmpl-magazine .col-md-9 .col-md-12 {
    padding: 0;
}

.module-subnavigation .subnavigation-accordianblock{min-width:100%!important}
.module-subnavigation .subnavigation-industblock{min-width:100%!important}
.module-listing .listing-listingGroup, .module-trendinglist .trendinglist-listingGroup {min-width:100% !important;}

.module-articlecarousel .col-md-6 {
    min-width: initial !important;
}

.module-contactcarousel .col-md-6 {
    min-width: initial !important;
}

.module-campaignpagetitle .campaign-content {
    padding: 25px 10px 10px 10px;

    .module-share {
        top: 55px;
    }
}

.module-tmpl-peoplesublanding .module-imagegallery .col-md-6 {
  min-width: inherit !important;
}

.module-authors .col-md-12 {
    min-width: 237px;
}

div[class*=" cq-element-navigation-v2_"]{
    width:65px !important;
    top:83px !important;
}
.module-contact-form .checkbox input[type="checkbox"]{
    position: static;
    margin-left: 15px;
}
