@import "_variables.less";
@import "vendor/_normalize.less";
@import "vendor/_bootstrap.less";
// @import "vendor/jquery.mCustomScrollbar.less";
@import "_fonts.less";
@import "vendor/_icomoon.less";
@import "_base.less";
@import "_helpers.less";
@import "_forms.less";
@import "vendor/bootstrap/less/tooltip.less";
@import "_generic_error_dialog.less";
@import "_global_modals.less";
@import "_custom_tabs.less";
@import "../../navigation/css/navigation";

// we want bootstrap-4 to be executed before
// working with bs4 styles in navigation-v2
@import (inline) "bootstrap-4.css";
@import "../../navigation-v2/css/navigation-v2";


@import "../../navflyouta/css/navflyouta";
@import "../../navflyoutb/css/navflyoutb";
@import "../../navflyoutc/css/navflyoutc";
@import "../../touch-blog-footer/css/touch-blog-footer";
@import "../../footer/css/footer";
@import "../../searchresults/css/searchResultsmodal";
@import "../../footer-v2/css/footer-v2";
@import "../../oppmodal/css/oppmodal";
@import "../../sticky-bar/css/sticky-bar";
@import "../../registration-promo-overlay/css/registration-promo-overlay";

@import "../../gigya-show-share-bar-ui/css/gigya-show-share-bar-ui";

@import "utilities";

// IE specific hover effect solution for CTA redesign
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .promotional-cell-hover:hover:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 1px @gray-80 solid;
    }

    .promotional-cell-hover{
        height: 0px;
        a, section {
            height: 100%;
            display: block;
        }
    }

}

// remove unwanted borders around element on focus
*:focus{
    outline: none;
}

.promotional-cell-hover, .parsys-row.clearfix.promotional-cell-hover,
.flex-cell-hover {
    cursor: pointer;
}

.promotional-cell-hover:hover:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px @gray-80 solid;
}

.parsys-row.clearfix.promotional-cell-hover:hover{
    outline: 1px solid @gray-80;
}

.flex-cell-hover:hover {
    outline: 1px solid @gray-10 !important;
}

.global-navigation {
    .page-link {
        display: none;
    }
}

.icomoon {
    font-family: icomoon !important;
}

.module-touch-inlinelist {
    .mCustomScrollBox {
        height: auto !important;
    }
}

/*KD-5117*/
@media only screen and (max-device-width: 979px) and (min-device-width: 641px) {
  .global-footer {
    width: 980px;
  }
}

/*KPMGS-19429*/
@media only screen and (max-width: 979px) and (min-width: 641px) {
    .global-footer {
      width: 980px;
    }
  }


@media only screen and (max-device-width: @mobile-max-fixed)  {
  body.modal-open {
      overflow: hidden !important;
      position: fixed !important;
      width: 100% !important;
      height: 100% !important;
    }

    div.modal {
        margin-top: 60px !important;
    }
}

@import "_print.less";
