<!-- Begin Component: TouchBlogFooter -->
<section class="module-touch-blog-footer component">
    <div class="content-wrapper row-same-height row-full-height">
        <div class="col-md-4 col-md-height popular-posts-row">
            {{ include "touchPopularPosts" resourceType="/apps/kpmgpublic/components/blogs/touchpopularposts"}}
        </div>
        <div class="col-md-4 col-md-height popular-tags-row">
            {{ include "touchPopularTags" resourceType="/apps/kpmgpublic/components/blogs/touchpopulartags"}}
        </div>
        <div class="col-md-4 col-md-height rfp-row">
            {{include "socialchannels" resourceType="/apps/kpmgpublic/components/blogs/socialchannels" path="SocialChannels"}}
            {{include "footersubscription" resourceType="/apps/kpmgpublic/components/blogs/footersubscription" path="FooterSubscription"}}
        </div>
    </div>
    <div class="text-wrapper">
        <p>{{{hbs.touchBlogFooter.copyright}}}</p>
    </div>
</section>
<!-- End Component: TouchBlogFooter -->
