@import "../../global/css/_variables.less";
@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../librarysummary/css/librarysummary";
@import "../../interestssummary/css/interestssummary";
@import "../../privacy-preferences/css/privacy-preferences";

.module-tmpl-privacy-preferences {
    background: @gray-94;
    padding: 0px 0px 10px 0px;

    .bread-crumb-full {
        margin-top: 0px;
    }

    .module-basicpagetitle {
        padding: 10px;
    }

    .subscription-preferences-container {
        padding-left: 10px;
    }

    .interests-summary,.library-summary {
        height: 368px;
        padding-left: 9px;
    }

    .librarysummary-design {
        top: -9px;
    }

    .basic-title-row {
        padding-bottom: 9px;
    }

    .module-privacy-preferences {
        padding: 0px;
    }
}
