<section class="module-tmpl-careersubpage">
    <div class="row tmpl-row">
            <div class="col-md-12 full-page-title">
                <div class="inner-container" data-desktop-cell="1" data-mobile-cell="1">
                    {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle" path="cell3"}}
                </div>
            </div>
    </div>
    
    <div class="inner-container">
        <div class="row">
            <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
                {{ include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}}
            </div>
        </div>
        <div class="row">
            <div class="row-same-height row-full-height ">
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="3" data-mobile-cell="12">
                    {{ include "subnavigation" resourceType="/apps/kpmgpublic/components/content/subnavigation" }}
                </div>
                <div class="col-md-9 col-md-height col-full-height col-top col-nested">	
                	<div class="row-same-height row-full-height">
	                 	<div class="col-md-8 col-full-height col-md-height col-top" data-desktop-cell="4" data-mobile-cell="3">
		                    {{include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"  }} 
		                </div>             
		                <div class="col-md-4 col-md-height col-full-height  col-top" data-desktop-cell="5" data-mobile-cell="4">
		                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell7"}}
							{{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell7"}}
						    {{/render}}
		                </div>
                	</div>
                	<div class="row-same-height row-full-height">
                		<div class="col-md-4 col-full-height col-md-height col-top" data-desktop-cell="6" data-mobile-cell="7">
		                   {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>             
		                <div class="col-md-8 col-full-height col-md-height col-top" data-desktop-cell="7" data-mobile-cell="5">
		                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>
                	</div>
                	<div class="row-same-height row-full-height">
                		<div class="col-md-8 col-full-height col-md-height col-top" data-desktop-cell="8" data-mobile-cell="6">
		                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
							{{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
						    {{/render}}
		                </div>             
		                <div class="col-md-4 col-full-heightt col-md-height col-top" data-desktop-cell="9" data-mobile-cell="8">
		                     {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>		              
                	</div>
                	<div class="row-same-height row-full-height">
                		<div class="col-md-4 col-full-height col-md-height col-top" data-desktop-cell="10" data-mobile-cell="9">
		                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>             
		                <div class="col-md-4 col-full-heightt col-md-height col-top" data-desktop-cell="11" data-mobile-cell="10">
		                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>	
		                <div class="col-md-4 col-full-heightt col-md-height col-top" data-desktop-cell="12" data-mobile-cell="11">
		                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
		                </div>		              
                	</div>
                </div>         

            </div>

        </div>
    </div>  
</section>