@import "../../global/css/_variables.less";

.module-touch-image {
    padding: 10px !important;
	.tertiary-head {
		margin: 8px 0px;
	}
	.image-caption {
	 	.promo-description(@gray-20);
    	margin: 7px 0px;
	}
	img {
		width: 100%;
	}
    .image-anchor {
        display: block;
        cursor: pointer;

        &:hover {
            outline: 1px solid @grey-text-transparent;
        }
    }
}
