@import "../../global/css/_variables.less";

.module-touch-language-toggle {
	background-color: @gray-94;
	padding: 0;

	&.component {
		margin-top: 37px;
		margin-bottom: 0;
	}

	.toggle-title {
		background-color: @light-blue;
		color: @white;
		font-family: @arial;
		.font-size(2);
		line-height: 1.15;
		margin-bottom: 15px;
		padding: 10px 0 10px 10px;
	}

	.toggle-container {
		padding: 0 10px;

		.description {
			.font-size(1.8);
		}

		.toggle-list {
			list-style-type: none;
			margin: 0;
			padding: 0 0 5px 0;

			.list-item {
				margin-bottom: 15px;

				.list-item-text {
					background-color: @white;
					border-radius: 10px;
					color: @kpmg-blue;
					display: block;
					font-family: @arial;
					.font-size(2);
					line-height: 1.65;
					padding: 0px 10px 0px 10px;
					text-align: center;
					text-decoration: none;

					&:hover {
						background-color: @kpmg-blue;
						color: @white;
						text-decoration: none;
					}
				}

				&:last-child {
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media (max-width: @mobile-max-fixed) {
	.module-touch-language-toggle {
		&.component {
			margin: 0 10px 15px 10px;
		}
        .toggle-title {
            margin-bottom: 10px;
        }
		.toggle-container {
            .toggle-list {
                .list-item {
                    margin-bottom: 10px;
                }
            }
        }
	}
}
