<!-- Begin Component: TouchVideoPost -->
<div class="module-touch-video-post component" data-mediaId="{{hbs.touchVideoPost.mediaId}}">
    {{#if hbs.touchVideoPost.mediaId}}
    <div class="video-post-container">
         <div class="col-md-12 video-post-col">
            <video
              id = "video_{{hbs.touchVideoPost.mediaId}}"
              data-account="{{hbs.touchVideoPost.readToken}}"
              data-player="{{hbs.touchVideoPost.playerKey}}"
              data-embed="default"
              data-video-id="{{hbs.touchVideoPost.mediaId}}"
              data-language="{{hbs.touchVideoPost.pageLocale}}"
              class="video-js" controls>
            </video>
            <script src='//players.brightcove.net/{{hbs.touchVideoPost.readToken}}/{{hbs.touchVideoPost.playerKey}}_default/index.min.js'></script>
        </div>
        <div class="col-md-12 video-post-data">
            <h2 class="tertiary-head video-post-title"></h2>
            <div class="video-post-description" ></div>
        </div>
    </div>
    {{/if}}
</div>
<!-- End Component: TouchVideoPost -->
