<template id="promotional-component-template">
    <!-- OUTER WRAPPER -->
        <div v-if="vm"
            class="promotional-component vue-component 
                h-100 
                d-flex
			"
			:title="vm.linkUrl"
            v-dev="{isDev: $root.isDev, variant: 'danger' }"
        >
            <!-- INNER WRAPPER -->
            <div class="
                d-flex flex-column
                text-white bg-kpmg-blue
                p-4
                h-100
            ">
                <!-- TITLE -->
                <h1
                    class="mb-0 font-kpmg"
                >
                    \{{ vm.welcomeLabel.trim() }},
                    <br>
                    \{{ vm.userName }}
                </h1>
                <!-- TEXT -->
                <p v-if="nonNewUser"
                    class="
                        text-white
                        mt-3
                        nonNewUser
                    "
                >
                    \{{ vm.text }}
                </p>
                <p v-else-if="newUser" class="text-white mt-3 new-user">
                    \{{vm.newUser1}}
					<a class="text-white" :href="vm.interestUrl" 
						:title="vm.interestUrl" 
						style="font-size:14px !important;">
                        \{{vm.newUser2}}
					 </a>
                    \{{vm.newUser3}}
                    <a style="font-size:14px !important;"
                        class="text-white"
                        :title="vm.learnMoreUrl"
                        :data-uri="(vm.learnMoreUrl.indexOf('/content/kpmgpublic/') > -1) ? vm.learnMoreUrl : '/content/kpmgpublic' + vm.learnMoreUrl"
                        :href="(vm.learnMoreUrl.indexOf('/content/kpmgpublic/') > -1) ? vm.learnMoreUrl.substr(19) : vm.learnMoreUrl"
                        :data-modal-url="(vm.learnMoreUrl.indexOf('/content/kpmgpublic/') > -1) ? vm.learnMoreUrl.substr(19) : vm.learnMoreUrl"
                        :data-remote="(vm.learnMoreUrl.indexOf('/content/kpmgpublic/') > -1) ? vm.learnMoreUrl.substr(19) : vm.learnMoreUrl"
                        data-name="learnmore"
                        data-target="#kpmgModal"
                        data-toggle="modal" 	
                        data-backdrop="static"
                        oncontextmenu="return false"
                        v-if="vm.learnMoreUrl"
                    >
                        \{{vm.newUser4}}
                    </a>
				</p>
				<p v-else="unKnownUser"
					class="
						text-white
						mt-3
					"
				>
					\{{ vm.unknownUser }}
				</p>
                <!-- PROMOTIONAL IMAGE -->
                <img
                    class="my-3 mr-auto ml-0"
                    :src="vm.imgUrl" />
                
                <p class="text-right mt-auto" v-if="!loggedIn">
                    <link-label-with-chevron
                        :vm='{
                            "label": vm.label,
                            "linkURL": vm.linkUrl
                        }'
                        :classes='{
                            "label": ["text-white  text-center"],
                            "chevron": ["text-white font-2-rem"]
                        }'
                    ></link-label-with-chevron>
                </p>
                
            </div>
        </div>
</template>