<div class="module-interestssummary component">
    <div class="interestssummary-container unknown-user clearfix" style="display:none;">
        <a title="{{i18n 'kpmg.personalization.myaccount.interestssummary.title'}}" href="{{hbs.interestssummary.selectInterestsLink}}">
            <h3 class="image-title">
                {{i18n "kpmg.personalization.myaccount.interestssummary.title"}}
            </h3>
            <p class="interestssummary-desc line-clamp line-clamp-5">{{i18n "kpmg.personalization.myaccount.interestssummary.description"}}</p>
            <div class="primary-cta-space"></div>
        </a>
        <div class="pull-right">
            <span class="btn-cta  quickview-btn">
                <span class="icon-chevron-right "></span>
                <a href="{{hbs.interestssummary.selectInterestsLink}}" class="component-link my-interests-summary trackable" data-trackname="SelectInterests">{{i18n "kpmg.personalization.myaccount.interestssummary.selectinterests"}}</a>
            </span>
        </div>
    </div>
    <div class="interestssummary-container new-user clearfix" style="display:none;">
        <a title="{{i18n 'kpmg.personalization.myaccount.interestssummary.title'}}" href="{{hbs.interestssummary.selectInterestsLink}}">
            <h3 class="image-title">
                {{i18n "kpmg.personalization.myaccount.interestssummary.title"}}
            </h3>
            <div class="interestssummary-desc line-clamp">
                <span >{{i18n "kpmg.personalization.myaccount.interestssummary.yourinterests"}}</span>
                <span class="industries">{{i18n "kpmg.personalization.myaccount.interestssummary.industries"}}</span>
                <span class="topics">{{i18n "kpmg.personalization.myaccount.interestssummary.topics"}}</span>
                <span class="services">{{i18n "kpmg.personalization.myaccount.interestssummary.services"}}</span>
                <span class="countries" data-countrytext="{{i18n 'kpmg.personalization.myaccount.profile.country'}}" data-countriestext="{{i18n 'kpmg.personalization.myaccount.interestssummary.countries'}}"></span>
            </div>
            <div class="primary-cta-space"></div>
        </a>
        <div class="pull-right">
            <p class="last-updated">{{i18n "kpmg.personalization.myaccount.interestssummary.lastupdated"}}</p>
            <span class="btn-cta quickview-btn">
                <span class="icon-chevron-right "></span>
                <a href="{{hbs.interestssummary.selectInterestsLink}}" class="component-link my-interests-summary trackable" data-trackname="SelectInterests">{{i18n "kpmg.personalization.myaccount.interestssummary.selectinterests"}}</a>
            </span>
        </div>
    </div>
</div>
<!-- End Component: Interestssummary -->
