<!-- Begin Component: TouchPostBody -->
<div class="module-touch-postbody component">
    <div class="postbody-wrapper">
        {{#if hbs.touchPostBody.title}}
            <h2 class="primary-head {{hbs.touchPostBody.titleFont}}"
                {{#if hbs.touchPostBody.anchorId}}
                id="{{hbs.touchPostBody.anchorId}}"
                {{/if}}>{{{hbs.touchPostBody.title}}}
            </h2>
        {{/if}}
        {{#if hbs.touchPostBody.subTitle}}
            <h3 class="tertiary-head {{hbs.touchPostBody.subTitleFont}}">
                {{{hbs.touchPostBody.subTitle}}}
            </h3>
        {{/if}}
        <div class="blog-content">
            <p>{{{ hbs.touchPostBody.blogPostContent}}}</p>
        </div>
    </div>
</div>
<!-- End Component: TouchPostBody -->
