@import "_variables.less";

.verfyEmailModal.modal, .logoutModal.modal, .congratulationsModal.modal, .verfyEmailAlreadySentModal.modal {
    .verfyEmailModal-title, .logoutModal-title, .congratulationsModal-title, .verfyEmailAlreadySentModal-title {
        color: #00338D;
        font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
        .font-size(3.8);
        line-height: 36px;
        font-weight: normal;
        word-wrap: break-word !important;
        word-break: normal !important;
        &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            .font-size(2.6);
            line-height: 1.3;
        }
    }
    .logoutModal-title {
        padding-bottom: 10px;
    }
    .modal-content {
        padding: 0;
    }
    .modal-footer {
        border-top: 0 none;
        background: #f0f0f0;
    }
    .no-btn {
        background: none transparent;
        border: 0 none;
        padding: 10px 0
    }
    .btn {
        border-radius: 0;
        padding: 17px ;
        .set-font-size(1.8);
        border: none;
        color: #666666;
    }
    .success-msg.alert-success {
        background: none;
        width: 100% !important;
    }
    .modal-header {
       margin: 0 28px;
        padding: 15px 0 0;
        border-bottom: 1px solid #999999;
    }
    .modal-header.logoutContent {
        padding: 15px 0;
    }
    .modal-dialog {
        width: 600px !important;
        top: 95px;
        .btn-close {
            color: #6d2077;
            position: static;
            display: inline;
            float: right;
            width: 16px;
            cursor: pointer;
            height: 16px;
            padding: 10px 16px;
        }
    }
    .btn {
        width: 100%;
        background: #ffffff;
    }
    .btn.col-md-6 {
        width: 50%;
    }
    .no-btn {
        background: none;
    }
    .verfyEmailModal-title, .congratulationsModal-title, .verfyEmailAlreadySentModal-title {
        color: #00338D;
        font-family: 'KPMG Light',Arial,Helvetica,sans-serif;
        .font-size(3.8);
        line-height: 36px;
        font-weight: normal;
        word-wrap: break-word !important;
        word-break: normal !important;
        margin: 0 10px 12px 0;
        &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            .font-size(2.6);
            line-height: 1.3;
        }
    }
    .btn {
        border-radius: 0;
        padding: 16px;
        .set-font-size(1.8);
        border: none;
        color: #666666;
        &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
            line-height: 1.3;
        }
    }  
    .btn-cta {
        position: static !important;
    }
    .success-msg.alert-success {
        background: none;
        color: @light-green;
        padding-right: 42px;
        .set-font-size(1.6);
    }
    .alert-success span.icon-checkmark {
        padding: 0 10px 0 0;
        height: 33px;
        float: left
    }
    span.icon-close {
        margin-right: 7px;
        color: #6d2077;
    }
    .icon-chevron-left {
        color: #43b02a;
    }
    .modal-body {
        padding: 15px 28px;
    }
    .rsnd-align {
        float: right;
    }
    .close-align {
        float: left;
    }
    span.icon-close.btn-close.close {
        margin: 0;
    }
    @media only screen and (max-width: 640px) {
        .modal-header {
            padding: 15px 18px 0;
            margin: 0;
            border: none;
            background: #fff;
        }
        .modal-content {
            margin-top: 59px;
            min-height: 700px;
            background: #f0f0f0;
            padding: 0px;
            .modal-body {
              padding: 10px;
              background: #fff;
              p {
                padding-left: 10px;
              }
            }
        }
        .modal-dialog {
            width: 100% !important;
            top: 0 !important;
            margin: 0;
        }
        .verfyEmailModal-title, .logoutModal-title, .congratulationsModal-title, .verfyEmailAlreadySentModal-title {
            margin: auto;
            padding-bottom: 12px;
            border-bottom: 1px solid #999;
        }
        .modal-footer {
            padding: 18px 7px!important; 
            .col-md-6.btn {
                width: 100%;
            }
            .rsnd-align, .close-align {
                float: none;
                width: 100% !important;
            }
        }
        .logoutbody .success-msg.alert-success {
            padding: 10px;
        }
        span.icon-close.close.btn-close {
            margin-right: 7px
        }
    }
}