@media print {
  /* Styles used for
    **      - Default browser behaviour
    **      - custom print window
    **/
  @page {
    size: auto;
    margin: 5.588mm;
  }

  .template {
    margin: 0 !important;
    height: 100%;
  }

  .privacy-container {
    display: none;
  }

  // remove CTA's cell over effect during print
  .parsys-row.clearfix.promotional-cell-hover:hover,
  .parsys-row.form-horizontal .form-group.promotional-cell-hover:hover {
    outline: none;
  }

  .flex-cell-hover,
  .parsys-row.clearfix.promotional-cell-hover,
  .parsys-row.form-horizontal .form-group.promotional-cell-hover,
  .promotional-cell-hover {
    cursor: auto;
  }

  .mobile-navbar-component {
    display: none;
  }
}

.printable {
  font: 16pt arial !important;
  margin: 5.588mm;

  .module-bodytext {
    ol,
    ul {
      li {
        margin: 7px 0 0 12px;
      }
    }
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
    background-image: none !important;
  }

  h1 {
    font: bold 18pt arial !important;
    page-break-before: always;
  }

  h2,
  h3,
  h4 {
    font: bold 18pt arial !important;
  }

  a,
  abbr,
  acronym,
  address,
  article,
  aside,
  b,
  big,
  blockquote,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  dl,
  dt,
  em,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  header,
  hgroup,
  i,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var {
    font: 16pt arial !important;
    line-height: 16pt !important;
  }

  b,
  strong {
    font-weight: bold;
  }

  figure,
  table {
    page-break-inside: avoid;
  }

  .line-clamp:after {
    content: none;
  }

  .container {
    width: auto;
    padding: 0 30pt !important;
    margin-top: 10pt !important;
  }

  .component {
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .hide-from-print {
    display: none !important;
  }

  .display-full-width {
    width: 100% !important;
  }

  .visible-lg,
  .visible-md,
  .visible-sm {
    display: block !important;
  }

  .tmpl-row {
    border: none !important;
  }

  img:not(.no-print) {
    width: auto !important;
    display: block !important;
  }

  .global-navigation {
    margin: 0 auto !important;
    width: auto !important;
    position: static !important;

    .global-nav {
      box-shadow: none !important;
    }

    .header-logo {
      padding-bottom: 2mm !important;
      float: left;
    }

    .page-link {
      display: block !important;
      position: absolute;
      margin-left: 100pt;
      margin-top: 5pt;
      color: @kpmg-blue;
      max-width: 450pt;

      &:visited {
        color: @kpmg-blue;
      }
    }
  }

  .global-nav .wrapper,
  .header-logo > .main-header {
    padding: 0 !important;
  }

  .global-nav > .wrapper {
    min-height: 0 !important;
    max-width: 100% !important;
  }

  .global-footer {
    width: auto !important;
    margin: 0 auto !important;

    .footer-footerText {
      background-color: @white;
    }

    .footer-footerText-content {
      max-width: none;
    }

    .footer-footerText-content p {
      page-break-inside: avoid;
      color: @gray-40;
    }

    .module-footer {
      width: auto;
      border: none !important;
    }
  }

  .event-breadcrumb,
  .footer-and-social-links,
  .library-desktop,
  .module-amcharts,
  .module-audiovideo,
  .module-breadcrumb,
  .module-connectandrfp,
  .module-contactpromo,
  .module-copyrightlist,
  .module-disclaimer,
  .module-downloadbutton,
  .module-enhanceddownload,
  .module-fullbleedbanner,
  .module-htmlcontainer,
  .module-inlinelist,
  .module-manualsubnav,
  .module-printbutton,
  .module-promotionala,
  .module-promotionalb,
  .module-promotionalc,
  .module-promotionald,
  .module-promotionale,
  .module-quote,
  .module-relatedcontent,
  .module-share,
  .module-sidebartextandimage,
  .module-subnavigation,
  .promotionalb-btn-cta-primary,
  .share-desktop,
  .sidr,
  .skip-nav,
  h1.visible-xs,
  nav {
    display: none !important;
  }

  /*
      ** Flexible template print styles
      ** included here since these styles used by all flex parsedTemplateStr
      **/
  table {
    border-collapse: separate !important;
  }

  .module-tmpl-campaigns-flex,
  .module-tmpl-industries-flex,
  .module-tmpl-insights-flex,
  .module-tmpl-services-flex {
    margin: 0 auto !important;
    overflow: visible !important;
    padding-top: 5mm !important;

    & img {
      display: none;
    }

    .module-bodytext .bodytext-data p {
      float: none;
    }

    .module-bodytext,
    .parsys-row {
      padding: 0 !important;
    }

    .inner-container {
      width: auto;

      [class*="col-"] {
        padding-left: 0 !important;
        width: 100% !important;
      }
    }

    .module-basicpagetitle {
      .pagetitle-wrapper {
        width: 100% !important;
        padding-left: 0 !important;

        .desktop-only {
          display: block !important;
        }

        .mobile-only {
          display: none !important;
        }
      }
    }

    .full-page-title {
      [class*="col-"] {
        padding-left: 0 !important;
        width: 100% !important;
      }
    }
  }
  // end of flex template print styles
}
