<!-- Begin Template: TmplTouchBlogPost -->
<section class="module-tmpl-touch-blog-post bs4">
    <div class="row">
        <div class="col-md-12 fullbleedrow" data-desktop-cell="1" data-mobile-cell="1">
            {{ include "touchfullbleed" resourceType="/apps/kpmgpublic/components/blogs/touchfullbleedbanner"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 blogs-breadcrumb" data-desktop-cell="2" data-mobile-cell="2">
            {{ include "blogbreadcrumb" resourceType="/apps/kpmgpublic/components/blogs/blogbreadcrumb"}}
        </div>
    </div>

    <div class="placeholder-row">
         <div class="row-same-height row-full-height">
             <div class="col-md-9 col-md-height col-full-height column-3">
                 <div class="component-row" data-desktop-cell="3" data-mobile-cell="3">
                     {{ include "authorsummary" resourceType="/apps/kpmgpublic/components/blogs/authorsummary"}}
                 </div>
                 <div class="component-row" data-desktop-cell="4" data-mobile-cell="5">
                     {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                         {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                     {{/render}}
                 </div>
                 <div class="component-row" data-desktop-cell="5" data-mobile-cell="9">
                     {{ include "likeandshare" resourceType="/apps/kpmgpublic/components/blogs/likeandshare"}}
                 </div>
                 <div class="component-row" data-desktop-cell="6" data-mobile-cell="10">
                     {{ include "blogscomment" resourceType="/apps/kpmgpublic/components/blogs/comments"}}
                 </div>
             </div>
             <div class="col-md-3 col-md-height col-full-height column-1">
                 <div class="component-row" data-desktop-cell="7" data-mobile-cell="6">
                     {{ include "authorspotlight" resourceType="/apps/kpmgpublic/components/blogs/authorspotlight"}}
                 </div>
                 <div class="component-row" data-desktop-cell="8" data-mobile-cell="4">
                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}}
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}}
                    {{/render}}
                </div>
                 <div class="component-row" data-desktop-cell="9" data-mobile-cell="8">
                     {{ include "poststats" resourceType="/apps/kpmgpublic/components/blogs/poststats"}}
                 </div>
                 <div class="component-row" data-desktop-cell="10" data-mobile-cell="7">
                     {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell5"}}
                         {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell5"}}
                     {{/render}}
                 </div>
             </div>
         </div>
     </div>

     <div class="row">
         <div class="col-md-12" data-desktop-cell="11" data-mobile-cell="11">
             {{ include "touchrelatedposts" resourceType="/apps/kpmgpublic/components/blogs/touchblogrelatedposts"}}
         </div>
     </div>
</section>
<!-- End Template: TmplTouchBlogPost -->
