<header class="global-nav" role="banner">
    <div class="wrapper">
        <a class="skip-nav" href="#page-content">{{i18n "skipToContent"}}</a>
        <!-- Logo at header -->
        <section class="header-logo">
            <div class="main-header">
                <a class="navigation-logo" href="{{hbs.navigation.homePageUrl}}">
                    <img class="img-responsive navigation-logo" src="{{hbs.globalValues.assetDomainName}}{{hbs.navigation.kpmgLogoImage}}" alt="{{hbs.navigation.kpmgLogoAltText}}" />
                </a>
            </div>
        </section>
        <a class="page-link" href="{{hbs.print.canonical}}">{{hbs.print.canonical}}</a>
		<!-- Breadcum at header -->
        <a href="javascript:void(0);" id="toggle-nav"><i class="icon-list-view mobile-nav-toggle kpmg-blue"></i></a>

        <nav class="nav-utility">
            <ul>
                {{include "quickselectoroverlay" resourceType="/apps/kpmgpublic/components/global/countryLangQuick"}}
            </ul>
        </nav>
        <section class="nav-grouping">
            <nav class="nav-secondary">
                <ul>
                    <li> <a href="{{hbs.navigation.careerLandingUrl}}">{{i18n hbs.navigation.careersLabel}}</a> </li>
                    {{#if hbs.navigation.hideAlumniNav}} {{else}}
                        <li> <a href="{{hbs.navigation.alumniLandingUrl}}">{{i18n hbs.navigation.alumniLabel}}</a> </li>
                    {{/if}}
                    <li> <a href="{{hbs.navigation.mediaLandingUrl}}">{{i18n hbs.navigation.mediaLabel}}</a> </li>
                    {{#if hbs.navigation.hideSocialNav}} {{else}}
                        <li> <a href="{{hbs.navigation.socialLandingUrl}}">{{i18n hbs.navigation.socialLabel}}</a> </li>
                    {{/if}}
                    <li><a href="{{hbs.navigation.aboutLandingUrl}}">{{i18n hbs.navigation.aboutLabel}}</a></li>
                    <li class="utility-contact">
                        {{#if hbs.navigation.overlay}}
                            <span id="contact-form-modal" tabindex="0" class="btn-modal contact-fm-link contact-modal" data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" data-remote="{{hbs.navigation.contactFormLink}}" title="{{i18n hbs.navigation.contactLabel}}">
                                {{i18n hbs.navigation.contactLabel}}
                            </span>
                        {{else}}
                            <a href="{{hbs.navigation.contactFormLink}}" title="{{i18n hbs.navigation.contactLabel}}">
                                {{i18n hbs.navigation.contactLabel}}
                            </a>
                        {{/if}}
                    </li>

                </ul>
                {{ include "searchinputs" resourceType="/apps/kpmgpublic/components/hidden/searchInput"}}
            </nav>
            <nav class="nav-primary">
                <ul class="nav-primary-menu">
                    <li class="nav-primary-menu-item">
                        <a href="{{hbs.navigation.insightsLandingUrl}}">{{i18n hbs.navigation.insightsLabel}}</a>
                        {{include "navflyouta" path="insights" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                    </li>
                    <li class="nav-primary-menu-item">
                        <a href="{{hbs.navigation.industriesLandingUrl}}">{{i18n hbs.navigation.industriesLabel}}</a>
                        {{include "navflyoutb" path="industries" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                    </li>
                    <li class="nav-primary-menu-item">
                        <a href="{{hbs.navigation.servicesLandingUrl}}">{{i18n hbs.navigation.servicesLabel}}</a>
                        {{include "navflyouta" path="services" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                    </li>

                    {{#if hbs.navigation.eventsLandingUrl}}
                    <li class="nav-primary-menu-item">
                        <a href="{{hbs.navigation.eventsLandingUrl}}">{{i18n hbs.navigation.eventsLabel}}</a>
                        {{include "navflyouta" path="events" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                    </li>
                     {{/if}}

                    {{#if hbs.navigation.optionalLabelUrl}}
                        {{#if hbs.navigation.optionalLabelText}}
                            <li class="nav-primary-menu-item">
                                <a href="{{hbs.navigation.optionalLabelUrl}}">{{hbs.navigation.optionalLabelText}}</a>
                                {{include "navflyoutc" path="optional" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                            </li>
                        {{/if}}
                    {{/if}}

                    
                    {{#if hbs.navigation.optionalLabelUrl2}}
                        {{#if hbs.navigation.optionalLabelText2}}
                            <li class="nav-primary-menu-item">
                                <a href="{{hbs.navigation.optionalLabelUrl2}}">{{hbs.navigation.optionalLabelText2}}</a>
                                {{include "navflyoutc" path="optional1" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
                            </li>
                        {{/if}}
                    {{/if}}


                    <li class="nav-primary-menu-item kpmg-menu" tabindex="0" style="display:none;" >
                        <span class="icon-user"></span>
                        <span class="kpmg-menu-title">{{i18n hbs.navigation.mykpmgLabel }}</span>
                        <span class="icon-chevron-down"></span>
                        {{include "mykpmgflyout" resourceType="/apps/kpmgpublic/components/personalization/mykpmgflyout"}}
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</header>
{{#unless hbs.isAuthor}}
<div class="sidr" id="sidr" class="container">
    <!-- Start : Quick Header -->
    <ul class="list-quick-selctor">
    	<li class="list-quick-selctor-container">

                <!-- Quick Header - 3 icons -->
                <div class="row quickselector-first-section">
                    <div class="mob-menu-mykpmg col-sm-4 col-xs-4">
                        <p class="icon-user" id="mob-slid-mykpmg"></p>
                    </div>
                    <div class="mob-menu-search col-sm-4 col-xs-4">
                        <p class="icon-search" id="mob-slid-search"></p>
                    </div>
                    <div class="mob-menu-location col-sm-4 col-xs-4">
                       <p class="icon-site-selector"  id="mob-slid-location"></p>
                    </div>
                 </div>

                <!-- Quick Header - 2 icons -->
                <div class="row quickselector-second-section">
                    <div class="mob-menu-search col-sm-6 col-xs-6">
                        <p class="icon-search" id="mob-slid-search"></p>
                    </div>
                    <div class="mob-menu-location col-sm-6 col-xs-6">
                       <p class="icon-site-selector"  id="mob-slid-location"></p>
                    </div>
                </div>

            <!-- Start : Drop Down -->
			<!-- Location - Drop Down -->
			<div class="mob-list-location"  >
				<div class="mob-list">
					<div class="mobile-utility mobile-lang">
                        <ul>
                           {{include "quickSelectorOverlay" resourceType="/apps/kpmgpublic/components/global/countryLangQuick"}}
                        </ul>
                	</div>
				</div>
			</div>
            <!-- Search - Drop Down -->
            <div class="mob-list-search" >
				<div class="mob-list">
					<div class="mobile-utility mobile-lang">
                        <ul>
                            {{ include "searchinputs" resourceType="/apps/kpmgpublic/components/hidden/searchInput"}}
                        </ul>

                	</div>
				</div>
			</div>
            <!-- MyKpmg - Drop Down -->
            <div class="mob-list-mykpmg" >
				<div class="mob-list">
					<div class="mobile-utility mobile-lang">
                       <ul>
                       {{include "mykpmgflyout" resourceType="/apps/kpmgpublic/components/personalization/mykpmgflyout"}}
                       </ul>
                	</div>
				</div>
			</div>
            <!-- End: Drop Down -->
		</li>
     </ul>
     <!-- End : Quick Header -->

     <!-- Start : Mobile Menu List -->
     <ul class="menu-selector">
      	<li> <a class="mobPrimaryMenu" href="{{hbs.navigation.insightsLandingUrl}}">{{i18n hbs.navigation.insightsLabel}}</a> </li>
        <li class="mob-menu-list">
        	<div class="row">
                <div class="menu-heading col-sm-10 col-xs-10">
                    <a class="mobPrimaryMenu" href="{{hbs.navigation.industriesLandingUrl}}">
                    	<div class="menu-title">
                    		{{i18n hbs.navigation.industriesLabel}}
                    	</div>
                    </a>
                </div>
                <div class="menu-dropdown col-sm-2 col-xs-2">
                   <span class="icon-chevron-down chevron-dropdown"></span>
                </div>
            </div>
            <div class="dropdown-secodary-menu" style="display:none;">
            	{{include "navflyouta" path="industries" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
            </div>

        </li>
        <li class="mob-menu-list">
        	<div class="row">
                <div class="menu-heading col-sm-10 col-xs-10">
                   <a class="mobPrimaryMenu" href="{{hbs.navigation.servicesLandingUrl}}">
                    	<div class="menu-title">
                    		{{i18n hbs.navigation.servicesLabel}}
                    	</div>
                    </a>
                </div>
                <div class="menu-dropdown col-sm-2 col-xs-2" >
                   <span class="icon-chevron-down chevron-dropdown"></span>
                </div>
            </div>
            <div class="dropdown-secodary-menu" style="display:none;">
            	{{include "navflyouta" path="services" resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel"}}
            </div>

        </li>
         {{#if hbs.navigation.eventsLandingUrl}}
        <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.eventsLandingUrl}}">{{i18n hbs.navigation.eventsLabel}}</a></li>
        {{/if}}
        {{#if hbs.navigation.optionalLabelUrl}}
            {{#if hbs.navigation.optionalLabelText}}
                <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.optionalLabelUrl}}">{{hbs.navigation.optionalLabelText}}</a> </li>
            {{/if}}
        {{/if}}
        {{#if hbs.navigation.optionalLabelUrl2}}
            {{#if hbs.navigation.optionalLabelText2}}
                <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.optionalLabelUrl2}}">{{hbs.navigation.optionalLabelText2}}</a> </li>
            {{/if}}
        {{/if}}
        <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.careerLandingUrl}}">{{i18n hbs.navigation.careersLabel}}</a> </li>
        {{#if hbs.navigation.hideAlumniNav}} {{else}}
            <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.alumniLandingUrl}}">{{i18n hbs.navigation.alumniLabel}}</a> </li>
        {{/if}}
            <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.mediaLandingUrl}}">{{i18n hbs.navigation.mediaLabel}}</a> </li>
        {{#if hbs.navigation.hideSocialNav}} {{else}}
            <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.socialLandingUrl}}">{{i18n hbs.navigation.socialLabel}}</a> </li>
        {{/if}}
        <li> <a class="mobPrimaryMenu" href="{{hbs.navigation.aboutLandingUrl}}">{{i18n hbs.navigation.aboutLabel}}</a> </li>
        <li>
            {{#if hbs.navigation.overlay}}
                <span id="contact-form-modal" tabindex="0" class="btn-modal contact-fm-link" data-view-type="mobile" data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" href="{{hbs.navigation.contactFormLink}}" title="{{i18n hbs.navigation.contactLabel}}">{{i18n hbs.navigation.contactLabel}}</span>
            {{else}}
                <a class="mobPrimaryMenu" href="{{hbs.navigation.contactFormLink}}" title="{{i18n hbs.navigation.contactLabel}}">{{i18n hbs.navigation.contactLabel}}</a>
            {{/if}}
        </li>
    </ul>
</div>
{{/unless}}
