@import "../../global/css/_variables.less";
@import "../../touch-promotional/css/touch-promotional";

.module-touch-relatedposts {
    .blog {
        border: none;
    }
    .relatedposts-heading {
        margin: 0 25px 20px;
        padding: 18px 54px;
        font-size: 22px;
        background-color: @kpmg-blue;
        color: @white;
    }
    .module-touch-promotional {
        border: 18px solid @white;
        padding: 0;
    }
    .content-wrapper {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 640px) {
    .module-touch-relatedposts {
        .relatedposts-heading {
            margin: 0 0 20px;
            padding: 10px 20px;
            font-size: 26px;
        }
        .module-touch-promotional {
            border: none;
        }
        .content-wrapper {
            padding: 0;
        }
    }
}
