@import "../../../../../../../global/css/_variables.less";

.animated-search-bar-component {
    background-color:@white;
    top: 2px;
    right: -2px;
    border: 1px darken(@gray-96, 20%) solid;
    border-radius: 15px;
    height: 32px;
    
    input {
        display:inline-block;
        height: 27px;
        width: 90%;
        vertical-align: top;
        border: 0;
        padding-top: 5px;
        margin-left: 6px;
        &.explorer::-ms-clear {
            height:0px;
            width: 0px;
        }
    }
    .typeahead-elem  {
        display:inline-block;
        color: #cccccc;
        vertical-align: top;
        padding-top: 7px;
        position: absolute;
    }
    input:focus {
        outline:0;
    }
    span.icon.icon-close {
        position: absolute;
        font-size: 18px;
        top: 6px;
        cursor: pointer;
        padding: 0px;
        right: 14px;
    }
    span.icon.icon-search {
        padding-top:0;
        padding-bottom:0;
        font-size: 18px;
        margin-left: 6px;
        margin-top: 6px;
        display: inline-block;
        font-weight: bold;
    }
}