@import "../../global/css/_variables.less";

.module-dashboardarticle {
    width: 100%;
    background-color: @white;
    overflow: hidden;
    a:hover {
        text-decoration: underline;
    }
    a.title-link {
        color: @kpmg-blue;
    }
    a.desc-link:hover {
        text-decoration: none;
    }
    img {
        width: 100%;
        border: none;
    }
    .tertiary-desc.line-clamp {
        margin-bottom: 25px;
        &.line-clamp-5 {
            -webkit-line-clamp: 5;
            max-height: 12rem;
        }
        &.line-clamp-3 {
            -webkit-line-clamp: 3;
            max-height: 5.76rem;
        }
    }
    .tertiary-desc.line-clamp,
    .tertiary-head.line-clamp {
        &:after {
            display: none;
        }
    }
    .indicator-share {
        cursor: pointer;
        color: @light-green;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .indicator-save {
        cursor: pointer;
        position: absolute;
        color: #519adf;
        bottom: 10px;
        left: 10px;
        .icon-Star-Filled {
            display: none;
        }
        &.saved {
            .icon-Star-Open {
                display: none;
            }
            .icon-Star-Filled {
                display: inline;
            }
        }
    }
}
