<div class="modal-box-container">
<div class="module-peoplecontactform pcontact-form" data-is-cq="{{hbs.contactForm.isCQ}}" data-confirmtitle="{{ i18n hbs.peopleContactForm.cancelDialogTitle }}">


    <div class="row">
        <div class="col-md-12">
            <h1 class="primary-head desktop-only">{{ hbs.peopleContactForm.title }}</h1>
            <h1 class="primary-head mobile-only">{{ hbs.peopleContactForm.shortTitle }}</h1>
            <h1 class="confirmPopUpHeading"></h1>
            <p class="description desktop-only">{{ hbs.peopleContactForm.description }}</p>
            <p class="description mobile-only">{{ hbs.peopleContactForm.shortDescription }}</p>
        </div>
        <!--confirmation pop up start-->
        <div class="col-md-12 peoplecontact-info form-step steps peoplecontactconf-nav" id="peopleContactFormConfirmBox">
            <p>{{ i18n hbs.peopleContactForm.cancelDialogDesc1 }}</p>
            <p>{{ i18n hbs.peopleContactForm.cancelDialogDesc2 }}</p>
            <div class="confirm-block">
                <div class="pull-left" id="peopleContactMobileConfirm">
                    <span class="icon-chevron-left peopleContactCancel"></span><a href="javascript:void(0);" class="peopleContactCancel">{{ i18n hbs.peopleContactForm.cancelDialogBack }}</a>
                        </div>
                    <div class="pull-right">
                    <span class="icon-close" id="removePeopleContactForm" data-dismiss="modal"></span><a href="javascript:void(0);" class="removePeopleContactForm" data-dismiss="modal">{{ i18n hbs.peopleContactForm.cancelDialogContinue }}</a>
                 </div>
             </div>
        </div>
        <!--confirmation pop up end-->
    </div>
    <div class="pcf-person row">
        <div class="pcf-img-container">
            <div class="img-rend">
 {{#if hbs.peopleContactForm.imageConfigExists}}
                    <div data-picture data-alt='{{hbs.peopleContactForm.altText}}'>


                        {{#hbs.peopleContactForm.imageConfig}}
                        <div data-src="{{hbs.globalValues.assetDomainName}}{{hbs.peopleContactForm.imagePath}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div>
                        {{#if @last}}
                                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                        {{/if}}
                        {{/hbs.peopleContactForm.imageConfig}}


                     </div>
                      {{else}}
                     <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 300'%2F%3E" data-desktop="{{hbs.globalValues.assetDomainName}}{{hbs.peopleContactForm.imagePath}}/jcr:content/renditions/cq5dam.web.237.300.jpg" data-mobile="{{hbs.globalValues.assetDomainName}}{{hbs.peopleContactForm.imagePath}}/jcr:content/renditions/cq5dam.web.237.300.jpg" alt="{{hbs.peopleContactForm.altText}}" class="lazy img-responsive" />

                    {{/if}}
		  </div>
        </div>
        <div class="pcf-details">
            <div class="desc">
            <p class="secondary-head">{{ hbs.peopleContactForm.salutation }} {{ hbs.peopleContactForm.firstName }} {{ hbs.peopleContactForm.middleInitial }} {{ hbs.peopleContactForm.lastName }} {{ hbs.peopleContactForm.suffix }}</p>
            <p>{{ hbs.peopleContactForm.jobTitle }}</p>
        </div>
        </div>
    </div>
    <form data-action="{{ hbs.peopleContactForm.send.url }}" role="form" class="pcf-form" name="peoplecontactform" id="peoplecontactform" method="post">
        <input type="hidden" value="{{hbs.peopleContactForm.contactPath}}" name="contactPath" />
        <div class="row form-group err-msg-area clearfix" aria-hidden="true">
            <div class="col-md-2 align-left">
                <span class="icon-warning"></span>
            </div>
            <div class="col-md-10">
                <h3 class="tertiary-head">{{ i18n hbs.peopleContactForm.sorry }}</h3>
                <p>{{ i18n hbs.peopleContactForm.checkFollowingFields }}</p>
                <ul class="err-msg"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="pcf-required">{{ i18n hbs.peopleContactForm.requiredLabel }}</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <span class="icon-person"></span>
                <label for="name" class="sr-only"  data-original-label="{{ i18n hbs.peopleContactForm.name.errorMsgLabel }}">{{ i18n hbs.peopleContactForm.name.label }}</label>
                <input required type="text" class="form-control" name="name" id="name" maxlength="100"  data-errormessage-value-missing="{{ i18n hbs.peopleContactForm.name.errorMsg }}" placeholder="{{ i18n hbs.peopleContactForm.name.label }}" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <span class="icon-email"></span>
                <label for="email" class="sr-only" data-original-label="{{ i18n hbs.peopleContactForm.email.errorMsgLabel }}">{{ i18n hbs.peopleContactForm.email.label }}</label>
                <input required type="email" class="form-control" maxlength="100" data-errormessage-value-missing="{{ i18n hbs.peopleContactForm.email.errorMsg }}"  data-errormessage-custom-error="{{ i18n hbs.peopleContactForm.email.errorMsg }}" name="email" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+"  id="email" placeholder="{{ i18n hbs.peopleContactForm.email.label }}" />
                <p class="help-block help-block-email">{{ i18n hbs.peopleContactForm.email.helpMessage }}</p>
            </div>
        </div>
        <div class="form-group row pcf-phone">
            <div class="col-md-12">
                <span class="icon-phone"></span>
                <label for="phone" class="sr-only">{{ i18n hbs.peopleContactForm.phone.label }}</label>
                <input type="tel" class="form-control" name="phone" id="phone" maxlength="50" placeholder="{{ i18n hbs.peopleContactForm.phone.label }}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <span class="icon-building"></span>
                <label for="company" class="sr-only">{{ i18n hbs.peopleContactForm.organization.label }}</label>
                <input type="text" class="form-control" name="company" id="company" maxlength="100" placeholder="{{ i18n hbs.peopleContactForm.organization.label }}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <span class="icon-briefcase"></span>
                <label for="role" class="sr-only">{{ i18n hbs.peopleContactForm.role.label }}</label>
                <input type="text" class="form-control" name="role" id="role" maxlength="100" placeholder="{{ i18n hbs.peopleContactForm.role.label }}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="message" class="sr-only" data-original-label="{{ i18n hbs.peopleContactForm.message.errorMsgLabel }}" >{{ i18n hbs.peopleContactForm.message.label }}</label>
                <div class="textarea-content">
                    <span class="icon-message"></span>
                    <textarea  data-max-allowed-char="5000" required name="message" class="form-control"  data-errormessage-value-missing="{{ i18n hbs.peopleContactForm.message.errorMsg }}" id="message" placeholder="{{ i18n hbs.peopleContactForm.message.label }}" ></textarea>
                </div>
                <p class="msgCharLeft">{{i18n hbs.peopleContactForm.remainingCharLabel}} <span class="count">5000</span></p>
                <p class="help-block help-block-message">{{ i18n hbs.peopleContactForm.message.helpMessage }}</p>
            </div>
        </div>
        <div class="form-group row">
		      <div class="checkbox terms">
                <a href="javascript:void(0);" class="contact-tab-entry no-highlight"></a>
                <input required data-errormessage-value-missing="{{ i18n hbs.peopleContactForm.privacyPolicy.errorMsg }}" type="checkbox" name="terms" id="terms" value="yes"  >
                <label data-original-label="{{ i18n hbs.peopleContactForm.privacyPolicy.helpMessage }}" data-original-value-missing="{{ i18n hbs.peopleContactForm.privacyPolicy.errorMsgLabel }}" for="terms">
                    {{#if hbs.peopleContactForm.privacyStatement}}
                    {{{hbs.peopleContactForm.privacyStatement}}}
                    <div class="outer-shape">
                        <div class="right-arrow"></div>
                        <div class="left-box">{{ i18n hbs.peopleContactForm.required }}</div>
                    </div>
                    {{else}}
                    <p>{{ i18n hbs.peopleContactForm.privacyPolicy.helpMessage }}&nbsp;<a href="{{ hbs.peopleContactForm.privacyPolicy.url }}" class="privacy" id="privacyPolicy" target="_blank">
                            {{ i18n hbs.peopleContactForm.privacyPolicy.label }}
                        </a>
                    </p>
                    <div class="outer-shape">
                        <div class="right-arrow"></div>
                        <div class="left-box">{{ i18n hbs.peopleContactForm.required }}</div>
                    </div>
                    {{/if}}
                </label>                
            </div>
		</div>

<div class="row">
     <div id="recaptchaOverlay-pc">
    </div>
    <div class="btn-cta d-block mr-0 ml-auto mt-18px" >
    <button type="submit" class="btn-cta"  id="submit">

    <span class="icon-chevron-right submit-chevron"></span><span class="btn-copy">{{ i18n hbs.peopleContactForm.send.label }}</span>
    </button>
    </div>
</div>
<input type="hidden" name="_charset_" value="UTF-8"/>
</form>
</div>

 <div class="module-peoplecontactform hide form-receipt" id="formReceipt">
</div>
</div>
