<!-- Begin Component: Unsubscribe -->
<section class="module-unsubscribe component">

    <div class="btn-wraper">
        <button class="trackable optout-cancel btn">{{i18n "kpmg.personalization.unsubscribe.electroniccommunication"}}</button>
        <button class="trackable optout-all btn pull-right">{{i18n "kpmg.personalization.unsubscribe.optoutelectroniccommunication"}}</button>
    </div>

    <div class="modal fade verfyEmailModal" id="unsubscribeSuccessModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-close  btn-close close" data-dismiss="modal"><span class="sr-only">{{i18n "kpmg.personalization.myaccount.profile.close"}}</span></span>
                    <h4 class="verfyEmailModal-title">{{i18n "kpmg.personalization.unsubscribe.optoutconfirmation"}}</h4>
                </div>
                <div class="modal-body">
                    <p class="success-msg">{{i18n "kpmg.personalization.unsubscribe.optoutconfirmationdesc"}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-default col-md-6 pull-right btn delete-close" data-dismiss="modal"><span class="icon-close"></span>{{i18n "kpmg.personalization.myaccount.profile.close"}}</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Component: Unsubscribe -->
