<!-- Begin Component: TouchVideobanner -->
<div class="module-touch-videobanner component">
    <div class="row-same-height row-full-height videobanner-component-row">
        <div class="col-12 col-md-height col-full-height col-top col-nested main-feature-blog"
        title="{{hbs.touchTrifectaBanner.mainFeatureBlogPost.imageAltText}}">
            <!-- Main feature blog post -->
            <a href="{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.url}}"
            class="dashboard-banner-cta" x-cq-linkchecker="skip" title="{{hbs.touchTrifectaBanner.mainFeatureBlogPost.imageAltText}}">
                <div class="icon-banner-video-wrapper">
                    <span class="bg-icon-wrapper">
                        <span class="icon-banner-video-bg"></span>
                        <span class="icon-banner-video"></span>
                    </span>
                </div>
                <picture>
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.781.377.jpg"
                        media="screen and (min-width: 641px) and (max-width: 9440px)">
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.583.282.jpg"
                        media="screen and (min-width: 0px) and (max-width: 640px)">
                    <img class="main-feature-img img-responsive" src="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.781.377.jpg"
                        alt="{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.imageAltText}}" title="{{hbs.touchVideoBanner.mainFeatureVideoBlogPost.imageAltText}}"/>
                </picture>
                <div class="banner-overlay main-overlay">                    
                    <h2 class="banner-text main-overlay-text hidden-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.mainFeatureVideoBlogPost.title}}
                    </h2>
                    <h2 class="banner-text main-overlay-text visible-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.mainFeatureVideoBlogPost.shortTitle}}
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-height col-full-height col-top col-nested second-feature-blog">
            <!-- Second feature blog post -->
            <a href="{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.url}}"
            class="dashboard-banner-cta second-blog col-12" x-cq-linkchecker="skip" title="{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageAltText}}">
                 <div class="icon-banner-video-wrapper">
                    <span class="bg-icon-wrapper">
                        <span class="icon-banner-video-bg"></span>
                        <span class="icon-banner-video"></span>
                    </span>
                </div>
                <picture>
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.653.187.jpg"
                        media="screen  and (min-width: 641px) and (max-width: 9440px)">
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.583.167.jpg"
                        media="screen  and (min-width: 0px) and (max-width: 640px)">
                    <img class="second-feature-img img-responsive" src="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.653.187.jpg"
                        alt="{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageAltText}}" title="{{hbs.touchVideoBanner.secondFeatureVideoBlogPost.imageAltText}}"/>
                </picture>
                <div class="banner-overlay secondary-overlay">
                    <h2 class="banner-text secondary-overlay-text hidden-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.secondFeatureVideoBlogPost.title}}
                    </h2>
                    <h2 class="banner-text secondary-overlay-text visible-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.secondFeatureVideoBlogPost.shortTitle}}
                    </h2>
                </div>
            </a>
            <!-- Second feature blog post -->
            <a href="{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.url}}"
            class="dashboard-banner-cta third-blog col-12" x-cq-linkchecker="skip" title="{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.imageAltText}}">
                 <div class="icon-banner-video-wrapper">
                    <span class="bg-icon-wrapper">
                        <span class="icon-banner-video-bg"></span>
                        <span class="icon-banner-video"></span>
                    </span>
                </div>
                <picture>
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.653.187.jpg"
                        media="screen  and (min-width: 641px) and (max-width: 9440px)">
                    <source srcset="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.583.167.jpg"
                        media="screen  and (min-width: 0px) and (max-width: 640px)">
                    <img class="second-feature-img img-responsive" src="{{hbs.touchVideoBanner.assetDomainName}}{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.imageFileReference}}/jcr:content/renditions/cq5dam.web.653.187.jpg"
                        alt="{{hbs.touchVideoBanner.thirdFeatureBlogPost.imageAltText}}" title="{{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.imageAltText}}"/>
                </picture>
                <div class="banner-overlay secondary-overlay">
                    <h2 class="banner-text secondary-overlay-text hidden-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.title}}
                    </h2>
                    <h2 class="banner-text secondary-overlay-text visible-xs videobanner-line-clamp">
                        {{hbs.touchVideoBanner.thirdFeatureVideoBlogPost.shortTitle}}
                    </h2>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Component: TouchVideobanner -->
