<section class="module-alumnilinks component">
    <div class="backgroundWhite">
        <h3 class="secondary-head module-alumnilinks-title">{{i18n hbs.alumniLinks.alumniSitesTitle}}</h3>
        <p class="module-alumnilinks-description">{{i18n hbs.alumniLinks.alumniSitesTitleDescription}}</p>
    </div>
    <div class="module-alumnilinks-tabs row-same-height row-full-height">
        <div class="tabsList col-md-3 col-md-height col-sm-height col-full-height col-top">
            <ul class="resp-tabs-list">
                {{#each hbs.alumniLinks.regions}}
                <li class="tabbedComponentTab" id="{{this.regionName}}" data-index="{{@index}}">
                    <a href="javascript:void(0);" class="no-highlight">
                        <div class="left-container">
                            <p class="regionName">
                                {{this.regionName}} 
                            </p>
                            <div class="regionImage">
                                <img src ="{{hbs.globalValues.assetDomainName}}{{this.regionImage}}" alt="{{this.regionImageAltText}}" class="lazy">
                            </div>
                        </div>
                        <div class="right-container">
                            <span class="icon-chevron-right"></span>
                            <span class="resp-arrow icon-chevron-down"></span>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="resp-tabs-container col-md-9 col-md-height col-sm-height col-full-height col-top">
            {{#each hbs.alumniLinks.regions}}
            <div class="subRegions" tabindex="-1" data-index="{{@index}}">
                {{#each this.subRegions}}
                <div class="subRegion-list">
                    <p class="subRegionname">
                        {{this.subRegionName}}
                    </p>
                    <ul class="countries">
                        {{#each this.countryList}}
                        <li class="countryName">
                            <a href="{{this.countrySiteURL}}" target="_blank" title="{{this.countrySiteDisplayName}}" data-index="{{@index}}">
                                {{this.countrySiteDisplayName}} 
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
    <a href="javascript:void(0);" class="alumnilinks-tab-exit no-highlight"></a>
</section>

