@import url('../../global/css/_variables.less');
.module-listing {
    padding: 10px;
    .col-md-12.listing-listingGroup {
        background: @white;
        padding: 0px;
        .tertiary-head {
            .component-title(@kpmg-blue);
            margin: 0px 0px 10px 0px;
        }
        .mCSB_dragger_bar {
            width: 5px;
        }
        .mCSB_draggerRail {
            background: @gray-87;
        }
        .mCSB_draggerContainer{
            display: none;
        }
       .mCSB_container{
           margin: 0px;
       }
       ul.listing-listingGroupLinks.auto, ul.listing-listingLinksAuto.manual{
           display: none;
       }
       ul.listing-listingGroups {
           li.listing-listingGroupLink {
                padding: 1px 5px 1px 1px;
                margin: 1px;
                
                span.listing-link-text {
                  .promo-details(@gray-40);  
                }
                .missing_links {
                     padding: 10px 0px;
                    .promo-details(@gray-40);
                    display: table;
                    width: 100%;
                    .listing-link-text{
                        padding-right: 5px;
                    }
                    span {
                        display: table-cell;
                        .hyphen;
                        .icon-chevron-right {
                            vertical-align: middle;
                        }
                    }
                }
                a {
                    padding: 10px 0px;
                    width: 100%;
                    .promo-details(@gray-40);
                    display: table;
                    table-layout: fixed;
                    .hyphen;
                    .listing-link-text:hover {
                        text-decoration: underline;
                    }
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                span.icon-chevron-right {
                    color: @light-green;
                    .font-size(1.6);
                    width: 22px;
                    vertical-align: middle;

                    &:before {
                        margin: 0 0 0 5px !important;
                    }
                }
                &:first-child {
                    background: none;
                }
                &:first-child:before {
                    display: none;
                }
                &:before {
                    .dotted-lightblue;
                }
            }
            li.noLink span {
                .promo-details(@gray-40);
                padding: 10px 0px;
                display: block;
            }
        }
        .listing-content {
            display: block !important;
            .hyphen;
        }
    }
}

@media (min-width: @desktop-min-fixed) {
    .module-listing {
        .col-md-12.listing-listingGroup {
             min-height: 286px;
             max-height: 310px;
             .mCSB_inside>.mCSB_container {
                // margin-right: 5px;
             }
            .mCSB_draggerContainer{
                display: block;
            }
         }
        ul.listing-listingGroups {
            height: 265px;
            overflow-y: hidden;
         }
    }
}