<section class="module-eventresources component clearfix ">
    <div class="">
        <h2 class="primary-head">{{i18n hbs.eventresources.eventResourcesLabel}}</h2>
        <div class="module-eventresources-content row tmpl-row row-same-height row-full-height" data-download-label="{{i18n hbs.eventresources.downloadButtonLabel}}">
        </div>
        <div class="module-eventresources-loadMoreBtn" data-url="{{hbs.eventresources.baseUrl}}">
           <a class="btn-more" data-page="{{hbs.eventresources.currentPage}}" data-totalRecords="{{hbs.eventresources.totalRecords}}" data-recordSize="{{hbs.eventresources.recordsPerPage}}" href="javascript:void(0)">
            <span class="icon-add"></span>
            <span class="loadmoreLabel"> {{i18n hbs.eventresources.loadMoreResourcesLabel}} </span>
            </a>
        </div>
    </div>

</section>

