@import "../../global/css/_variables.less";

.module-contactcredentials{
    width: 100%;
    padding:10px;
    .col-md-4{
        min-width:33.33333333%;
        margin-bottom: 18px;
    }
    .col-md-8{        
        margin-bottom: 18px;
    }
    .contactcredentials-listingGroup {
        padding: 10px !important;
        float: left;
        width: 100%;
        background: @white;
        overflow: auto;
        padding:0px;
       
        .tertiary-head {
           .component-title(@kpmg-blue);
            margin: 0px 0px 10px 0px;
        }
        
      
        
        ul.contactcredentials-listingGroupDetails li.contactcredentials-listingGroupText {
                      
            p {
                .promo-details(@gray-20);
                 padding:10px 0px;
                .hyphen;
                 
            }
            &:last-child {
                /*border-bottom: none;*/
            }
            &:first-child:before {
               display: none;
            }
            &:before {
                .dotted-lightblue;   
            }
        }
    }
}
@media (min-width:@desktop-min-fixed) {
    .module-contactcredentials{
        .col-md-4{
            margin-bottom: 0px;
        }
        .contactcredentials-listingGroup{
            margin-bottom:0;
        }
    }
}