@import "../../global/css/_variables.less";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../share/css/share";
@import "../../mykpmgpromo/css/mykpmgpromo";


.module-tmpl-sitemap {
    
    .module-basicpagetitle p:nth-last-child(2){display:none;}
    
    
    .sitemap {
			.text {
                padding:6px 0px;
                background:@white;
            }
			a {
                .file-size(@medium-blue); 
                padding: 2px;                
            }
            
            a:hover {
                text-decoration: underline;
            }
            a:visited {
                 color: @medium-blue;
                 text-decoration: underline;
            }
			.linkcontainer > div {
                padding-left:10px;
                margin:10px 0px;
            //  line-height: 16.8px;
            }            
	 }
}

