@import "../../global/css/_variables.less";

.module-printbutton {
  .print-text {
    .component-link {
      text-decoration: none;
      .icon-print-friendly {
        width: 26px;
        font-size: 22px;
        color: @print-icon-green;
        &:hover {
          text-decoration:none;
        }
      }
      &.focusOutline {
        outline : auto 1px @gray-40;
        outline : -webkit-focus-ring-color auto 1px;
      }
      .print-label:hover{
        text-decoration: underline;
      }
    }
  }
}
