<!-- Begin Component: OppModal -->
<div class="module-oppmodal component hidden">
<!-- Begin Component: generic Modal -->
    <div class="modal fade genericOppModal opp-modal" role="dialog" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-close btn-close close" data-dismiss="modal">
                        <span class="sr-only">
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.closelink}}
                            {{else}}
                            {{i18n "kpmg.personalization.myaccount.deleteaccount.closelink"}}
                            {{/if}}
                        </span>
                    </span>
                    <h4 class="salutation" data-hi='{{i18n "kpmg.personalization.dashboard.oppchange.title"}}'>
                        {{#if hbs.personalizationValues.blog}}
                        {{hbs.personalizationValues.title}}
                        {{else}}
                        {{i18n "kpmg.personalization.dashboard.oppchange.title"}}
                        {{/if}}
                        <span class="user-name"></span>!
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modified-msg">
                        <div class="oppchange-text text1">
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.text}}
                            {{else}}
                            {{i18n "kpmg.personalization.dashboard.oppchange.text"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 closeButton" data-dismiss="modal">
                        <span class="icon-close"></span>
                        <span>
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.closelink}}
                            {{else}}
                            {{i18n "kpmg.personalization.myaccount.deleteaccount.closelink"}}
                            {{/if}}
                        </span>
                    </button>
                    <button type="button" class="btn btn-continue col-md-6 continueButton" data-dismiss="modal">
                        <span class="icon-chevron-right submit-chevron"></span>
                        <span>
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.continue}}
                            {{else}}
                            {{i18n "kpmg.personalization.gigya.registration.continue"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

<!-- End of generic Modal -->

<!-- Begin RS OppModal -->
    <div class="modal fade rsOppModal opp-modal" role="dialog" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="salutation" data-hi='{{i18n "kpmg.personalization.ssmodal.oppchange.salutation"}}'>
                        {{#if hbs.personalizationValues.blog}}
                        {{hbs.personalizationValues.salutation}}
                        {{else}}
                        {{i18n "kpmg.personalization.ssmodal.oppchange.salutation"}}
                        {{/if}}
                        <span class="user-name"></span>!
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modified-msg">
                        <div class="oppchange-text text1">
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.text1}}
                            {{else}}
                            {{i18n "kpmg.personalization.ssmodal.oppchange.text1"}}
                            {{/if}}
                        </div>
                        <div class="oppchange-text text2">
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.text2}}
                            {{else}}
                            {{i18n "kpmg.personalization.ssmodal.oppchange.text2"}}
                            {{/if}}
                        </div>
                        {{#if hbs.oppmodal.includeOpp}}
                            <div class="checkbox terms">
                                <label class="opp-checkbox {{#unless hbs.oppmodal.checkBoxVisible}}checkbox-hide{{/unless}}" for="terms1">
    							    {{{hbs.oppmodal.registeredSiteOpp}}}
                                    {{#if hbs.oppmodal.checkBoxVisible}}
                                        <input type="checkbox" id="terms1" value="yes" />
                                        <span class="checkmark"></span>
                                    {{/if}}
                                </label>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 ignoreandlogout" data-dismiss="modal">
                        <span class="icon-close"></span>
                        <span>
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.ignoreandlogout}}
                            {{else}}
                            {{i18n "kpmg.personalization.dashboard.oppchange.ignoreandlogout"}}
                            {{/if}}
                        </span>
                    </button>
                    <button type="button" class="btn btn-continue col-md-6 continueButton" data-dismiss="modal">
                        <span class="icon-chevron-right submit-chevron"></span>
                        <span>
                            {{#if hbs.personalizationValues.blog}}
                            {{hbs.personalizationValues.continue}}
                            {{else}}
                            {{i18n "kpmg.personalization.gigya.registration.continue"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of RS OppModal -->


    <!-- Begin SS OppModal -->
    <div class="modal fade ssOppModal opp-modal" role="dialog" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="icon-close btn-close close" data-dismiss="modal">
                        <span class="sr-only">{{i18n "kpmg.personalization.myaccount.deleteaccount.closelink"}}</span>
                    </span>
                    <h4 class="salutation" data-hi='{{i18n "kpmg.personalization.ssmodal.oppchange.salutation"}}'>
                        <span class="salutation-title">{{i18n "kpmg.personalization.ssmodal.oppchange.salutation"}}</span>
                        <span class="user-name"></span>!
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modified-msg">
                        <div class="oppchange-text text1"></div>
                        <div class="oppchange-text text2"></div>
                        <div class="checkbox terms">
                            <label class="opp-checkbox" for="terms2">
							    <span class="ss-opp"></span>
                                <input type="checkbox" id="terms2" value="yes" />
                                <span class="checkmark"></span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 closeButton" data-dismiss="modal">
                        <span class="icon-close"></span>
                        <span class="close-text">{{i18n "kpmg.personalization.myaccount.deleteaccount.closelink"}}</span>
                    </button>
                    <button type="button" class="btn btn-continue col-md-6 continueButton" data-dismiss="modal">
                        <span class="icon-chevron-right submit-chevron"></span>
                        <span class="continue-text">{{i18n "kpmg.personalization.gigya.registration.continue"}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- End of SS OppModal -->

</div>
<!-- End Component: OppModal -->

<div class="loading-spinner"></div>
