<div class="col-md-12">
    <div class="error error-inline noarticleexists">
        <h4 class="errortitle">
            {{#if hbs.noarticles}}
                {{hbs.noarticles.errorTitle}}
            {{else}}
                {{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorTitle"}}
            {{/if}}
        </h4>
        <p class="errormessage">
            {{#if hbs.noarticles}}
                {{hbs.noarticles.errorMessage}}
            {{else}}
                {{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorMessage"}}
            {{/if}}

        </p>
        <p class="errordetail">
            {{#if hbs.noarticles}}
                {{hbs.noarticles.errorDetail}}
            {{else}}
                {{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail"}}
            {{/if}}

            <a href="#" class="errortohome">
                {{#if hbs.noarticles}}
                    {{hbs.noarticles.errorDetail1}}
                {{else}}
                    {{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail1"}}
                {{/if}}

            </a>
            {{#if hbs.noarticles}}
                {{hbs.noarticles.errorDetail2}}
            {{else}}
                {{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail2"}}
            {{/if}}
        </p>
        <div class="search-container">
            <div class="search-input">
                <div class="form-group">
                    <label class="sr-only" for="search">
                        {{#if hbs.noarticles}}
                            {{hbs.noarticles.searchLabel}}
                        {{else}}
                            {{i18n "kpmg.personalization.public.list.sharelist.searchLabel"}}
                        {{/if}}
                    </label>
                    <input class="search" id="search" name="search" placeholder="
                    {{#if hbs.noarticles}}
                        {{hbs.noarticles.searchLibList}}
                    {{else}}
                        {{i18n 'kpmg.personalization.public.list.sharelist.searchLibList'}}
                    {{/if}}
                    " type="text" />
                    <button class="submitSearch" title="search" type="submit" value="Submit">
                        <span class="icon-search">
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>