@import "../../global/css/_variables.less";

.module-touch-bloglikesandshare {
    padding: 0;
    overflow: auto;
    margin: 10px;
    .blog-like {
        padding-left: 0;
    }
    .blog-share {
        padding-right: 0;
    }

}


@media (max-width: 640px) {
    .module-touch-bloglikesandshare {
        margin: 0px !important;
        .blog-share {
            padding-right: 5px;
            padding-top: 23px;
        }
    }


}
