<section class="module-tmpl-site-error"> 
    <div class="inner-container">
      <div class="row">

          <div class="row-same-height row-full-height">
              
              <div class="col-md-6 col-md-height col-full-height col-top no-rightbdr">

                <div class="row">
                   {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
                </div>
                <div class="row">
                   {{ include "searchinputs" resourceType="/apps/kpmgpublic/components/hidden/searchInput"}}
                </div>

              </div>

              <div class="col-md-6 col-md-height col-full-height col-top no-leftbdr">
                {{ include "image" resourceType="/apps/kpmgpublic/components/content/image-component"}}
              </div>

          </div>
      </div>
    </div>
</section>