<template id="navbar-component-template">

	<div
		class="
			navbar-component vue-component
			navbar-wrapper position-relative
		"
		v-if="vm"
	>
	<a class="skip-nav" href="#page-content">{{i18n "kpmg.accessibility.skipToContent"}}</a>
    <!-- DESKTOP NAVBAR -->
    <div
		class="
			px-0
		"
		v-dev="{isDev: $root.isDev, variant: 'default'}"
	>
      <desktop-navbar
        class="
			{{#if hbs.isAuthor}}
				d-flex
			{{else}}
			d-none d-xl-flex
			{{/if}}
			pb-2
		"
        :vm="vm"
      ></desktop-navbar>
    </div>

    <!-- MOBILE NAVBAR -->
    <mobile-navbar
		:vm="vm"
	>
	</mobile-navbar>

	<!-- blogs blue header -->
	<blogs-navbar :vm="vm.blogHeader" v-if="$store.state.data.siteInfo.isBlog"></blogs-navbar>

  </div>

</template>

<!-- LEGACY COMPATIBILITY COMPONENTS-->
{{
	include "legacy-compatibility-components"
	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/legacy/legacy.hbss"
}}

<!-- SHARED COMPONENTS -->
{{
	include "shared-navbar-templates"
	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/shared/shared.hbss"
}}

<!-- DESKTOP NAVBAR -->
{{
	include "desktop-navbar"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/desktop-navbar.hbss"
}}

<!-- MOBILE NAVBAR -->
{{
	include "mobile-navbar" resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/mobile-navbar/mobile-navbar.hbss"
}}
