<section class="module-inlinelist component clearfix">
    <div class="inlinelist-listingGroup col-md-12">  
        <h3 class="tertiary-head" 
            {{#if hbs.inlineList.anchorId}}
                id="{{hbs.inlineList.anchorId}}"
            {{/if}}>{{hbs.inlineList.title}}</h3>
        <h4 class="inlinelist-sub">{{hbs.inlineList.subtitle}}</h4>
        <ul class="inlinelist-listingGroupLinks">
            {{#each hbs.inlineList.links}}
                {{#if this.linkUrl}}
                <li class="inlinelist-listingGroupLink">
                    <a href = "{{this.linkUrl}}" title = "{{this.altText}}"><span class="listing-text">{{this.linkText}}</span></a>
                </li> 
                {{else}}
                <li class="inlinelist-listingGroupLink">
                    <span class="noLink">{{this.linkText}}</span>
                </li> 
                {{/if}}
            {{/each}}                
        </ul>
    </div>
</section>