<template id="mobile-nav-language-locale-tab-content-component-template">
	<div
		class="
			mobile-nav-language-locale-tab-content-component vue-component			
		"
		v-if="vm"
	>

	<ul class="text-left">
		
		
		<!-- 	LOCALE SITE -->
		<li class="
				sub-list-item-component 
				list-unstyled 
				px-0"
				v-if="vm.sites"
				v-for="(site, index) in vm.sites"
				v-bind:key=" index + 'site-selector-sites' ">
			<a 
			class="sub-list-item-component-text-color 
			rounded-0 
			py-4-1 
			p-4 
			bg-white
			d-block" 
			:class="{ active: site.selected }" 
			:href="site.link">
			\{{site.countryLocale}}
			</a>
		</li>

		<!-- GLOBAL SITE -->
		<li class="
				sub-list-item-component 
				list-unstyled 
				px-0"
				v-if="vm.global"
				>
			<a 
			class="sub-list-item-component-text-color 
			rounded-0 
			py-4-1 
			p-4 
			bg-white
			d-block" 
			:class="{ active: vm.global.selected }"
			:href="vm.global.link">
			\{{vm.global.countryLocale}}
			</a>
		</li>

		<!-- VIEW ALL SITE -->
		<li class="sub-list-item-component             
			list-unstyled             
		 	px-0           
		 ">
		 
			<a 
			class="sub-list-item-component-text-color 
			rounded-0                  
			py-4-1 
			p-4    
			bg-white              
			d-block" 
			:href="vm.allCountries.link">
			\{{vm.allCountries.i18nLabel}}
			</a>
		</li>
		
	</ul>
		
	</div>
</template>