                        /* MARGINS */
    .mr-auto {
        margin-right: auto !important;
    }
    .ml-auto {
        margin-left: auto !important;
    }
    .mr-0 {
        margin-right: 0px !important;
    }
    .mt-18px {
        margin-top: 18px !important;
    }
    
    /* DISPLAYS */
    .d-block {
        display:block !important;
    }
