<div class="overlay-header" role="header">
    <h4 class="heading" id="myModalLabel">
        {{#if hbs.sharelist}}
            {{hbs.sharelist.shareThisList}}
        {{else}}
            {{i18n "kpmg.personalization.library.listmanagement.shareThisList"}}
        {{/if}}
        
    </h4>
    <hr class="divider"/>
</div>
<div class="overlay-content" role="main">
    <div class="overlay-content-inner">
        <p class="description" id="description">
            {{#if hbs.sharelist}}
                {{hbs.sharelist.shareThisListDescription}}
            {{else}}
                {{i18n "kpmg.personalization.library.listmanagement.shareThisListDescription"}}
            {{/if}}            
        </p>
        <input class="alert alert-info" type="text" id="clipboardinput" value=""/>
    </div>
    <div class="alert alert-success" role="alert">
        <span class="icon-checkmark"></span>
        {{#if hbs.sharelist}}
            {{hbs.sharelist.copySuccessDescription}}
        {{else}}
            {{i18n "kpmg.personalization.library.listmanagement.copySuccessDescription"}}
        {{/if}}        
    </div>
    <div class="alert alert-failure" role="alert">
        <span class="icon-close"></span>
        {{#if hbs.sharelist}}
            {{hbs.sharelist.copyFailedClipboardAccessDenied}}
        {{else}}
            {{i18n "kpmg.personalization.library.listmanagement.copyFailedClipboardAccessDenied"}}
        {{/if}} 
        
    </div>
</div>
<div class="overlay-footer" role="footer">
    <div class="row">
        <div class="col-md-6 last-column col-md-push-6">
            <div class="savearticle-controls">
                <button class="btn btn-cta btn-default" id="copytocb" type="button">
                    <span class="icon-chevron-right"></span>
                    {{#if hbs.sharelist}}
                        {{hbs.sharelist.listmanagementcopy}}
                    {{else}}
                        {{i18n "kpmg.personalization.library.listmanagement.copy"}}
                    {{/if}} 
                    
                </button>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <div class="savearticle-controls">
                <a class="btn-cta btn-cancel cancel" href="#" id="cancelaction" data-dismiss="modal">
                    <span class="icon-close"></span>
                    {{#if hbs.createlistoverlay}}
                        {{hbs.createlistoverlay.cancel}}
                    {{else}}
                        {{i18n "kpmg.personalization.library.listmanagement.cancel"}}
                    {{/if}}
                </a>
                <button class="btn-cta close btn-default" href="#" data-dismiss="modal">
                    <span class="icon-close"></span>
                    {{#if hbs.createlistoverlay}}
                        {{hbs.createlistoverlay.close}}
                    {{else}}
                        {{i18n "kpmg.personalization.library.listmanagement.close"}}
                    {{/if}} 
                </button>
            </div>
        </div>
    </div>
</div>