<!-- Begin Component: TouchFullbleed -->
<div class="module-touch-fullbleed component {{#unless hbs.touchFullBleedBanner.image}}hide{{/unless}}">
    <div class="touchfullbleedContainer">

        {{#if hbs.touchfullbleed.imageConfigExists}}

        <picture>
            {{#hbs.touchfullbleed.imageConfig}} {{#if hbs.touchfullbleed.isDesktop}}
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.1440.328.jpg"
                media="screen  and (min-width: 641px) and (max-width: 9440px)"> {{else}}
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.583.328.jpg"
                media="screen  and (min-width: 0px) and (max-width: 640px)"> {{/if}} {{#if @last}}
            <img src="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.1440.328.jpg"
                alt="{{hbs.touchFullBleedBanner.imageAltText}}" title="{{hbs.touchFullBleedBanner.imageAltText}}" /> {{/if}} {{/hbs.touchfullbleed.imageConfig}}
        </picture>
        {{else}}
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.583.328.jpg"
                media="screen  and (min-width: 0px) and (max-width: 640px)">
            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.1440.328.jpg"
                media="screen  and (min-width: 641px) and (max-width: 9440px)">
            <!--[if IE 9]></video><![endif]-->
            <img src="{{hbs.globalValues.assetDomainName}}{{hbs.touchFullBleedBanner.image}}/jcr:content/renditions/cq5dam.web.1440.328.jpg"
                title="{{hbs.touchFullBleedBanner.imageAltText}}" alt="{{hbs.touchFullBleedBanner.imageAltText}}">
        </picture>
        {{/if}}

        <div class="caption-wrapper left" title="{{hbs.touchFullBleedBanner.imageAltText}}">
            <div class="caption-inner-wrapper">
                <div class="caption">
                    <div class="wrapper">
                        <h1 class="banner-header mobile-only">{{hbs.touchFullBleedBanner.shortTitle}}</h1>
                        <h1 class="banner-header desktop-only">{{hbs.touchFullBleedBanner.title}}</h1>

                            <div class="banner-content">
                                <div class="banner-description">
                                    <p class="mobile-only">{{hbs.touchFullBleedBanner.shortDescription}}</p>
                                    <p class="desktop-only">{{hbs.touchFullBleedBanner.description}}</p>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Component: TouchFullbleed -->
