<div
	id="navigation-v2-data"
	class="bs4"
	style="position:fixed"
	data-site-info='{
		"assetsDomain": "{{hbs.globalValues.assetDomainName}}",
		"isAuthor": {{hbs.isAuthor}},
		"isPersonalized": {{hbs.personalizationValues.personalization}},
		"isBlog": {{#if hbs.personalizationValues.blog}} true {{else}} false {{/if}}
	}'
>
	<!-- LOGO -->
	<div
		id="navigation-v2-data-logo"
		data-logo='{
			  "imgURL": "{{hbs.navigation.kpmgLogoImage}}",
			  "altText": "{{hbs.navigation.kpmgLogoAltText}}",
			  "linkURL": "{{hbs.navigation.homePageUrl}}"
		}'
	>
	</div>

	<!-- Blog header data -->
	<div
		id="navigation-v2-data-blog-navbar"
		data-blog-navbar ='{
			"home": {
				"label": "{{hbs.touchBlueBanner.homeLabel}}",
				"linkURL": "{{hbs.touchBlueBanner.homeURL}}"
			},
			"topics": {
				"label": "{{hbs.touchBlueBanner.topicsLabel}}",
				"linkURL": "{{hbs.touchBlueBanner.topicsURL}}"
			},
			"authors": {
				"label": "{{hbs.touchBlueBanner.authorsLabel}}",
				"linkURL": "{{hbs.touchBlueBanner.authorURL}}"
			}
		}'
	>
	</div>

	<!-- NABAR-NAV -->
	<div
		id="navigation-v2-data-navbar-nav"
		data-navbar-nav='{
			"insights": {
				"id": "insights-flyout",
				"i18nLabel": 	"{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.insightsLabelValue}} {{else}} {{i18n hbs.navigation.insightsLabel}} {{/if}}",
				"linkURL" : 	"{{hbs.navigation.insightsLandingUrl}}"
			},
			"industries": {
				"id": "industries-flyout",
				"i18nLabel": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.industriesLabelValue}} {{else}} {{i18n hbs.navigation.industriesLabel}} {{/if}}",
				"linkURL" : "{{hbs.navigation.industriesLandingUrl}}"
			},
			"services": {
				"id": "services-flyout",
				"i18nLabel": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.servicesLabelValue}} {{else}} {{i18n hbs.navigation.servicesLabel}} {{/if}}",
				"linkURL": "{{hbs.navigation.servicesLandingUrl}}"
			}{{#if hbs.navigation.eventsLandingUrl}},
			"events": {
				"id": "events-flyout",
				"i18nLabel": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.eventsLabelValue}} {{else}} {{i18n hbs.navigation.eventsLabel}} {{/if}}",
				"linkURL": "{{hbs.navigation.eventsLandingUrl}}",
				"internalLinkFlag": "{{hbs.navigation.isEventsUrl1Internal}}",
				"newTabAllow": "{{i18n hbs.navigation.newTabAllowLabel}}"
			}{{/if}}{{#if hbs.navigation.optionalLabelUrl}}{{#if hbs.navigation.optionalLabelText}},
			"optional": {
				"id": "optional-flyout",
				"i18nLabel": "{{hbs.navigation.optionalLabelText}}",
				"linkURL": "{{hbs.navigation.optionalLabelUrl}}",
				"internalLinkFlag": "{{hbs.navigation.isOptionalUrl1Internal}}",
				"newTabAllow": "{{i18n hbs.navigation.newTabAllowLabel}}"
			}{{/if}}{{/if}}{{#if hbs.navigation.optionalLabelUrl2}}{{#if hbs.navigation.optionalLabelText2}},
			"optional1": {
				"id": "optional2-flyout",
				"i18nLabel": "{{hbs.navigation.optionalLabelText2}}",
				"linkURL": "{{hbs.navigation.optionalLabelUrl2}}",
				"internalLinkFlag": "{{hbs.navigation.isOptionalUrl2Internal}}",
				"newTabAllow": "{{i18n hbs.navigation.newTabAllowLabel}}"
			}{{/if}}{{/if}}{{#if hbs.navigation.optionalLabelUrl3}}{{#if hbs.navigation.optionalLabelText3}},
			"optional2": {
				"id": "optional3-flyout",
				"i18nLabel": "{{hbs.navigation.optionalLabelText3}}",
				"linkURL": "{{hbs.navigation.optionalLabelUrl3}}",
				"internalLinkFlag": "{{hbs.navigation.isOptionalUrl3Internal}}",
				"newTabAllow": "{{i18n hbs.navigation.newTabAllowLabel}}"
			}{{/if}}{{/if}}
		}'
	>
	</div>

	<div
		id="navigation-v2-data-secondary-nav"
		data-secondary-nav='[
			{
				"id": "careers",
				"label": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.careersLabelValue}} {{else}} {{i18n hbs.navigation.careersLabel}} {{/if}}",
				"linkURL": "{{hbs.navigation.careerLandingUrl}}"
			},

			{{#if hbs.navigation.hideAlumniNav}}
				{{else}}
					{
						"id": "alumni",
						"label": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.alumniLabelValue}} {{else}} {{i18n hbs.navigation.alumniLabel}} {{/if}}",
						"linkURL": "{{hbs.navigation.alumniLandingUrl}}"
					},
			{{/if}}

			{
				"id": "media",
				"label": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.mediaLabelValue}} {{else}} {{i18n hbs.navigation.mediaLabel}} {{/if}}",
				"linkURL": "{{hbs.navigation.mediaLandingUrl}}"
			},

			{{#if hbs.navigation.hideSocialNav}}
				{{else}}
					{
						"id": "social",
						"label": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.socialLabelValue}} {{else}} {{i18n hbs.navigation.socialLabel}} {{/if}}",
						"linkURL": "{{hbs.navigation.socialLandingUrl}}"
					},
			{{/if}}


			{
				"id": "about",
				"label": "{{#if hbs.navigation.isBlogPage}} {{hbs.navigation.aboutLabelValue}} {{else}} {{i18n hbs.navigation.aboutLabel}} {{/if}}",
				"linkURL": "{{hbs.navigation.aboutLandingUrl}}"
			}
		]'
	></div>

	<ul id="navigation-v2-data-nav-flyout">
		<li
			id="navigation-v2-author-insights-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"insights-navflyout"
				path="insights"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v2"
			}}
		</li>
		<li
			id="navigation-v2-author-industries-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"industries-navflyout"
				path="industries"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v2"
			}}
		</li>
		<li
			id="navigation-v2-author-services-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"services-navflyout"
				path="services"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v2"
			}}
		</li>

		{{#if hbs.navigation.eventsLandingUrl}}
		<li
			id="navigation-v2-author-events-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"events-navflyout"
				path="events"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v3"
			}}
		</li>
		{{/if}}

		{{#if hbs.navigation.optionalLabelUrl}}
		{{#if hbs.navigation.optionalLabelText}}
		<li
			id="navigation-v2-author-optional-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"optional-navflyout"
				path="optional"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v3"
			}}
		</li>
		{{/if}}
		{{/if}}


		{{#if hbs.navigation.optionalLabelUrl2}}
		{{#if hbs.navigation.optionalLabelText2}}
		<li
			id="navigation-v2-author-optional2-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"optional1-navflyout"
				path="optional1"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v3"
			}}
		</li>
		{{/if}}
		{{/if}}

		{{#if hbs.navigation.optionalLabelUrl3}}
		{{#if hbs.navigation.optionalLabelText3}}
		<li
			id="navigation-v2-author-optional3-flyout-editor"
			{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
			{{/if}}
		>
			{{include
				"optional1-navflyout"
				path="optional2"
				resourceType="/apps/kpmgpublic/components/global/flyoutnavigationpanel-v3"
			}}
		</li>
		{{/if}}
		{{/if}}

	</ul>

	<!-- SITE-SELECTOR -->
	<div
		id="navigation-v2-author-site-selector-editor"
		{{#if hbs.isAuthor }}
				style="position:fixed; width:95px"
        {{/if}}
	>
		{{include "countryLangQuickV2" resourceType="/apps/kpmgpublic/components/global/countryLangQuick-v2"}}
	</div>

    <!--MY ACCOUNT FLYOUT -->
    <div
        id="navigation-v2-author-my-account-flyout-editor"
        {{#if hbs.isAuthor }}
            style="position:fixed; width:95px"
        {{/if}}
    >
        {{
            include "my-account-flyout-v2"
            resourceType="/apps/kpmgpublic/components/personalization/myaccountflyout"
        }}
    </div>

	<!--SEARCH DATA-->
	{{
		include "search-v2"
		resourceType="/apps/kpmgpublic/components/hidden/searchInput-v2"
	}}

	<!-- I18N LABELS-->
	{{
		include "nav-v2-i18n-labels"
		resourceType="/etc/partials/kpmgpublic/navigation-v2/i18n-labels-data/i18n-labels.hbss"
	}}

</div>
