@import url('../../global/css/_variables.less');
.module-inlinelist {
    padding: 10px;
    .inlinelist-listingGroup {
        background: @white;
        padding: 0px;
        .mCSB_dragger_bar {
            width: 5px !important;
        }
        .mCSB_draggerRail {
            background: @gray-87 !important;
        }
        .mCSB_dragger_bar {
            background: @pale-blue !important;
        }
        .mCSB_dragger_bar:hover {
            background: @medium-blue !important;
        }
        .tertiary-head {
            .promo-title(@kpmg-blue);
            margin: 8px 0px 7px 0px;
            .hyphen;
        }
        h4.inlinelist-sub {
            .promo-title(@gray-20);
            .hyphen;
        }
        ul.inlinelist-listingGroupLinks {
            li:first-child {
                a,.noLink,.missing_links {
                    padding: 7px 0px 10px 0px !important;
                }
            }
            li.inlinelist-listingGroupLink {
                margin: 1px;
                .missing_links {
                    padding: 10px 0px;
                    .promo-details(@gray-40);
                    display: block;
                }
                a {
                    .promo-details(@medium-blue);
                    padding: 10px 0px;
                    display: block;
                    .hyphen;
                }
                a:hover {
                    text-decoration: underline;
                }
                &:last-child {
                    /*border-bottom: none;*/
                }
                &:first-child:before {
                    display: none;
                }
                &:before {
                    .dotted-lightblue;
                }
                .noLink {
                    .promo-details(@gray-20);
                    padding: 10px 0px;
                    display: block;
                }
            }
        }
    }
}
@media (min-width: @desktop-min-fixed) {
    .module-inlinelist {
        .col-md-12.inlinelist-listingGroup  {
             min-height: 286px;
             max-height: 310px;
             overflow-y: auto;
         }
     
    }
}