
<link rel="stylesheet" type="text/css" href="/etc/clientlibs/kpmgpublic/global/css/global.css">
<link rel="stylesheet" type="text/css" href="/etc/clientlibs/kpmgpublic/contact-form/css/contact-form.css">
<div class="container">
	<div class="module-contact-form form-receipt">
		<div class="row"> 
		    <div class="row receiptWrapper" >
	    	    <div class="col-md-12">
		            <h1 class="primary-head"></h1>
		            <p></p>                        
		        </div>
		        <div class="col-md-12 receipient">
		            <p class="mBottom">
		                <label>Email</label>
		                <span>
		                    mail2dile@gmail.com
		                    </span>
		            </p>
		            <p>
		                <label>Name</label>
		                <span>
		                    
		                    Dileep M
		                    
		                </span>
		            </p>
		            
		                                   
					
		                    <p>
		                <label>Phone</label>
		                        <span> dd</span>
		           			 </p>
		              
					
		                    <p>
		                <label>Organization</label>
		                        <span> dd</span>
		           			 </p>
		             
					
		                     <p class="mBottom">
		                <label>Role</label>
		                <span>dd</span>
		            </p>
		            


		            <p><label>Message</label></p>
		            <div class="clearfix">
		                    dddddddddd
		            </div>
		    	</div>    
		    </div>
		</div>
	</div>
</div> 
<script type="text/javascript">
	var _w = window;
	_w.onload = function(){
		_w.print();
	}	
</script>
