@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../eventtabs/css/eventtabs";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../connectandrfp/css/connectandrfp";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../share/css/share";
@import "../../campaignpagetitle/css/campaignpagetitle";
@import "../../socialwidget/css/socialwidget";
@import "../../socialtab/css/socialtab";
@import "../../resultlisting/css/resultlisting";
@import "../../mykpmgpromo/css/mykpmgpromo";

.module-tmpl-campaignevent {
    .bread-crumb-full {
	   background-color: @gray-94;
	   .module-breadcrumb.component {
	     background-color: @gray-94;
	     padding-top: 0px;
	   }
	 }
    .no-padding {
        padding: 0 !important;
    }

    .speaker-data:first-child {
        margin-top: 0;
    }

    &.component {
        margin-top: 18px;
    }

    .module-eventtabs .eventtabs-tab label {
        .icon-chevron-right,
        .icon-chevron-down {
            color: @light-green;
            right: 20px;
            .font-size(1.4);
            position: absolute;
            top: 19px;
        }
    }

    .module-bodytext {
        margin-bottom: 18px;
    }

    .mid-row {
        border-top: 0;
    }

    @media (min-width:@desktop-min-fixed) {
        .module-bodytext {
            margin-bottom: 0;
        }

        .mid-row {
            border-top: 9px solid #f0f0f0;
        }

        .parsys-row {
            padding-bottom: 18px;
        }

        .parsys-row:last-child {
            padding-bottom: 0;
        }

        .module-resultlisting .resultslistingContent .resultsContainer .resultsListContainer 
        .desktopContainer .textContainer {
            width: 46%;
            padding-left: 10px;
            min-height: 163px !important;
        }

    }
    @media (min-width:1056px) {
        .module-resultlisting .resultslistingContent .resultsContainer .resultsListContainer 
        .desktopContainer .textContainer {
            width: 50% !important;
            padding-left: 20px;
        }
    }

    @media (min-width:@desktop-min-fluid) {

        &.component {
            margin-top: 0;
        }

        .module-resultlisting .resultslistingContent .resultsContainer .resultsListContainer 
        .desktopContainer .textContainer {
            width: 46%;
            padding-left: 20px;
        }
    }
}
