@import "../_variables";

.green-right-chevron:before {
    color: @light-green;
    font-family: 'icomoon';
    // content: "\e90e";
    margin: 10px 5px 0 0;
    font-style: normal;
    font-weight: normal; 
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}