@import "../_variables";

.pt-0-px {
    padding-top: 0px !important;
}

.p-9-px {
    padding: 9px !important;
}

@media (min-width: @desktop-min-fixed) {
    .pt-desktop-0-px {
        padding-top: 0px !important;
    }

    .p-desktop-9-px {
        padding: 9px !important;
    }
}
