<div class="module-overviewpanel component overviewPanel" id="overview">
    <div class="inner-container">
        <div>
            <h2 class="headline">{{hbs.overviewPanel.title}}</h2>
            <div class="mainDescription">{{{hbs.overviewPanel.description}}}</div>
        </div>
        <div class="overview">
            {{#each hbs.overviewPanel.overviewPanelList}}
                <article class="panel col-lg-3 col-sm-12" id="{{this.anchorId}}">
                    {{#if this.icon}}
                        <img src="{{hbs.globalValues.assetDomainName}}{{this.icon}}" alt="{{this.altText}}" title="{{this.altText}}" role="presentation"/>
                    {{/if}}
                    <h3>{{this.headline}}</h3>
                    <p>{{this.description}}</p>
                    <a data-stoptrack="true" href="{{this.ctaUrl}}" data-title="{{this.headline}}" class="cta btn">{{this.ctaLabel}}</a>
                </article>

            {{/each}}
        </div>
    </div>
</div>