<div class="module-ddtfullbleedbanner component position-relative p-0">

    <!-- BANNER -->
    <picture class="w-100">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.ddtfullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.640.490.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
        <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.ddtfullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="{{hbs.globalValues.assetDomainName}}{{hbs.ddtfullbleedbanner.imageFileReference}}/jcr:content/renditions/cq5dam.web.1400.350.jpg" class="w-100" title="{{hbs.ddtfullbleedbanner.imageAltText}}" alt="{{hbs.ddtfullbleedbanner.imageAltText}}">
    </picture>

    <!-- MOBILE CONTENT-->
    <div class="position-absolute caption d-flex flex-column d-lg-none justify-content-around mobile-content">
        <!-- TITLE -->
        <h1 class="text-white m-0 line-clamp line-clamp-2">
            {{hbs.ddtfullbleedbanner.shortTitle}}
        </h1>
        <!-- DESCRIPTION -->
        <p class="text-white m-0 line-clamp line-clamp-2">
            {{hbs.ddtfullbleedbanner.shortDescription}}
        </p>
    </div>

    <!-- DESKTOP CONTENT -->
    <div class="content-outer-container">
        <div class="content-inner-container">
            <div class="position-absolute caption d-none d-lg-flex flex-column justify-content-around desktop-content">

                <!-- TITLE -->
                <h1 class="text-white m-0 line-clamp line-clamp-2">
                    {{hbs.ddtfullbleedbanner.title}}
                </h1>

                <!-- DESCRIPTION -->
                <p class="text-white m-0 line-clamp line-clamp-2">
                    {{hbs.ddtfullbleedbanner.description}}
                </p>

                <!-- LINK LIST -->
                <div class="d-none d-lg-block link-list text-white w-100">
                    <div class="row">
                        {{#each hbs.ddtfullbleedbanner.anchorLinks}}
                            <div class="col-4 pt-3 pb-3 pr-3" style="margin:-0.2px !important;">
                                <a class="text-white" href="{{this.path}}" data-stoptrack="true" data-title="{{this.sectionLabel}}">
                                    <span class="icon icon-chevron-right text-white"></span>
                                    {{this.sectionLabel}}
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <!-- RETURN TO TOP TRIGGER -->
                {{#if hbs.ddtfullbleedbanner.anchorLinks}}
                    <a href="javascript:" id="return-to-top">
                        <i class="icon-chevron-up"></i>
                        <span class="visually-hidden">{{i18n 'kpmg.ddt.subnav.returnToTop'}}</span>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>

</div>