<section class="module-tmpl-campaignevent">
  <div class="row visible-sm-block visible-md-block visible-lg-block">
    <div class="col-md-12 bread-crumb-full">
      <div class="inner-container">
        {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb"  id="1"}}
      </div>
    </div>
  </div>
  <div class="inner-container">
    <div class="row tmpl-row">
      <div
        class="col-md-12"
        data-desktop-cell="1"
        data-mobile-cell="1"
      >
        {{ include "campaignpagetitle" resourceType="/apps/kpmgpublic/components/content/campaignpagetitle"}}
      </div>
    </div>
    <div class="row tmpl-row">
      <div
        class="col-md-12"
        data-desktop-cell="2"
        data-mobile-cell="2"
      >
        {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
      </div>
    </div>

    <div
      data-desktop-cell="3"
      data-mobile-cell="4"
    >
      {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
        <div class="row tmpl-row">
          <div class="col-md-12">
            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
          </div>
        </div>
    {{/render}}
  </div>

    <div class="row mid-row">
      <div
        class="col-md-12"
        data-desktop-cell="4"
        data-mobile-cell="3"
      >
        {{ include "eventtabs" resourceType="/apps/kpmgpublic/components/content/eventtabs"}}
      </div>
    </div>

    <div class="row">
      <div class="row-same-height row-full-height">
        <div
          class="col-md-3 col-md-height col-sm-height col-full-height col-top"
          data-desktop-cell="5"
          data-mobile-cell="5"
        >
          {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell6"}}
        </div>
        <div
          class="col-md-3 col-md-height col-sm-height col-full-height col-top"
          data-desktop-cell="6"
          data-mobile-cell="6"
        >
          {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell7"}}
        </div>
        <div
          class="col-md-3 col-md-height col-sm-height col-full-height col-top"
          data-desktop-cell="7"
          data-mobile-cell="7"
        >
          {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell8"}}
        </div>
        <div
          class="col-md-3 col-md-height col-sm-height col-full-height col-top"
          data-desktop-cell="8"
          data-mobile-cell="8"
        >
          {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
        </div>
      </div>
    </div>
  </div>
</section>
