<!-- Begin Component: TouchColumncontrol -->
<section class="module-touch-columncontrol component">
    {{#if hbs.columncontrol.one}}
        <div class="row-same-height">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell101"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell101"}}
            {{/render}}
        </div>
    {{/if}}
    {{#if hbs.columncontrol.two}}
        <div class="row-same-height">
            <div class="col-md-6 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell102"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell102"}}
                {{/render}}
            </div>
            <div class="col-md-6 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell103"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell103"}}
                {{/render}}
            </div>
        </div>
    {{/if}}
    {{#if hbs.columncontrol.three}}
        <div class="row-same-height">
            <div class="col-md-4 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell104"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell104"}}
                {{/render}}
            </div>
            <div class="col-md-4 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell105"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell105"}}
                {{/render}}
            </div>
            <div class="col-md-4 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell106"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell106"}}
                {{/render}}
            </div>
        </div>
    {{/if}}
    {{#if hbs.columncontrol.four}}
        <div class="row-same-height">
            <div class="col-md-3 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell107"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell107"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell108"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell108"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell109"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell109"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell110"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell110"}}
                {{/render}}
            </div>
        </div>
    {{/if}}
</section>
<!-- End Component: TouchColumncontrol -->
