.formfield-wrapper {
  margin-top: 10px;
  //
  .error-message {
      // validation error messages container
      
      min-height: 14px;
      color:red;
      font-size:12px
  }
  .hide-errormsg {
    display: none;
  }

  input,
  select,
  textarea {
    border: 1px @gray-80 solid;
    width: 100%;
    padding: 0 10px;

    &[required] {
      border-left: 1px @gray-80 solid !important;
    }

    &::placeholder {
      color: @gray-80;
    }

  }

  input {
    line-height: 32px;
  }
  input.errorfield, select.errorfield, textarea.errorfield{
    border: 1px solid @red !important;
  }
}
