@import "../../global/css/_variables.less";

.module-breadcrumb {
    padding: 10px 18px 0px;

/* Style removed as per BrandRefresh - Aparna 16/10/2015
     override padding set by the template
    &.component {
      padding-bottom: 7px !important;
    }
*/
    ul {
           list-style-type:none;
           margin:0;
           padding:0;
           li {
               display:inline-block;
              a {
                .file-size(@medium-blue);
                .font-size(1.2);
                padding: 2px;
                &:hover {
                    text-decoration: underline;
                }
              }
            }
            .currentPage {
                  .file-size(@gray-20);
                  .font-size(1.2);
                  padding: 2px;
                  margin: 0px;
            }
            span {
                  text-decoration:none;
                  .file-size(@gray-20);
                  .font-size(1.2);
                  margin: 2px 8px;
                  display:inline-block
            }
       }
    @media(max-width: @desktop-min-fixed) {
          display:none;
    }
}
