<!-- DESKTOP NAVBAR PARTIALS -->

<!-- NAVBAR-NAV -->
{{
	include "InterestSummary" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/interest-summary.hbss"
}}

<!-- NAVBAR-NAV -->
{{
	include "VueNavbarNav" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/navbar-nav.hbss"
}}


<!-- NAVBAR-ICON-MENU -->
{{
	include "VueNavbarIconMenu" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/navbar-ikon-menu.hbss"
}}


<!-- LEVEL 2 -->

<!-- ICON TRIGGER WITH NAV FLYOUT DROPDOWN -->
{{
	include "iconTriggerWithNavflyoutDropdown" resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/ikon-trigger-with-navflyout-dropdown.hbss"
}}

<!-- ICON TRIGGER WITH ANIMATED SEARCH BAR -->
{{
	include "VueIconTriggerWithAnimatedSearchBar"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/ikon-trigger-with-animated-search-bar.hbss"
}}


<!-- LEVEL 3 -->

<!-- NAVBAR NAV LIST ITEM -->
{{
	include "VueNavbarNavListItem" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/navbar-nav-list-item.hbss"
}}

<!-- NAV FLYOUT FULLBLEED -->
{{
	include "VueNavFlyoutFullbleed"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/nav-flyout-fullbleed.hbss"
}}

<!-- ANIMATED SEARCH BAR -->
{{
	include "VueAnimatedSearchBar" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/animated-search-bar.hbss"
}}


<!-- LEVEL  4 -->

<!-- NAV-FLYOUT CELL -->
{{
	include "VueNavFlyoutCell" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/nav-flyout-cell.hbss"
}}

<!-- LEVEL 5 -->

{{
	include "VuePromotional" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/promotional.hbss"
}}

{{
	include "VueNavList" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/nav-list.hbss"
}}

{{
	include "VueCardLink" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/card-link.hbss"
}}

{{
	include "VueSiteSelectorList" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/site-selector-list.hbss"
}}

{{
	include "VueSiteSelectorCard" 	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/desktop-navbar/partials/site-selector-card.hbss" 
}}
