<!-- Begin Component: TouchMykpmgpromo -->
    <section class="module-touch-mykpmgpromo component " hidePromoInTemplate="{{hbs.myKpmgPromo.hidePromoInTemplateVal}}">
        <a title='{{hbs.myKpmgPromo.learnmore}}' tabindex="0"
        href="{{hbs.myKpmgPromo.learnmoreLink}}"
        data-name="learnmore" class="component-link learnmore-link mykpmgpromo-container unknown-user clearfix" style="display:none;">
            <div>
                <h3 class="image-title">
                    <span>
                        {{#if hbs.myKpmgPromo.isComponentAuthored}}
                            {{#if hbs.personalizationValues.level3Template}}
                                {{hbs.myKpmgPromo.blogPromoTitle}}
                            {{/if}}
                    {{else}}
                        {{hbs.myKpmgPromo.mykpmgprofile}}
                    {{/if}}
                </span>
                </h3>
                <p class="mykpmgpromo-desc line-clamp line-clamp-5">
                {{#if hbs.myKpmgPromo.isComponentAuthored}}
                    {{#if hbs.personalizationValues.level3Template}}
                        {{hbs.myKpmgPromo.blogPromoDescription}}
                    {{/if}}
                {{else}}
                    {{hbs.myKpmgPromo.unknownusermsg}}
                {{/if}}
                </p>
                <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt='{{hbs.myKpmgPromo.learnmore}}' class="icontag" />
            </div>
        </a>


        <div class="mykpmgpromo-container new-user clearfix" style="display:none;">
                <h3 class="image-title">
                    <p>{{hbs.myKpmgPromo.welcome}}<span class="first-name"></span></p>
                </h3>
            <p class="mykpmgpromo-desc line-clamp-5">{{hbs.myKpmgPromo.newusermsg1}} <a title="{{hbs.myKpmgPromo.interestsLink}}" href="{{hbs.myKpmgPromo.interestsLink}}">{{hbs.myKpmgPromo.newusermsg2}}</a>{{hbs.myKpmgPromo.newusermsg3}}<a class="learnmore-link" title="{{hbs.myKpmgPromo.learnmoreLink}}" href="{{hbs.myKpmgPromo.learnmoreLink}}" data-name="learnmore">{{hbs.myKpmgPromo.newusermsg4}}</a>.</p>
                <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt="" class="icontag" />
                <div class="primary-cta-space"></div>
            <div class="cta-wrapper">
                <span class="icon-chevron-right ">
                    <a title="{{hbs.myKpmgPromo.dashboardLink}}" data-trackname="MYKPMGProfile" href="{{hbs.myKpmgPromo.dashboardLink}}" class="component-link my-kpmg-profile trackable">{{hbs.myKpmgPromo.mykpmgprofilecta}}</a>
                </span>
            </div>
        </div>

        <div class="mykpmgpromo-container non-new-user clearfix" style="display:none;">
                <h3 class="image-title">
                    <p>{{hbs.myKpmgPromo.welcome}}<br/><span class="first-name"></span><span class="last-name"></span></p>
                </h3>
                <p class="mykpmgpromo-desc line-clamp line-clamp-5">{{hbs.myKpmgPromo.nonnewusermsg}}<br/><span class="logged-in-time"></span></p>
                <img src="/etc/designs/kpmgpublic/images/icon-tag.png" alt="" class="icontag" />
                <div class="primary-cta-space"></div>
            <div class="cta-wrapper">
                <span class="icon-chevron-right ">
                    <a title="{{hbs.myKpmgPromo.dashboardLink}}" data-trackname="MYKPMGProfile" href="{{hbs.myKpmgPromo.dashboardLink}}" class="component-link my-kpmg-profile trackable">{{hbs.myKpmgPromo.mykpmgprofilecta}}</a>
                </span>
            </div>
       </div>
    </section>

<!-- End Component: TouchMykpmgpromo -->
