<section class="module-manualcountrylanguagedesignationselection component">
    <div class="manualcountrylanguagedesignationselection-tabs row-same-height row-full-height">
        <div class="tabsList col-md-3 col-md-height col-sm-height col-full-height col-top hidden-xs hidden-sm">
            <ul class="resp-tabs-list">
                {{#each hbs.manualcountrylanguagedesignationselection.regions}}
                <li class="tabbedComponentTab {{#if this.highlight}}highlight{{/if}}">
                    <a href="javascript:void(0);" title="{{i18n this.regionName}}" aria-label="{{i18n this.regionName}}" class="no-highlight">
                        <div class="left-container">
                            <p class="regionName">
                                {{i18n this.regionName}}
                            </p>
                            <div class="regionImage regionImage{{@index}}">
                            </div>
                        </div>
                        <div class="right-container">
                            <span class="icon-chevron-right"></span>
                            <span class="resp-arrow icon-chevron-down"></span>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
         <a href="{{hbs.manualcountrylanguagedesignationselection.gobalSiteUrl}}" title="{{hbs.manualcountrylanguagedesignationselection.gobalSiteName}}" class="globalSiteLanguage globalSiteLanguage-Desktop"><span class="icon-checkmark"></span>
         <span class="text-link">{{i18n hbs.manualcountrylanguagedesignationselection.globalSiteLabel}} ({{hbs.manualcountrylanguagedesignationselection.gobalSiteName}})</span>
         </a>
        </div>
        <div class="resp-tabs-container col-md-9 col-md-height col-sm-height col-full-height col-top hidden-xs hidden-sm">
         {{#each hbs.manualcountrylanguagedesignationselection.regions}}
         <div class="subRegions {{#if this.highlight}}highlight-content{{/if}}" style="display: none;">
            <a href="{{../hbs.manualcountrylanguagedesignationselection.gobalSiteUrl}}" title="{{../hbs.manualcountrylanguagedesignationselection.gobalSiteName}}" class="globalSiteLanguage">
            {{i18n ../hbs.manualcountrylanguagedesignationselection.globalSiteLabel}} ({{../hbs.manualcountrylanguagedesignationselection.gobalSiteName}})
            </a>

            <div class="subRegion-list">
               <p class="subRegionname">
                  {{i18n this.regionName}}
               </p>
               <ul  class="multicolumn">
                  {{#each this.countryList}}
                  <li class="countryName">
                     <a href="{{this.url}}" title="{{this.country}}">
                       {{this.country}}
                     </a>
                  </li>
                  {{/each}}
               </ul>
            </div>

         </div>
         {{/each}}
        </div>
   </div>
   <div class="visible-xs visible-sm manualcountrylanguagedesignationselection-mob regionMob">
     <a href="{{hbs.manualcountrylanguagedesignationselection.gobalSiteUrl}}" title="{{hbs.manualcountrylanguagedesignationselection.gobalSiteName}}" class="globalSiteLanguage globalSiteLanguage-Mobile"> {{i18n hbs.manualcountrylanguagedesignationselection.globalSiteLabel}}({{hbs.manualcountrylanguagedesignationselection.gobalSiteName}})
     </a>
     {{#each hbs.manualcountrylanguagedesignationselection.regions}}
     <label class="selectRegion">
       <select class="col-xs-12 regionListMob">
         <option value="region" class="regionNameMob" title="{{i18n this.regionName}}">{{i18n this.regionName}}</option>
         {{#each this.countryList}}
         <option value="{{this.url}}" class="countryNameMob" title="{{this.country}}">{{this.country}}</option>
         {{/each}}
       </select>
    </label>
     {{/each}}
   </div>
</section>
