{{#if hbs.downloadButton.downloadButtonLink}}
<section class="module-downloadbutton component">
    <div class="bg-white">
        <div class="pull-left">
            <div class="row download-text">
                <a class="component-link" href="{{hbs.globalValues.assetDomainName}}{{hbs.downloadButton.downloadButtonLink}}" target="_blank" title="{{i18n hbs.downloadButton.downloadButtonLabel}} {{hbs.downloadButton.fileType}}"
                   {{#if hbs.downloadButton.anchorId}}
                    id="{{hbs.downloadButton.anchorId}}"
                   {{/if}}>
                    <span class="download-pdf-icon"></span>
                    <span class="visually-hidden">{{hbs.downloadButton.fileType}}</span>
                    <span class="downloadLabel"> {{i18n hbs.downloadButton.downloadButtonLabel}}  <span class="downloadLblExtn">{{hbs.downloadButton.fileType}}</span></span>
                    <span class="downloadSize"> ({{hbs.downloadButton.fileSize}}) </span>
                </a>
            </div>
        </div>
    </div>
</section>
{{/if}}
