<!-- Begin Component: Toppicks -->
<section class="module-toppicks component clearfix" data-name-format="{{hbs.toppicks.nameFormat}}" data-solr-query="{{hbs.toppicks.solrQuery}}" article="true" data-name-switch="{{hbs.toppicks.firstnameLastnameSwitch}}" tabindex="0" {{#unless hbs.isAuthor}} style="display:none;" {{/unless}}>

    <!-- COMPONENT HEADING -->
    <h3 class="component-header">{{titleText}}</h3>

    <!-- ARTICLES CONTAINER -->
    <div class="articles clearfix">
        {{#each data}}
            <div class="col-md-3 col-md-height col-full-height col-top promotional-cell-hover article" data-article-type="{{articleType}}">
                <a href="{{translatedCTAURL}}" title="{{imageAltText}}" tabindex="0">
                    <img
                        src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E"
                        data-desktop="{{../kpmgAssetDomain}}{{imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg"
                        data-mobile="{{../kpmgAssetDomain}}{{imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg"
                        alt="{{imageAltText}}" class="lazy img-responsive"/>
                    <!--<img src="{{imageFileReference}}" alt="{{imageAltText}}"/>-->
                    <h4 class="heading">{{shortTitle}}</h4>
                    <p class="content">{{shortDescription}}</p>
                </a>
            </div>
        {{/each}}
    </div>
</section>

<!-- End Component: Toppicks -->
