@import "../../../../../../../global/css/_variables.less";
//
.promotional-component {
    &:hover {
        outline: 1px fadeOut(@gray-96, .2) solid;
        text-decoration: none !important;
    }
	h1 {
		font-size:32px;
		&:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
        	font-size: 26px;
        	font-size: 2.6rem;
        	line-height: 1.3;
        }
	}
    .font-kpmg {
        font-family: @kpmgLight;
    }
	.font-2-rem {
		font-size: 2rem !important;
		font-size: 18px !important;
	}
	div.d-flex.explorer {
		flex: 1;
		img {
			align-self: flex-start;
		}
	}
	.new-user {
		a {
			text-decoration: underline;
		}
	}
	img {
		position: absolute;
		bottom: 0;
		padding-bottom: 20px;
	}
}
