
@import "../../global/css/_variables.less";

@mobile: ~"only screen and (max-width: 640px)";
@desktop: ~"only screen and (min-width: 641px)";

div.kpmg-complete-registration, div.kpmg-registration {
    div.kpmg-tc1, div.kpmg-tc2, div.kpmg-tc3 {
        height: auto !important;
        
        &:not(.position-absolute.v-hidden) {
            position:static !important;
            margin-top: 18px !important;
        }
        span.gigya-error-msg {
            position:static !important;
            display:none;
        }
        input[type=checkbox] {
            position:static !important;
        }
        label.mimic-terms-checkbox {
            position:static !important;
            margin-top:-13px;
        }
        &.gigya-terms-valid {
            span.gigya-error-msg {
                display:none !important;
            }
        }
        &.gigya-terms-invalid, &.gigya-terms-error {
            span.gigya-error-msg {
                display:block !important;
                visibility: visible !important;
            }
        }
        label > span {
            top: -28px;
            color: @gray-40;
            float: left;
            padding-left: 33px;
            position: relative;
            font-weight: normal;
        }
    }

    /* ALTER THE span if its parent has d-none-before class */
    input[type="checkbox"]+label.mimic-terms-checkbox.d-none-before span.gigya-label-text.gigya-checkbox-text {
        top: 0 !important;
        padding-left: 0px !important;
    }
    .focus-highlight {
        outline-width: 1px;
        outline-style: solid;
        outline-color: @light-blue;
    }
    input[type="checkbox"][name="data.termsone"],
    input[type="checkbox"][name="data.termstwo"] {
        width: 1px;
        height: 1px;
        transform: scale(0);
        position: absolute;
        &:focus+label {
            .focus-highlight;
        }
    }
    /* OR ON HORIZONTAL LINE*/
    div#horizontal-line {
        margin-top: 32px;
        border: 1px @gray-80 solid;
    }
    div#or-on-horizontal-line {
        display: table;
        margin: 0 auto;
        margin-top: -15px;
        color: @white;
    }
    div#or-on-horizontal-line p {
        display: table-cell;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        vertical-align: middle;
        background-color: @gray-80;
        color: @white;
        font-weight: bold;
    }
    /* HIDE REMOVING 'Required' label as it is not required in new UI */
    p.gigya-composite-control.gigya-composite-control-label.required.normal-font {
        display: none;
    }
    /* PADDING ON CONTAINER */
    .gigya-layout-row.col-md-12.col-md-height.col-full-height.col-top.social-reg-container {
        padding: 15px;
    }
    /* REMOVING ADDITIONAL MARGIN ON REG-HEADING */
    label.kpmg-reg-head {
        margin-bottom: 0px;
    }
    /*ADDING MARGIN BETWEEN SOCIAL LOGIN BUTTONS AND LABEL(Please provide...) below it*/
    label.sign-up-desc {
        margin-top: 9px;
        margin-bottom: 0px;
    }
    /* REMOVE UNNCECESSARY PADDING on registration form container (below horizontal-OR line) */
    .gigya-layout-row.user-info-container.col-md-12.col-full-height.col-top {
        padding: 0px;
    }
    /* ADDING 1.5px to arrive at 28.5px as per the VD */
    h2.kpmg-reg-head {
        margin-top: +1.5px
    }
    /* OVERRIDING FORM-HEADING('Create an Account...') */
    h2.kpmg-reg-head {
        margin-bottom: 0px;
    }
    /* REDUCE FORM-BUTTONS CONTAINER PADDING TO FIT BUTTONS CORRECTLY*/
    .form-buttons-container.col-md-8 {
        padding-left: 0px;
        padding-right: 80px;
    }
    /*AVOID FIXED-HEIGHTS ON label element*/
    div.gigya-composite-control.gigya-composite-control-checkbox.mygigya-input.normal-font.terms-checkbox {
        height: auto !important;
    }
    input[type="checkbox"]+label.mimic-terms-checkbox {
        height: auto !important;
        position: inherit !important;
    }
    input[type="checkbox"]+label {
        height: auto !important;
        position: inherit !important;
    }
    /* Changed from inline to block as the text need to appear as authored in RTE*/
    input[type="checkbox"]+label.mimic-terms-checkbox span.gigya-label-text.gigya-checkbox-text p {
        display: block;
    }
    input[type="checkbox"]+label span p {
        display: block;
    }
    
    // OVERHAUL
    .row-1 {
        background-color: @gray-94 !important;
    }
    .user-info-container {
        border-top: 0px !important;
        border-bottom: 0px !important;
    }
    .kpmg-social-login {
        margin-top:10px;
    }
    // DESKTOP VERSION
    @media (min-width: @desktop-min-fixed) {
        .social-reg-container {
            height: inherit !important;
        }
        .col-md-6 {
            float: none;
            margin: 0 auto;
        }
    }
    // OVERRIDING THE HEIGHT ASSIGNED TO THIS DIV
    @media (max-width: 380px) {
        .user-info-container {
            height: auto !important;
        }
    }
}
div.kpmg-registration {
    /* REMOVE BORDER FROM FORM CONTAINER WHICH IS ON col-md-6 by default */
    .gigya-layout-row.col-md-6.col-md-height.col-full-height.col-top {
        border: none;
    }
    /* CONTINUE BUTTON - BACKGROUND COLOR and HEIGHT */
    .kpmg-button.submit {
        background-color: @green1 !important;
        height: 48px;
    }
    /* RIGHT-CHEVRON-COLOR */
    .form-action-button.submit span:before {
        color: @white !important;
    }
    /*  CONTINUE - TEXT color */
    .kpmg-button span {
        color: @white !important;
        height: auto;
        border: 0px !important;
    }
    /* REMOVE EFFECT of 9px-padding on span element  */
    .gigya-composite-control.gigya-composite-control-submit.form-action-button.submit span {
        border: 0px !important;
    }
    
    /* REMOVING EFFECT of 9-px margin  */
    input[type="submit"].trackable {
        margin: 0px !important;
        width: 100%;
    }
    @media (min-width: @desktop-min-fixed) {
        .social-reg-container {
            border: none !important;
        }
    }
    // ADJUSTMENTS to CORRECTLY DISPLAY TOOLTIP 
    @media @mobile {
        .social-reg-container {
            border: 0px !important;
            padding:0px !important;
            .col-md-6 {
                margin: 9px !important;
            }
        }
        .icon-password-information, 
        .icon-email-information {
            &+span {
                right: 0px !important;
                &:before {
                    right: 5px !important;
                }
                &:after {
                    right: 6px !important
                }
            }
        }
    }
}
div.kpmg-complete-registration {
    @import "_gigya-registration-completion-styles";
}