@import "../../global/css/_variables.less";
@import "../../global/css/vendor/_owl.carousel.less";
@import "contactCarousel_mixins.less";
.module-contactcarousel {
    padding: 10px 0px 10px 0px;
    overflow: hidden;

    .owl-item.active {
        padding-bottom: 10px;

        a {
            display: inline-block;
            width: 100%;
            cursor: pointer;
        }
    }

    .owl-item.active:hover {
            border: solid 1px @gray-40;
    }

    .contact-cell-hover:hover {
            box-shadow: inset 0 0 0 1px @gray-40;
    }

    .owl-carousel .owl-item {
        border: 1px solid transparent;
    }

    .contactcarousel-container{
    .add-line-clamp(3,1.6rem,1.3,1.6rem,1.5);
    }
    .owl-carousel {
        position: static !important;
    }
    .owl-dots {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 21px;
        background: @gray-96;
    }
    .owl-carousel .owl-stage-outer {
        background-color: @white;
    }
    .owl-prev {
        left: 0;
        height: 4.1rem;
        height: 41px;
        width: 4.1rem;
        width: 41px;
        margin-top: 0;
        opacity: 1;
        .laic-gradient(100);
        position: absolute;
        display: block !important;
        color: transparent;
    }
    .col-md-6 {} .contactcarousel-item img {
        padding-right: 0px;
    }
    .owl-next {
        right: 0;
        height: 4.1rem;
        height: 41px;
        width: 4.1rem;
        width: 41px;
        margin-top: 0;
        opacity: 1;
        .laic-gradient(100);
        position: absolute;
        display: block !important;
        color: transparent;
    }
    .icon-carousel-left,
    .icon-carousel-right {
        .laic-gradient(70);
        .font-size(4.0);
        margin-top: 0;
        opacity: 0.4;
        top: -14.1rem;
        top: -141px;
        right: 0;
        position: absolute;
        color: @light-purple;
        cursor: pointer;
        overflow: hidden;
        background-color: #fff !important;
        height: 39px;
        &:hover {
            opacity: 0.6;
        }
    }
    .owl-controls {
        background-color: #fff;
        height: 2.1rem;
        height: 11px;
        margin: 0;
        padding: 0;
        .owl-nav{
            display: none;
        }
    }

    .readmore-link {
        .cta-right(@gray-40);
        display: inline-flex;
        margin: 1px;
        .icon-chevron-right {
            z-index: 1;
        }
        position:relative;
    }

    .contactcarousel-item-partnerDescription {
        .promo-description(@gray-20);
        margin: 7px 0px 30px;
        text-overflow: ellipsis;
        white-space: break-word;
        overflow: hidden;
        position: relative;
        width: 83%;
        &:before {
            text-align: right;
            position: absolute;
            display: block;
            width: 1.1rem;
            width: 11px;
            height: 1.0rem;
            height: 10px;
            bottom: 1.0rem;
            bottom: 10px;
            right: 0.1rem;
            right: 10px;
            background: @white;
        }
    }
    .contactcarousel-item-author {
        .font-size(1.4);
        font-family: @arial;
        color: @gray-20;
        padding-top: 1.0rem;
        padding-top: 10px;
        padding-bottom: 1.0rem;
        padding-bottom: 10px;
    }
    .contactcarousel-item-description a {
        text-decoration: none;
        color: @gray-20;
    }
    .contactcarousel-item-description p {
        .promo-title(@kpmg-blue);
        margin-bottom: 8px;
        .hyphen;
        margin: 8px 0px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .contactcarousel-item-description-title {
        .promo-details(@gray-20);
        .hyphen;
        margin: 7px 0px;
    }
    .contactcarousel-item-description {
        position: relative;
        width: 46%;
        float: right;
        .hyphen;

    }

    .contactcarousel-singleItem-description {
        padding-left: 0;
        a {
            display: table;
        }
    }
    .contactcarousel-item-title {
        margin: 0px 0px 10px 10px;
        .component-title(@kpmg-blue);
    }
    .owl-theme .owl-dots .owl-dot {
        span {
            background: none repeat scroll 0 0 @kpmg-blue;
        }
        &:hover span {
            background: none repeat scroll 0 0 @medium-blue;
        }
        &.active span {
            background: none repeat scroll 0 0 @light-blue;
        }
    }
    .owl-theme .owl-dots .owl-dot span {
        .laic-transitions (opacity;
        200ms;
        ease;
        0s);
        border-radius: 3.0rem;
        border-radius: 30px;
        display: block;
        height: 1.2rem;
        height: 12px;
        width: 1.2rem;
        width: 12px;
        margin: 0.3rem 0.6rem;
        margin: 3px 6px;
    }
    .owl-theme .owl-controls {
        text-align: center;
    }
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
    }
    .contactcarousel-item {
        background: none repeat scroll 0 0 @white;
        color: @gray-20;
        padding: 0 0 0 9px;
        text-align: left;
        text-decoration: none;
        width: 100%;
    }
    .contactcarousel-owl-carousel {
        background: @white;
        padding: 0;
    }
    .contactcarousel-item-row .col-md-6 {
        z-index: 1;
    }
    .contactcarousel-container{
    .add-line-clamp(4,1.4rem,1.3,1.4rem,1.5);
    }

    .contactcarousel-item-partnerDescription{
    .add-line-clamp(7,1.4rem,1.3,1.4rem,1.5);
    }
}
@media (min-width: @desktop-min-fluid) {
    .module-contactcarousel {
        padding:10px 0px 10px 0px;
        position: relative!important;
        .icon-carousel-left {
            right: 1px;
        }
        .icon-carousel-right {
            right: -1px;
        }
        .contactcarousel-item {
            padding: 0 0 0 10px;
        }
        .contactcarousel-item img {
            margin: 10px 10px 0 0;
            padding-right: 0;
        }
        .owl-nav{
            display: block !important;
        }

    }
}
@media (min-width: @desktop-min-fixed) {
    .module-contactcarousel {
        .contactcarousel-item img {
            margin: 0px 10px 0 0;
            padding-right: 0;
        }
        .contactcarousel-item-title {
            margin: 0px 0px 0 10px;
        }
        .col-md-6 {
            margin: 0;
            float: left;
            padding: 0px;
            padding-right: 9px;
        }
        .contactcarousel-item-description {
            width: 94%;
            left: 1px;
            float: none;
            min-height: 264px;
        }

        .btn-cta {
            bottom: 10px;
        }
        .icon-carousel-left {
            right: 1px;
        }
        .icon-carousel-right {
            right: -1px;
        }
        .icon-carousel-left,
        .icon-carousel-right {
            top: -215px;
            background-color: #fff !important;
            height: 40px;
        }
        .contactcarousel-item-partnerDescription {
            width: 40%;
            &:before {
                content: '';
                text-align: right;
                position: absolute;
                display: none;
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                background: @white;
            }
        }
         .owl-nav{
             display: block !important;
        }
    }

}

@media (max-width: 640px) {
    .module-contactcarousel {
        .carousel.has-slides, .autoCarouselElem {
            height: 200px;
            overflow: hidden;

            .contactcarousel-item {
                height: 200px;
            }
            .contactcarousel-item-description {
                visibility: hidden;
            }
        }

        .carousel.has-slides.owl-loaded, .autoCarouselElem.owl-loaded {
            height: auto;

            .contactcarousel-item {
                height: auto;
            }
            .contactcarousel-item-description {
                visibility: visible;
            }
        }
        .autoCarouselElem.empty-data {
            height: auto;

            .contactcarousel-item {
                height: auto;
            }
        }
    }
}
