@import "../../global/css/_variables.less";
@import "../../global/css/_helpers.less";
.module-touch-fullbleed {
    padding: 0;
    position: relative !important;
    .touchfullbleedContainer{
        width: 100%;
        height: 328px;
        img {
            position: relative;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            height: 328px;
        }

        p {
            color: @white;
        }


        .banner-description {
            overflow: hidden;
        }

        .banner-description {
            p.desktop-only {
                .page-description(@white);
                line-height: 1.3;
                margin: 0 !important;
                font-weight: normal;
            }

            p.mobile-only {
                .page-description(@white);
                font-weight: normal;
            }
        }

        .banner-content {
            overflow: hidden;
            position: relative;
            padding-top: 15px;
        }

        .caption-wrapper {
            position: absolute;
            width: 100%;
            z-index: 1;
            padding-left: 56px;
            top: 0;
            height: 100%;
            left: 0;

            .caption {
                padding: 30px 10px 10px 10px;
                width: 100%;
                color: @white;

                .banner-header {
                    .page-title(@white);
                    margin: 0;
                    overflow: hidden;
                    font-weight: normal;

                    p {
                        font-size: 3.6rem;
                        .line-height(2.0);
                        margin: 16px 16px 16px 0;
                    }
                }
            }

            .wrapper {
                height: 100%;
                overflow: hidden;
            }
        }
    }

}

@media (min-width: @desktop-min-fixed) {
    .module-touch-fullbleed {
        .touchfullbleedContainer {
            .mobile-only {
                display: none;
            }

            .banner-content {
                padding-top: 55px;

                .lang(ja,{
                    padding-top: 50px;
                });
            }

            p {
                .font-size(1.4);
                .line-height(1.6);
                color: @white;
                .hyphen;
            }

            .caption-wrapper {
                .caption-inner-wrapper {
                    width: 318px;
                    height: 100%;
                    // margin-left: 9px;
                }
                .banner-header {
                    max-height: 165px;

                    .lang(ja,{
                		max-height: 98px;
                	});
                    .lang(zh-CN,{
                		max-height: 98px;
                	});
                    .lang(zh-TW,{
                		max-height: 98px;
                	});
                    .lang(ko,{
                		max-height: 98px;
                	});
                    .lang(vi,{
                		max-height: 98px;
                	});

                }
                .caption {
                    width: 100%;
                    height: 100%;
                    padding: 30px 10px 10px 10px;
                    background-color: @kpmg-blue;

                    hr.desktop-only {
                        border: none;
                        height: 0;
                        overflow: hidden;
                        margin: 10px 0 0;
                    }

                    .byline {
                        display: block;
                    }
                }


            }

            .banner-description {
                max-height: 115px;

                .lang(ja,{
                    max-height: 101px;
                });

                p {
                    .page-description(@white);
                    margin: 0 !important;
                }
            }
        }
    }
}


@media (min-width: 1140px) {
    .module-touch-fullbleed {
        .touchfullbleedContainer {
            .caption-wrapper {
                .banner-header {
                    max-height: 165px;

                    .lang(ja,{
                		max-height: 136px;
                	});
                    .lang(zh-CN,{
                		max-height: 145px;
                	});
                    .lang(zh-TW,{
                		max-height: 145px;
                	});
                    .lang(ko,{
                		max-height: 145px;
                	});
                    .lang(vi,{
                		max-height: 145px;
                	});

                }

            }

            .banner-content {
                padding-top: 55px;
            }

        }
    }
}

@media (max-width: 640px) {
    .module-touch-fullbleed {
        padding: 0;
        .touchfullbleedContainer {
            height: auto;
            .desktop-only {
                display: none;
            }
            .caption-wrapper {
                padding-left: 15px;
                position: relative;

                // .banner-header {
                //     max-height: 166px;
                // }
                // .banner-description {
                //     max-height: 107px;
                // }
                // .banner-content {
                //     padding-top: 60px;
                //     padding-bottom: 30px;
                // }



                .caption {
                    background-color: @kpmg-blue;
                    padding: 30px 20px 10px 10px;
                }

            }

        }
    }
}
