@import "../../global/css/_variables.less";

.module-socialtab {

    .tablink {
        width: 100% !important;
        background-color: @gray-87;
        padding: 0 0 0 10px;
        display: table;
        margin: 3px 0 0 0;
        border-bottom: 0;

        .text-link {
            .promo-title(@gray-20);
            .hyphen;
            margin: 8px 0;
            display: block;
        }

        &.current {
            background-color: @white;
            .text-link {
                .promo-title(@kpmg-blue);
                .hyphen;
            }
        }

        span {
            width: 100%;

            &.icon-chevron-down {
                padding: 10px;
                .font-size(1.6);
                position: static;
                color: @kpmg-blue;
                display: table-cell;
                vertical-align: middle;
                width: 36px;
            }

            &.icon-chevron-up {
                padding: 10px;
                .font-size(1.6);
                position: static;
                color: @light-blue;
                display: table-cell;
                vertical-align: middle;
                width: 36px;
            }
        }
    }

    .btn-wrapper {
        text-align: center;
    }

    .social-tabs-content {
        width: 100%;
        background: @white;
        display: none;
    }

    .tabs-container {
        padding-top: 0;
    }

    .socialtab-blog{
        border-top:0;
    }

    .social-tabs-item {
        margin: 10px 0;
        padding: 10px 0;
        background-color: @white;

        .btn-quick-view {
            text-transform: uppercase;
            text-align: right;
            display: block;
            color: @gray-40;
        }

        .secondary-head {
            margin: 10px 0;
        }

        p {
            margin: 10px 0;
        }
    }

    [class^="icon-"], [class*=" icon-"] {
        color: @light-green;
    }

    .icon-chevron-right.current {
        font-family: 'icomoon' !important;
    }

    .tablink.current{
        &:after{
            display: none !important;
        }
    }

    .tablink span.icon-chevron-right, .tablink.current span.icon-chevron-right {
            display: block !important;
    }

    @media (min-width: @desktop-min-fixed) {
        .module-resultlisting .resultslistingContent .resultsContainer .resultsListContainer .mobileContainer .textContainer {
            min-height: 200px;
        }
        .module-resultlisting .mobileContainer {
            .col-md-6 {
                width: 100%;
            }
        }
        .tablink {
            padding: 10px;
            margin: 0;

            .text-link {
                display: block;
            }

            &:hover {
                text-decoration: underline;
                color:@gray-20;
            }

            &.current {
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        .tablink {
            top: 1px !important;
        }

        .two-tabs .tablink {
            width: 49.5% !important;
        }

        .two-tabs {
            .first {
                margin-right: 5px !important;
            }

            .second {
                margin-left: 5px !important;
                color: @gray-20;
            }
        }

        .three-tabs .tablink {
            width: 32.8% !important;
        }
        .three-tabs .tablink.first {
            margin-right: 5px;
        }
        .three-tabs .tablink.second {
            left: 33.3% !important;
            margin: 0 5px;
        }
        .three-tabs .tablink.third {
            left: 66.9% !important;
            margin-left: 5px;
        }

        .two-tabs {
          padding-top: 75px;
        }

        .social-tabs-nav {
            position: relative;
            clear: both;
        }

        .tablink span.icon-chevron-right, .tablink.current span.icon-chevron-right {
            display: block;
        }

        .tablink .icon-chevron-down, .tablink .icon-chevron-up {
            display: none !important;
        }

        .tablink.current{
            margin:0;
            display: inline-table;
            &:after{
                border-width: 20px !important;
                display: block !important;
                z-index: -1;
            }
        }

        .tablink.second.current{
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
        }
        .tablink.third.current{
            border-left: 1px solid #f0f0f0;
        }
        .social-tabs-content {
            position: absolute;
            top: 88px;
            left: 0;
        }

        .social-tabs-tab {
            position: relative;
        }

        .social-tabs-tab label {
            position: relative;
            padding-bottom: 40px;
            z-index: 2;

            .icon-chevron-right {
                display: none;
            }
        }

        .focusOutline-moz-social {
           margin:1px -1px;
           overflow:inherit;
        }

        .LT5Facets .focusOutline, .GT5Facets .focusOutline{
            overflow: inherit !important;
        }

    }
}
.module-socialtab.component {
    padding-bottom: 0;
}
