div.form-cta-button-wrapper {
  margin-top: 15px;

  button {
    width: 100%;
    background-color: @persian-green;
    color: @white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    height: 57px;
  }
}
