<section class="module-tmpl-magazine">
    <div class="row visible-sm-block visible-md-block visible-lg-block magazine-breadcrumb">
        <div class="col-md-12 bread-crumb-full" data-desktop-cell="1" data-mobile-cell="1">
            <div class="inner-container">
                {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb"}}
            </div>
        </div>
    </div>
    <div class="row tmpl-row">
        <div class="col-md-12 full-page-title" data-desktop-cell="2" data-mobile-cell="2">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>
<div class="inner-container">
    <div class="row" data-desktop-cell="3" data-mobile-cell="3">
        <div class="col-md-12">
            {{include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}} 
        </div>
    </div>
    <div class="row">
        <div class="row-same-height row-full-height">
            <div class="col-md-9 col-md-height col-sm-height col-full-height col-top">
                <div class="row" data-desktop-cell="4" data-mobile-cell="4">
                     <div class="col-md-12 col-full-width" >
                        {{include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}} 
                    </div>
                </div>
                <div class="row"  data-desktop-cell="5" data-mobile-cell="5">
                    <div class="col-md-12">
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell5"}}
                    </div> 
                </div>
                <div class="row" data-desktop-cell="6" data-mobile-cell="6">
                    <div class="col-md-12" >
                     {{#render resourceType="/apps/kpmgpublic/components/content/copyrightlist" path="cell6"}}
                    {{include "copyrightlist" resourceType="/apps/kpmgpublic/components/content/copyrightlist"  path="cell6"}}
                    {{/render}}
                    </div> 
                </div>
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top col-nested">
                <div class="row tmpl-row"  data-desktop-cell="7"  data-mobile-cell="20">
                    <div class="col-md-12">
                    {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                    </div>
                </div>
                <div class="row tmpl-row"  data-desktop-cell="8" data-mobile-cell="7">
                    <div class="col-md-12">
                    {{include "mykpmgpromo" resourceType="/apps/kpmgpublic/components/global/mykpmgpromocomponent"}}
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

            <div class="col-md-12 empty-content-check" data-desktop-cell="9" data-mobile-cell="8">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}} 
                {{/render}}
            </div>


        <div class="row magazinepromo row-same-height row-full-height">
            <div class="col-md-6 col-md-height col-sm-height  col-full-height col-top col-transparent" data-desktop-cell="10" data-mobile-cell="9">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}
                	{{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}    
                {{/render}}
            </div>

            <div class="col-md-6 col-md-height col-sm-height col-full-height col-top col-transparent" data-desktop-cell="11" data-mobile-cell="10">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}} 
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}  
                {{/render}}
            </div>
        </div>
		<div class="col-md-12 empty-content-check" data-desktop-cell="12" data-mobile-cell="11">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}
    
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}     
    
            {{/render}}
        </div>
        </div>

    <div class="row">
        <div class="row-same-height row-full-height magazinepromocells1">
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top col-transparent" data-desktop-cell="13" data-mobile-cell="12">
            {{#render resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell14"}}
                {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell14"}}   
            {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top col-transparent" data-desktop-cell="14" data-mobile-cell="13">
             {{#render resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell15"}}
                {{ include "promotionalb" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell15"}}  
              {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top col-transparent" data-desktop-cell="15" data-mobile-cell="14">
             {{#render resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell16"}}
                {{ include "promotionalc" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell16"}} 
              {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top col-transparent" data-desktop-cell="16" data-mobile-cell="15">
             {{#render resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell17"}}
                {{ include "promotionald" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell17"}}  
              {{/render}}
            </div> 
        </div>
    </div>

    <div class="row ">
        <div class="row-same-height row-full-height magazinepromocells2">
            <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="17" data-mobile-cell="16">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell18"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell18"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="18" data-mobile-cell="17">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell19"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell19"}}
                {{/render}} 
            </div>
            <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="19" data-mobile-cell="18">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell20"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell20"}} 
                {{/render}} 
            </div>
            <div class="col-md-3 col-full-height col-sm-height col-md-height col-top col-transparent" data-desktop-cell="20" data-mobile-cell="19">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell21"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell21"}}
                {{/render}}
            </div>
        </div>
    </div>
</div>
</section>
