<section class="module-widedashboardarticle component component-trackable" hidden personalize="true" no-of-results-required="1" tabindex="0" article="true">
    <span class="hover-info-container">
        <a href="{{hbs.widedashboardarticle.primaryUrl}}" title="{{hbs.widedashboardarticle.title}}" tabindex="-1">
            <h3 class="tertiary-head line-clamp line-clamp-3">{{hbs.widedashboardarticle.title}}</h3>
        </a>
        <a href="{{hbs.widedashboardarticle.primaryUrl}}" class="article-desc-link" tabindex="-1">
            <p class="tertiary-desc line-clamp line-clamp-5">{{hbs.widedashboardarticle.longDescription}}</p>
        </a>
    </span>
    <a class="image-holder" href="{{hbs.widedashboardarticle.primaryUrl}}" tabindex="-1">
        <img class="img-responsive lazy" alt="{{hbs.widedashboardarticle.title}}" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 512 341'%2F%3E"
            data-desktop="{{hbs.globalValues.assetDomainName}}{{hbs.widedashboardarticle.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg"
            data-mobile="{{hbs.globalValues.assetDomainName}}{{hbs.widedashboardarticle.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg">
    </a>
    <div class="library-desktop {{#if hbs.widedashboardarticle.isBlog}} hidden{{/if}}"
        {{#if hbs.widedashboardarticle.personalized}}
            title="{{hbs.widedashboardarticle.addtolibrary}}"
        {{else}}
            title="{{i18n 'kpmg.personalization.library.sharedlist.addtolibrary'}}"
        {{/if}}
        role="button" tabindex="0">
        <div class="module-addtolibrary component self-contained clearfix"
            {{#if hbs.widedashboardarticle.personalized}}
                aria-label="{{hbs.widedashboardarticle.addtolibrary}}"
            {{else}}
                aria-label="{{i18n 'kpmg.personalization.library.sharedlist.addtolibrary'}}"
            {{/if}}
            data-description="{{{hbs.widedashboardarticle.longDescription}}}" data-shortDescription="{{{hbs.widedashboardarticle.shortDescription}}}" data-href="{{hbs.widedashboardarticle.primaryUrl}}" data-image="{{hbs.globalValues.assetDomainName}}{{hbs.widedashboardarticle.imageFileReference}}" data-title="{{{hbs.widedashboardarticle.title}}}" data-shortTitle="{{hbs.widedashboardarticle.shortTitle}}" data-article-type="{{hbs.widedashboardarticle.articleType}}">
            <a href="#" class="addtolibrary-cta" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="addToLibrary" tabindex="0"
                {{#if hbs.widedashboardarticle.personalized}}
                    title="{{hbs.widedashboardarticle.addtolibrary}}"
                {{else}}
                    title="{{i18n 'kpmg.personalization.library.sharedlist.addtolibrary'}}"
                {{/if}}
                aria-haspopup="true">
                    <span class="icon-star"></span>
            </a>
        </div>
    </div>
    <div class="content-refresh-cta"
        {{#if hbs.widedashboardarticle.personalized}}
            title="{{hbs.widedashboardarticle.refreshcontent}}"
        {{else}}
            title="{{i18n 'kpmg.personalization.dashboard.dashboardarticle.refreshcontent'}}"
        {{/if}}
        data-url="{{hbs.widedashboardarticle.primaryUrl}}" role="button" tabindex="0">
        <span class="icon-dots"></span>
    </div>
    <div class="indicator-share"
        {{#if hbs.widedashboardarticle.personalized}}
            title="{{hbs.widedashboardarticle.share}}"
        {{else}}
            title="{{i18n 'kpmg.personalization.library.librarylist.share'}}"
        {{/if}}
        data-title="{{hbs.widedashboardarticle.title}}" data-url="{{hbs.widedashboardarticle.primaryUrl}}"
        data-desc="{{hbs.widedashboardarticle.longDescription}}" data-image="{{hbs.globalValues.assetDomainName}}{{hbs.widedashboardarticle.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" role="button" tabindex="0">
        <span class="icon-share"></span>
    </div>

    <div class="module-contentrefreshctas content-refresh-slider slide-down">
        <button class="refresh-article active cta-row">
            <span class="icon-refresh"></span>
            {{#if hbs.widedashboardarticle.personalized}}
                {{hbs.widedashboardarticle.showanotherarticle}}
            {{else}}
                {{i18n 'kpmg.personalization.dashboard.dashboardarticle.showanotherarticle'}}
            {{/if}}
        </button>
        <button class="hide-article active cta-row">
            <span class="icon-views"></span>
            {{#if hbs.widedashboardarticle.personalized}}
                {{hbs.widedashboardarticle.dontshowarticleagain}}
            {{else}}
                {{i18n 'kpmg.personalization.dashboard.dashboardarticle.dontshowarticleagain'}}
            {{/if}}
        </button>
        <a href="{{hbs.widedashboardarticle.myinterests}}" class="interests-link active cta-row">
            <span class="icon-sliders"></span>
            {{#if hbs.widedashboardarticle.personalized}}
                {{hbs.widedashboardarticle.updatemypreferences}}
            {{else}}
                {{i18n 'kpmg.personalization.dashboard.dashboardarticle.updatemypreferences'}}
            {{/if}}
        </a>
        <div class="ellipsis-cta">
            <span class="icon-dots"></span>
        </div>
    </div>

</section>
