<section class="module-tmpl-socialdisabled">
    <div class="row tmpl-row">
        <div class="col-md-12 full-page-title">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>
    <div class="inner-container">
        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell3"}}
        <div class="row tmpl-row">
            <div class="col-md-12">
            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell3"}}
            </div>
        </div>
        {{/render}}

        <div class="row">
            <div class="row-same-height row-full-height">
                    <div class="col-md-3 col-md-height col-full-height col-top">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                    </div>
                    <div class="col-md-3 col-md-height col-full-height col-top">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                    </div>
                    <div class="col-md-3 col-md-height col-full-height col-top">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                    </div>
                    <div class="col-md-3 col-md-height col-full-height col-top">
                        {{ include "listing" resourceType="/apps/kpmgpublic/components/listing/listing"}}
                    </div>
            </div>
        </div>
    </div>
</section>