<section class="module-promotionala component component-trackable" personalize="{{hbs.promotionalA.personalized}}" {{#if hbs.promotionalA.personalized}}hidden{{/if}} no-of-results-required="{{hbs.promotionalA.numberOfContents}}" article ="{{hbs.promotionalA.externalLink}}" tabindex="0">
   <div class="bg-white {{#if hbs.promotionalA.secondaryLabel}}add20paddingbottom{{/if}}">
      {{#if hbs.promotionalA.imageFileReference}}
      <div class="promotionala-relative">
         {{#if hbs.promotionalA.rfpForm}}
         <a href="javascript:void(0)" tabindex="-1"
               data-remote="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.altText}}"
               data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
               data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
            {{#if hbs.promotionalA.imageConfigExists}}
                <picture>
                    {{#hbs.promotionalA.imageConfig}}
                        {{#if this.isDesktop}}
                            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                        {{else}}
                            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                media="screen  and (min-width: 0px) and (max-width: 640px)" >
                        {{/if}}

                        {{#if @last}}
                            <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                        {{/if}}
                    {{/hbs.promotionalA.imageConfig}}
                </picture>

            {{else}}
                <picture>
                       <!--[if IE 9]><video style="display: none;"><![endif]-->
                       <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                       <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                       <!--[if IE 9]></video><![endif]-->
                       <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalA.altText}}" alt="{{hbs.promotionalA.altText}}">
                </picture>
            {{/if}}
         </a>
         {{else}}
            {{#if hbs.promotionalA.contactForm}}
            <a href="javascript:void(0)" tabindex="-1"
                  data-remote="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.altText}}"
                  {{#if hbs.promotionalA.contactForm}}
                  data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                  id="contact-form-modal"
                  {{/if}}
                  data-toggle="modal" id="contact-form-modal"
                  data-backdrop="static" data-keyboard="false"
                  data-target="#kpmgModal">
               {{#if hbs.promotionalA.imageConfigExists}}
                   <picture>
                       {{#hbs.promotionalA.imageConfig}}
                           {{#if this.isDesktop}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                           {{else}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 0px) and (max-width: 640px)" >
                           {{/if}}

                           {{#if @last}}
                               <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                           {{/if}}
                       {{/hbs.promotionalA.imageConfig}}
                   </picture>
               {{else}}
                   <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalA.altText}}" alt="{{hbs.promotionalA.altText}}">
                   </picture>
               {{/if}}
            </a>
            {{else}}
            <a href="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.altText}}">
               {{#if hbs.promotionalA.imageConfigExists}}
                   <picture>
                       {{#hbs.promotionalA.imageConfig}}
                           {{#if this.isDesktop}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                           {{else}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 0px) and (max-width: 640px)" >
                           {{/if}}

                           {{#if @last}}
                               <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{imageAltText}}" title="{{imageAltText}}"/>
                           {{/if}}
                       {{/hbs.promotionalA.imageConfig}}
                   </picture>
               {{else}}
                   <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalA.imageFileReference}}/jcr:content/renditions/cq5dam.web.237.158.jpg" title="{{hbs.promotionalA.altText}}" alt="{{hbs.promotionalA.altText}}">
                   </picture>
               {{/if}}
            </a>
            {{/if}}
         {{/if}}
      </div>
      {{/if}}
      <div>
      {{#if hbs.promotionalA.shortTitle}}
         <!-- condition to display overlay -->
         {{#if hbs.promotionalA.overlay}}
            {{#if hbs.promotionalA.rfpForm}}
            <a href="javascript:void(0)" tabindex="0"
                  data-remote="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.shortTitle}}"
                  data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                  data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
               <h3 class="tertiary-head line-clamp line-clamp-3">{{hbs.promotionalA.shortTitle}}</h3>
            </a>
            {{else}}
            <a href="javascript:void(0)" tabindex="-1"
                  data-remote="{{hbs.promotionalA.primaryUrl}}"
                  title="{{hbs.promotionalA.shortTitle}}"
                  {{#if hbs.promotionalA.contactForm}}
                  data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                  id="contact-form-modal"
                  {{/if}}
                  data-toggle="modal"
                  data-backdrop="static" data-keyboard="false"
                  data-target="#kpmgModal">
               <h3 class="tertiary-head line-clamp line-clamp-3">{{hbs.promotionalA.shortTitle}}</h3>
            </a>
            {{/if}}
         {{else}}
         <a href="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.altText}}">
             <h3 class="tertiary-head">{{hbs.promotionalA.shortTitle}}</h3>
         </a>
         {{/if}}
      {{/if}}
      {{#if hbs.promotionalA.shortDescription}}
          {{#if hbs.promotionalA.rfpForm}}
              <a href="javascript:void(0)" tabindex="0"
                  title="{{hbs.promotionalA.altText}}"
                  data-remote="{{hbs.promotionalA.primaryUrl}}"
                  data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                  data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                  <p class="tertiary-desc line-clamp line-clamp-5">{{hbs.promotionalA.shortDescription}}</p>
              </a>
          {{else}}
              {{#if hbs.promotionalA.contactForm}}
                  <a href="javascript:void(0)" tabindex="-1"
                            title="{{hbs.promotionalA.altText}}"
                            data-remote="{{hbs.promotionalA.primaryUrl}}"
                            data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                            data-toggle="modal"
                            data-backdrop="static"
                            data-target="#kpmgModal" id="contact-form-modal">
                      <p class="tertiary-desc line-clamp line-clamp-5">{{hbs.promotionalA.shortDescription}}</p>
                  </a>
              {{else}}
                  <a href="{{hbs.promotionalA.primaryUrl}}" title="{{hbs.promotionalA.altText}}">
                      <p class="tertiary-desc">{{hbs.promotionalA.shortDescription}}</p>
                  </a>
              {{/if}}
          {{/if}}

      {{/if}}
      {{#if hbs.promotionalA.externalLink}}
      <div class="library-desktop {{#if hbs.promotionalA.isBlog}} hidden{{/if}}">
         <div class="module-addtolibrary component self-contained clearfix" aria-label="add to Library" data-description="{{{hbs.promotionalA.longDescription}}}" data-shortDescription="{{{hbs.promotionalA.shareDescription}}}" data-href="{{hbs.promotionalA.primaryUrl}}" data-image="{{hbs.promotionalA.imageFileReference}}" data-title="{{{hbs.promotionalA.shortTitle}}}" data-shortTitle="{{hbs.promotionalA.shortTitle}}" tabindex="0" article ="{{hbs.promotionalA.externalLink}}" style="display:none;" data-article-type="{{ hbs.promotionalA.articleType }}">
            <a href="javascript:;" class="addtolibrary-cta" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="addToLibrary" tabindex="0" title="Add to library" aria-haspopup="true">
               <span class="icon-star"></span>
            </a>
         </div>
      </div>
      <div class="primary-cta-space">&nbsp;</div>
      {{/if}}
      </div>
   </div>
</section>
