
<section class="module-contactcredentials component col-transparent">
    <div class="row">
      <div class="row-same-height row-full-height  {{hbs.contactCredentials.primarySelection}}">
         {{#if hbs.contactCredentials.educationQualification}}
        <div class="col-md-4 col-xs-12 col-md-height col-sm-height col-full-height col-top contactinfo contact-edu">

            <div class="contactcredentials-listingGroup">
                <h3 class="tertiary-head">{{i18n hbs.contactCredentials.educationTitle}}</h3>
                <ul class="contactcredentials-listingGroupDetails">
                    {{#each hbs.contactCredentials.educationQualification}}
                    <li class="contactcredentials-listingGroupText">
                        <p> {{this}} </p>
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
        {{/if}}
        {{#if hbs.contactCredentials.accredation}}
        <div class="col-md-4 col-xs-12 col-md-height col-sm-height col-full-height contact-accr col-top contactinfo">

            <div class="contactcredentials-listingGroup">
                <h3 class="tertiary-head">{{i18n hbs.contactCredentials.accredationTitle}}</h3>

                <ul class="contactcredentials-listingGroupDetails">
                    {{#each hbs.contactCredentials.accredation}}
                    <li class="contactcredentials-listingGroupText">
                        <p> {{this}} </p>
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
        {{/if}}
        {{#if hbs.contactCredentials.optional}}
        <div class="col-md-4 col-xs-12 col-md-height col-sm-height col-full-height col-top contactinfo contact-opt">

                <div class="contactcredentials-listingGroup">
                    <h3 class="tertiary-head">{{hbs.contactCredentials.optionalHeadline}}</h3>

                    <ul class="contactcredentials-listingGroupDetails">
                        {{#each hbs.contactCredentials.optional}}
                        <li class="contactcredentials-listingGroupText">
                            <p> {{this}} </p>
                        </li>
                        {{/each}}
                    </ul>
                </div>

        </div>
         {{/if}}
      </div>
    </div>
</section>
