<section class="module-listing component clearfix" data-query-url="{{hbs.listing.query}}"  data-contentType="{{hbs.listing.listPopulationMethod}}">
    <div class="col-md-12 listing-listingGroup">  
        <h3 class="tertiary-head">{{hbs.listing.heading}}</h3>
       
        <ul class="listing-listingGroupLinks listing-listingGroups {{hbs.listing.listPopulationMethod}}">
            {{#if hbs.listing.isHyperLink}}
                {{#each hbs.listing.itemLinks}}        
                    <li class="listing-listingGroupLink">
                        <a href = "{{this.linkUrl}}">
                            <span class="listing-link-text">{{this.linkText}}</span>
                            <span class="icon-chevron-right"></span>
                        </a>
                    </li> 
                {{/each}} 
            {{else}}
            
                {{#each hbs.listing.itemPlain}}
                    <li class="listing-listingGroupLink noLink">
                        <span class="listing-link-text" tabindex="0">{{this.plainText}}</span>
                    </li> 
                {{/each}}               

            {{/if}}
        </ul>           
        <ul class="listing-listingLinksAuto listing-listingGroups {{hbs.listing.listPopulationMethod}}"></ul>
    </div>
</section>