<section class="module-tmpl-campaigntopic">
<div class="row visible-sm-block visible-md-block visible-lg-block">
        <div class="col-md-12 bread-crumb-full">
            <div class="inner-container">
                {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb"  id="1"}}
            </div>
        </div>
    </div>
    <div class="inner-container">

        <div class="row tmpl-row">
            <div class="col-md-12" data-desktop-cell="1" data-mobile-cell="1">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell2"}}
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell2"}}
            {{/render}}
            </div>
        </div> 

        <div class="row tmpl-row">
            <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
                 {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
            </div>
        </div> 

        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-9 col-md-height col-sm-height col-full-height col-top col-nested">

                    <div class="row-same-height row-full-height">

                        <div class="col-md-6 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="3" data-mobile-cell="3">
                            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                            {{/render}}
                        </div>

                        <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top" data-desktop-cell="4" data-mobile-cell="4">
                            {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell5"}}
                        </div>

                    </div>

                    <div class="row-same-height row-full-height">

                        <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="5" data-mobile-cell="5">
                            {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"  path="cell7"}}
                        </div>

                        <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top" data-desktop-cell="6" data-mobile-cell="7">
                            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8"}}
                            {{/render}}
                        </div>

                        <div class="col-md-3 col-md-height col-sm-height col-full-height  col-top" data-desktop-cell="7" data-mobile-cell="8">
                            {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"  path="cell9"}}
                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="8" data-mobile-cell="6">
                    {{ include "socialwidget" resourceType="/apps/kpmgpublic/components/social/socialwidget"}}

                </div>
            </div>
        </div>

        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
        <div class="row tmpl-row">
            <div class="col-md-12" data-desktop-cell="9" data-mobile-cell="9">
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
            </div>
        </div>
        {{/render}}
        <div class="row">
            <div class="row-same-height row-full-height">

                <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="10" data-mobile-cell="10">
                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}
                    {{/render}}
                </div>

                <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="11" data-mobile-cell="11">
                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}
                    {{/render}}
                </div>

                <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="12" data-mobile-cell="12">
                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}
                    {{/render}}
                </div>

                <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="13" data-mobile-cell="13">
                    {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                </div>

            </div>
        </div>
    </div>
</section>