@import "../../global/css/_variables.less";

.module-touch-breadcrumb {
    background-color: @gray-94;
    padding-left: 36px;
   
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        li {
            display:inline-block;
           a {
             .file-size(@medium-blue);
            font-size: 16.5px;
            font-style: italic;
            font-family: @arial;
             padding: 2px;
             &:hover {
                 text-decoration: underline;
             }
           }
         }
         .current-page {
            .file-size(@gray-20);
            font-size: 16.5px;
            font-style: italic;
            font-family: @arial;
            padding: 2px;
            margin: 0px;
         }
         span {
               text-decoration:none;
               .file-size(@gray-20);
               font-size: 16.5px;
               font-style: italic;
               font-family: @arial;
               margin: 2px 0px;
               display:inline-block
         }
    }
}

@media (max-width: 640px){
    .module-touch-breadcrumb {
        display: none;
    }

}

