input#the_characters_you_entered_didnt_match_the_word_verification_please_try_again(type='text', value="The characters you entered didn't match the word", style='display:none')
input#gigya_translation_text(type='text', value='{"kpmg_sign_up_header":"Sign up with an existing account",\
"kpmg_sign_up_text":"Get started by using an existing social media account or fill in the fields below to gain access to articles, research and resources.",\
"kpmg_already_have_an_account":"Already have an account?",\
"kpmg_log_in":"Log in",\
"kpmg_learn_more":"Learn more",\
"kpmg_create_an_account":"Create an account",\
"kpmg_required":"Required",\
"kpmg_info_email":"This email address will be used when logging into your KPMG account.",\
"kpmg_info_password":"Password must contain at least 8 characters including 1 number, 1 upper-case, 1 lower-case letter.",\
"kpmg_privacy_statement_text":"I acknowledge that I have read and understood the terms stated in the",\
"kpmg_privacy_statement_link_text":"KPMG Online Privacy Statement",\
"kpmg_captcha_text":"Please confirm your registration by entering the two words in the field below, separated by a space.",\
"kpmg_cancel":"Cancel",\
"kpmg_continue":"Continue",\
"kpmg_social_sign_in_header":"Signed in with",\
"kpmg_social_sign_in_text":"You are signed in with the social account that you registered with",\
"kpmg_cancel_registration_header":"Cancel Registration?",\
"kpmg_cancel_registration_text":"Are you sure you want to cancel your registration?",\
"kpmg_go_back":"Go Back",\
"kpmg_registration_done_header":"Thank You For Registering.",\
"kpmg_thank_you_text":"Thank you for registering. You can explore your dashboard or you can return to the article you just saved.",\
"kpmg_go_to_mykpmg":"Go to dashboard",\
"kpmg_return_to_my_article":"Return to my article",\
"kpmg_error_tc_authored_msg_tc1":"Please provide acknowledgement for the online privacy statement",\
"kpmg_error_tc_authored_msg_tc2":"Please select this checkbox to continue.",\
"kpmg_error_tc_authored_msg_tc3":"Please select this checkbox to continue.",\
"kpmg_privacy_acceptance_error_msg_tc1":"Please provide acknowledgement for the online privacy statement",\
"kpmg_welcome_back":"Welcome back, ",\
"kpmg_sign_in_header":"Sign in with an existing account",\
"kpmg_not_yet_registered":"Not yet registered?",\
"kpmg_use_your_kpmg_login_credentials":"Use your KPMG login credentials",\
"kpmg_i_forgot_my_password":"I forgot my password",\
"kpmg_keep_me_signed_in":"Keep me signed in",\
"kpmg_forgot_password_header":"Please enter your email address to reset your password.",\
"kpmg_forgot_password_text":"Please enter your email address to reset your password.",\
"kpmg_reset_password":"Reset Password",\
"kpmg_forgot_password_thank_you_text":"Thank you. If the email address provided is registered with KPMG, we will send an email containing a link to reset your password.",\
"kpmg_return_to_login":"Return to login",\
"kpmg_info_password_first":"Password must contain at least:",\
"kpmg_info_password_second":"8 characters including 1 number, 1 upper-case, 1 lower-case letter.",\
"kpmg_reset_password_thank_you_text":"Thank you. Your password has been reset.",\
"kpmg_too_many_failed_attempts_header":"Too Many Failed Attempts",\
"kpmg_too_many_failed_attempts_text":"Your account has been locked for 24 hours. You may wish to reset your password.",\
"account_is_disabled":"Account is disabled",\
"account_temporarily_locked_out":"Account temporarily locked out",\
"and":"and",\
"available":"Available",\
"checking":"Checking",\
"choose_file":"Choose File",\
"email_address_is_invalid":"E-mail address is invalid.",\
"email_already_exists":"Email already exists",\
"fair":"Fair",\
"invalid_fieldname":"Invalid %fieldname",\
"invalid_login_or_password":"Invalid login or password",\
"invalid_username_or_password":"Invalid username or password",\
"login_identifier_exists":"Login identifier exists",\
"maximum_size_of_3mb.":"Maximum size of 3MB.",\
"no_file_chosen":"No file chosen",\
"not_available":"Not available",\
"num_characters_total":"%num characters",\
"num_of_the_following_groups":"%num of the following: An uppercase letter, a lowercase letter, a number, a special symbol",\
"password_does_not_meet_complexity_requirements":"Password does not meet complexity requirements",\
"password_must_contain_at_least":"Password must contain at least",\
"password_strength_colon":"Password must contain at least:",\
"passwords_do_not_match":"Passwords do not match",\
"old_password_cannot_be_the_same_as_new_password":"New password should not be same as old password",\
"please_enter_a_valid_fieldname":"Please enter a valid %fieldname",\
"please_enter_fieldname":"Please enter %fieldname",\
"profilePhoto_fileSizeError":"Photo format: JPG/GIF/PNG. Size: up to 3MB.",\
"sorry_we_are_not_able_to_process_your_registration":"Sorry, we are not able to process your registration",\
"strong":"Strong",\
"there_are_errors_in_your_form_please_try_again":"There are errors in your form, please try again",\
"there_is_no_user_with_that_username_or_email":"There is no user with that username or email",\
"these_passwords_do_not_match":"These passwords do not match",\
"this_field_is_required":"This field is required",\
"too_weak":"Too weak",\
"unique_identifier_exists":"Unique identifier exists",\
"username_already_exists":"Username already exists",\
"very_strong":"Very strong",\
"weak":"Weak",\
"wrong_password":"Wrong password",\
"your_age_does_not_meet_the_minimal_age_requirement":"Your age does not meet the minimal age requirement (13+) for this site"\
}', style='display:none')
input#gigya_custom_text(type='text', value='{"gigya_error_primary_action":"OK",\
"gigya_error_title":"We\'re sorry",\
"gigya_account_disabled_error_title":"We\'re sorry",\
"gigya_account_disabled_error_primary_action":"OK",\
"gigya_error_description":"Service is temporarily unavailable. Our engineers are working to resolve the issue.",\
"gigya_account_disabled_error_description":"This account is disabled",\
"gigya_cookies_disabled_error_description":"We cannot complete your request because third-party cookies are currently disabled in your browser. We use third-party cookies to provide the best browsing experience. Please check your browser settings and enable third-party cookies to perform this action.",\
"gigya_name_validation_error_message":"Special characters and numbers are not supported.",\
"kpmg_placeholder_first_name":"First Name",\
"kpmg_placeholder_last_name":"Last Name",\
"kpmg_placeholder_email":"Email",\
"kpmg_placeholder_password":"Password",\
"kpmg_placeholder_confirm_password":"Confirm Password",\
"kpmg_placeholder_company_optional":"Company (Optional)",\
"kpmg_placeholder_select_country":"Select Country / Location",\
"toppicksfor":"Top picks for",\
"you":"you",\
"items":"items",\
"remove":"Remove",\
"yes":"Yes",\
"no":"No",\
"organization":"Organization",\
"quicksavedlist":"Quick Saved List",\
"urllink":"URL Link",\
"close":"Close",\
"search":"Search",\
"resentemail":"We\'ve sent another confirmation message to:",\
"verifyemaillabel":"Verify Email",\
"verifyemail":" Please verify your email address to continue accessing your account.",\
"verify_email_err_title":"Email already sent",\
"verify_email_err_desc":"Verification email already sent. Please check your mail.",\
"verify_email_congrats_title":"Congratulations",\
"verify_email_congrats_desc":"Your email has been successfully verified. Enjoy all KPMG account has to offer.",\
"office_locator_geolocation_error":"Error finding the Geo location",\
"office_locator_nocities_error":"No Cities Found for the country selected",\
"office_locator_noresults_error":"kpmg.officelocator.noResultsText",\
"resendconfirmation":" Resend verification email",\
"logoutinfo":" You\'ve logged out",\
"logoutdescription":" You\'ve successfully logged out. You will now be taken to the Home Page.",\
"showanotherarticle":"Show me another article",\
"dontshowarticleagain":"Don\'t show this article again",\
"updatemypreferences":"Update my preferences",\
"addtolibrary":"add to library",\
"refreshcontent":"Refresh content",\
"share":"Share",\
"readMore":"Read more",\
"or_divider_text":"OR",\
"cross_site_error_title":"Error subscribing for newsletter",\
"cross_site_error_description":"This subscription does not belong to the original country you are registered with.",\
"deleteThisList":"Delete this list",\
"editYourListName":"Edit your list name",\
"shareThisList":"Share this list",\
"move":"Move",\
"delete":"Delete",\
"placeholdertextforfiltersubscriptions":"Filter subscriptions based on your interests",\
"selectedinterestslist":"Selected interests:",\
"onboardingbasedsubscriptiontitle":"Subscriptions you are interested in:",\
"interestsbasedsubscriptiontitle":"Subscriptions related to your interests:",\
"subscriptionsinterestedintitle":"Subscriptions you may also be interested in:",\
"registrationPromoTitle":"Want the latest KPMG {tag_name} content?",\
"registrationPromoDescription":"Register now and set up your personalized dashboard around {tag_name} and all the other topics that interest you.",\
"noArticleErrorTitle":"error",\
"noArticleErrorMessage":"The articles in this list are no longer available for viewing.",\
"noArticleErrorDetail":"Please use the following link to",\
"noArticleErrorDetail1":"return to home page,",\
"noArticleErrorDetail2":"or use the sites search feature.",\
"searchLabel":"search",\
"searchLibList":"Search list of libraries",\
"libraryListDeleteThisArticle":"Delete this article",\
"libraryListDeleteThisArticleDescription":"Are you sure you want to delete this article?",\
"libraryListSuccessDescription":"delete successful.",\
"libraryListDeleteIt":"Yes, delete",\
"libraryListNotlongeravailable":"Articles no longer available for viewing",\
"libraryListArticlenolongeravailabledescription":"An article was no longer available for viewing.",\
"libraryListArticlewasremovedfromlabel":"Was removed from",\
"libraryListMobilenolongeravlbl":"is no longer available for viewing.",\
"libraryListArtitwasremovedfrom":"It was removed from",\
"libraryListArticlesnolongeravailabledescription":"The following  articles are no longer available for viewing. They have been removed from",\
"libraryListShareThisListDescription":"Copy and paste this url to share it.",\
"libraryListCopy":"Copy",\
"libraryListCancel":"Cancel",\
"libraryListMovearticle":"Move this article to another list",\
"libraryListInstrutiontext":"You can save this article to your library or you can save it to a specific list in your library.",\
"libraryListAlreadysaved":"Already Saved",\
"libraryListAlreadysavedarticle":"You\'ve already saved this article to",\
"libraryListChoosealist":"Choose a list",\
"libraryListCreatealist":"Create a list",\
"libraryListThatNameIsTaken":"List Name Already Exists",\
"libraryListEmpty":"Invalid list name",\
"libraryListEnternewlist":"Enter new list name",\
"libraryListAddtolibraryoverlayCancel":"Cancel",\
"libraryListCancel1":"Cancel",\
"createAList":"Create a list",\
"createsuccessdescription":"List created successfully",\
"listmanagementsave":"Save",\
"deleteThisListDescription":"If you delete this list, you will lose all the articles saved in it. Are you sure you want to delete this list?",\
"keepIt":"No, keep it",\
"editsuccessdescriptionmobile":"The name change was successful.",\
"namechanges":"Name changed",\
"listnamechanged":"The list name has been successfully changed",\
"copySuccessDescription":"URL copied to clipboard.",\
"copyFailedClipboardAccessDenied":"Could not copy url. Allow webpage to access clipboard."\
}', style='display:none')
script(type="text/javascript").
  var translationText = document.getElementById('gigya_translation_text').value;
  var customText = document.getElementById('gigya_custom_text').value;
  try {
      window.kpmgPersonalize.i18n.customMsgs = JSON.parse(customText);
  } catch (error) {
      console.log('Problem parsing custom messages');
  }
  try {
      window.kpmgPersonalize.i18n.gigyaMsgs = JSON.parse(translationText);
  } catch (error) {
      console.log('Problem parsing gigya messages');
  }
  var exceptional = document.getElementById('the_characters_you_entered_didnt_match_the_word_verification_please_try_again').value;
  window.kpmgPersonalize.i18n.gigyaMsgs["the_characters_you_entered_didn't_match_the_word_verification._please_try_again"] = exceptional;
  cleanUp();

  function cleanUp() {
      var elemIds;
      elemIds = ['gigya_translation_text', 'gigya_custom_text', 'the_characters_you_entered_didnt_match_the_word_verification_please_try_again'];
      elemIds.forEach(function(id) {
          var elem;
          elem = document.getElementById(id);
          if(elem) {
              elem.parentElement.removeChild(elem);
          }
      })
  }
  window.__gigyaConf = window.__gigyaConf || {};
  window.__gigyaConf.customLang = window.kpmgPersonalize.i18n.gigyaMsgs;
