meta(http-equiv='content-type', content='text/html; charset=UTF-8')
meta(http-equiv='date', content='Mon Mar 18, 2019 10:18:13 GMT')
meta(http-equiv='content-language', content='en-US')
meta(http-equiv='content-encoding', content='text/html')
meta(name='description', content='Dollar of agility')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
link(rel='apple-touch-icon-precomposed', sizes='180x180', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-180x180-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='167x167', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-167x167-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-152x152-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-120x120-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-76x76-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-60x60-precomposed.png')
link(rel='apple-touch-icon-precomposed', href='/etc/designs/default/kpmg/favicons/apple-touch-icon-precomposed.png')
//- link(rel='icon', type='image/png', href='/etc/designs/default/kpmg/favicons/favicon-32x32.png', sizes='32x32')
//- link(rel='icon', type='image/png', href='/etc/designs/default/kpmg/favicons/android-chrome-192x192.png', sizes='192x192')
//- link(rel='icon', type='image/png', href='/etc/designs/default/kpmg/favicons/favicon-96x96.png', sizes='96x96')
//- link(rel='icon', type='image/png', href='/etc/designs/default/kpmg/favicons/favicon-16x16.png', sizes='16x16')
//- link(rel='manifest', href='/etc/designs/default/kpmg/favicons/manifest.json')
link(rel='mask-icon', href='/etc/designs/default/kpmg/favicons/safari-pinned-tab.svg', color='#00338D')
//- link(rel='shortcut icon', href='/etc/designs/default/kpmg/favicon.ico')
link(rel='canonical', href='https://pdev.home.kpmg/xx/en/home/insights/2019/03/fastsubtest.html')
meta(name='KPMG_Business_Owner', content='KPMG')
meta(property='og:image', content='https://pdev.assets.kpmg/content/dam/kpmg/images/KPMG_15_Canada_Sq_Office.jpg/jcr:content/renditions/cq5dam.web.1200.630.jpg')
meta(name='KPMG_Short_Desc', content='Tax')
meta(name='twitter:card', content='summary_large_image')
meta(name='copyright', content='© 2019 KPMG International Cooperative (“KPMG International”), a Swiss entity. Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services. No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties, nor does KPMG International have any such authority to obligate or bind any member firm. All rights reserved. Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services. No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties, nor does KPMG International have any such authority to obligate or bind any member firm.')
meta(property='og:site_name', content='KPMG')
meta(property='og:description', content='A lack of radical change hits Swiss private banks perfo')
meta(name='twitter:creator', content='@KPMG')
meta(name='KPMG_Change_Frequency', content='')
meta(name='KPMG_Template', content='/conf/kpmgpublic/settings/wcm/templates/fast-subscription-template')
meta(name='KPMG_Geographic_Origin_ID', content='XX')
meta(name='robots', content='index, follow')
meta(name='KPMG_URL', content='/xx/en/home/insights/2019/03/fastsubtest.html')
meta(name='KPMG_BANNER_FLAG', content='false')
meta(name='KPMG_Media_Typ_Path', content='Media formats/Document/PDF')
meta(property='og:locale', content='[Ljava.lang.String;@5161c2c2')
meta(name='KPMG_Description', content='Dollar of agility')
meta(name='KPMG_Persona_Path', content='Personas/Audience/Alumni/Former Staff')
meta(name='KPMG_Cont_Type_Path', content='Content type/Articles/Standards and Regulations')
meta(name='KPMG_Persona_ID', content='27158234320186307869390')
meta(name='KPMG_Business_Owner_Group', content='EN – TR – Advisory Group')
meta(name='twitter:image', content='https://pdev.assets.kpmg/content/dam/kpmg/images/KPMG_15_Canada_Sq_Office.jpg/jcr:content/renditions/cq5dam.web.1200.630.jpg')
meta(name='KPMG_Title', content='fastsubtest')
meta(http-equiv='last-modified', content='Wed, 13 Mar 2019 06:50:06 GMT')
meta(name='DC.Description', content='Dollar of agility')
meta(name='twitter:site', content='@KPMG')
meta(name='KPMG_Tab_Type', content='')
meta(name='KPMG_Analytics_PageName', content='xx:en:home:insights:2019:03:fastsubtest')
meta(name='DC.Format', content='text/html')
meta(name='KPMG_Med_For_Type_ID', content='143236010378065923659239')
meta(name='KPMG_Document_Id', content='OC01N1551690808213')
meta(name='KPMG_Content_Type_ID', content='125972657739541070385104')
meta(name='Notes', content='© 2019 KPMG International Cooperative (“KPMG International”), a Swiss entity. Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services. No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties, nor does KPMG International have any such authority to obligate or bind any member firm. All rights reserved. Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services. No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties, nor does KPMG International have any such authority to obligate or bind any member firm.')
meta(name='KPMG_Short_Title', content='KPMG’s Healthcare Review is an online space for leaders')
meta(name='KPMG_FONT', content='variant_1')
meta(name='KPMG_Live_Copy', content='false')
meta(property='og:type', content='website')
meta(name='twitter:title', content='[Ljava.lang.String;@63df180b')
meta(name='KPMG_HTML_Title', content='A lack of radical change hits Swiss private banks perfo')
meta(name='KPMG_Canonical_URL', content='https://pdev.home.kpmg/xx/en/home/insights/2019/03/fastsubtest.html')
meta(property='og:title', content='[Ljava.lang.String;@63df180b')
meta(name='DC.Title', content='fastsubtest | KPMG | GLOBAL')
meta(name='KPMG_Seo_Priority', content='')
meta(name='KPMG_Template_Type', content='fast-subscription-template')
meta(name='KPMG_last_mod_rank', content='1552459806549')
meta(name='KPMG_Image', content='/content/dam/kpmg/images/KPMG_15_Canada_Sq_Office.jpg')
meta(name='KPMG_Blog_Topics', content='')
meta(name='twitter:description', content='A lack of radical change hits Swiss private banks perfo')
meta(name='DC.Language', content='en-US')
meta(name='DC.Date', content='2019-03-13')
meta(property='og:url', content='https://pdev.home.kpmg/xx/en/home/insights/2019/03/fastsubtest.html')
