@import "../../global/css/_variables.less";
.module-htmlcontainer {
    padding: 10px;
    background: @white;
    .promo-description(@gray-20);

    h1 {
        .page-title(@kpmg-blue);
    }

    h2 {
        .component-title(@kpmg-blue);
    }

    h3 {
        .promo-title(@kpmg-blue);
    }

    h4,
    h5,
    h6 {
        .promo-details(@kpmg-blue);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
        .hyphen;
    }

    p,
    div {
        .promo-description(@gray-20);
        .hyphen;
        margin: 7px 0;
    }

    ol,
    ul {
        .promo-description(@gray-20);
        .hyphen;
        margin: 7px 0;
        list-style-position: outside;
    }

    ul {
        li {
            list-style-type: disc;
        }
        li li {
            list-style: circle;
        }
        li li li,
        li li li li,
        li li li li li {
            list-style: square;
        }
    }

    ol {
        li,
        li li,
        li li li,
        li li li li,
        li li li li li {
            list-style-type: decimal;
        }
    }

    a,
    a:link,
    a:hover,
    a:visited {
        color: @medium-blue;
    }

    a:hover {
        text-decoration: underline;
    }

    i {
        font-style: italic !important;
    }

    b {
        font-weight: bold !important;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        border: 1px solid @gray-20;
        background-color: transparent;
        table-layout: fixed;
        margin: 10px 0 0 0;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    table>caption+thead>tr:first-child>th,
    table>colgroup+thead>tr:first-child>th,
    table>thead:first-child>tr:first-child>th,
    table>caption+thead>tr:first-child>td,
    table>colgroup+thead>tr:first-child>td,
    table>thead:first-child>tr:first-child>td {
        border-top: 0;
    }

    table>thead>tr>th,
    table>thead>tr>td {
        border-bottom-width: 2px;
    }

    table>thead>tr>th,
    table>tbody>tr>th,
    table>tfoot>tr>th,
    table>thead>tr>td,
    table>tbody>tr>td,
    table>tfoot>tr>td {
        border: 1px solid @gray-20;
    }

    table>tbody>tr>th {
        .promo-details(@kpmg-blue);
        margin: 7px 0px;
        a {
            .promo-details(@medium-blue);
            margin: 7px 0px;
        }
    }

    table>thead>tr>th::before,
    table>tbody>tr>th::before,
    table>tfoot>tr>th::before,
    table>thead>tr>td::before,
    table>tbody>tr>td::before,
    table>tfoot>tr>td::before {
        content: '';
        display: block;
        margin-top: 7px;
    }

    table>thead>tr>th::after,
    table>tbody>tr>th::after,
    table>tfoot>tr>th::after,
    table>thead>tr>td::after,
    table>tbody>tr>td::after,
    table>tfoot>tr>td::after {
        content: '';
        display: block;
        margin-bottom: 7px;
    }

    table>thead>tr>th,
    table>tbody>tr>th,
    table>tfoot>tr>th,
    table>thead>tr>td,
    table>tbody>tr>td,
    table>tfoot>tr>td {
        padding: 8px;
        .promo-description(@gray-20);
        vertical-align: top;
        border-top: 1px solid @gray-20;
    }

    th {
        text-align: left;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
}
