<div class="existing-user-login-form animated">

  <!--  CANCEL BUTTON -->
  <div class="cancelButton">
    <button>
      <span class="icon-close "></span>
    </button>
  </div>

  <!-- INTRO TEXT -->
  <div class="introduction-text">
    <p>
      The email address you've entered is already tied to an exi
      sting account. Please login to access your requested content.
    </p>

    <p>KPMG thought leadership is always available to our registered users.</p>
  </div>


  <!-- LOGIN FORM -->
  <div class="login-form">
    <form action="?"
          method="POST">
      <div class="form-field">
        <div class="validation-message">
          Email is incorrect...
        </div>
        <input type="email"
              name="email"
               placeholder="Email..."
               disabled
               value="example@gmail.com" />
      </div>

      <div class="form-field">
        <div class="validation-message">
          Password is incorrect....
        </div>
        <input type="password"
              name="password"
               placeholder="password"
               value="password" />
      </div>

      <div class="login-button"
           data-provider="site">
        <button type="button">Login</button>
      </div>
    </form>
  </div>


  <!-- HORIZONTAL SEPERATOR -->
  <div class="form-separator position-relative d-flex justify-content-around">
    <div class="or-label position-absolute d-flex justify-content-center flex-column text-center">
      <span class="d-block">OR</span>
    </div>
  </div>

  <!-- SOCIAL LOGIN INTRO -->
  <div class="social-login-intro">
    <p class="social-login-intro">
      Log in with your social media account
    </p>
  </div>

  <!-- SOCIAL LOGIN BUTTONS -->
  <div class="social-login-buttons">
    <div class="linked-in login-button position-relative"
         data-provider="linkedin">
      <img src="/etc/designs/kpmgpublic/images/linkedin.png"
           class="position-absolute ml-3" />
      <button type="button">Linked In</button>
    </div>

    <div class="google login-button position-relative"
         data-provider="google">
      <img src="/etc/designs/kpmgpublic/images/google.png"
           class="position-absolute ml-3" />
      <button type="button">Google</button>
    </div>

    <div class="twitter login-button position-relative"
         data-provider="twitter">
      <img src="/etc/designs/kpmgpublic/images/twitter.png"
           class="position-absolute ml-3" />
      <button type="button">Twitter</button>
    </div>
  </div>
</div>
