<!-- Begin Component: Formbuilder-->
<div class="module-formbuilder component">
  <!--  CANCEL BUTTON -->
  <div class="cancelButton">
    <button>
      <span class="icon-close ">
        <span class="sr-only ">close</span>
      </span>
    </button>
  </div>

  <!--  INSTRUCTIONS -->
  <div class="instructions">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
    </p>
    <p>
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.
    </p>
  </div>

  <!--  FORM -->
  <div class="formDiv">
    <form>
      <!--  SAMPLE TEXT AREA -->
      <div class="formfield-wrapper">
        <textarea name="my-textarea" value="" placeholder="required email" required></textarea>
      </div>

      <div class="formfield-wrapper">
        <textarea name="my-textarea-optional" value="" placeholder="email"></textarea>
      </div>
      <!--  EMAIL ADDRESS-->
      <div class="formfield-wrapper">
        <input type="email"
               name=""
               value=""
               placeholder="email" />
         </div>
      <!--  first name -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="first name" />
      </div>

      <!-- last name -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="last name" />
      </div>

      <!--  country -->
      <div class="formfield-wrapper">
        <select class="country"
                placeholder="country"
                required
                value="">
          <option value="">Country</option>
          <option value="c1">Country 1</option>
          <option value="c2">Country 2</option>
        </select>
      </div>

      <!--  state/province -->
      <div class="formfield-wrapper">
        <select class="state"
                required
                placeholder="state/province">
          <option value="">state/province</option>
          <option value="st1">State 1</option>
          <option value="st2">State 2</option>
        </select>
      </div>

      <!--  city -->
      <div class="formfield-wrapper">
        <select class="city"
                required
                placeholder="city">
          <option value=""
                  disabled
                  selected>City</option>
          <option value="cit1">City 1</option>
          <option value="cit2">City 2</option>
        </select>
      </div>

      <!-- phone -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="phone number" />
      </div>

      <!-- company name -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               pla
               placeholder="company name" />
      </div>

      <!-- role/designation -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="role/designation" />
      </div>

      <!-- number of employees -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="number of employees" />
      </div>

      <!-- website url -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="website url" />
      </div>

      <!-- additional field -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="additional field 1" />
      </div>

      <!-- additional field -->
      <div class="formfield-wrapper">
        <input type="text"
               name=""
               value=""
               placeholder="additional field 2" />
      </div>

      <div class="subscriptions">
        <h6>Related subscriptions that may be of interest</h6>
        <div class="subscription">
          <div class="header-block">
            <h6>Automotive Views</h6>
            <button type="button">
              <span class="icon-add"></span>
            </button>
          </div>

          <div class="content-block">
            Industry insights and upcoming commentary
          </div>

        </div>

        <div class="subscription">
          <div class="header-block">
            <h6>Automotive Views</h6>
            <button type="button">
              <span class="icon-add"></span>
            </button>
          </div>

          <div class="content-block">
            Industry insights and upcoming commentary
          </div>

        </div>
      </div>


      <!--  TERMS AND CONDITIONS -->
      <div class="terms-and-conditions">
        <div class="custom-tc">
          <div class="checkbox-cell">
            <button type="button"
                    class="custom-checkbox">
              <span class="icon-checkmark"></span>
            </button>
          </div>
          <div class="tc-cell">
            <p>Please tick the box if you would like to enable the
              functionality to receive insights, event invitations and
              other benefits from KPMG.com by email. (Optional)</p>
          </div>
        </div>

        <div class="custom-tc">
          <div class="checkbox-cell">
            <button type="button"
                    class="custom-checkbox">
              <span class="icon-checkmark"></span>
            </button>
          </div>
          <div class="tc-cell">
            <p>Please tick the box if you would like to enable the
              functionality to receive insights, event invitations and
              other benefits from KPMG.com by email. (Optional)</p>
          </div>
        </div>

      </div>

      <!--  NOTE -->
      <div class="note">
        <style media="screen">
          div.note p {
              margin-top: 15px;
              text-align: justify;
            }
        </style>
        <p>
          Note: You will receive an email after registration to verify
          and activate your account. Also you will have options to
          self-serve to set your preferences for content
          personalization, subscription to newsletter, opt-in and
          opt-out from email communication and delete your
          account any time after registration.
        </p>
      </div>

      <!--  FORM CTA -->
      <div class="form-cta-button-wrapper">
        <button type="button">FORM CTA</button>
      </div>
    </form>
  </div>

</div>
<!-- End Component: Formbuilder -->
