@import "../../../../../../../global/css/_variables.less";
//
nav.nav-list-component {
    > a {
        padding: 1rem 0 1rem 0 !important;
        &:hover {
            text-decoration: underline !important;   
        }
        &:last-of-type {
            border-bottom: none !important;
        }
    }
    .nav-list-link-container{
        padding: 1rem 0 1rem 0 !important;
        border-bottom: 1px solid @gray-70 !important;
        > a{
            border-bottom: none !important;
            &:hover {
                text-decoration: underline !important;   
            }
            &.line-clamp.line-clamp-3{
                -webkit-line-clamp: 3;
                max-height: 6.2rem;
                position: static;
            }
        }
        &:last-of-type {
            border-bottom: none !important;
        }
        .legacy-nav-list-item-component{
            padding: 0px !important;
        }
    }
    .last-link {
        a {
            &.line-clamp.line-clamp-3 {
                -webkit-line-clamp: 3;
                max-height: 6.2rem;
                position: static;
            }
            .icon-chevron-right {
                display: inline-block;
            }
        } 
    }
    .bottom-link-label{
        &:before{
            font-family: 'icomoon' !important;
            content: "\e90e";
            font-size: 16px;
            color: @light-green;
        }
        &.line-clamp.line-clamp-3{
            -webkit-line-clamp: 3;
            max-height: 6.2rem;
            position: static;
        }
    }
    &.h-100{
        min-height: 310px !important;
    }
}