<!-- Begin Component: TouchImage -->
<section class="module-touch-image component bg-white"
    {{#if hbs.image.anchorId}}
        id="{{hbs.image.anchorId}}"
    {{/if}}
    {{#if hbs.isAuthor}}
       style="position:fixed; left: -10000px;"
    {{/if}}
    >

    {{#if hbs.image.redirectUrl}}<a href="{{hbs.image.redirectUrl}}" x-cq-linkchecker="skip" class="image-anchor">{{/if}}

    {{#if hbs.image.title}}
    <h3 class="tertiary-head">{{hbs.image.title}}</h3>
    {{/if}}
    {{#if hbs.image.imageSrc}}
       {{#if hbs.image.threeCol}}
           <img  src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 976 474'%2F%3E" data-mobile="{{hbs.globalValues.assetDomainName}}{{hbs.image.imageSrc}}/jcr:content/renditions/cq5dam.web.583.282.jpg" data-desktop="{{hbs.globalValues.assetDomainName}}{{hbs.image.imageSrc}}/jcr:content/renditions/cq5dam.web.976.474.jpg" alt="{{hbs.image.alt}}" title="{{hbs.image.alt}}" class="img-responsive lazy" data-src="" />
       {{else}}
           {{#if hbs.image.imageConfigExists}}
               <div data-picture data-alt='{{hbs.image.alt}}'>
                   {{#hbs.image.imageConfig}}
                       <div data-src="{{hbs.globalValues.assetDomainName}}{{hbs.image.imageSrc}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)" class="img-responsive lazy"></div>

                       {{#if @last}}
                           <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
                       {{/if}}
                   {{/hbs.image.imageConfig}}

               </div>
           {{else}}
               <img  src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 583 282'%2F%3E" data-mobile="{{hbs.globalValues.assetDomainName}}{{hbs.image.imageSrc}}/jcr:content/renditions/cq5dam.web.583.282.jpg" data-desktop="{{hbs.globalValues.assetDomainName}}{{hbs.image.imageSrc}}/jcr:content/renditions/cq5dam.web.583.282.jpg" alt="{{hbs.image.alt}}" title="{{hbs.image.alt}}" class="img-responsive lazy" data-src="" />
           {{/if}}
       {{/if}}

    {{/if}}
    {{#if hbs.image.caption}}
       <p class="image-caption">{{hbs.image.caption}}</p>
    {{/if}}

    {{#if hbs.image.redirectUrl}}</a>{{/if}}
</section>
<!-- End Component: TouchImage -->
