<!-- Begin Component: TouchBreadcrumb -->
<div class="module-touch-breadcrumb component">
<!-- Update the variable name -->
    <ul id="breadCrumbNav">
        {{#each hbs.breadCrumb.links}}
          {{#if url}}
              {{#if label}}
                  <li><a href="{{this.url}}" x-cq-linkchecker="skip" title="{{this.label}}">{{this.label}}</a></li>
                  <span>&#8250;</span>
              {{/if}}
          {{else}}
              <span class="current-page">{{this.label}}</span>
          {{/if}}
        {{/each}}
      </ul>

</div>
<!-- End Component: TouchBreadcrumb -->
