
<div class="navflyout-wrapper">
        
    <section class="module-navflyoutc flyout">

        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyoutc-background navflyoutc-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
                                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="extra-padding">{{hbs.flyoutnavigation.pathIdentifier}}</div>
                        {{#if hbs.flyoutnavigation.allLabelLink}}
                            <div class="all-label pull-right-align">
                                <span class="icon-chevron-right pull-left"></span>
                                <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="all-label btn-cta">
                                    <span class="navflyoutc-uppercase">{{hbs.flyoutnavigation.pathIdentifier}}</span>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyoutc-background navflyoutc-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellTwoLinksDetail}}
                                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellTwoUrl}}">{{this.cellTwoLabel}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="extra-padding">{{hbs.flyoutnavigation.cellThreePathIdentifier}}</div>
                        {{#if hbs.flyoutnavigation.cellTwoLabelLink}}
                            <div class="all-label pull-right-align">
                                <span class="icon-chevron-right pull-left"></span>
                                <a href="{{hbs.flyoutnavigation.cellTwoLabelLink}}" class="all-label btn-cta">
                                    <span class="navflyoutc-uppercase">{{hbs.flyoutnavigation.cellTwoPathIdentifier}}</span>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col-md-4 col-md-height col-full-height col-top first-block transparent-bg">
                    <div class="navflyoutc-background navflyoutc-background-first">
                        <ul>
                            {{#each hbs.flyoutnavigation.cellThreeLinksDetail}}
                                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellThreeUrl}}">{{this.cellThreeLabel}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="extra-padding">{{hbs.flyoutnavigation.cellThreePathIdentifier}}</div>
                        {{#if hbs.flyoutnavigation.cellThreeLabelLink}}
                            <div class="all-label  pull-right-align">
                                <span class="icon-chevron-right pull-left"></span>
                                <a href="{{hbs.flyoutnavigation.cellThreeLabelLink}}" class="all-label btn-cta ">
                                    <span class="navflyoutc-uppercase">{{hbs.flyoutnavigation.cellThreePathIdentifier}}</span>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row navflyoutc-hr">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <ul class="mob-secondary-menu">
            {{#each hbs.flyoutnavigation.cellOneLinksDetail}}
                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellOneUrl}}">{{this.cellOneLabel}}</a></li>
            {{/each}}
            {{#each hbs.flyoutnavigation.cellTwoLinksDetail}}
                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellTwoUrl}}">{{this.cellTwoLabel}}</a></li>
            {{/each}}
            {{#each hbs.flyoutnavigation.cellThreeLinksDetail}}
                <li class="navflyoutc-group-item"><a class="navflyoutc-list  navflyout-clamp" href="{{this.cellThreeUrl}}">{{this.cellThreeLabel}}</a></li>
            {{/each}}
            {{#if hbs.flyoutnavigation.allLabelLink}}
                <li class="navflyoutc-group-item">
                    <a href="{{hbs.flyoutnavigation.allLabelLink}}" class="navflyoutc-list  navflyout-clamp highlight-all">
                        {{hbs.flyoutnavigation.pathIdentifier}}
                    </a>
                </li>
            {{/if}}
            {{#if hbs.flyoutnavigation.cellTwoLabelLink}}
                <li class="navflyoutc-group-item">
                    <a href="{{hbs.flyoutnavigation.cellTwoLabelLink}}" class="navflyoutc-list  navflyout-clamp highlight-all">
                        {{hbs.flyoutnavigation.cellTwoPathIdentifier}}
                    </a>
                </li>
            {{/if}}
            {{#if hbs.flyoutnavigation.cellThreeLabelLink}}
                <li class="navflyoutc-group-item">
                    <a href="{{hbs.flyoutnavigation.cellThreeLabelLink}}" class="navflyoutc-list  navflyout-clamp highlight-all">
                        {{hbs.flyoutnavigation.cellThreePathIdentifier}}
                    </a>
                </li>
            {{/if}}
        </ul>

    </section>
</div>
{{ embed "navflyoutc" script="/etc/partials/kpmgpublic/navflyoutc/navflyoutc" id="template-navflyoutc" }}
