<template id="card-link-component-template">
    <a  
        class="
			card-link-component vue-component 
			card 
			p-3 
			h-100 
			rounded-0
		"
        v-process-url="vm.linkUrl"
        v-if="vm.linkUrl && vm.internalLinkFlag == 'false'"
        target="_blank"
		x-cq-linkchecker="skip"
        v-dev="{ isDev: $root.isDev, variant: 'warning' }"
        :title="vm.title"
    >
        <!-- CARD IMAGE -->
        <img 
            class="card-img-top rounded-0" 
            :src="$store.state.data.siteInfo.assetsDomain + vm.imgUrl + '/jcr:content/renditions/cq5dam.web.237.158.jpg'"  
            :alt="vm.altText"
             v-if="vm.imgUrl"
        >
        
        <!-- CARD TEXT CONTENT -->
        <div class="card-body p-0 border-0" 
            v-dev="{ isDev: $root.isDev, variant: 'warning' }"
        >
            <!-- TITLE -->
            <h4
                class="card-title mt-2 text-kpmg-blue line-clamp line-clamp-2"
            >
                \{{ vm.title }}
            </h4>
            <!-- DESCRIPTION -->
            <div 
                class="card-text text-dark line-clamp line-clamp-5"
            >
                \{{ vm.description }}
            </div>
        </div>
        <span class="sr-only"> \{{ vm.newTabAllow }} </span>
    </a>
    <a  
        class="
			card-link-component vue-component 
			card 
			p-3 
			h-100 
			rounded-0
		"
        v-process-url="vm.linkUrl"
        v-else-if="vm.linkUrl"
        v-dev="{ isDev: $root.isDev, variant: 'warning' }"
        :title="vm.title"
    >
        <!-- CARD IMAGE -->
        <img 
            class="card-img-top rounded-0" 
            :src="$store.state.data.siteInfo.assetsDomain + vm.imgUrl + '/jcr:content/renditions/cq5dam.web.237.158.jpg'"  
            :alt="vm.altText"
             v-if="vm.imgUrl"
        >
        
        <!-- CARD TEXT CONTENT -->
        <div class="card-body p-0 border-0" 
            v-dev="{ isDev: $root.isDev, variant: 'warning' }"
        >
            <!-- TITLE -->
            <h4
                class="card-title mt-2 text-kpmg-blue line-clamp line-clamp-2"
            >
                \{{ vm.title }}
            </h4>
            <!-- DESCRIPTION -->
            <div 
                class="card-text text-dark line-clamp line-clamp-5"
            >
                \{{ vm.description }}
            </div>
        </div>
    </a>
</template>