<template id="nav-flyout-fullbleed-component-template">
    <!-- FLYOUT OUTER CONTAINER -->
    <div 
        class="nav-flyout-fullbleed-component vue-component bg-gray-96 position-absolute w-100 py-2 rounded-0 psd-fullbleed-padding"
        v-dev="{isDev: $root.isDev, variant: 'info'}"
		v-if="vm && showFlyout"
    >
        <!-- FLYOUT INNER GRID -->
        <div class="container">
            <!-- FLYOUT-CELLS CONTAINER -->
            <div class="row mx-auto px-0 justify-content-center">
                <!-- CELL 1 -->
                <nav-flyout-cell
					v-if="vm.cell1"
                    :vm="vm.cell1"
                ></nav-flyout-cell>

                <!-- CELL 2 -->
                <nav-flyout-cell 
					v-if="vm.cell2"
                    :vm="vm.cell2" 
                ></nav-flyout-cell>

                <!-- CELL 3 -->
                <nav-flyout-cell
					v-if="vm.cell3"
                    :vm="vm.cell3" 
                ></nav-flyout-cell>
            </div>
        </div>
    </div>
</template>