@import "../../global/css/_variables.less";

.module-newstool {
     

    .newstool-container {
        position: relative;
        background-color: @white;
    }
    .alt-secondary-head
    {
    padding-left: 2px !important;
    }
    .alt-tertiary-head {
        margin: 14px 0 11px 0;
        background-size: 100%;
    }
    .short-desc {
        .line-height(1.5);
    }
    .svg-header-label-container h3 {
      padding: 1px 10px;
    }
    
    .svg-header-label-container {
        min-height: 22px;
        width: 93%;
    }
    
    .svg-header-label-container-news svg{
        fill: @orange !important;
    }
   
    .svg-header-label-container svg {
      fill: @light-blue ;
    }
    
    span.icon-chevron-right {
        //color: @light-green;
        margin: 0 5px 0 0;
        .font-size(1.4);
    }
    
    .newstool-custom-margin {
        margin: 24px 0 0 0;
        text-align: right;
    }

    .alt-tertiary-head {
    	.line-height(1.9);
    }
    
    .tertiary-trapezoid-bg-tool.image-title:before {
        content: "";
        height: 100%;
        left: -7%;
        position: absolute;
        top: 0;
        transform: skew(-16deg, 0deg);
        width: 100%;
    }

    .tertiary-trapezoid-bg-tool span {
        position: relative;
        z-index: 0;
    }

}

@media (min-width:@desktop-min-fluid) {
.module-newstool {
.tertiary-trapezoid-bg {
        margin-left: 0;
   }
 }
}