@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../shortcarousel/css/shortcarousel";
@import "../../contactcarousel/css/contactcarousel";
@import "../../subnavigation/css/subnavigation";
@import "../../socialwidget/css/socialwidget";
@import "../../bodytext/css/bodytext";
@import "../../trendinglist/css/trendinglist";
@import "../../connectandrfp/css/connectandrfp";
@import "../../share/css/share";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../listing/css/listing";
@import "../../audiovideo/css/audiovideo";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../addtolibrary/css/addtolibrary";

.module-tmpl-industry {
    .visible-lg-block{
        margin-top: -9px;
    }

    .no-padding {
        padding: 0px;
    }

    .promo-row {
        border-top: 0 none;
    }

    .parsys-row {
        border-bottom: 0 none;
    }

    .module-bodytext {
       .primary-head {
            padding-bottom:8px;
        }
    }

    .kpmg-promo-block {
        display: block;
        position: relative;

        &.content-full-height{
            height:100%;
        }
    }

    .module-mykpmgpromo {
        &.component {
           // position: relative;
        }
        // template level style removed BrandRefresh - Aparna - 08/10/2015
        .mykpmgpromo-custom-margin {
          /*   bottom: 16px;
              right: 18px;
           */
        }
    }
}

@media (min-width:@desktop-min-fixed) {
    .module-tmpl-industry {

        .promo-row {
            border-top: 9px solid @gray-94;
        }
    }
}

@media (min-width: @desktop-min-fluid) {
    .module-tmpl-industry {

        .kpmg-promo-block {
            display: block;
        }

        .promo-row {
            border-top: 9px solid @gray-94;
        }
    }
}
