<!-- Begin Component: TouchBlogTopicList -->
<div class="module-touch-blog-topic-list component">
    <ul class="header-list">
        {{#each hbs.blogTopicList.topicsList}}
        <li class="list-item" data-href="{{this.topicDetailsUrl}}" data-topic-id="{{this.topicId}}">
            <div class="inline-list-elements trackable" tabindex="0">
                <div class="img-wrapper">
                    <span class="blue-strip"></span>
                    <picture>
                        <source srcset="{{hbs.globalValues.assetDomainName}}{{this.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                            media="screen and (min-width: 641px) and (max-width: 9440px)">
                        <source srcset="{{hbs.globalValues.assetDomainName}}{{this.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                            media="screen and (min-width: 0px) and (max-width: 640px)">
                        <img class="topic-list-img" src="{{hbs.globalValues.assetDomainName}}{{this.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                            alt="{{this.imageAltText}}" title="{{this.imageAltText}}"/>
                    </picture>
                </div>
                <div class="list-header-info">
                    <h2 class="list-item-title"> {{this.displayName}} </h2>
                    <div class="topic-description">
                        <p class="text list-header-line-clamp"> {{this.description}} </p>
                    </div>
                </div>
                <span class="icon-circle-chevron-down accordion-icon" role="button" aria-expanded="false" tabindex="0"></span>

            </div>

            <div class="details-container">
                <div class="web-spinner" {{#if hbs.isAuthor}} style="display:none;" {{/if}}>
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 547'%2F%3E"  width="1082" height="547" style="height: 400px;" class="desktop-only img-responsive" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 640 580'%2F%3E"  width="640" height="580" class="mobile-only img-responsive" />
                </div>
                <div class="content-wrapper" data-authorlink="{{this.topicDetailsUrl}}" data-showall="{{hbs.blogTopicList.seeAllOfLabel}}"></div>
                <div class="no-results hidden">
                    <div class="no-results-wrapper" tabindex="0">
                        <h3>{{hbs.blogTopicList.noTopicsFoundLabel}}</h3>
                        <p>{{hbs.blogTopicList.checkLaterLabel}}</p>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<!-- End Component: TouchBlogTopicList -->
