<section class="module-tmpl-photo-gallery">
    <div class="row visible-sm-block visible-md-block visible-lg-block">
        <div class="col-md-12 bread-crumb-full">
            <div class="inner-container">
                {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb"}}
            </div>
        </div>

    </div>

    <div class="row">
         <div class="tmpl-row col-md-12 full-page-title" data-desktop-cell="1" data-mobile-cell="1">
            <div class="inner-container">
            {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>

    <div class="inner-container">
        <div class="row">
            <div class="col-md-12 col-full-width">
                <div class="row">
                    {{ include "imagegallery" resourceType="/apps/kpmgpublic/components/media/imagegallery"}}
                </div>

                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell5"}}
                <div class="row mid-row">
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell5"}}
                </div>
                {{/render}}
            </div>
        </div>
    </div>

</section>