<template id="legacy-learn-more-trigger-component-template">
    <a
        class="
            legacy-learn-more-trigger-component vue-component
        "

        :data-uri="(vm.url.indexOf('/content/kpmgpublic/') > -1) ? vm.url : '/content/kpmgpublic' + vm.url"

        :href="(vm.url.indexOf('/content/kpmgpublic/') > -1) ? vm.url.substr(19) : vm.url"
        :data-modal-url="(vm.url.indexOf('/content/kpmgpublic/') > -1) ? vm.url.substr(19) : vm.url"
        :data-remote="(vm.url.indexOf('/content/kpmgpublic/') > -1) ? vm.url.substr(19) : vm.url"
        data-name="learnmore"
        data-target="#kpmgModal"
        data-toggle="modal" 	
        data-backdrop="static"
        oncontextmenu="return false"
    >
            \{{ vm.label }}
    </a>
</template>