@import url('../../global/css/_variables.less');
.module-touch-inlinelist {
    padding: 10px;
    .inlinelist-listingGroup {
        background: @white;
        padding: 0px;
        .mCSB_dragger_bar {
            width: 5px !important;
        }
        .mCSB_draggerRail {
            background: @gray-87 !important;
        }
        .mCSB_dragger_bar {
            background: @pale-blue !important;
        }
        .mCSB_dragger_bar:hover {
            background: @medium-blue !important;
        }
        .tertiary-head {
            .promo-title(@kpmg-blue);
            .hyphen;
            font-size: 24px;
            padding: 15px;
            margin: 0;
            color: @white;
            background-color: @black;
        }
        h4.inlinelist-sub {
            .promo-title(@gray-20);
            .hyphen;
            margin: 15px;
        }
        ul.inlinelist-listingGroupLinks {
            background-color: @green1;
            margin-top: 5px;
            padding: 0 15px;

            li.inlinelist-listingGroupLink {
                margin: 1px;
                border-bottom: 1px dashed @white;
                .missing_links {
                    padding: 15px 0;
                    .promo-details(@gray-40);
                    display: block;
                    color: @gray-40;
                }
                a {
                    .promo-details(@medium-blue);
                    padding: 15px 0;
                    display: block;
                    color: @white;
                    .hyphen;
                }
                a:hover {
                    text-decoration: underline;
                }
                &:last-child {
                    border-bottom: none;
                }
                .noLink {
                    .promo-details(@gray-20);
                    padding: 15px 0;
                    display: block;
                    color: @gray-20;
                }
            }
        }
    }
}
