.type-ahead-component {
	div.input-group input.type-ahead-select{
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}
	div.dropdown-menu-list.dropdown-menu.hasItems {
		position:absolute !important;
		width: 100% !important;
		display: block;
		left: -30px;
		right:-20px;
		border-top: 0;
		color: #666;
		@media screen and (min-width: 1100px) {
			top:116%;
			z-index: 1;
		}
		@media screen and (min-width: 1100px) {
			top: 121%;
		}
		ul {
			li{
				padding: 5px .50rem;
				padding-left: 30px;
				margin: 0px .25rem;
				cursor: pointer;
				border-radius: 4px;
				cursor: pointer;
				&:hover, &.active {
					background-color: #f1f2f3;
				}
			}
		}
	}
}
@media screen and (min-width:1100px) {
	.type-ahead-component {
		div.dropdown-menu-list.dropdown-menu.hasItems {
			top: 28px;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
		}
		.desktop {
			display: inline-block;
		}
		.mobile {
			display: none;
		}
	}
}
@media screen and (max-width:1099px) {
	.type-ahead-component {
		.desktop {
			display: none;
		}
		.mobile {
			display: inline-block;
		}
	}
}