@import "../../global/css/_variables.less";
.utility-lang li span a:hover {
    text-decoration: none;
}
.module-quickselectoroverlay {
    display: none;
    top: 4.6rem;
/*    left: -210px;*/
    right: -9.95rem;
    min-width: 320px;
    position: absolute !important;
    overflow: hidden;
    border-left: 1px solid @gray-60;
    border-bottom: 5px solid @gray-60;
    border-right: 1px solid @gray-60;
    padding: 10px;
    background: @gray-96;
    z-index: 9999 !important;
    margin-bottom: 0 !important;
    .quickselectoroverlay-container {
      padding:10px;
    }
    span {
        font-size: 16px !important;
        font-size: 1.6rem !important;
    }
    #quickselectoroverlay-language {
        padding-right: 0px !important;
        padding-right: 0rem !important;
    }
    .bg-white {
        padding: 10px;
        padding: 1rem;
        padding-bottom: 15px !important;
        background-color: rgba(255, 255, 255, 1);
    }
    .quickselectoroverlay-uppercase {
        color: @gray-87 !important;
        font-weight: normal !important;
    }
    .quickselectoroverlay-component-link {
        padding-left: 0;
        .promo-title(@gray-40);
    }
    .quickselectoroverlay-bottom-padding {
        margin-bottom: 10px;
        margin-bottom: 1rem;
        padding-bottom: 24px;
    }
    .quickselectoroverlay-list,
    .quickselectoroverlay-list span {
        margin-bottom: 5px !important;
        margin-bottom: 0.5rem !important;
        text-align: left !important;
        margin-top: 9px;
        margin-left: 24px;
    }
    .quickselectoroverlay-list span {
        margin: 0 5px 0 0 !important;
    }
    ul.quickselectoroverlay-list.first-list {
        margin-top: 10px !important;
    }
    ul.quickselectoroverlay-list.global-language {
        margin: 0px 0px 12px 0px !important;
        /*margin-top: 10px !important;
          margin-bottom: 10px !important;*/
    }
    ul.quickselectoroverlay-list {
        &:last-child {
            margin-top: 10px !important;
            margin-bottom: 0px !important;
        }
    }
    .quickselectoroverlay-head() {
        .quickselectoroverlay-uppercase;
        color: @light-blue !important;
        font-size: 16px !important;
        font-size: 1.6rem !important;
    }
    .quickselectoroverlay-list {
        margin: -11px 0px -3px -18px;
        line-height: 60%;
    }
    .icon-checkmark {
        color: @light-blue !important;
    }
    /*.quickselectoroverlay-hidden {
        color: @white !important;
    }*/
    .quickselectoroverlay-foot {
        .quickselectoroverlay-head;
        color: @black;
    }
    .icon-chevron-right {
        //color: @light-green !important;
    }
    .quickselectoroverlay-list {
        /*width: 100% !important;*/

        height: auto !important;
        text-align: left !important;
        overflow: hidden;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
        float: left;
        clear: both;
/*        left: -18px;*/
    }
    .quickselectoroverlay-list-item {
        margin: 10px 0;
        margin: 0 0 5px 0;
        display: block !important;
        text-align: left !important;
    }
    .quickselectoroverlay-list-item-link() {
        .font-size(1.4);
        line-height: 17px;
        line-height: 1.7rem;
        position: relative;
        /*width: 100% !important;*/

        padding-right: 20px;
        padding-right: 2rem;
        display: block !important;
        text-transform: none;
        display: inline !important;
    }
    .quickselectoroverlay-list-item-link-normal {
        .quickselectoroverlay-list-item-link;
        color: @gray-40!important;
        font-weight: normal;
        /*padding-left: 6px;*/
    }
    .quickselectoroverlay-list-item-link-normal:hover {
        text-decoration: underline !important;
    }
    .quickselectoroverlay-list-item-link-disabled {
        .promo-title(@gray-20) !important;
        text-decoration: none !important;
        cursor: default;
    }
    a.component-link {
        color: @gray-40 !important;
        .font-size(1.4);
        /*margin-left: 4px;*/
    }
    .quickselectoroverlay-primary-head {
        .promo-title(@kpmg-blue);
        margin: 8px 0;
    }
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}
@media (min-width: @desktop-min-fixed) {
    .module-quickselectoroverlay {
        top: 485px;
        top: 5.8rem;
/*        left: 295px !important;
        left: 29.5rem !important;*/
        right: 9px;

        .quickselectoroverlay-list {
            left: 0;
            li {
                margin: 2px;
                &.focusOutline {
                    box-shadow: 0 0 3px @gray-40;
                    outline: 1px solid @grey-text-transparent;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
@media (min-width: @desktop-min-fluid) {
    .module-quickselectoroverlay {
        top: 485px;
        top: 5.8rem;
        span.icon-chevron-right {
            margin-left: 0px !important;
        }
        .quickselectoroverlay-list {
            left: 0px !important;
            span {
                margin-left: 0px;
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width: 640px)  {
    .module-quickselectoroverlay {
      //  min-width: 360px;
    }
}
@media only screen and (min-width:641px) and (max-width: 980px)  {
    .global-nav .nav-utility {
        width: 98.6% !important;
    }
}
/*@media (min-width: 1100px) {
    .module-quickselectoroverlay {
        left: 393px !important;
        left: 39.3rem !important;
    }
}*/
