<section class="module-campaignpagetitle component self-contained">
    {{#if hbs.campaignPageTitle.imageConfigExists}}
        <div data-picture data-alt='{{hbs.campaignPageTitle.imageAltText}}'>
            {{#hbs.campaignPageTitle.imageConfig}}
            <div data-src="{{hbs.globalValues.assetDomainName}}{{hbs.campaignPageTitle.image}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div> 
            {{#if @last}}
                    <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{imageAltText}}" />
            {{/if}}
            {{/hbs.campaignPageTitle.imageConfig}}
            
        </div>
    {{else}}
        {{#if hbs.campaignPageTitle.image}}
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 378'%2F%3E" data-src="" data-desktop="{{hbs.globalValues.assetDomainName}}{{ hbs.campaignPageTitle.image}}/jcr:content/renditions/cq5dam.web.1082.378.jpg" data-mobile="{{hbs.globalValues.assetDomainName}}{{ hbs.campaignPageTitle.image}}/jcr:content/renditions/cq5dam.web.640.490.jpg" class="img-responsive campaign-image lazy" alt="{{hbs.campaignPageTitle.imageAltText}}"   title="{{hbs.campaignPageTitle.imageAltText}}"  />
        {{/if}}
    {{/if}}
	<div class="mobile-silver mobile-only"></div>
    <div class="col-md-5 col-xs-6 campaign-content">
        {{include "share" resourceType="/apps/kpmgpublic/components/social/share"}}
        <h1 class="campaign-title alt-secondary-head desktop-only">{{ hbs.campaignPageTitle.title.long }}</h1>
        <h1 class="campaign-title alt-secondary-head mobile-only">{{ hbs.campaignPageTitle.title.short }}</h1>
        
        <p class="campaign-description desktop-only">{{ hbs.campaignPageTitle.description.long }}</p>
        <p class="campaign-description mobile-only">{{ hbs.campaignPageTitle.description.short }}</p>

        {{#if hbs.campaignPageTitle.text }}
        <div class="campaign-details">
            {{#each hbs.campaignPageTitle.text }}
            <p class="campaign-copy">{{ this }}</p>
            {{/each}}
        </div>
        {{/if }}

        <div class="campaign-ctas">
            {{#if hbs.campaignPageTitle.primaryCTA.label }}
                <a href="{{hbs.campaignPageTitle.primaryCTA.url}}" title="{{ hbs.campaignPageTitle.primaryCTA.label }}" class="cta">
                    <span class="icon-chevron-right"></span>
                    <span class="btn-copy">{{hbs.campaignPageTitle.primaryCTA.label}}</span>
                </a>
            {{/if }}
            <hr class="desktop-only" />
            {{#if hbs.campaignPageTitle.secondaryCTA.label }} 
                {{#if hbs.campaignPageTitle.secondaryCTA.label }}
                <a href="{{ hbs.campaignPageTitle.secondaryCTA.url}}" title="{{ hbs.campaignPageTitle.secondaryCTA.label }}" class="cta">
                    <span class="icon-chevron-right"></span>
                    <span class="btn-copy">{{hbs.campaignPageTitle.secondaryCTA.label}}</span>
                </a>
                {{else}} 
                <a href="{{ hbs.campaignPageTitle.secondaryCTA.url}}" title="{{i18n hbs.campaignPageTitle.secondaryCTALabel}}" class="cta">
                    <span class="icon-chevron-right"></span>
                    <span class="btn-copy">{{i18n hbs.campaignPageTitle.secondaryCTALabel}}</span>
                </a>
                {{/if }}
            {{/if }}
        </div>
    </div>
</section>