<div class="communication-preferences">
    {{#if isContentExist}}
        <div class="optin-wraper"> 
            {{#if subscriptionPreference.includeInSite}}
                <div class="subscription-optin" tabindex="0" aria-label="{{subscriptionPreference.description}}">
                    <label class="preference-optin-container" tabindex="-1">{{{subscriptionPreference.description}}}
                        <input type="checkbox" class="subscription-optin-checkbox" tabindex="-1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            {{/if}}
            {{#if communicationPreference.includeInSite}}
                <div class="communication-optin" tabindex="0" aria-label="{{communicationPreference.description}}">
                    <label class="preference-optin-container" tabindex="-1">{{{communicationPreference.description}}}
                        <input type="checkbox" class="communication-optin-checkbox" tabindex="-1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            {{/if}}
        </div>
        
        <div class="communication-preferences-search-container">
            <div class="communication-preferences-searchbar">
                <input id="communicationsearchbar" type="text" placeholder="{{placeholdertextforfiltersubscriptions}}" autocomplete="on">
            </div>

            <div class="selected-interests-header-text">{{selectedinterestslist}}</div>
            <div class="communication-preferences-tags"></div>
        </div>
        <div class="communication-preferences-subscribedList">
            <div class="interests-based-subscription-text onboarding">{{onboardingbasedsubscriptiontitle}}</div>
            <div class="interests-based-subscription-text">{{interestsbasedsubscriptiontitle}}</div>
            <div id="selectedSubscriptionList"></div>
        </div>
        <div class="subscription-list-wraper">
            <div class="subscription-interest-in-title">{{subscriptionsinterestedintitle}}</div>
            {{#if groupEnabled}}
            <div class="groupListing">
                {{#each groupList}}
                    <!-- <div class="groupHeader">Group 1</div> -->                    
                    <ul class="col-md-12 px-0 subscription-list">
                        <li class="groupHeader">{{groupname}}</li>
                        {{#each subscriptions}}
                                <li class="list-item {{#if privateFlag}}private{{/if}}" 
                                        data-subscription-id="{{gigyamapping}}"
                                        data-external-id="{{externalid}}"
                                        data-frequency="{{frequency}}"
                                        data-title="{{title}}">
                                    <div class="communication-subscriptions-row" tabindex="0">
                                        <div class="row mx-0 title-wrapper" aria-label="enable or disable {{title}}">
                                            <div class="title col-md-6" aria-label="enable or disable {{title}}">{{title}}</div>
                                            <div class="frequency-wrapper col-md-6" aria-label="enable or disable {{title}}">
                                                <label for="subscription switch" class="subscription-switch mb-0" aria-label="enable or disable {{title}}" tabindex="-1">
                                                    <input type="checkbox" tabindex="-1">
                                                    <span class="slider"></span>
                                                </label>
                                                <div class="frequency hidden-xs">{{frequencytext}}</div>
                                            </div>
                                        </div>
                                        <div class="row mx-0">
                                            <p class="description col-md-12 mb-0">{{description}}</p>
                                            <p class="frequency visible-xs">{{frequencytext}}</p>
                                        </div>
                                    </div>
                                </li>
                        {{/each}}
                    </ul>
                {{/each}}
                </div>
            {{else}}                
                <ul class="col-md-12 px-0 subscription-list">
                    {{#each subscription}}
                            <li class="list-item {{#if privateFlag}}private{{/if}}"
                                    data-subscription-id="{{gigyamapping}}"
                                    data-external-id="{{externalid}}"
                                    data-frequency="{{frequency}}"
                                    data-title="{{title}}">

                                <div class="communication-subscriptions-row" tabindex="0">
                                    <div class="row mx-0 title-wrapper" aria-label="enable or disable {{title}}">
                                        <div class="title col-md-6" aria-label="enable or disable {{title}}">{{title}}</div>
                                        <div class="frequency-wrapper col-md-6" aria-label="enable or disable {{title}}">
                                            <label for="subscription switch" class="subscription-switch mb-0" aria-label="enable or disable {{title}}" tabindex="-1">
                                                <input type="checkbox" tabindex="-1">
                                                <span class="slider"></span>
                                            </label>
                                            <div class="frequency hidden-xs">{{frequencytext}}</div>
                                        </div>
                                    </div>
                                    <div class="row mx-0">
                                        <p class="description col-md-12 mb-0">{{description}}</p>
                                        <p class="frequency visible-xs">{{frequencytext}}</p>
                                    </div>
                                </div>
                            </li>
                    {{/each}}
                </ul>
            {{/if}}            
        </div>
        <div class="email-checkbox-wrapper {{#if isSubscriptionExist}}include-email{{/if}}">
            {{#if isSubscriptionExist}}
                <label class="email-checkbox-container disable-action" aria-label="enable or disable {{emailDescription}}">
                    <p class="mb-0">{{{emailDescription}}}</p>
                    <input type="checkbox" class="email-checkbox">
                    <span class="checkmark"></span>
                </label>
            {{/if}}
            <div class="btn-wraper">
                <button class="cancel-btn col-md-5 hidden-xs disable-action">
                    <span class="text">{{cancelLabel}}</span>
                </button>
                <button class="save-changes-btn col-md-12 visible-xs disable-action">
                    <span class="text">{{saveLabel}}</span>
                </button>
                <div class="separator visible-xs"></div>
                <button class="save-changes-btn col-md-5 pull-right hidden-xs disable-action">
                    <span class="text">{{saveLabel}}</span>
                </button>
                <button class="cancel-btn col-md-12 visible-xs disable-action">
                    <span class="text">{{cancelLabel}}</span>
                </button>
            </div>
        </div>
    {{else}}
        <div class="subscriptions-empty">
            <h2 class="empty-title">{{nosubscription.title}}</h2>
            <div class="description-wrapper">
                <p class="heading">{{nosubscription.description}}</p>
                <p class="desc">- {{nosubscription.description1}}</p>
                <p class="desc">- {{nosubscription.description2}}</p>
                <p class="desc">- {{nosubscription.description3}}</p>
            </div>
        </div>
    {{/if}}
</div>
