@import "../sub-components/mobile-secondary-nav-list/css/mobile-secondary-nav-list";
@import "../sub-components/mobile-primary-nav-list/css/mobile-primary-nav-list";
@import "../sub-components/mobile-nav-collapse-trigger/css/mobile-nav-collapse-trigger";
@import "../sub-components/mobile-nav-sub-list-group/css/mobile-nav-sub-list-group";
@import "../sub-components/collapse-cancel-trigger/css/collapse-cancel-trigger";
//
@import "../sub-components/mobile-nav-language-locale-tab-content/css/mobile-nav-language-locale-tab-content";
@import "../sub-components/mobile-nav-search-tab-content/css/mobile-nav-search-tab-content";
@import "../sub-components/mobile-nav-user-profile-tab-content/css/mobile-nav-user-profile-tab-content";

@import "../sub-components/mobile-nav-tab/css/mobile-nav-tab";

@import "../sub-components/mobile-nav-tab-collapse-triggers/css/mobile-nav-tab-collapse-triggers";
@import "../sub-components/mobile-nav-tab-menu/css/mobile-nav-tab-menu";

@import "../sub-components/mobile-nav-menu-tabs/css/mobile-nav-menu-tabs";

@import "../sub-components/mobile-nav-slide-menu/css/mobile-nav-slide-menu";

@import "../sub-components/mobile-slide-menu-toggle-trigger/css/mobile-slide-menu-toggle-trigger";

@import "../sub-components/mobile-menu-toggle-and-menu/css/mobile-menu-toggle-and-menu";

@import "../sub-components/sub-list-item/css/sub-list-item";

@import "../sub-components/link-label-with-chevron/css/link-label-with-chevron";
@import "../sub-components/radio-label/css/radio-label";

.mobile-navbar-component{
    .navbar{
        display: block !important;
        text-align: center;
        min-height:58px;
        border: none !important;
        .navBackdrop{
            height: 57px;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
}
