@import url('../../global/css/_variables.less');
.module-trendinglist {
    padding: 10px;
    .no-highlight {
        width: 100% !important;
        height: 100% !important;
    }
    .col-md-12.trendinglist-listingGroup {
        background: @white;
        padding: 0px;
        min-height: 275px;
        max-height: auto;
        .tertiary-head {
            .component-title(@kpmg-blue);
            margin: 0 0 10px 0;
        }
        ul.trendinglist-listingGroupLinks {
            li.trendinglist-listingGroupLink {
                margin: 1px;
                padding-right: 5px;
                .missing_links {
                    padding: 10px 0px;
                    .promo-details(@gray-40);
                    display: block;
                }
                a {
                    padding: 10px 0px;
                    .promo-details(@gray-40);
                    display: table;
                    table-layout: fixed;
                    .hyphen;
                    .trendinglist-content:hover {
                        text-decoration: underline;
                    }
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    .content-text {
                        display: block;
                        .hyphen;
                    }
                }
                span.icon-chevron-right {
                    color: @light-green;
                    .font-size(1.6);
                    width: 16px;
                   &:before {
                        margin: 0 0 0 5px !important;
                    }
                }
                &:first-child {
                    background: none;
                }
                &:first-child:before {
                    display: none;
                }
                &:before {
                    .dotted-lightblue;
                }
            }
        }
    }
}