@import url('../../global/css/_variables.less');
@import url('../../socialchannels/css/socialchannels.less');
.privacy-container {
    position: fixed;
    z-index: 199;
    width: 100%;
    background: @gray-96;
    color: @gray-20;
    border-top: 5px solid @gray-60;
	bottom:0px;
    .close-anchor {
        display:  block;
        position:  absolute;
        right:  15px;
        padding:  3px 6px; 
        text-decoration:  none;
        color:#fff;
        font-size:15px;
        cursor:  pointer;
    }
    #policyConsent {
        margin-top:10px;
        margin-left:0px;
        margin-right: 5px;
        position: relative;
        top: 2px; 
    }
    .privacy-prefix {
        margin: 7px 0;
        line-height: 1.3 !important;
        a.focusOutline{
            box-shadow: 0 0 3px @medium-blue;
            outline: 1px solid @kpmg-blue-transparent;
            text-decoration: underline;
        }
    }
    .privacy-anchor {
        color:@medium-blue;
        &:hover{
            text-decoration: underline;
        }
    }
    .privacy-inner {
        padding: 10px;
        position: relative;
        font-size: 14px;
        color: @gray-20;
    }
    .privacy-overlay{
        margin:7px 0;
        display: block;
        cursor: default;
        label[for=policyConsent]{
            .promo-details(@gray-20);
            display: inline-block;
            cursor: pointer;
            padding: 0;
            font-weight: normal;
            line-height: 1.2 !important;
            &:before {
                content: "\e90a";
                font-family: 'icomoon';
                display: inline-block;
                border: 1px solid @gray-20;
                color: @white;
                background-color: @white;
                text-align: center;
				line-height: 125%;
                width: 16px;
                height: 16px;
                margin: 0 10px 0 0;
                speak: none;
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
		.useragent_ie:before {
			line-height: 110% !important;
		}
        label:hover[for="policyConsent"]:before {
	        border: 1px solid @kpmg-blue;
        }
        input[type=checkbox]#policyConsent {
            display: none;
        }
        input[type=checkbox]#policyConsent:checked + label[for=policyConsent]:before {
            color: @medium-blue;
        }
    }
    .privacy-overlay.focusOutline{
        label[for=policyConsent]:before {
            box-shadow: 0 0 3px @kpmg-blue;
            outline: 1px solid @kpmg-blue-transparent;
        }
    }
    .btn-close-main{
        .page-description(@gray-40);
        text-align: right;
        display: block;
        line-height: 1.2 !important;
        &:hover {
            cursor: default;
        }
    }
    .btn-close-main.focusOutline{
        .btn-close{
            box-shadow: 0 0 3px @gray-40;
            outline: 1px solid @grey-text-transparent;
            .btn-copy{
	            text-decoration: underline;
            }
        }
    }
    .btn-close:hover {
        cursor: pointer;
        & .btn-copy{
	        text-decoration: underline;
        }
    }
    
    @media (min-width: @desktop-min-fluid) {
        .privacy-inner {
            width: 1102px;
            margin: 0 auto;
            padding: 10px 0;            
        }    
        .close-anchor {
            bottom:  -20px;
        }
    }
    @media screen and (max-width: 1024px) {
        .privacy-inner {
            width: 100% !important;
            padding: 10px !important;
        } 
    }
}

.module-footer {
    overflow: hidden;
    border-top: 5px solid @light-blue;    
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    &.component {
        margin: 0;
        padding: 0;
    }
    .footer-footerText-content {
        p {
            .disclaimer-copyright();
        }
    }
    .footer-and-social-links {
        padding: 16px 10px 10px;
        display: table;
        font-family:@arial;
        /*max-width: 1100px;*/
        margin: 0 auto;
        .footer-Links {
            .focusOutline {
                text-decoration: underline;
            }
        }
        .footer-Links {
            float: none;
            display: table-footer-group;
            ul.links {
                float: left;
                padding: 4px 4px 4px 0;
                margin: 3px 26px 3px 0;
                .line-height(6.1);
                li {
                    float: left;
                    min-width: 40px;
                    margin: 0;
                    padding-top: 0;
                    .set-font-size(1.6);
                    width: 50%;
                    a {
                        color: @gray-40;
                        text-decoration: none;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
            .footer-padding {
                padding-left: 1.5em;
                padding-left: 15px;
            }
        }
        .footer-socialchannelLinks {
            padding-bottom: 16px; 
            float: none;
            display: inline-block;
            .socialchannel-links {
                float: left;
                /*li {
                    padding: 10px;
                }*/
            }
        }
    }
    .footer-footerText {
        background-color: @gray-87;
        /*text-align: center;*/
        text-align: left;
        /*margin: 10px 0px;*/
        color: @gray-20;
        p {
            .set-font-size(1.4);
        }
    }

    .cookieprivacymodal-overlay{
        height : 125px ;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
        background : #002D84 ;
        background : linear-gradient(to right, #002d84, #00338d, #009fda) repeat scroll 0 0 rgba(0, 0, 0, 0) ;
    }

    .cookieprivacymodal-content{
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        color : #fff ;

        .cookie-privacy-details{
            width : 70%;
            margin:20px 15% 20px auto ; 
        }

        p{
            margin : 5px ;
        }

        button {
            background: none repeat scroll 0 0 #9e3039;
            border-radius: 3px;
            font-size: 15px;
            padding: 5px 10px;
            border: none;
            margin: 10px 10px 0 5px;           
        }

        a{
            color : #fff ;
            text-decoration : underline
        }

    }
    .footer-footerText-content {
        .footer-and-social-links;
        padding: 0px;
        max-width: 95%;
    }
}
@media (min-width:@desktop-min-fixed) {
    .module-footer {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
        .footer-and-social-links {
            padding: 16px 0;
            .footer-Links {
                display: table-cell;
                float: none;
                /*height: 65px;*/
                vertical-align: middle;
                ul.links {
                    padding: 4px 4px 4px 0;
                    margin: 3px 26px 3px 0;
                    .promo-details(@gray-40);
                    li{
                        margin-right: 2.7em;
                        width:auto;
                        padding-bottom: 10px;
                        a::after {
                            display:block;
                            content:attr(title);
                            font-weight:bold;
                            height:1px;
                            color:transparent;
                            overflow:hidden;
                            visibility:hidden;
                            margin-bottom:-1px;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    li:last-child {
                        margin-right: 0;
                    }
                }
                .footer-padding {
                    padding-left: 0em;
                    padding-left: 0px;
                }
            }
            .footer-socialchannelLinks {
                /*padding-right: 4px;*/
                padding-bottom: 0px;
                display: table-cell;
                float: none;
                /*height: 65px;*/
                vertical-align: middle;
                .socialchannel-links {
                    float: right;
                }
                .socialchannel-links li {
                    margin-right: 0px;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    padding: 0px 10px;
                }
            }
        }
    }
}
@media (min-width: @desktop-min-fluid) {
    .module-footer { 
        // everything in here will be for breakpoint at 980px and up
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }


 .footer-and-social-links {
            padding: 16px 0;
            .footer-Links {
                display: table-cell;
                float: none;
                /*height: 65px;*/
                vertical-align: middle;
                ul.links {
                    padding: 4px 4px 4px 0;
                    margin: 3px 26px 3px 0;
                    .promo-details(@gray-40);
                    li{
                        margin-right: 2.5em;
                        width:auto;
                        padding: 3px;
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
                .footer-padding {
                    padding-left: 0em;
                    padding-left: 0px;
                }
            }
            .footer-socialchannelLinks {
                /*padding-right: 4px;*/
                padding-bottom: 0px;
                display: table-cell;
                float: none;
                /*height: 65px;*/
                vertical-align: middle;
                .socialchannel-links {
                    float: right;
                }
                .socialchannel-links li {
                    margin-right: 0px;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    padding: 10px;
                }
            }
        }


    }
}
@media (max-width:640px) {
    .module-footer {
        .module-socialchannels {
            padding: 0px;
            ul.socialchannel-links li {
                margin: 0 10px;
                padding-top: 1px;
                padding-bottom: 1px;
            }
            ul.socialchannel-links li {
                padding: 0px !important;
                &:first-child {
                    margin: 0 10px 0 0;
                }
                &:last-child  {
                    /*padding-top: 1px;
                    padding-bottom: 1px;
                    margin: 0px 10px 0px 0px !important;*/
                   
                }
            }
        }
    }

    .module-footer .footer-and-social-links .footer-Links ul.links {
        .fine-print(@gray-40);        
    }

    .module-footer .footer-and-social-links .footer-Links ul.links li {
        width: 50%;
    }

    .module-footer .footer-and-social-links .footer-Links .footer-padding {
        padding-left: 10%; 
    }
}

@media (min-width: 641px) {
  .module-footer {
    width: 979px;
    //padding-left: 18px;
    //padding-right: 18px;
  }
}

@media (min-width: 980px) {
   .module-footer {
    width: 100%;
  }
}

@media (min-width: 1140px) {
    .module-footer {
        width: 100%;
        .footer-and-social-links {
            width: 1100px;
        }
        .footer-footerText-content {
            max-width: 1100px;
        }
    }
}