<!-- Begin Component: LoginDone -->
<section class="module-login-done component hidden">

    <div class="modal fade login-done-modal" role="dialog" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <span class="icon-close btn-close close" data-dismiss="modal">
                        <span class="sr-only">{{i18n "kpmg.personalization.myaccount.deleteaccount.closelink"}}</span>
                    </span> -->
                    <h4 class="heading"></h4>
                </div>
                <div class="modal-body">
                    <div class="modified-msg">
                        <div class="description"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" x-cq-linkchecker="skip" class="btn btn-default col-md-6 return-to-article" title='{{i18n "kpmg.personalization.gigya.registration_done_screen_return_to_my_article"}}'>
                        <span class="icon-chevron-left"></span>
                        <span>{{i18n "kpmg.personalization.gigya.registration_done_screen_return_to_my_article"}}</span>
                    </a>
                    <a href="#" x-cq-linkchecker="skip" class="btn btn-continue col-md-6 go-to-dashboard" title='{{i18n "kpmg.personalization.gigya.registration_done_screen_go_to_mykpmg"}}'>
                        <span>{{i18n "kpmg.personalization.gigya.registration_done_screen_go_to_mykpmg"}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Component: LoginDone -->
