<!-- DROP DOWN SELECTIONS -->
<div class="container p-0 article-filters">

    <!-- ARTICLE FILTERS DATA -->
    <div id="latest-thinking-articles-filter-data" class="position-fixed d-none" data-article-filters='{
          "sort": "{{ hbs.latestthinking.DisplaySortOption }}"
        }'></div>

    <!-- MOBILE VIEW -->
    <div id="latest-thinking-mobile-article-filters" class="d-lg-none row m-0 justify-content-center">
        <form>
            <select class="filter active" data-q1="{{#each hbs.latestthinking.ddtTagList}}{{this.tagId}}{{#unless @last}}|{{/unless}}{{/each}}">
                <option value="View All" selected="selected">
                    {{ hbs.latestthinking.ViewAllTag }}
                </option>
                <optgroup label="{{ hbs.latestthinking.ViewByServiceTag }}">
                    {{#each hbs.latestthinking.serviceTagList }}
                        <option data-x5="KPMG_Ser_Path_Loc_pa" data-q5="{{this.tagName}}" value="View By Service: {{this.tagName}}">{{ this.tagName }}</option>
                    {{/each}}
                </optgroup >
                <optgroup label="{{ hbs.latestthinking.ViewByCapabilityTag }}">
                    {{#each hbs.latestthinking.capabilityTagList }}
                        <option data-x5="KPMG_Topic_ID" data-q5="{{this.tagId}}" value="View By Capability: {{this.tagName}}">{{ this.tagName }}</option>
                    {{/each}}
                </optgroup>
            </select>
        </form>
    </div>

    <!-- DESKTOP VIEW -->
    <div id="latest-thinking-desktop-article-filters" class="d-none d-lg-flex row m-0 justify-content-center">
        <form>

            <!-- VIEW ALL BUTTON -->
            <input type="button" data-q1="{{#each hbs.latestthinking.ddtTagList}}{{this.tagId}}{{#unless @last}}|{{/unless}}{{/each}}" value="{{ hbs.latestthinking.ViewAllTag }}" class="filter active"/>

            <!-- VIEW BY SERVICE -->
            <label for="latest-thinking-service" class="sr-only">{{ hbs.latestthinking.ViewByServiceTag }}</label>
            <select id="latest-thinking-service" class="filter" data-q1="{{#each hbs.latestthinking.ddtTagList}}{{this.tagId}}{{#unless @last}}|{{/unless}}{{/each}}">
                <option selected="selected" value="View All">
                    {{ hbs.latestthinking.ViewByServiceTag }}
                </option>
                {{#each hbs.latestthinking.serviceTagList }}
                    <option data-x5="KPMG_Ser_Path_Loc_pa" data-q5="{{this.tagName}}" value="View By Service: {{this.tagName}}">{{ this.tagName }}</option>
                {{/each}}
            </select>
            <label for="latest-thinking-capability" class="sr-only">{{ hbs.latestthinking.ViewByCapabilityTag }}</label>

            <!-- VIEW BY CAPABILITY-->
            <select id="latest-thinking-capability" class="filter" data-q1="{{#each hbs.latestthinking.ddtTagList}}{{this.tagId}}{{#unless @last}}|{{/unless}}{{/each}}">
                <option selected="selected" value="View All">
                    {{ hbs.latestthinking.ViewByCapabilityTag }}
                </option>
                {{#each hbs.latestthinking.capabilityTagList }}
                    <option data-x5="KPMG_Topic_ID" data-q5="{{this.tagId}}" value="View By Capability: {{this.tagName}}">{{ this.tagName }}</option>
                {{/each}}
            </select>
        </form>
    </div>

</div>