<!-- Begin Component: TouchAuthorListHeader -->
<div class="module-touch-author-list-header component">
    <div class="inline-list-elements" tabindex="0" data-author-name="{{hbs.authorListHeader.pagePath}}">
        <div class="img-wrapper">
            <span class="blue-strip"></span>
            <picture>
                <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.authorListHeader.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                    media="screen and (min-width: 641px) and (max-width: 9440px)">
                <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.authorListHeader.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                    media="screen and (min-width: 0px) and (max-width: 640px)">
                <img class="author-list-header-img" src="{{hbs.globalValues.assetDomainName}}{{hbs.authorListHeader.image}}/jcr:content/renditions/cq5dam.web.310.190.jpg"
                    alt="{{hbs.authorListHeader.altText}}" title="{{hbs.authorListHeader.altText}}"/>
            </picture>
        </div>
        <div class="list-header-info">
            <h2 class="list-item-title"> {{hbs.authorListHeader.firstName}} {{hbs.authorListHeader.lastName}}:
                <span class="tag-line-text"> {{hbs.authorListHeader.role}}, {{hbs.authorListHeader.areaOfExpertise}} </span>
            </h2>
            <div class="social-links">
                <a class="social-link email-me people-connect" href="javascript:void(0);" data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#kpmgModal" data-remote="{{hbs.authorListHeader.contactFormLink}}{{hbs.authorListHeader.authorPageLink}}">
                    <span class="icon-email-me-1"></span>
                    <span class="link-text">{{hbs.authorListHeader.emailMeLabel}} </span>
                </a>
                {{#if hbs.authorListHeader.socialMediaLink}}
                    <a x-cq-linkchecker="skip" data-stoptrack="true" class="social-link social-media" data-link-location="{{hbs.authorListHeader.firstName}} {{hbs.authorListHeader.lastName}}" target="_blank" rel="noopener noreferrer" href="{{hbs.authorListHeader.socialMediaLink}}">
                        <span class="icon-linkedin-profile-1"></span>
                        <span class="link-text">{{hbs.authorListHeader.socialProfileLabel}}</span>
                    </a>
                {{/if}}
                {{#if hbs.authorListHeader.kpmgProfileUrl}}
                    <a x-cq-linkchecker="skip" class="social-link kpmg-profile" data-link-location="{{hbs.authorListHeader.firstName}} {{hbs.authorListHeader.lastName}}" href="{{hbs.authorListHeader.kpmgProfileUrl}}">
                        <span class="icon-kpmg-profile"></span>
                        <span class="link-text">{{hbs.authorListHeader.kpmgProfileLabel}}</span>
                    </a>
                {{/if}}
            </div>
            <div class="author-description">
                <p class="text list-header-line-clamp"> {{hbs.authorListHeader.description}} </p>
            </div>
        </div>
    </div>
    <div class="details-container">
        <div class="row-same-height row-full-height content-wrapper"></div>
        <div class="no-results hidden" tabindex="0">
            <div class="no-results-wrapper">
                <h3 class="nocontent-header">{{hbs.authorListHeader.noAuthorContentFoundLabel}}</h3>
                <p class="nocontent-description">{{hbs.authorListHeader.checkLaterLabel}}</p>
            </div>
        </div>
        <div class="web-spinner" {{#if hbs.isAuthor}} style="display:none;" {{/if}}>
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 547'%2F%3E"  width="1082" height="547" style="height: 400px;" class="desktop-only img-responsive" />
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 640 580'%2F%3E"  width="640" height="580" class="mobile-only img-responsive" />
        </div>
    </div>
    <a x-cq-linkchecker="skip" class="view-author-spotlight" href="{{hbs.touchBlueBanner.authorURL}}" title="{{hbs.authorListHeader.viewAuthorSpotlightLabel}}">
        {{hbs.authorListHeader.viewAuthorSpotlightLabel}}
    </a>
</div>
<!-- End Component: TouchAuthorListHeader -->
