<!-- Begin Component: Caasdocumentheader -->
<section class="module-caasdocumentheader component">
    <header class="global-nav desktopNav" role="banner">
        <div class="wrapper inner-container">
            <!-- Logo at header -->
            <section class="header-logo">
                <div class="main-header">
                    <a class="navigation-logo" href="{{hbs.caasdocumentheader.homePageUrl}}">
                        <img class="img-responsive navigation-logo" src="{{hbs.globalValues.assetDomainName}}{{hbs.caasdocumentheader.logoImage}}" alt="{{hbs.caasdocumentheader.logoAltText}}" />
                    </a>
                </div>
            </section>
            <!-- Breadcum at header -->
            <a href="javascript:void(0);" id="caas-toggle-nav"><i class="icon-list-view mobile-nav-toggle"></i></a>
            <!-- CaaS Document title -->
            <div class="caas-document-title">
                <h1>{{hbs.caasdocumentheader.title}}</h1>
            </div>
            <!-- Search input box on CaaS document header -->
            {{ include "caasdocumentsearchresults" resourceType="/apps/kpmgpublic/components/caas/caasdocumentsearchresults"}}
        </div>
    </header>
</section>
<!-- End Component: Caasdocumentheader -->
