@import "../../global/css/_variables.less";
@import "../../global/css/vendor/_owl.carousel.less";

.owl-stage {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.module-herocarousel {
    cursor: pointer;
    .hero-extra-padding {
        height: 14px;
    }
    .icon-carousel-left, .icon-carousel-right {
        display: inline-block;
        background:@kpmg-blue;
        .font-size(5);
    }
    &.component {
        padding: 0; // we don't need this, it's full width
    }
    .carousel .slide .caption-wrapper{
        right: 0;
    }
    .owl-carousel {
        display: block;
        overflow: hidden;
    }
    .carousel {
        position: relative;
        .slides {
            position: relative;
        }
    }
    .slide {
        float: left;
        position: relative;
        overflow: hidden;
        img {
          position: relative;
          max-width: 100%;
          width:1082px;
          height:547px;
        }
        .caption-wrapper {
           &.variant_1, &.variant_2, &.variant_4 {
                .caption {
                    .slide-header  {
                          color: @white;
                    }
                }
            }
            &.variant_3, &.variant_5{
                .caption {
                    .slide-header  {
                        color: @kpmg-blue;
                    }
                }
            }
        }
        .hero-carousel-description {
            height: 102px;
            overflow: hidden;
            p {
                .promo-description(@white);
                margin: 7px 0 !important;
                &.variant_1, &.variant_2, &.variant_4 {
                    color: @white;
                }
                &.variant_3, &.variant_5{
                    color: @kpmg-blue;
                }
            }
        }
        .hero-carousel-description {
            p.desktop-only {
                .page-description(@white);
                margin: 0px !important;
                &.variant_1, &.variant_2, &.variant_4 {
                    color: @white;
                }
                &.variant_3, &.variant_5{
                    color: @kpmg-blue;
                }
            }
            p.hover {
                text-decoration: underline;
            }
        }
        .herocarousel-content {
            overflow: hidden;
            position: relative;
            padding-top: 10px;

            .author.mobile-only {
                position: absolute;
                top: 80px;
                text-transform: uppercase;
                font-style: italic;
            }

            .author.desktop-only {
                text-transform: uppercase;
                font-style: italic;
            }
        }
        .slide-header {
            .component-title(@white);
            margin: 0px;
        }
        .caption-wrapper {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            &.variant_1 {
            /*variant1-kpmg-blue*/
                background: -webkit-linear-gradient(left,rgba(0, 48, 135, 0.5), rgba(0, 48, 135, 0));
                background: -o-linear-gradient(right, rgba(0, 48, 135, 0.5) 0%, rgba(0, 48, 135,0) 100%);
                background: -moz-linear-gradient(right,rgba(0, 48, 135, 0.5) 0%, rgba(0, 48, 135,0) 100%);
                background: -ms-linear-gradient(left,rgba(0, 48, 135, 0.5) 0%, rgba(0, 48, 135, 0) 100%);
                background: linear-gradient(to right, rgba(0, 48,135, 0.5) 0%, rgba(0, 48, 135,0) 100%);
                //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00008B', endColorstr='#FFFFFFFF',GradientType=1 );
            }
            &.variant_2 {
            /*variant2-medium-blue*/
                background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
                background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0,0) 100%);
                background: -moz-linear-gradient(right,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0,0) 100%);
                background: -ms-linear-gradient(left,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0,0) 100%);
               // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4169E1', endColorstr='#FFFFFFFF',GradientType=1 );
            }
            &.variant_3 {
            /*variant3-purple*/
                background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
                background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                background: -moz-linear-gradient(right,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                background: -ms-linear-gradient(left,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
                //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF8B008B', endColorstr='#FFFFFFFF',GradientType=1 );
            }
            &.variant_4 {
                /*white on blue*/
                background: @kpmg-blue;
            }
            &.variant_5 {
                /*blue on white*/
                background: @white;
            }

            &.left {
                left: 0px !important;
            }

            .caption {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 20px 20% 10px 10px;

                a {
                    .cta-right(@white);
                    position: relative;
                    top: -1px !important;
                    font-family: @arial;
                    right: auto;
                        &:hover {
                        text-decoration: underline;
                    }
                }

                a.cta.desktop-only {
                    display: inline;
                }

                hr.desktop-only {
                    border: none;
                    height: 0px;
                    overflow: hidden;
                    margin: 10px 0 0 0;
                }
            }
        }
    }
    .carousel {
        .owl-nav {
            position: absolute;
            top: 90px;
            width: 100%;
            display: none;
        }
        .owl-prev,
        .owl-next {
            position: relative;
            width: 47px;
            height: 47px;
            overflow: hidden;
            color: @white;
            .font-size(4.7);
            line-height: 1;
        }
        .owl-prev a,
        .owl-next a {
            color: @white;
        }
        .owl-prev {
            opacity: 0.25;
            height: 49px;
            width: 50px;
            float: left;
            margin: 1px 1px 1px 0px;
            z-index: 999;
            &:hover {
                opacity: 0.75;
            }
        }
        .owl-next {
            opacity: 0.25;
            height: 49px;
            width: 50px;
            float: right;
            z-index: 1;
            margin: 1px -3px 1px 1px;
            &:hover {
                opacity: 0.75;
            }
        }
        .owl-dots {
            position: relative;
            margin-top: 0;
            padding-top: 3px;
            background-color: @gray-96;
            text-align: center;
            z-index: 2;

            .owl-dot {
                display: inline-block;

                span {
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    border-radius: 8px;
                    width: 12px;
                    height: 12px;
                    float: left;
                    clear: none;
                    display: block;
                    margin: 0 6px;
                    background: @kpmg-blue;
                    &:hover {
                        background: @medium-blue;
                    }
                }
            }
            .owl-dot.active span {
                background: @light-blue;
            }
        }
    }
    .icon-carousel-left:before, .icon-carousel-right:before {
        .font-size(5);
    }
    .showBlock{
        display:block !important;
    }
    .bannervideo-block{
        max-width: 1082px;
        margin: 0 auto;
        .video-js {
            pointer-events: none;
            .vjs-control-bar{
                display: none;
            }
        }
        .video-holder {
            float: left;
            width: 100%;
            padding: 10px 0;
            .video-loader {
                background: #333333;
                width: 533px;
                float: right;
                position: relative; 
                display: block; 
                max-width: 100%;
                z-index: 2;
            }
        }        
    }
    &.gifBanner{
        .caption-wrapper{
            &.variant_4, &.variant_5{
                background: none;
            }
        }
    }    
}


.module-herocarousel.videoBanner{
    .containerBanner{
        .slide{
            .caption-wrapper{                    
                .caption-content {                        
                    .caption {
                        width: 523px;
                        @media (max-width: 640px) {
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: @desktop-min-fixed) {


    .module-herocarousel {
        &.marginalized {
            max-width: 1082px;
            margin: 0 auto;
        }
        &.fullbleed{
            .slide {
                float: none;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .carousel .owl-nav {
                top: 44%;
            }
            .slide .caption-wrapper {
                width: 100%;
                .caption-content {
                    width: 1082px;
                    margin: 0 auto;
                    height: 100%;
                    padding: 84px 0;
                    .caption {
                        padding: 0;
                    }
                }
            }
            .carousel {
                padding-top: 125px;
            }
        }
        .owl-prev, .owl-next {
            margin: 1px;
        }
        .carousel {
            .owl-nav {
                position: absolute;
                top: 55%;
                display: block;
                width: 100%;
            }
            .owl-dots {
                position: relative;
                padding-top: 3px;
                background-color: @gray-96;
                text-align: center;
                z-index: 2;
            }
        }

        .mobile-only {
            display: none;
        }

        .slide {
            .herocarousel-content {
                padding-top: 0;
                bottom:20px;
            }

            p {
                .font-size(1.4);
                .line-height(1.6);
                color: @white;
                .hyphen;
            }

            .caption-wrapper {
                   width: 541px;
                .caption {
                    width: 541px;
                    padding: 148px 0 84px 70px;

                    hr.desktop-only {
                        border: none;
                        height: 0px;
                        overflow: hidden;
                        margin: 10px 0 0 0;
                    }

                    .byline {
                        display: block;
                    }

                    .slide-header {
                        .page-title(@white);
                        margin: 0 0 14px;
                        overflow: hidden;

                        p {
                            .font-size(1.4);
                            .line-height(2.0);
                            margin: 16px 16px 16px 0px;
                        }

                        p.cta {
                            margin: 5px 0 7px 0;

                            a {
                                .font-size(1.6);
                                .line-height(2.0);
                            }

                            span {
                                .font-size(1.6);
                                .line-height(2.0);
                                margin-right: 6px;
                            }
                        }
                    }
                }
               &.left {
                    left: 0px !important;

                }
            }
        }
        .hero-carousel-description {
            p {
                .page-description(@white);
                margin: 0px !important;
                &.variant_1, &.variant_2, &.variant_4 {
                    color: @white;
                }
                &.variant_3, &.variant_5{
                    color: @kpmg-blue;
                }
            }
        }
    }
    body.navigation-v2 {
        .module-herocarousel {
            &.fullbleed{
                .carousel {
                    padding-top: 0px;
                }
            }
			&:not(.fullbleed) {
                .carousel {
                    .owl-nav {
                        top: ~"calc(50% - 25px)";
                    }
                }
            }
        }
    }
   
    .owl-carousel .owl-item img.mobile-only {
        display: none;
    }

    .owl-carousel .owl-item .icon-chevron-right.mobile-only {
        display: none;
    }

}

@media (min-width: @desktop-min-fluid) {
    .owl-prev, .owl-next {
        margin: 1px;
    }
}
@media (max-width: 640px) {
    .module-herocarousel {
        &.marginalized {
        .slide {
            img {
              width: 100%;
                    min-width: 100vw;
            }
        }
        }
         &.fullbleed{
            .slide {
                float: none;
                img {
                    width: 100%;
                }
            }

        }
        .owl-carousel {
            height: 340px;

            &.owl-loaded {
                height: auto;
            }
        }

        .owl-stage-outer {
            background-color: @kpmg-blue !important;
        }

        .slide {
            .caption-wrapper {
                position: relative !important;
                background: @kpmg-blue !important;
                color: @white !important;

                .caption {
                    position: relative !important;
                }

                .slide-header {
                    color: @white !important;
                }

                .hero-carousel-description {
                    height: auto;
                    
                    p {
                        color: @white !important;
                    }
                }
            }
        }

        .bannervideo-block {
            width:100%;
            .video-holder {    
                padding: 0 0 16px 0px;
                .video-loader {
                    width: 100%;
                    z-index: 2;
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px)  {
    .module-herocarousel {
        &.fullbleed {
            .slide{
                .caption-wrapper {
                    .caption-content {
                        padding: 30px 0 84px 70px;
                    }
                }
            }
        }
        &.marginalized {
            .owl-nav, .owl-controls {
                width: 100%;
            }
        }
    }

    
}

@media only screen and (min-width: 641px) and (max-width: 1024px)  {
    .module-herocarousel.videoBanner{
        .containerBanner{
            .slide{
                .caption-wrapper{                    
                    .caption-content {
                        width: 100%;
                        .caption {
                            width: 43%;
                        }
                    }
                }
            }
            .bannervideo-block{
                width:100%;
                .video-holder {                
                    padding-right: 70px;
                    .video-loader {
                        width: 45%;
                    }
                }  
            }
            
        }
    } 
}
