<section class="module-tmpl-careers">
    <div class="row tmpl-row" data-desktop-cell="1" data-mobile-cell="1">
        <div class="col-md-12 full-page-title">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>

<div class="inner-container">
    <div class="row" data-desktop-cell="2" data-mobile-cell="2">
        <div class="col-md-12">
            {{ include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}}
        </div>
    </div>

    <div class="row">
        <div class="row-same-height row-full-height">
            <div class="col-md-12 col-sm-height col-full-height col-top col-nested">
                <div class="row-same-height row-full-height">
                    <div class="col-md-6 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="3" data-mobile-cell="3">
                          {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="4" data-mobile-cell="4">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="7" data-mobile-cell="10">
                        {{ include "listing" resourceType="/apps/kpmgpublic/components/listing/listing"}}
                    </div>
                </div>

                <div class="row-same-height row-full-height">
                    <div class="col-md-6 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="5" data-mobile-cell="5">
                         {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell7"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height col-top width-setter" data-desktop-cell="6" data-mobile-cell="6">
                        {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                    </div>
                    <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="9" data-mobile-cell="11">
                        {{ include "socialwidget" resourceType="/apps/kpmgpublic/components/social/socialwidget"}}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="row-same-height row-full-height">
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="8" data-mobile-cell="7">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="10" data-mobile-cell="8">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="11" data-mobile-cell="9">
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell11"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top" data-desktop-cell="12" data-mobile-cell="12">
                {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
            </div>
        </div>
    </div>

    <div class="row tmpl-row">
        <div class="col-md-12" data-desktop-cell="13" data-mobile-cell="13">
            {{ include "basicfilmstripcarousel" resourceType="/apps/kpmgpublic/components/content/basicfilmstripcarousel"}}
        </div>
    </div>
</div>
</section>
