<section class="module-tmpl-newsletter">
    <div class="row visible-sm-block visible-md-block visible-lg-block newsletter-breadcrumb">
        <div class="col-md-12 bread-crumb-full">
            <div class="inner-container">
                {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb"}}
            </div>
        </div>
    </div>

    <div class="inner-container">
        <div class="row tmpl-row">
            <div data-desktop-cell="1" data-mobile-cell="1">
                <div class="col-md-12">
                    {{ include "articleintroduction" resourceType="/apps/kpmgpublic/components/content/articleintroduction/"}}
                </div>
            </div>
        </div>

        <div class="row tmpl-row" data-desktop-cell="2" data-mobile-cell="2">
            <div class="col-md-9 col-full-width" >
                {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell4"}}
                {{/render}}
            </div>
            <div class="col-md-3 col-full-width">
            </div>
        </div>

        <div class="row tmpl-row">
            <div class="col-md-9 col-full-width">
            </div>
            <div class="col-md-3 col-nested"  data-desktop-cell="3" data-mobile-cell="4">
                <div>
                    {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}} 
                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}}
                    {{/render}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-full-width">
                <div class="row tmpl-row"  data-desktop-cell="4" data-mobile-cell="5">
                    <div class="col-md-12">
                        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="author1"}}
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="author1"}}
                        {{/render}}
                    </div>
                </div>
                
                <div class="row tmpl-row" data-desktop-cell="5" data-mobile-cell="6">
                    <div class="col-md-12">
                        {{ include "relatedcontent" resourceType="/apps/kpmgpublic/components/content/relatedcontent"}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-full-width">
                <div class="row tmpl-row"  data-desktop-cell="6" data-mobile-cell="7">
                    <div class="col-md-12">
                        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8"}}
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8"}}
                        {{/render}}
                    </div>
                </div>
                
                <div class="row tmpl-row"  data-desktop-cell="7" data-mobile-cell="8">
                    <div class="col-md-12">
                        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell16"}}
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell16"}}
                        {{/render}}
                    </div>
                </div>

                <div class="row tmpl-row"  data-desktop-cell="8" data-mobile-cell="9">
                    <div class="col-md-12">
                        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell17"}}
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell17"}}
                        {{/render}}
                    </div>
                </div>
                
                <div class="row tmpl-row"  data-desktop-cell="9" data-mobile-cell="10" >
                    <div class="col-md-12"class="bottom-margin">
                        {{ include "copyrightlist" resourceType="/apps/kpmgpublic/components/content/copyrightlist"}}
                    </div>
                </div>
                
                <div class="row tmpl-row" data-desktop-cell="10" data-mobile-cell="11">        
                    <div class="col-md-12" >
                        {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell18b"}}
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell18b"}}
                        {{/render}}
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-full-width">
                <div class="row tmpl-row"  data-desktop-cell="11" data-mobile-cell="12">
                    <div class="col-md-12">
                        {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                    </div>
                </div>

                <div class="row tmpl-row"  data-desktop-cell="12" data-mobile-cell="3">
                    <div class="col-md-12">
                        {{ include "mykpmgpromo" resourceType="/apps/kpmgpublic/components/global/mykpmgpromocomponent"}}
                    </div>
                </div>
            </div>
        </div> 
    </div>  
</section>