<section class="module-mykpmgpromo component">
   <div class="mykpmgpromo-container clearfix">
      <h3 class="image-title">
      	<a href="{{hbs.myKpmgPromo.ctaUrl}}" class="alt-secondary-head line-clamp line-clamp-3" tabindex="-1">
      		    <span>{{i18n hbs.myKpmgPromo.title}}</span>
      	</a>
      </h3>
         <p class="mykpmgpromo-desc line-clamp line-clamp-5">{{i18n hbs.myKpmgPromo.description}}</p>
      <div class="mykpmgpromo-custom-margin">
      	<div class="primary-cta-space">&nbsp;</div>
      	<a href="{{hbs.myKpmgPromo.ctaUrl}}" title="{{i18n hbs.myKpmgPromo.cta}}" class="component-link btn-cta">
         <span class="icon-chevron-right"></span><span class="btn-copy">{{i18n hbs.myKpmgPromo.cta}}</span>
        </a>
      </div>
   </div>
</section>