<div class="module-eventresources-content-item col-md-3 col-md-height col-sm-height col-full-height col-top">
    <h3 class="tertiary-head">{{this.eventTitle}}</h3>
    <p>{{this.eventSubtitle}}</p>
    <div class="cta-space">&nbsp;</div>
    <div class="downloadbutton">
        {{#if this.resourcePath}}
        <div class="bg-white">
            <div class="pull-left">
                <div class="row">
                    <a class="btn-cta buttonContainer" href="{{../assetDomainName}}{{this.resourcePath}}" target="_blank" title="{{this.resourceType}}">
                        <span class="icon-{{this.resourceType}}"></span>
                        <span class="visually-hidden">{{this.resourceType}}</span>
                        <div class="downloadDesc">
                            <span class="resouceLabel"> {{this.downloadButtonLabel}} {{this.resourceType}} </span>
                            <span class="resourceSize"> ({{this.resourceType}} {{this.resourceSize}}) </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>