<div class="row tmpl-row row-same-height row-full-height">
    {{#each results}}
    <div class=" image-gallery-column col-md-3 col-md-height col-sm-height col-full-height col-top">
        <div class="item">
            <div href="#image-quick-view" class="btn-modal"  data-toggle="modal" title="{{this.description}}">
           <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 237'%2F%3E" data-image="{{../assetDomainName}}{{this.thumbnail}}"  alt="{{this.description}}" data-desktop="{{../assetDomainName}}{{this.thumbnail}}/jcr:content/renditions/cq5dam.web.237.237.{{this.fileType}}" data-mobile="{{../assetDomainName}}{{this.thumbnail}}/jcr:content/renditions/cq5dam.web.424.424.{{this.fileType}}" class="img-responsive lazy gallery-image" />
            </div>
            <div class="item-info">
                {{#if this.title}}
                    <a href="#image-quick-view" data-toggle="modal">
                        <h4 class="item-header">{{this.title}}</h4>
                    </a>
                {{/if}}
                <p class="item-description">{{this.description}}</p>
            </div>
            <div class="primary-cta-space">&nbsp;</div>
            <div class="download-container">
                <a title="{{this.fileType}} ({{this.fileSize}})" href="{{../assetDomainName}}{{this.thumbnail}}/jcr:content/renditions/original" target="_blank"><span class="icon-download pull-left"></span>
                   <span class="download-label">{{this.downloadLabel}}</span>
                   <span class="file-type">{{this.fileType}}</span>  
                   <span class="download-size">({{this.fileSize}})</span>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>