
<section class="module-basicfilmstripcarousel component self-contained">
    {{#if hbs.basicFilmstripCarousel.componentTitle}}
    <h4 class="basicfilmstripcarousel-header">{{hbs.basicFilmstripCarousel.componentTitle}}</h4>
    {{/if}}
    <div class="carousel-container {{#if hbs.basicFilmstripCarousel.items}}has-slides{{/if}}">
        <div style="overflow: hidden;" class="frame">
            <ul>
                {{#each hbs.basicFilmstripCarousel.items}}
                <li class="each-slide" tabindex="0" data-index="{{@index}}">
                    <div class="item">
                        <a class="item-header line-clamp line-clamp-2" {{#if this.link}} href="{{this.link}}" {{else}} href="javascript:void(0);" {{/if}}>
                            {{this.title}}
                        </a>
                        <a class="pull-left" title="{{this.imageTitle}}" {{#if this.link}} href="{{this.link}}" {{else}} href="javascript:void(0);" {{/if}}>
                            {{#if hbs.basicFilmstripCarousel.imageConfigExists}}
                            <div data-picture  data-alt='{{this.imageTitle}}'>

                                {{#hbs.basicFilmstripCarousel.imageConfig}}
                                <div data-src="{{hbs.globalValues.assetDomainName}}{{../this.imageUrl}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" data-media="(min-width: {{this.devicewidth}}px)"></div>
                                {{#if @last}}
                                        <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.imagewidth}} {{this.imageheight}}'%2F%3E" alt="{{this.imageTitle}}" />
                                {{/if}}
                                {{/hbs.basicFilmstripCarousel.imageConfig}}
                                

                            </div>
                            {{else}}
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 300'%2F%3E" data-desktop="{{hbs.globalValues.assetDomainName}}{{this.imageUrl}}/jcr:content/renditions/cq5dam.web.237.300.jpg" data-mobile="{{hbs.globalValues.assetDomainName}}{{this.imageUrl}}/jcr:content/renditions/cq5dam.web.237.300.jpg" alt="{{this.imageTitle}}" class="lazy" />

                            {{/if}}
                        </a>
                        <span class="pull-left short-description line-clamp line-clamp-5">
                           
                            {{this.shortDescription}}
                           
                        </span> 
                    </div>                
                </li>
                {{/each}}                    
            </ul>
        </div>

        <div class="controls hidden-xs">
            <a href="javascript:void(0);" class="prevPage" tabindex="-1"><span class="icon-carousel-left"></span></a>
            <a href="javascript:void(0);" class="nextPage" tabindex="-1"><span class="icon-carousel-right"></span></a>
        </div>
        <div class="scroll-align">
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </div>
</section>

