div.custom-select-with-styled-dropdown {
  position: relative;
  background-color: white;

  div.custom-chevron {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: @kpmg-blue;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      color: @white;
      height: 16px;
    }
  }

  select {
    &:-ms:-expand {
      display: none;
    }
    position: relative;
    height: 32px !important;
    background-color: transparent;
    -webkit-appearance: none;

    option:first-child {
      color: @gray-80;
    }

    option:not(:first-child) {
      color: @black;
    }
  }
}
