
<input type="text" id="the_characters_you_entered_didnt_match_the_word_verification_please_try_again" value="{{i18n "kpmg.personalization.registration.gigya.the_characters_you_entered_didnt_match_the_word_verification_please_try_again"}}" style="display:none"/>

<input type="text" id="gigya_translation_text" value='{"kpmg_sign_up_header":"{{i18n "kpmg.personalization.gigya.existing_account"}}",
"kpmg_sign_up_text":"{{i18n "kpmg.personalization.gigya.registration.please_provide_some_personal_information"}}",
"kpmg_already_have_an_account":"{{i18n "kpmg.personalization.gigya.registration.already_have_an_account"}}",
"kpmg_log_in":"{{i18n "kpmg.personalization.gigya.registration.log_in"}}",
"kpmg_learn_more":"{{i18n "kpmg.personalization.homepage.mykpmgflyout.learnMore"}}",
"kpmg_create_an_account":"{{i18n "kpmg.personalization.gigya.registration.create_an_account"}}",
"kpmg_required":"{{i18n "kpmg.personalization.gigya.registration.required"}}",
"kpmg_info_email":"{{i18n "kpmg.personalization.gigya.usedemail_kpmglogin"}}",
"kpmg_info_password":"{{i18n "kpmg.personalization.gigya.passwordstrength"}}",
"kpmg_privacy_statement_text":"{{i18n "kpmg.personalization.gigya.social_registration.i_acknowledge_that_i_have_read"}}",
"kpmg_privacy_statement_link_text":"{{i18n "kpmg.personalization.gigya.onlineprivacy"}}",
"kpmg_captcha_text":"{{i18n "kpmg.personalization.gigya.registration.captcha_text"}}",
"kpmg_cancel":"{{i18n "kpmg.personalization.myaccount.profile.cancel"}}",
"kpmg_continue":"{{i18n "kpmg.personalization.gigya.registration.continue"}}",
"kpmg_social_sign_in_header":"{{i18n "kpmg.personalization.gigya.social_registration.signed_in_with"}}",
"kpmg_social_sign_in_text":"{{i18n "kpmg.personalization.gigya.signedin_with_social_account"}}",
"kpmg_cancel_registration_header":"{{i18n "kpmg.personalization.gigya.cancel_registration"}}",
"kpmg_cancel_registration_text":"{{i18n "kpmg.personalization.gigya.sure_to_cancel_registration"}}",
"kpmg_go_back":"{{i18n "kpmg.personalization.gigya.registration_cancellation_screen_go_back"}}",
"kpmg_registration_done_header":"{{i18n "kpmg.personalization.gigya.registration_done_header"}}",
"kpmg_thank_you_text":"{{i18n "kpmg.personalization.gigya.registration_done_screen_thank"}}",
"kpmg_go_to_mykpmg":"{{i18n "kpmg.personalization.gigya.registration_done_screen_go_to_mykpmg"}}",
"kpmg_return_to_my_article":"{{i18n "kpmg.personalization.gigya.registration_done_screen_return_to_my_article"}}",

"kpmg_error_tc_authored_msg_tc1":"{{i18n "kpmg.contactForm.privacyPolicyError"}}",
"kpmg_error_tc_authored_msg_tc2":"{{i18n "kpmg.personalization.registration.gigya.option1_error_message"}}",
"kpmg_error_tc_authored_msg_tc3":"{{i18n "kpmg.personalization.registration.gigya.option1_error_message"}}",

"kpmg_privacy_acceptance_error_msg_tc1":"{{i18n "kpmg.contactForm.privacyPolicyError"}}",
"kpmg_welcome_back":"{{i18n "kpmg.personalization.homepage.mykpmgpromo.welcomeback"}}",
"kpmg_sign_in_header":"{{i18n "kpmg.personalization.gigya.login.sign_in_with_an_existing_account"}}",
"kpmg_not_yet_registered":"{{i18n "kpmg.personalization.gigya.login.not_yet_registere"}}",
"kpmg_use_your_kpmg_login_credentials":"{{i18n "kpmg.personalization.gigya.login.use_your_kpmg_login_credentials"}}",
"kpmg_i_forgot_my_password":"{{i18n "kpmg.personalization.gigya.login.i_forgot_my_password"}}",
"kpmg_keep_me_signed_in":"{{i18n "kpmg.personalization.gigya.keep_signedin"}}",
"kpmg_forgot_password_header":"{{i18n "kpmg.personalization.gigya.forgot_password"}}",
"kpmg_forgot_password_text":"{{i18n "kpmg.personalization.gigya.forgot_password.please_enter_your_email_address"}}",
"kpmg_reset_password":"{{i18n "kpmg.personalization.gigya.reset_password.password"}}",
"kpmg_forgot_password_thank_you_text":"{{i18n "kpmg.personalization.gigya.kpmg_email_verification"}}",
"kpmg_return_to_login":"{{i18n "kpmg.personalization.gigya.reset_password_success.return_to_login"}}",
"kpmg_info_password_first":"{{i18n "kpmg.personalization.gigya.password_strength_description1"}}",
"kpmg_info_password_second":"{{i18n "kpmg.personalization.gigya.password_strength_description2"}}",
"kpmg_reset_password_thank_you_text":"{{i18n "kpmg.personalization.gigya.reset_password_success.your_password_has_been_reset"}}",
"kpmg_too_many_failed_attempts_header":"{{i18n "kpmg.personalization.gigya.too_many_failed_atempts"}}",
"kpmg_too_many_failed_attempts_text":"{{i18n "kpmg.personalization.gigya.too_many_failed_atempts_account_locked"}}",
"account_is_disabled":"{{i18n "kpmg.personalization.registration.gigya.account_is_disabled"}}",
"account_temporarily_locked_out":"{{i18n "kpmg.personalization.registration.gigya.account_temporarily_locked_out"}}",
"and":"{{i18n "kpmg.personalization.registration.gigya.and"}}",
"available":"{{i18n "kpmg.personalization.registration.gigya.available"}}",
"checking":"{{i18n "kpmg.personalization.registration.gigya.checking"}}",
"choose_file":"{{i18n "kpmg.personalization.registration.gigya.choose_file"}}",
"email_address_is_invalid":"{{i18n "kpmg.personalization.registration.gigya.email_address_is_invalid"}}",
"email_already_exists":"{{i18n "kpmg.personalization.registration.gigya.email_already_exists"}}",
"fair":"{{i18n "kpmg.personalization.registration.gigya.fair"}}",
"invalid_fieldname":"{{i18n "kpmg.personalization.registration.gigya.invalid_fieldname"}}",
"invalid_login_or_password":"{{i18n "kpmg.personalization.registration.gigya.invalid_login_or_password"}}",
"invalid_username_or_password":"{{i18n "kpmg.personalization.registration.gigya.invalid_username_or_password"}}",
"login_identifier_exists":"{{i18n "kpmg.personalization.registration.gigya.login_identifier_exists"}}",
"maximum_size_of_3mb.":"{{i18n "kpmg.personalization.registration.gigya.maximum_size_of_3mb"}}",
"no_file_chosen":"{{i18n "kpmg.personalization.registration.gigya.no_file_chosen"}}",
"not_available":"{{i18n "kpmg.personalization.registration.gigya.not_available"}}",
"num_characters_total":"{{i18n "kpmg.personalization.registration.gigya.num_characters_total"}}",
"num_of_the_following_groups":"{{i18n "kpmg.personalization.registration.gigya.num_of_the_following_groups"}}",
"password_does_not_meet_complexity_requirements":"{{i18n "kpmg.personalization.registration.gigya.password_does_not_meet_complexity_requirements"}}",
"password_must_contain_at_least":"{{i18n "kpmg.personalization.registration.gigya.password_must_contain_at_least"}}",
"password_strength_colon":"{{i18n "kpmg.personalization.registration.gigya.password_strength_colon"}}",
"passwords_do_not_match":"{{i18n "kpmg.personalization.registration.gigya.passwords_do_not_match"}}",
"old_password_cannot_be_the_same_as_new_password":"{{i18n "kpmg.personalization.registration.gigya.old_password_cannot_be_the_same_as_new_password"}}",
"please_enter_a_valid_fieldname":"{{i18n "kpmg.personalization.registration.gigya.please_enter_a_valid_fieldname"}}",
"please_enter_fieldname":"{{i18n "kpmg.personalization.registration.gigya.please_enter_fieldname"}}",
"profilePhoto_fileSizeError":"{{i18n "kpmg.personalization.registration.gigya.profilePhoto_fileSizeError"}}",
"sorry_we_are_not_able_to_process_your_registration":"{{i18n "kpmg.personalization.registration.gigya.sorry_we_are_not_able_to_process_your_registration"}}",
"strong":"{{i18n "kpmg.personalization.registration.gigya.strong"}}",
"there_are_errors_in_your_form_please_try_again":"{{i18n "kpmg.personalization.registration.gigya.there_are_errors_in_your_form_please_try_again"}}",
"there_is_no_user_with_that_username_or_email":"{{i18n "kpmg.personalization.registration.gigya.there_is_no_user_with_that_username_or_email"}}",
"these_passwords_do_not_match":"{{i18n "kpmg.personalization.registration.gigya.these_passwords_do_not_match"}}",
"this_field_is_required":"{{i18n "kpmg.personalization.registration.gigya.this_field_is_required"}}",
"too_weak":"{{i18n "kpmg.personalization.registration.gigya.too_weak"}}",
"unique_identifier_exists":"{{i18n "kpmg.personalization.registration.gigya.unique_identifier_exists"}}",
"username_already_exists":"{{i18n "kpmg.personalization.registration.gigya.username_already_exists"}}",
"very_strong":"{{i18n "kpmg.personalization.registration.gigya.very_strong"}}",
"weak":"{{i18n "kpmg.personalization.registration.gigya.weak"}}",
"wrong_password":"{{i18n "kpmg.personalization.registration.gigya.wrong_password"}}",
"your_age_does_not_meet_the_minimal_age_requirement":"{{i18n "kpmg.personalization.registration.gigya.your_age_does_not_meet_the_minimal_age_requirement"}}"
}' style="display:none" />




<input type="text" id="gigya_custom_text" value='{"gigya_error_primary_action":"{{i18n "kpmg.personalization.registration.gigya.error_primary_action"}}",
"gigya_error_title":"{{i18n "kpmg.personalization.registration.gigya.error_title"}}",
"gigya_account_disabled_error_title":"{{i18n "kpmg.personalization.registration.gigya_account_disabled_error_title"}}",
"gigya_account_disabled_error_primary_action":"{{i18n "kpmg.personalization.registration.gigya_account_disabled_error_primary_action"}}",
"gigya_error_description":"{{i18n "kpmg.personalization.registration.gigya.service_unavailable_message"}}",
"gigya_account_disabled_error_description":"{{i18n "kpmg.personalization.registration.gigya_account_disabled_error_description"}}",
"gigya_cookies_disabled_error_description":"{{i18n "kpmg.personalization.registration.gigya.third_party_error_message"}}",
"gigya_name_validation_error_message":"{{i18n "kpmg.personalization.registration.gigya.special_characters_error_message"}}",
"kpmg_placeholder_first_name":"{{i18n "kpmg.personalization.myaccount.profile.firstname"}}",
"kpmg_placeholder_last_name":"{{i18n "kpmg.personalization.myaccount.profile.lastname"}}",
"kpmg_placeholder_email":"{{i18n "kpmg.contactForm.emailLabel"}}",
"kpmg_placeholder_password":"{{i18n "kpmg.personalization.myaccount.profile.password"}}",
"kpmg_placeholder_confirm_password":"{{i18n "kpmg.personalization.gigya.registration.confirm_password"}}",
"kpmg_placeholder_company_optional":"{{i18n "kpmg.personalization.myaccount.profile.companyoptional"}}",
"kpmg_placeholder_select_country":"{{i18n "kpmg.personalization.myaccount.profile.selectcountrylocation"}}",
"toppicksfor":"{{i18n "kpmg.personalization.home.toppicks.toppicksfor"}}",
"you":"{{i18n "kpmg.personalization.home.toppicks.you"}}",
"items":"{{i18n "kpmg.personalization.library.librarylist.items"}}",
"remove":"{{i18n "kpmg.personalization.myaccount.profile.remove"}}",
"yes":"{{i18n "kpmg.personalization.myaccount.profile.yes"}}",
"no":"{{i18n "kpmg.personalization.myaccount.profile.no"}}",
"organization":"{{i18n "kpmg.personalization.myaccount.profile.organization"}}",
"quicksavedlist":"{{i18n "kpmg.personalization.public.list.sharelist.quicksavedlist"}}",
"urllink":"{{i18n "kpmg.personalization.public.list.sharelist.urllink"}}",
"close":"{{#if hbs.personalizationValues.blog}} {{hbs.personalizationValues.close}} {{else}}{{i18n "kpmg.personalization.library.listmanagement.close"}}{{/if}}",
"search":"{{i18n "kpmg.search.barDefaultCopy"}}",
"resentemail":"{{#if hbs.personalizationValues.blog}} {{hbs.personalizationValues.resentemail}} {{else}}{{i18n "kpmg.personalization.myaccount.verifyemail.resentemail"}}{{/if}}",
"verifyemaillabel":"{{#if hbs.personalizationValues.blog}} {{hbs.personalizationValues.verifyemaillabel}} {{else}}{{i18n "kpmg.personalization.myaccount.verifyemail.verifyemaillabel"}}{{/if}}",
"verifyemail":"{{#if hbs.personalizationValues.blog}} {{hbs.personalizationValues.verifyemail}} {{else}} {{i18n "kpmg.personalization.myaccount.verifyemail.verifyemail"}}{{/if}}",
"verify_email_err_title":"{{i18n "kpmg.personalization.myaccount.verified.sentlabel"}}",
"verify_email_err_desc":"{{i18n "kpmg.personalization.myaccount.verified.sentmsg"}}",
"verify_email_congrats_title":"{{i18n "kpmg.personalization.myaccount.verified.label"}}",
"verify_email_congrats_desc":"{{i18n "kpmg.personalization.myaccount.verified.msg"}}",
"office_locator_geolocation_error":"{{i18n "kpmg.officelocator.geolocationerror"}}",
"office_locator_nocities_error":"{{i18n "kpmg.officelocator.nocitiesfoundtext"}}",
"office_locator_noresults_error":"{{i18n "kpmg.officelocator.noResultsText"}}",
"resendconfirmation":"{{#if hbs.personalizationValues.blog}} {{hbs.personalizationValues.resendconfirmation}} {{else}} {{i18n "kpmg.personalization.myaccount.verifyemail.resendconfirmation"}}{{/if}}",
"logoutinfo":"{{#if hbs.personalizationValues.blog}}{{hbs.personalizationValues.logoutinfo}} {{else}} {{i18n "kpmg.personalization.home.logout.logoutinfo"}}{{/if}}",
"logoutdescription":"{{#if hbs.personalizationValues.blog}}{{hbs.personalizationValues.logoutdescription}} {{else}} {{i18n "kpmg.personalization.home.logout.logoutdescription"}}{{/if}}",
"showanotherarticle":"{{i18n "kpmg.personalization.dashboard.dashboardarticle.showanotherarticle"}}",
"dontshowarticleagain":"{{i18n "kpmg.personalization.dashboard.dashboardarticle.dontshowarticleagain"}}",
"updatemypreferences":"{{i18n "kpmg.personalization.dashboard.dashboardarticle.updatemypreferences"}}",
"addtolibrary":"{{i18n "kpmg.personalization.library.sharedlist.addtolibrary"}}",
"refreshcontent":"{{i18n "kpmg.personalization.dashboard.dashboardarticle.refreshcontent"}}",
"share":"{{i18n "kpmg.personalization.library.librarylist.share"}}",
"readMore":"{{i18n "kpmg.search.quickViewTile"}}",
"or_divider_text":"{{i18n "kpmg.personalization.gigya.registration.dividertext"}}",
"cross_site_error_title":"{{i18n "kpmg.personalization.dashboard.crosssiteerrortitle"}}",
"cross_site_error_description":"{{i18n "kpmg.personalization.dashboard.crosssiteerrordesc"}}",
"deleteThisList":"{{i18n "kpmg.personalization.library.listmanagement.deleteThisList"}}",
"editYourListName":"{{i18n "kpmg.personalization.library.listmanagement.editYourListName"}}",
"shareThisList":"{{i18n "kpmg.personalization.library.listmanagement.shareThisList"}}",
"move":"{{i18n "kpmg.personalization.library.librarylist.move"}}",
"delete":"{{i18n "kpmg.personalization.library.librarylist.delete"}}",
"placeholdertextforfiltersubscriptions":"{{i18n "kpmg.personalization.subscriptions.placeholdertextforfiltersubscriptions"}}",
"selectedinterestslist":"{{i18n "kpmg.personalization.subscriptions.selectedinterestslist"}}",
"onboardingbasedsubscriptiontitle":"{{i18n "kpmg.personalization.subscriptions.onboardingbasedsubscriptiontitle"}}",
"interestsbasedsubscriptiontitle":"{{i18n "kpmg.personalization.subscriptions.interestsbasedsubscriptiontitle"}}",
"subscriptionsinterestedintitle":"{{i18n "kpmg.personalization.subscriptions.subscriptionsinterestedintitle"}}",
"registrationPromoTitle":"{{i18n "kpmg.personalization.registrationpromo.title"}}",
"registrationPromoDescription":"{{i18n "kpmg.personalization.registrationpromo.description"}}",
"noArticleErrorTitle":"{{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorTitle"}}",
"noArticleErrorMessage":"{{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorMessage"}}",
"noArticleErrorDetail":"{{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail"}}",
"noArticleErrorDetail1":"{{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail1"}}",
"noArticleErrorDetail2":"{{i18n "kpmg.personalization.public.list.sharelist.noArticleErrorDetail2"}}",
"searchLabel":"{{i18n "kpmg.personalization.public.list.sharelist.searchLabel"}}",
"searchLibList":"{{i18n "kpmg.personalization.public.list.sharelist.searchLibList"}}",
"libraryListDeleteThisArticle":"{{i18n "kpmg.personalization.library.librarylist.deleteThisArticle"}}",
"libraryListDeleteThisArticleDescription":"{{i18n "kpmg.personalization.library.listmanagement.deleteThisArticleDescription"}}",
"libraryListSuccessDescription":"{{i18n "kpmg.personalization.library.listmanagement.successDescription"}}",
"libraryListDeleteIt":"{{i18n "kpmg.personalization.library.listmanagement.deleteIt"}}",
"libraryListNotlongeravailable":"{{i18n "kpmg.personalization.library.listmanagement.notlongeravailable"}}",
"libraryListArticlenolongeravailabledescription":"{{i18n "kpmg.personalization.library.listmanagement.articlenolongeravailabledescription"}}",
"libraryListArticlewasremovedfromlabel":"{{i18n "kpmg.personalization.library.listmanagement.articlewasremovedfromlabel"}}",
"libraryListMobilenolongeravlbl":"{{i18n "kpmg.personalization.library.listmanagement.mobilenolongeravlbl"}}",
"libraryListArtitwasremovedfrom":"{{i18n "kpmg.personalization.library.listmanagement.artitwasremovedfrom"}}",
"libraryListArticlesnolongeravailabledescription":"{{i18n "kpmg.personalization.library.listmanagement.articlesnolongeravailabledescription"}}",
"libraryListShareThisListDescription":"{{i18n "kpmg.personalization.library.listmanagement.shareThisListDescription"}}",
"libraryListCopy":"{{i18n "kpmg.personalization.library.listmanagement.copy"}}",
"libraryListCancel":"{{i18n "kpmg.personalization.library.listmanagement.cancel"}}",
"libraryListMovearticle":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.movearticle"}}",
"libraryListInstrutiontext":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.instrutiontext"}}",
"libraryListAlreadysaved":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.alreadysaved"}}",
"libraryListAlreadysavedarticle":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.alreadysavedarticle"}}",
"libraryListChoosealist":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.choosealist"}}",
"libraryListCreatealist":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.createalist"}}",
"libraryListThatNameIsTaken":"{{i18n "kpmg.personalization.library.listmanagement.thatNameIsTaken"}}",
"libraryListEmpty":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.empty"}}",
"libraryListEnternewlist":"{{i18n "kpmg.personalization.library.movetolibraryoverlay.enternewlist"}}",
"libraryListAddtolibraryoverlayCancel":"{{i18n "kpmg.personalization.library.addtolibraryoverlay.cancel"}}",
"libraryListCancel1":"{{i18n "kpmg.personalization.library.librarylist.cancel"}}",
"createAList":"{{i18n "kpmg.personalization.library.listmanagement.createAList"}}",
"createsuccessdescription":"{{i18n "kpmg.personalization.library.listmanagement.createsuccessdescription"}}",
"listmanagementsave":"{{i18n "kpmg.personalization.library.listmanagement.save"}}",
"deleteThisListDescription":"{{i18n "kpmg.personalization.library.listmanagement.deleteThisListDescription"}}",
"keepIt":"{{i18n "kpmg.personalization.library.listmanagement.keepIt"}}",
"editsuccessdescriptionmobile":"{{i18n "kpmg.personalization.library.listmanagement.editsuccessdescriptionmobile"}}",
"namechanges":"{{i18n "kpmg.personalization.library.librarylist.namechanges"}}",
"listnamechanged":"{{i18n "kpmg.personalization.library.librarylist.listnamechanged"}}",
"copySuccessDescription":"{{i18n "kpmg.personalization.library.listmanagement.copySuccessDescription"}}",
"copyFailedClipboardAccessDenied":"{{i18n "kpmg.personalization.library.listmanagement.copyFailedClipboardAccessDenied"}}"
}' style="display:none" />

<script>
    var translationText = document.getElementById('gigya_translation_text').value;
    var customText = document.getElementById('gigya_custom_text').value;

    try{
    window.kpmgPersonalize.i18n.customMsgs = JSON.parse(customText);
    }catch(error){
    console.log('Problem parsing custom messages');
    }

    try{
    window.kpmgPersonalize.i18n.gigyaMsgs = JSON.parse(translationText);
    }catch(error){
    console.log('Problem parsing gigya messages');
    }

    //To handle the Apostrophe (') in gigya i18 labels this exceptional variable is used

    var exceptional  = document.getElementById('the_characters_you_entered_didnt_match_the_word_verification_please_try_again').value;
    window.kpmgPersonalize.i18n.gigyaMsgs["the_characters_you_entered_didn't_match_the_word_verification._please_try_again"] = exceptional;

    //
    cleanUp();
    //
    function cleanUp() {
        var elemIds;
        //
        elemIds = ['gigya_translation_text', 'gigya_custom_text', 'the_characters_you_entered_didnt_match_the_word_verification_please_try_again'];
        //
        elemIds.forEach(function(id){
            var elem;
            //
            elem = document.getElementById(id);
            //
            if (elem) {
                elem.parentElement.removeChild(elem);
            }

        })
    }

    window.__gigyaConf = window.__gigyaConf || {};
    window.__gigyaConf.customLang = window.kpmgPersonalize.i18n.gigyaMsgs;
</script>
