@import "../../global/css/_variables.less";


.library-desktop {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.module-addtolibrary {

    .addtolibrary-cta {
        .promo-title(@gray-40);
        .hyphen;
        float: left;
        margin: 0px;
        cursor: pointer;
        cursor: hand;

        .libraryLimit-value {
            display: none;
        }

        .icon-star {
            color: @kpmg-blue;
            position: relative;
            float: left;
            margin: 0 5px 0 0;
            .font-size(1.6);
            .font-size(1.6);
        }

        .btn-copy {
            display: none;
        }
    }
    button.btn-cta:hover .btn-copy {
    	text-decoration: underline;
    }

    .icon-star:before {
        content : "\e93d";
    }

    .addtolibrary-cta.active {
		.icon-star:before {
	        content : "\e93c";
	    }
    }

}


#articlelimit {

    select::-ms-expand {
        display: none;
    }

    input.focusOutline ,select.focusOutline {
        text-decoration: none !important;
    }

	.focusOutline {
        box-shadow: 0 0 3px @medium-blue !important;
        border: solid @medium-blue 1px !important;
    }

	.btn-cta {
		display: inline-block;
		margin-bottom: 0;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		width: 100%;
		border: 1px solid transparent;
		height: 50px;
		line-height: 3em;
		padding: 0;
		.icon-chevron-right {
			margin-right: 2px;
		}
	}

	.btn-cta#deletelistbtn {
		margin-bottom: 4px;
	}

	.btn-default {
		color: @gray-20;
	    background-color: @white;
	}

	.btn-cancel {
		.icon-close {
			color: @light-purple;
			margin-right: 0;
		}
	}

	.btn-cta.close {
		.icon-close {
			color: @light-purple;
		}
	}

	.modal-header {
		padding: 0;
		border: none;
		min-height: auto;
		.btn-close {
		    margin: 6px 6px;
		    position: absolute;
		}
	}

	.modal-content {
		padding: 0;
		background-color: @gray-94;

		.alert-success {
			display: none;
		}

		.overlay-footer {
			.btn-cta.close {
				display: none;
			}
		}
	}


	.divider {
		margin: 0;
		border-top-color: @gray-60;
	}

	.overlay-footer {
		padding: 18px 9px;
	}

	.overlay-header .heading {
		.component-title(@kpmg-blue);
		margin: 0 0 14px 0;
	}

	.overlay-header .description {
		.promo-description(@gray-20);
	}

	.overlay-header .description + .alert {
		margin-top: 18px;
	}

	.overlay-header  {
		background-color: @white;
		padding: 18px 20px;
	}

	.overlay-content {
		padding: 0 20px;
		background-color: @white;
		display: inline-block;
		width: 100%;

		p,.alert {
			margin-bottom: 18px;
		}
	}

}

