@import "../../global/css/_variables.less";
@import "../../touch-promotional/css/touch-promotional";

.module-touch-blog-topic-list {
    margin: 30px 20px 0px 20px;
    padding: 0px;

    .header-list {
        padding-bottom: 10px;

        li.list-item {
            background: @gray-94;
            margin-bottom: 76px;
            list-style: none;
            position: relative;

            .col-md-height {
                border: none;
            }

            div.inline-list-elements {
                display: flex;
                align-items: flex-start;
                cursor: pointer;

                .topic-list-img {
                    width: 310px;
                }
            }

            div.details-container {
                background: @white;
                padding-top: 20px;
                display: none; // by default hiding

                .show-all-cell {
                    background-color: @gray-94;

                    .show-all-blogs {
                        padding-left: 20px;
                        padding-top: 30px;

                        .show-blogs-link {
                            font-size: 32px;
                            color: @kpmg-blue;
                            cursor: pointer;
                            font-family: @kpmgLight;
                        }
                    }
                }
            }

            div.img-wrapper {
                position: relative;
                min-height: 190px; // to maintain same height when images do not load / broken
            }

            span.blue-strip {
                position: absolute;
                height: 100%;
                width: 40px;
                background: @light-blue;
            }

            span.icon-circle-chevron-down, span.icon-circle-chevron-up {
                color: @light-blue;
                font-size: 54px;
                cursor: pointer;
                position: absolute;
                right: 6px;
                padding: 40px;
                top: 25px;
            }


            div.list-header-info {
                padding-left: 10px;
                padding-top: 10px;
                display: flex;
                justify-content:space-between;
                flex-direction:column;
                height: 190px;
                width: 100%;

                h2.list-item-title {
                    display: inline-block;
                    padding-bottom: 36px;
                    font-size: 42px;
                    color: @kpmg-blue;
                    line-height: 0.714;
                    font-family: @kpmgLight;
                    &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                      font-size: 30px;
                    }
                }

                div.social-links {
                    padding-bottom: 10px;

                    a.social-link {
                        padding-right: 20px;
                        font-size: 18px;
                        line-height: 1.2;
                        font-family: @arial;
                        color:@black;
                    }
                }

                div.topic-description {
                    width: 85%;
                    padding-top: 28px;

                    p.text {
                        font-size: 18px;
                        font-style: italic;
                        color: @gray-20;
                        font-family: @arial;
                        line-height: 1.389;
                    }
                    p.list-header-line-clamp {
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 8rem;
                    }
                }
            }

            .no-results {
                text-align: center;
            }

            .no-results-wrapper {
                display: inline-block;
                margin: 108px auto 148px;
                padding: 30px 100px 35px 100px;
                border: 1px solid @gray-20;

                h3 {
                    font-size: 42px;
                    color: @kpmg-blue;
                    font-family: @kpmgLight;
                    line-height: 1;
                }
                p {
                    color: @gray-40;
                    font-size: 18px;
                }
            }

        }
    }
}

@media only screen and (max-width: 640px) {
    .module-touch-blog-topic-list {
        margin: 0px;
        ul.header-list {
            li.list-item {
                margin-bottom: 36px;

                .inline-list-elements {
                    .topic-list-img {
                        max-width: 50%;
                    }
                }
                .no-results-wrapper {
                    margin: 50px auto 66px;
                    padding: 22px 67px 34px 67px;
                    width: 96%;

                    h3 {
                        font-size: 42px;
                        margin-bottom: 25px;
                    }
                    p {
                        font-size: 22px;
                        margin-bottom: 0;
                    }

                }
                div.inline-list-elements {
                    display: block;
                    div.list-header-info {
                        display: block;
                        background: @white;
                        height: 100%;

                        h2.list-item-title {
                            padding-top: 20px;
                            &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                              font-size: 25px;
                            }
                        }
                        div.topic-description {
                            display: none;
                        }
                    }
                    span.icon-circle-chevron-down, span.icon-circle-chevron-up {
                        top: 4px;
                        right: 12%;
                        padding: 24px;
                    }
                }

                div.details-container {
                    .content-wrapper {
                        .show-all-cell {
                            .show-all-blogs {
                                padding: 30px;
                            }
                        }
                    }
                }

                div.img-wrapper {
                    min-height: 114px; // to maintain same height when images do not load
                }

            }
        }
    }
}

@media only screen and (max-width: @desktop-min-fluid) {
    .module-touch-blog-topic-list {
        li.list-item {
            div.topic-description {
                width: 85% !important;
            }
        }
    }
}
