@import "../../basicpagetitle/css/basicpagetitle";
@import "../../listing/css/listing";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../emptyplaceholder/css/emptyplaceholder";
@import "../../socialtab/css/socialtab";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../resultlisting/css/resultlisting";
@import "../../share/css/share";
@import "../../socialwidget/css/socialwidget";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../addtolibrary/css/addtolibrary";

.module-tmpl-socialenabled {

    .module-resultlisting .resultListing-view {
        display: none !important;
    }

   	#blogs.custom-tab-content{
      	margin: 2px -9px 0 -9px;
   	}

   	.module-socialtab {
   		margin-top: 9px;
         margin-bottom: 9px;
   	}

   	.module-resultlisting .result {
   		padding: 10px 20px !important;
   	}

   	.module-socialwidget {
   		padding: 10px 19px !important;
   	}

    .tertiary-trapezoid-bg.image-title:before {
        left: -7% !important;
    }

   	@media (min-width:@desktop-min-fixed) {
	   	.module-resultlisting .result {
	   		padding: 10px !important;
	   	}

	   	.module-socialwidget {
	   		padding: 10px !important;
	   	}

        .module-resultlisting .resultslistingContent .resultsContainer .resultsListContainer {
            margin-top: -9px;
        }

        .module-resultlisting .facets-results-container .facets-container {border-top-width:0px!important;}
   	}
}

.ui-widget-content {
    background: @white;
    border: 1px solid @gray-80;
    color: @gray-20;
}

