
<!-- NAVBAR-TYPEAHEAD -->
{{
	include "navbar-typeahead"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/shared/partials/navbar-typeahead.hbss"
}}


<!-- TypeAhead -->
{{
	include "TypeAhead"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/shared/partials/TypeAhead.hbss"
}}


<!-- LOGO-IMAGE-->
{{
	include "sharedCompnentTemplates"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/shared/partials/logo-image.hbss"
}}

<!-- BLOGS_NAVBAR-->
{{
	include "blogs-navbar"	resourceType="/etc/partials/kpmgpublic/vue-component-templates/navbar/partials/shared/partials/blogs-navbar.hbss"
}}
