@import "../../global/css/_variables.less";
@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../profile/css/profile";
@import "../../deleteaccountlink/css/deleteaccountlink";
@import "../../interestssummary/css/interestssummary";
@import "../../librarylistmanagement/css/librarylistmanagement";
@import "../../librarysummary/css/librarysummary";
@import "../../privacy-preferences/css/privacy-preferences";
@import "../../communication-preferences/css/communication-preferences";

.global-footer {
	margin-top: 0px;
}

.module-tmpl-myaccount {
	padding: 0px 34px 0px 34px;
	background: @white;
	.full-width-row {
		padding: 0px 30px;
		display: block;
	}
	.tablet-full-width {
		padding: 0px;
	}
	.tmpl-row {
		border-bottom: 18px solid @white;
	}
	.full-page-title {
		border-bottom: 1px solid @gray-94;
	}
	// accordian specific styles
	.bread-crumb-full, .full-page-title {
		padding-left: 20px;
	}
	.breadcrumb {
		background: @white;
	}
	.library-summary,
	.interests-summary {
		padding-bottom: 18px;
	}

	.library-summary {
		.librarysummary-design {
			padding: 10px;
		}
		.module-librarysummary {
			.librarysummary-container {
				a:hover {
					text-decoration: none;
				}
				.pull-right {
					.quickview-btn {
						left: 30px;
						right: 30px;
					}
				}
			}
		}
	}

	.interests-summary {
		.interestssummary-design {
			padding: 10px;
		}
		.module-interestssummary {
			.interestssummary-container {
				a:hover {
					text-decoration: none;
				}
				.pull-right {
					.quickview-btn {
						left: 30px;
						right: 30px;
					}
				}
			}
		}
	}

	.accordion {
		padding-right: 30px;
		.card {
			border: none;
			border-radius: 0;
		}
		.card-header {
			padding: 20px 0px 20px 0px;
			height: 83px;
			border-bottom: 2px solid @white;
		}

		.accordian-btn {
			font-size: 24px;
			font-family: @arial;
			line-height: 1.2;
			font-weight: normal;
			padding-left: 20px;
			&:hover {
				text-decoration: none;
			}
		}
		.card-body {
			padding-right: 0px;
			padding-left: 0px;
		}
		.icon-chevron-down, .icon-chevron-up {
			font-size: 24px;
			padding-right: 20px;
			right: 10px;
			position: absolute;
			padding-top: 8px;
			cursor: pointer;
		}
		#general-information-container,
		#communication-preferences-container,
		#privacy-preferences-container {
			background: @white;
		}

		.white-color {
			color: @white !important;
		}

		.blue-background {
			background: @kpmg-blue !important;
		}

		.gray-background {
			background: @gray-94 !important;
		}

		.blue-icon-color {
			color:@kpmg-blue !important;
		}

		.medium-blue-color {
			color: @medium-blue !important;
		}
		/*this line of code commented to remove default selection
		#general-information {
			background: @kpmg-blue;
			.accordian-btn {
				color: @white;
			}
			.icon-chevron-up {
				color: @white;
			}
		}*/
		#general-information,
		#communication-preferences,
		#privacy-preferences {
			background: @gray-94;
			.accordian-btn {
				color: @medium-blue;
			}
			.icon-chevron-down {
				color: @kpmg-blue;
			}
		}
		#privacy-preferences-container {
			.card-body {
				padding-top: 0px;
				padding-left: 0px;
			}
			.module-privacy-preferences {
				padding-left: 0px;
				padding-top: 0px;
				padding-right: 0px;
			}
		}
		.last-accordian {
			padding-bottom: 20px;
		}
	}
	.edit-myprofile, .edit-myprofile-mode {
		.module-profile {
			.help-block {
				margin-top: 4px !important;
			}
		}
	}
	.edit-myprofile-mode {
		.module-profile {
			.help-block {
				margin-top: 0px !important;
			}
		}
	}
    .interests-summary,.library-summary {
		height: 388px;
    }
	.icon-close{
		color: @purple;
		margin-right: 10px;
	}
	.icon-chevron-left {
		margin-right: 7px;
	}
	.icon-chevron-right {
		margin-right: 2px;
	}
	.btn-cta{
		position:static!important;
	}
	.form-group.edit-myprofile {
	    background: #f0f0f0;
	    margin-bottom: 0;
	    overflow: auto;
	    display:none;
	    div{
   			float: right;
	    }
	}
	.module-basicpagetitle {
		padding: 0px;
		.basic-title {
			margin:0px;
		}
		.basic-desc {
			margin-bottom: 13px;
			margin-top: 5px;
		}
	}
	.module-breadcrumb {
    	padding: 7px 9px 0px;
    }
    .bread-crumb-full {
		margin-top: 0px;
	}
	.icon-chevron-left,icon-checkmark{
		color: #43b02a;
		padding: 0 10px;
	}
}
.module-tmpl-myaccount {
	@media only screen and (max-width: 640px) {
		.module-profile {
			.first-element {
				padding-top: 20px;
			}
			.form-group {
				margin: 0 0 20px 0;

			}
			.form-group.salutation-list-block {
				margin: 0px !important;
			}
			.edit-myprofile {
				.password-help-block {
					position: static;
					margin-top: 0px;
					padding-left: 10px;
					font-size: 16px;
					width: 100%;

					.help-header {
						margin-bottom: 18px;
					}
					.help-element {
						padding-left: 24px;
					}
				}
			}
		}

		.module-basicpagetitle{
			padding-left: 18px;
			margin-bottom: 0px;
			.basic-title{
				margin-top: 8px;
			}
			.basic-desc{
				margin-top: 7px;
			}
		}
        .interests-summary,.library-summary {
            height: auto;
        }
		.form-group.edit-myprofile {
			div{
				float: none;
				width: 97%;
				margin: auto;
			}
		}
	}
}
// tablet specific styles
@media only screen and (max-width: 1024px) {
	.tablet-full-width {
		width: 100% !important;
	}

	.module-tmpl-myaccount {
		.accordion {
			padding-right: 0px;
		}
	}
	.module-profile {
		.resend-info {
			margin-top: -86px;
		}
	}
}

// mobile related styles
@media only screen and (max-width: 640px) {
	#deleteModal, #deleteSuccessModal {
		position: fixed !important;
	}
	.tmpl-row {
		border-bottom: 0 !important;
	}
	.full-width-row {
		padding: 0 !important;
	}
	.full-page-title {
		border-bottom: 0 !important;
	}

	.module-basicpagetitle {
		.basic-desc {
			color: @medium-blue;
		}
	}
	.module-tmpl-myaccount {
		padding: 0px !important;
		.accordion {
			padding-right: 0px;
			.accordian-btn {
				text-align: left;
				padding-left: 24px;
			}
			.accordion-header {
				.icon-chevron-up,
				.icon-chevron-down {
					top: 20px !important;
					right: 10px !important;
				}
			}

			.card-body {
				padding-top: 0px;
			}
			#privacy-preferences-container {
				.privacy-container-row {
					padding: 0px;
				}
				.card-body {
					padding: 10px 20px 0px;
				}
			}
		}
	}
}
