@import "../../global/css/_variables.less";
@import url('../../global/css/vendor/_jquery.ui.min.less');

// overlay related styles

#caasResultSet {

    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 99999991;
    background: rgba(0,0,0,0.5);
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;

    .modal-dialog {
        // common dialog level styles
        position: fixed;
        top: 0;
        left: 10%;
        height: 90%;
        width: 1098px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        z-index: 99999992;
        overflow: hidden;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .modal-content {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        padding: 0px;
    }
    .modal-header {
        // common header styles
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;

        input.search {
            width: 100%;
            height: 105px;
            z-index: 99999997;
            padding-left: 60px;
            font-size: 30px;
            font-family: @arial;
            color: @kpmg-blue;
            border-bottom: 7px solid @light-blue;
        }
        .btn-close {
            top: 40px;
            color: @kpmg-blue;
            right: 10px;
            .icon-close {
                font-size: 30px;
            }
        }
        .submit-overlay-search {
            background: none;
            border: none;
            position: absolute;
            padding-top: 38px;
            padding-left: 14px;
        }
        .icon-search {
            font-size: 30px;
            color: @gray-94;
        }
    }

    .modal-body {
        // common modal body styles
        position: absolute;
        top: 105px;
        left: 0;
        padding: 10px 36px;
        background: @gray-94;
        width: 100%;
        height: 100%;
        display: block;
        overflow-y: scroll;
        box-sizing: border-box;

        .results-found {
            min-height: 235px;
        }
        ul {
            padding-bottom: 150px;

            li {
                .title-row {
                    padding-bottom: 20px;
                }
                .caas-title {
                    font-size: 30px;
                    font-family: @arial;
                    color: @kpmg-blue;
                    font-weight: bold;
                }
                .caas-description {
                    font-size: 30px;
                    font-family: @arial;
                    color: @gray-40;
                }
                // common li styles
                display: block;
                position: relative;
                padding: 12px 18px 14px 0;
                cursor: pointer;
                text-align: left;
                text-decoration: none;
                border-bottom: 1px solid @gray-102;
            }
            li:last-child {
                border-bottom: none;
            }
        }
    }

    .modal-footer {
        // common footer styles
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99999996;
        display: block;
        background: @white;
        border-top: none;
        height: 65px;
        text-align: left;

        p {
            font-size: 24px;
            line-height: 1.125;
            color: @gray-60;
            font-family: @arial;
        }

        .caas-pagination {
            display: inline-block;
            position: absolute;
            right: 120px;
            bottom: 15px;
            li {
                display: inline-block;
                a {
                    font-family: @arial;
                    font-size: 24px;
                    line-height: 1.125;
                    color: @gray-60;
                    padding: 10px;
                }
                .active {
                    color: @kpmg-blue;
                }
            }
        }

        .next-btn {
            position: absolute;
            right: 10px;
            background: none;
            border: none;
            color: @gray-60;
            bottom: 13px;
            font-family: @arial;
            font-size: 24px;
        }
    }
}


.recent_item_heading {
    text-transform: none !important;
    .promo-title(@kpmg-blue) !important;
    margin: 7px 0;
}
.searchInputsCQModel{
    display:none !important;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
    position: fixed;
}
.ui-widget {
    font-family: @arial;
}
.ui-menu .ui-menu-item {
    list-style-image: none;
    font-size:14px;
}
.ui-menu .ui-menu-item:hover {
    list-style-image: none;
    color: @white;
    background: @light-blue;
    border: 1px solid @light-blue;
    font-weight: normal;
}
.ui-menu .ui-menu-item.ui-state-focus {
    background: @light-blue;
    border: 1px solid @light-blue;
    font-weight: normal;
    color: @white;
}
.ui-widget-content {
    background: @gray-96 !important;
    border: 1px solid @gray-80 !important;
    color: @gray-20 !important;
}
#search.ui-autocomplete-loading {
    background-image: none;
}
.recent_item_heading{
    background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x scroll 0px 9px #f6f6f6;
    background-position: 0px 6px;
    padding: 17px 0 2px 5px;
    color:@kpmg-blue;
}

.module-caasdocumentsearchresults {

    .font-size(1.4);
    line-height: 1;
    .typeahead-elem {
        margin:0;
        position: absolute;
        color:@gray-80;
        left: 0px;
        right: auto;
        background:transparent;
        overflow:hidden;
        top: 20%;
        text-transform:none;
        max-width:100px;
        height:15px;
    }
    .search-title {
        display: none;
    }
    .mob-previous-search-container {
        .close-searchinput {
            .searchinput-mob-close {
                display: none;
            }
        }
    }
    .search-container {
        display: inline-block;
        width: 100%;
    }
    .btn-container {
        display: inline-block;
        width: 6%;
    }
    a.btn-back span.icon-chevron-left {
        color: @light-green;
        margin-right: 7px;
        position: relative;
        top: 5px;
        .font-size(2.2);
    }
    .radio-btns {
        display: none;
    }
    .search-input {
        width: 100% !important;
        position: relative;
        display: inline-block;
    }
    .search-input input {
        width: 317px;
        height: 40px;
        padding-left: 7px;
        padding-right: 30px;
        max-width: 317px;
    }
    .search-input button {
        width: 40px;
        height: 40px;
        padding: 5px 5px 3px 5px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: @light-green;
        color: @white;
        border-left: 0;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
    }
    .icon-search {
        .font-size(1.6);
    }

    .twitter-typeahead {
        width: 100%;
    }

    .tt-dropdown-menu {
        background-color: @white;
        border: 1px solid @gray-40;
        width: 100%;

        .tt-suggestion p {
            line-height: 1.5;
            padding: 5px;
        }

        .tt-suggestion.tt-cursor,
        .tt-suggestion > p:focus {
            background-color: @light-green;
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        .promo-details(@gray-80);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        .promo-details(@gray-80);
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        .promo-details(@gray-80);
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        .promo-details(@gray-80);
    }

}

.lt-ie10 {
    .module-caasdocumentsearchresults {
        .search-input {
            display:block;
        }
    }
}

@media (min-width: @desktop-min-fixed) {

    .module-caasdocumentsearchresults {

        .typeahead-elem {
            top: 24%;
        }


        .form-group {
            display: inline;
            margin: 0;
        }
        .btn-container {
            width: 100%;
            margin-bottom: 13px;
            display: block;
        }
        a.btn-back {
            position: relative;
            .cta-right(@gray-20);
        }
        a.btn-back span.icon-chevron-left {
            .font-size(1.4);
            top: 1px;
        }
        .search-container {
            display: block;
            width: 69%;
        }
        .search-input {
            width: 33%;
            margin-right: 5%;
        }
        .radio-btns {
            position: relative;
            display: inline-block;
            width: 61%;
            text-align: right;
            .promo-details(@gray-20);
        }
        .radio-btns .broaden-search {
            display: inline;
            color: @kpmg-blue;
        }
        .radio-btns input {
            margin: 0 4px 0 20px;
        }
    }
}

/* mobile ----------- */
@media only screen and (max-width: 667px) {
    .module-caasdocumentsearchresults {
        .search-title {
            display : block;
        }
        .mob-previous-search-container {
            .close-searchinput {
                .searchinput-mob-close {
                    display: block;
                }
            }
        }
        .ui-widget-content{
            border: 1px solid #3BA8DF !important;
            color: rgb(0, 51, 141) !important;
            background: #F0F0F0 !important;
            position: absolute !important;
        }
        .ui-menu .ui-menu-item{
            border-bottom: 1px dashed @pale-blue !important;
            line-height: 1.2 !important;
        }
        .typeahead-elem{
            padding: 0;
            line-height: 1.3;
            top: 10%;
            max-width: inherit;
            height: auto;
        }
    }

    // overlay related styles
    #caasResultSet {

        .modal-dialog {
            margin: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .modal-header {
            .btn-close{
                top:30px;
            }
        }

        .modal-body {
            ul {
                padding-bottom: 200px;
            }
        }

        .modal-footer {
            text-align: unset;
            padding: 0;
            min-height: 130px;

            .container {
                background:@gray-94;
                position: absolute;
                width: 100%;
                text-align: center;
            }

            .no-results-found {
                padding: 15px;
            }

            .results-shower {
                width: 100%;
                min-height: 65px;
                text-align: center;
                padding: 20px 0px;
            }
            .caas-pagination {
                bottom: unset;
                right: unset;
                width: auto;
                min-height: 120px;
                background: @gray-94;
                padding: 20px 0px;
                position: relative;
            }
            .next-btn {
                right: 0;
                bottom: 0;
                position: relative;
            }
        }
    }
}
