@import "../../global/css/_variables.less";

.module-touch-promotional {
    background: @white;
    padding: 0px;
    border: 18px solid @white;

    a {
        display: block;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }
    .desc-wrapper {
        padding: 17px 31px 0 13px;
    }
    .publish-date {
        color: @kpmg-blue;
        font-size: 18px;
        margin-bottom: 24px;
    }
    .tertiary-head {
        color: @black;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 30px;

        &:hover {
            text-decoration: underline;
        }
    }
    .tertiary-desc {
         color: @black;
         font-size: 18px;
         line-height: 1.2;
    }
    .line-clamp.line-clamp-5{
        -webkit-line-clamp: 5;
        max-height: 10.8rem;
    }
    .line-clamp.line-clamp-2{
        -webkit-line-clamp: 2;
        max-height: 5.8rem;
    }
}

@media only screen and (max-width: 640px) {
    .module-touch-promotional {
        border: none;
        .desc-wrapper {
            padding: 25px 15px 18px 15px;
        }
        .publish-date {
            font-size: 16px;
            font-family: @arial;
            margin-bottom: 18px;
        }
        .tertiary-head {
            font-size: 20px;
            font-family: @arial;
            font-weight: bold;
            margin-bottom: 18px;
        }
        .tertiary-desc {
             font-size: 18px;
             font-family: @arial;
        }
        .line-clamp.line-clamp-5{
            -webkit-line-clamp: 5;
            max-height: 10.8rem;
        }
        .line-clamp.line-clamp-2{
            -webkit-line-clamp: 2;
            max-height: 4.8rem;
        }
    }
}

// IE specific hover effect solution for CTA redesign
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.promotional-cell-hover {
		height: auto !important;
	}
}
