@import "../../basicpagetitle/css/basicpagetitle";
@import "../../breadcrumb/css/breadcrumb";
@import "../../share/css/share";
@import "../../imagegallery/css/imagegallery";
@import "../../downloadbutton/css/downloadbutton";
@import "../../bodytext/css/bodytext";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../mykpmgpromo/css/mykpmgpromo";

.module-tmpl-photo-gallery {

   .module-imagegallery.component{
   		padding: 0;
   }

   .visible-lg-block{
		margin-top: -9px;
   }

   .border-all {
        border: none; 
   }
    /*
  .module-imagegallery {

      .tertiary-head {
        margin: 5px 0;
      }

      .load-more-link {
        margin: 6px 0;
      }
  } */
}
/*
@media (max-width:@desktop-min-fixed) {
  .module-tmpl-photo-gallery {
    .module-imagegallery {
      .tertiary-head {
        margin: 5px 0 5px 8px;
      }
    }
  }
}
*/
