<!-- Begin Component: TouchBodytext -->
<section class="module-touch-bodytext component">
    {{#if hbs.bodyText.title}}
        <h2 class="primary-head {{hbs.bodyText.titlefont}}"
        {{#if hbs.bodyText.anchorid}}
        id="{{hbs.bodyText.anchorid}}"
        {{/if}}>{{{hbs.bodyText.title}}}</h2>
    {{/if}}
    {{#if hbs.bodyText.subTitle}}
        <h3 class="tertiary-head {{hbs.bodyText.subtitlefont}}">{{{hbs.bodyText.subTitle}}}</h3>
    {{/if}}
    {{#if hbs.bodyText.content}}
        {{#if hbs.bodyText.isFootnote}}
            <div class="bodytext-data bodytext-footnote">{{{hbs.bodyText.content}}}</div>
        {{else}}
            <div class="bodytext-data">{{{hbs.bodyText.content}}}</div>
        {{/if}}
    {{/if}}
</section>
<!-- End Component: TouchBodytext -->
