<!-- Begin Component: RegistrationPromo -->
<a class="module-registration-promo component hidden" href="#">
    <div class="promo-wrapper col-md-12" tabindex="0">
        <div class="promo-content">
            <h3 class="heading">
                {{#if hbs.registrationPromo.search}}
                    {{{hbs.registrationPromo.registrationTitleLabel}}}
                {{else}}
                    {{{i18n hbs.registrationPromo.registrationTitleLabel}}}
                {{/if}}
            </h3>
            <p class="description">
                {{#if hbs.registrationPromo.search}}
                    {{{hbs.registrationPromo.registrationDescriptionLabel}}}
                {{else}}
                    {{{i18n hbs.registrationPromo.registrationDescriptionLabel}}}
                {{/if}}
            </P>
        </div>
        <div class="promo-image">
            <img src="/etc/designs/kpmgpublic/images/site-selector-card-promo.png" alt=""/>
        </div>
    </div>
</a>
<!-- End Component: RegistrationPromo -->
