@import "../../global/css/_variables.less";

.module-sharedlist {
    padding: 0;
    background: #f0f0f0;
    font-family: @arial;
    .icon-star-open,.icon-star-close {
        color: #00338D;
    }

    .sharedlist-header {
        background: #fff;
        padding: 10px 6px;
        color: #333;
        margin: 10px 10px 8px;
        width: 98.4%;
        text-align: center;
        label{
            font-weight: normal;
            text-align: center;
            width: 100%;
            line-height: 1.4;
            font-size: 14px;
            padding-top: 5px;
        }
        label.pull-right {
            text-align: right!important;
        }
        span{
            line-height: 1.6;
        }

    }
    .textContainer {
        width: 100%;
        padding-left: 0;
        float: left;
        position: relative;
        clear: none;
        min-height: 156px;
    }
    .custom-select {
        float: left;
        height: 25px;
    }
    .loadMore {
        text-align: center;
        padding: 10px;
        .btn-more {
            display: none;
        }
    }
    .resultsListContainer {
        float: left;
        width: 100%;
        background: #f0f0f0;
    }
    .custom-select select {
        background: transparent;
        padding: 0 0 0px 5px;
        box-shadow: none;
        border: 0;
        line-height: 16px;
        height: 25px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance : none;
        &::-ms-expand {
            display: none;
        }
    }
    .result {
        padding: 10px;
        float: left;
        min-height: 332px;
        border: 0 none;
        margin: 9px;
        width: 23.3%;
        &:hover {
          box-shadow: 0px 5px 10px #d2d2d2;
          -webkit-box-shadow: 0px 5px 10px #d2d2d2;
          -moz-box-shadow: 0px 5px 10px #d2d2d2;
        }
        .imgContainer {
            width: 100%;
            a {
                min-height: 154px;
                float: left;
                width: 100%;
            }
        }
        .secondary-head {
            .add-line-clamp(1,1.6rem,1.2,1.6rem,1.3);
        }

        .description {
            .add-line-clamp(5,1.4rem,1.2,1.4rem,1.5);
        }
    }
    .icon-close{
        color: #6d2077;
    }
    .icon-move {
        color: @kpmg-blue;
    }
    .icon-share,.icon-add {
        color: #43b02a;
    }

    .error.error-inline {
        background-color: @white;
        padding: 18px 9px;
        margin-top: 18px;
        .promo-description(@gray-20);

        .errortitle, p, .searchcontainer {
            margin-bottom: 9px;
        }

        .errortitle {
            color: @medium-blue;
        }
    }

    .search-container {
        .search-input {
            position: relative;
            width: 200px;

            .form-group {
                margin-bottom: 0px;
            }

            input {
                width: 100%;
                height: 25px;
                padding-left: 7px;
                padding-right: 30px;
                .promo-details(@gray-40);
            }

            button {
                width: 25px;
                height: 25px;
                padding: 5px 5px 3px 5px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: @light-green;
                color: @white;
                border-left: 0;
                border-top: 1px solid @gray-60;
                border-bottom: 1px solid @gray-60;
                border-right: 1px solid @gray-60;
            }
        }
    }

    .result .textContainer .secondary-head a {
        cursor: pointer;
        p {
            color: #00338D;
            font-family: @arial;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.2;
            font-weight: normal;
            display: inline;
        }
    }
    .result .textContainer .secondary-head {
        margin: 13px 0 14px 0!important;
        line-height: 16px;
    }
    .icons-wrap {
        padding: 10px 0 0 0 ;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .result:hover .icons-wrap,
    .result:focus .icons-wrap,
    .secondary-head:focus .icons-wrap {
        visibility: visible;
    }
    .result:hover .icons-wrap span.icon*:hover {
        cursor: pointer;
    }
    .row.icons-wrap > a:last-child {
        float: right;
        margin: 0!important;
    }
    .row.icons-wrap > a:nth-child(2) {
        margin: 0 42%;
    }
    @media only screen and (max-width: 640px) {
        .sharedlist-header {
            background: #fff;
            padding: 10px;
            color: #fff;
            margin: 0;
            width: 100%;

            .custom-select {
                width: 100%;
            }
        }
        .result {
            padding: 10px;
            float: left;
            background: #fff;
            margin: 10px;
            width: auto;
        }
        .icons-wrap {
            padding: 60px 10px 10px;
            visibility: visible;
            position: static;
        }
    }
}
