{{#if hbs.anchorLinks.links}}
<section class="module-anchorlinks component clearfix">
    <div class="col-md-12 col-xs-12 bg-white">
        <h3 class="component-head">{{i18n hbs.anchorLinks.highlights}}</h3>
        <ul>
            {{#each hbs.anchorLinks.links}}
            <li>
                {{#if this.url}}
                <a href="#{{this.url}}" title="{{this.label}}">{{this.label}}</a>
                {{/if}}
                {{this.shortDescription}}
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{/if}}