@import "../../breadcrumb/css/breadcrumb";
@import "../../eventpagetitle/css/eventpagetitle";
@import "../../bodytext/css/bodytext";
@import "../../share/css/share";
@import "../../contactlist/css/contactlist";
@import "../../connectandrfp/css/connectandrfp";
@import "../../image/css/image";
@import "../../imagegallery/css/imagegallery";
@import "../../eventresources/css/eventresources";
@import "../../eventtabs/css/eventtabs";
@import "../../subheading/css/subheading";
@import "../../audiovideo/css/audiovideo";
@import "../../relatedcontent/css/relatedcontent";
@import "../../copyrightlist/css/copyrightlist";
@import "../../disclaimer/css/disclaimer";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../quickview/css/quickview";
@import "../../peoplecontactform/css/peoplecontactform";
@import "../../mykpmgpromo/css/mykpmgpromo";

.module-tmpl-event-detail {

    .event-breadcrumb {
        margin-top: -9px;
    }

    /*.module-eventpagetitle .event-title {
      width: 75%;
    }*/

    .no-padding {
       padding: 0 !important;
    }

    .module-imagegallery {
      padding: 0;

      .tertiary-head {
        margin: 0 0 15px 10px;
      }
    }

    .module-eventresources,
    .audiovideo-container .col-md-12 {
      padding: 0;
    }

    .module-audiovideo {
      padding: 10px !important;
    }

    .module-image {
      padding-bottom: 10px !important;
      margin-top: 18px;
    }

    .border-all {
      border: 0 none;
    }

    /*.module-eventpagetitle .image-title {
        height: 130px;
    }

    .module-eventpagetitle .share-mobile {
        right: 40px;
    }*/
/* Removed as per BrandRefresh changes - Aparna -15/10/2015
    .module-eventresources {
        .primary-head {
          margin: 0 0 8px 10px;
        }
    }

    .module-subheading {
      padding: 0 10px !important;
    }
    .module-eventtabs.component {
      margin-bottom: 0;
    }
*/
    .module-relatedcontent.horizontal {
      padding-top: 0px;
      margin-top: -10px;
    }

    

    .module-disclaimer p {
        padding-bottom: 10px;
    }

    @media (min-width:@desktop-min-fixed) {

        /*.module-eventpagetitle .image-title {
            height: 137px;
        }*/
/* Removed as per BrandRefresh changes - Aparna -15/10/2015
        .module-eventresources {
            padding: 0;

            .primary-head {
              margin-top: -14px;
            }
        }
*/
        /*.module-eventpagetitle .event-title {
            width: 87%;
        }*/
        .speaker-data:first-child {
            margin-top: 0;
        }

        .module-connectandrfp {
            position: relative !important;
        }

        .module-imagegallery {
			padding: 0 !important;
            margin: 0 -9px !important;

	        .tertiary-head {
	           margin-bottom: 3px;
	        }
        }

/* Removed as per BrandRefresh changes - Aparna -16/10/2015
        .module-subheading {
			padding: 0 !important;

          .tertiary-head {
            margin: -4px 0;
          }
            padding: 0 0 0 9px !important;
        }
*/
        .parsys-row {
           padding-bottom: 18px;
        }

        .parsys-row:last-child {
            padding-bottom: 0;
        }

        .module-image {
            padding: 10px !important;
            margin-top: 0;
        }

        .module-relatedcontent.horizontal {
			padding-top: 0;
            padding-bottom: 0;
            margin: -14px 0 -9px 0;
        }

        .template .component {
            padding-bottom: 40px;
        }

        .module-disclaimer p {
            padding-bottom: 18px;
        }
    }

    @media (min-width:@desktop-min-fluid) {

        .module-image {
            padding: 10px !important;
            margin-top: 0;
        }
     
    }
}