@import "../../searchresults/css/searchresults";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../quickview/css/quickview";
@import "../../peoplecontactform/css/peoplecontactform";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../fullbleedbanner/css/fullbleedbanner";
@import "../../registration-promo/css/registration-promo";
.module-tmpl-search-results {
    position:relative;

    .module-basicpagetitle .share-mobile .icon-share{
        margin-top: 0 !important;
    }

    /*span.component-link {
        text-transform: uppercase;
    }*/

    .share-mbl-breakpoint {
        .module-share {
            display: none;
        }
    }

    .module-basicpagetitle p {
        padding-right: 0;
    }

    .fullbleed-banner {
        padding: 0;
    }

    span.icon-download,
    span.icon-Download,
    span.icon-share {
        .font-size(1.8);
        position: relative;
        color: @light-green;
        float: left;
        padding-right: 5px;
    }
    .search-overlay {
        display:none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.5;
        z-index: 1;
        background:#f0f0f0 url(/etc/designs/kpmgpublic/images/loading.gif) center center no-repeat;
    }
    .searchCell1{
        border-bottom: none;
    }

    .quickView.desktop-only {
        display: none;
    }

    .share {
        span.component-link {
            text-transform: uppercase;
        }
    }
}

@media (min-width:@desktop-min-fixed) {
    .module-tmpl-search-results {
        .quickView.desktop-only {
            display: block;
        }

        .module-registration-promo {
            .promo-wrapper {
                min-height: 185px;
                padding-top: 17px;
                margin: 8px;
                width: auto;         
            }
        }
    }
}

@media (min-width: @desktop-min-fluid) {
    .module-tmpl-search-results {

        .quickView.desktop-only {
            display: block;
        }
    }
}

@media (min-width: 1140px) {
    .module-tmpl-search-results {
        .inner-container {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 640px) {
    .module-registration-promo {
        .promo-wrapper {
            margin-bottom: 15px;
        }
    }
}

.global-navigation {
    display: block;
}
