<section class="module-librarysummary component">
    <div class="librarysummary-container organize-library clearfix" style="display:none;">
        <a title="{{i18n 'kpmg.personalization.myaccount.librarysummary.title'}}" href="{{hbs.librarysummary.selectLibraryLink}}">
            <h3 class="image-title">{{i18n "kpmg.personalization.myaccount.librarysummary.title"}}</h3>
            <p class="librarysummary-desc line-clamp">{{i18n "kpmg.personalization.myaccount.librarysummary.description"}}</p>
            <div class="primary-cta-space"></div>
        </a>
        <div class="pull-right">
            <span class="btn-cta quickview-btn">
                <span class="icon-chevron-right "></span>
                <a title="{{i18n 'kpmg.personalization.myaccount.librarysummary.title'}}" href="{{hbs.librarysummary.selectLibraryLink}}" class="component-link my-library-summary">{{i18n "kpmg.personalization.myaccount.librarysummary.organizeyourlibrary"}}</a>
            </span>
        </div>
    </div>
    <div class="librarysummary-container view-library clearfix" style="display:none;">
        <a title="{{i18n 'kpmg.personalization.myaccount.librarysummary.title'}}" href="{{hbs.librarysummary.selectLibraryLink}}">
            <h3 class="image-title">{{i18n "kpmg.personalization.myaccount.librarysummary.title"}}</h3>
            <div class="librarysummary-desc line-clamp">
                <span>{{i18n "kpmg.personalization.myaccount.librarysummary.youhave"}}</span>
                <span class="articles">{{i18n "kpmg.personalization.myaccount.librarysummary.articles"}}</span>
                <span>{{i18n "kpmg.personalization.myaccount.librarysummary.organizedinto"}}</span>
                <span class="lists">{{i18n "kpmg.personalization.myaccount.librarysummary.lists"}}</span>
            </div>
            <div class="primary-cta-space"></div>
        </a>
        <div class="pull-right">
            <span class="btn-cta quickview-btn">
                <span class="icon-chevron-right "></span>
                <a href="{{hbs.librarysummary.selectLibraryLink}}" class="component-link my-library-summary">{{i18n "kpmg.personalization.myaccount.librarysummary.viewyourlibrary"}}</a>
            </span>
        </div>
    </div>
</section>
<!-- End Component: librarysummary -->
