@import "../../../global/css/_variables.less";

div.articles-placeholder {
  margin-top: 15px !important;

  div.col-lg-4 {
    height: 155px;

    div {
      background-color: fade(@white, 40%);
      height: 100%;
      padding: 49px 53px;
      content: "&nbsp;";

      input[type=button] {
        max-width: 240px;
        width: 100%;
        background-color: @light-blue;
        border: 0;
        color: @white;
        padding: 14px;
        font-weight: bold;
        height: 100%;
      }
    }
  }
}
