@import "../../../global/css/_variables.less";
@import "../../../global/css/vendor/_owl.carousel.less";

div.carousel-wrapper, div.preinitialize-slide-wrapper {
  overflow: visible;
  background-color: @gray-94;

  div.loop-center-carousel, div.preinitialize-carousel {
    margin-top: 20px !important;
    //margin-bottom: 40px !important;
    overflow: visible !important;
    position: relative;

    div.slide {
      padding: 36px 90px !important;
      background-color: @white;

      div.row {
        position: relative !important;

        > div {
          h1 {
            margin-top: 0;
            font-family: @kpmgLight;
            font-size: 48px;
            font-weight: normal;
            .add-line-clamp(3, 48px, 1.2, 48px, 1.2);
          }

          a {
            color: @light-blue !important;
          }
        }
      }
    }
    // OWL OVERRIDES
    div.owl-controls {
      div.owl-nav {
        display: block;

        > div {
          position: absolute;
          top: 0;
          height: 100%;
          padding: calc(22% - 40px) 32px calc(20% - 40px);
        }

        > div {
          img {
            position: relative;
            top: calc(50% ~"-" 40px); // adjustment is needed because 50% of surrounding box includes the dots, so the arrows are too low
          }
        }
        div.owl-next {
          right: 0px;
        }

        div.owl-prev {
          left: 0px;
        }
      }

      div.owl-dots {
        margin: auto;
        background: @gray-94;
        text-align: center;
        //height: 24px !important;

        div.owl-dot {
          background-color: @gray-80 !important;
          height: 11px;
          width: 11px;
          margin: 5px;
          border-radius: 10px;
          display: inline-block;
          border: none;

          &.active {
            background-color: @kpmg-blue !important;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
//
// div.loop-center-carousel {
//   margin-top: 20px !important;
//   margin-bottom: 40px !important;
//   overflow: visible !important;
//   position: relative;
//
//
//
//   div.slide {
//     padding: 36px 100px !important;
//     background-color: @white;
//
//     h1 {
//       font-family: @kpmgLight;
//       font-size: 48px;
//       color: @kpmg-blue;
//     }
//
//     a {
//       color: @light-blue !important;
//     }
//   }
//   // OWL OVERRIDES
//   div.owl-controls {
//     div.owl-nav {
//       display: block;
//
//       > div {
//         position: absolute;
//         top: calc(50% ~"-" 14px); // 14px is (28/2) as heiht of the nav-image is 28px.
//       }
//
//       div.owl-next {
//         right: 32px;
//       }
//
//       div.owl-prev {
//         left: 32px;
//       }
//     }
//
//     div.owl-dots {
//       display: inline-block;
//       margin-left: auto;
//       margin-right: auto;
//       text-align: center;
//       height: 24px !important;
//       position: absolute;
//       bottom: -35px;
//       left: 0;
//       right: 0;
//
//       div.owl-dot {
//         background-color: @gray-80 !important;
//         height: 11px;
//         width: 11px;
//         margin: 5px;
//         border-radius: 10px;
//         display: inline-block;
//         border: none;
//
//         &.active {
//           background-color: @kpmg-blue !important;
//           height: 15px;
//           width: 15px;
//           border-radius: 15px;
//           margin-bottom: 4px;
//         }
//       }
//     }
//   }
// }
