div.existing-user-login-form {
  display: none;
  background-color: @gray-94;
  z-index: 200;

  /* EMAIL LOGIN FORM */
  div.form-field input {
    height: 32px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    color: #003329;
    /*update with kpmgblue color*/
  }

  div.validation-message {
    visibility: hidden;
    font-size: 18px;
    color: red;
  }

  div.login-button {
    margin-top: 35px;
  }

  div.login-button button {
    border-radius: 6px;
    background-color: #00a3a1;
    width: 100%;
    height: 58px;
    border: none;
    font-size: 24px;
    color: white;
  }

  /* SOCIAL LOGIN FORM*/
  div.social-login-buttons div.login-button {
    margin: 20px 0;
  }

  div.social-login-buttons div.login-button button {
    color: white;
    font-size: 24px;
    border-radius: 6px;
    width: 100%;
    height: 58px;
    border: none;
  }

  div.social-login-buttons div.login-button.google button {
    background-color: #e1492e;
  }

  div.social-login-buttons div.login-button.twitter button {
    background-color: #55acee;
  }

  div.social-login-buttons div.login-button.linked-in button {
    background-color: #0077ba;
  }

  /* FORM SEPARATOR */
  div.form-separator {
    margin: 38px 0;
    border: 1px #cccccc solid !important;
  }

  div.or-label {
    font-size: 12px;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    margin-top: -16px;
    font-weight: bold;
    background-color: #ccc;
    color: white;
  }
}
