
<section class="module-contactlist component clearfix">
   <h3 class="primary-head">{{i18n hbs.contactList.contactTitle}}</h3>
   <ul class="list-group">
      {{#each hbs.contactList.items}}
      <li class="list-group-item">
         <p class="contactList-contactName contactList-items">
            <a href="{{this.contactDetailPageLink}}" class="contactList-fullName contactList-fullName-link">
               <span class="icon-users"></span>
               <span class="text-link">{{this.salutation}} {{this.firstName}} {{this.middleInitial}} {{this.lastName}} {{this.suffix}}</span>
            </a>
         </p>
         <p class="contactList-jobTitle contactList-items">{{this.jobTitle}}</p>
         <p class="contactList-pnoneNumber contactList-items"><a href="tel:{{this.phoneNumber}}" title="{{this.phoneNumber}}" x-cq-linkchecker="skip">{{this.phoneNumber}}</a></p>
         <p class="contactList-contactLink contactList-items contactlist-contact-form" tabindex="0">
               <span class="icon-email"></span>
               <span id="{{this.contactPageName}}" class="component-data-link people-connect btn-modal" data-toggle="modal" data-target="#kpmgModal" 
               data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-backdrop="static" data-keyboard="false"
               data-remote="{{../hbs.contactList.contactLink}}{{this.contactDetailPageLink}}" title="{{i18n ../hbs.contactList.contactLabel}}">
               {{i18n ../hbs.contactList.contactLabel}}
               </span>
         </p>
      </li>
      {{/each}}  
   </ul>
</section>
