<section class="module-quickview component">

    <p>
        <span class="icon-chevron-right"></span>
        <a href="#modal-container-quick-view" role="button" class="component-link" data-toggle="modal">
            {{i18n hbs.quickView.quickViewLabel}}</a>
			
			<div class="modal fade" id="modal-container-quick-view" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						
						<div class="modal-body">
							
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <div class="row clearfix">
                                <div class="pull-left col-md-4 col-xs-12">
                                    <div class="row">
										{{#if hbs.quickView.flag }}                           
                                        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-desktop="{{hbs.globalValues.assetDomainName}}{{hbs.quickView.thumbnail}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{hbs.globalValues.assetDomainName}}{{hbs.quickView.thumbnail}}/jcr:content/renditions/cq5dam.web.600.360.jpg" alt="{{hbs.quickView.alt}}" title="{{hbs.quickView.alt}}" class="quick-view-image img-responsive" />
                                    {{else}} 
                                        <video width="320" height="240" controls>
                                          <source src="movie.mp4" type="video/mp4">
                                          <source src="movie.ogg" type="video/ogg">
                                          Your browser does not support the video tag.
                                        </video>
                                    {{/if}}
									</div>
									<div class="row">
										<div class="col-md-3 no-padding">
  											<img src="/assets/fpo-images/comments.jpg" class="comments desktop-only" />
											<h2 class="event-title mobile-only">{{hbs.quickView.title}}</h2>
										</div>
										<div class="col-md-9 no-padding">
											<img src="/assets/fpo-images/ratings.jpg" class="ratings" />
										</div> 	
									</div>
									<div class="row desktop-only">										
										{{ include "downloadbutton" resourceType="/apps/kpmgpublic/components/global/download"}}
									</div>
									<div class="row">										
										{{include "share" resourceType="/apps/kpmgpublic/components/social/share"}}
									</div>
									<div class="row addToKpmg desktop-only">
										<img src="/assets/fpo-images/addToKpmg.jpg" />
									</div>                                   
                                </div>
                                <div class="pull-left col-md-8 col8">
                                    
                                    <h4 class="component-head no-margin desktop-only">{{hbs.quickView.title}}</h4>
                                    
									<p class="e-date">										
										{{hbs.quickView.date}}
									</p>									
									
									<p>{{{hbs.quickView.description}}}</p>

									<div class="mobile-only cta">
										<div class="col-sm-6 col6 pull-left">
											<span class="icon-chevron-right"></span>
											<a title="View Details" href="{{hbs.quickView.viewDetailsLink}}">
												{{i18n hbs.quickView.viewDetailsLabel}}
											</a>
										</div>
										<div class="col-sm-6 col6 pull-right">
											<span class="icon-chevron-right"></span>
											<a title="Register" href="{{hbs.quickView.registerLink}}">
												{{i18n hbs.quickView.registerLabel}}
											</a>
										</div>
									</div>
                                </div>
                            </div>
						</div>						
					</div>
					
				</div>
				
			</div>
    </p>

</section>

