<section class="module-tmpl-boiler-plate">
   <div class="row tmpl-row">
      <div class="col-md-12 full-page-title">
         <div class="inner-container">
            {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"  path="cell2"}}
         </div>
      </div>
   </div>
<div class="inner-container">
   <div class="row">
      <div class="row-same-height row-full-height">
         <div class="col-md-9 col-md-height col-top">
            {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext" path="cell4"}}
         </div>
         <div class="col-md-3 col-md-height col-transparent col-top">
            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}}
               {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell6"}}
            {{/render}}
         </div>
      </div>
   </div>
</div>
</section>