<script type="text/javascript"> 
    var gigyaPageProperties = {
        "shareTitle": "{{{hbs.share.shareTitle}}}",
        "shareUrl": "{{hbs.share.shareUrl}}",
        "shareSiteName": "{{hbs.share.shareSiteName}}",
        "shareLanguage": "{{hbs.share.shareLanguage}}",
        "shareImage": "{{hbs.share.shareImage}}",
        "shareDescription": "{{{hbs.share.shareDescription}}}",
        "shareOperationMode": "simpleShare",
        "shareEnabledProviders" : "{{hbs.share.shareEnabledProviders}}",
        "shareTarget" : "btnShare",
        "twitterDefaultText" : "{{hbs.share.twitterDefaultText}}"
    };
</script>
<section class="module-share component self-contained clearfix">
    <a class="share-component" href="#" id="btnShare" title="{{i18n hbs.share.shareLabel}}" onclick="javascript:showShareUI(gigyaPageProperties); return false;">          
        <span class="icon-share"></span>
        <span class="component-link">{{i18n hbs.share.shareLabel}}</span>
    </a>
</section>