<section class="module-tmpl-country-selector">
	<div class="row">
		<div class="tmpl-row col-md-12 full-page-title" data-desktop-cell="1" data-mobile-cell="1">
			<div class="inner-container">
					{{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
			</div>
	    </div>
	</div>
	<div class="inner-container">
		<div class="row tmpl-row">
			<div class="row-same-height row-full-height">
				<div class="col-md-12">
					<div class="row-same-height row-full-height">
						{{ include "manualcountrylanguagedesignationselection"  resourceType="/apps/kpmgpublic/components/content/countrylanguagedesignation"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>