<section class="module-connectandrfp component clearfix">
    <h3 class="primary-head">
        {{i18n hbs.connectAndRFP.cwuTitle}}
    </h3>
   <ul class="list-group">
      <li class="list-group-item">
         <span class="icon-location pull-left"></span>
         <a class="connectandrfp-connect-custom-padding" href="{{hbs.connectAndRFP.findOfficeLocationsLink}}" title="{{i18n hbs.connectAndRFP.findOfficeLocationsLabel}}">
         {{i18n hbs.connectAndRFP.findOfficeLocationsLabel}}
         </a>
         <span class="visually-hidden">{{hbs.connectAndRFP.findOfficeLocationsLabel}}</span>
      </li>
      <li class="list-group-item contact-modal" tabindex="0" data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" data-toggle="modal" data-target="#kpmgModal" data-backdrop="static" data-keyboard="false" data-remote="{{hbs.connectAndRFP.contactFormLink}}" role="button">
        <span class="icon-email pull-left"></span>
          <span id="contact-form-modal" class="email-data-link connectandrfp-connect-custom-padding btn-modal" title="{{i18n hbs.connectAndRFP.emailUsLabel}}">
          {{i18n hbs.connectAndRFP.emailUsLabel}}
          </span>
         <span class="visually-hidden">{{hbs.connectAndRFP.emailUsLabel}}</span>
      </li>
      <li class="list-group-item">
         <span class="icon-users pull-left"></span>
         <a class="connectandrfp-connect-custom-padding" href="{{hbs.connectAndRFP.socialMediaLink}}" title="{{i18n hbs.connectAndRFP.socialMediaLinkLabel}}">
         {{i18n hbs.connectAndRFP.socialMediaLinkLabel}}
         </a>
         <span class="visually-hidden">{{hbs.connectAndRFP.socialMediaLinkLabel}}</span>
      </li>
   </ul>
   {{#if hbs.connectAndRFP.rfpShow}}
   <div class="connectandrfp-rfp">
      <div class="rfp-space">&nbsp;</div>
      <div class="rfp-container">
        <h4 class="tertiary-head">{{i18n hbs.connectAndRFP.cwuRfpTitle}}</h4>
        <div class="rfp-cta-space">&nbsp;</div>
        <p class="pull-right">
          <img class="rfp-loading show" src="/etc/designs/kpmgpublic/images/loading.gif" alt="" />
          <span class="btn-cta rfp-modal" tabindex="0" role="button">
            <span class="icon-chevron-right hide"></span><span class="component-data-link btn-modal hide" id="rfp-process-modal"
            data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html"  data-remote="{{hbs.connectAndRFP.rfpButtonLink}}"
            data-toggle="modal" data-backdrop="static" data-target="#kpmgModal" title="{{i18n hbs.connectAndRFP.cwuRfpButtonText}}">{{i18n hbs.connectAndRFP.cwuRfpButtonText}}</span>
          </span>
         </p>
      </div>
   </div>
   {{/if}}
</section>
