<div class="row row-same-height row-full-height">
 {{#each results}}
    <div class=" image-gallery-column col-md-3 col-md-height col-sm-height col-full-height col-top">
        <div class="item">
            <div href="#image-quick-view" class="btn-modal" title="{{this.imageTitles}}">
           <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 237'%2F%3E" data-image="{{../assetDomainName}}{{this.thumbnail}}"  alt="{{this.imageAltTitles}}" data-desktop="{{../assetDomainName}}{{this.thumbnail}}/jcr:content/renditions/cq5dam.web.237.237.{{this.fileType}}" data-mobile="{{../assetDomainName}}{{this.thumbnail}}/jcr:content/renditions/cq5dam.web.424.424.{{this.fileType}}" class="img-responsive lazy gallery-image" />
            </div>
            <div class="item-info">
                {{#if this.imageTitles}}
                	<h4 class="item-header line-clamp line-clamp-4">{{this.imageTitles}}</h4>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>