@import "../../global/css/_variables.less";
@import "../../touch-trifectabanner/css/touch-trifectabanner";
@import "../../touch-videobanner/css/touch-videobanner";
@import "../../touch-supportingcontent/css/touch-supportingcontent";
@import "../../touch-recentposts/css/touch-recentposts.less";
@import "../../touch-featuredauthors/css/touch-featuredauthors.less";
@import "../../touch-promotional/css/touch-promotional.less";

.module-tmpl-touch-blog-home {
    .col-12 {
        padding: 0px;
    }
    .trifecta-banner-row {
        .trifecta-banner-col {
            padding: 4px 0px 0px 0px;
        }
    }

    .featured-author-row {
        .featured-author {
            padding: 0;
            
        }
    }
    .supportingcontent-row {
        .supportingcontent {
            padding: 0px !important;
        }
    }
    
    
}
