<!-- Begin Template: TmplTouchBlogTopiclanding -->
<section class="module-touch-blog-topiclanding bs4">
    <!-- touch fullbleed banner component -->
    <div class="row">
        <div class="col-md-12 fullbleedrow">
            {{ include "touchfullbleed" resourceType="/apps/kpmgpublic/components/blogs/touchfullbleedbanner"}}
        </div>
    </div>

    <!-- topics list header component -->
    <div class="topic-list-header-row">
        {{ include "blogtopiclist" resourceType="/apps/kpmgpublic/components/blogs/blogtopiclist"}}
    </div>
</section>
<!-- End Template: TmplTouchBlogTopiclanding -->
