<!-- Begin Template: TmplTouchBlogError -->
<section class="module-tmpl-touch-blog-error bs4">
    <!-- touch blog error component -->
    <div class="row error-row">
        <div class="col-md-12 content-wrapper">
            <div class="blogerror-wrapper">
                {{ include "touchbodytext" resourceType="/apps/kpmgpublic/components/blogs/touchbodytext"}}
            </div>
            <div class="searchinput-wrapper">
                {{ include "searchinputs" resourceType="/apps/kpmgpublic/components/hidden/searchInput"}}
            </div>
        </div>

    </div>

</section>

<!-- End Template: TmplTouchBlogError -->
