<section class="module-tmpl-registration">
    <div class="">
        <div class="row">
            <div class="row-same-height row-full-height">
                {{ include "registrationpagetitle" resourceType="/apps/kpmgpublic/components/personalization/registrationpagetitle"}}
            </div>
        </div>
        <div class="inner-container row">
            <div class="row-same-height row-full-height p-desktop-9-px">
                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell2" }}
            </div>
        </div>
        <div class="registration-done-row">
            {{ include "registrationDone" resourceType="/apps/kpmgpublic/components/personalization/gigyalogin"}}
        </div>
    </div>
</section>
