@import "../../global/css/_variables.less";

.module-officelocation {
     .tertiary-head {
    color:@kpmg-blue;   
    text-transform: uppercase;    
    margin-bottom:10px;
  }
    .codeSnippet{
      margin:10px 0;
    }
  p {   
    font-style: italic;
  }
   
}



