<section class="module-htmlcontainer component clearfix bg-white"
        data-page-url="{{hbs.htmlContainer.canonical}}"
        data-image="{{hbs.htmlContainer.image}}"
        data-title="{{{hbs.htmlContainer.title}}}"
        data-short-title="{{{hbs.htmlContainer.shortTitle}}}"
        data-description="{{{hbs.htmlContainer.description}}}"
        data-short-description="{{{hbs.htmlContainer.shortDescription}}}"
        data-article-type="{{hbs.htmlContainer.articleType}}"
        data-save="{{i18n 'kpmg.personalization.library.addtolibraryoverlay.save'}}">
    {{{hbs.htmlContainer.containerText}}}
</section>
