@import "../../global/css/_variables.less";
.globalLeadership {
    background: @white;

    h2 {
        color: @kpmg-blue;
        font-family: @kpmgLight;
        .font-size(7.4);
        .line-height(8.2);
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media only screen and (max-width: @mobile-max-fixed) {
            .font-size(6.4);
            .line-height(7.2);
        }
    }

    p {
        .font-size(1.6);   
        .line-height(2.5);
        &.description {
            .add-line-clamp-v2(4, 16px, 2.5, 16px, 1, transparent);
            max-height: calc(4 * 16px * 2.5) !important;
        }
   }
    a {
        &.cta.btn { 
            color: @white; 
            font-family: @arial;
            
            .font-size(1.6); 
            .line-height(2.5);
            background: @light-blue; 
            font-weight: 500; 
            border-radius: 0;
            padding: 7px 18px;
            align-self: flex-start;
            white-space: nowrap;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover, &:active { 
                color: @white;
                background: @kpmg-blue; 
                .font-size(1.6); 
                outline: @white-transparent 2px;
            }
        }
    }


    .leaders {
        margin: 0 auto;
        padding-top:30px;
        display: flex;
        align-self: center;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
        background: @white;
        
        @media only screen and (max-width: @mobile-max-fixed) {
            flex-wrap: nowrap;
            overflow: auto;
            justify-content: flex-start;
        }
        
        article{
            border: 1px transparent solid;
            &:hover, &:focus, &:active, &:focus-within {
                border: 1px @gray-80 solid !important;
            }

            display: block;
            background: @white;

            flex: 0 0 20%;
            max-width:20%;
            padding-bottom:30px;
            
            @media only screen and (max-width: @mobile-max-fixed) {
                flex: none;
                max-width: inherit;
                width: 255px;
                padding-left: 25px;
                padding-right: 25px;
            }

            .name {
                .font-size(1.8);
                .line-height(2.4);
                color: @kpmg-blue;
                font-weight: bold;
                margin-top: 18px;
                margin-bottom: 8px;
                display: block;

                @media only screen and (max-width: @mobile-max-fixed) {
                    .font-size(1.6);
                    .line-height(2.2);
                }
            }

            .location {
                .font-size(1.6);
                .line-height(2.2);
                color: @black;
            }

        }

        .scroll {
            @media only screen and (max-width: @mobile-max-fixed) {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar; 
            }
        }
    }
}