<section data-filmcarouselrendition='{"imageGalleryConfig":[
            {{#hbs.articleEventFilmStrip.imageConfig}}
            {
            "width":{{this.imagewidth}},
            "height":{{this.imageheight}},
            "dwidth":{{this.devicewidth}}
            },
            {{/hbs.articleEventFilmStrip.imageConfig}}
            {}
            ],
            "imageGalleryConfigExists":{{#if hbs.articleEventFilmStrip.imageConfigExists}}true{{else}}false{{/if}}
            }' class="module-filmstripcarousel component" data-locale="{{ hbs.articleEventFilmStrip.locale }}" data-path="{{ hbs.articleEventFilmStrip.articleCarouselSolrUrl }}" data-items="{{hbs.articleEventFilmStrip.noOfItems}}" data-showTime="{{hbs.articleEventFilmStrip.showTime}}">
    <a href="javascript:void(0);" class="articleEventFilmStrip-tab-entry no-highlight"></a>
    {{#if hbs.articleEventFilmStrip.showTitle}}
        <h3 class="secondary-head">{{i18n hbs.articleEventFilmStrip.carouselTitle }}</h3>
    {{/if}}
    <div class="carousel-container {{#if hbs.articleEventFilmStrip.results}}has-slides{{/if}}">
        <div style="overflow: hidden;" class="{{#unless hbs.isAuthor}}frame{{/unless}}">
            <ul class="items">
            </ul>
        </div>
        <div class="controls hidden-xs">
            <a href="javascript:void(0);" class="prevPage"><span class="icon-carousel-left"></span></a>
            <a href="javascript:void(0);" class="nextPage"><span class="icon-carousel-right"></span></a>
        </div>
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
    </div>
    <a href="javascript:void(0);" class="articleEventFilmStrip-tab-exit no-highlight"></a>
</section>

