<div class="eventtabs-item col-md-12 speaker-data">
    <div class="col-md-3">
        <a href="{{this.pagePath}}" title="{{this.alt}}">
            <img alt="{{this.alt}}" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-mobile="{{../assetDomainName}}{{this.contactProfile}}/jcr:content/renditions/cq5dam.web.512.341.jpg" data-desktop="{{../assetDomainName}}{{this.contactProfile}}/jcr:content/renditions/cq5dam.web.237.158.jpg" class="img-responsive lazy" />
        </a>
    </div>
    <div class="col-md-9">
        <h2 class="secondary-head">
            <a href="{{this.pagePath}}">
                {{#if this.fullName}}
                    {{this.fullName}}
                {{/if}}
            </a>
        </h2>
        <h3 class="tertiary-head">
            <span>{{this.jobTitle}}</span>
            <span>{{this.location}}</span>
        </h3>
        <p>{{this.description}}</p>
        <div class="row">
        <div class=" contactFmLink">
            <div class="primary-cta-space">&nbsp;</div>
            <div class="pull-right">
                <span class="btn-cta contact-btn">
                   <span class="icon-chevron-right "></span>
                      <span data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-backdrop="static" data-keyboard="false" data-remote="{{this.peopleContactFormLink}}{{this.pagePath}}" class="contact people-connect btn-modal pcfLink component-data-link modal-open" tabindex="0">{{this.contactFormLinkCopy}}</span>
                </span>
            </div>
        </div>
        <div class="quickView desktop-only">
            <div class="secondary-cta-space">&nbsp;</div>
            <div class="pull-right">
                <span tabindex="0" class="btn-cta quickview-btn">
                     <span class="icon-chevron-right "></span>
                     <a href="{{this.pagePath}}" data-viewindex="{{indexVal}}" role="button" class="component-link" data-toggle="modal">{{this.quickViewInTile}}</a>
                </span>
            </div>
        </div>
        </div>
    </div>
</div>

