@import "../../subnavigation/css/subnavigation";
@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../shortcarousel/css/shortcarousel";
@import "../../promotionala/css/promotionala";
@import "../../connectandrfp/css/connectandrfp";
@import "../../bodytext/css/bodytext";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../imagegallery/css/imagegallery";
@import "../../peoplefilmstrip/css/peoplefilmstrip";
@import "../../peoplefilmstripa/css/peoplefilmstripa";
@import "../../audiovideo/css/audiovideo";
@import "../../image/css/image";
@import "../../inlinelist/css/inlinelist";
@import "../../share/css/share";
@import "../../downloadbutton/css/downloadbutton";
@import "../../amcharts/css/amcharts";
@import "../../ammaps/css/ammaps";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../addtolibrary/css/addtolibrary";@import "../../enhanceddownload/css/enhanceddownload";
.module-tmpl-peoplesublanding {
	margin-top: -9px;

	.promo-border {
		border-top: 0 none;
		border-bottom: 0 none;
	}

	.module-inlinelist {
		padding-bottom: 10px !important;
		margin-top: 18px;
	}

	.module-shortcarousel.component {
		padding: 0 !important;
	}

	.module-amcharts .codeSnippet {
		margin: 11px 0 0;
	}

	.module-ammaps .codeSnippet {
		margin: 11px 0 0;
	}

	.module-promotionalc,
	.module-promotionala,
	.module-promotionalb,
	.module-promotionald,
	.module-promotionale {
		float: left !important;
		width: 100%;
	}

	.module-imagegallery {
		padding: 0 !important;
		margin-left: -9px;
		margin-right: -9px;

		.border-all {
			border-top: 0;
		}

		.col-md-3 .item {
		    height: 245px;
		}

		.col-md-6 .item {
		    height: 365px;
		}
	}

	.image-gallery-column.col-md-6 {
		min-width: auto !important;
	}

	.module-downloadbutton {
		margin-top: 0 !important;
		background: #fff !important;
	}

	.col-md-6 .col-md-12 {
	    padding: 0;
	}

	@media (min-width: @desktop-min-fixed) { 
		
		.module-connectandrfp {
			position: relative !important; 
		}

		.parsys-row {
			border-bottom: 18px solid @gray-94;
		}

		.parsys-row:last-child {
			border-bottom: 0;
		}

		.promo-border {
			border-top: 18px solid @gray-94;
			border-bottom: 18px solid @gray-94;
		}

		.btn-cta{
			position: absolute;
			bottom: 7px;
			right: 18px !important;
		}

		.module-inlinelist {
			margin-top: 0;
		}

		.module-imagegallery .col-md-6 .item {
		    min-height: 385px;
		}
		
	}
}

// IE specific hover effect solution for CTA redesign
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.module-tmpl-peoplesublanding{
		.last-column{
			.promotional-cell-hover { 
				height: auto !important;
			}
		}
	}
}