@import "../../global/css/_variables.less";

.module-subheading {
	&.component {
   		padding: 10px ;
   	}
	   .tertiary-head {
	   		.component-title(@kpmg-blue);
				color: @kpmg-blue;
				font-family: @kpmgLight;
				.font-size(3.8);
	   }
		 div {
			.set-font-size(1.8);
			color: @gray-20;
			font-family: @arial;
		 }
}

@media (max-width:@desktop-min-fixed) {
.tmpl-row {
  .parsys-container {
    border: none;
  }
}
}
