@import "../../global/css/_variables.less";

.module-image {

    padding: 10px !important;   
	.tertiary-head {
		margin: 8px 0px;
	}
	.image-caption {
	 	.promo-description(@gray-20);        
    	margin: 7px 0px;  
	}
	img {
		width: 100%;
	}
}