<section class="module-tmpl-services-landing-r">

    <div class="row visible-sm-block visible-md-block visible-lg-block">
      <div class="col-md-12 bread-crumb-full">
         <div class="inner-container">
            {{ include "breadcrumb" resourceType="/apps/kpmgpublic/components/hidden/breadcrumb" }}
         </div>
      </div>
   </div>

   <div class="row tmpl-row">
        <div class="col-md-12 full-page-title" data-desktop-cell="1" data-mobile-cell="1">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>

        </div>
   </div>

   <div class="inner-container">

        <div class="row">
            <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
                {{ include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}}
            </div>
        </div>

        <div class="row">
            <div class="row-same-height row-full-height">
                
                <div class="col-md-3 col-md-height col-full-height col-top col-transparent"  data-desktop-cell="3" data-mobile-cell="12">
                  {{ include "subnavigation" resourceType="/apps/kpmgpublic/components/content/subnavigation" }}
                </div>

                <div class="col-md-9 col-md-height col-full-height col-top col-nested">

                    <div class="row-same-height row-full-height">

                        <div class="col-md-8 col-md-height col-full-height col-top" data-desktop-cell="4" data-mobile-cell="3">
                            {{include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}} 
                        </div>

                        <div class="col-md-4 col-md-height col-full-height  col-top"  data-desktop-cell="5" data-mobile-cell="4">
                            {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                        </div>

                    </div>

                    <div class="row-same-height row-full-height">

                        <div class="col-md-4 col-md-height col-full-height col-top"  data-desktop-cell="6" data-mobile-cell="7">
                            {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell8" }}
                        </div>

                        <div class="col-md-8 col-md-height col-full-height  col-top"  data-desktop-cell="7" data-mobile-cell="5">
                            {{ include "promotionale" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                        </div>

                    </div>

                    <div class="row-same-height row-full-height">

                        <div class="col-md-8 col-md-height col-full-height col-top"   data-desktop-cell="8" data-mobile-cell="6">
                            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell10"}}
                            {{/render}}
                        </div>

                        <div class="col-md-4 col-md-height col-full-height  col-top"  data-desktop-cell="9" data-mobile-cell="8">
                            {{ include "promotionala_1" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                        </div>

                    </div>

                    <div class="row-same-height row-full-height">

                        <div class="col-md-4 col-md-height col-full-height col-top" data-desktop-cell="10" data-mobile-cell="9">
                            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell12"}}
                                                                                                                  {{/render}}
                        </div>

                        <div class="col-md-4 col-md-height col-full-height  col-top"  data-desktop-cell="11" data-mobile-cell="10">
                           {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell13"}}
                                                                                                                  {{/render}}
                        </div>

                        <div class="col-md-4 col-md-height col-full-height  col-top"  data-desktop-cell="12" data-mobile-cell="11">
                            {{#render resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell14"}}
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell14"}}
                                                                                                                  {{/render}}
                        </div>

                    </div>
					<div class="row">
                       <div class="col-md-12" data-desktop-cell="15" data-mobile-cell="15">
                                {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell15"}}
                       </div>
                    </div>

                </div>

            </div>
        </div>
    </div>    
</section>