@import "../../global/css/_variables.less";
.module-ammaps {
    padding: 10px;
    .tertiary-head {
        .promo-title(@kpmg-blue);
        margin: 8px 0px;
    }
    p {
        .promo-description(@gray-20);
        margin: 7px 0px;
    }
    .codeSnippet {
        margin: 10px 0px;
        a {
            color: @light-blue;
        }
    }
}