{{#each results}}
<a href="{{CTALink}}" title="{{jobTitle}}">
    <div class="contactcarousel-item" data-path="{{hbs.contactCarousel.contactCarouselTagUrl}}" data-slideno="{{@index}}">
        <div class="contactcarousel-item-row">
            <div class="col-md-6 col-xs-6">
                {{#if this.imageGalleryConfigExists}}
                <div data-picture data-alt='{{jobTitle}}'>
                    {{#this.imageGalleryConfig}}
                    <div data-src="{{../../assetDomainName}}{{../profilePhoto}}/jcr:content/renditions/cq5dam.web.{{this.width}}.{{this.height}}.jpg" data-media="(min-width: {{this.dwidth}}px)"></div>
                    {{#if @last}}
                    <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.width}} {{this.height}}'%2F%3E" alt="{{imageAltText}}" />
                    {{/if}}
                    {{/this.imageGalleryConfig}}
                </div>
                {{else}}
                <img class="img-responsive lazy" data-desktop="{{../assetDomainName}}{{profilePhoto}}/jcr:content/renditions/cq5dam.web.237.237.jpg" data-mobile="{{../assetDomainName}}{{profilePhoto}}/jcr:content/renditions/cq5dam.web.237.237.jpg" alt="{{jobTitle}}" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 237'%2F%3E" data-src="" />
                {{/if}}
            </div>
            <div class="contactcarousel-item-description">
                {{#if contactFirstName}}
                <p>{{salutation}} {{contactFirstName}} {{middleInitial}} {{contactLastName}} {{#if suffix}}{{suffix}}{{/if}}</p>
                {{/if}}
                <div class="contactcarousel-container">
                    {{#if jobTitle}}
                    <span class="contactcarousel-item-description-title"> {{jobTitle}}, </span>
                    {{/if}}
                    {{#if location}}
                    <span class="contactcarousel-item-description-title"> {{location}},</span>
                    {{/if}}
                    {{#if contactCity}}
                    <span class="contactcarousel-item-description-title"> {{contactCity}}</span>
                    {{/if}}
                    {{#if contactState}}
                    <span class="contactcarousel-item-description-title">, {{contactState}}</span>
                    {{/if}}
                </div>
                <div class="contactcarousel-item-partnerDescription">{{shortDescription}}</div>
            </div>
        </div>
</div>
</a>
{{/each}}
