<footer class="module-footer-v2 bg-white">
    <div class="row footer-and-social-links">
        <div class="row-container">
          <div class="col-md-8 col-xs-12 footer-Links">
              <ul class="links desktop-only">
                  
                  {{#if hbs.footer.legalLink}}
                    <li>
                      <a href="{{hbs.footer.legalLink}}" title="{{i18n hbs.footer.legalLabel}}">
                        {{i18n hbs.footer.legalLabel}}
                      </a>
                    </li>
                  {{/if}}

                  {{#if hbs.footer.privacyLink}}
                      <li class="footer-padding">
                        <a href="{{hbs.footer.privacyLink}}" title="{{i18n hbs.footer.privacyLabel}}">
                          {{i18n hbs.footer.privacyLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.accessibilityLink}}
                      <li>
                        <a href="{{hbs.footer.accessibilityLink}}" title="{{i18n hbs.footer.accessibilityLabel}}">
                          {{i18n hbs.footer.accessibilityLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.sitemapLink}}
                      <li class="footer-padding">
                        <a href="{{hbs.footer.sitemapLink}}" title="{{i18n hbs.footer.sitemapLabel}}">
                          {{i18n hbs.footer.sitemapLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.helpLink}}
                      <li>
                        <a href="{{hbs.footer.helpLink}}" title="{{i18n hbs.footer.helpLabel}}">
                          {{i18n hbs.footer.helpLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.contactLink}}
                      <li class="footer-padding">
                        <a href="{{hbs.footer.contactLink}}" title="{{i18n hbs.footer.contactLabel}}">
                          {{i18n hbs.footer.contactLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.glossaryLink}}
                      <li>
                        <a href="{{hbs.footer.glossaryLink}}" title="{{i18n hbs.footer.glossaryLabel}}">
                          {{i18n hbs.footer.glossaryLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.optionalLink}}
                      <li class="footer-padding">
                        <a href="{{hbs.footer.optionalLink}}" title="{{hbs.footer.optionalLabel}}">
                          {{hbs.footer.optionalLabel}}
                        </a>
                      </li>
                  {{/if}}
              </ul>
              <ul class="links mobile-only">
                  {{#if hbs.footer.legalLink}}
                    <li>
                      <a href="{{hbs.footer.legalLink}}" title="{{i18n hbs.footer.legalLabel}}">
                        {{i18n hbs.footer.legalLabel}}
                      </a>
                    </li>
                  {{/if}}

                  {{#if hbs.footer.privacyLink}}
                      <li>
                        <a href="{{hbs.footer.privacyLink}}" title="{{i18n hbs.footer.privacyLabel}}">
                          {{i18n hbs.footer.privacyLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.accessibilityLink}}
                      <li>
                        <a href="{{hbs.footer.accessibilityLink}}" title="{{i18n hbs.footer.accessibilityLabel}}">
                          {{i18n hbs.footer.accessibilityLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.sitemapLink}}
                      <li>
                        <a href="{{hbs.footer.sitemapLink}}" title="{{i18n hbs.footer.sitemapLabel}}">
                          {{i18n hbs.footer.sitemapLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.helpLink}}
                      <li>
                        <a href="{{hbs.footer.helpLink}}" title="{{i18n hbs.footer.helpLabel}}">
                          {{i18n hbs.footer.helpLabel}}
                        </a>
                      </li>
                  {{/if}}
                  
                  {{#if hbs.footer.glossaryLink}}
                      <li class="">
                        <a href="{{hbs.footer.glossaryLink}}" title="{{i18n hbs.footer.glossaryLabel}}">
                          {{i18n hbs.footer.glossaryLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.contactLink}}
                      <li>
                        <a href="{{hbs.footer.contactLink}}" title="{{i18n hbs.footer.contactLabel}}">
                          {{i18n hbs.footer.contactLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.optionalLink}}
                      <li class="">
                        <a href="{{hbs.footer.optionalLink}}" title="{{hbs.footer.optionalLabel}}">
                          {{hbs.footer.optionalLabel}}
                        </a>
                      </li>
                  {{/if}}

                  {{#if hbs.footer.header1URL}}
                  <li>
                      <a href="{{hbs.footer.header1URL}}" title="{{hbs.footer.header1Label}}"
                      {{#unless hbs.footer.isHeaderUrl1Internal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >
                      {{hbs.footer.header1Label}}
                      {{#unless hbs.footer.isHeaderUrl1Internal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                    </a>
                  </li>
                  {{#each hbs.footer.subMenu1links}}
                  <li>
                      <a href="{{this.url}}" title="{{this.label}}"
                      {{#unless this.isSubMenuUrlInternal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >{{this.label}}
                      {{#unless this.isSubMenuUrlInternal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                      </a>
                  </li>
                  {{/each}} 
                  {{/if}}


                  {{#if hbs.footer.header2URL}}
                  <li>
                      <a href="{{hbs.footer.header2URL}}" title="{{hbs.footer.header2Label}}" 
                      {{#unless hbs.footer.isHeaderUrl2Internal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >
                      {{hbs.footer.header2Label}}
                      {{#unless hbs.footer.isHeaderUrl2Internal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                    </a>
                  </li>
                  {{#each hbs.footer.subMenu2links}}
                  <li>
                      <a href="{{this.url}}" title="{{this.label}}"
                      {{#unless this.isSubMenuUrlInternal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >{{this.label}}
                      {{#unless this.isSubMenuUrlInternal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                      </a>
                  </li>
                  {{/each}} 
                  {{/if}}


                  {{#if hbs.footer.header3URL}}
                  <li>
                      <a href="{{hbs.footer.header3URL}}" title="{{hbs.footer.header3Label}}"
                      {{#unless hbs.footer.isHeaderUrl3Internal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >
                      {{hbs.footer.header3Label}}
                      {{#unless hbs.footer.isHeaderUrl3Internal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                    </a>
                  </li>
                  {{#each hbs.footer.subMenu3links}}
                  <li>
                      <a href="{{this.url}}" title="{{this.label}}" 
                      {{#unless this.isSubMenuUrlInternal}}
                        target="_blank" 
                        x-cq-linkchecker="skip"
                      {{/unless}}
                      >{{this.label}}
                      {{#unless this.isSubMenuUrlInternal}} 
                        <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                      {{/unless}}
                      </a>
                  </li>
                  {{/each}} 
                  {{/if}}

              </ul>
          </div>
          <div class="col-md-4 col-xs-12 footer-socialchannelLinks">
              {{include "socialchannels" resourceType="/apps/kpmgpublic/components/social/footersocialchannels" path="SocialChannels"}}
          </div>
        </div>

          <!--Organizational footer links start-->
          <div class="col-md-6 organizational-footer-links desktop-only">
              <div class="col-md-4">
                  <ul>
                      {{#if hbs.footer.header1URL}}
                      <li class="org-header">
                          <a href="{{hbs.footer.header1URL}}" title="{{hbs.footer.header1Label}}"
                          {{#unless hbs.footer.isHeaderUrl1Internal}}
                            target="_blank" 
                            x-cq-linkchecker="skip"
                          {{/unless}}
                          >
                          {{hbs.footer.header1Label}}
                          {{#unless hbs.footer.isHeaderUrl1Internal}} 
                            <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                          {{/unless}}
                        </a>
                      </li>
                      {{#each hbs.footer.subMenu1links}}
                      <li class="org-submenu">
                          <a href="{{this.url}}" title="{{this.label}}"
                          {{#unless this.isSubMenuUrlInternal}}
                            target="_blank" 
                            x-cq-linkchecker="skip"
                          {{/unless}}
                          >{{this.label}}
                          {{#unless this.isSubMenuUrlInternal}} 
                            <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                          {{/unless}}
                          </a>
                      </li>
                      {{/each}} {{/if}}
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul>
                      {{#if hbs.footer.header2URL}}
                        <li class="org-header">
                            <a href="{{hbs.footer.header2URL}}" title="{{hbs.footer.header2Label}}" 
                            {{#unless hbs.footer.isHeaderUrl2Internal}}
                              target="_blank" 
                              x-cq-linkchecker="skip"
                            {{/unless}}
                            >
                            {{hbs.footer.header2Label}}
                            {{#unless hbs.footer.isHeaderUrl2Internal}} 
                              <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                            {{/unless}}
                          </a>
                        </li>
                        {{#each hbs.footer.subMenu2links}}
                        <li class="org-submenu">
                            <a href="{{this.url}}" title="{{this.label}}"
                            {{#unless this.isSubMenuUrlInternal}}
                              target="_blank" 
                              x-cq-linkchecker="skip"
                            {{/unless}}
                            >{{this.label}}
                            {{#unless this.isSubMenuUrlInternal}} 
                              <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                            {{/unless}}
                            </a>
                        </li>
                        {{/each}} 
                      {{/if}}
                  </ul>
            </div>
            <div class="col-md-4"> 
                <ul>
                    {{#if hbs.footer.header3URL}}
                      <li class="org-header">
                          <a href="{{hbs.footer.header3URL}}" title="{{hbs.footer.header3Label}}"
                          {{#unless hbs.footer.isHeaderUrl3Internal}}
                            target="_blank" 
                            x-cq-linkchecker="skip"
                          {{/unless}}
                          >
                          {{hbs.footer.header3Label}}
                          {{#unless hbs.footer.isHeaderUrl3Internal}} 
                            <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                          {{/unless}}
                        </a>
                      </li>
                      {{#each hbs.footer.subMenu3links}}
                      <li class="org-submenu">
                          <a href="{{this.url}}" title="{{this.label}}" 
                          {{#unless this.isSubMenuUrlInternal}}
                            target="_blank" 
                            x-cq-linkchecker="skip"
                          {{/unless}}
                          >{{this.label}}
                          {{#unless this.isSubMenuUrlInternal}} 
                            <span class="sr-only">{{i18n hbs.navigation.newTabAllowLabel }}</span>
                          {{/unless}}
                          </a>
                      </li>
                      {{/each}} 
                    {{/if}}
                </ul>
            </div>
        </div>
		<!--Organizational footer links end-->
        <div class="col-md-12 col-xs-12 footer-footersubscriptionrfp">
          {{include "footersubscription" resourceType="/apps/kpmgpublic/components/hidden/footersubscription" path="FooterSubscription"}}
		</div>
    </div>
    <div class="footer-footerText">
        <div class="footer-footerText-content">
          {{#if hbs.footer.pTagCheck}}
            {{{hbs.footer.copyrightList}}}
          {{else}}
            <p>{{hbs.footer.copyrightList}}</p>
          {{/if}}
        </div>
    </div>

</footer>
{{{hbs.footer.footerScript}}}
