@import "../../basicpagetitle/css/basicpagetitle";
@import "../../breadcrumb/css/breadcrumb";
@import "../../shortcarousel/css/shortcarousel";
@import "../../connectandrfp/css/connectandrfp";
@import "../../peoplefilmstrip/css/peoplefilmstrip";
@import "../../peoplefilmstripa/css/peoplefilmstripa";
@import "../../subheading/css/subheading";
@import "../../bodytext/css/bodytext";
@import "../../promotionala/css/promotionala";
@import "../../promotionalb/css/promotionalb";
@import "../../promotionalc/css/promotionalc";
@import "../../promotionald/css/promotionald";
@import "../../promotionale/css/promotionale";
@import "../../mykpmgpromo/css/mykpmgpromo";
@import "../../htmlcontainer/css/htmlcontainer";
@import "../../share/css/share";
@import "../../socialwidget/css/socialwidget";
@import "../../enhanceddownload/css/enhanceddownload";
@import "../../mykpmgpromob/css/mykpmgpromob";

.module-tmpl-topic {
    margin-top: -9px;
    .parsys-row {
        border-bottom: 0 none;
    }
	div.row-same-height.row-full-height div.component-container-patch  {
        background-color: @gray-94;
    }
    .mykpmgpromo-design {
    	background-color: @medium-blue !important;
    }
}
@media (min-width:@desktop-min-fixed) {
    .module-tmpl-topic {
        .module-connectandrfp {
            position: relative !important;
        }
    }

}
