
<section class="module-bodytext component bg-white clearfix">
    {{#if hbs.bodyText.bodyTitle}}
        <h2 class="primary-head {{hbs.bodyText.titleFont}}"
            {{#if hbs.bodyText.anchorId}}
            id="{{hbs.bodyText.anchorId}}"
            {{/if}}>{{{hbs.bodyText.bodyTitle}}}</h2>
    {{/if}}
    {{#if hbs.bodyText.bodySubtitle}}
        <h3 class="tertiary-head {{hbs.bodyText.subtitleFont}}">{{{hbs.bodyText.bodySubtitle}}}</h3>
    {{/if}}
    {{#if hbs.bodyText.bodyTextValue}}
        {{#if hbs.bodyText.isFootnote}}
            <div class="bodytext-data bodytext-footnote">{{{hbs.bodyText.bodyTextValue}}}</div>
        {{else}}
            <div class="bodytext-data">{{{hbs.bodyText.bodyTextValue}}}</div>
        {{/if}}
    {{/if}}
</section>
