@import "../../global/css/_variables.less";
@import "../../global/css/_helpers.less";

.module-tombstonegallery {
	.col-md-6 {
        min-width: inherit;
    }
    background: @white;
    padding: 10px 0;
    .tertiary-head {
        .add-line-clamp(1,3.6rem,1,3.6rem,1);
        .component-title(@kpmg-blue);
        margin-bottom: 14px;
    }
    .col-md-3 {
        min-width: 25%;
        position: relative;
       float: left;
       border:0;
    }

    .item {
        width: 100%;
        /* position: relative; */
        padding: 0 9px;
        background-color: @white;
        /* margin-bottom: 18px; */
    }
    .col-md-3 .item {
        //min-height: 386px;
    }
    .col-md-6 .item {
        //min-height: 642px;
    }
    .item-info {
        .item-header {
            .promo-details(@kpmg-blue);
            margin: 7px 0 0 0;
            font-weight: normal;
            .hyphen;
        }
    }
    .component-link {
        .promo-title(@gray-40);
        .hyphen;
    }

    .primary-cta-space {
        .promo-title(@gray-40);
        margin: 12px 0 0 0;
    }

    .download-container {
        /* margin: 12px 0px 0px 0px; */
        position: absolute;
        bottom: 10px;

        .icon-download {
            color: @light-green;
            .font-size(1.6);
            position: relative;
            margin-right: 6px;
        }
        .download-label {
            .promo-title(@gray-40);
        }
        .download-size {
            .file-size(@gray-40);
        }
        .file-type {
            .promo-title(@gray-40);
            text-transform: uppercase;
        }

    }
    .download-container{
        a:hover {
            text-decoration: underline;
            color: @gray-40;
        }
        span:hover{
            text-decoration: none;
        }
    }
    .load-more-link {
        position: relative;
        width: 100%;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
    .component-link.btn-more {
        &:hover {
            text-decoration: underline;
        }
    }
    .alignCenter{
        text-align:center;
    }
    .see-all-blk {
        padding: 10px 0;
        .icon-chevron-right {
            color: @light-green;
        }
        .pull-right {
            padding-right: 10px;
        }
    }
    .load-more-link .icon-add {
        margin: 0px;
        color: @light-green;
        .font-size(1.6);
        position: relative;
        top: 1px;
    }
    .gallery .row:not(:first-child) {
        border: none;
        margin:18px 0;
    }
    .gallery .row:last-child {
        margin-bottom: 10px;
    }
    .image-gallery-column{
        min-width: 200px !important;
    }
    .image-gallery-column:not(:last-child){
    	border:0;
    	padding:0;
    }
    .description{
        .add-line-clamp(3,1.4rem,1.6,1.4rem,1.4);
    	.promo-description(@gray-20);
        line-height: 1.4;
        margin-bottom: 14px;
    }
    .item-header{
        .add-line-clamp(4,1.4rem,1.2,1.4rem,1.2);
        .promo-description(@gray-20);
    }
    .btn-modal{
    	img{
			width:187px;	
			height:187px;
    	}
    }
    .load-more{
        display: none;
        
    }
    .row-same-height{
        display: block;
    }
    @media only screen and (max-width: 640px) {
        background: @gray-94;
        .item {
            min-width:100%;
            padding: 10px 9px;
            border-top: 10px solid @gray-94;
        }
        .tertiary-head {
            .add-line-clamp(2,3.6rem,1,3.6rem,1);
            margin:0 0 0 9px
        }
        .description{
            .add-line-clamp(3,1.4rem,1.6,1.4rem,1.4);
            margin:0 0 0 9px
        }
        .load-more{
            margin-top:10px;
        }
        .item-info {
            min-width: 100%;
            .item-header {
                margin: 7px 0 0 0;
            }
        }
        .btn-modal{
            img{
                width:100%;    
                height:100%;
            }
        }
        .image-gallery-column{
            min-width: 100% !important;
        }
        .gallery .row:not(:first-child) {
            margin:0;
        }
    }

}

@media (min-width: @desktop-min-fixed) {
    .template {
        .module-tombstonegallery.component {
            padding-bottom: 10px;
        }
    }
    .module-tombstonegallery {
        .item {
            max-width: 100%;
            a {
                display: inline-block;
            }
            //margin-bottom:0px;
        }
        .load-more-link {
            //margin-top:9px;
             &:hover{
                 .icon-add{
                     color: @light-green;
                 }
             }
        }
        .load-more-link:focus {
            .cta-focus(@gray-40);
            .btn-more {
                text-decoration: underline;
            }
        }

    }
}




