<!-- Begin Component: TouchPostStats -->
<div class="module-touch-post-stats component">
    <h2 class="stats-title">
        <span class="icon-tag"></span>
        {{hbs.postStats.title}}:
    </h2>
    <ul class="post-stats-list">
        {{#each hbs.postStats.sortedTopicNames}}
            <li class="list-item">
                <a href="{{hbs.postStats.searchPage}}" class="list-item-text" data-search="{{this.key}}" x-cq-linkchecker="skip">
                    {{this}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>
<!-- End Component: TouchPostStats -->
