<section class="module-eventtabs component col-transparent ">
    <div class="eventtabs ">
        <div class="tabs-container {{#if hbs.eventtabs.totalRecords}} three-tabs {{else}} two-tabs {{/if}}"> 
            {{#unless hbs.fgeTemp.isEventRegistration}}       
                <a class="tablink  first" title="{{i18n hbs.eventtabs.agendaTabLabel}}" data-tab-link="#agenda" href="javascript:void(0)">
                <span class="text-link"> {{i18n hbs.eventtabs.agendaTabLabel}} </span>
                <span class="resp-arrow icon-chevron-down"></span></a>
                <div id="agenda" class="custom-tab-content eventtabs-agenda eventtabs-content " >
                      {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext" path="bodytext1"}}  
                </div>
            {{/unless}}      
           {{#if  hbs.eventtabs.totalRecords}}
                 <a class="tablink  second" title="{{i18n hbs.eventtabs.speakersTabLabel}}" data-tab-link="#speakers" href="javascript:void(0)"> 
                 <span class="text-link"> {{i18n hbs.eventtabs.speakersTabLabel}} </span>
                 <span class="resp-arrow icon-chevron-down"></span></a>
                 <div id="speakers" class="custom-tab-content eventtabs-speakers eventtabs-content " data-basePath="{{hbs.eventtabs.baseUrl}}" data-totalRecords="{{hbs.eventtabs.totalRecords}}" data-currentPage="{{hbs.eventtabs.currentPage}}" data-recordsPerPage="{{hbs.eventtabs.recordsPerPage}}" 
                 data-people-link="{{hbs.eventtabs.peopleContactFormLink}}" data-contact-link="{{i18n hbs.eventtabs.contactFormLinkCopy}}" data-quick-tile="{{i18n hbs.eventtabs.quickViewInTile}}">
                     <div class="btn-wrapper-speakers">
                        <a class="load-more-link" data-type="speakers" href="javascript:void(0)">
                          <span class="icon-add"></span>
                          <span class="btn-more"> {{i18n hbs.eventtabs.showMoreLabel}} </span>
                        </a>
                    </div>
                 </div>
            {{/if}} 
            {{#unless hbs.fgeTemp.isEventRegistration}}           
                <a class="tablink {{#if hbs.eventtabs.totalRecords}} third {{else}} second {{/if}}" title="{{i18n hbs.eventtabs.guideTabLabel}}" data-tab-link="#guide" href="javascript:void(0)">
                <span class="text-link"> {{i18n hbs.eventtabs.guideTabLabel}} </span>
                <span class="resp-arrow icon-chevron-down"></span></a>
                <div id="guide" class="custom-tab-content eventtabs-guide eventtabs-content  ">
                      {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext" path="bodytext2"}}   
                </div>
            {{/unless}}          
        </div>    
    </div>
</section>