@import "../../global/css/_variables.less";
@import "../../breadcrumb/css/breadcrumb";
@import "../../basicpagetitle/css/basicpagetitle";
@import "../../socialwidget/css/socialwidget";
@import "../../dashboardbanner/css/dashboardbanner";
@import "../../dashboardarticle/css/dashboardarticle";
@import "../../widedashboardarticle/css/widedashboardarticle";
@import "../../mykpmgpromob/css/mykpmgpromob";
@import "../../connectandrfp/css/connectandrfp";
@import "../../interestssummary/css/interestssummary";
@import "../../librarysummary/css/librarysummary";
@import "../../addtolibrary/css/addtolibrary";
@import "../../contentrefreshctas/css/contentrefreshctas";

.module-tmpl-mykpmgdashboard {
    .bread-crumb-full {
        margin-top: 0px;
    }
    .no-border {
        border: 0px solid black;
    }
    .parsys-row {
        border-bottom: 0 none;
    }
}
