@import "../../global/css/_variables.less";

.module-unsubscribe {
    .btn {
        width: 100%;
        padding: 10px;
        border: none;
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.7rem;
		.set-font-size(1.9);							
        word-wrap: break-word;
    }
    .optout-all {
        background-color: @persian-green;
        color: @white;
    }
    .optout-cancel {
        background-color: @gray-94;
        color: @gray-20;
    }
    .focusOutline {
        box-shadow: 0 0 3px @gray-40 !important;
        outline: 1px solid @grey-text-transparent !important;
    }

}

@media (min-width: @desktop-min-fixed) {
    .module-unsubscribe {
        .btn {
            width: 45%;
            margin-bottom: 0;
        }

    }
}

@media (max-width: 640px) {
    .module-unsubscribe {
        .btn-wraper {
            overflow: hidden;
            display: flex;
            flex-flow: column;
        }
        .optout-all {
            order: 1;
        }
        .optout-cancel {
            order: 2;
        }
    }
}
