@import "../../global/css/_variables.less";
@import "../../touch-promotional/css/touch-promotional";

.module-touch-blog-author-list {
   margin: 30px 20px 0px 20px;
   padding: 0px;

   .header-list {
       padding-bottom: 10px;

       li.list-item {
           background: @gray-94;
           margin-bottom: 76px;
           list-style: none;
           position: relative;

           .col-md-height {
               border: none;
           }

           div.inline-list-elements {
               display: flex;
               align-items: flex-start;
               cursor: pointer;

               .main-feature-img {
                max-width: none;
                width: 310px;
                }
           }

           div.details-container {
               background: @white;
               padding-top: 20px;
               display: none; // by default hiding

               .show-all-cell {
                   background-color: @gray-94;

                   .show-all-blogs {
                       padding-left: 20px;
                       padding-top: 30px;

                       .show-blogs-link {
                           font-size: 32px;
                           color: @kpmg-blue;
                           cursor: pointer;
                           font-family: @kpmgLight;
                       }
                   }
               }
           }

           div.img-wrapper {
               position: relative;
               min-height: 190px; // to maintain same height when images do not load
           }

           span.blue-strip {
               position: absolute;
               height: 100%;
               width: 40px;
               background: @light-blue;
           }

           span.icon-circle-chevron-down, span.icon-circle-chevron-up {
               color: @light-blue;
               font-size: 54px;
               position: absolute;
               right: 6px;
               cursor: pointer;
               top: 25px;
               padding: 40px;
           }


           div.list-header-info {
               display: inline-block;
               padding-left: 10px;
               padding-top: 10px;

               h2.list-item-title {
                   display: inline-block;
                   font-size: 42px;
                   color: @kpmg-blue;
                   line-height: 40px;
                   padding-bottom: 20px;
                   font-family: @kpmgLight;
                   max-height: 40px;
                   overflow: hidden;
                   &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                      font-size: 30px;
                   }

                   span.tag-line-text {
                       font-size: 22px;
                       color: @gray-40;
                       font-family: @arial;
                   }
               }

               div.social-links {
                   padding-bottom: 20px;
                   padding-top: 2px;

                   a.social-link {
                       padding-right: 20px;
                       font-size: 18px;
                       line-height: 1.2;
                       font-family: @arial;
                       color:@black;

                       &:hover {
                           text-decoration: none;
                       }
                       span.link-text:hover {
                           text-decoration: underline;
                       }
                       span.icon-email-me-1, span.icon-linkedin-profile-1 {
                           color: @light-blue;
                       }
                       span.icon-kpmg-profile{
                           color: @kpmg-blue;
                       }
                   }
               }

               div.author-description {
                   width: 85%;
                   padding-top: 5px;
                   p.text {
                       font-size: 18px;
                       font-style: italic;
                       color: @gray-20;
                       font-family: @arial;
                       line-height: 1.389;
                   }
                   p.list-header-line-clamp {
                       -webkit-line-clamp: 3;
                       display: -webkit-box;
                       -webkit-box-orient: vertical;
                       position: relative;
                       overflow: hidden;
                       text-overflow: ellipsis;
                       max-height: 8rem;
                       margin-bottom: 0px;
                   }
               }
           }

           .no-results {
               text-align: center;
           }

           .no-results-wrapper {
               display: inline-block;
               margin: 80px auto 80px;
               padding: 30px 100px 38px 100px;
               border: 1px solid @gray-20;

               h3 {
                   color: @kpmg-blue;
                   font-size: 42px;
                   margin-bottom: 30px;
                   font-family: @kpmgLight;
                   line-height: 1;
               }
               p {
                   color: @gray-40;
                   font-size: 18px;
                   margin-bottom: 0;
                   font-family: @arial;
               }
           }

       }
   }
}

@media only screen and (max-width: 640px) {
    .module-touch-blog-author-list {
        margin: 0px;
        ul.header-list {
            li.list-item {
                margin-bottom: 36px;

                .inline-list-elements {
                    .main-feature-img {
                        max-width: 50%;
                    }
                }
                .no-results-wrapper {
                    margin: 50px auto 66px;
                    padding: 22px 67px 34px 67px;
                    width: 96%;

                    h3 {
                        font-size: 42px;
                        margin-bottom: 25px;
                    }
                    p {
                        font-size: 22px;
                        margin-bottom: 0;
                    }

                }
                div.inline-list-elements {
                    display: block;

                    div.list-header-info {
                        background: @white;
                        display: block;

                        h2.list-item-title {
                            padding-top: 20px;
                            max-height: none;
                            &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                              font-size: 25px;
                            }

                            span.tag-line-text {
                                padding-top: 10px;
                                display: block;
                                font-size: 22px;
                                line-height: 1.364;
                            }
                        }
                        div.social-links {
                            a.social-link {
                                display: block;
                                padding-bottom: 20px;
                                font-size: 20px;
                            }
                        }
                        div.author-description {
                            display: none;
                        }
                    }

                    span.icon-circle-chevron-down, span.icon-circle-chevron-up {
                        top: 4px;
                        right: 12%;
                        padding: 24px;
                    }
                }
                div.details-container {
                    .content-wrapper {
                        .show-all-cell {
                            .show-all-blogs {
                                padding: 30px;
                            }
                        }
                    }
                }
                div.img-wrapper {
                    min-height: 114px; // to maintain same height when images do not load
                }

            }
        }
    }
}

@media only screen and (max-width: @desktop-min-fluid) {
    .module-touch-blog-author-list {
        li.list-item {
            div.author-description {
                width: 85% !important;
            }
        }
    }
}
