<section class="module-tmpl-alumni">
    <div class="row tmpl-row">
        <div class="col-md-12 full-page-title">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>

<div class="inner-container">
    <div class="row">
        <div class="col-md-12">
            {{ include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel" }}
        </div>
    </div>
    <div class="row">
        <div class="row-same-height row-full-height">
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top">
                {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell4"}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top">
                {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell5"}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top">
                {{ include "contactpromo" resourceType="/apps/kpmgpublic/components/content/contactpromo"}}
            </div>
            <div class="col-md-3 col-md-height col-sm-height col-full-height col-top">
                {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
            </div>
        </div>
    </div>
    <div class="row tmpl-row">
        <div class="col-md-12">
            {{ include "alumnilinks" resourceType="/apps/kpmgpublic/components/content/alumni-links" }}
        </div>
    </div>
</div>
</section>
