<section class="module-tmpl-office-locations">

    <div class="row tmpl-row">
      <div class="col-md-12 full-page-title">
          <div class="inner-container">
              {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
          </div>
      </div>
   </div>
    <div class="inner-container">
      <div class="row tmpl-row">
          <div class="col-md-12">
              {{ include "ammaps" resourceType="/apps/kpmgpublic/components/content/ammaps-container"}}
          </div>
      </div>
    </div>
</section>