<section class="module-herocarousel 
    	{{#if hbs.heroCarousel.isContainerBanner}}
            {{#if hbs.heroCarousel.isBannerVideo}}
                fullbleed
                videoBanner
            {{else}}
                fullbleed
                gifBanner
            {{/if}} 
        {{else}} 
            {{#if hbs.heroCarousel.isFullBleed}} 
                fullbleed 
            {{else}} 
                marginalized 
            {{/if}}
        {{/if}}

    component self-contained component-trackable" tabindex="0" data-prevslidetext="{{ i18n 'kpmg.accessibility.prevSlide' }}" data-nextslidetext="{{ i18n 'kpmg.accessibility.nextSlide' }}">

        <!-- IMG SPINNER -->
        <div class="web-spinner" {{#if hbs.isAuthor}} style="display:none;" {{else}} {{#unless hbs.personalizationValues.personalization}} style="display:none;" {{/unless}} {{/if}}>
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 547'%2F%3E"  width="1082" height="547" class="desktop-only img-responsive" />
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 640 580'%2F%3E"  width="640" height="580" class="mobile-only img-responsive" />
        </div>

        <a href="javascript:void(0);" class="herocarousel-tab-entry no-highlight"></a>
        <div 
            {{#unless hbs.isAuthor}} 
                {{#if hbs.personalizationValues.personalization}} 
                    style="display:none;" 
                {{/if}}  
            {{/unless}}             
            class="carousel slideShowFullBleed {{#if hbs.heroCarousel.slides}}has-slides{{/if}}" 
            {{#if hbs.heroCarousel.isContainerBanner}} 
                style="display:none;" 
            {{/if}}
            data-heroCarouselImageFrequency="{{hbs.heroCarousel.heroCarouselImageFrequency}}">
            <ul class="slides owl-carousel">
                {{#each hbs.heroCarousel.slides}}
                <a href="{{this.ctaUrl}}" title="{{this.altText}}">
                    <li class="slide" data-slideno="{{@index}}">
                        {{#if hbs.heroCarousel.imageConfigExists}}
                            <picture>
                                {{#hbs.heroCarousel.imageConfig}}
                                    {{#if this.isDesktop}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{../this.img}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                                    {{else}}
                                        <source srcset="{{hbs.globalValues.assetDomainName}}{{../this.img}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                            media="screen  and (min-width: 0px) and (max-width: 640px)" >
                                    {{/if}}
    
                                    {{#if @last}}
                                        <img 
                                            class="img-responsive" 
                                            src="{{hbs.globalValues.assetDomainName}}{{../this.img}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" 
                                            alt="{{imageAltText}}" 
                                            title="{{imageAltText}}"
                                        />
                                    {{/if}}
                                {{/hbs.heroCarousel.imageConfig}}
                            </picture>
                        {{else}}
                            {{#if hbs.heroCarousel.isFullBleed}}
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.640.490.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.1400.350.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.1400.350.jpg" title="{{this.altText}}" alt="{{this.altText}}">
                                </picture>
                            {{else}}
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.640.580.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                                    <source srcset="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.1082.547.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{this.img}}/jcr:content/renditions/cq5dam.web.1082.547.jpg" title="{{this.altText}}" alt="{{this.altText}}" >
                                </picture>
                            {{/if}}	 
                        {{/if}}
    
                        <div class="caption-wrapper left {{{this.variant}}}">
                            <div class="caption-content">
                                <div class="caption">
                                    <h2 class="slide-header mobile-only">{{{this.shortTitle}}}</h2>
                                    <h2 class="slide-header desktop-only">{{{this.title}}}</h2>
                                    <div class="hero-extra-padding desktop-only"> </div>
                                    <div class="herocarousel-content">
                                        <div class="hero-carousel-description">
                                            <p class="mobile-only {{{this.variant}}}">{{{this.shortDescription}}}</p>
                                            <p class="desktop-only {{{this.variant}}}">{{{this.description}}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>
                {{/each}}
            </ul>
        </div>

        <!-- NEW STRUCTURE for GIF and VIDEO  -->
        {{#if hbs.heroCarousel.isContainerBanner}}
        <div style="width:100%;"
            class="carousel containerBanner {{#if hbs.heroCarousel.isContainerBanner}} bannerActivated showBlock {{/if}}" >
            <ul class="slides owl-carousel owl-loaded">
                <a href="{{hbs.heroCarousel.heroComponentBannerVO.bannerPrimaryCtaUrl}}" title="{{hbs.heroCarousel.heroComponentBannerVO.bannerAltText}}" >
                    <li class="slide">
                        {{#if hbs.heroCarousel.isBannerVideo}}
                        <div class="bannervideo-block" >
                                <div class="video-holder" >
    
                                    <div class="video-loader">
                                        <div style="padding-top: 56.25%;">
                                            <video 
                                                id = "bannervideo_{{hbs.heroCarousel.heroComponentBannerVO.bannerMediaId}}"
                                                data-video-id="{{hbs.heroCarousel.heroComponentBannerVO.bannerMediaId}}"                                                
                                                data-account="{{hbs.heroCarousel.readToken}}"
                                                data-player="{{hbs.heroCarousel.playerKey}}" 
                                                data-embed="default" 												
                                                data-language="{{hbs.heroCarousel.pageLocale}}"			  
                                                class="video-js"
                                                data-application-id
                                                autoplay muted loop playsinline
                                                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                                            </video> 



                                        </div>
                                    </div>
    
                                </div>
                        </div>
                        <!-- <div style="display:none;" class="gifBanner_Block slide_1" >  -->
                        {{else}}
                            <picture class="gifBanner_Block">
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source 
                                    srcset="{{hbs.globalValues.assetDomainName}}{{hbs.heroCarousel.heroComponentBannerVO.gifImage}}/jcr:content/renditions/cq5dam.web.640.490.gif" 
                                    media="screen  and (min-width: 0px) and (max-width: 640px)">
                                <source 
                                    srcset="{{hbs.globalValues.assetDomainName}}{{hbs.heroCarousel.heroComponentBannerVO.gifImage}}/jcr:content/renditions/cq5dam.web.1400.350.gif" 
                                    media="screen  and (min-width: 641px) and (max-width: 9440px)">
                                <!--[if IE 9]></video><![endif]-->
                                <img class="img-responsive" 
                                    src="{{hbs.globalValues.assetDomainName}}{{hbs.heroCarousel.heroComponentBannerVO.gifImage}}/jcr:content/renditions/cq5dam.web.1400.350.gif" 
                                    title="{{hbs.heroCarousel.heroComponentBannerVO.bannerAltText}}" 
                                    alt="{{hbs.heroCarousel.heroComponentBannerVO.bannerAltText}}">
                            </picture>
                        {{/if}}
                        <!-- </div> -->

                            <div class="caption-wrapper left {{hbs.heroCarousel.heroComponentBannerVO.bannerVariant}} " >
                                <div class="caption-content">

                                    <div class="caption">
                                        <h2 class="slide-header mobile-only">{{hbs.heroCarousel.heroComponentBannerVO.bannerShortTitle}}</h2>
                                        <h2 class="slide-header desktop-only">{{hbs.heroCarousel.heroComponentBannerVO.bannerTitle}}</h2>
                                        <div class="hero-extra-padding desktop-only"> </div>
                                        <div class="herocarousel-content">
                                            <div class="hero-carousel-description">
                                                <p class="mobile-only {{hbs.heroCarousel.heroComponentBannerVO.bannerVariant}}">{{hbs.heroCarousel.heroComponentBannerVO.bannerShortDescription}}</p>
                                                <p class="desktop-only {{hbs.heroCarousel.heroComponentBannerVO.bannerVariant}}">{{hbs.heroCarousel.heroComponentBannerVO.bannerDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                    </li>

                </a>
            </ul>

        </div>
        {{/if}}



        <a href="javascript:void(0);" class="herocarousel-tab-exit no-highlight"></a>
    </section>

{{#if hbs.heroCarousel.isFullBleed}}
    {{#unless hbs.personalizationValues.personalization}}
        <!-- SCRIPT for CAROUSEL RESIZE -->
        <script id="carsouel-temp-script">
            (function() {
                var carouselContainer, windowInnerWidth;
                // set height of the 
                windowInnerWidth = window.innerWidth;
                carouselContainer = document.getElementsByClassName('owl-carousel')[0];
                //
                if (windowInnerWidth > 640) {
                    setCarouselContainerHeight(carouselContainer);
                    addEventListenerOnCarouselToCleanUp(carouselContainer);
                }
                // private functions
                function setCarouselContainerHeight(carouselContainer) {
                    carouselContainer.style.height = (windowInnerWidth > 640) ?
                        ((windowInnerWidth/4.25) + 'px') :
                        '';
                }
                function addEventListenerOnCarouselToCleanUp(carouselContainer) {
                    // Once the window loads, we remove the fixed-height and clear the script
                    window.addEventListener('load', function(){
                        require(['jquery'], function($){
                            $(carouselContainer).on('initialize.owl.carousel', function() {
                                // CLEAN UP
                                $(this).css('height', '');
                                //
                                $('#carousel-temp-script').remove();
                            });
                        })
                    })
                }
            })();
        </script>
    {{/unless}}
{{/if}}
