<section class="module-tmpl-services-landing-o">
    <div class="row tmpl-row">
            <div class="col-md-12 full-page-title" data-desktop-cell="1" data-mobile-cell="1">
                <div class="inner-container">
                    {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
                </div>
            </div>
    </div>
    
    <div class="inner-container">
        <div class="row">
            <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
                {{ include "shortcarousel" resourceType="/apps/kpmgpublic/components/content/shortcarousel"}}
            </div>
        </div>
        <div class="row">
            <div class="row-same-height row-full-height ">
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="3" data-mobile-cell="3">
                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell4"}}
                </div>
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="4" data-mobile-cell="4">
                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell5"}}
                </div>
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="5" data-mobile-cell="5">
                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell6"}}
                </div>
                <div class="col-md-3 col-full-heightt col-md-height col-top" data-desktop-cell="6" data-mobile-cell="6">
                     {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent" path="cell7"}}
                </div>
            </div>
            <div class="row-same-height row-full-height">
                {{ include "layoutcontainer" resourceType="/apps/kpmgpublic/components/global/layoutcontainer" path="cell8"}}
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="9" data-mobile-cell="9" hidePromoInTemplate ="{{hbs.hidePromoInTemplateVal}}">
                    {{#if hbs.isSitePersonalizeAndRhfEnabled}}
                                {{#if hbs.isAuthor}}

                                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9" }} 

                                      {{else}}

                                        {{include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9" }} 
                                        {{include "mykpmgpromob" resourceType="/etc/partials/kpmgpublic/mykpmgpromob/mykpmgpromob.hbss" }} 

                                {{/if}}


                            {{else}}
                                {{#if hbs.isSitePersonalize}} 
                                    {{#if hbs.isAuthor}}
                                        {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9" }} 

                                      {{else}}

                                       {{include "mykpmgpromob" resourceType="/etc/partials/kpmgpublic/mykpmgpromob/mykpmgpromob.hbss" }}

                                    {{/if}}
                                {{else}}
                                    {{ include "emptyplaceholder" resourceType="/apps/kpmgpublic/components/hidden/placeholder" path="cell9" }} 
                                {{/if}}
                            {{/if}}

                </div>
                <div class="col-md-3 col-full-height col-md-height col-top" data-desktop-cell="10" data-mobile-cell="10">
                    {{ include "connectandrfp" resourceType="/apps/kpmgpublic/components/global/connectandrfp"}}
                </div>
            </div>
        </div>
    </div>  
</section>
{{#unless hbs.isAuthor}}
{{#if hbs.isSitePersonalizeAndRhfEnabled}}
        <script>
            (function(){
               document.getElementsByClassName("module-mykpmgpromob")[0].previousElementSibling.style.visibility="hidden";
               document.getElementsByClassName("module-mykpmgpromob")[0].style.visibility="hidden";

            })();
        </script>
{{/if}}
{{/unless}}