<a title="{{this.KPMG_Title}}" href="{{this.KPMG_URL}}">
    <div class="result {{this.resultsView}} col-md-height col-sm-height col-full-height" tabindex="0">
        {{#if this.favourite}}
        <div class="badge">
            <span class="icon-star-badge"></span>
        </div>
        {{/if}}
        <div class="imgContainer">
            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E" data-src="" data-desktop="{{assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.237.158.jpg" data-mobile="{{assetDomainName}}{{this.KPMG_Image}}/jcr:content/renditions/cq5dam.web.512.341.jpg" alt="{{this.KPMG_Title}}" class="img-responsive lazy" />
            {{#if this.KPMG_Contact_FN}}
            <h3 class="alt-secondary-head tertiary-trapezoid-bg image-title">
                <span>
                    {{this.KPMG_Contact_FN}} {{this.KPMG_Contact_LN}}
                    {{#if this.KPMG_Contact_City}}
                    &#124; {{this.KPMG_Contact_City}}, {{this.KPMG_Contact_Country}}
                    {{else}}
                    &#124; {{this.KPMG_Contact_Country}}
                    {{/if}}
                </span>
            </h3>
            {{/if}}
        </div>
        <div class="textContainer">
            <h3 class="secondary-head line-clamp line-clamp-3"><p> {{this.KPMG_Title}} </p></h3>
            {{#compare this.KPMG_Tab_Type "eqi" "people"}}
            <p class="peopleDetails">{{this.KPMG_Contact_Job_Ttl}}</p>
            {{/compare}}
            {{#compare this.KPMG_Tab_Type "eqi" "events"}}
            <span class="icon-date {{this.KPMG_Cont_Type_Path}} icon"></span>
            {{/compare}}
            {{#compare this.KPMG_Tab_Type "neq" "events"}}
            {{#compare this.KPMG_Tab_Type "neq" "people"}}
            {{#compare this.KPMG_Tab_Type "neq" "People"}}
            <span class="icon-{{this.KPMG_Article_Primary_Format}} icon"></span>
            {{/compare}}
            {{/compare}}
            {{/compare}}

            {{#if this.KPMG_Article_Date}}
            <p class="contact-tabs-date contact-tabs-date-insights">{{formatDate this.KPMG_Article_Date}}</p>
            {{else}}
            {{#if this.KPMG_Event_Start_Date }}
            <p class="contact-tabs-date">{{formatDate this.KPMG_Event_Start_Date}}</p>
            {{/if}}
            {{/if}}
            {{#if this.KPMG_Event_Type}}
            <p class="contact-tabs-date event-type">{{this.KPMG_Event_Type}}</p>
            {{/if}}

            <p class="description line-clamp line-clamp-5">{{this.KPMG_Short_Desc}}</p>

            <div class="row">
                <div class="contactFmLink">
                    {{#compare this.KPMG_Tab_Type "eqi" "people"}}
                    <div class="cta-space">&nbsp;</div>
                    <div class=" pull-right">
                        <span class="btn-cta contact-btn" tabindex="0">
                            <span class="icon-email"></span>
                            <span data-modal-url="/etc/partials/kpmgpublic/peoplecontactform/peoplecontactform.html" data-backdrop="static" data-keyboard="false" data-remote="{{this.peopleContactFormLink}}{{this.KPMG_URL}}" class="contact people-connect btn-modal pcfLink component-data-link modal-open">{{this.contactFormLinkCopy}}</span>
                        </span>
                    </div>
                    {{/compare}}
                </div>
                <div class=" quickView desktop-only">
                    <div class="cta-space">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</a>
