section.module-fge-cta.component.clearfix.chrome
  a#cta_form_xx-en-1532996139.component-link.chrome(href='javascript:void(0);', target='_blank', title='Subscribe to Newsletter', data-unique-id='xx-en-1532996139', data-attr-isgatedcontent='false', data-attr-isfastsubscription='true', data-attr-iseventregistration='false')
    .contentContainer.chrome
      .row.download-text.chrome
        .col-md-1.col-xs-2.icon-holder.title-icon-size.chrome
          span.icon-subscription.chrome
        .col-md-10.col-xs-10.componentContents.chrome
          .componentTitle.line-clamp.line-clamp-1.chrome
            subscribe to Newsletter
          .reportTitle.line-clamp.line-clamp-1.chrome
            what to Tax
          .reportDesc.line-clamp.line-clamp-1.spacer.chrome
            as
              | a leading tax network, we believe that we &ndash; as individual tax professionals and as member firms &ndash; have a duty to engage in the discussion and debat
        .col-md-1.hidden-xs.downloadIcon.chrome
