doctype html
html(lang="en-US")
  head
    title Hello World 
    include pug-partials/meta-tags
    include pug-partials/globals
    include pug-partials/window-hydration
    include pug-partials/i18n-labels-and-cleanup
    //- include pug-partials/meta-tags-2
    //- include pug-partials/privacy-fix-css
    //- include pug-partials/partial-header-preloader
    link(rel="stylesheet" href="global.css")
    link(rel="stylesheet" href="template.css")
  body
    include pug-templates/tmpl-myaccount/index
    //- NOTES
      - ENSURE that home.mykpmgnav.json is set correctly
      - MATCH the HTML structure of a published-page
    //- include body.pug
    //- KPMG add-ons
    //- BEFORE FOOTER
    include pug-partials/digitalData
    //- FOOTER SCRIPTS
    include pug-partials/privacyJSON
    include pug-partials/footer-subscription-callout-val
    //- BETWEEN FOOTER AND </BODY>
    include pug-partials/recaptcha
    include pug-partials/userAgentInfo
    include pug-partials/share-properties-and-demandbase
    include pug-partials/typekit
    include pug-partials/scripts
    script(data-main="/etc/clientlibs/kpmgpublic/global/js/main" src="/etc/clientlibs/kpmgpublic/global/js/vendor/require.js")
    //- scrtip(src="/etc/clientlibs/kpmgpublic/tmpl-home/js/tmpl-home.js")
    script(type="text/javascript").
      var url = "https://cdns.gigya.com/js/gigya.js?apiKey=3_I2UFL-mbajQNuwmtmwify1VSDlTIS5SgAt_odsx6wbBsDI0nTyUga03gVSNlsSD1";
      var globalTemplate = '/etc/clientlibs/kpmgpublic/global/js/global.js';
      var template = '/etc/clientlibs/kpmgpublic/tmpl-myaccount/js/tmpl-myaccount.js';
      
      require([url, globalTemplate, template, 'personalization'], function(){
        /*  require(["https://cdn.gigya-ext.com/screenset-validation.min.js"], function() {}); */
      });
