doctype html
html
  head
    title Hello World
  body
    include body.pug
    script(data-main="/etc/clientlibs/kpmgpublic/global/js/main" src="/etc/clientlibs/kpmgpublic/global/js/vendor/require.js")
    //- scrtip(src="/etc/clientlibs/kpmgpublic/tmpl-home/js/tmpl-home.js")
    script(type="text/javascript").
      require(['/etc/clientlibs/kpmgpublic/global/js/global.js'], function(){
        require(['/etc/clientlibs/kpmgpublic/tmpl-home/js/tmpl-home.js'], function(homePage) {
            console.log(homePage);
        });
      });
