doctype html
html
  head
    title Hello World
  body
    //- NOTES
      Ensure that 
    include body.pug
    include kpmg/typekit
    include kpmg/window-hydration
    include kpmg/scripts
    script(data-main="/etc/clientlibs/kpmgpublic/global/js/main" src="/etc/clientlibs/kpmgpublic/global/js/vendor/require.js")
    //- scrtip(src="/etc/clientlibs/kpmgpublic/tmpl-home/js/tmpl-home.js")
    script(type="text/javascript").
      var url = "https://cdns.gigya.com/js/gigya.js?apiKey=3_I2UFL-mbajQNuwmtmwify1VSDlTIS5SgAt_odsx6wbBsDI0nTyUga03gVSNlsSD1";
      var globalTemplate = '/etc/clientlibs/kpmgpublic/global/js/global.js';
      var flexTemplate = '/etc/clientlibs/kpmgpublic/tmpl-flex/js/tmpl-flex.js';
      
      require([url, globalTemplate, flexTemplate, 'personalization'], function(){});
      
