script(type='text/javascript').
  window.kpmgPath = window.location.pathname.toLowerCase();
  window.kpmgPersonalize = window.kpmgPersonalize || {
  isPersonalize: false,
  isSitePersonalize: true,
  isPageTagsFlagEnabled: false,
  isContentRefreshEnabled: false,
  isPPC: true,
  firstnameLastnameSwitch: false,
  isBlog: false,
  blogHomePage: "",
  blogPath: "" || "blogs",
  blogResultCount: "90" || "0",
  userAccInfoExpiry: 24,
  fetchDataAndPersonalize: null,
  getCaptchaKey: "6LeBQD8UAAAAAG8r7B4bZfFCphb3B2iXiTDk-nxR",
  downloadDataExpiryWindow: 24,
  resendVerifyEmailDefaultTime: "60",
  db: {
  CDCWrapper: null,
  data: null,
  },
  mapping: {
  url: ""
  },
  snp: {
  url: "",
  timeout: 0,
  data: null,
  params: {
  languageCode: "en" || "en",
  countryCode: "xx" || "xx",
  sortType: "",
  sortTypeKey: "",
  tagCategory: "",
  timeBoxParameter: ""
  }
  },
  registrationPromoOverlay: {
  revisitCounter: "3",
  returnWindowInMinutes: "30",
  returnWindowInDays: "14"
  },
  misc: {
  isAuthor: false,
  ageVerificationReq: false,
  isSitePersonalizeAndRhfEnabled: "true" || false,
  dashboardLimitNo: 0,
  triggerRefreshFeedback: 0,
  triggerHideFeedback: 0,
  cellLevelCombinedHideRefresh: 0,
  rejectedListLimit: 0
  },
  i18n: {
  gigyaMsgs: null,
  customMsgs: null
  },
  pagesInfo: {
  interests: {
  isActive: false,
  reqLogin: true,
  redirectTo: "../user/login.html"
  },
  myaccount: {
  isActive: false,
  reqLogin: true,
  redirectTo: "../user/login.html"
  },
  dashboard: {
  isActive: false,
  reqLogin: true,
  redirectTo: "/user/login.html"
  },
  library: {
  isActive: false,
  reqLogin: true,
  redirectTo: "../user/login.html"
  },
  communicationpreference: {
  isActive: false,
  reqLogin: true,
  redirectTo: "../../user/login.html"
  },
  privacypreference: {
  isActive: false,
  reqLogin: true,
  redirectTo: "../../user/login.html"
  }
  },
  urlmapping: {
  learnMore: "/content/kpmgpublic/xx/en/home/user/overlays/kpmglearnmore.html",
  addtolib: "/content/kpmgpublic/xx/en/home/user/overlays/addtolibraryoverlay.html",
  feedback: "/content/kpmgpublic/xx/en/home/user/overlays/contentrefreshfeedback.html"
  }
  };
  window.kpmgPersonalize.db.CDCWrapper = function(dbData) {
  var eventObj = null;
  window.kpmgPersonalize.db.data = dbData;
  Dmdbase_CDC.callback(dbData);
  if (digitalData) {
  digitalData.user.ipAddress = dbData.ip;
  }
  try {
  eventObj = new Event("dbData.received");
  } catch (error) {
  eventObj = document.createEvent("Event");
  eventObj.initEvent("dbData.received", false, false);
  }
  document.dispatchEvent(eventObj);
  }
  ;
