@import "../../../../../../../global/css/_variables";
//


.mobile-slide-menu-toggle-trigger-component {
	font-size: 2.4rem;
	float: left;
	position: relative;
	z-index: 2;
	&.icon-list-view:before, &.icon-close:before{
		opacity: 0;
	}
	.mobile_menu_icon{
		.hamburger {
			width: 2.4rem;
			cursor: pointer;
			position: absolute;
			height: 2.8rem;
			top: -2px;
			left: 0px;
			cursor: pointer;
			.hamburger__line{
				stroke-width: 5;
				stroke-linecap: round;
				stroke: @kpmg-blue;  
				transition: all 0.15s ease-out;
			}
			&.open{
				.hamburger__line{
					stroke: @light-purple;
				}
			}
		}
		.animation{
			.animation__top {
				-webkit-transform-origin: 15px 0px;
				transform-origin: 15px 0px;
			}
			.animation__bottom {
				-webkit-transform-origin: 12px 30px;
				transform-origin: 12px 30px;
			}
			&.open{
				.animation__middle {
					opacity: 0;
				}
				.animation__top {
					-webkit-animation: topIcon1-open 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
					animation: topIcon1-open 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
				}
				.animation__bottom {
					-webkit-animation: bottomIcon1-open 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
					animation: bottomIcon1-open 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
				}
			}
			&.closed{
				.animation__top {
					-webkit-animation: topIcon1-closed 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
					animation: topIcon1-closed 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
				}
				.animation__bottom {
					-webkit-animation: bottomIcon1-closed 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
					animation: bottomIcon1-closed 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
				}
			}
		}
	}
}

/*Menu Animations*/

@-webkit-keyframes topIcon1-open {
	0% {
	  -webkit-transform: none;
			  transform: none;
	}
	50% {
	  -webkit-transform: translateY(10px);
			  transform: translateY(10px);
	}
	100% {
	  -webkit-transform: translateY(10px) rotate(45deg);
			  transform: translateY(10px) rotate(45deg);
	}
  }
  @keyframes topIcon1-open {
	0% {
	  -webkit-transform: none;
			  transform: none;
	}
	50% {
	  -webkit-transform: translateY(10px);
			  transform: translateY(10px);
	}
	100% {
	  -webkit-transform: translateY(10px) rotate(45deg);
			  transform: translateY(10px) rotate(45deg);
	}
  }
  
  
  @-webkit-keyframes bottomIcon1-open {
	0% {
	  -webkit-transform: none;
			  transform: none;
	}
	50% {
	  -webkit-transform: translateY(-10px);
			  transform: translateY(-10px);
	}
	100% {
	  -webkit-transform: translateY(-10px) rotate(-45deg);
			  transform: translateY(-10px) rotate(-45deg);
	}
  }
  @keyframes bottomIcon1-open {
	0% {
	  -webkit-transform: none;
			  transform: none;
	}
	50% {
	  -webkit-transform: translateY(-10px);
			  transform: translateY(-10px);
	}
	100% {
	  -webkit-transform: translateY(-10px) rotate(-45deg);
			  transform: translateY(-10px) rotate(-45deg);
	}
  }
  
  
  @-webkit-keyframes topIcon1-closed {
	0% {
	  -webkit-transform: translateY(10px) rotate(45deg);
			  transform: translateY(10px) rotate(45deg);
	}
	50% {
	  -webkit-transform: translateY(10px) rotate(0);
			  transform: translateY(10px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(0) rotate(0);
			  transform: translateY(0) rotate(0);
	}
  }
  @keyframes topIcon1-closed {
	0% {
	  -webkit-transform: translateY(10px) rotate(45deg);
			  transform: translateY(10px) rotate(45deg);
	}
	50% {
	  -webkit-transform: translateY(10px) rotate(0);
			  transform: translateY(10px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(0) rotate(0);
			  transform: translateY(0) rotate(0);
	}
  }
  
  
  @-webkit-keyframes bottomIcon1-closed {
	0% {
	  -webkit-transform: translateY(-10px) rotate(-45deg);
			  transform: translateY(-10px) rotate(-45deg);
	}
	50% {
	  -webkit-transform: translateY(-10px) rotate(0);
			  transform: translateY(-10px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(0) rotate(0);
			  transform: translateY(0) rotate(0);
	}
  }
  @keyframes bottomIcon1-closed {
	0% {
	  -webkit-transform: translateY(-10px) rotate(-45deg);
			  transform: translateY(-10px) rotate(-45deg);
	}
	50% {
	  -webkit-transform: translateY(-10px) rotate(0);
			  transform: translateY(-10px) rotate(0);
	}
	100% {
	  -webkit-transform: translateY(0) rotate(0);
			  transform: translateY(0) rotate(0);
	}
  }