<!-- Begin Template: TmplContactpage -->
<section class="module-tmpl-contactpage">
    <div class="row tmpl-row">
        <div class="col-md-12 full-page-title">
            <div class="inner-container">
                {{ include "basicpagetitle" resourceType="/apps/kpmgpublic/components/global/basicpagetitle"}}
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="row">
            <div class="row-same-height row-full-height">
                <div class="col-md-6 col-md-height col-full-height col-top">
                    <div class="col-md-12 contactButtonContainer" data-desktop-cell="3" data-mobile-cell="3">
                        {{ include "contactbutton1" resourceType="/apps/kpmgpublic/components/content/contactbutton"}}
                    </div>
                    <div class="col-md-12 contactButtonContainer" data-desktop-cell="4" data-mobile-cell="4">
                        {{ include "contactbutton2" resourceType="/apps/kpmgpublic/components/content/contactbutton"}}
                    </div>
                    <div class="col-md-12 contactButtonContainer" data-desktop-cell="5" data-mobile-cell="5">
                        {{ include "contactbutton3" resourceType="/apps/kpmgpublic/components/content/contactbutton"}}
                    </div>
                </div>

                <div class="col-md-3 col-md-height col-full-height  col-top" data-desktop-cell="6">
                    {{ include "promotionala" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                </div>
                <div class="col-md-3 col-md-height col-full-height  col-top" data-desktop-cell="7" data-mobile-cell="8">
                    {{ include "promotionalb" resourceType="/apps/kpmgpublic/components/global/promotionalcomponent"}}
                </div>

            </div>
            <div class="row-same-height row-full-height ">
                <div class="col-md-6 col-md-height col-full-height col-top" data-desktop-cell="8" data-mobile-cell="6">
                    {{include "officelocator" resourceType="/apps/kpmgpublic/components/content/officelocator" path="officelocator"}}
                </div>
                <div class="col-md-6 col-md-height col-full-height  col-top" data-desktop-cell="9" data-mobile-cell="7">
                    {{include "partnerlocator " resourceType="/apps/kpmgpublic/components/content/partnerlocator" path="partnerlocator"}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Template: TmplContactpage -->