@import "../../global/css/_variables.less";

.module-peoplefilmstripa {
    background-color: @gray-94;
    .no-highlight {
        background-color: @gray-96;
        width:auto;
    }
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    padding: 0;
    .secondary-head {
        .component-title(@kpmg-blue);
        .hyphen;
        margin: 0 10px 10px;
        background-color: @gray-94;
    }

    /* Frame */

    .frame {
        height: 250px;
        line-height: 250px;
        overflow: hidden;
        background: @gray-96;
    }
    .frame ul {
        background: none repeat scroll 0 0 @gray-96;
        .font-size(1.4);
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .frame ul li {
        float: left;
        height: auto;
        width: 165px;
        margin: 0 1px 0 0;
        padding: 0;
        background: @gray-20;
        color: #ddd;
        text-align: center;
        cursor: pointer;
    }
    .frame ul li.active {
        color: @white;
        background: #a03232;
    }
    /* Scrollbar */

    .scrollbar {
        margin: 0 0 1em 0;
        height: 2px;
        background: @gray-80;
        line-height: 0;
        margin-bottom: 0px !important;
    }
    .scrollbar .handle {
        width: 100px;
        height: 100%;
        background: #dedede;
        cursor: pointer;
    }
    .scrollbar .handle .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
    }
    /* Pages */

    .pages {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
    }
    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        background: @white;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    }
    .pages li:hover {
        background: #aaa;
    }
    .pages li.active {
        background: @gray-40;
    }
    /* Controls */

    .controls {
        margin: 25px 0;
        text-align: center;
    }
    /* One Item Per Frame example*/

    .oneperframe {
        height: 300px;
        line-height: 300px;
    }
    .oneperframe ul li {
        width: 1140px;
    }
    .oneperframe ul li.active {
        background: @gray-20;
    }
    /* Crazy example */

    .crazy ul li:nth-child(2n) {
        width: 100px;
        margin: 0 4px 0 20px;
    }
    .crazy ul li:nth-child(3n) {
        width: 300px;
        margin: 0 10px 0 5px;
    }
    .crazy ul li:nth-child(4n) {
        width: 400px;
        margin: 0 30px 0 2px;
    }
    /* Effects */

    .effects {
        height: 200px;
        line-height: 200px;
        -webkit-perspective: 800px;
        -ms-perspective: 800px;
        perspective: 800px;
        -webkit-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        overflow-y: show;
    }
    .effects ul {
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .effects ul li {
        position: relative;
        margin: 0 -20px;
        -webkit-transform: rotateY(60deg) scale(0.9);
        -ms-transform: rotateY(60deg) scale(0.9);
        transform: rotateY(60deg) scale(0.9);
        -webkit-transition: -webkit-transform 300ms ease-out;
        transition: transform 300ms ease-out;
    }
    .effects ul li.active {
        z-index: 10;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .effects ul li.active ~ li {
        -webkit-transform: rotateY(-60deg) scale(0.9);
        -ms-transform: rotateY(-60deg) scale(0.9);
        transform: rotateY(-60deg) scale(0.9);
    }
    .frame {
        line-height: 120%;
        height: auto;
        ul {
            .font-size(1.4);
            background: @gray-96;
            margin: 0px;
            padding-right: 10px;
            li, li.active {
                background: @white;
                color: @black;
            }
            li {
                width: 165px;
                height: auto;
                margin: 10px 16px 10px 2px;

                &:hover {
                    outline: 1px solid @gray-80;
                }
            }

            img {
                height: 145px;
            }
        }
    }
    .frame ul li:last-child {
        margin-right: 10px;
    }
    .scrollbar,
    .mousearea,
    .handle {
        height: 5px !important;
        border-radius: 5px;
    }
    .scrollbar {
        background: @gray-87;
    }
    .mousearea
	{
        background: fade(@pale-blue, 100%);
        &:hover {
            background: fade(@medium-blue, 60%);
        }
    }
    .scrollbar .handle .mousearea {
        top: 0;
    }
    .controls {
        margin: -10px 0 10px 0;
    }
    .controls .prevPage.disabled,
    .controls .nextPage.disabled {
        display: none;
    }
    .carousel-container {
        position: relative;
        width: 100%;
        background: @gray-96;
    }
    .col-md-12 {
        padding: 15px 0;
    }
    span.icon-carousel-left,
    span.icon-carousel-right {
        .font-size(4.0);
        margin-top: -20px;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        top: 50%;
        position: absolute;
        color: @light-purple;
        cursor: pointer;
        background-color: @white;
        height: 40px;

        &:hover {
            opacity: 0.6;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        }
    }
    span.icon-carousel-left {
        left: 0;
    }
    span.icon-carousel-right {
        right: 0;
    }
    .item {
        background: none repeat scroll 0 0 @white;
        color: @gray-20;
        display: inline-block;
        margin: 0px;
        padding: 10px;
        text-align: left;
        text-decoration: none;
        height: auto;
    }
    .item-header {
       .promo-title(@kpmg-blue);
       .font-size(1.6);
        margin: 0 0 8px;
        .hyphen;
        font-weight: normal;
    }
    .short-description {
        width: 125px;
        padding: 8px 0 5px 10px;
    }
    .clamped {
        line-height: 16px;
        overflow: hidden;
        position: relative;
        max-height: 9.5em;
    }
    .ellipsis {
        background: @white;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 120px;
    }
    .fill {
        background: @white;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .pull-left {
        width: 145px;
        margin-bottom: 4px;
        .hyphen;
        /*width: 100%;*/
    }
    .pull-right {
        width: 108px;
        margin-left: 10px;
        h4 {
            margin-bottom: 8px;
            height: auto;
            font-family: @arial;
        }
        span {
            margin: 8px 0;
            display: block;
            font-family: @arial;
            line-height: 100%;
            .hyphen;
            font-weight: normal;
        }
        span.title {
            font-style: italic;
            font-family: @arial;
            line-height: 100%;
            .hyphen;
            font-weight: normal;
        }
        span.location {
            line-height: 100%;
            .hyphen;
            font-weight: normal;
        }
    }
    span.title {
        font-family: @arial;
        .font-size(1.4);
        line-height: 130%;
        margin: 0 0 7px 0;
        color:@gray-20;
        display: block;
        .hyphen;
        font-weight: normal;
    }
    span.location {
        .promo-description(@gray-20);
        .font-size(1.4);
        margin:0 0 7px 0px;
        display: block;
        .hyphen;
        font-weight: normal;
    }
    @media (min-width: @desktop-min-fixed) {
        .frame {
            ul {
                li {
                    width: 212px;
                    height: auto;
                }
                img {
                    height: 192px;
                }
            }
        }
        .pull-left {
            width: 192px;
            margin-bottom: 4px;
            .hyphen;
            /*width: 100%;*/
        }
        span.icon-carousel-left,
        span.icon-carousel-right {
            top: 141px;
        }
    }
 .item-header{
    .add-line-clamp(2,1.6rem,1.2,1.6rem,1.3);
  }

 .location{
    .add-line-clamp(1,1.4rem,1.2,1.4rem,1.3);
  }

.title{
 .add-line-clamp(3,1.4rem,1.3,1.4rem,1.5);
 }

}
@media (min-width: @desktop-min-fixed) {
    .module-peoplefilmstripa {
        .frame {
            height: auto;
            ul {
                li {
                    //min-height: 300px;
                }
            }
        }
    }
}
