<section class="module-promotionalb component component-trackable" personalize="{{hbs.promotionalB.personalized}}" {{#if hbs.promotionalB.personalized}}hidden{{/if}} no-of-results-required="{{hbs.promotionalB.numberOfContents}}" article ="{{hbs.promotionalB.externalLink}}" tabindex="0">
   <div class="promotionalb-container clearfix {{#if hbs.promotionalB.secondaryUrl}}add20paddingbottom{{/if}}">
      {{#if hbs.promotionalB.imageFileReference}}
      <div class="promotionalb-relative">
         {{#if hbs.promotionalB.rfpForm}}
         <a href="javascript:void(0)" tabindex="-1"
               data-remote="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.altText}}"
               data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
               data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
            {{#if hbs.promotionalB.imageConfigExists}}
                <picture>
                    {{#hbs.promotionalB.imageConfig}}
                        {{#if this.isDesktop}}
                            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                        {{else}}
                            <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                media="screen  and (min-width: 0px) and (max-width: 640px)" >
                        {{/if}}

                        {{#if @last}}
                            <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{hbs.promotionalB.altText}}" title="{{hbs.promotionalB.altText}}"/>
                        {{/if}}
                    {{/hbs.promotionalB.imageConfig}}
                </picture>
            {{else}}
                <picture>
                       <!--[if IE 9]><video style="display: none;"><![endif]-->
                       <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                       <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                       <!--[if IE 9]></video><![endif]-->
                       <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" title="{{hbs.promotionalB.altText}}" alt="{{hbs.promotionalB.altText}}">
                </picture>
            {{/if}}
         </a>
         {{else}}
            {{#if hbs.promotionalB.contactForm}}
            <a href="javascript:void(0)" tabindex="-1"
                  data-remote="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.altText}}"
                  {{#if hbs.promotionalB.contactForm}}
                  data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                  id="contact-form-modal"
                  {{/if}}
                  data-toggle="modal" id="contact-form-modal"
                  data-backdrop="static" data-keyboard="false"
                  data-target="#kpmgModal">
               {{#if hbs.promotionalB.imageConfigExists}}
                   <picture>
                       {{#hbs.promotionalB.imageConfig}}
                           {{#if this.isDesktop}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                           {{else}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 0px) and (max-width: 640px)" >
                           {{/if}}

                           {{#if @last}}
                               <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{hbs.promotionalB.altText}}" title="{{hbs.promotionalB.altText}}"/>
                           {{/if}}
                       {{/hbs.promotionalB.imageConfig}}
                   </picture>
               {{else}}
                   <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" title="{{hbs.promotionalB.altText}}" alt="{{hbs.promotionalB.altText}}">
                   </picture>
               {{/if}}
            </a>
            {{else}}
            <a href="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.altText}}">
               {{#if hbs.promotionalB.imageConfigExists}}
                   <picture>
                       {{#hbs.promotionalB.imageConfig}}
                           {{#if this.isDesktop}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 641px) and (max-width: 9440px)" >
                           {{else}}
                               <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg"
                                   media="screen  and (min-width: 0px) and (max-width: 640px)" >
                           {{/if}}

                           {{#if @last}}
                               <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.imagewidth}}.{{this.imageheight}}.jpg" alt="{{hbs.promotionalB.altText}}" title="{{hbs.promotionalB.altText}}"/>
                           {{/if}}
                       {{/hbs.promotionalB.imageConfig}}
                   </picture>
               {{else}}
                  {{#if hbs.promotionalB.enableThreeColumn}}
                   <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.1082.378.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.1082.378.jpg" title="{{hbs.promotionalB.altText}}" alt="{{hbs.promotionalB.altText}}">
                   </picture>
                  {{else}}
                    <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.341.jpg" media="screen  and (min-width: 0px) and (max-width: 640px)">
                          <source srcset="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" media="screen  and (min-width: 641px) and (max-width: 9440px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img class="img-responsive" src="{{hbs.globalValues.assetDomainName}}{{hbs.promotionalB.imageFileReference}}/jcr:content/renditions/cq5dam.web.512.203.jpg" title="{{hbs.promotionalB.altText}}" alt="{{hbs.promotionalB.altText}}">
                   </picture>
                  {{/if}}
               {{/if}}
           </a>
            {{/if}}
         {{/if}}
      </div>
      {{/if}}
      {{#if hbs.promotionalB.title}}
         <!-- condition to open title as overlay -->
         {{#if hbs.promotionalB.overlay}}
            {{#if hbs.promotionalB.rfpForm}}
            <a href="javascript:void(0)" tabindex="-1"
                  data-remote="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.title}}"
                  data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                  data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
               <h3 class="tertiary-head line-clamp line-clamp-3">{{hbs.promotionalB.title}}</h3>
            </a>
            {{else}}
            <a href="javascript:void(0)" tabindex="-1"
                  data-remote="{{hbs.promotionalB.primaryUrl}}"
                  title="{{hbs.promotionalB.title}}"
                  {{#if hbs.promotionalB.contactForm}}
                  data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html"
                  id="contact-form-modal"
                  {{/if}}
                  data-toggle="modal"
                  data-backdrop="static" data-keyboard="false"
                  data-target="#kpmgModal">
               <h3 class="tertiary-head line-clamp line-clamp-3">{{hbs.promotionalB.title}}</h3>
            </a>
            {{/if}}
         {{else}}
         <a href="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.altText}}">
             <h3 class="tertiary-head">{{hbs.promotionalB.title}}</h3>
         </a>
         {{/if}}
      {{/if}}

      {{#if hbs.promotionalB.longDescription}}
          {{#if hbs.promotionalB.rfpForm}}
              <a title="{{hbs.promotionalB.altText}}"
                  href="javascript:void(0)" tabindex="-1"
                        data-remote="{{hbs.promotionalB.primaryUrl}}"
                        data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                        data-modal-url="/etc/partials/kpmgpublic/rfpprocess/rfpprocess.html" id="rfp-process-modal">
                  <p class="description line-clamp line-clamp-4">{{hbs.promotionalB.longDescription}}</p>
              </a>
          {{else}}
              {{#if hbs.promotionalB.contactForm}}
                  <a title="{{hbs.promotionalB.altText}}"
                      href="javascript:void(0)" tabindex="-1"
                            data-remote="{{hbs.promotionalB.primaryUrl}}"
                            data-toggle="modal" data-backdrop="static" data-target="#kpmgModal"
                            data-modal-url="/etc/partials/kpmgpublic/contact-form/contact-form.html" id="contact-form-modal">
                      <p class="description line-clamp line-clamp-4">{{hbs.promotionalB.longDescription}}</p>
                  </a>
              {{else}}
                  <a href="{{hbs.promotionalB.primaryUrl}}" title="{{hbs.promotionalB.altText}}">
                      <p class="description">{{hbs.promotionalB.longDescription}}</p>
                  </a>
              {{/if}}
          {{/if}}

      {{/if}}
      {{#if hbs.promotionalB.externalLink}}
      <div class="library-desktop {{#if hbs.promotionalB.isBlog}} hidden{{/if}}">
         <div class="module-addtolibrary component self-contained clearfix" aria-label="add to Library" data-description="{{{hbs.promotionalB.longDescription}}}" data-shortDescription="{{{hbs.promotionalB.shareDescription}}}" data-href="{{hbs.promotionalB.primaryUrl}}" data-image="{{hbs.promotionalB.imageFileReference}}" data-title="{{{hbs.promotionalB.shortTitle}}}" data-shortTitle="{{hbs.promotionalB.shortTitle}}" tabindex="0" article ="{{hbs.promotionalB.externalLink}}" style="display:none;" data-article-type="{{ hbs.promotionalB.articleType }}">
            <a href="#" class="addtolibrary-cta" data-backdrop="static" data-keyboard="false" data-modal-url="" data-remote="" id="addToLibrary" title="Add to library" tabindex="0" aria-haspopup="true">
               <span class="icon-star"></span>
            </a>
         </div>
      </div>
      <div class="primary-cta-space">&nbsp;</div>
      {{/if}}
   </div>
</section>
