<!-- Begin Component: SaveArticle -->
<div class="modal-box-container">
    <div class="module-savearticle component" tabindex="0">
        <section>
            <div class="savearticle-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    Save to library or a list?
                </h1>
                <hr class="divider"/>
                <p class="description" id="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa quisquam quod quasi! Dolorum minus repudiandae harum asperiores in, assumenda laudantium! Quasi commodi, nulla maiores hic! A atque illo libero.
                </p>
            </div>
            <div class="savearticle-content" role="main">
                <div class="row-same-height row-full-height " role="row">
                    <div class="col-md-6 col-md-height col-full-height col-top savearticle-columns">
                        <section aria-describedby="savetolibrary" class="savearticle-column" tabindex="0">
                            <div class=" row column-header desktop-only" role="columnheader">
                                <div class="col-md-12">
                                    <div class="save-to-library" id="savetolibrary">
                                        Save to library
                                    </div>
                                </div>
                            </div>
                            <div class="row alert-container hidden">
                                <div class="col-md-12">
                                    <div class="alert alert-error" role="alert">
                                        Best check yo self, you're not looking too good.
                                    </div>
                                </div>
                            </div>
                            <div class="row savearticle-quicksave ">
                                <div class="col-md-12">
                                    <a class="btn-cta" href="" id="quicksave">
                                        <span class="icon-chevron-right">
                                        </span>
                                        <span class="btn-copy">
                                            Quick Save
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="row desktop-only row-last">
                                <div class="col-md-12 article-container">
                                    <div class="article" id="articlePreview">
                                        <img alt="" class="article-image" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E">
                                            <div class="article-body">
                                                <h2 class="article-title line-clamp line-clamp-1">
                                                </h2>
                                                <p class="article-description line-clamp line-clamp-3">
                                                </p>
                                            </div>
                                        </img>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-height col-full-height col-top savearticle-columns last-column">
                        <section aria-describedby="chooselist" class="savearticle-column" tabindex="0">
                            <div class="row column-header" role="columnheader">
                                <div class="col-md-12">
                                    <div class="choose-list " id="chooselist">
                                        Choose a list
                                    </div>
                                </div>
                            </div>
                            <div class="save-to-list-section">
                                <div class="search-container">
                                    <div class="search-input desktop-only">
                                        <div class="form-group">
                                            <label class="sr-only" for="search">
                                                search
                                            </label>
                                            <input class="search" id="search" name="search" placeholder="{{i18n 'kpmg.personalization.public.list.sharelist.searchLibList'}}" type="text"/>
                                            <button class="submitSearch" title="search" type="submit" value="Submit">
                                                <span class="icon-search">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="search-list mobile-only">
                                        <div class="form-group custom-select">
                                            <label class="sr-only" for="librarylistdropdown">
                                            </label>
                                            <select class="form-control full-width" id="librarylistdropdown" name="librarylist">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-container desktop-only">
                                    <ul class="list" id="librarylist" role="list" tabindex="0">
                                    </ul>
                                </div>
                                <div class="new-list-controls">
                                    <a class="btn-cta btn-newlist" href="" id="newlistbtn" tabindex="0">
                                        <span class="icon-add">
                                        </span>
                                        Add a new list
                                    </a>
                                    <form action="" aria-hidden="true" class="form-createlist" role="form">
                                        <div class="form-group">
                                            <span class="error" id="inputerror" aria-hidden="true">
                                                Empty or invalid library name
                                            </span>
                                            <label class="sr-only" for="newlist">
                                                Enter New library name
                                            </label>
                                            <input class="" id="newlist" placeholder="{{i18n 'kpmg.personalization.library.movetolibraryoverlay.enternewlist'}}" type="text" aria-labelledby="">
                                            </input>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn-cta" id="cancelcreate" tabindex="0" type="cancel">
                                                    <span class="icon-close">
                                                    </span>
                                                    Cancel
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn-cta" id="createlist" tabindex="0" type="submit">
                                                    <span class="icon-chevron-right">
                                                    </span>
                                                    Save
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="savearticle-footer" role="footer">
                    <div class="row-same-height row-full-height " role="row">
                        <div class="col-md-6">
                            <div class="savearticle-controls">
                                <a class="btn-cta btn-cancel" href="" id="cancelaction">
                                    <span class="icon-close">
                                    </span>
                                    Cancel
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 last-column">
                            <div class="savearticle-controls">
                                <button class="btn btn-cta btn-default" id="savetolist" type="button">
                                    <span class="icon-chevron-right">
                                    </span>
                                    Save to a list
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section>
            <div class="savearticle-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    Save to library or a list?
                </h1>
            </div>
            <div class="savearticle-content" role="main">
                <div class="row-same-height row-full-height " role="row">
                    <div class="col-md-6 col-md-height col-full-height col-top savearticle-columns">
                        <section aria-describedby="savetolibrary" class="savearticle-column" tabindex="0">
                            <div class="row alert-container ">
                                <div class="col-md-12">
                                    <div class="alert alert-error" role="alert">
                                        Best check yo self, you're not looking too good.
                                    </div>
                                </div>
                            </div>
                            <div class="row desktop-only row-last">
                                <div class="col-md-12 article-container">
                                    <div class="article" id="articlePreview">
                                        <img alt="" class="article-image" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E">
                                            <div class="article-body">
                                                <h2 class="article-title line-clamp line-clamp-1">
                                                </h2>
                                                <p class="article-description line-clamp line-clamp-3">
                                                </p>
                                            </div>
                                        </img>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-height col-full-height col-top savearticle-columns last-column">
                        <section aria-describedby="chooselist" class="savearticle-column" tabindex="0">
                            <div class="row column-header" role="columnheader">
                                <div class="col-md-12">
                                    <div class="choose-list " id="chooselist">
                                        Choose a list
                                    </div>
                                </div>
                            </div>
                            <div class="save-to-list-section">
                                <div class="search-container">
                                    <div class="search-input desktop-only">
                                        <div class="form-group">
                                            <label class="sr-only" for="search">
                                                search
                                            </label>
                                            <input class="search" id="search" name="search" placeholder="placeholder" type="text"/>
                                            <button class="submitSearch" title="title" type="submit" value="Submit">
                                                <span class="icon-search">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="search-list mobile-only">
                                        <div class="form-group custom-select">
                                            <label class="sr-only" for="librarylistdropdown">
                                            </label>
                                            <select class="form-control full-width" id="librarylistdropdown" name="librarylist">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-container desktop-only">
                                    <ul class="list" id="librarylist" role="list" tabindex="0">
                                        <li role="listitem">
                                        </li>
                                    </ul>
                                </div>
                                <div class="new-list-controls">
                                    <a class="btn-cta btn-newlist" href="" id="newlistbtn" tabindex="0">
                                        <span class="icon-add">
                                        </span>
                                        Add a new list
                                    </a>
                                    <form action="" aria-hidden="true" class="form-createlist" role="form">
                                        <div class="form-group">
                                            <span class="error">
                                                Something is not right!!
                                            </span>
                                            <label class="sr-only" for="newlist">
                                                New List
                                            </label>
                                            <input class="" id="newlist" placeholder="new list" type="text">
                                            </input>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn-cta" id="cancelcreate" tabindex="0" type="cancel">
                                                    <span class="icon-close">
                                                    </span>
                                                    Cancel
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn-cta" id="createlist" tabindex="0" type="submit">
                                                    <span class="icon-chevron-right">
                                                    </span>
                                                    Save
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="savearticle-footer" role="footer">
                    <div class="row-same-height row-full-height " role="row">
                        <div class="col-md-6">
                            <div class="savearticle-controls">
                                <a class="btn-cta btn-cancel" href="" id="cancelaction">
                                    <span class="icon-close">
                                    </span>
                                    Cancel
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 last-column">
                            <div class="savearticle-controls">
                                <button class="btn btn-cta btn-default" id="savetolist" type="button">
                                    <span class="icon-chevron-right">
                                    </span>
                                    Save to a list
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="savearticle-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    Delete this Article
                </h1>
                <hr class="divider"/>
                <p class="description" id="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa quisquam quod quasi! Dolorum minus repudiandae harum asperiores in, assumenda laudantium! Quasi commodi, nulla maiores hic! A atque illo libero.
                </p>
            </div>
            <div class="savearticle-content" role="main">
                <div class="savearticle-footer" role="footer">
                    <div class="row-same-height row-full-height ">
                        <div class="col-md-6">
                            <div class="savearticle-controls">
                                <a class="btn-cta btn-cancel" href="" id="cancelaction">
                                    <span class="icon-close">
                                    </span>
                                    No, Keep it
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 last-column">
                            <div class="savearticle-controls">
                                <button class="btn btn-cta btn-default" id="savetolist" type="button">
                                    <span class="icon-chevron-right">
                                    </span>
                                    yes, delete it
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="savearticle-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    Delete this Article
                </h1>
                <hr class="divider"/>
                <div class="alert alert-success" role="alert">
                    <span class="icon-chevron-right">
                    </span>
                    Best check yo self, you're not looking too good.
                </div>
            </div>
            <div class="savearticle-content" role="main">
                <div class="savearticle-footer" role="footer">
                    <div class="row-same-height row-full-height ">
                        <div class="col-md-6">
                            <div class="savearticle-controls">
                                <a class="btn-cta btn-cancel btn-white" href="" id="cancelaction">
                                    <span class="icon-close">
                                    </span>
                                    Close
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="savearticle-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    Share this list
                </h1>
                <hr class="divider"/>
                <p class="description" id="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi culpa quisquam quod quasi! Dolorum minus repudiandae harum asperiores in, assumenda laudantium! Quasi commodi, nulla maiores hic! A atque illo libero.
                </p>
                <div class="alert alert-info" role="alert">
                    http://127.0.0.1:8000/public_html/modules/addtolibrary.html
                </div>
            </div>
            <div class="savearticle-content" role="main">
                <div class="savearticle-footer" role="footer">
                    <div class="row-same-height row-full-height ">
                        <div class="col-md-6">
                            <div class="savearticle-controls">
                                <a class="btn-cta btn-cancel" href="" id="cancelaction">
                                    <span class="icon-close">
                                    </span>
                                    Close
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 last-column">
                            <div class="savearticle-controls">
                                <button class="btn btn-cta btn-default" id="savetolist" type="button">
                                    <span class="icon-chevron-right">
                                    </span>
                                    Copy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </div>
</div>
<!-- End Component: SaveArticle -->
