@import "../../../../../../../global/css/_variables";

.sub-list-item-component{
    a{
        border: 1px solid @pattens-blue;
        .extra-link{            
            line-height: 1.8rem;
        }
    }
    .sub-list-item-component-text-color{
        color: @gray-20 !important;
    }
    a.highlight {
        background: @kpmg-blue !important;
        color: @white !important; 
    }    
}