<!-- Begin Component: TouchRecentposts -->
<div class="module-touch-recentposts component">
    <div class="web-spinner" {{#if hbs.isAuthor}} style="display:none;" {{/if}}>
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1082 547'%2F%3E"  width="1082" height="547" style="height: 400px;" class="desktop-only img-responsive" />
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 640 580'%2F%3E"  width="640" height="580" class="mobile-only img-responsive" />
    </div>
    <div class="row-same-height">
        <div class="content-wrapper">
            <div class="col-md-height col-md-4 recent-post-wrapper hidden">
                <div class="recent-post-title">
                    <h3 class="tertiary-head">{{hbs.touchBlogRecentPosts.recentPostLabel}}</h3>
                </div>
                <ul class="recent-posts"></ul>
                <div class="recent-posts-list">                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Component: TouchRecentposts -->
