<div class="resultListingCQModel" id="CQModel" data-CQModal='
    {"i18nModel":{"searchTabText":"{{i18n hbs.caasdocumentsearchresults.searchTabText}}",
    "noResultMessage":"{{i18n hbs.caasdocumentsearchresults.noResultMessage}}",
    "for":"{{i18n hbs.caasdocumentsearchresults.for}},
    "of":"{{i18n hbs.caasdocumentsearchresults.of}},
    "next":"{{i18n hbs.caasdocumentsearchresults.next}},
    "showing":"{{i18n hbs.caasdocumentsearchresults.showing}},
    "}'>
</div>
<!-- Begin Component: Caasdocumentsearchresults -->
<section class="module-caasdocumentsearchresults component" data-searchUrl="{{hbs.caasdocumentsearchresults.solrUrl}}" data-rows="{{hbs.caasdocumentsearchresults.resultsPerPage}}">
    <div id="searchInputsCQModel" class="searchInputsCQModel" data-CQModal='{"sesPrefixResultsLimit" :"{{hbs.caasdocumentsearchresults.sesPrefixResultsLimit}}", "commonModelId" : "{{hbs.caasdocumentsearchresults.commonModelId}}", "localCountryModelId":"{{hbs.caasdocumentsearchresults.localCountryModelId}}", "searchResultPath":"{{hbs.caasdocumentsearchresults.searchResultPath}}","searchLanguage":"{{hbs.caasdocumentsearchresults.SESLanguage}}"}'></div>
    <div class="btn-container hidden-xs hidden-sm">
        <a href="javascript:void(0);" class="btn-back">
            <span class="icon-chevron-left"></span>
            <span class="hidden-xs">{{i18n "back"}}</span>
        </a>
    </div>
    <div class="search-title">
        Search
    </div>
    <div class="search-container">
        <div class="search-input">
            <div class="form-group">
                <label for="search" class="sr-only">{{i18n "search"}}</label>
                <input name="search" class="search" type="text" placeholder="{{i18n hbs.caasdocumentsearchresults.searchTabText}}"/>
                <button type="submit" class="submitSearch" title="{{i18n hbs.caasdocumentsearchresults.searchTabText}}" value="{{i18n hbs.caasdocumentsearchresults.searchTabText}}">
                    <span class="icon-search"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- modal to show results as overlay -->
    <div id="caasResultSet" class="modal fade" data-role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- modal header section showing search option-->
                <div class="modal-header">
                    <div class="form-group">
                        <label for="search" class="sr-only">{{i18n "search"}}</label>
                        <button type="submit" class="submit-overlay-search" title="{{i18n hbs.caasdocumentsearchresults.searchTabText}}" value="{{i18n hbs.caasdocumentsearchresults.searchTabText}}">
                            <span class="icon-search"></span>
                        </button>
                        <input id="caasOverlayInputBtn" name="search" class="search" type="text" placeholder="{{i18n hbs.caasdocumentsearchresults.searchTabText}}"/>
                        <a href="#" class="btn-close" data-dismiss="modal"><span class="icon-x-round-colse"></span></a>
                    </div>
                </div>
                <!-- modal body section showing results-->
                <div class="modal-body">
                    <div class="results-found">
                        <ul claas="search-results caasResultSetContainer">
                        </ul>
                    </div>
                </div>
                <!-- modal footer showing max results info and pagination  -->
                <div class="modal-footer">
                    <!-- showing when results found -->
                    <div class="pagination-container">
                        <!-- showing upper and lower limits -->
                        <p class="results-shower">{{i18n hbs.caasdocumentsearchresults.showing}}&nbsp;
                            <span claas="results-lower-limit">1&nbsp;</span>
                            <span>&ndash;</span>
                            <span class="upper-limit">&nbsp;15&nbsp;</span>
                            <span class="of-string">{{i18n hbs.caasdocumentsearchresults.of}}&nbsp;</span>
                            <span class="total-results">&nbsp;</span>
                        </p>
                        <!-- showing paginator -->
                        <div class="container">
                            <ul class="caas-pagination">
                            </ul>
                            <!-- next button  -->
                            <button type="button" class="btn btn-default next-btn">{{i18n hbs.caasdocumentsearchresults.next}}
                                <span class="greater">&gt;</span>
                            </button>
                        </div>
                    </div>
                    <!-- showing when no results found -->
                    <div class="no-results-found">
                        <p> {{i18n hbs.caasdocumentsearchresults.noResultMessage}}
                            <span class="search-term"></span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Component: Caasdocumentsearchresults -->