@import "../../global/css/_variables.less";

div.module-latest-thinking.component {
  padding: 0;
  background-color: #f0f0f0;

  div.container {
    margin-top: 0;
  }
  //
  @import "safari-bug-fix";
  @import "title-and-description";
  @import "carousel";
  @import "article-filters";
  @import "articles";
  @import "articles-placeholder";
}
// DESKTOP STYLES (mw641)
@media only screen and (min-width: @desktop-min-fixed) {
  div.module-latest-thinking.component {
    margin-top: 37px;
    //
    @import "mw641/title-and-description";
    @import "mw641/carousel";
    @import "mw641/article-filters";
    @import "mw641/articles";
    @import "mw641/articles-placeholder";
  }
}
