<section class="module-imagegallery component" data-more-from-gallery="{{i18n hbs.imagegallery.carousal}}" data-share-label="{{i18n hbs.imagegallery.share}}" data-gallery-title="{{hbs.imagegallery.title}}" data-download-label="{{i18n hbs.imagegallery.download}}">
    <div class="row">
        <div class="col-md-12 border-all">
            {{#if hbs.imagegallery.title}}
                <h3 class="tertiary-head">{{hbs.imagegallery.title}}</h3>
            {{/if}}
        </div>
    </div>

    <div class="gallery image-align"  data-baseUrl="{{hbs.imagegallery.baseUrl}}" data-total-records="{{hbs.imagegallery.totalRecords}}" data-recordsPerPage="{{hbs.imagegallery.recordsPerPage}}">
        <div class="row"></div>
    </div>
    <div class="row load-more">
        <div class="col-md-12 alignCenter">
            <span class="load-more-link" tabindex="0">
                <span class="icon-add"></span>
                <span class="component-link btn-more" data-type="gallery" href="#">{{i18n hbs.imagegallery.loadmore}}</span>
            </span>
        </div>
    </div>
  
</section>

<div class="modal fade modalDialog modal-container-image-quick-view"   id="image-quick-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
            <div class="modal-content-panel"> 

            </div>
          
       </div>
    </div>
</div>   