@import "../../global/css/_variables.less";
.module-touch-download {
    width: 100%;
    padding: 10px 0px;
    .content-container {
        background-color: @green1;
        font-size: 20px;
        color: @white;

        .icon-download {
            padding-left: 5px;
            padding-top: 16px;
        }

        .download-text{
            display: block;
            margin: 0;

            .document-details {
                padding-top: 15px;
                padding-bottom: 15px;
                &:hover {
                    text-decoration:none;
                      .download-label,
                      .download-size {
                          text-decoration: underline;
                      }
                }
            }
        }
    }
    .document-details {
        font-size: 20px;
        line-height: 1.2;
        display:inline-block;
        margin-top: 4px;
    }
    .document-description{
        background-color: @gray-94;
        .short-description {
            font-size: 18px;
            font-style: italic;
            padding: 13px 0px 15px 7px;
        }
    }
}

@media (max-width: @mobile-max-fixed) {
    .module-touch-download{
        .document-details{
            padding-left: 10px;
        }
        .download-icon {
            padding-left: 30px;
        }
        .document-description {
            padding-left: 30px;
        }
    }
}
