<section class="module-tmpl-unsubscribe">
    <div class="row">
        <div class="col-md-12 fullbleed-banner" data-desktop-cell="1" data-mobile-cell="1">
            {{ include "fullbleedbanner" resourceType="/apps/kpmgpublic/components/global/fullbleedbanner"}}
        </div>
    </div>
    <div class="row inner-container">
        <div class="col-md-12" data-desktop-cell="2" data-mobile-cell="2">
            {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
        </div>
        <div class="col-md-12" data-desktop-cell="3" data-mobile-cell="3">
            {{ include "unsubscribe" resourceType="/apps/kpmgpublic/components/personalization/unsubscribe"}}
        </div>
        <div class="col-md-12" data-desktop-cell="4" data-mobile-cell="4">
            {{ include "bodytext" resourceType="/apps/kpmgpublic/components/content/bodytext"}}
        </div>
    </div>
</section>
