<template id="type-ahead-component-template">
    <div 
		class="
			type-ahead-component vue-component
			input-group
		" 
		:class="[classes]"
	>
  <div class="input-wrapper mobile">
		<input type="text" class="type-ahead-select taller"
				 :placeholder="placeholder"
				 autocomplete="off"
				 v-model="query"
				 @keydown.down="down"
				 @keydown.up="up"
				 @keydown.enter.prevent="hit"
				 @keydown.esc="reset('escape')"
				 @input="update($event)"
         @keyup.enter="onKeyUpEnter"
         @keyup.right = "right"
    />
  </div>
    <input type="text" class="type-ahead-select desktop"
      :placeholder="placeholder"
      autocomplete="off"
      v-model="query"
      @keydown.down="down"
      @keydown.up="up"
      @keydown.enter.prevent="hit"
      @keydown.esc="reset('escape')"
      @input="update($event)"
      @keyup.enter="onKeyUpEnter"
      @keyup.right = "right"
    />
      <div v-show="hasItems" class="dropdown-menu-list dropdown-menu" role="menu" aria-labelledby="dropdownMenu" 
		:class="{hasItems: hasItems}"
      >
      <ul>
        <li 
			v-for="(item , index) in items" 
			:class="{active:activeClass(index)}"
			v-bind:key="index + '-typeahead'"
            @mousedown="hit" @mousemove="setActive(index)">
          <a v-html="highlighting(item, vue)"></a>
        </li>
      </ul>
      <ul v-if="showSearchingFlag" v-show="!hasItems&&!isEmpty" class="dropdown-menu" role="menu"
          aria-labelledby="dropdownMenu">
        <li class="active" @mousemove="setActive(index)" v-if="!loading">
          <a>
            <span v-html="NoResultText"></span>
          </a>
        </li>
        <li class="active" @mousemove="setActive(index)" v-else>
          <a>
            <span v-html="SearchingText"></span>
          </a>
        </li>
      </ul>
      </div>
    </div>
</template>