// VARIABLES
@import "../../../../../../../global/css/_variables.less";
//
.nav-flyout-fullbleed-component {
    // DESIGN
    box-shadow: 0px 11px 13px fadeout(@black, 70%);
    // LAYER PRIORITY
    z-index: 100;
    // POSITIONING
    left: 0;
    &.dropdown-menu {
        // to override the border given by bootstrap .dropdown-menu
        border: 0;
    }
    &.psd-fullbleed-padding{
        padding-top: 15px !important;
        padding-bottom: 10px !important;
    }
}