<div class="resultFound">
  
   <div class="noDataFound">
      <p>{{this.CQModel.i18nModel.noResultsCopy}}</p>
      <h3>Suggestions</h3>
      <p>{{this.CQModel.i18nModel.noResultsCopyLineOne}}</p>
      <p>{{this.CQModel.i18nModel.noResultsCopyLineTwo}}</p>
      <p>{{this.CQModel.i18nModel.noResultsCopyLineThree}}</p>
   </div>
</div>
<div class="sortByContainer">
   <div class="sortBy">
   <div class="refineButton">
         <span class="icon-chevron-right"></span>
         <span class="component-link facets-refine-btn" href="#" title="REFINE SEARCH">{{this.CQModel.i18nModel.title}}</span>
      </div>
   </div>
</div>