@import "../../global/css/_variables.less";
@import "../../addtolibrary/css/addtolibrary.less";

.module-featuredarticles {
    a.cell-wraper {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    img {
   	    width: 100%;
        position: relative;

    }

    .featuredarticles-data,
    .featuredarticles-imgcont {
        position:relative;
    }
    .libraryLimit-value{
        display: none;
    }
    .bg-white {
   	    float:left;
        width: 100%
    }

    .alt-secondary-head {
      .promo-title(@kpmg-blue);
      margin:8px 0px;
          &.visible-sm {
                color: @kpmg-blue;
          }
    }

    .featuredarticles-rectangle {
        .title-box(@purple);
            &.visible-lg {
              display:none;
            }
    }

    .featuredarticles-rfp {
        .featuredarticles-desc-mobile {
            .promo-description(@gray-20);
            margin: 7px 0px;
        }
    }

    .title {
        .promo-title(@kpmg-blue);
        margin:5px 0px 8px 0px;
        position: relative;
        top: 0px;
    }

    .visible-lg-FeatArticle {
        display:none;
    }

    .visible-xs-FeatArticle {
        display:block;
    }

    .visible-lg-FeatArticleHead {
        display:none;
    }
}


@media (min-width: @desktop-min-fixed) {
    .module-featuredarticles {
        // everything in here will be for breakpoint at 641px and up
        &.component {
            padding: 0;
        }
        a.cell-wraper {
            padding: 10px;
        }
        .bg-white{
         	padding:10px;
        }
        img{
        	position: relative;
            max-width: 237px;
            float: right;
            max-height: 200px;        
        }
        .alt-secondary-head{
        	.promo-title(@white);
            margin:8px 0px;
            padding: 0px 10px;
            position: absolute;
            top:0px;
        }
        .title {
            .component-title(@white);
            position: absolute;
            margin:0px 0px 10px 0px;
            width: 50%;
            top: 40px;
            padding: 0px 10px;
        }
        .featuredarticles-imgcont {
            float: left;
            width: 100%;
            margin: 0 0 10px 0;
        }
        .featuredarticles-rfp {
          width: 100%;
          float: left;
          .pull-right {
             margin-top: 16px;
          }
          .featuredarticles-desc-desktop {
            .promo-description(@gray-20);
            margin: 7px 0px;
          }
        }
        .visible-lg-FeatArticle {
            display:block;
        }
        .visible-xs-FeatArticle {
            display:none;
        }
        .visible-lg-FeatArticleHead {
            display:block;
        }
        .featuredarticles-rectangle.visible-lg {
          display: block !important;
        }
    }

}

@media (max-width: 640px) {
    .module-featuredarticles {
        a.cell-wraper {
            position: relative;
        }
        .library-desktop {
            position: relative;
            bottom: 0;
            left: 0;
        }
    }
}
