@import url('../../global/css/_variables.less');
.searchResultsCQModel{
    display:none !important;
}
.ui-widget {
    font-family: @arial;
}
.ui-menu .ui-menu-item {
    list-style-image: none;
    margin: 7px 0;
    color: @gray-40 !important;
}
.recent_item_heading {
    text-transform: none !important;
    .promo-details(@kpmg-blue) !important;
    margin: 7px 0;
}
.ui-menu .ui-menu-item:hover {
    list-style-image: none;
    color: @white !important;
    background: @light-blue;
    border: 1px solid @kpmg-blue;
    font-weight: normal;
}
.ui-menu .ui-menu-item.ui-state-focus {
    background:@light-blue;
    border: 1px solid @light-blue;
    font-weight: normal;
    color: @white;
}
.ui-menu .ui-menu-item .ui-state-focus,
.ui-menu .ui-menu-item .ui-state-active{
    background: @light-blue;
    border: none;
    font-weight: normal;
    color: @white;
}
.ui-widget-content {
    background: @white;
    border: 1px solid @gray-60 !important;
    border-top: 0px !important;
    color: @gray-20;
    z-index:900 !important;
    padding: 0 5px;
}
#search.ui-autocomplete-loading {
    background-image: none;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
    position: fixed;
}
.modal-active {
    .modal{
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-open {
    span.component-link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.recent_item_heading{
    background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x scroll 0px 9px #f6f6f6;
    background-position: 0px 6px;
    padding: 17px 0 2px 5px;
    color:@kpmg-blue;
}

#submitSearch.focusOutline {
    box-shadow: 0 0 3px @light-green;
    outline: solid @light-green 1px;
}

.module-searchresults {
    float: left;
    width: 100%;
    padding: 0 !important;
    background: transparent;
    .nestedFacetsToogleBtn:focus {
        box-shadow: 0 0 3px @medium-blue;
        outline: solid @medium-blue 1px;
    }

    .description{
        .add-line-clamp(5,1.4rem,1.3,1.4rem,1.5);
    }

    .secondary-head{
        .add-line-clamp(3,1.6rem,1.2,1.6rem,1.3);
    }

    .peopleDetails{
        .add-line-clamp(2,1.4rem,1.3,1.4rem,1.5);
    }

    .nestedFacetsToogleBtn.no-box-shadow {
        box-shadow: none !important;
        outline-width: 0;
        outline: none;
    }
    .tabCount-ie {
        padding-top: 1.7px !important;
        margin-left: -1px;
    }
    .tabCount-ff {
        padding-top: 0px !important;
        margin-top: 0.4px !important;
    }

    .resultsListContainer {
        .resultSet {
            a {
                display: inline-block;
                width: 100%;
                .result.focusOutline {
                    box-shadow: inset 0px 0px 0px 1px @medium-blue-transparent;
                    outline: none;
                }
            }
        }
    }

    a.hasResults.focusOutline {
        box-shadow: 0 0 3px @medium-blue;
        outline: 1px solid @medium-blue-transparent;
        span {
            text-decoration: underline;
        }
    }
    .active {
        a.hasResults.focusOutline {
            span {
                text-decoration: none !important;
            }
        }
    }
    .facetFilters.date {
        .facetsCheckbox {
            margin-top: 7px;
        }
    }
    .visibilty-hidden {
        visibility: hidden;
    }
    .nestedFacets {
        .icon-checkmark.mblCheckmark, .visibilty-hidden {
            margin-right: 10px;
        }
    }
    .prev-page-btn.focusOutline {
        margin: 0.50px 0px 12px 0.50px !important;
        text-decoration: none;
        span.searchResultsBackbtn {
            text-decoration: underline;
        }
    }
    .searchResultsBackbtn {
        .promo-title(@gray-40);
        display: none;
    }
    .icon-chevron-up,
    .icon-chevron-down {
        .font-size(1.6) !important;
        cursor: pointer !important;
    }
    .form-group {
        margin: 16px 16px 16px 0;
    }
    .facetsContent .facetsGroup .resp-tabs-list .facetsContainer .icon-chevron-up,
    .facetsContent .facetsGroup .resp-tabs-list .facetsContainer .icon-chevron-down  {
        .font-size(1.6) !important;
    }
    .resultFound {
        top: 35% !important;
    }
    .icon-clear-all {
        color: @light-purple;
    }
    .cancelFilter {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .searchresults-view {
        display: none;
    }
    .tertiary-trapezoid-bg {
        display: none !important;
    }
    .search-input-first-option {
        left: 2px;
        position: absolute;
        float: left;
        width: 100%;
    }
    .search-input-second-option {
        left: 2px;
        position: absolute;
        top: 25px;
        float: left;
        width: 100%;
    }
    .component-link, .cta-space {
        .cta-right(@gray-40);
    }
    .result {
        .quickView {
            padding-right : 0px;
            .desktop-only.pull-right {
                margin-right: 1px;
            }
        }
        &:hover {
            box-shadow: inset 0px 0px 0px 1px @gray-80;
        }
        .textContainer {
            h3.secondary-head:hover {
                text-decoration: underline;
            }
        }
    }
    .quickview-btn:hover .component-link {
        text-decoration: underline;
    }
    .icon-chevron-down {
        color: @kpmg-blue !important;
    }
    .icon-chevron-up {
        color: @light-blue !important;
    }
    .has-nested:hover {
        & {
            .icon-chevron-down {
                color: @medium-blue !important;
            }
        }
    }

    .clear-all-filters {
        .promo-title(@gray-40);
        text-transform: none;
        text-decoration: underline !important;
        &:hover .btn-copy {
            text-decoration: underline;
        }
        &:hover .icon-chevron-right {
            text-decoration: none !important;
        }
    }
    .typeahead-elem {
        margin:0;
        position: absolute;
        color:@gray-80;
        left: 0px;
        right: auto;
        background:transparent;
        overflow:hidden;
        top: 37%;
        text-transform:none;
        max-width:278px;
        height:15px;
    }

    .desktop-only.pull-right {
        margin: 2px;
    }
    .nestedFacetsToogleBtn.icon-chevron-right {
        font-size: 16px !important;
        margin-top: 1px !important;
    }

    .searchCell2 {
        border-top: none;
        .col-md-12 {
            padding: 0;
        }
    }

    .didYouMean {
        a {
            color:@medium-blue;
            cursor:pointer;
        }
        a:hover{
            text-decoration:underline;
        }
    }

    .sortOptions {
        width: 100%;
        padding-right: 30px;
        cursor: pointer;
        -moz-appearance: none;
        option {
            cursor: pointer;
        }
    }

    select.custom-dropdown {
        -moz-appearance: none;
        padding: 2px 2px 3px 6px;
        &::-ms-expand {
            display: none;
        }
    }

    input[type="radio"] {
        opacity: 0;
    }
    label[for="this-site"].focusOutline,
    label[for="all-sites"].focusOutline {
        box-shadow: none;
        outline: none;
    }

    input[type="radio"] + label {
        background-size: 17px 18px;
        cursor: pointer;
        height: 18px;
        padding: 4px 0 0 0;
        display: inline-block;

    }
    input[type="radio"]:checked + label {
        background-image: url("/etc/designs/kpmgpublic/images/radio-checked-green.png"),none;
        background-repeat: no-repeat;
        &:hover,
        &.focusOutline {
            background-image: url("/etc/designs/kpmgpublic/images/radio-checked-green.png"),none;
        }
    }
    input[type="radio"] + label {
        background-image: url("/etc/designs/kpmgpublic/images/Nonselect_normal.png"),none;
        background-repeat: no-repeat;
        background-size: 17px 18px;
        cursor: pointer;
        height: 18px;
        padding-left: 30px;
        display: inline-block;
        padding-top: 4px;
        font-weight: normal;
        &:hover,
        &.focusOutline {
            background-image: url("/etc/designs/kpmgpublic/images/Nonselected_hover.png"),none;
        }
    }
    .facetsCheckbox {
        background: none;
        cursor: pointer;
        display: block;
        height: 16px;
        width: 98%;
        padding: 6px 0 2px 2px;
    }
    .facetsCheckbox.checked {
        background: none;
        width: 86%;
        float: left;
    }
    input[type="checkbox"]:checked + label {
        background-image: url("/etc/designs/kpmgpublic/images/checkbox-check.gif") no-repeat;
    }
    .col-md-3 {
        min-width: 0;
        padding: 0;
    }
    .facets-overlay {
        display: none;
        position: absolute;
        height: 100%;
        right: 0;
        left: 0;
        opacity: .5;
        z-index: 1;
        background: @gray-94 url(/etc/designs/kpmgpublic/images/loading.gif) center 100px no-repeat;
    }
    .facets-spinner {
        display: block;
        height: 200px;
        opacity: .5;
        z-index: 1;
        background: @gray-94 url(/etc/designs/kpmgpublic/images/loading.gif) center 80px no-repeat;
    }
    .facets-results-container {

        margin-top: -20px;
        .facets-container {
            padding-top: 0;
            margin-top: 0;
            position: relative;
            .facetsContent {
                display: none;
                background: @white;
                .icon-chevron-right {
                    color: @light-green;
                }
            }
            label {
                font-weight: normal;
                margin: 7px 0;
            }
        }
        .resultsListingcontainer {
            padding: 0;
            .resultsContainer {
                background: transparent;
                padding: 0;
                width: 100%;
            }
        }

    }
    .searchinputsContent {
        width: 100%;
        float: left;
        padding: 15px 10px 10px 10px;
        background: @white;
        margin-bottom: 20px;
        .set-font-size(1.6);
        line-height: 1;
        padding: 10px;
        .search-container {
            .col-md-9 {
                height: 50px;
            }
            .col-md-3 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        .col-md-12, .col-md-9, .col-md-3 {
            padding-left: 0px;
            padding-right: 0px;
        }
        .back-btn-container {
            color: @white;
            display: inline-block;
            width: 25px;
            margin: 0;
            position: absolute;
            z-index: 11;
            a.btn-back,
            a.prev-page-btn {
                .promo-title(@gray-40);
                height: 25px;
                display: inline-block;
                span.icon-chevron-left {
                    color: @kpmg-blue;
                    margin-right: 7px;
                    position: relative;
                    .font-size(2.6);
                    margin: 8px 0;
                }
            }
        }

        .radio-btns {
            .form-group {
                display: block;
                .promo-details(@kpmg-blue);
                font-weight: normal;
                margin: 7px 0;
            }
            fieldset{
                width: auto!important;
                legend {
                    left: -999px;
                    height: 0;
                    position: absolute;
                }
            }
            .form-group {
                .set-font-size(1.6);
                margin-top: 5px;
                input[type="radio"]{
                    width:0;
                    margin-left:-5px;
                }
                input[type="radio"] + label {
                    padding-top:2px;
                }
            }
        }
        .search-input {
            width: 100%;
            padding-left: 30px;
            position: relative;
            display: inline-block;
            float: right;
            #search {
                .promo-details(@gray-40);
                border: 1px solid @gray-60;
                .set-font-size(1.8);
                &:hover {
                    border: 1px solid @gray-40;
                }
            }
            #search.focusOutline {
                box-shadow: 0 0 3px @kpmg-blue;
                outline: solid @kpmg-blue 1px;
            }
            .typeahead-elem {
                font-family: @arial;
                .set-font-size(1.6);
            }
        }
        .search-input input {
            width: 100%;
            height: 28px;
            padding-left: 7px;
            padding-right: 30px;
            .promo-details(@gray-40);
            border: 1px solid @gray-80;
        }
        .search-input button {
            width: 30px;
            padding: 5px 5px 3px 5px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: @light-green;
            color: @white;
            border-left: 0;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
        }
        .icon-search {
            .font-size(1.6);
        }
    }
    .facetsContent {
        padding: 0;
        float: left;
        width: 100%;
        .facetsTitle {
            background: @white;
            width: 100%;
            float: left;
            padding: 15px;
            margin-top: 20px;
            .secondary-head {
                .promo-title(@medium-blue);
                text-align: left;
                width: 70%;
                float: left;
                font-weight: normal;
                text-transform: none;
                margin: 8px 0;
            }
            .cancelFilter {
                display: block;
                padding: 10px;
                color: #6d2077;
                font-size: 16px;
            }
            .applyFilter.focusOutline {
                & span {
                    color: @medium-blue;
                }
            }
            .applyFilter {
                display: block;
                .promo-title(@gray-40);
                .hyphen;
                margin-top: 5px;
                position: absolute;
                bottom: 0px;
                right: 0px;
                padding: 10px;
                margin: 1px;
                span:hover {
                    text-decoration: none !important;
                }
                &:hover {
                    text-decoration: none;
                    & span {
                        text-decoration: none !important;
                    }
                }
            }
        }
        .clearAll {
            text-align: left;
            float: left;
            width: 100%;
            padding-left: 15px;
            span.icon-chevron-right {
                color: @kpmg-blue;
                margin: 0 5px 0 0;
                .font-size(1.6);
            }
            .clear-all-filters {
                cursor: pointer;
                text-decoration: none !important;
            }
            span.btn-copy {
                margin: 8px 0;
            }
        }
        .facetsGroup {
            float: left;
            width: 100%;
            .resp-tabs-list {
                float: left;
                width: 100%;
                .facetFilters {
                    float: left;
                    width: 100%;
                    padding: 3px 0 0 0;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    .component-head {
                        width: 100%;
                        float: left;
                        .set-font-size(1.6);
                        background: @gray-96;
                        color: @white;
                        padding-top: 10px;
                        text-transform: none;
                        .facetTitle {
                            float: left;
                            margin: 8px 0;
                            .promo-title(@kpmg-blue);
                            padding-left: 10px;
                        }
                        .icon-chevron-up, .icon-chevron-down {
                            display: block;
                            float: right;
                            .font-size(1.6);
                            padding: 10px;
                        }
                    }
                    .mblAccordion {
                        margin: 3px 0 0 0;
                        padding: 0  10px 0 10px;
                        .icon-chevron-down {
                            display: block;
                            float: right;
                            .font-size(1.6);
                        }
                    }
                    .moreFacets {
                        margin-bottom: 0;
                        padding: 15px;
                        float: left;
                        width: 100%;
                        padding-left: 25px;

                        .moreFacetsLink, .moreNestedFacetsLink {
                            display: block;
                            text-align: center;
                            cursor: pointer;
                            .promo-title(@gray-40);
                            text-decoration: none;
                            .font-size(1.9);
                            line-height: 1;
                            margin: 10px 0 0 0;
                            padding: 9px 10px;
                            margin-left: -10px;
                            margin-right: -10px;
                            background-color: @persian-green;
                            color: @white;
                        }
                    }
                }
                .facetsContainer {
                    position: relative;
                    float: left;
                    width: 100%;
                    .facetsOptions {
                        .GT5Facets {
                            display: none;
                        }
                    }
                    .facetsOptions li {
                        float: left;
                        width: 100%;
                        margin-bottom: 0;
                        padding: 15px;
                        background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x scroll 0 9px #fff;
                        background-position: 0px 0px;
                        width: 100%;
                        &:last-child {
                            border-bottom: none;
                        }
                        .LT5Facets:hover {
                            &>.mblCheckmark {
                                color: @light-blue;
                            }
                        }
                        .LT5Facets.has-nested:hover {
                            &>.mblCheckmark {
                                color: @light-blue;
                            }
                        }
                        input {
                            float: left;
                            margin: 10px 10px 0 0;
                            display: none;
                            opacity: 0;
                        }
                        .facetName {
                            float: left;
                            .promo-details(@gray-20);
                            cursor: pointer;
                            display:block;
                            width:70%;
                            .hyphen;
                            position: relative;
                            top: -2px;
                        }
                        .nestedFacets {
                            margin: 0 0 0 -17px;
                            float: left;
                            width: 109%;
                            display: none;
                        }
                        .mblCheckmark {
                            float: left;
                            .font-size(1.6);                            
                            color: @light-blue;
                            display: block;
                            padding: 10px;
                        }
                    }

                    .icon-chevron-up,
                    .icon-chevron-right {
                        .font-size(1.6);
                        cursor: pointer;
                        position: relative;
                        top: -3px;
                    }

                    .icon-chevron-down {
                        position: relative;
                        top: 0;
                        .font-size(1.6);
                        color: @light-green;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .tabsContainer {
        width: 100%;
        overflow: hidden;
        background: @white;
        padding: 10px 10px 0 10px;
        margin-bottom:10px;
        display: none;
        .tabsList {
            width: 100%;

            .resultTabs {
                width: 100%;
                .results-tabs-list {
                    width: 100%;
                    .tabbedComponentTab {
                        width: 100%;
                        background: transparent;
                        margin-right: 10px;
                        overflow: hidden;
                        border-bottom: 1px solid @gray-60;
                        .promo-details(@kpmg-blue);
                        .tabCount {
                            .set-font-size(1.4);
                            padding-top: 1.5px;
                        }
                        &:first-child {
                            margin-right: 0px;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        a.hasResults {
                            &.focusOutline {
                                box-shadow: 0 0 3px @gray-20;
                                outline: 1px solid @grey-text-transparent;
                            }
                        }
                        &.active {
                            background: transparent;
                            a {
                                color: @kpmg-blue;
                                font-weight: bold;
                                &:hover {
                                    span {
                                        text-decoration: none !important;
                                    }
                                }
                                &.focusOutline {
                                    box-shadow: 0 0 3px @kpmg-blue;
                                    outline: 1px solid @kpmg-blue-transparent;
                                }
                            }
                        }
                        .hasResults {
                            cursor: pointer;
                            float: left;
                            width: 100%;
                            color: @gray-40;
                            text-align: center;
                            .set-font-size(1.8);
                            padding: 13px 0px;
                        }
                        .hasResults:hover {
                            & span {
                                text-decoration:  underline !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .advanced-search-cta {
        background-color: @medium-blue;
        border: none;
        width: 100%;
        text-align: left;
        color: @white;
        padding: 9px 17px;
        .set-font-size(1.9);
        line-height: 1;
        margin-top: 6px;
        word-break: break-word;

        .icon-chevron-down, .icon-chevron-up {
            color: @white !important;
        }
    }
    .resultslistingContent {
        float: left;
        width: 100%;
        .resultsContainer {
            width: 100%;
            float: left;
            background: transparent;

            .resultsListContainer {
                float: left;
                width: 100%;
                background: @gray-94;
                .result.desktopContainer {
                    width: 100%;
                    margin-bottom: 18px;
                }
				.result.mobileContainer{
					.contactFmLink {
                        .btn-cta.contact-btn {
                            bottom: 30px;
                        }
                    }
				}
                .result {

                    position: relative;
                    float: left;
                    background: @white;
                    padding: 10px;
                    .badge {
                        display: none;
                        border-top: 4px solid @yellow;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                        height: 1px;
                        span.icon-star-badge {
                            display: none;
                            color: @yellow;
                            .font-size(3);
                            left: 15px;
                            position: absolute;
                            top: 5px;
                            .line-height(2);
                        }
                    }
                }
                .result {
                    .imgContainer {
                        width: 100%;
                        float: left;
                        position: relative;
                        .tertiary-trapezoid-bg {
                            position: absolute;
                            bottom: 0;
                            left: 10px;
                            width: 100%;
                            font-style: italic;
                            text-transform: none;
                            &:before {
                                background-color: @light-blue;
                                opacity: 0.9;
                            }
                        }
                        .tertiary-trapezoid-bg span {
                            left: 0px;
                            font-weight: normal;
                            .line-height(1.5);
                            padding-right: 20px;
                            .font-size(1.2);
                            font-family:@arial;
                            display: -webkit-box;
                        }
                        a {
                            min-height: 150px;
                            float: left;
                            width: 100%;
                        }
                    }
                    .textContainer {
                        position: relative;
                        width: 100%;
                        float: left;
                        padding-left: 0;
                        .description {
                            margin: 7px 0;
                            .promo-description(@gray-20);
                            line-height: 130%;
                        }
                        p {
                            .promo-description(@gray-20);
                        }
                        .contact-tabs-date {
                            margin: 7px 0;
                            .promo-details(@gray-20);
                            line-height: 130%;
                        }
                        .contact-tabs-date-insights {
                            color: @gray-20 !important;
                        }
                        .event-type {
                            margin: 7px 0;
                            .promo-details(@gray-20);
                            line-height: 130%;
                        }
                        .secondary-head {
                            .promo-title(@medium-blue);
                            font-weight: normal;
                            width: 95%;
                            text-transform: none;
                            margin: 8px 0;
                            .set-font-size(1.8);
                            p {
                                .promo-title(@kpmg-blue);
                                display:inline;
                            }
                        }
                        .icon {
                            .font-size(1.6);
                            color: @kpmg-blue;
                            position: absolute;
                            top: 0px;
                            right: 0 !important;
                            margin: 10px 0 10px 10px;
                        }


                        .peopleDetails {
                            .promo-description(@gray-20);
                            margin: 7px 0;
                        }
                        .contactFmLink {


                            .contact-btn:focus {
                                box-shadow: 0 0 3px @gray-40;
                                outline: 1px solid @grey-text-transparent;

                                .contact {
                                    text-decoration: underline;
                                }
                            }

                            .contact {
                                .promo-title(@gray-40);
                                cursor:pointer;
                                margin: 1px;
                                &:hover {
                                    text-decoration:underline;
                                }
                            }
                            .pull-left{
                                span:first-child {
                                    vertical-align: text-bottom;
                                    margin: 0 7px 0 0;
                                }
                                .modal-open{
                                    display: inline-table;
                                    margin: 1px;
                                }
                            }
                        }
                    }
                }
                .loadMore {
                    display: none;
                    float: left;
                    width: 100%;
                    text-align: center;
                    margin: 4px 0 6px 0;
                    visibility: hidden;
                    height: 0px;
                    &:hover {
                        .icon-add {
                            color: @light-green;
                        }
                    }
                    .icon-add {
                        color: @light-green;
                        display: none;
                        font-size: 14px;
                    }

                    .component-link:hover {
                        text-decoration: none;
                        .text-link {
                            text-decoration: underline;
                        }
                    }

                    .btn-more:focus {
                        .cta-focus(@gray-40);
                        .text-link {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .sortResults {
        display: table;
        float: left;
        .searchresults-view {
            width: 30%;
            float: right;
            margin-top: 10px;
            .pull-right {
                margin: 10px 0 10px 10px;
            }
            .component-head {
                margin-right: 5px;
                .promo-details(@gray-20);
                margin: 0 10px 0 0;
            }
            .icon-list-view {
                margin-right: 5px;
            }
            .icon-list-view, .icon-tile-view {
                color: @gray-60;
                .set-font-size(1.8);
                cursor: pointer;
            }
            .active {
                color: @light-purple;
                &.focusOutline {
                    box-shadow: 0 0 3px @light-purple;
                    outline: solid @light-purple 1px;
                }
            }
        }

        .sortByContainer {
            display: table-header-group;
            width: 100%;
            float: left;
            margin-bottom: 20px;
            .sortBy {
                float: right;
                background: none repeat scroll 0 0 @white;
                padding: 10px;
                .sortByText {
                    margin: 8px 0;
                    float: left;
                    .promo-details(@gray-20);
                }
                .custom-select {
                    float: left;
                    width: 200px !important;
                    &.focusOutline {
                        box-shadow: 0 0 3px @kpmg-blue;
                        outline: solid @kpmg-blue 1px;
                    }
                }
            }
        }
    }
    .resultFound {
        width: 100%;
        float: none;
        background: none repeat scroll 0 0 @gray-94;
        h3 {
            .promo-details(@gray-20);
            font-weight: normal;
            font-style: italic;
            .font-size(2.0);
            padding: 20px;
        }
        .noDataFound {
            width: 100%;
            float: left;
            display: none;
            p {
                margin-top: 5px;
                margin-left: 22px;
            }
        }
    }
    .zero-results-suggestions {
        margin: 9px;
        text-align: center;
        .suggestions-heading {
            font-family: @kpmgLightEL;
            .set-font-size(3.4);
        }
        .didyoumeanlink {
            color: @medium-blue;
            cursor: pointer;
        }
        .suggestions-wrap {
            width: 100%;
            margin: 30px auto 0;
            padding: 20px;
            background-color: @white;
            border: 1px solid @gray-80;
            p {
                color: @gray-60;
            }
        }
        .suggestions-text {
            margin-bottom: 20px;
        }
    }
}
.modalDialog {
    .modal-content {
        padding: 18px;
        .tertiary-trapezoid-bg {
            height:auto;
            span {
                .line-height(1.5);
                padding-right: 15px;
            }
        }
    }
}

@media (min-width:375px) {
    .module-searchresults {
        .has-nested>.facetsCheckbox.checked {
            width: 88%;
        }
        .facetsCheckbox.checked {
            width: 86%;
        }
    }
}

@media (min-width:414px) {
    .module-searchresults {
        .has-nested>.facetsCheckbox.checked {
            width: 89%;
        }
        .facetsCheckbox.checked {
            width: 86%;
        }
    }
}

@media (min-width:@desktop-min-fixed) {
    .module-searchresults {
        position: relative;

        .facetsCheckbox {
            padding: 2px 0 2px 2px;
        }
        .has-nested>.facetsCheckbox.checked {
            width: 98%;
        }
        .results-header-wrap {
            width: 100%;
            background-color: @gray-87;
        }
        .results-header-inner-wrap {
            padding: 0;
            border-bottom: 9px solid @gray-94;
        }
        .col-md-3 {
            padding: 0px;
        }
    }
    .module-searchresults {
        .facetsContent {
            .facetsGroup {
                .resp-tabs-list {
                    .facetsContainer {
                        .facetsOptions li {
                            .nestedFacets {
                                width: 100%;
                                margin: 10px 0px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .module-searchresults {
        .facetFilters.date {
            .facetsCheckbox {
                margin-top: 2px;
            }
            .facetsContainer {
                .facetsOptions {
                    li{
                        &:last-child {
                            background: none !important;
                        }
                    }
                }
            }
        }
    }
    .module-searchresults .searchinputsContent .search-input {
        display: none;
    }
    .module-searchresults .facetsContent .facetsGroup .resp-tabs-list .facetsContainer .icon-chevron-up,
    .module-searchresults .facetsContent .facetsGroup .resp-tabs-list .facetsContainer .icon-chevron-down {
        .font-size(1.6) !important;
    }
    .module-searchresults .facetsContent .facetsGroup .resp-tabs-list .facetFilters .facetsContainer .facetsOptions li {
        background: none;
    }

    .module-searchresults .facetsContent .facetsGroup .resp-tabs-list .facetFilters.date .facetsContainer .facetsOptions li {
        background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x scroll 0 9px #fff;
    }
    .module-searchresults {
        .form-group {
            margin-bottom: 15px;
        }
    }
    .module-searchresults {
        .facetsContent {
            .facetsGroup {
                .resp-tabs-list {
                    .facetFilters {
                        .component-head {
                            .facetTitle {
                                padding-left: 0px;
                            }
                        }
                    }
                }
            }
        }
        .searchResultsBackbtn {
            display: inline;
        }
        .searchresults-view {
            display: block;
        }
        .search-input-first-option {
            left: 0;
            position: relative;
            float: right;
            width: auto;
            display: inline-block;
        }
        .search-input-second-option {
            left: 0;
            top: 0;
            position: relative;
            float: right;
            width: auto;
            display: inline-block;
        }
        .component-link:hover {
            text-decoration: none;
            cursor: pointer;
        }
        padding: 0;

        .searchCell2 {
            .col-md-12 {
                padding: 0 9px;
            }
        }
        .desktopContainer{
            margin-bottom: 0 !important;
        }

        .facetsCheckbox {
            background: url("/etc/designs/kpmgpublic/images/checkbox-uncheck.gif") no-repeat;
            &:hover {
                background: url("/etc/designs/kpmgpublic/images/checkbox-uncheck-hover.gif") no-repeat;
            }
        }

        .facetsCheckbox.checked {
            background: url("/etc/designs/kpmgpublic/images/checkbox-check.gif") no-repeat;
            width: 98%;
            float: none;
            &:hover {
                background: url("/etc/designs/kpmgpublic/images/checkbox-check-hover.gif") no-repeat;
            }
        }

        .facetsCheckbox.focusOutline {
            box-shadow: none;
            outline: none;
            background: url("/etc/designs/kpmgpublic/images/checkbox-uncheck-hover.gif") no-repeat;
        }

        .facetsCheckbox.checked.focusOutline {
            box-shadow: none;
            outline: none;
            background: url("/etc/designs/kpmgpublic/images/checkbox-check-hover.gif") no-repeat;
        }
        .facets-results-container {
            margin: 0 auto;
            border-top: 0;
            width: 100%;

            .facets-inner-wrap {
                background-color: @gray-94;
            }

            .facets-container {
                padding: 0;
            }
            .resultsListingcontainer {
                .resultsContainer {
                    background: transparent;
                }
            }
        }

        .resultsContainer {
            float:left;
            width: 100%;
        }

        .searchinputsContent {
            padding: 0 10px;
            background: @gray-87;
            margin: 0 auto;
            float: none;
            width: 100%;
            .form-group {
                display: inline;

            }
            .back-btn-container {
                display: none;
            }

            .search-container {
                display: block;
                width: 100%;
                .col-md-9 {
                    height: auto;
                }
                .col-md-3 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
            .radio-container{
                padding-right:0;
            }
            .radio-btns {
                position: relative;
                display: inline-block;
                text-align: left;
                width: 100%;
                .promo-details(@gray-20);
            }
            .radio-btns .broaden-search {
                display: inline;
                color: @kpmg-blue;
            }
            .radio-btns input {
                opacity: 0;
            }
            .all-sites-block, .this-site-block { display: inline-block;}
            .radio-btns {
                .right-blk-head{
                    padding-right:0;
                }
                .form-group {
                    width:100%;
                    color:@gray-20;
                    display: inline-block;
                    margin: 0;
                    input[type="radio"]{
                        margin: 0;
                    }
                    input[type="radio"] + label {
                        text-align:left;
                        vertical-align:top;
                        .promo-details(@gray-20);
                        padding-top:2px;
                        padding-left: 25px;
                        margin: 13px;
                    }
                }
            }
        }
        .facetsContent {
            padding: 10px 10px 0 10px;
            .icon-chevron-right {
                display: none;
            }
            .facetsTitle {
                display: none;
                .cancelFilter, .applyFilter {
                    display: none;
                    .set-font-size(1.8);
                }
                .secondary-head {
                    .promo-title(@medium-blue);
                    width: 100%;
                    background: none;
                    text-align: left;
                    font-weight: normal;
                    text-transform: none;
                    margin: 8px 0;
                }
            }
            .clearAll {
                text-align: left;
                padding-left: 0px;
                padding-top: 9px;
                padding-bottom: 20px;
                border-bottom: 1px solid @gray-60;
            }
            .facetsGroup {
                .resp-tabs-list {
                    .facetFilters {
                        margin: 0;
                        width: 100%;
                        padding-bottom: 20px;
                        border-bottom: 1px solid @gray-60;
                        &.more-facets-group {
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        .component-head {
                            background: none;
                            padding: 0;
                            color: @kpmg-blue;
                            margin-top: 10px;
                            text-transform: none;
                            .icon-chevron-up {
                                display: none;
                            }
                            margin-bottom: 10px;
                            .facetTitle{
                                .set-font-size(1.6);
                                margin: 7px 0;
                            }
                        }
                        .facetsContainer {
                            .facetsOptions li {
                                padding: 0;
                                border-bottom: none;
                                input {
                                    display: block;
                                    opacity: 0;
                                }
                                .mblCheckmark {
                                    display: none;
                                }
                            }
                        }
                        .moreFacets {
                            padding: 0;
                            .promo-title(@gray-40);
                        }
                    }
                    .dottedLine {
                        border-bottom: 1px dashed @light-blue;
                        display: none;
                        width: 100%;
                        top: 5px;
                        position: absolute;
                    }
                    .date, .Date, .DATE {
                        .facetsOptions {
                            .GT5Facets {
                                display: block !important;

                            }
                            .LT5Facets {
                                .facetName {
                                    position: relative !important;
                                    left: -4px !important;
                                    text-align: left !important;
                                    width: 50px !important;
                                    line-height: 120%;
                                }
                            }
                            .GT5Facets {
                                .facetName {
                                    position: relative !important;
                                    left: -4px !important;
                                    text-align: left !important;
                                    width: 50px !important;
                                    line-height: 120%;
                                }
                            }
                        }
                        .facetsOptions li {
                            background: url(/etc/designs/kpmgpublic/images/dots.png) repeat-x scroll 0px 9px #ffffff;
                            width: 25% !important;
                            .facetName {
                                margin-top: 5px !important;
                                clear: both;
                                span{
                                    display:block;
                                    margin-left: -2px;
                                }
                            }
                        }

                        .facetsOptions li:last-child {
                            background: none;
                        }
                        .moreFacets {
                            display: none;
                        }
                    }
                }
            }
        }
        .tabsContainer {
            display: block;
            padding: 0 17px;
            margin-bottom: 0;
        }
        .resultslistingContent {
            .resultsContainer {
                background: transparent;

                .resultsListContainer {
                    .desktopContainer {
                        .imgContainer {
                            width: 30%;
                        }
                        .textContainer {
                            margin-top: 0;
                            width: 70%;
                            padding-left: 10px;
                            min-height: 163px;
                            .icon {
                                top: 0px;
                                right: 0 !important;
                                margin: 10px 0 10px 10px;
                            }
                            .contactFmLink {
                                .cta-space {
                                    margin-bottom: 12px;
                                }
                            }
                        }
                    }
                    .mobileContainer {
                        .imgContainer {
                            width: 100%;
                        }
                        .textContainer {
                            width: 100%;
                            padding-left: 0;
                            min-height: 280px;
                            .icon {
                                top: 0px;
                                right: 0 !important;
                                margin: 10px 0 10px 10px;
                            }
                        }
                    }
                    .loadMore {
                        .icon-add {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .sortResults {
            padding: 10px 10px 10px 10px;
            display:block;

            .sortByContainer {
                margin-bottom: 0;

                .sortBy {
                    background: none repeat scroll 0 0 transparent;
                    padding: 0;
                    position: relative;
                    right: -20px;
                    .sortByText {
                        display: none;
                    }
                    .custom-select {
                        background: @white url("/etc/designs/kpmgpublic/images/select-dropdown.png") no-repeat 100% 50%;
                        width: 75%;
                        margin: 10px 20px 10px 0;
                        background-size:contain;
                    }
                }
            }
        }
        .resultFound {
            h3 {
                padding: 15px 0;
                line-height: 1;
                margin: 0;
            }

            .noDataFound {
                width: 100%;
                float: left;
                p {
                    margin-top: 10px !important;
                    margin-left: 0 !important;
                }
            }

        }

    }
}

@media (min-width: @desktop-min-fluid) {
    .module-searchresults {
        padding: 0;


        .typeahead-elem {
            top: 24%;
        }

        .resultsListingcontainer {
            .resultsContainer {
                background: transparent;
            }
        }
        .resultsContainer {
            float:left;
            width: 100%;
        }

        .facets-results-container {
            .facets-container{
                display:table-cell;
                background:transparent;
            }
        }

        .sortByContainer {
            .sortBy {
                background: none repeat scroll 0 0 transparent;
                padding: 0;
            }
        }

        .resultFound {
            background: none repeat scroll 0 0 transparent;

            h3 {
                padding: 15px 0;
            }
        }

        .searchCell2 {
            .col-md-12 {
                padding: 0 9px;
            }
        }

        .col-md-3 {
            padding: 0px;
        }

        .radio-btns {
            .left-blk-head{
                width:36%;
                text-align:left;
            }
            .right-blk-head{
                width:64%;
                text-align:right;
            }
            .form-group {
                color:@gray-20;
                display: inline-block;
                margin-top: 0;
                text-align: right;
            }
        }
        .zero-results-suggestions {
            .suggestions-wrap {
                width: 600px;
            }
        }
    }
}

@media (max-width: 640px) {
    .modalDialog {
        .modal-content {
            .modalBodyRight {
                padding-top: 15px;
            }
        }
    }
    .module-searchresults {
        .sortResults {
            width: 100%;

            .sortByContainer {
                margin-bottom: 0;
                .sortBy {
                    padding: 0;
                    width: 100%;
                    padding-left: 30px;
                    background-color: @gray-87;
                    .custom-select{
                        width: 100% !important;
                    }
                }
            }
            .sortByText {
                display: none;
            }
        }
        .resultFound {
            display: block;
            h3 {
                padding-top: 0;
                padding: 5px 10px 15px 30px;
                background-color: @gray-87;
            }
        }
        .search-radio-form-group {
            height: 53px;
        }
        .searchinputsContent .radio-btns {
            width: 100%;
            display: none;
        }
        .searchinputsContent {
            background-color: @gray-87;
        }
        .form-group {
            margin: 0;
        }
        .facets-inner-wrap {
            display: none;
        }
        .btn-more {
            display: block;
            text-align: center;
            background-color: @persian-green;
            color: @white;
            padding: 10px;
        }
        .sortOptions{
            font-size:16px;
        }
    }
}

@media only screen and (min-width: 641px) {
    .module-searchresults .facets-results-container .facets-container {
        display: table-cell;
    }
}

@media (min-width: 1140px) {
    .module-searchresults {
        .searchinputsContent,
        .facets-results-container {
            width: 1100px;
        }
    }
}
