@import "../../../../../../../global/css/_variables";

.mobile-nav-user-profile-tab-content-component{
    position: absolute;
    top: 57px;
    width: 100%;
    left:0;
    z-index: 201;
    background: @white;
    ul{
        margin:0 !important;
        li.sub-list-item-component{
            a.sub-list-item-component-text-color{
                background: @white !important;
                border: 1px solid @gray-60 !important;
                border-bottom: 0px !important;
            }
        }
    }
    .collapse-cancel-trigger-component{
        background: @white;
        font-weight: 700;
        border: 1px solid @gray-60 !important;
        margin-bottom: 0 !important;
        font-size: 1.6rem;
    }
}
