<div class="move-article-overlay movearticle clearfix">
    <div class="overlay-header" role="header">
                <h1 class="heading" id="myModalLabel">
                    {{#if hbs.moveArticle}}
                        {{hbs.moveArticle.movearticle}}
                    {{else}}
                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.movearticle"}}
                    {{/if}}
                </h1>
                 <p class="description mobile-only" id="description">
                    {{#if hbs.moveArticle}}
                        {{hbs.moveArticle.instrutiontext}}
                    {{else}}
                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.instrutiontext"}}
                    {{/if}}
                </p>
                <h2 class="article-title mobile-only"></h2>
            </div>
            <div class="overlay-content" role="main">
                <div class="row-same-height row-full-height " role="row">
                    <div class="col-md-6 col-md-height col-full-height col-top overlay-columns">
                        <section aria-describedby="savetolibrary" class="overlay-column" tabindex="0">
                            <input type="hidden" id="alreadysavedmessage" value="
                            {{#if hbs.moveArticle}}
                                {{hbs.moveArticle.alreadysaved}}
                            {{else}}
                                {{i18n 'kpmg.personalization.library.addtolibraryoverlay.alreadysaved'}}
                            {{/if}}
                            ">
                            <div class="row alert-container hidden" id="moveArticleError">
                                <div class="alert alert-error listnameexists" role="alert">
                                    {{#if hbs.moveArticle}}
                                        {{hbs.moveArticle.alreadysavedarticle}}
                                    {{else}}
                                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.alreadysavedarticle"}}
                                    {{/if}}
                                </div>
                                <div class="alert alert-error alreadysaved" role="alert">
                                    {{#if hbs.moveArticle}}
                                        {{hbs.moveArticle.alreadysavedarticle}}
                                    {{else}}
                                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.alreadysavedarticle"}}
                                    {{/if}}
                                    <span></span>
                                </div>
                            </div>
                            <div class="row desktop-only row-last">
                                <div class="col-md-12 article-container">
                                    <article class="article" id="moveArticlePreview">
                                        <img alt="" class="article-image" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 158'%2F%3E">
                                            <div class="article-body">
                                                <h2 class="article-title line-clamp line-clamp-1">
                                                </h2>
                                                <p class="article-description line-clamp line-clamp-3">
                                                </p>
                                            </div>
                                        </img>
                                    </article>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-height col-full-height col-top overlay-columns last-column">
                        <section aria-describedby="chooselist" class="overlay-column" tabindex="0">
                            <div class="row column-header" role="columnheader">
                                <div class="col-md-12">
                                    <div class="choose-list " id="chooselist">
                                        {{#if hbs.moveArticle}}
                                            {{hbs.moveArticle.choosealist}}
                                        {{else}}
                                            {{i18n "kpmg.personalization.library.addtolibraryoverlay.choosealist"}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="save-to-list-section">
                                <div class="search-container">
                                    <div class="search-input desktop-only">
                                        <div class="form-group">
                                            <label class="sr-only" for="moveArticleSearch">
                                                {{#if hbs.moveArticle}}
                                                    {{hbs.moveArticle.searchLabel}}
                                                {{else}}
                                                    {{i18n "kpmg.personalization.public.list.sharelist.searchLabel"}}
                                                {{/if}}
                                            </label>
                                            <input class="search" id="moveArticleSearch" name="search" placeholder="
                                            {{#if hbs.moveArticle}}
                                                    {{hbs.moveArticle.searchLibList}}
                                            {{else}}
                                                {{i18n 'kpmg.personalization.public.list.sharelist.searchLibList'}}
                                            {{/if}}
                                            " type="text"/>
                                            <button class="submitSearch" title="search" type="submit" value="Submit">
                                                <span class="icon-search">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="search-list mobile-only">
                                        <div class="form-group custom-select">
                                            <label class="sr-only" for="moveArticleLibrarylistdropdown">
                                            </label>
                                            <select class="form-control full-width" id="moveArticleLibrarylistdropdown" name="librarylist">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-container desktop-only">
                                    <ul class="list" id="moveArticleLibrarylist" role="list">
                                    </ul>
                                </div>
                                <div class="new-list-controls">
                                    <a class="btn-cta btn-newlist" href="#" id="moveArticleNewlistbtn" tabindex="0">
                                        <span class="icon-add">
                                        </span>
                                        {{#if hbs.moveArticle}}
                                            {{hbs.moveArticle.createalist}}
                                        {{else}}
                                            {{i18n "kpmg.personalization.library.addtolibraryoverlay.createalist"}}
                                        {{/if}}
                                    </a>
                                    <form action="" aria-hidden="true" class="form-createlist" role="form">
                                        <div class="form-group">
                                            <span class="error mobile-only" id="inputerror" aria-hidden="true">
                                                <span class="listnameexists " >
                                                    {{#if hbs.moveArticle}}
                                                        {{hbs.moveArticle.thatNameIsTaken}}
                                                    {{else}}
                                                        {{i18n "kpmg.personalization.library.listmanagement.thatNameIsTaken"}}
                                                    {{/if}}
                                                </span>
                                                <span class="empty " >
                                                    {{#if hbs.moveArticle}}
                                                        {{hbs.moveArticle.empty}}
                                                    {{else}}
                                                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.empty"}}
                                                    {{/if}}
                                                </span>
                                            </span>
                                            <label class="sr-only" for="moveArticleNewlist">
                                                {{#if hbs.moveArticle}}
                                                    {{hbs.moveArticle.createalist}}
                                                {{else}}
                                                    {{i18n "kpmg.personalization.library.addtolibraryoverlay.createalist"}}
                                                {{/if}}
                                            </label>
                                            <input class="" id="moveArticleNewlist" placeholder="
                                            {{#if hbs.moveArticle}}
                                                {{hbs.moveArticle.enternewlist}}
                                            {{else}}
                                                {{i18n 'kpmg.personalization.library.movetolibraryoverlay.enternewlist'}}
                                            {{/if}}
                                            " type="text" aria-labelledby="">
                                            </input>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a class="btn-cta btn-cancel" href="#" id="moveArticleCancelcreate" tabindex="0" type="cancel">
                                                    <span class="icon-close">
                                                    </span>
                                                    {{#if hbs.moveArticle}}
                                                        {{hbs.moveArticle.addtolibraryoverlayCancel}}
                                                    {{else}}
                                                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.cancel"}}
                                                    {{/if}}
                                                </a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="btn-cta createListBtn trackable" href=#"" id="moveArticleCreatelist" tabindex="0" type="submit">
                                                    <span class="icon-chevron-right">
                                                    </span>
                                                    {{#if hbs.moveArticle}}
                                                        {{hbs.moveArticle.createalist}}
                                                    {{else}}
                                                        {{i18n "kpmg.personalization.library.addtolibraryoverlay.createalist"}}
                                                    {{/if}}
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="overlay-footer" role="footer">
                    <div class="row-same-height row-full-height " role="row">
                        <div class="col-md-6 last-column col-md-push-6">
                            <div class="overlay-controls">
                                <button class="btn btn-cta btn-default" id="moveArticleSavetolist" type="button">
                                    <span class="icon-chevron-right">
                                    </span>
                                    {{#if hbs.moveArticle}}
                                        {{hbs.moveArticle.move}}
                                    {{else}}
                                        {{i18n "kpmg.personalization.library.librarylist.move"}}
                                    {{/if}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="overlay-controls">
                                <a class="btn-cta btn-cancel" href="#" id="moveArticleCancelaction" data-dismiss="modal">
                                    <span class="icon-close">
                                    </span>
                                    {{#if hbs.moveArticle}}
                                        {{hbs.moveArticle.cancel}}
                                    {{else}}
                                        {{i18n "kpmg.personalization.library.librarylist.cancel"}}
                                    {{/if}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                <span class="icon-chevron-right"></span>
                {{#if hbs.moveArticle}}
                    {{hbs.moveArticle.successDescription}}
                {{else}}
                    {{i18n "kpmg.personalization.library.listmanagement.successDescription"}}
                {{/if}}
            </div>
          </div>