@import "../../global/css/_variables.less";
@mobile: ~"only screen and (max-width: 640px)";
.module-registrationpagetitle {
    background-color: @gray-94;
}

.parent-container{
    position:relative;
}
.stepCounterContainer{
    position:absolute;
    width:38%;
    right:0px;
    /*padding:10px;*/
    padding-right:16px;
    .stepCounter{
        width:100%; 
        /*padding:8px;*/
        top: 55px;
        position: relative;
        .allStepCounters{
            display: flex;
            justify-content: space-between;
            font-size:55px;
            height:auto;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 4px;
                border-top: 4px solid @persian-green;
                background: @persian-green;
                width: 97%;
                transform: translateY(-50%);
            }
            .counterIcons{
                z-index: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
}

.withTwoCounter{
    .stepCounterContainer{
        width:23%;
    }
    .reg-container{
        width:75%;
    }
}

.hideBlock{
    display: none;
}
.fontColorWhite{
    color: @white !important;
}
.fontColorPersianGreen{
    color: @persian-green !important;  
}
.white-background{
    background-color:@white;
}
.cursor-pointer{
    cursor: pointer;
}

.reg-section {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: -2px;
    img {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 200px;
    }
}
.bread-crumb {
    height: 15px;
    padding: 10px 0px 14px;
    span {
        font-size: 12px;
        font-family: "Arial";
        text-align: left;
        line-height: 1.667;
    }
}
.reg-container {
    position: absolute;
    width:60%;
    left:0;
    padding-left: 18px;
    top: 25px;
    .reg-title {
        font-family: 'KPMG Light';
        color: @persian-green;
        .set-font-size(5.6);
        font-weight: normal;
        line-height: 1.2;
        text-align: left;
        outline: none;
    }
    .reg-desc {
      .set-font-size(1.8);
      font-family: "Arial";
      color: @persian-green;
      text-align: left;
      line-height: 1.25;
    }
}
@media (min-width: @desktop-min-fixed) {
    .reg-component {
        margin: 0px 0px 9px 0px !important;
        padding: 0px;
        .reg-container {
            .reg-title {
                &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi){
                    .font-size(3.8);
                    line-height: 1.3;
                }
            }
            .reg-desc {
                &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                    line-height: 1.3;
                }
            }
        }
    }
}
@media @mobile {
    .reg-component {
        margin: 0px 0px 9px 0px !important;
        padding: 0px;
    }
    .reg-section {
        /*background-color: @medium-blue;*/
        border-left:0px;
        height: auto;
        img {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 340px;
        }
    }
    .reg-container {
        background-color: @medium-blue;
        position: static;
        padding: 0 10px 10px 10px;
        width: 100% !important;
        .reg-title {
            color: @white !important;
            font-size: 36px;
            width: 100%;
            padding-top: 10px;
        }
        .reg-desc {
            color: @white !important;
            font-size: 14px;
            line-height: 1.286;
            width: auto;
            text-align: justify;
        }
    }
    .stepCounterContainer{
        position:relative;
        width:100%;
        min-height:82px;
        .stepCounter{
            top: 20px;
            background-color: @white;
            min-height:50px;
            width:67%;
            left: calc(18%);
            .allStepCounters{
                font-size: 44px;
                &:before {
                    top: 46%;
                    width: 90%;
                }
            }
        }
    }    
    .withTwoCounter{
        .stepCounterContainer{
            width:100%;
            .stepCounter{
                width:43%;
                left: calc(30%);
            }
        }
    }
}

// IE specific effect solution for step counter
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .stepCounterContainer{
        .stepCounter{
            .firstChild{
                margin: 0 auto 0 0;
            }
            .lastChild{
                margin: 0 0 0 auto;
            }
        }
    }
}