{{#each results}}
<a href="{{#if  translatedCTAURL}} {{translatedCTAURL}} {{else}} {{CTALink}} {{/if}}" title="{{shortTitle}}">
    <div class="articlecarousel-item" data-slideno="{{@index}}">
        <div class="articlecarousel-item-row">
            <div class="col-md-6 col-xs-6">
                {{#if this.imageGalleryConfigExists}}
                <div data-picture data-alt='{{imageAltText}}'>
                    {{#this.imageGalleryConfig}}
                    <div data-src="{{../../assetDomainName}}{{../imageFileReference}}/jcr:content/renditions/cq5dam.web.{{this.width}}.{{this.height}}.jpg" data-media="(min-width: {{this.dwidth}}px)"></div>
                    {{#if @last}}
                    <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 {{this.width}} {{this.height}}'%2F%3E" alt="{{imageAltText}}" />
                    {{/if}}
                    {{/this.imageGalleryConfig}}

                </div>
                {{else}}
                <img class="img-responsive lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 237 237'%2F%3E" data-desktop="{{../assetDomainName}}{{imageFileReference}}/jcr:content/renditions/cq5dam.web.237.237.jpg" data-mobile="{{../assetDomainName}}{{imageFileReference}}/jcr:content/renditions/cq5dam.web.237.237.jpg" alt="{{imageAltText}}" />
                {{/if}}
            </div>
            <div class="articlecarousel-item-description">
                {{#if shortTitle}}
                <p class="articlecarousel-title">
                    <span class="articlecarousel-item-description-title"> {{shortTitle}}</span>
                </p>
                {{/if}}
                <p class="articlecarousel-desc">
                    <span class="articlecarousel-item-partnerDescription"> {{contactFirstName}} {{contactLastName}} {{contactCountry}} </span>
                </p>
                {{#if publishedDate}}
                <p class="articlecarousel-desc-date">
                    <span class="articlecarousel-item-partnerDescription">{{publishedDate}}</span>
                </p>
                {{/if}}
                <div class="articlecarousel-item-partnerDescription">{{shortDescription}}</div>
            </div>
        </div>
    </div>
</a>
{{/each}}
