@import "../../global/css/_variables.less";

.module-touch-trifectabanner {
    padding: 0px;

    .trifecta-row {

        .trifecta-line-clamp {
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .banner-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            opacity: 0.75;
            transition: .5s ease;
            background-color: @gray-20;
        }
        .banner-text {
            color: @white;
            font-family: @kpmgLight;
        }
    }

    .main-feature-blog {
        cursor: pointer;
        width: 62.7%;

        .dashboard-banner-cta {
            margin-right: 5px;
        }

        .trifecta-line-clamp {
            max-height: 13.4rem;
        }

        .main-overlay {
            border-right: 5px solid @white;
            padding: 18px;
        }
        .main-overlay-text {
            font-size: 72.635px;
            line-height: 0.892;
            margin: 0;
            &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                font-size: 48px;
                line-height: 1.3;
            }
        }

        .main-feature-img {
            // Animation effect
            transition: transform .4s; /* Animation */
            &:hover{
                transform: scale(1.03);
            }
        }
    }

    .second-feature-blog {
        width: 37.5%;

        .trifecta-line-clamp {
            max-height: 10.4rem;
        }

        .second-feature-img {
            // Animation effect
            transition: transform .4s; /* Animation */
            &:hover{
                transform: scale(1.03);
            }
        }
        .second-blog {
            margin-bottom: 5px;
        }
        .secondary-overlay {
            padding: 18px;
        }

        .secondary-overlay-text {
            font-size: 52px;
            line-height: 0.946;
            margin: 0;
            &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                font-size: 38px;
                line-height: 1.3;
            }
        }
    }

    .dashboard-banner-cta {
        display: block;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            outline: solid 1px @gray-80;
        }
    }
}


// mobile related styles
@media only screen and (max-width: 640px) {
    .module-touch-trifectabanner {
        .main-feature-blog {
            width: 100%;
            border-bottom: 5px solid @white;

            .main-overlay {
                border-right: 0px;
                opacity: .75;
                padding: 0 10px 10px;

                .main-overlay-text {
                    font-size: 47px;
                    &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                        font-size: 28px;
                        line-height: 1.3;
                    }
                }
            }
            .main-feature-img {
                height: auto;
            }
            .dashboard-banner-cta {
                margin-right: 0px;
            }
        }
        .second-feature-blog {
            width: 100%;
            .secondary-overlay {
                opacity: .75;
                padding: 0 10px 10px;

                .secondary-overlay-text {
                    font-size: 38px;
                    line-height: 1.108;
                    &:lang(ja), &:lang(zh), &:lang(ko), &:lang(vi) {
                        font-size: 18px;
                        line-height: 1.3;
                    }
                }
            }
            .second-feature-img {
                height: auto;
            }
        }
    }
}
