@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?an7orn');
    src:    url('../../fonts/icomoon.eot?an7orn#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?an7orn') format('truetype'),
        url('../../fonts/icomoon.woff?an7orn') format('woff'),
        url('../../fonts/icomoon.svg?an7orn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "KPMG Light";
  src: url('../../fonts/KPMG-Light.eot');
  src: url('../../fonts/KPMG-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/KPMG-Light.woff2') format('woff2'),
    url('../../fonts/KPMG-Light.woff') format('woff'),
    url('../../fonts/KPMG-Light.ttf') format('truetype'),
    url('../../fonts/KPMG-Light.svg#KPMG-Light') format('svg');
}

@font-face {
  font-family: "KPMG Greek Light";
  src: url('../../fonts/el/KPMG-Greek-Light.eot');
  src: url('../../fonts/el/KPMG-Greek-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/el/KPMG-Greek-Light.woff2') format('woff2'),
    url('../../fonts/el/KPMG-Greek-Light.woff') format('woff'),
    url('../../fonts/el/KPMG-Greek-Light.ttf') format('truetype'),
    url('../../fonts/el/KPMG-Greek-Light.svg#KPMG-Greek-Light') format('svg');
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP Light"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK KR Light"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK KR"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK SC Light"),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK SC"),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK TC Light"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK TC"),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}

@font-face {
  font-family: "Noto Sans VI";
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'),
    local('NotoSans'),
    url(//fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-h4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2'),
    url(//fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-h7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
    url(//fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-hyZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: "Noto Sans VI";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"),
      url(//fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format('woff2'),
      url(//fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-h7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
      url(//fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-hyZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}